<ion-view title="Companies Act 2013" style="background-color: #E4E2E1">

    <ion-nav-buttons side="primary">
        <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/chapters"></a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
        <button class="button  button-clear no-animation icon icon-right ion-android-more-vertical" ng-click="show()"></button>
    </ion-nav-buttons>

    <div class="bar bar-subheader bar-dark">
        <h2 class="title">SECTIONS</h2>
    </div>

    <ion-content class="padding has-subheader chapters">
        <div class="list">
            <a class="item item-thumbnail-left item-text-wrap" href="#">
                <img src="../img/chapters.png">
                <h2>Section 1</h2>
                <p>short title, extent, commencement and application</p>
            </a>

            <a class="item item-thumbnail-left item-text-wrap" href="#">
                <img src="../img/chapters.png">
                <h2>Section 2</h2>
                <p>Definitions</p>
            </a>


        </div>

        <!--<center>
            <div ng-controller="finalctrl">
                <p id="section"></p>
            </div>
        </center>-->

    </ion-content>
</ion-view>