
<!-- <script src="js/methods.js"></script>  -->
<ion-view title="Companies Act 2013" style="background-color: #E4E2E1">
  <ion-content>
    <!-- <a class="button button-assertive" href="#/verification">Submit by href</a> -->
    <!-- <a class="button button-assertive" ng-click="sub()">Submit by method call</a> -->
    <center>
    <div ng-controller="finalctrl">
            <h4>Welcome to Companies Act 2013</h4>
            <h4>Please enter your e-mail id to complete the registration process.</h4>
            <div class="list list-inset" >
             <label class="item item-input item-input-wrapper">
             <input type="email" placeholder="E-Mail"/>
              </label>
            </div> 

            <a class="button button-assertive" ng-click="verifyOtp()">Submit</a>
            <a class="button button-royal" ng-click="showDemoXml()">demoXml</a>
            <a class="button button-balanced" ng-click="showDemoXmlFinal()">demoXmlFinal</a>
           <!--  <a class="button button-assertive" href="#/verification">Submit</a>
             <a class="button button-royal" ng-click="sub()">Test Alert</a>
             <a class="button button-balanced" ng-click="sub1()">Test action sheet</a> -->
             </div>
    </center>
  </ion-content>
</ion-view>