<ion-view title="Companies Act 2013" style="background-color: #E4E2E1">


    <ion-nav-buttons side="right">
        <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
        <button class="button  button-clear no-animation icon icon-right ion-android-more-vertical" ng-click="show()"></button>
    </ion-nav-buttons>

    <ion-content>
        <div ng-controller="finalctrl" class="main-menu">

            <a ng-click="showChapters()"><img src="../img/chapters.png" alt="Chapters" /></a>
            <a ng-click="showCirculars()"><img src="../img/circulars.png" alt="Circulars" /></a>
            <br>

            <a ng-click="showNotifications()"><img src="../img/notifications.png" alt="Notifications" /></a>
            <a ng-click="showSchedules()"><img src="../img/schedule.png" alt="Schedules" /></a>
            <br>

            <a ng-click="showRules()"><img src="../img/Rules.png" alt="Rules" /></a>
            <a ng-click="showOrders()"><img src="../img/Order.png" alt="Orders" /></a>
            <br>
            <a ng-click="showSS()"><img src="../img/standards.png" alt="Standards" /></a>
            <a ng-click="showWhatsNew()"><img src="../img/whatsnew.png" alt="WhatsNew" /></a>
            <br>
            <a ng-click="showOldVsNew()"><img src="../img/oldvsnew.png" alt="OldVsNew" /></a>
            <!--      <a class="button button-assertive"  href="#/">submit</a>-->

            <!--<button class="button button-assertive" ng-click="showChapters()"><i class="ion-ios-book" style="font-size: 38px; vertical-align: middle"></i><br>Chapters</button> 
    <button class="button button-assertive" ng-click="showCirculars()"><i class="ion-ios-paper" style="font-size: 38px; vertical-align: middle"></i><br>Circulars</button> 
    <br><br>
        
    <button class="button button-assertive" ng-click="showNotifications()"><i class="ion-ios-bell" style="font-size: 38px; vertical-align: middle"></i><br>Notifications</button>
    <button class="button button-assertive" ng-click="showSchedules()"><i class="ion-ios-checkmark" style="font-size: 38px; vertical-align: middle"></i><br>Schedule</button>
    <br><br>
    <button class="button button-assertive" ng-click="showRules()"><i class="ion-ios-list" style="font-size: 38px; vertical-align: middle"></i><br>Rules</button>
    <button class="button button-assertive" ng-click="showOrders()"><i class="ion-hammer" style="font-size: 38px; vertical-align: middle"></i><br>Order</button>
    <br><br>
    <button class="button button-assertive" ng-click="showSS()"><i class="ion-star" style="font-size: 38px; vertical-align: middle"></i><br>Secretarial standards</button>
    <button class="button button-assertive" ng-click="showWhatsNew()"><i class="ion-ios-color-wand" style="font-size: 38px; vertical-align: middle"></i><br>What's new</button>
    <br><br>
    <button class="button button-assertive" ng-click="showOldVsNew()"><i class="ion-ios-shuffle-strong" style="font-size: 38px; vertical-align: middle"></i><br>Old Vs. New</button>-->
        </div>
        </center>
    </ion-content>
</ion-view>