<ion-view title="Companies Act 2013" style="background-color: #E4E2E1">

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/main">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons> 

  <div class="bar bar-subheader bar-dark">
  <h2 class="title">WHAT'S NEW</h2>
</div>   
    
    
  <ion-content>
  <center>
      <br><br>
    <div ng-controller="finalctrl">
        <p id="whatsnew" ng-click="openWhatsNew()"></p>
      </div>
   </center>
  </ion-content>
</ion-view>