p {
  color: #000; }

.left {
  float: left; }

.right {
  float: right; }

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.block-center {
  text-align: center;
  margin: 0 auto; }

/* +++++++++++++++++ Bg color Background color +++++++++++++ */
.bg-white {
  background: #fff; }

.bg-transparent {
  background: transparent; }

.bg-initial {
  background: initial; }

.bg-inherit {
  background: inherit; }

.bg-image-none {
  background-image: none; }

.bg-image-initial {
  background-image: initial; }

.bg-image-inherit {
  background-image: inherit; }

.bg-repeat {
  background-repeat: repeat; }

.bg-repeat-x {
  background-repeat: repeat-x; }

.bg-repeat-y {
  background-repeat: repeat-y; }

.bg-repeat-no {
  background-repeat: no-repeat; }

.bg-repeat-initial {
  background-repeat: initial; }

.bg-repeat-inherit {
  background-repeat: inherit; }

.bg-attachment-fixed {
  background-attachment: fixed; }

.bg-attachment-scroll {
  background-attachment: scroll; }

.bg-attachment-local {
  background-attachment: local; }

.bg-attachment-initial {
  background-attachment: initial; }

.bg-attachment-inherit {
  background-attachment: inherit; }

.bg-position-LT {
  background-position: left top; }

.bg-position-LC {
  background-position: left center; }

.bg-position-LB {
  background-position: left bottom; }

.bg-position-RT {
  background-position: right top; }

.bg-position-RC {
  background-position: right center; }

.bg-position-RB {
  background-position: right bottom; }

.bg-position-CT {
  background-position: center top; }

.bg-position-CC {
  background-position: center center; }

.bg-position-CB {
  background-position: center bottom; }

.bg-position-initial {
  background-position: initial; }

.bg-position-inherit {
  background-position: inherit; }

.bg-origin-paddingbox {
  background-origin: padding-box; }

.bg-origin-contentbox {
  background-origin: content-box; }

.bg-origin-borderbox {
  background-origin: border-box; }

.bg-origin-initial {
  background-origin: initial; }

.bg-origin-inherit {
  background-origin: inherit; }

.bg-size-auto {
  background-size: auto; }

.bg-size-cover {
  background-size: cover; }

.bg-size-contain {
  background-size: contain; }

.bg-size-initial {
  background-size: initial; }

.bg-size-inherit {
  background-size: inherit; }

/* ++++++++++++++++++++++ Border Style +++++++++++++++++++++++++++++++*/
.border-dotted {
  border-style: dotted; }

.border-dashed {
  border-style: dashed; }

.border-solid {
  border-style: solid; }

.border-double {
  border-style: double; }

.border-groove {
  border-style: groove; }

.border-ridge {
  border-style: ridge; }

.border-inset {
  border-style: inset; }

.border-outset {
  border-style: outset; }

.border-none {
  border-style: none; }

.border-hidden {
  border-style: hidden; }

.border-thin {
  border-width: thin; }

.border-medium {
  border-width: medium; }

.border-thick {
  border-width: thick; }

.border-red {
  border-color: red; }

.border-black {
  border-color: black; }

/* +++++++++++++++++++++++ margin Style ++++++++++++++++++++++++++++++ */
.margin-0 {
  margin: 0px; }

.margin-5 {
  margin: 5px; }

.margin-10 {
  margin: 10px; }

.margin-15 {
  margin: 15px; }

.margin-20 {
  margin: 20px; }

.margin-25 {
  margin: 25px; }

.margin-30 {
  margin: 30px; }

.margin-35 {
  margin: 35px; }

.margin-40 {
  margin: 40px; }

.margin-45 {
  margin: 45px; }

.margin-50 {
  margin: 50px; }

.margin-t-0 {
  margin-top: 0px; }

.margin-t-5 {
  margin-top: 5px; }

.margin-t-10 {
  margin-top: 10px; }

.margin-t-15 {
  margin-top: 15px; }

.margin-t-20 {
  margin-top: 20px; }

.margin-t-25 {
  margin-top: 25px; }

.margin-t-30 {
  margin-top: 30px; }

.margin-t-35 {
  margin-top: 35px; }

.margin-t-40 {
  margin-top: 40px; }

.margin-t-45 {
  margin-top: 45px; }

.margin-t-50 {
  margin-top: 50px; }

.margin-l-0 {
  margin-left: 0px; }

.margin-l-5 {
  margin-left: 5px; }

.margin-l-10 {
  margin-left: 10px; }

.margin-l-15 {
  margin-left: 15px; }

.margin-l-20 {
  margin-left: 20px; }

.margin-l-25 {
  margin-left: 25px; }

.margin-l-30 {
  margin-left: 30px; }

.margin-l-35 {
  margin-left: 35px; }

.margin-l-40 {
  margin-left: 40px; }

.margin-l-45 {
  margin-left: 45px; }

.margin-l-50 {
  margin-left: 50px; }

.margin-b-0 {
  margin-bottom: 0px; }

.margin-b-5 {
  margin-bottom: 5px; }

.margin-b-10 {
  margin-bottom: 10px; }

.margin-b-15 {
  margin-bottom: 15px; }

.margin-b-20 {
  margin-bottom: 20px; }

.margin-b-25 {
  margin-bottom: 25px; }

.margin-b-30 {
  margin-bottom: 30px; }

.margin-b-35 {
  margin-bottom: 35px; }

.margin-b-40 {
  margin-bottom: 40px; }

.margin-b-45 {
  margin-bottom: 45px; }

.margin-b-50 {
  margin-bottom: 50px; }

.margin-r-0 {
  margin-right: 0px; }

.margin-r-5 {
  margin-right: 5px; }

.margin-r-10 {
  margin-right: 10px; }

.margin-r-15 {
  margin-right: 15px; }

.margin-r-20 {
  margin-right: 20px; }

.margin-r-25 {
  margin-right: 25px; }

.margin-r-30 {
  margin-right: 30px; }

.margin-r-35 {
  margin-right: 35px; }

.margin-r-40 {
  margin-right: 40px; }

.margin-r-45 {
  margin-right: 45px; }

.margin-r-50 {
  margin-right: 50px; }

.margin-tb-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.margin-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.margin-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.margin-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.margin-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-tb-25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.margin-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.margin-tb-35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.margin-tb-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.margin-tb-45 {
  margin-top: 45px;
  margin-bottom: 45px; }

.margin-tb-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.margin-lr-0 {
  margin-left: 0px;
  margin-right: 0px; }

.margin-lr-5 {
  margin-left: 5px;
  margin-right: 5px; }

.margin-lr-10 {
  margin-left: 10px;
  margin-right: 10px; }

.margin-lr-15 {
  margin-left: 15px;
  margin-right: 15px; }

.margin-lr-20 {
  margin-left: 20px;
  margin-right: 20px; }

.margin-lr-25 {
  margin-left: 25px;
  margin-right: 25px; }

.margin-lr-30 {
  margin-left: 30px;
  margin-right: 30px; }

.margin-lr-35 {
  margin-left: 35px;
  margin-right: 35px; }

.margin-lr-40 {
  margin-left: 40px;
  margin-right: 40px; }

.margin-lr-45 {
  margin-left: 45px;
  margin-right: 45px; }

.margin-lr-50 {
  margin-left: 50px;
  margin-right: 50px; }

.margin-auto {
  margin: auto; }

.margin-inherit {
  margin: inherit; }

/* +++++++++++++++++++++++ Padding Style ++++++++++++++++++++++++++++++ */
.padding-0 {
  padding: 0px; }

.padding-5 {
  padding: 5px; }

.padding-10 {
  padding: 10px; }

.padding-15 {
  padding: 15px; }

.padding-20 {
  padding: 20px; }

.padding-25 {
  padding: 25px; }

.padding-30 {
  padding: 30px; }

.padding-35 {
  padding: 35px; }

.padding-40 {
  padding: 40px; }

.padding-45 {
  padding: 45px; }

.padding-50 {
  padding: 50px; }

.padding-t-0 {
  padding-top: 0px; }

.padding-t-5 {
  padding-top: 5px; }

.padding-t-10 {
  padding-top: 10px; }

.padding-t-15 {
  padding-top: 15px; }

.padding-t-20 {
  padding-top: 20px; }

.padding-t-25 {
  padding-top: 25px; }

.padding-t-30 {
  padding-top: 30px; }

.padding-t-35 {
  padding-top: 35px; }

.padding-t-40 {
  padding-top: 40px; }

.padding-t-45 {
  padding-top: 45px; }

.padding-t-50 {
  padding-top: 50px; }

.padding-l-0 {
  padding-left: 0px; }

.padding-l-5 {
  padding-left: 5px; }

.padding-l-10 {
  padding-left: 10px; }

.padding-l-15 {
  padding-left: 15px; }

.padding-l-20 {
  padding-left: 20px; }

.padding-l-25 {
  padding-left: 25px; }

.padding-l-30 {
  padding-left: 30px; }

.padding-l-35 {
  padding-left: 35px; }

.padding-l-40 {
  padding-left: 40px; }

.padding-l-45 {
  padding-left: 45px; }

.padding-l-50 {
  padding-left: 50px; }

.padding-b-0 {
  padding-bottom: 0px; }

.padding-b-5 {
  padding-bottom: 5px; }

.padding-b-10 {
  padding-bottom: 10px; }

.padding-b-15 {
  padding-bottom: 15px; }

.padding-b-20 {
  padding-bottom: 20px; }

.padding-b-25 {
  padding-bottom: 25px; }

.padding-b-30 {
  padding-bottom: 30px; }

.padding-b-35 {
  padding-bottom: 35px; }

.padding-b-40 {
  padding-bottom: 40px; }

.padding-b-45 {
  padding-bottom: 45px; }

.padding-b-50 {
  padding-bottom: 50px; }

.padding-r-0 {
  padding-right: 0px; }

.padding-r-5 {
  padding-right: 5px; }

.padding-r-10 {
  padding-right: 10px; }

.padding-r-15 {
  padding-right: 15px; }

.padding-r-20 {
  padding-right: 20px; }

.padding-r-25 {
  padding-right: 25px; }

.padding-r-30 {
  padding-right: 30px; }

.padding-r-35 {
  padding-right: 35px; }

.padding-r-40 {
  padding-right: 40px; }

.padding-r-45 {
  padding-right: 45px; }

.padding-r-50 {
  padding-right: 50px; }

.padding-tb-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.padding-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.padding-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-tb-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.padding-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.padding-tb-35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.padding-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.padding-tb-45 {
  padding-top: 45px;
  padding-bottom: 45px; }

.padding-tb-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.padding-lr-0 {
  padding-left: 0px;
  padding-right: 0px; }

.padding-lr-5 {
  padding-left: 5px;
  padding-right: 5px; }

.padding-lr-10 {
  padding-left: 10px;
  padding-right: 10px; }

.padding-lr-15 {
  padding-left: 15px;
  padding-right: 15px; }

.padding-lr-20 {
  padding-left: 20px;
  padding-right: 20px; }

.padding-lr-25 {
  padding-left: 25px;
  padding-right: 25px; }

.padding-lr-30 {
  padding-left: 30px;
  padding-right: 30px; }

.padding-lr-35 {
  padding-left: 35px;
  padding-right: 35px; }

.padding-lr-40 {
  padding-left: 40px;
  padding-right: 40px; }

.padding-lr-45 {
  padding-left: 45px;
  padding-right: 45px; }

.padding-lr-50 {
  padding-left: 50px;
  padding-right: 50px; }

.padding-inherit {
  padding: inherit; }

/* +++++++++++++++++++++++ Height and Width Style ++++++++++++++++++++++++++++++ */
.height-auto {
  height: auto; }

.height-10 {
  height: 10%; }

.height-20 {
  height: 20%; }

.height-30 {
  height: 30%; }

.height-40 {
  height: 40%; }

.height-50 {
  height: 50%; }

.height-60 {
  height: 60%; }

.height-70 {
  height: 70%; }

.height-80 {
  height: 80%; }

.height-90 {
  height: 90%; }

.height-100 {
  height: 100%; }

.width-auto {
  width: auto; }

.width-10 {
  width: 10%; }

.width-20 {
  width: 20%; }

.width-30 {
  width: 30%; }

.width-40 {
  width: 40%; }

.width-50 {
  width: 50%; }

.width-60 {
  width: 60%; }

.width-70 {
  width: 70%; }

.width-80 {
  width: 80%; }

.width-90 {
  width: 90%; }

.width-100 {
  width: 100%; }

/* +++++++++++++++++++++++ Outline Style ++++++++++++++++++++++++++++++ */
.outline-dotted {
  outline-style: dotted; }

.outline-dashed {
  outline-style: dashed; }

.outline-solid {
  outline-style: solid; }

.outline-double {
  outline-style: double; }

.outline-groove {
  outline-style: groove; }

.outline-ridge {
  outline-style: ridge; }

.outline-inset {
  outline-style: inset; }

.outline-outset {
  outline-style: outset; }

.outline-color-initial {
  outline-color: initial; }

.outline-color-inherit {
  outline-color: inherit; }

.outline-offset-initial {
  outline-offset: initial; }

.outline-offset-inherit {
  outline-offset: inherit; }

.outline-width-initial {
  outline-width: initial; }

.outline-width-inherit {
  outline-width: inherit; }

.outline-width-medium {
  outline-width: medium; }

.outline-width-thin {
  outline-width: thin; }

.outline-width-thick {
  outline-width: thick; }

/* +++++++++++++++++++++++++++++++text Color +++++++++++++++++++++++ */
.white {
  color: #fff; }

.black {
  color: #000; }

.red {
  color: red; }

/* ++++++++++++++++++++++++++++++++text Style +++++++++++++++++++++++++++*/
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-decoration-none {
  text-decoration: none; }

.text-overline {
  text-decoration: overline; }

.text-linethrough {
  text-decoration: line-through; }

.text-underline {
  text-decoration: underline; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-direction-rtl {
  direction: rtl; }

.text-alignlast-auto {
  text-align-last: auto; }

.text-alignlast-left {
  text-align-last: left; }

.text-alignlast-right {
  text-align-last: right; }

.text-alignlast-center {
  text-align-last: center; }

.text-alignlast-justify {
  text-align-last: justify; }

.text-alignlast-start {
  text-align-last: start; }

.text-alignlast-end {
  text-align-last: end; }

.text-alignlast-initial {
  text-align-last: initial; }

.text-alignlast-inherit {
  text-align-last: inherit; }

.text-overflow-clip {
  text-overflow: clip; }

.text-overflow-ellipsis {
  text-overflow: ellipsis; }

.text-overflow-string {
  text-overflow: string; }

.text-overflow-initial {
  text-overflow: initial; }

.text-overflow-inherit {
  text-overflow: inherit; }

.vertical-align-baseline {
  vertical-align: baseline; }

.vertical-align-sub {
  vertical-align: sub; }

.vertical-align-super {
  vertical-align: super; }

.vertical-align-top {
  vertical-align: top; }

.vertical-align-middle {
  vertical-align: middle; }

.vertical-align-bottom {
  vertical-align: bottom; }

.vertical-align-texttop {
  vertical-align: text-top; }

.vertical-align-textbottom {
  vertical-align: text-bottom; }

.vertical-align-initial {
  vertical-align: initial; }

.vertical-align-inherit {
  vertical-align: inherit; }

.white-space-normal {
  white-space: normal; }

.white-space-nowrap {
  white-space: nowrap; }

.white-space-pre {
  white-space: pre; }

.white-space-preline {
  white-space: pre-line; }

.white-space-prewrap {
  white-space: pre-wrap; }

.white-space-initial {
  white-space: initial; }

.white-space-inherit {
  white-space: inherit; }

.word-wrap-normal {
  word-wrap: normal; }

.word-wrap-breakword {
  word-wrap: break-word; }

.word-wrap-initial {
  word-wrap: initial; }

.word-wrap-inherit {
  word-wrap: inherit; }

/* +++++++++++++++++++++++ font-size Style ++++++++++++++++++++++++++++++ */
.fontsize-10 {
  font-size: 10px; }

.fontsize-12 {
  font-size: 12px; }

.fontsize-14 {
  font-size: 14px; }

.fontsize-16 {
  font-size: 16px; }

.fontsize-18 {
  font-size: 18px; }

.fontsize-20 {
  font-size: 20px; }

.fontsize-22 {
  font-size: 22px; }

.fontsize-24 {
  font-size: 24px; }

.fontsize-26 {
  font-size: 26px; }

.fontsize-28 {
  font-size: 28px; }

.fontsize-30 {
  font-size: 30px; }

.fontsize-32 {
  font-size: 32px; }

.fontsize-xxsmall {
  font-size: xx-small; }

.fontsize-xsmall {
  font-size: x-small; }

.fontsize-small {
  font-size: small; }

.fontsize-medium {
  font-size: medium; }

.fontsize-large {
  font-size: large; }

.fontsize-xlarge {
  font-size: x-large; }

.fontsize-xx-large {
  font-size: xx-large; }

.fontsize-smaller {
  font-size: smaller; }

.fontsize-larger {
  font-size: larger; }

.fontsize-initial {
  font-size: initial; }

.fontsize-inherit {
  font-size: inherit; }

/* ++++++++++++++++++++++++++++++++ Font Style +++++++++++++++++++++++++++*/
.font-normal {
  font-style: normal; }

.font-italic {
  font-style: italic; }

.font-oblique {
  font-style: oblique; }

.font-weight-normal {
  font-weight: normal; }

.font-weight-bold {
  font-weight: bold; }

.font-weight-bolder {
  font-weight: bolder; }

.font-weight-lighter {
  font-weight: lighter; }

.font-weight-initial {
  font-weight: initial; }

.font-weight-inherit {
  font-weight: inherit; }

.font-variant-smallcaps {
  font-variant: small-caps; }

.font-variant-normal {
  font-variant: normal; }

.font-variant-initial {
  font-variant: initial; }

.font-variant-inherit {
  font-variant: inherit; }

/* ++++++++++++++++++++++++++++++++ List Style +++++++++++++++++++++++++++*/
.list-style-none {
  list-style-type: none; }

.list-circle {
  list-style-type: circle; }

.list-square {
  list-style-type: square; }

.list-disc {
  list-style-type: disc; }

.list-none {
  list-style-type: none; }

.list-decimal {
  list-style-type: decimal; }

.list-upperroman {
  list-style-type: upper-roman; }

.list-lowerroman {
  list-style-type: lower-roman; }

.list-loweralpha {
  list-style-type: lower-alpha; }

.list-upperalpha {
  list-style-type: upper-alpha; }

.list-inside {
  list-style-position: inside; }

.list-outside {
  list-style-position: outside; }

/* ++++++++++++++++++++++++++++++++ Display Style +++++++++++++++++++++++++++*/
.display-inline {
  display: inline; }

.display-block {
  display: block; }

.display-inlineblock {
  display: inline-block; }

.display-flex {
  display: flex; }

.display-inlineflex {
  display: inline-flex; }

.display-listitem {
  display: list-item; }

.display-none {
  display: none; }

.display-initial {
  display: initial; }

/* ++++++++++++++++++++++++++++++++ visibility Style +++++++++++++++++++++++++++*/
.visibility-visible {
  visibility: visible; }

.visibility-hidden {
  visibility: hidden; }

.visibility-collapse {
  visibility: collapse; }

.visibility-initial {
  visibility: initial; }

.visibility-inherit {
  visibility: inherit; }

/* ++++++++++++++++++++++++++++++++ position Style +++++++++++++++++++++++++++*/
.position-relative {
  position: relative; }

.position-static {
  position: static; }

.position-absolute {
  position: absolute; }

.position-fixed {
  position: fixed; }

.position-initial {
  position: initial; }

.position-inherit {
  position: inherit; }

/* ++++++++++++++++++++++++++++++++ cursor Style +++++++++++++++++++++++++++*/
.cursor-auto {
  cursor: auto; }

.cursor-crosshair {
  cursor: crosshair; }

.cursor-default {
  cursor: default; }

.cursor-eresize {
  cursor: e-resize; }

.cursor-grab {
  cursor: grab; }

.cursor-help {
  cursor: help; }

.cursor-move {
  cursor: move; }

.cursor-nresize {
  cursor: n-resize; }

.cursor-neresize {
  cursor: ne-resize; }

.cursor-nwresize {
  cursor: nw-resize; }

.cursor-pointer {
  cursor: pointer; }

.cursor-progress {
  cursor: progress; }

.cursor-sresize {
  cursor: s-resize; }

.cursor-seresize {
  cursor: se-resize; }

.cursor-swresize {
  cursor: sw-resize; }

.cursor-text {
  cursor: text; }

.cursor-wresize {
  cursor: w-resize; }

.cursor-wait {
  cursor: wait; }

.cursor-notallowed {
  cursor: not-allowed; }

.cursor-nodrop {
  cursor: no-drop; }

/* ++++++++++++++++++++++++++++++++ overflow Style +++++++++++++++++++++++++++*/
.overflow-visible {
  overflow: visible; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.overflow-initial {
  overflow: initial; }

.overflow-inherit {
  overflow: inherit; }

.overflow-x-visible {
  overflow-x: visible; }

.overflow-x-hidden {
  overflow-x: hidden; }

.overflow-x-scroll {
  overflow-x: scroll; }

.overflow-x-auto {
  overflow-x: auto; }

.overflow-x-initial {
  overflow-x: initial; }

.overflow-x-inherit {
  overflow-x: inherit; }

.overflow-y-visible {
  overflow-y: visible; }

.overflow-y-hidden {
  overflow-y: hidden; }

.overflow-y-scroll {
  overflow-y: scroll; }

.overflow-y-auto {
  overflow-y: auto; }

.overflow-y-initial {
  overflow-y: initial; }

.overflow-y-inherit {
  overflow-y: inherit; }

/* ++++++++++++++++++++++++++++++++float and Clear Style +++++++++++++++++++++*/
.float-none {
  float: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-initial {
  float: initial; }

.float-inherit {
  float: inherit; }

.clear-both {
  clear: both; }

.clear-none {
  clear: none; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.clear-initial {
  clear: initial; }

.clear-inherit {
  clear: inherit; }

/*# sourceMappingURL=style.css.map */
