<ion-view title="Companies Act 2013">

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/whatsnew">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
  
    <div ng-controller="finalctrl">
    
       <p align="right">
    <strong>General Circular No. 03/2017</strong>
</p>
<p align="center">
    <strong>No. 11/06/2017-IEPF</strong>
</p>
<p align="center">
    <strong>Government of India</strong>
</p>
<p align="center">
    <strong>Ministry of Corporate Affairs</strong>
</p>
<p align="right">
    5<sup>th</sup> floor, A wing
</p>
<p align="right">
    Shastri Bhavan, Dr. R.P Road
</p>
<p align="right">
    New Delhi – 110001
</p>
<p align="right">
    Dated: 27/04/2017
</p>
<p>
    To,
</p>
<p>
    All Stakeholders
</p>
<p>
    Nodal Officer’s (IEPF) of Concerned companies
</p>
<p>
    All Regional Director’s and Registrar of Companies of Min. Of Corp. Affairs
</p>
<p>
    <strong>Subject: Transfer of shares to IEPF Authority</strong>
</p>
<p>
    Sir/Madam,
</p>
<p>
    Pursuant to second proviso to Rule 6 of Investor Education and Protection
    Authority (Accounting, Audit, Transfer and Refund) Amendment rules, 2017
    notified on February 28, 2017, where the seven year period provided under
    sub-section (5) of section 124 is completed during September, 7, 2016 to
    May 31, 2017, the due date of transfer of such shares by companies is May
    31, 2017.
</p>
<p>
    2. The IEPF authority has decided to open a special demat account with
    National Securities Depository Limited (NSDL) through a Depository
    Participant of NSDL.
</p>
<p>
    3. The special demat account will have features and functionality to
    support IEPF operations using paperless, digital processes and facilitate
    record keeping of shares transferred to the IEPF Authority to meet the
    requirements of the rules. The details of the DEMAT account to be issued in
    due course.
</p>
<p>
    4. All Companies required to transfer shares to IEPF Authority under the
    aforesaid rules shall transfer such shares, whether held in dematerialised
    form or physical form, to the demat account of IEPF Authority by way of
    corporate action. Information related to the shareholders whose shares are
    being transferred to IEPF’s demat account shall be provided to NSDL in
    prescribed format.
</p>
<p>
    5. NSDL will prescribe the file formats and operational procedures for
transfer of shares to special demat account of the IEPF Authority by 30    <sup>th</sup> April, 2017 and May 15, 2017 respectively.
</p>
<p>
    6. The charges to be levied by NSDL to the companies towards upload and
    maintenance of records pertaining to shares transferred to the special
    demat account of the IEPF Authority are as under:
</p>
<p>
    i. Transaction Fees at the time of effecting transfer of shares to Demat
    Account of IEPF Authority: Rs. 10/- per record subject to minimum of Rs.
    500/-
</p>
<p>
    ii. Annual maintenance fees : Rs. 11/- per record subject to minimum based
    on paid up capital of the company as mentioned below:
</p>
<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="308" valign="top">
                <p>
                    <strong>Nominal Value of Admitted Securities (Rs.)</strong>
                </p>
            </td>
            <td width="308" valign="top">
                <p>
                    <strong>
                        Annual Custody Fee payable by company (Rs.)
                    </strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="308" valign="top">
                <p>
                    Upto Rs. 5 Crore
                </p>
            </td>
            <td width="308" valign="top">
                <p align="right">
                    2,700
                </p>
            </td>
        </tr>
        <tr>
            <td width="308" valign="top">
                <p>
                    Above Rs. 5 Crore and Upto Rs. 10 Crore
                </p>
            </td>
            <td width="308" valign="top">
                <p align="right">
                    6,750
                </p>
            </td>
        </tr>
        <tr>
            <td width="308" valign="top">
                <p>
                    Above Rs. 10 crore and Upto Rs. 20 Crore
                </p>
            </td>
            <td width="308" valign="top">
                <p align="right">
                    13,500
                </p>
            </td>
        </tr>
        <tr>
            <td width="308" valign="top">
                <p>
                    Above Rs. 20 crore
                </p>
            </td>
            <td width="308" valign="top">
                <p align="right">
                    22,500
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    These charges are in addition to the fees that Depositories levy on the
    companies for corporate actions.
</p>
<p align="right">
    Yours Faithfully,
</p>
<p align="right">
    (Monika Gupta)
</p>
<p align="right">
    Deputy Director
</p>
        
      </div>
   
  </ion-content>
</ion-view>





