<ion-view title="Companies Act 2013">

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/whatsnew">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
  
    <div ng-controller="finalctrl">
    
       <p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong> </strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    <strong> </strong>
</p>
<p align="right">
    <strong>New Delhi, the 13<sup>th</sup> April, 2017</strong>
</p>
<p>
    <strong>G.S.R</strong>
    ____ In exercise of power conferred by section 234 read with section 469 of
    the Companies Act, 2013, the central Government in consultation with
    Reserve Bank of India, hereby makes the following rules to amend the
    companies (Compromises, Arrangements and Amalgamations) Rules, 2016,
    namely:-
</p>
<p>
    1. (1) These rules may be called as companies (Compromises, Arrangements
    and Amalgamations) Amendment Rules, 2017.
</p>
<p>
    (2) They shall come into force on the date of their publication in the
    official gazette
</p>
<p>
    2. In the companies (Compromises, Arrangements and Amalgamations) Rules,
    2016 (hereinafter referred to as principal rules) after rule 25 the
    following rule shall be inserted, namely:-
</p>
<p>
    <strong>
        "25A. Merger or Amalgamation of a foreign company with a company and
        vice versa (1)
    </strong>
    A foreign company incorporated outside India may merge with an Indian
    company after obtaining prior approval of Reserve Bank of India and after
    complying with the provisions of sections 230 to 232 of the Act and these
    rules.
</p>
<p>
    <strong> </strong>
</p>
<p>
    (2) (a) A company may merge with a foreign company incorporated in any of
    the jurisdictions specified in Annexure B after obtaining prior approval of
    the Reserve Bank of India and after complying with provisions of sections
    230 to 232 of the Act and these rules.
</p>
<p>
    (b) The transferee company shall ensure that valuation is conducted by
    valuers who are members of a recognised professional body in the
    jurisdiction of the transferee company and further that such valuation is
    in accordance with internationally accepted principles on accounting and
    valuation. A declaration to this effect shall be attached with the
    application made to Reserve Bank of India for obtaining its approval under
    clause (a) of this sub-rule.
</p>
<p>
    (3) The concerned company shall file an application before the Tribunal as
    per provisions of section 230 to section 232 of the Act and these rules
    after obtaining approvals specified in sub-rule (1) and sub-rule (2), as
    the case may be.
</p>
<p>
    <em>Explanation 1._ </em>
    For the purposes of this rule the term "company" means a company as defined
    in clause (20) of section 2 of the Act and the term "foreign company" means
    a company or body corporate incorporated outside India whether having a
    place of business in India or not:
</p>
<p>
    <em>Explanation 2.</em>
    For the purposes of this rule, it is clarified that no amendment shall be
    made in this rule without consultation of the Reserve Bank of India."
</p>
<p>
    3. In the principal rules after Annexure A the following Annexure shall be
    inserted namely:-
</p>
<p align="center">
    <strong>Annexure B</strong>
</p>
<p align="center">
    <strong>
        Jurisdictions referred to in clause (a) of sub-rule (2) of rule 25A
    </strong>
</p>
<p align="center">
    <strong> </strong>
</p>
<p>
    Jurisdictions -
</p>
<p>
    (i). whose securities market regulator is a signatory to International
    Organization of Securities Commission's Multilateral Memorandum of
    Understanding (Appendix A Signatories) or a signatory to bilateral
    Memorandum of Understanding with SEBI, or
</p>
<p>
    (ii). whose central bank is a member of Bank for International Settlements
    (BIS), and
</p>
<p>
    (iii). a jurisdiction, which is not identified in the public statement of
    Financial Action Task Force (FATF) as:
</p>
<p>
    (a) a jurisdiction having a strategic Anti-Money Laundering or Combating
    the Financing of Terrorism deficiencies to which counter measures apply; or
</p>
<p>
    (b) a jurisdiction that has not made sufficient progress in addressing the
    deficiencies or has not committed to an action plan developed with the
    Financial Action Task Force to address the deficiencies.".
</p>
<p align="right">
    <strong>[F.NO. 1/37/2013 CL.V]</strong>
</p>
<p align="right">
    <strong> </strong>
</p>
<p align="right">
    <strong>(AMARDEEP SINGH BHATIA)</strong>
</p>
<p align="right">
    <strong>Joint Secretary to the government of India</strong>
</p>
        
      </div>
   
  </ion-content>
</ion-view>




