<ion-view title="Companies Act 2013">

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/whatsnew">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
  <ion-content>
  
    <div ng-controller="finalctrl">
        <p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 7th April, 2017
</p>
<p>
    <strong>G.S.R. 339(E).-</strong>
    In exercise of the powers conferred by sub-sections (1) and (2) of section
    469 of the Companies Act, 2013 (18 of 2013), the Central Government hereby
    makes the following rules further to amend the Companies (Registration of
    Charges) Rules, 2014, namely:-
</p>
<p>
    1. (1) These rules may be called the Companies (Registration of Charges)
    Amendment Rules, 2017.
</p>
<p>
    (2) They shall come into force from the date of their publication in the
    Official Gazette
</p>
<p>
    2. In the Companies (Registration of Charges) Rules, 2014, (hereinafter
    referred to as the principal rules) Form No. CHG-1, shall be substituted.
</p>
<p>
    3. In the principal rules, for 'Form No. CHG-4' shall be substituted.
</p>
<p>
    4. In the principal rules, for 'Form No. CHG-9' shall be substituted.
</p>
<p align="right">
    [F. No. 01/10/2013 CL-V ]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>

      </div>
  
  </ion-content>
</ion-view>


