<ion-view title="Companies Act 2013">

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/whatsnew">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
  
    <div ng-controller="finalctrl">
    
       <p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    <strong> </strong>
</p>
<p align="center">
    New Delhi, the 12th April, 2017
</p>
<p>
    <strong>G.S.R. 355(E).-</strong>
    In exercise of the powers conferred by sub-sections (1), (2) and (4) of
    section 248 read with section 469 of the Companies Act, 2013 (18 of 2013),
    the Central Government hereby makes the following rules to amend the
    Companies (Removal of Names of Companies from the Register of Companies)
    Rules, 2016 , namely:-
</p>
<p>
    <strong>1. </strong>
    (1) These rules may be called the Companies (Removal of Names of Companies
    from the Register of Companies) Amendment Rules, 2017.
</p>
<p>
    (2) They shall come into force on the date of their publication in the
    Official Gazette.
</p>
<p>
    <strong>2. </strong>
    In the Companies (Removal of Names of Companies from the Register of
    Companies) Rules, 2016 (hereinafter referred to as the principal rules), in
    rule 7, in sub-rule (1), after the proviso, the following proviso shall be
    inserted, namely:-
</p>
<p>
    "Provided further that the publication of notice under clause (iii) of this
    sub-rule, in respect of cases falling under subsection (1) of section 248
    shall be in Form No. STK 5A.".
</p>
<p>
    3. In the principal rules, after the Form STK-5, the following Form shall
    be inserted, namely:-
</p>
<p align="center">
    <strong>"FORM No. STK - 5A</strong>
</p>
<p align="center">
    <strong>PUBLIC NOTICE</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    [Pursuant to sub-section (1) and sub-section (4) of section 248 of the
    Companies Act, 2013 and second proviso to rule 7(1) of the Companies
    (Removal of Names of Companies from the Register of Companies) Rules, 2016]
</p>
<p align="center">
    <strong>
        ----------------------------------------------------------------------
    </strong>
</p>
<p align="center">
    <strong>GOVERNMENT OF INDIA</strong>
</p>
<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>Office of the Registrar of Companies</strong>
</p>
<p align="center">
    <strong>(Address of RoC)</strong>
</p>
<p>
    <strong>Public Notice No.--------------- Date:------------</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Reference:</strong>
</p>
<p>
    In the matter of striking off names of companies under section 248 (1) of
    the Companies Act, 2013, of the companies as per details below:-
</p>
<p>
    1. Notice is hereby given that the Registrar of Companies has a reasonable
    cause to believe that, the companies, whose names are listed on the
    _________ (provide web link of the page on Ministry's website where the
    names are listed),-
</p>
<p>
    (i) have not commenced business within one year of their incorporation; OR
</p>
<p>
    (ii) have not been carrying on any business or operation for a period of
    two immediately preceding financial years and have not made any application
    within such period for obtaining the status of dormant company under
    section 455 of the Companies Act, 2013.
</p>
<p>
    [Strike off whichever is not applicable]
</p>
<p>
    And, therefore, proposes to remove/strike off the names of the above
    mentioned companies from the register of companies and dissolve them unless
    a cause is shown to the contrary, within thirty days from the date of such
    notice.
</p>
<p>
    2. Any person objecting to the proposed removal/striking off of name of the
    companies from the register of companies may send his objection to the
    office address mentioned here above within thirty days from the date of
    publication of this notice.
</p>
<p>
    Registrar of Companies".
</p>
<p>
    [F. No. 1/28/2013-CL.V]
</p>
<p>
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>
        
      </div>
   
  </ion-content>
</ion-view>




