<ion-view title="Companies Act 2013">

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/whatsnew">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
  
    <div ng-controller="finalctrl">
    <p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    <strong> </strong>
</p>
<p align="center">
    New Delhi, the 13th April, 2017
</p>
<p>
    <strong>S.O. 1182(E).</strong>
    -In exercise of the powers conferred by sub-section (3) of section 1 of the
    Companies Act, 2013 (18 of 2013), the Central Government hereby appoints
    the 13th day of April, 2017 as the date on which the provisions of section
    234 of the said Act shall come into force.
</p>
<p align="right">
    [F. No. 1/37/2013-CL.V]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>
       
        
      </div>
   
  </ion-content>
</ion-view>