<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>012015 dated 3rd Feb 2015</title>
 </head>
 <body>
 <p style="widows: 2;" align="right"><b>General
 Circular No. 01/2015</b></p>
 <p style="widows: 4;" aliagn="center"><b>F.No.05/09/2014-CSR<br>
 Government
 of India<br>
 Ministry of Corporate Affairs</b></p>
 <p style="widows: 2;" align="right">5th floor, 'A'
 wing, Shastri
 Bhavvan&nbsp;<br>
 Dr. R.P. Road, New Delhi - 110001.<br>
 Dated:
 03.02.2015</p>
 <p style="widows: 4;" align="center"><b>OFFICE
 MEMORANDUM</b></p>
 <p style="widows: 8;" align="justify"><b>Subject:
 Constitution of a High
 Level Committee to suggest measures for improved monitoring of the
 implementation of Corporate Social Responsibility policies by the
 companies under Section 135 of the Companies Act, 2013.</b></p>
<p style="widows: 8;" align="justify">Undersigned
  has been directed to
 state that a High Level Committee has been constituted under the
 Chairmanship of Shri Anil Baijal, Former Secretary, Govt, of India to
 suggest measures for monitoring the progress of implementation of
 Corporate Social Responsibility (CSR) policies by companies at their
 level and by the Government under the provisions of Section 135 of
 the Companies Act, 2013 and Rules thereunder.</p>
<p style="widows: 8;" align="justify">1. The
 composition of the High
 Level Committee is as under:</p>
 <table style="width: 339px; height: 718px;" border="1"
  bordercolor="#00000a" cellpadding="5" cellspacing="1">
   <col width="16">
   <col width="461"><col width="101">
   <tbody>
     <tr valign="top">
       <td width="16">
       <p style="widows: 8;" align="justify"><b>Sr.</b></p>
       </td>
       <td width="461">
       <p style="widows: 8;" align="justify"><b>Name</b></p>
       </td>
       <td width="101">
       <p style="widows: 8;" align="justify"><b>Role</b></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="16">
      <p style="widows: 8;" align="justify">i.</p>
      </td>
      <td width="461">
      <p>Shri Anil Baijal<br>
 Former Secretary to Govt, of India</p>
      </td>
      <td width="101">
      <p style="widows: 8;" align="justify">Chairperson</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="16">
      <p style="widows: 8;" align="justify">ii.</p>
      </td>
      <td width="461">
      <p>Prof. Deepak Nayyar<br>
 Professor (Emeritus), Jawaharlal Nehru
 University, New Delhi</p>
      </td>
      <td width="101">
      <p style="widows: 8;" align="justify">Member</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="16">
      <p style="widows: 8;" align="justify">iii.</p>
      </td>
      <td width="461">
      <p>Shri Onkar S Kanwar<br>
 Chairman &amp; Managing Director, Apollo
 Tyres Ltd.</p>
      </td>
      <td width="101">
      <p style="widows: 8;" align="justify">Member</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="16">
      <p style="widows: 8;" align="justify">iv.</p>
      </td>
      <td width="461">
      <p>Shri Kiran Kamik<br>
 Former President-NASSCOMM, New Delhi</p>
       </td>
      <td width="101">
      <p style="widows: 8;" align="justify">Member</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="16">
      <p style="widows: 8;" align="justify">v.</p>
      </td>
      <td width="461">
      <p>Secretary, Department of Public Enterprises (Represented
 by an
 officer not below the rank of Joint Secretary)</p>
      </td>
      <td width="101">
      <p style="widows: 8;" align="justify">Member</p>
      </td>
    </tr>
    <tr valign="top">
      <td width="16">
      <p style="widows: 8;" align="justify">vi.</p>
      </td>
      <td width="461">
      <p>Additional Secretary (*) Ministry of Corporate Affairs</p>
      </td>
      <td width="101">
      <p style="widows: 8;" align="justify">Member-
 Convener</p>
      </td>
    </tr>
  </tbody>
</table>
<p style="widows: 8;" align="justify">(*) Economic
 Adviser, MCA will
 discharge the responsibility in the absence of Additional Secretary,
 MCA.</p>
 <p style="widows: 8;" align="justify">3. Terms of
 Reference of the
 Committee are as under:</p>
 <ol type="i">
   <li>
     <p style="widows: 8;" align="justify">To
 recommend suitable
 methodologies for monitoring compliance of the provisions of Section
 135 (Corporate Social Responsibility) of the Companies Act, 2013 by
 the companies covered thereunder.</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">To
 suggest measures to be
 recommended by the Government for adoption by the companies for
 systematic monitoring and evaluation of their own CSR initiatives.</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">To
 identify strategies for
 monitoring and evaluation of CSR initiatives through expert agencies
 and institutions to facilitate adequate feedback to the Government
 with regard to efficacy of CSR expenditure and quality of compliance
 by the companies.</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">To
 examine if a different
 monitoring mechanism is warranted for Government Companies
 undertaking CSR, and if so to make suitable recommendations in this
 behalf.</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">Any other
 matter incidental
 to the above or connected thereto.</p>
   </li>
 </ol>
 <p style="widows: 8;" align="justify">4. The
 Committee shall submit its
 report within Six months from the date of holding of its first
 meeting.</p>
 <p style="widows: 8;" align="justify">5. Ministry
 of Corporate Affairs
 and Indian Institute of Corporate Affairs (IICA) shall jointly
 provide secretarial and technical support to the Committee. The
 Indian Institute of Corporate Affairs will render the necessary
 logistic support to the High Level Committee.</p>
 <p style="widows: 8;" align="justify">6. This
 issues with the approval
 of Hon'ble Union Minister for Corporate Affairs.</p>
 <p style="widows: 2;" align="right"><br>
 </p>
<p style="widows: 2;" align="right"><b>(Dr.
 Pankaj
 Srivastava)<br>
 Director<br>
 Telephone: 011-23389263&nbsp;<br>
 E-mail:
 pankaj.srivastava@gov.in</b></p>
 <p style="widows: 8;" align="justify">To</p>
 <ol>
   <li>
     <p style="widows: 8;" align="justify">Shri Anil
 Baijal, Former
 Secretary to Govt, of India, New Delhi</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">Prof.
 Deepak Nayyar,
 Professor (Emeritus), Jawaharlal Nehru University, New Delhi</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">Shri
 Kiran Kamik, Former
 President (NASSCOMM), New Delhi</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">Shri
 Onkar S Kanwar, Chairman
 &amp; Managing Director, Apollo Tyres Ltd</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">Secretary,
 DPE, M/o Heavy
 Industries and Public Enterprises</p>
   </li>
 </ol>
 <p style="widows: 8;" align="justify">Copy to:</p>
 <ol>
   <li>
     <p style="widows: 8;" align="justify">DG
 &amp; CEO, IICA for
 information and necessary action</p>
   </li>
 </ol>
 <p style="widows: 8;" align="justify">Copy for
 information to:</p>
 <ol>
   <li>
     <p style="widows: 8;" align="justify">PS to
 Hon'ble Minister of
 Corporate Affairs</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">PPS to
 Secretary/ PPS to
 Special Secretary, MCA</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">PS to
 JS(M)/JS (ADM)/JS(B)/
 JS(SP)/EA/DII(NS)/DII(SBG)</p>
   </li>
   <li>
     <p style="widows: 8;" align="justify">All
 Regional Directors/
 Registrar of Companies, MCA</p>
   </li>
 </ol>
 <p style="widows: 8;" align="justify"><br>
 </p>
 </body>
 </html> 
