<p align="right">
    <strong>General Circular No. 01/2017</strong>
</p>
<p align="center">
    F. No. 1/23/2013-CL-V
</p>
<p align="center">
    Government of India
</p>
<p align="center">
    Ministry of Corporate Affairs
</p>
<p align="right">
    5<sup>th</sup> Floor,’A wing’, shastri Bhawan,
</p>
<p align="right">
    Dr.R.P.Road, New Delhi
</p>
<p align="right">
    Dated:- 22th February, 2017
</p>
<p>
    To,
</p>
<p>
    All RDs
</p>
<p>
    All ROCs
</p>
<p>
    The stakeholders.
</p>
<p>
    Sub: Section 391(2) Closure of place of business by a foreign company –
    reg.
</p>
<p>
    Sir,
</p>
<p>
    Sub – section (2) of section 391 of the companies act, 2013, states that
    the provisions of chapter xx shall apply mutatis mutandis for closure of
    the place of business of foreign company in India as if it were a company
incorporated in India. These provisions have been brought into force on 15    <sup>th</sup> December, 2016. Stakeholders have sought clarification with
    regard to scope of application of the said sub-section.
</p>
<p>
    2. The matter has been examined in the ministry and it has been noted that
    sub-section (1) and sub-section (2) of section 391 needs to be read
    harmoniously. Accordingly, it is clarified that provisions of sub-section
    (2) of section 391 of the companies act, 2013 would apply only in case of a
    foreign company which has issued prospectus or IDRs pursuant to provisions
    of chapter XXII of companies act, 2013.
</p>
<p>
    3. The issues with the approval of appropriate authority.
</p>
<p align="right">
    Yours Faithfully,
</p>
<p align="right">
    Sd/-
</p>
<p align="right">
    (Sudhir kapoor)
</p>
<p align="right">
    Deputy Director
</p>
<p align="right">
    Ph:- 23386005
</p>