 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>22015 dated 11th Feb 2015</title></head><body>
 <p style="widows: 2;" align="right">General Circular No. 2/2015</p>
 <p style="page-break-inside: avoid; widows: 132;" align="center">No.
  1/40/2013-CL-V-Part</p>
 <p style="page-break-inside: avoid; widows: 132;" align="center">Government
  of India</p>
 <p style="page-break-inside: avoid; widows: 132;" align="center">Ministry
  of Corporate Affairs</p>
 <p style="page-break-inside: avoid; widows: 132;" align="center">****</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right">5th Floor,
  'A' Wing, Shastri Bhawan,</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right"> New
  Delhi: 110001</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right"> Dated:
  11th February, 2015</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right"><br>
 </p>
 <p style="page-break-inside: avoid;">To</p>
 <p style="page-break-inside: avoid;"> All Regional Directors,</p>
 <p style="page-break-inside: avoid;"> All Registrars of Companies,</p>
 <p style="page-break-inside: avoid;"> All Stakeholders</p>
 <p style="page-break-inside: avoid;"><br>
 </p>
 <p style="page-break-inside: avoid;">Subject:  Extension of time for
  filing of Notice of appointment of the Cost Auditor in Form CRA-2.</p>
 <p style="page-break-inside: avoid;"><br>
 </p>
 <p style="page-break-inside: avoid;">Sir,</p>
 <p style="page-break-inside: avoid;"><br>
 </p>
 <p style="page-break-inside: avoid;">In continuation to the General
  Circular No. 42/2014, the last date of filing of Form CRA-2 without
  any penalty/late fee is hereby extended upto 31 March 2015. 
 </p>
 <p style="page-break-inside: avoid;"><br>
 </p>
 <p style="page-break-inside: avoid;">2. This issues with the approval
  of competent authority.</p>
 <p style="widows: 2;" align="right"><br>
 </p>
 <p style="widows: 2;" align="right">Yours Faithfully,</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right">Kamna
  Sharma</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right">Assistant
  Director</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right">Tel:
  23387263</p>
 <p style="widows: 2;" align="right"><br>
 </p></body></html>