 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>32015 dated 3rd March 2015</title></head><body>
 <p style="widows: 4;" align="center"><b>General Circular No.03/2015</b></p>
 <p style="widows: 4;" align="center"><b>F.No. MCA 21 /272/20
 4<br>GOVERNMENT OF INDIA<br>MINISTRY OF CORPORATE AFFAIRS</b></p>
 <p style="widows: 2;" align="right"><b>5th&nbsp;</b>Floor, &#8216;A&#8217; Wing
 Shastri Bhawan,<br>Dr. R.P. Road, New Delhi&nbsp;<br><b>Dated: 03rd
  March 2015</b></p>
 <p>To</p>
 <p>All Regional Directors,<br>All Registrars of Companies,<br>All
 &nbsp;Stakeholders.</p>
 <p style="widows: 8;" align="justify"><b>Subject: Clarification relating
  to filing of e-form DIR-11 &amp; DIR-12 under the Companies Act,
 2013- regarding.</b></p>
 <p style="widows: 8;" align="justify">This Ministry has received several
 representations about the difficulties faced by stakeholders due to
 deactivation of Digital Signature Certificate (DSC) following en
 masse resignation of&#8217; all the directors of a company before
 appointment of new directors in their places. The difficulty arises
 because of automatic deactivation of DSC on filing of DIR-11 (Notice
 of resignation of a director to the Registrar) by the
 resigned/resigning Director (s), and none of the new Director&#8217;s
 details having been filed. As a result, form DIR-12 (Particulars of  appointment of directors and the key managerial personnel and the
 changes among them) cannot be filed by a company due to lack of an
 authorized signatory Director.</p>
 <p style="widows: 8;" align="justify">2. In order to enable the filing
 of such e-forms and till an alternative mechanism is put in place in
 MCA 21 system, it is clarified that the Registrar of Companies within
 their respective jurisdictions are authorized. on request from the
 stakeholders, and after due examination, to allow any one of the
 resigned director who was an authorized signatory Director for the
 purpose of filing DIR- 12 only along with additional fees, as
 applicable and subject to compliance of other provisions of Companies
 Act, 2013.</p>
<p>3. This issues with the approval of Secretary, MCA.</p>
<p style="widows: 2;" align="right">Yours faithfully,&nbsp;<br><br>(KMS
  Narayanan)<br>Assistant Director (Policy)<br>Ph.: 23387263</p>
<p>Copy to:</p>
<ol><li><p>F-Governance &nbsp;Section and web contents Officer to place
	this circular on the Ministry&nbsp;website.</p>
	</li><li><p>Guard File.</p>
</li></ol></body></html>