<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
 <p class="MsoNormal" style="text-align: right;"
  align="right"><b>General
 Circular No
 03/2014</b></p>
 <p class="MsoNormal" style="text-align: center;"
  align="center"><b>No.111212013-CL.V&nbsp;<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</b></p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">5t"
 Floor, 'A'
 Wing, Shastri 8hawan,<br>
 Dr. R.P. Road, New Delhi-116001.&nbsp;<br>
 Dated: 14/02/2014</p>
 <p class="MsoNormal">To<br>
 All Regional Directors,&nbsp;<br>
 All Registrar of Companies,&nbsp;<br>
 All Stakeholders.</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"><b>Subject: Clarification with
 regard to Section
 185 of the
 Companies Act, 2013.</b></p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,&nbsp;<br>
 This&nbsp;Ministry has received number of representations on the.
  applicability of
 Section 185 of the Companies Act, 2013 with reference to loans made,
 guarantee
 given or security provided under Section 372A of the Companies Act,
 1956. The
 issue has been examined with reference to applicability of Section 372A
 of the
 Companies Act, 1956 vis-n-vis Section 185 of the Companies Act, 2013.
 Section
 372A of the Companies Act, 1956,.specifically exempts any loans made,
 any
 guarantee given or security provided or any investment made by a
 holding
 company to its wholly owned subsidiary. Whereas, Section 185 of the
 Companies
 Act, prohibits guarantee given or any security provided by a holding
 company
 in .respect of any loan taken by its subsidiary company except in the
 ordinary
 course of business.</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: justify;">2.
 In order to
 maintain harmony
 with regard to applicability of Section 372A of the Companies Act, 1956
 till
 the some is repealed and Section 185 of the Companies Act, 2013 is
 notified, it
 is hereby clarified that any guarantee given or security provided by a
 holding
 company in respect of loans made by a bank or financial institution to
 its
 subsidiary company, exemption as provided in clause (d) of sub-section
 (8) of
 Section 372A of the Companies Act, 1956 shall be applicable till
 Section 186 of
 the. Companies Act, 2013 is notified. This clarification will, however,
 be
 applicable to cases where loans so obtained are exclusively utilized by
 the
 subsidiary for its principal business activities.</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right"><b>Yours
 faithfully,&nbsp;<br>
 (K: M; S: Narayanan)<br>
 Assistant Director (Policy)&nbsp;<br>
 Phone No. 23387263</b></p>
 <p class="MsoNormal">Copy to: Guard File.</p>
 </body>
 </html> 
