<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>42015 dated 10th March 2015</title></head><body>
<p style="widows: 132;" align="center"><b>General Circular No. 04/2015</b></p>
<p style="widows: 132;" align="center"><b>No. 1/32/2013-CL.V<br>Government
 of India<br>Ministry of Corporate Affairs</b></p>
<p style="widows: 2;" align="right">5th floor, 'A' wing, Shastri
 Bhavan&nbsp;<br>New Delhi - 110001</p>
<p style="widows: 2;" align="right">Dated: 10/03/2015</p>
<p>To</p>
<p>All Regional Directors,<br>All Registrar of Companies,&nbsp;<br>All
 Stakeholders.</p>
<p style="widows: 8;" align="justify"><b>Subject: Clarification with
 regard to section 185 and 186 of the Companies Act, 2013 - loans and
 advances to employees - reg.</b></p>
<p>Sir,</p>
<p style="widows: 8;" align="justify">This Ministry has received a
 number of references seeking clarification on the applicability of
 provisions of section 186 of the Companies Act, 2013 relating to
 grant of loans and advances by Companies to their employees.</p>
 <p style="widows: 8;" align="justify">2. The issue has been examined and
 it is hereby clarified that loans and/or advances made by the
 companies to their employees, other than the managing or whole time
 directors (which is governed by section 185) are not governed by the
 requirements of section 186 of the Companies Act, 2013. This
 clarification will, however, be applicable if such loans/advances to
 employees are in accordance with the conditions of service applicable
 to employees and are also in accordance with the remuneration policy,
 in cases where such policy is required to be formulated.</p>
<p style="widows: 8;" align="justify">3. This issues with the approval
 of the Secretary.</p>
 <p><br>
 </p>
 <p style="widows: 2;" align="right">Yours faithfully,<br><br><br>(KMS
 Narayanan)<br>Assistant Director<br>hone: 011-23387263</p> <p>Copy to:</p>
 <p>1. PSO to Secretary<br>2. PS to
 JS(M)/JS(B)/JS(A)/JS(SP)/DII(NS)/DII(P)<br>3. E-Gov. Cell for
 uploading on the MCA website<br>4. Guard File.</p></body></html>