<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;" align="right"><b>General
 Circular No.
 04 /2014</b></p>
 <p class="MsoNormal" style="text-align: center;" align="center"><b>No.
 1/32/2013- CL
 V (Pt. File)<br>
 Government of India<br>
 Ministry of Corporate Affairs</b></p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: right;" align="right">5th
 Floor, 'A' Wing,
 Shastri Bhavan,&nbsp;<br>
 Dr. R P Road, New Delhi-110001.<br>
 Dated: 25/03/2014</p>
 <p class="MsoNormal"><b>To</b></p>
 <p class="MsoNormal"><b>All Regional Directors,<br>
 All Registrar of Companies,<br>
 All the Stakeholders,</b></p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject:
 Clarification with
 regard to section 180 of the Companies Act, 2013.</b></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: justify;">This Ministry has
 received many
 representations regarding various difficulties arising out of
 implementation of
 section 180 of the Companies Act, 2013 with reference to borrowings
 and/or
 creation of security, based on the basis of ordinary resolution. The
 matter has
 been examined in the Ministry and it is hereby clarified that the
 resolution
 passed under section 293 of the Companies Act, 1956 prior to 12.09.2013
 with
 reference to borrowings (subject to the limits prescribed) and / or
 creation of
 security on assets of the company will be regarded as sufficient
 compliance of
 the requirements of section 180 of the Companies Act, 2013 for a period
 of one year
 from the date of notification of section 180 of the Act.</p>
 <p class="MsoNormal" style="text-align: right;" align="right"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: right;" align="right">Yours
 faithfully,<br>
 <br>
 KMS Narayanan<br>
 Assistant Director (Policy) Ph. no. 23387263</p>
 <p class="MsoNormal">Copy to: Guard File</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>

