 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">General Circular
 No. 05/2016<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style=""><span
  style="font-size: 12pt;">No. 05/01/2014-
 CSR<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style=""><span
  style="font-size: 12pt;">Government of
 India<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style=""><span
  style="font-size: 12pt;">Ministry of
 Corporate Affairs<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">5<sup>th</sup>
 Floor, A Wing,<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">Shastri Bhavan,
 Dr. R. P. Marg<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">New Delhi
 -110001<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">Dated - 16<sup>th</sup>
 May, 2016<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">To,<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">All
 Regional Directors,<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">All
 Registrar of Companies,<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">All
 stakeholders<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><b
  style=""><span style="font-size: 12pt;">Subject:
 - Clarification with regard to
 provisions of Corporate Social Responsibility under Section 135 of the
 Companies Act, 2013.<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><b
  style=""><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">In continuation
 to this Ministry's General Circular 01 of 2016 dated 12.01.2016, it is
 clarified that Companies, while undertaking Corporate Social
 Responsibility
 activities under provision of Companies Act, 2013, shall not contravene
 any
 other prevailing laws of the land including Cigarettes and other
 tobacco
 products Act, (COTPA), 2003.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">2. This issues
 with the approval of Competent Authority<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">Yours
 Faithfully,<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">Seema Rath<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">Dy. Director -
 CSR Cell<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">Tell-
 01123384657<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><b
  style=""><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 </body>
 </html>
 