<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">General Circular No.05/2014<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center">No. HQ/7/2002-Computerisation Government of India Ministry of Corporate Affairs<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">5th Floor, 'A' Wing, Shastri Bhawan,&nbsp;<br>
 Dr.R P. Road, New Delhi-110001<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Dated 28<sup>th</sup>&nbsp;March, 2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All Regional Directors<br>
 All Registrar of Companies<br>
 All Stakeholders<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Sub: Online payment of stamp duty and court fee stamp for issue of certified copies.</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">The Ministry has reviewed the 
 process of issue of certified copies of the documents filed with the 
 Registrar of companies. As per the existing process, in case a User applies for 
 the certified true copy of any document, he needs to pay MCA fee online at MCA portal. The fee is computed based on the number of documents required.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. Once the selection of documents is done and the requisite MCA fee is paid, the Stakeholder is required to approach the jurisdictional ROC along with the application and the acknowledgement of the fee paid. The application needs to be filed along with Stamp Papers of requisite value and the Court Fee stamp attached to the same. The amount of Stamp Duty as well as Court Fee varies from State to State. On receipt of the application, the respective ROC affix the certified documents on the Stamp paper and returns the same to the Stakeholder (Applicant) duly certified.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">3. With a view to identify and improve the component causing delay in issue of certified copy the Ministry has enabled payment of Stamp Duty as well as Court Fee online through MCA portal. This would enable the respective ROCs to send the certified documents without awaiting for physical stamp papers and any formal application (with Court Fee Stamp) in this regard.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">4. Amount of Court Fee shall be added to the MCA fee calculated by the system for getting Certified Copies. This would be based on the State in which the registered office of the company is situated. Court Fee would be added per SRN irrespective of number of documents applied for.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">5. Stamp duty for obtaining certified true copy would also be paid electronically through the system as per the existing process. The Stamp Duty would be calculated based on document, number of copies requested and the State wherein the registered office of the company is situated. Separate SRN will be generated for payment of Stamp Duty.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">6. After the application is completely processed; an acknowledgement for stamp duty payment shall be generated separately. The same to be appended to the certified copy of the document. The certified copy of the documents requested shall be sent to the stakeholder by the jurisdictional Registrar of Companies within 15 days by post. The Copies would be sent at the address of applicant mentioned in the challan.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">7. The Registrar of company shall ensure that the corresponding amount of court fee stamp is pasted against the record of despatch of certified copy or the print out of the challan for payment of MCA fee. The court fee stamp paid by ROC will be booked as Office expenses.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">8. The Circular shall be effective from 31.03.2014.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b>Yours faithfully<br>
 <br>
 <br>
 (Shyam Sunder)&nbsp;<br>
 Deputy Director</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Copy
 for information to:<br>
 1. PS to CAM<br>
 2. PPS to Secretary, Additional Secretary, Joint Secretaries.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
