<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">General Circular no 6/2014<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center">F. No:-MCA21/28/2014<br>
 Ministry of Corporate Affairs<br>
 Government of India<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">'A' Wing, 5th Floor, Shastri Bhawan&nbsp;<br>
 Dr. Rajendra Pd Road, New Delhi-11001<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Date: - 28/03/2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To,<br>
 All Regional Director<br>
 All Registrars of Companies<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Sub: - Roll out plan of various forms under the Companies Act, 2013 and continuance of forms under the provisions of Companies Act, 1956</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">I am directed to inform that this Ministry has notified 183 additional sections in addition to 99 sections earlier notified under the provisions of Companies Act, 2013. In this regard a Notification related to commencement of Companies Act, 2013 has been issued on 25/03/2014 which is available on the website of the Ministry.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. In order to facilitate the completion of notified sections this Ministry has planned a staggered roll out of various forms. It has been decided to waive fees for all event based filing whose due date falls between 01/04/2014 to 30/04/2014. For the same, a separate Circular is being issued by the Policy Cell of this Ministry.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">3. From 01/04/2014 to 14/04/2014 except existing e-forms mentioned in&nbsp;<b>Table "A"</b> no other e-forms will be available for filing. Other Front office portal services will continue. From 01/04/2014 to 13/04/2014 the period will be used for clearing pending e-forms already filed under the provisions of Companies Act, 1956.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b><u>Table "A"</u></b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <table class="MsoNormalTable"
  style="width: 461px; height: 1090px; font-family: Arial;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>S. No.</b><o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>Old form</b><o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>Purpose of form</b><o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">1<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">66<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
        <p class="MsoNormal">Form for submission of
 compliance certificate with the
 Registrar<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">14LLP<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for intimating to Registrar of Companies of conversion of the company into limited liability partnership (LLP).<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">20B<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing annual return by a company having a share capital with the Registrar<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">4<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">21A<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Particulars of annual return for the company not having share capital<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">5<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">23AC<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing balance sheet and other documents with the Registrar<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">6<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">23ACA<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing Profit and Loss account and other documents with the Registrar<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">7<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">23AC - XBRL<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing XBRL document in respect of Profit and Loss account and other documents with the Registrar<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">8<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">23ACA - XBRL<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing XBRL document in respect of balance sheet and other documents with the Registrar<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">9<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">23C<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form of application to the Central Government for appointment of cost auditor<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">10<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">23D<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for Information by Cost Auditor to Central Government<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">11<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">35A<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Information to be furnished in relation to any offer of a scheme or contract involving the transfer of shares or any class of shares in the transferor company to the transferee company<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">12<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">A-XBRL<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing XBRL document in respect of compliance report and other documents with the Central Government<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">13<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">FTE<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for striking off the name of company under the Fast Track Exit(FTE) Mode<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">14<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">I-XBRL<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing XBRL document in respect of cost audit report and other documents with the Central Government<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">15<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">5-INV<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Transfer unpaid dividend amount to IEPF<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">16<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">21<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Order of the court/authority till 14/04/2014<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">4. in addition to above, e-forms mentioned in Table “B” will also be available for filing<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><b><u>Table "B"</u></b><o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<table class="MsoNormalTable"
 style="width: 457px; height: 258px; font-family: Arial;"
 border="1" cellpadding="0" cellspacing="0">
  <tbody>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>S. No.</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>Old form</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>Purpose of form</b><o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Refund<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for requesting refund of fees paid<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">BankACC<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for simplifying bank account opening process as user shall not be required to submit any physical application form.<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Investor Complaint Form<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing complaint(s) against the company<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">5. From 14/04/2014, 39 new e-forms mentioned in Table "C" will be available on MCA portal for upload. Test version of these forms will be available from 28/03/2014 onwards. Final forms will be available from 14/04/2014.<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><b><u>Table
"C"</u></b><o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<table class="MsoNormalTable"
 style="width: 472px; height: 3402px; font-family: Arial;"
 border="1" cellpadding="0" cellspacing="0">
  <tbody>
    <tr style="">
      <td style="padding: 3.75pt; width: 27pt;" width="36">
      <p class="MsoNormal"><b>S. No.</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt; width: 62.25pt;" width="83">
      <p class="MsoNormal"><b>New form no.</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt; width: 235.5pt;" width="314">
      <p class="MsoNormal"><b>Purpose of form</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt; width: 84pt;" width="112">
      <p class="MsoNormal"><b>Old form</b><o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for reservation of name<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">1A<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">OPC- Application for Incorporation<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">OPC- Nominee consent form<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">4<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-4<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">OPC- Change in Member/Nominee<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">5<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-5<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">OPC- Intimation of cessation<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">6<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-6<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">OPC- Application for Conversion<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">7<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-7<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Incorporation of Co. (Other than OPC)<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">1<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">8<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-18<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application to Regional director for conversion of section 8 co. into any other kind of co.<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">9<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-20<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Intimation to Registrar of revocation/surrender of license issued u/s 8<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">10<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-21<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for commencement of business<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">19, 20<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">11<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-22<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Notice for situation or change of situation of registered office<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">18<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">12<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-23<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application to Regional director for approval to shift the registered office from one state to another state or from jurisdiction of one registrar to another within the state<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">1AD<br>
 24AAA<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">13<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-24<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for change of name<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">1B<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">14<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-27<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Conversion form Pvt. To public or vice-versa<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">1B, 62<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">15<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">INC-28<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Notice of order of the Court orTribunal or any other competent authority<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">21<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">16<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">PAS-3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Return of allotment<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">2<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">17<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">SH-7<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Notice to Registrar for alteration of share capital<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">5<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">18<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">SH-8<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">letter of offer<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">19<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">SH-11<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Return in respect of buy back of securities<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">4C<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">20<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">CHG-1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for registration of creation or modification of charge (other than debentures)<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">8<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">21<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">CHG.4<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Particulars of satisfaction of charge<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">17<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">22<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">CHG.6<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Notice of appointment or cessation of receiver or manager<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">15<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">23<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">CHG.9<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for registration of creation or modification of charge in case of debentures<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">10<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">24<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">MGT-14<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Filing of Resolutions and agreements to the Registrar under section 117<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">23<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">25<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">DIR-3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for allotment of Director Identification Number<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">DIN1<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">26<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">DIR-5<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Intimation of change in particulars of Director to be given to the Central Government<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">DIN4<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">27<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">DIR-7<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Notice of resignation of a director to the Registrar<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">28<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">DIR-8<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Particulars of appointment of directors and the key managerial personnel and the changes among them<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">32, 32AD<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">29<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">MR-1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Return of appointment of 
 managing director or whole time 
 director or manager<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">25C<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">30<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">MR-2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form of application to the 
 Central Government for approval 
 of appointment or reappointment and remuneration or increase in 
 remuneration 
 or waiver for excess or over payment to managing director or whole time 
 director or manager and commission or remuneration to directors<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">25A<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">31<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">URC-1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application by a company for 
 registration under section 
 366<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">37, 39<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">32<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">FC-1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Information to be filed by 
 foreign company<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">44<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">33<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">FC.2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Return of alteration in the 
 documents filed for 
 registration by foreign company<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">49, 52<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">34<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">FC.3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">List of all principal places of 
 business in India 
 established by foreign company<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">52<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">35<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">FC.4<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Annual Return<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">PTII<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">36<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">ADJ<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Memorandum of Appeal<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">37<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">MSC-1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application to ROC for 
 obtaining the status of dormant 
 company<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">38<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">MSC-2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Return of dormant companies<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">39<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">MSC-3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for seeking status 
 of active company<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">New form<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">6. There are 5 general e-forms and 2 e-forms mentioned in Table "D" will be available for filing w.e.f. 28/04/2014 will be available for filing 24 notified forms/events which will be made available for individual e-filing at a later date, can be attached with these 7 e-forms and filed. Details of physical forms allowed to be filed along with general e-forms are attached with this Circular.<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><b><u>Table
"D"</u></b><o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<table class="MsoNormalTable"
 style="width: 465px; height: 694px; font-family: Arial;"
 border="1" cellpadding="0" cellspacing="0">
  <tbody>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>S. No.</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>New form no.</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>Purpose of form</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>Old form</b><o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">GNL.1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing an application 
 with Registrar of Companies<o:p></o:p></p> 
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">61<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">GNL.2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for submission of documents with Registrar of Companies<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">62<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">CG.1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing application or 
 documents with Central 
 Government<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">65<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">4<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">GNL.3<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Particulars of person(s) or 
 director(s) or changed or 
 specified for the purpose of section 2(60)<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">1AA<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">5<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">MGT.6<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form of return to be filed with 
 the Registrar<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">22B<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">6<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">RD.1<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing application to 
 Regional Director<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">24A<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">7<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">RD.2<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Form for filing petitions to
 Central Government (Regional
 Director)<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">24AAA<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">7. In view  of above, you are requested to give wide publicity of the circular for dissemination of information.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">This issued with the approval of the competent authority.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Yours Faithfully<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">Encl:- As above<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">(Sanjay Kumar Gupta)<br>
 Deputy Director<br>
 23384657<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p style="font-family: Arial;" class="MsoNormal">Copy to<o:p></o:p></p>
<ol style="margin-top: 0cm; font-family: Arial;" start="1"
 type="1">
  <li class="MsoNormal" style="">PPS to CAM<o:p></o:p></li>
  <li class="MsoNormal" style="">PPS to Secretary<o:p></o:p></li>
  <li class="MsoNormal" style="">PPS to Additional Secretary<o:p></o:p></li>
  <li class="MsoNormal" style="">PPS to JS(R), JS(M), JS(B), JS(P)<o:p></o:p></li>
  <li class="MsoNormal" style="">PPS to DII(UCN), DII(BNH)<o:p></o:p></li>
  <li class="MsoNormal" style="">Dir(AK),DIR(AB),DIR(NC)<o:p></o:p></li>
</ol>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>
