<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p style="widows: 4; font-family: Arial;" align="center">General
 Circular No. 06/2015</p>
<p style="widows: 4; font-family: Arial;" align="center">File
 No. 5/3/ 13-CL.V&nbsp;<br>
 Government
 of India&nbsp;<br>
 Ministry of Corporate Affairs</p>
 <p style="widows: 2; font-family: Arial;" align="right">5th
 floor, 'A' wing, Shastri
 Bhavan&nbsp;<br>
 Dr. R P Road, New Delhi.&nbsp;<br>
 <b>Dated :
 9</b><sup><b>th</b></sup><b>&nbsp;April,
 2015</b></p>
 <p style="font-family: Arial;">All Regional Directors,<br>
 All Registrar of Companies,<br>
 All
 Stakeholders.</p>
 <p style="widows: 8; font-family: Arial;" align="justify"><b>Subject
 : Clarification under
 sub-section (7) of section 186 of the Companies Act, 2013</b></p>
 <p style="widows: 8; font-family: Arial;" align="justify">Sir,</p>
 <p style="widows: 8; font-family: Arial;" align="justify">Attention
 of this Ministry has
 been drawn to General Circular No 06/2013 dated 14.03.2013 vide which
 it was clarified that in cases where the effective yield (effective
 rate of return) on tax free bonds is greater than the yield on
 prevailing bank rate, there was no violation of Section 372A(3) of
 Companies Act, 1956. Stakeholders have requested for similar
 clarification w.r.t. corresponding section 186(7) of the Companies
 Act, 2013.</p>
<p style="widows: 8; font-family: Arial;" align="justify">2.
 The matter has been examined in
 the Ministry and it is hereby clarified that in cases where the
 effective yield (effective rate of return) on tax free bonds is
 greater than the prevailing yield of one year, three year, five year
 or ten year Government Security closest to the tenor of the loan,
 there is no violation of sub-section (7) of section 186 of the
 Companies Act, 2013.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">3.
 This issues with the approval
 of competent authority.</p>
<p style="widows: 8; font-family: Arial;" align="justify"><br>
</p>
<p style="widows: 2; font-family: Arial;" align="right">Yours
 faithfully,<br>
<br>
 (K.M.S.
 Narayanan)<br>
 Assistant Director<br>
 Phone 23387263</p>
<p style="font-family: Arial;"><br>
</p>
<p style="font-family: Arial;">Copy to :</p>
<p style="font-family: Arial;">1. All concerned<br>
 2. PS to CAM<br>
 3. PS to Secretary<br>
 4. PS to
 A.S.<br>
 5. PS to Joint Secretaries<br>
 6. E-Governance Cell for
 uploading this Circular in MCA 21.</p>
 </body>
 </html>
