<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p style="widows: 4; font-family: Arial;" align="center"><b>General
 Circular No. 07/2015</b></p>
 <p style="widows: 4; font-family: Arial;" align="center">F.
 No. 1/5/2013-CL-V&nbsp;<br>
 Government
 of India&nbsp;<br>
 Ministry of Corporate Affairs</p>
 <p style="widows: 2; font-family: Arial;" align="right">5th
 Floor, A Wing, Shastri
 Bhavan,<br>
 Dr R.P. Road, New Delhi&nbsp;<br>
 <b>Dated: 10</b><sup><b>th</b></sup><b>&nbsp;April,
 2015</b></p>
 <p style="font-family: Arial;">To</p>
 <p style="font-family: Arial;">All Regional Directors,<br>
 All Registrars of Companies,<br>
 All
 Stakeholders.</p>
 <p style="widows: 8; font-family: Arial;" align="justify"><b>Subject:
 Remuneration to
 managerial person under Schedule XIII of the Companies Act, 1956 -
 Clarification with regard to payment for period.</b></p>
 <p style="widows: 8; font-family: Arial;" align="justify">Sir,</p>
 <p style="widows: 8; font-family: Arial;" align="justify">Stakeholders
 have drawn attention
 to the provisions of Schedule XIII (sixth proviso to Para (C) of
 Section II of Part II) of the Companies Act, 1956 (Earlier Act) and
 as clarified vide Circular number 14/11/2012-CL-VII dated 16th
 August, 2012, which allowed listed companies and their subsidiaries
 to pay remuneration, without approval of Central Government, in
 excess of limits specified in para II Para (C) of such Schedule if
 the managerial person met the conditions specified therein.
 Stakeholders have expressed that since similar provisions are not
 available in the Schedule V of the Companies Act, 2013, there is a
 need for a clarification that a managerial person appointed in
 accordance with such provision of Schedule XIII of Earlier Act may
 receive relevant remuneration for the period as approved by the
 company in accordance with such provisions of Earlier Act.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">2.
 The matter has been examined in
 the light of earlier clarifications on transitional matters issued by
 the Ministry. It is clarified that a managerial person referred to in
 para 1 above may continue to receive remuneration for his remaining
 term in accordance with terms and conditions approved by company as
 per relevant provisions of Schedule XIII of earlier Act even if the
 part of his/her tenure falls after 1st April, 2014.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">3.
 This issues with the approval
 of the competent authority.</p>
 <p style="widows: 2; font-family: Arial;" align="right">Yours
 faithfully<br>
 <br>
 (K.M.S.
 Narayanan)<br>
 Assistant Director (Policy)&nbsp;<br>
 23387263</p>
 <p style="font-family: Arial;">Copy to:-</p>
 <p style="font-family: Arial;">1. e-Governance Section and
 web contents Officer to place this
 circular on the Ministry website<br>
 2. Guard File.</p>
 </body>
 </html> 
