 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta http-equiv="Content-Type"
  content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b>General Circular 08/2014</b><o:p></o:p></p>
 <p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center">No. 1/19/2013-CL-V&nbsp;<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs<o:p></o:p></p>
 <p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">5th Floor, 'A' Wing, Shastri Bhavan,&nbsp;<br>
 Dr. R P Road, New Delhi- 110 001.<br>
 <b>Dated 04.04.2014</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To<br>
 Ail Regional Directors,<br>
 All Registrar of Companies,<br>
 All Stakeholders.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject: Commencement of provisions of the Companies Act, 2013 with regard to maintenance of books of accounts and preparations/adoption/filing of financial statements, auditors report, Board's report and attachments to such statements and reports- Applicability with regard to relevant financial year.</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,<br> A number of provisions of the Companies Act, 2013 including those relating to maintenance of books of account, preparation, adoption &amp;. filing of financial statements (and documents required to be attached thereto), Auditors reports and the Board of Directors report (Board s report) have been brought into force with effect from 1st April, 2014. Provisions of Schedule II (Useful lives to compute depreciation) and Schedule III (Format of financial statements) have also been brought into force from that date. The relevant Rules pertaining to these provisions have also been notified, placed on the website of the Ministry and have come into force from the same date.<o:p></o:p></p>
 <p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">The Ministry has received requests for clarification with regard to the relevant financial year with effect from which such provisions of the new Act relating to maintenance of books of account, preparation, adoption and filing of financial statements (and attachments thereto), auditors report and Board's report will be applicable.<o:p></o:p></p>
 <p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">Although the position in this behalf is quite clear, to make things absolutely clear it is hereby notified that the financial statements (and documents required to be attached thereto), auditors report and Board's report in respect of financial years that commenced earlier than 1st April, 2014 shall be governed by the relevant provisions/ Schedules/ rules of the Companies Act, 1956 and that in respect of financial years commencing on or after 1st April, 2014, the provisions of the new Act shall apply.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>Yours faithfully,<br>
 <br>
 <br>
 (KMS Narayanan)<br>
 Assistant Director (Polict)<br>
 Ph: 23387263</b><o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">Copy to:<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">(i) e-governance section and web contents officer to place this circular on the website<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">(ii) Guard File<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>
