<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 style="line-height: 115%;" lang="EN-IN">General
Circular No. 08/2015<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><span
 style="line-height: 115%;" lang="EN-IN">File
No./l/40/2013/CL-V&nbsp;<br>
Government of India&nbsp;<br>
Ministry of Corporate Affairs<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 style="line-height: 115%;" lang="EN-IN">'A' Wing, 5th
floor, Shastri
Bhawan&nbsp;<br>
Dr. Rajendra Prasad Road, New Delhi-110001<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 style="line-height: 115%;" lang="EN-IN">Dated: 12th
June, 2015<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 style="line-height: 115%;" lang="EN-IN">To<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 style="line-height: 115%;" lang="EN-IN">All Regional
Directors,<br>
All Registrars of Companies,<br>
All Stakeholders<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="line-height: 115%;" lang="EN-IN">Sub: -
Extension of time for
filing of Notice of appointment of the Cost Auditor for the F.Y.
2015-16 in
Form CRA-2 and filing of cost audit report to the Central Government
for the
F.Y. 2014-15 in form CRA-4.<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 style="line-height: 115%;" lang="EN-IN">Sir,<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="line-height: 115%;" lang="EN-IN">The Ministry
has received
several representations about the non-availability of the revised form
CRA-2 on
MCA-21 required for filing of notice of appointment of the Cost Auditor
for the
F.Y. 2015-16, although the time limit for filing of the same has either
lapsed
or will be lapsing. The revised form CRA-2 has now been notified on
12th June,
2015 and is available on the MCA21 system for filing.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="line-height: 115%;" lang="EN-IN">2. In view of
the delay in
availability of revised Form CRA-2 on the MCA21 portal, however, the
additional
fee on account of any delay beyond the prescribed period of 30 days
from the
date of Board Meeting in which the appointment of the Auditor was made
for
filing of CRA-2 for the financial year starting on or after 1st April,
2015 is
waived for all such filings till 30th June, 2015.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="line-height: 115%;" lang="EN-IN">3. The
revised e-Form CRA-4
has also been notified vide the above mentioned notification and will
be made
available on MCA-21 portal shortly. Therefore, on the similar lines
mentioned
in above paras, additional fees on delayed filing of form CRA- 4 beyond
the
prescribed period of 30 days from the date of receipt of a copy of Cost
Audit
Report from the Cost Auditor for the Financial Year starting on or
after 1st
April, 2014 is also waived for all such filings till 31st August, 2015.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="line-height: 115%;" lang="EN-IN">4. This
issues with the
approval of the Competent Authority.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 style="line-height: 115%;" lang="EN-IN">Yours
faithfully,<br>
<br>
(K.M.S. Narayanan)<br>
Assistant Director Tel: 23387263<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 style="line-height: 115%;" lang="EN-IN">Copy to:<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 style="line-height: 115%;" lang="EN-IN">1.
E-governance Section and web content officer to place this circular on
the Ministry’s website.<br>
2. File No. 52/22/CAB/2015<o:p></o:p></span></p>
</body>
</html>
