<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">General
Circular No.09/2015<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><span
 lang="EN-IN">No.
1/8/2013-CL-V&nbsp;<br>
Government of India&nbsp;<br>
Ministry of Corporate Affairs<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">5th
Floor, A Wing, Shastri Bhavan,&nbsp;<br>
Dr R.P. Road, New Delhi<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">Dated:
18th June, 2015<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">To<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">All Regional Directors,<br>
All Registrars of Companies,<br>
All Stakeholders.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">Subject:
Clarification on repayment of deposits accepted by the companies before
the
commencement of the Companies Act, 2013 under section 74 of the said Act<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">Sir,<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">This Ministry
has received representations seeking clarification regarding processing
of the deposits
related complaints received from investors under section 74 of the
Companies
Act, 2013 (the said Act) in respect of defaults made by companies in
repayment
of deposits accepted by them before the commencement of the said Act
i.e.
before 1st April, 2014 and filing of prosecutions against defaulting
companies
by the Registrars of Companies/Regional Directors.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">2. The matter
has been examined in the Ministry and it is clarified that vide Removal
of
Difficulties (Second) Order [S.O. 1428(E)] dated 2nd June, 2014 and
Removal of
Difficulties (Fourth) Order [S.O. 1460(E)] dated 6th June, 2014, the
Company
Law Board has been empowered to exercise the powers of National Company
Law
Tribunal under sub-section (4) of section 73 and sub-section (2) of
section 74
of the said Act, till the latter’s constitution. Thus, a depositor is
free to
file an application under section 73(4) of the said Act, with the
Company Law
Board if the company fails to make repayment of deposits accepted by
it.
Further the company may also file application under section 74(2) of
the said
Act with the Company Law Board seeking extension of time in making the
repayment of deposits accepted by it before the commencement of the
provisions
of the said Act .<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">3. Further,
attention is also drawn to Explanation appearing below Rule 19 of the
Companies
(Acceptance of Deposits) Rules, 2014 which clarifies the conditions
subject to
which a company would be deemed to have complied with the requirements
laid
down in Section 74(l) (b) of the Companies Act, 2013. Companies can
repay
deposits accepted prior to 1st April, 2014 in accordance with terms and
conditions for which the deposits had been accepted.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">4. It is also
clarified that there is no bar on the Registrar of Companies for filing
of
prosecution against a company if such company fails to make repayment
of
deposits accepted by it under the provisions of the Companies Act, 1956
or
Companies Act, 2013, subject to the contents of para 3 above.<br>
This issues with the approval of the competent authority.<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">Yours
faithfully<br>
<br>
(KMS Narayanan)&nbsp;<br>
Assistant Director (Policy)<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">Copy to:-<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">1. e-Governance Section and web contents
Officer to place this circular on the Ministry website<br>
2. Guard File<o:p></o:p></span></p>
</body>
</html>
