<p align="right">
    General Circular No: 09/2016
</p>
<p align="center">
    No. 1/21/2013-CL-V
</p>
<p align="center">
    Government of India
</p>
<p align="center">
    Ministry of Corporate Affairs
</p>
<p align="right">
    5<sup>th</sup> Floor,"A" wing, Shastri Bhavan,
</p>
<p align="right">
    Dr. R.P.Road, New Delhi
</p>
<p align="right">
    Dated: 03.08.2016
</p>
<p>
    To,
</p>
<p>
    All Regional Directors,
</p>
<p>
    All Registrar of Companies,
</p>
<p>
    <strong>
        Subject: Issuance of Rupee bonds to overseas investors by Indian
        Companies - Clarification regarding applicability of provisions of
        Chapter III of the Companies Act, 2013.
    </strong>
</p>
<p>
    Sir,
</p>
<p>
    The Ministry have received references from stakeholders seeking clarity on
    applicability of provisions of Chapter III of the Companies Act, 2013 (Act)
    and Rule 18 of Companies (Share Capital and Debenture ) Rules, 2014 to the
    issue of rupee bonds by Indian companies exclusively to person resident
    outside India in accordance with applicable sectoral regulatory provisions.
</p>
<p>
    2. The matter has been examined by the Ministry in consultation with
    Reserve Bank of India. The matter related to issue of rupee denominated
    bonds to overseas investors is being regulated by RBI as part of ECB policy
    framework. It is accordingly, clarified that unless otherwise provided in
    the circular/directions/regulations issued by Reserve Bank of India,
    provisions of Chapter III of the act and rule 18 of Companies (Share
    capital and debentures) Rules, 2014 would not apply to issue of rupee
    denominated bonds made exclusively to persons resident outside India in
    accordance with applicable sectoral regulatory provisions as stated above.
    Necessary changes in Companies (Share capital and Debentures) Rules, 2014
    in this regard are being made.
</p>
<p>
    3. This issues with the approval of the Competent authority.
</p>
<p align="right">
    Yours Faithfully,
</p>
<p align="right">
    (K.M.S. Narayanan)
</p>
<p align="right">
    Assistant Director (Policy)
</p>