<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<div style="font-family: Arial;" align="center">
<table class="MsoNormalTable" style="width: 100%;"
 border="0" cellpadding="0" width="100%">
  <tbody>
    <tr style="">
      <td style="padding: 0.75pt; width: 348.75pt;"
 width="465">
      <p class="MsoNormal" style="text-align: right;"
 align="right"><b><u>General Circular No.09/2014</u></b><o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 0.75pt;">
      <p class="MsoNormal" style="text-align: center;"
 align="center">MCA21/28/2014-E-Gov<br>
      <b>General Circular No.09/2014<br>
 Ministry of Corporate Affairs<br>
 Government of India</b><o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 0.75pt;">
      <p class="MsoNormal" style="text-align: right;"
 align="right"><b>'A' Wing, 5th Floor,<br>
 Shastri Bhawan<br>
 Dr. R. P. Road,<br>
 New Delhi-ii0001.<br>
 Dated 2 5 th AprIl, 2014</b><o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 0.75pt;">
      <p class="MsoNormal"><b>To,<br>
 All Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.<br>
      </b><br>
      <b>Sub- Availability of E-forms/non-e-forms under the Companies Act, 2013-reg.</b><o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 0.75pt;">
      <p class="MsoNormal">Sir,<o:p></o:p></p>
      <ol style="margin-top: 0cm;" start="1" type="1">
        <li class="MsoNormal" style="text-align: justify;">In continuation of General Circular No. 6 of 2014, am directed to inform that wet. 28th April 2014, 46 e-forms including 3 general e-forms will be available for filing by the stakeholders. The 3 General e-Forms will be used for filing 17 forms which are not available as e-forms as on date. Details of these 17 forms and corresponding 3 e-Forms with which these will be filed as attachments are given hereunder in Table "A".<o:p></o:p></li>
        <li class="MsoNormal" style="text-align: justify;">The stakeholders will fill the 17 Forms physically and get it duly signed/certified by the professionals, if applicable, as per the requirement of the forms and attach these with the prescribed General e-Form as given in attached Table 'A'. The arrangement will continue till the 17 Forms are made available as e-Forms.<o:p></o:p></li>
        <li class="MsoNormal" style="text-align: justify;">In addition to filing of the 11Forms, stakeholders can also file application for seeking extension of date of AGM/ Accounting period by filing form GNL-1. Documents in respect of Companies under liquidation will also be allowed to file along with form GNL-2. Documents in respect of particulars of person(s) or Directors charged or specified for the purpose of section 2(60) of the Companies Act, 2013 will be allowed to file along with form GLN-3 Documents/ forms for filing petitions to Central Government will be allowed to file with form RD-2.<o:p></o:p></li>
        <li class="MsoNormal" style="text-align: justify;">It is hereby clarified to all ROCs that dealing hand approving officers are required to check the physically attached form thoroughly for all fields including name of company and CIN etc. before registry or according approval, etc.<o:p></o:p></li>
        <li class="MsoNormal" style="text-align: justify;">This issue with the approval of the competent authority.<o:p></o:p></li>
      </ol>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 0.75pt;">
      <p class="MsoNormal" style="text-align: right;"
 align="right"><b>Yours faithfully,</b><o:p></o:p></p>
      <p class="MsoNormal" style="text-align: right;"
 align="right">(KIS Narayanan)<br>
 Assistant Director<br>
 23387263<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
</div>
<p style="font-family: Arial;" class="MsoNormal"><b><u>Table
 A</u><o:p></o:p></b></p>
<div style="font-family: Arial;" align="center">
<table class="MsoNormalTable"
 style="width: 100%; height: 2250px;" border="1"
 cellpadding="0" cellspacing="0">
  <tbody>
    <tr style="">
      <td colspan="4"
 style="border: medium none ; padding: 6pt;">
      <p class="MsoNormal"><b>Filing of Forms as an
 Attachment to certain e-Forms</b><o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;">
      <p class="MsoNormal"><b>Si. No.<o:p></o:p></b></p>
      </td>
      <td style="padding: 6pt;">
      <p class="MsoNormal"><b>General e-Form<o:p></o:p></b></p>
      </td>
      <td style="padding: 6pt;">
      <p class="MsoNormal"><b>Form to be attached
 with General e-Form<o:p></o:p></b></p>
      </td>
      <td style="padding: 6pt;">
      <p class="MsoNormal"><b>Subject/Purpose of
 Form to be attached<o:p></o:p></b></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">1.<o:p></o:p></p>
      </td>
      <td rowspan="11" style="padding: 6pt;"
 valign="top">
      <p class="MsoNormal">GNL-2<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">PAS-2<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">INFORMATION MEMORANDUM<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">2.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">PAS-4<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;">
      <p class="MsoNormal">PRIVATE PLACEMENT OFFER LETER<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">3.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">SH-9<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">DECLARATION OF SOLVENCY<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">4.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">DPT-1.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">CIRCULAR OF ARVETISMENT FOR
 DEPOSITS<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">5.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">DPT-3<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">RETURN OF DEPOSITS<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">6.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">DPT-4<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">RETURN OF DEPOSIT EXISTING AT
 COMMECEMENT<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">7.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">ADT-1<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">NOTICE OF APPOINTMENT OF
 AUDITOR BY COMPANY<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">8.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">ADT-3<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">NOTICE OF RESIGNATION BY AUDITOR<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">9.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">DIR-9<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">REPORT BY COMPANY TO ROC FOR
 DIN OF EXISTING DIRECTOR<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">10.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">NDH-1<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">RRETURN OF STATUTORY
 COMP1.A1NCES BY N1DH1 COMPANY<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">11.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">NDH-3<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">HALF YEARLY RETURN BY NIDHI
 COMPANY<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">12.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;">
      <p class="MsoNormal">CG-1<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">DIR-1O<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">FORM OF APPLICATION FOR REMOVAL
OF DISQUALIFICATION<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">13.<o:p></o:p></p>
      </td>
      <td rowspan="5" style="padding: 6pt;"
  valign="top">
      <p class="MsoNormal">RD-i<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">CHG-8<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">APPLICATION TO CG FOR
 CONDONATION OF DELAY<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">14.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">MGT-3<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">NOTICE OF SITUATION OR CHANGE
 OF SITUATION OF REGISTERED
 OFFICE AND VERIFICATION<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">15.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">ADT-2<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;">
      <p class="MsoNormal">APPLICATION FOR REMOVAL OF
 AUDITORS<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">16.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">DIR-5<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">APPLICATION FOR SURRENDER OF DIN<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">17.<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">NDH-2<o:p></o:p></p>
      </td>
      <td style="padding: 6pt;" valign="top">
      <p class="MsoNormal">APPLICATION FOR EXTENSION OF
 TIME TO RD<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
</div>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>
