<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b><span
 lang="EN-IN">General
Circular No. 10/2015</span></b><span lang="EN-IN"><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><span
 lang="EN-IN">F.No.
01/34/2013 CL-V<br>
Government of India<br>
Ministry of Corporate Affairs<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">5th
Floor, 'A' Wing, Shastri Bhawan,&nbsp;<br>
Dr. Rajendra Prasad Road, New Delhi-1<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">Dated:
13/07/2015<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">To<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">All Regional Directors,<br>
All Registrar of Companies,<br>
All Stakeholders.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b><span
 lang="EN-IN">Subject:
Relaxation of additional fees and extension of last date of in filing
of forms
MGT-7 (Annual Return) and AOC-4 (Financial Statement) under the
Companies Act,
2013-reg.</span></b><span lang="EN-IN"><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">Sir,<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">This Ministry
has clarified vide General Circular 8/2014 dated 04/04/2014 that
provisions of
the Companies Act, 2013 relating to financial statements, auditors
report and
board s report shall apply in respect of financial years commencing on
or after
1st April, 2014. Form AOC-4 or Form AOC-4 XBRL (Format of filing of
financial
statement) shall, as applicable, have to be used for filing of such
statement
for financial years commencing on or after 1st April, 2014. Attention
is also
invited to this Ministry's General Circular 22/2014 dated 25/06/2014
wherein it
has been clarified that MGT-7 (Form of Annual Return) shall apply to
annual
returns in respect of financial years ending after 1st April, 2014.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">2. The
electronic versions of Forms AOC-4, AOC-4 XBRL and MGT-7 are being
developed
and shall be made available for electronic filing latest by 30th
September
2015. In addition, a separate form for filing of Consolidated Financial
Statement (CFS) with the nomenclature AOC-4 CFS will be made available
latest
by October 2015. MGT-7 has been notified while AOC-4, AOC-4 XBRL and
AOC-4 CFS
will be notified shortly.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">3. In view of
this, it has been decided to relax the additional fee payable on Forms
AOC-4,
AOC-4 XBRL and Form MGT-7 upto 31/10/2015. Further, a company which is
not
required to file its financial statement in XBRL format and is required
to file
its CFS would be able to do so in the separate form for CFS without any
additional fees upto 30/11/2015.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">4. This issues
with the approval of the competent authority.<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN"><br>
<br style="">
<!--[if !supportLineBreakNewLine]--><br style="">
<!--[endif]--><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">Yours
faithfully<br>
<br>
(Kamna Sharma)&nbsp;<br>
Assistant Director<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">Copy to :-<br>
1. E- Governance Section<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
</body>
</html>
