<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b><span
 lang="EN-IN">General
Circular No. 11/2015</span></b><span lang="EN-IN"><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><span
 lang="EN-IN">No.
1/ 19/2013-CL-V&nbsp;<br>
Government of India&nbsp;<br>
Ministry of Corporate Affairs<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">5th
Floor, A Wing, Shastri Bhavan,<br>
Dr R.P. Road, New Delhi<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">Dated
21st July 2015<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">To<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">All Regional Directors,<br>
All Registrars of Companies,<br>
All Stakeholders.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b><span
 lang="EN-IN">Subject:
Clarification with regard to circulation and filing of financial
statement
under relevant provisions of the Companies Act, 2013-reg.</span></b><span
 lang="EN-IN"><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">Sir,<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">Stakeholders
have drawn attention to the proviso to section 101(1) of the Companies
Act,
2013 (Act) which allows general meetings to be called at a shorter
notice than
twenty one days, and sought clarification as to whether provisions of
section
136 would also allow circulation of financial statements at a shorter
notice if
conditions under section 101 are fulfilled.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">1.2 The matter
has been examined and it is clarified that a company holding a general
meeting
after giving a shorter notice as provided under section 101 of the Act
may also
circulate financial statements (to be laid/considered in the same
general meeting)
at such shorter notice.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">2.1 Attention
has also been drawn to the provisions of clause (a) of fourth proviso
to
section 136(1) which require every company having a subsidiary or
subsidiaries
to place on its website, if any, separate audited accounts in respect
of each
of its subsidiary. Further, fourth proviso to section 137(l)requires
that a
company shall attach along with its financial statements to be filed
with the
Registrar, the accounts of its subsidiary(ies) which have been
incorporated
outside India and which have not established their place of business in
India.
Clarification has been sought on -<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">(a) Whether a
company covered under above provisions can place/file unaudited
accounts of a
foreign subsidiary if the audit of such foreign subsidiary is not a
mandatory
legal requirement in the country where such foreign subsidiary has been
incorporated and such audit has not been conducted, and;<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">(b) Whether
accounts of such foreign subsidiary would need to be as per format
under
Schedule 111/Accounting Standards or the format as per country of
incorporation
of the foreign subsidiary would be sufficient.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">2.2 The matter
has been examined in the Ministry in consultation with 1CAI and it is
clarified
that in case of a foreign subsidiary, which is not required to get its
accounts
audited as per legal requirements prevalent in the country of its
incorporation
and which does not get such accounts audited, the holding/parent Indian
may
place/file such unaudited accounts to comply with requirements of
Section 136(1)
and 137(1) as applicable. These, however, would need to be translated
in
English, if the original accounts are not in English. Further, the
format of
accounts of foreign subsidiaries should be, as far as possible, in
accordance
with requirements under Companies Act, 2013. In case this is not
possible, a
statement indicating the reasons for deviation may be placed/ filed
along with
such accounts.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">This issues with
the approval of the competent authority.<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN"><br>
<br style="">
<!--[if !supportLineBreakNewLine]--><br style="">
<!--[endif]--><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">Yours
faithfully <br>
<br>
(K.M.S Narayanan)<br>
Assistant Director<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">Copy to:-<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN">1. e-Governance Section and Web Contents
Officer to place this circular on the Ministry’s website<br>
2. Guard File<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
</body>
</html>
