<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
 <p class="MsoNormal" style="text-align: right;" align="right"><b>General
  Circular No.
  12/2014</b></p>
<p class="MsoNormal" style="text-align: center;" align="center">F.No.1/12/2013
 CL-V<br>
 Government of India<br> 
 Ministry of Corporate Affairs</p>
 <p class="MsoNormal" style="text-align: right;" align="right">'A' Wing,
 5th Floor,
 Shastri Bhawan,&nbsp;<br>
 Dr. Rajendra Prasad Road, New Delhi-110001</p>
<p class="MsoNormal" style="text-align: right;" align="right">Dated: 22<sup>nd</sup>&nbsp;May,
  2014</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal">To</p>
 <p class="MsoNormal">All Regional Directors,</p>
 <p class="MsoNormal">All Registrar of Companies,</p>
 <p class="MsoNormal">All Stakeholders.</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: justify;"><b>Sub: Applicability
  of PAN
  requirement for Foreign Nationals.</b></p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,</p>
 <p class="MsoNormal" style="text-align: justify;">Attention of Ministry
  has been
  drawn to difficulties being faced by Foreign Nationals while filing
  Incorporation form (INC-7) due to mandatory requirement of submission
  of PAN
  details of intending Directors at the time of filing the application
  for
  incorporation.</p>
  <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal" style="text-align: justify;">2. It is hereby
  clarified that
  PAN details are mandatory only for those foreign nationals who are
  required to
  possess "PAN" in terms of provisions of the Income Tax Act, 1961 on
  the date of application for incorporation. Where the intending Director
  who is
  a Foreign National is not required to compulsorily possess PAN, it will
  be
  sufficient for such a person to furnish his/her passport number,
   along with
  undertaking stating that provisions of mandatory applicability of PAN
  are not
  applicable to the person concerned. The form of Declaration is required
  to be
  made in the proforma enclosed.</p>
  <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal" style="text-align: justify;">3. This issues with
  the approval
  of Competent Authority.</p>
  <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
   <p class="MsoNormal" style="text-align: right;" align="right">Yours
  faithfully,<br>
<br>
<br>
  (K.M.S. Narayanan)&nbsp;<br>
  Assistant Director&nbsp;<br>
 Tel: 23387263</p>
 <p class="MsoNormal">Encl. As above.</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal">Copy to:&nbsp;<br>
  1. PSO to Secretary<br>
  2. PPS to Additional Secretary<br>
  3. PS to JS(M)/JS(B)/JS(SP)<br>
  4. DIR(AK)/DIR(AB)/DIR(NC)/DIR(PS)</p>
  <p class="MsoNormal"><br style="">
  <br style="">
  </p>
  <p class="MsoNormal" style="text-align: center;" align="center"><b><u>Undertaking</u></b></p>
  <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal" style="text-align: justify;">I_____ (name)
  ____________ , son
  of______ (father's name) ________, citizen of______ (nationality)
  _________
  having passport No, _________ (passport Number) _________declare as
  under:</p>
  <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal" style="text-align: justify;">(i) That I am not
  required under
  the provisions of Income Tax Act, 1961 to obtainIncome Tax Permanent
  Account
  Number (PAN);</p>
  <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal" style="text-align: justify;">(ii) That in view of
  the above I
  have not been issued any PAN; and</p>
  <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal" style="text-align: justify;">(iii) That I
  undertake to furnish
  to the Registrar of Companies (mention jurisdiction) details of my PAN
  as soon
  as a Permanent Account Number is issued to me.</p>
  <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
  <table class="MsoNormalTable" style="width: 100%;" border="0"
  cellpadding="0" cellspacing="0" width="100%">
  <tbody>
  <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal">Date:</p>
  </td>
 <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="text-align: right;" align="right">(Signature)</p>
   </td>
  </tr>
  </tbody>
  </table>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 

