<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>132016 dated 5th December 2016</title>

</head><body>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center">General
Circular 13/2016<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center">No.
05/05/2016<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center">Government
of India<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center">Ministry
of Corporate Affairs<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">5<sup>th</sup>
Floor. &#8220;A Wing&#8221;<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">Shastri
Bhawan, Dr. R.P.Road<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">New
Delhi 110001 <o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">Dated:-
05.12.2016<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">To,
<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">All
Stakeholders,<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">Nodal
Officer&#8217;s (IEPF) of Concerned
Companies,<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">All
Regional Directors &amp;
Registrar of Companies Min. of Corp. Affairs<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b>Subject:-
Clarification regarding Filing of offline Challans with IEPF Authority<span style="">&nbsp; </span>under Companies Act, 2013<o:p></o:p></b></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><o:p>&nbsp;</o:p></b></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><o:p>&nbsp;</o:p></b></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">Sir,<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">In
accordance with Investor
Education and Protection Fund(Accounting, Audit, Transfer and Refund)
Rules,
2016 notified on 05.09.2016, it is mandatory for the companies
depositing
amounts to IEPF under section 125 of Companies Act, 2013 to :-<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(i)
generate Challan online only<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(ii)
file form IEPF-1 mentioning
SRN No. of Challan (online mode only)<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">2.
All companies transferring the
amount to IEPF are, therefore, requested to ensure that the above
procedure is
followed. The challans not generated on MCA 21 portal<span style="">&nbsp;
</span>will not be accepted after 15.12.2016.<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">3.
This issues with the approval of
competent authority<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">Yours
Faithfully,<o:p></o:p></p>
<p class="MsoNormal" style="margin-right: 25pt; text-align: right; text-indent: 0.5in; line-height: 15pt; font-family: Arial;" align="right">Sd/-<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">Monica
Gupta<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">Deputy
Director<o:p></o:p></p>
</body></html>