<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General Circular no. 13/2014</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center">F. No. : MCA21/28/2014-e. Gov.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b>Government of India</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b>Ministry of Corporate Affairs</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">'A' Wing, 5<sup>th</sup>&nbsp;Floor, Shastri Bhawan<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Dr. Rajendra Prasad Road, New Delhi 110001<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>Date: 23.05.2014</b><o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">All Regional Directors,<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">All Registrar of Companies,<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">All Stakeholders.<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">&nbsp;<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b>Subject: &nbsp; Extension of validity period for names reserved as on 31<sup>st</sup>&nbsp;March, 2014.</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">In continuation of the General Circular No. 11/2014 dated 12.05.2014, approval of the Competent Authority is hereby conveyed to extend continuity of all reserved names as on 31<sup>st</sup>&nbsp;March, 2014 for another fifteen days period from the date of issue of this circular.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">This issues with approval of Competent Authority<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">&nbsp;<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Yours faithfully,<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Sd/-<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">(KMS Narayanan)<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Asstt. Director<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">23387263<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">&nbsp;<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>
