<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;" align="right"><b>General
 Circular No.
 14/2014</b></p>
<p class="MsoNormal" style="text-align: center;" align="center"><b>No.
1/22/2013-CL-V&nbsp;<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</b></p>
<p class="MsoNormal" style="text-align: right;" align="right">5th
 Floor, A Wing,
Shastri Bhavan,&nbsp;<br>
Dr R.P. Road, New Delhi</p>
<p class="MsoNormal" style="text-align: right;" align="right">Dated: 9<sup>th</sup>&nbsp;June,
2014</p>
<p class="MsoNormal">To</p>
<p class="MsoNormal"><b>All Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.</b></p>
 <p class="MsoNormal"><b>Subject: Clarifications on Rules prescribed
 under the
 Companies Act, 2013 - Matters relating to appointment and
 qualifications of
 directors and Independent Directors - reg.</b></p>
 <p class="MsoNormal">Sir,</p>
 <p class="MsoNormal" style="text-align: justify;">Government has
 received
 representations from Industry Chambers, Professional Institutes and
 other
 stakeholders seeking clarifications inter alia about appointment of
 Independent
 Directors (IDs) under the relevant provisions of the Companies Act,
 2013 (Act)
 read with relevant rules with effect from 1st April, 2014. The
 representations
 have been examined and clarifications on the following points are
 hereby
 given:-</p>
 <p class="MsoNormal" style="text-align: justify;">(i) Section
 149(6)(c): "pecuniary
 interest in certain transactions" :- (a) This provision inter alia
 requires
 that an 'ID' should have no 'pecuniary relationship' with the company
 concerned
 or its holding/ subsidiary/ associate company and certain other
 categories
 specified therein during the current and last two preceding financial
 years.
 Clarifications have been sought whether a transaction entered into by
 an 'ID'
 with the company concerned at par with any member of the general public
 and at
 the same price as is payable/ paid by such member of public would
 attract the
 bar of 'pecuniary relationship' under section 149(6)(c). The matter has
 been
 examined and it is hereby clarified that in view of the provisions of
 section
 188 which take away transactions in the ordinary course of business at
 arm's
 length price from the purview of related party transactions, an 'ID'
 will not
 be said to have 'pecuniaiy relationship' under section 149(6)(c) in
 such cases.</p>
 <p class="MsoNormal" style="text-align: justify;">(b) Stakeholders have
 also sought
 clarification whether receipt of remuneration, (in accordance with the
 provisions of the Act) by an 'ID' from a company would be considered as
 having
 pecuniary interest while considering his appointment in the holding
 company,
 subsidiary company or associate company of such company.</p>
 <p class="MsoNormal" style="text-align: justify;">The matter has been
 examined in
 consultation with SEBI and it is clarified that 'pecuniary
  relationship'
 provided in section 149(6)(c) of the Act does not include receipt of
 remuneration, from one or more companies, by way of fee provided under
 sub-section (5) of section 197, reimbursement of expenses for
 participation in
 the Board and other meetings and profit related commission approved by
 the
 members, in accordance with the provisions of the Act.</p>
 <p class="MsoNormal" style="text-align: justify;">(ii) Section 149:
 Appointment of
 'IDs' : Clarification has been sought if IDs' appointed prior to April
 1, 2014
 may continue and complete their remaining tenure, under the provisions
 of the
 Companies Act, 1956 or they should demit office and be re-appointed
 (should the
 company so decide) in accordance with the provisions of the new Act.</p>
 <p class="MsoNormal" style="text-align: justify;">The matter has been
 examined in
 the light of the relevant provisions of the Act, particularly section
 149(5)
 and 149(10) &amp; (11). Explanation to section 149(11) clearly provides
 that
 any tenure of an 'ID' on the date of commencement of the Act shall not
 be
 counted for his appointment/holding office of director under the Act.
 In view
 of the transitional period of one year provided under section 149(5),
 it is
 hereby clarified that it would be necessary that if it is intended to
 appoint
 existing 'IDs' under the new Act, such appointment shall be made
 expressly
 under section 149(10)/(11) read with Schedule IV of the Act within one
 year
 from 1st April, 2014, subject to compliance with eligibility and other
 prescribed conditions.</p>
 <p class="MsoNormal" style="text-align: justify;">(iii) Section 149(
 10) /(11) -
 Appointment of 'IDs' for less than 5 years:- Clarification has been
 sought as
 to whether it would be possible to appoint an individual as an IP for a
 period
 less than five years.</p>
 <p class="MsoNormal" style="text-align: justify;">It is clarified that
 section
 149(10) of the Act provides for a term of "upto five consecutive years"
 for an
 'ID'. As such while appointment of an 'ID' for a term of less than five
 years
 would be permissible, appointment for any term (whether for five years
 or less)
 is to be treated as a one term under section 149(10) of the Act.
 Further, under
 section 149(11) of the Act, no person can hold office of 'IP' for more
 than
 'two consecutive terms'. Such a person shall have to demit office after
 two
 consecutive terms even if the total number of years of his appointment
 in such
 two consecutive terms is less than 10 years. In such a case the person
 completing 'consecutive terms of less than ten years' shall be eligible
 for
 appointment only after the expiry of the requisite cooling-off period
 of three
 years.</p>
 <p class="MsoNormal" style="text-align: justify;">(iv) Appointment of
 'IDs' through
 letter of appointment:- With reference to Para IV(4) of Schedule IV of
 the Act
 (Code for IDs) which requires appointment of 'IDs' to be formalized
 through a
 letter of appointment, clarification has been sought if such
 requirement would
 also be applicable for appointment of existing 'IDs'?</p>
 <p class="MsoNormal" style="text-align: justify;">The matter has been
 examined. In
 view of the specific provisions of Schedule IV, appointment of IDs'
 under the
 new Act would need to be formalized through a letter of appointment.</p>
 <p class="MsoNormal" style="text-align: justify;">This issues with the
 approval of
 the competent authority.</p>
 <p class="MsoNormal" style="text-align: right;" align="right"><b>Yours
 faithfully<br>
 <br>
 <br>
 (Kamna Sharma)&nbsp;<br>
 Assistant Director</b></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal">Copy to:-<br>
 1. e-Governance Section and Web Contents Officer to place this circular
 on the
 Ministry's website<br>
 2. Guard File</p>
 </body>
 </html>  

