<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">General Circular No.15/2013<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b>F. No.01/12/2013-CL-V<br>
 Government of India<br>
 Ministry of Corporate Affairs</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">5th Floor, 'A' Wing,<br>
 Shastri Bhawan,<br>
 Dr.Rajendra Prasad Road, New Delhi-1<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Dated 13.09.2013<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">All Regional Directors,<br>
 All Registrar of Companies.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">Subject: Clarification on the notification dated 12.9.2013.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">The Companies Act 2013 received the assent of the President on 29th August, 2013 and was notified in the Gazette of India on 30th August, 2013. Towards the proper implementation of the Companies Act 2013, first tranche of Draft Rules on 16 Chapters have been placed on the website of the Ministry on 9.9.2013 for inviting comments and objections/suggestions from the general public/stakeholders. Of the 16 Chapters, only 13 Chapters require specifying of Forms referred to in those Chapters. The draft Forms shall be placed on the website shortly.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">2. &nbsp; Ministry of Corporate Affairs has also notified 98 sections for implementation of the provisions of the Companies Act, 2013 (the "said Act") on 12.9.2013. Certain difficulties have been expressed by the stakeholders in the implementation of following provisions of the said Act. With a view to facilitate proper administration of the said Act, it is clarified that—<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">(i) Sub-section (68) of section 2:- Registrar of Companies may register those Memorandum and Articles of Association received till 11.9.2013 as per the definition clause of the 'private company' under the Companies Act 1956 without referring to the definition of 'private company' under the "said Act".<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">(ii) Section 102:- All companies which have issued notices of general meeting on or after 12.9.2013, the statement to be annexed to the notice shall comply with additional requirements as prescribed in section 102 of the "said Act".<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">(iii) Section 133:- Till the Standards of Accounting or any addendum thereto are prescribed by Central Government in consultation and recommendation of the National Financial Reporting Authority, the existing Accounting Standards notified under the Companies Act, 1956 shall continue to apply.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">(iv) Section 180:- In respect of requirements of special resolution under Section 180 of the "said Act" as against ordinary resolution required by the Companies Act 1956, if notice for any such general meeting was issued prior to 12.9.2013, then such resolution may be passed in accordance with the requirement of the Companies Act 1956.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">3. &nbsp; This issues with the approval of competent authority.<o:p></o:p></p> 
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Yours faithfully,<br>
<br>
<br>
 (KMS Narayanan)&nbsp;<br>
 Assistant Director&nbsp;<br>
 011-23387263<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>
