<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;"
 align="right"><b><u>General
 Circular
 No. 15/2014</u></b></p>
 <p class="MsoNormal" style="text-align: center;"
  align="center">File
 No.5/6/2014-CL-I&nbsp;<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">'A' Wing,
 5th floor,
 Shastri Bhawan&nbsp;<br>
 Dr. Rajendra Prasad Road, New Delhi-110001</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">Dated: 9<sup>th</sup>&nbsp;June,
 2014</p>
 <p class="MsoNormal">To<br>
 All Regional Directors&nbsp;<br>
 All Registrars of Companies<br>
 All Stakeholders</p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject:
 Clarification
 regarding maintaining register in new format [sub-section (9) of
 section 186] -
  reg.</b></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,</p>
 <p class="MsoNormal" style="text-align: justify;">This
 Ministry has
 received
 various, communications seeking clarification regarding sub-section (9)
 of
 section 186 read with sub-rule (1) of Rule 12 of the Companies (Meeting
 of
 Board and its Powers) Rule, 2014 with regard to maintenance of register
 of
 loans/guarantee/security/making acquisition in new format.</p>
 <p class="MsoNormal" style="text-align: justify;">2.
 In this
 connection, it is
 hereby clarified that registers maintained by companies pursuant to
  sub-section
 (5) of Section 372A of Companies Act, 1956 may continue as per
 requirements
 under these provisions and the new format prescribed vide Form MBP2
 shall be
 used for particulars entered in such registers on and from 1.4.2014.</p>
 <p class="MsoNormal" style="text-align: justify;">3.
 This issues with
 the approval
 of the Competent Authority.</p>
 <p class="MsoNormal" style="text-align: right;"
 align="right">Yours
 faithfully,<br>
 <br>
 (Kamna Sliarma)&nbsp;<br>
 Assistant Director</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal">Copy to:</p>
 <p class="MsoNormal">PSO to Secretary/PPS to AS<br>
 PSs to JS (M)/JS (B)/JS(SP)/DII (UCN)/DII (RCM)<br>
 DIR (AK)/DIR (AB)/DIR (NC)/DIR (PS), CL.V Section</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
