<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>152016 dated 8th December, 2016</title>

</head><body>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">General
Circular 15/2016<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center">No.
05/05/2016<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center">Government
of India<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center">Ministry
of Corporate Affairs<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">5<sup>th</sup>
Floor. &#8220;A Wing&#8221;<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">Shastri
Bhawan, Dr. R.P.Road<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">New
Delhi 110001 <o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">Dated:-
05.12.2016<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">To,
<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">All
Stakeholders,<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">Nodal
Officer&#8217;s (IEPF) of Concerned
Companies,<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">All
Regional Directors &amp;
Registrar of Companies Min. of Corp. Affairs<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN">Subject:- Clarification regarding due date
of transfer of shares to IEPF authority <o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN">Sir/Madam,<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN">Various representation have been received
from the companies for simplication of transfer process of shares under
Investor Education and Protection fund </span>(Accounting,
Audit, Transfer and
Refund) Rules, 2016 notified on 05.09.2016. It has also been requested
for
extending the due date prescribed for transferring the shares to IEPF
authority, The matters including simplification of transfer process and
extension of date for such transfer, are under consideration and the
rules are
likely to be revised. The revised rules shall be notified in due course.<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">2.
This issue with the approval of competent authority.<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span style="">&nbsp;</span>Yours
Faithfully,<o:p></o:p></p>
<p class="MsoNormal" style="margin-right: 25pt; text-align: right; text-indent: 0.5in; line-height: 15pt; font-family: Arial;" align="right">Sd/-<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">Monica
Gupta<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right">Deputy
Director<o:p></o:p></p>
<p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
</body></html>