<html>
<head>
<!-- <style> -->
<!-- body { -->
    <!-- font-family: "Arial", Serif; -->
<!-- } -->
<!-- </style> -->
</head>
<body style="font-family: Verdana, Tahoma, Arial;font-size: 16px;>
<p align="right">
    General Circular No. 16/2016
</p>
<p align="center">
    F.No. 1/28/2013-CL.V
</p>
<p align="center">
    Government of India
</p>
<p align="center">
    MINISTRY OF CORPORATE AFFAIRS
</p>
<p align="right">
    5<sup>th</sup> Floor, ‘A’ Wing, Shastri Bhavan, Dr. R.P.Road,
</p>
<p align="right">
    New Delhi- 110001,
</p>
<p align="right">
    Dated 26<sup>th</sup> December, 2016
</p>
<p>
    To,
</p>
<p>
    Regional Directors,
</p>
<p>
    All Registrar of Companies,
</p>
<p>
    All Stakeholders,
</p>
<p>
    <strong>
        Subject: Removal of names of Companies from the register of companies
        –clarification regarding availability of form STK on MCA-21 portal –
        reg.
    </strong>
</p>
<p>
    Sir,
</p>
<p>
    The Ministry has commenced provision of section 248 to 252 of the Companies
    Act, 2013 w.r.t. removal of names of companies from the register of
    companies today and notified relevant rules simultaneously. However e-form
    STK-2 prescribed under the said rules, for making application to the
    registrar of companies for removal of name of company from the register of
    companies, is under development and would be deployed in some time.
</p>
<p>
    2. Stakeholders are requested to bear with the inconvenience caused in this
    regard.
</p>
<p align="right">
    Yours Faithfully,
</p>
<p align="right">
    KMS Narayan
</p>
</body>
</html>