<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p style="widows: 2;" align="right"><b>General
 Circular No. 16/2014</b></p>
 <p style="widows: 4;" align="center">F. No:
 01/12/2013 CL-V&nbsp;<br>
 Ministry
 of Corporate Affairs<br>
 Government of India</p>
 <p style="widows: 2;" align="right">'A' Wing, 5th
 floor, Shastri
 Bhawan&nbsp;<br>
 Dr. Rajendra Prasad Road, New Delhi-01</p>
 <p style="widows: 2;" align="right">Dated:
 10.06.2014</p>
 <p>To<br>
 All Regional Directors,<br>
 All Registrars of Companies.&nbsp;<br>
 All
 Stakeholders.</p>
 <p style="widows: 8;" align="justify"><b>Sub:
 Applicability of PAN
 requirement for Foreign Nationals</b></p>
 <p style="widows: 8;" align="justify">Sir,</p>
 <p style="widows: 8;" align="justify">In
 continuation of the General
 Circular No. 12/2014 dated 22.05.2014 regards the above subject, it
 is clarified that the provisions of the said Circular are applicable
 to a Foreign National who is a subscriber/promoter at the time of
 incorporation of the Company.</p>
 <p style="widows: 8;" align="justify">2. In case
 the said
 subscriber/promoter, does not possess Permanent Account Number (PAN),
 he/she shall furnish a declaration in the prescribed proforma, as an
 attachment to the Incorporation Form (INC-7).</p>
 <p style="widows: 8;" align="justify">3. Further,
 it is clarified that,
 in case of a Resident Director of the proposed company he/she shall
 be required to submit PAN details at the time of incorporation.</p>
 <p style="widows: 8;" align="justify">4. This issue
 with the approval of
 the Competent Authority.</p>
 <p style="widows: 8;" align="justify">Encl-
 Undertaking</p>
 <p><br>
 </p>
 <p style="widows: 2;" align="right">Your Faithfully<br>
 <br>
 (Sanjay Kumar
 Gupta)'&nbsp;<br>
 Deputy Director<br>
 23384657</p>
 <p>PPS to Secretary<br>
 PPS to Additional Secretary<br>
 PPS to JS
 (B)/JS (M)/DII (UCN)/ DII (BNH)/DII (RCM)&nbsp;<br>
 PS to DIR (AB)</p>
 <p><br>
 </p>
 <p style="widows: 4;" align="center"><u><b>Undertaking</b></u></p>
 <p style="widows: 8;" align="justify">I
 _____________ (name)
 ______________ , son of ___________________ (father'sname)
 _____________, citizen of ___________________ (nationality) R/o
 (Address) ___________________having passport No. _________________
 (passport Number) hereby declareas under:</p>
 <p style="widows: 8;" align="justify">(i) That I am
 not required to
 obtain Income Tax Permanent Account Number (PAN) under the provisions
 of Income Tax Act, 1961;</p>
 <p style="widows: 8;" align="justify">(ii) That in
 view of the above I
 have not been issued any PAN; and</p>
 <p style="widows: 8;" align="justify">(iii) That I
 undertake to furnish
 to the Registrar of Companies (mention jurisdiction) details of my
 PAN as soon as a Permanent Account Number is allotted to me.</p>
 <p>Date:</p>
 <p>Place</p>
 <p>(Signature)</p>
 <p>Name of the Person</p>
 <p><br>
 </p>
 </body>
 </html> 
