<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Circular No. 16 /2013<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">F. N o.01/12/2013-C L-V&nbsp;<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">5th Floor, 'A' Wing, Shastri Bhawan,&nbsp;<br>
 Dr.Rajendra Prasad Road,&nbsp;<br>
 New Delhi-1&nbsp;<br>
 Dated 18.09.2013<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All Regional Directors,&nbsp;<br>
 All Registrar of Companies.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject: Clarification on the notification dated 12.9.2013.</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">This Ministry had issued a notification on 12.09.2013 bringing into force to 98 sections or part thereof of the Companies Act, 2013. The said notification is available on the Ministry's website. This Ministry has been receiving requests for clarification as to whether the provisions of the Companies Act, 1956 corresponding to such 98 sections would continue to apply or not.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">It is hereby clarified that with effect from 12.09.2013, the relevant provisions of the Companies Act, 1956, which correspond to provisions of 98 sections of the Companies Act, 2013 brought into force on 12.09.2013, cease to have effect from that date.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">This issues with the approval of competent authority.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Yours faithfully,&nbsp;<br>
 <br>
 <br>
 (KMS Narayanan)<br>
 Assistant Director&nbsp;<br>
 011-23387263<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
