<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b><u>General Circular No. 17/2014 </u></b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center">No. MCA21/72/2014-e.Gov.<br>
 Government of India<br>
 Ministry of Corporate Affairs<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">'A' Wing, 5th floor,
 Shastri Bhawan<br>
 Dr. Rajendra Prasad, New Delhi-110001<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Dated: 11<sup>th</sup>&nbsp;June,
2014<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">To<br>
 All Regional Directors<br>
 All Registrars of Companies&nbsp;<br>
 All Stakeholders<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><b>Subject:- Filling of MGT-10- clarification-regarding .</b><o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">Sir,<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">In continuation of General Circular No. 06/2014 dated 29.03.2014 and 09/2014 dated 25.04.2014 , I am directed to inform you that stakeholders are required to fill Form MGT-10 physically, get it duly signed/certified by a professional and file it along with other required enclosures as attachments with the prescribed General E-Form No. GNL-2. This temporary arrangement will continue till an E-Form for MGT-10 is made available. Fee applicable for MGT-10 will be as per the Table of Fees prescribed in Companies (Registration Offices and Fees) Rules, 2014.<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">2. This issues with the approval of the Competent Authority.<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">(Sanjay Kumar Gupta)<br>
Deputy Director&nbsp;<br>
Ph: 23384657<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p style="font-family: Arial;" class="MsoNormal">Copy to:<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">1. PSO to Secretary<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">2. PPS to Addl. Secretary<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">3. PS to JS(M)/ PS to JS(B)/ PPS to JS(SP)<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">4. DIR(AK)/DIR(AB)/DIR(NC)/DIR(PS)<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">5. AD(MKS)<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>
