<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;"
 align="right"><b><u>General Circular No:- 18/2014</u></b></p>
<p class="MsoNormal" style="text-align: center;"
 align="center">File No. MCA21/72/2014 -e.Gov.<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</p>
<p class="MsoNormal" style="text-align: right;"
 align="right">'A' Wing, 5th floor, Shastri Bhawan&nbsp;<br>
 Dr. Rajendra Prasad, New Delhi-110001</p>
<p class="MsoNormal" style="text-align: right;"
 align="right">Dated: 11<sup>th</sup>&nbsp;June, 2014</p>
<p class="MsoNormal">All Regional Directors&nbsp;<br>
 All Registrars of Companies<br>
 All Stakeholders</p>
<p class="MsoNormal" style="text-align: justify;"><b>Subject:- Clarification for filing of form No. INC-27 for conversion of company from public toprivate under the provisions of Companies Act, 2013- reg.</b></p>
<p class="MsoNormal" style="text-align: justify;">Sir</p>
<p class="MsoNormal" style="text-align: justify;">Attention of the Ministry has been drawn to difficulties being faced by stakeholders while filing form INC-27 for conversion of a public company into a private company. The relevant provisions of Companies Act, 2013 (second proviso to sub-section (1) and sub-section (2) of section 14) have not been notified. In view of this, the corresponding provisions of Companies Act, 1956 (Proviso to sub-section (1) and sub-section (2A) of Section 31) shall remain in force till corresponding provisions of Companies Act, 2013 are notified. The Central Government has delegated such powers under the Companies Act, 1956 to the Registrar of Companies (ROCs) vide item No. (c) of the notification number S.O. 1538(E) dated the 10th July, 2012 and this delegated power remains in force. Applications for such conversions, therefore, have to be filed and disposed as per the earlier provisions.</p>
<p class="MsoNormal" style="text-align: justify;">2. This issues with the approval of the Competent Authority.</p>
<p class="MsoNormal" style="text-align: right;"
 align="right"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="text-align: right;"
 align="right">(Sanjay Kumar Gupta)<br>
 Deputy Director<br>
 Ph: 23384657</p>
 <p class="MsoNormal">Copy to:</p>
<p class="MsoNormal">1. PSO to Secretary<br>
 2. PPS to Addl. Secretary<br>
 3. PS to JS(M)/ PS to JS(B)/ PPS to JS(SP)<br>
 4. DIR(AK)/DIR(AB)/DIR(NC)/DIR(PS)</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
</html>
