<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Circular No. 19/2013<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b>No. 17/27/2013-CL-V<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>Shastri Bhawan, 5th Floor, 'A' Wing,&nbsp;<br>
 Dr. Rajendra Prasad Road,&nbsp;<br>
 New Delhi 110001&nbsp;<br>
 Dated 10.12.2013</b><o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><b>To&nbsp;<br>
<br>
 All Registrar of Companies&nbsp;<br>
 All Regional Director</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b>Sub:- Clarification with regard to applicability of section 182(3) of the Companies Act, 2013.</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">Sir,<br> Ministry has received representations seeking clarification on disclosures to be made under section 182 of the Companies Act, 2013. The same have been examined. With the coming into force of the scheme relating to 'Electoral Trust Companies' in terms of section (24AA) of the Income Tax Act, 1961 read with Ministry of Finance Notification No. S.O.309(E) dated 31st January, 2013 it will be expedient to explain the requirements of disclosure on part of a company of any amount or amounts contributed by it to any political parties under section 182(3) of the Companies Act, 2013.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">It is hereby clarified as under;<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">(i) Companies contributing any amount or amounts to an 'Electoral Trust Company' for contributing to a political party or parties are not required to make disclosures required under section 182(3) of Companies Act 2013. It will suffice if the Accounts of the company disclose the amount released to an Electoral Trust Company.&nbsp;<br>
<br> (ii) Companies contributing any amount or amounts directly to a political party or parties will be required to make the disclosures laid down in section 182(3) of the Companies Act, 2013.&nbsp;<br>
<br> (iii) Electoral Trust Companies will be required to disclose all amounts received by them from other companies/sources in their Books of Accounts and also disclose the amount or amounts contributed by them to a political party or parties as required by section 182(3) of Companies Act, 2013.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">This issues with the approval of competent authority.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Yours Faithfully,<br>
<br>
<br>
(Vinod Sharma)&nbsp;<br>
Deputy Director<o:p></o:p></p>
</body>
</html>
