<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;" align="right"><b><u>General
 Circular
 No. 19 /2014</u></b></p>
 <p class="MsoNormal" style="text-align: center;" align="center">No.
 1/4/2013-CL-V&nbsp;<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</p>
 <p class="MsoNormal" style="text-align: right;" align="right">5th
 Floor, 'A' Wing,
 Shastri Bhavan,&nbsp;<br>
 Dr R.P. Road, New Delhi</p>
 <p class="MsoNormal" style="text-align: right;" align="right">Dated 12<sup>th</sup>&nbsp;June,
 2014</p>
 <p class="MsoNormal">To<br>
 All Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.</p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject:
 Clarifications on
 Rules prescribed under the Companies Act, 2013 - Matters relating to
 share
 capital and debentures- reg.</b></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,</p>
 <p class="MsoNormal" style="text-align: justify;">Government has
 received
 representations from Industry Chambers, Professional Institutes and
 other
 stakeholders seeking clarifications on matters relating to 'share
 capital and
 debentures' under the relevant provisions of the Companies Act, 2013
 (Act) read
 with relevant rules, which have come into force with effect from 1st
 April,
 2014. The representations have been examined and clarifications on the
 following points are hereby given</p>
 <p class="MsoNormal" style="text-align: justify;">(i) Share Transfer
 Forms executed
 before 1st April, 2014:- In view of prescription of new Securities
 Transfer
 Form as per Form SH-4 with effect from 1st April, 2014, the companies
 and other
 stakeholders have sought clarity with regard to Share Transfer Forms
 executed
 before 1st April, 2014 as per earlier Form 7B but which are yet to be
 accepted/registered by companies.</p>
 <p class="MsoNormal" style="text-align: justify;">The matter has been
 examined and
 it is clarified that since transaction relating to transfer of shares
 is a
 contract between two or more persons/shareholders, any share transfer
 form
 executed before 1st April, 2014 and submitted to the company concerned
 within
 the period prescribed under relevant section of the Companies Act, 1956
 needs
 to be accepted by the companies for registration of transfers. In case
 any such
 share transfer form, executed prior to 1st April, 2014, is not
 submitted within
 the prescribed period under the Companies Act, 1956, the concerned
 company may
 get itself satisfied suitably with regard to justification of delay in
 submission etc. In case a company decides not to accept the share
 transfer
 form, it shall convey the reasons for such non-acceptance within time
 provided
 under section 56(4)(c) of the Act.</p>
 <p class="MsoNormal" style="text-align: justify;">(ii) Delegation of
 powers by
 board under rule 6(2)(a): Clarification has been sought whether the
 powers of
 the Board provided under rule 6(2) (a) of Companies (Share Capital and
 Debentures) Rules, 2014 with regard to issue of duplicate share
 certificates
 can be exercised by a Committee of Directors.</p>
 <p class="MsoNormal" style="text-align: justify;">The matter has been
 examined in
 light of the relevant provisions of the Act, particularly sections 179
 &amp;
 180 and regulation 71 of Table "F" of Schedule I and it is clarified
 that a
 committee of directors may exercise such powers, subject to any
 regulations
 imposed by the Board in this regard.</p>
 <p class="MsoNormal" style="text-align: justify;">This issues with the
 approval of
 the competent authority.</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: right;" align="right">Yours
 faithfully&nbsp;<br>
 <br>
 (Kamna Sharma)&nbsp;<br>
 Assistant Director (Policy)</p>
  <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal">Copy to:-</p>
 <p class="MsoNormal">1. e-Governance Section and Web Contents Officer
 to place
 this circular on the Ministry's website<br>
 2. Guard File</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>

