<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General Circular No. 20 /2013</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b>No. 1/12/2013-CL-V<br>
 Government of India<br>
 Ministry of Corporate Affairs</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>
 5th Floor, 'A' Wing, Shastri Bhawan,&nbsp;<br>
 Dr. R.P. Road, New Delhi-110001&nbsp;<br>
 <br> Dated: 27th December, 2013</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>To</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>All Registrar of Companies,<br>
 All Regional Directors</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject: - Clarification with regard to holding of shares or exercising power in a fiduciary capacity - Holding and Subsidiary relationship under Section 2(87) of the
 Companies Act, 2013.</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">This Ministry has received a number of representations consequent upon notifying section 2(87) of the Companies Act, 2013 which defines "subsidiary company" or "subsidiary". The stakeholders have requested this Ministry to clarify whether shares held or power exercisable by a company in a 'fiduciary capacity' will be excluded while determining if a particular company is a subsidiary of another company. The stakeholders have further pointed out that in terms of section 4(3) of the Companies Act, 1956, such shares or powers were excluded from the purview of holding-subsidiary relationship.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">2. The matter has been examined in the Ministry and it is hereby clarified that the shares held by a company or power exercisable by it in another company in a 'fiduciary capacity' shall not be counted for the purpose of determining the holding-subsidiary relationship in terms of the provision of section 2(87) of the Companies Act, 2013.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">3. This issues with the approval of competent authority.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Yours faithfully,<br>
<br>
 (KMS NARAYNAAN)<br>
 Assistant Director<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Copy to:-<br>
 Guard File<o:p></o:p></p>
</body>
</html>
