<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General
 Circular No.
 20/2014</b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">No.
 1/34/2013-CL-V&nbsp;<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</p>
<p class="MsoNormal"
   style="text-align: right; font-family: Arial;" align="right">5th
 Floor, A Wing,
 Shastri Bhavan,&nbsp;<br>
 Dr R.P. Road, New Delhi</p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Dated
 17th June, 2014</p>
 <p style="font-family: Arial;" class="MsoNormal">To</p>
 <p style="font-family: Arial;" class="MsoNormal">All
 Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject:
 Clarification with
 regard to voting through electronic means - reg.</b></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>*****</b></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Section 108
 of the
 Companies Act,
 2013 read with rule 20 of the Companies (Management and Administration)
 Rules,
 2014 deal with the exercise of right to vote by members by electronic
 means
 (e-means). The provisions seek to ensure wider shareholders
 participation in
 the decision making process in companies. Corporates and other
 stakeholders
 while appreciating the new approach have drawn attention to some
 practical difficulties
 in respect of general meetings to be held in the next few months.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. The
  suggestions
 received from
 the stakeholders have been examined. It is noticed that compliance with
 procedural requirements, engagement of Depository Agencies and the need
 for clarity
 on matter like demand for poll/ postal ballot etc will take some more
 time.
 Accordingly, it has been decided not to treat the relevant provisions
 as
 mandatory till 31st December, 2014. The relevant notification in this
 regard is
 being issued separately.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">3. To
 provide clarity
 and ensure
 uniformity in the e-voting procedure, clarifications on certain issues
 raised
 by the stakeholders are provided in the Annexure to this circular for
 guidance
 of all concerned.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">This issues
 with the
 approval of
 the competent authority.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Yours
 faithfully<br>
 <br>
 Assistant Director<br>
 23387263</p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Copy to:-</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1.
 e-Govemance
 Section and Web
 Contents Officer to place this circular on the Ministry's website<br>
 2. Guard File</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b><u>Annexure</u></b></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Clarifications
 on
 issues
 associated with e-voting procedure</b></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(i) Show of
 hands not
 to he
 allowed in case of e-voting:- In view of clear provisions of section
 107,
 voting by show of hands would not be allowable in cases where rule 20
 of
 Companies (Management and Administration) Rules, 2014 is applicable.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(ii)
 Participation in
 the general
 meeting after voting by e-means:- It is clarified that a person who has
 voted
 through e-voting mechanism in accordance with rule 20 shall not be
 debarred
 from participation in the general meeting physically. But he shall not
 be able
 to vote in the meeting again, and his earlier vote (cast through
 e-means) shall
 be treated as final.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(iii)
 Applicability
 of rule 20
 for matters specified under rule 22(16):- Stakeholders have asked
 whether
 matters specified under rule 22(16) (transactions of certain items only 
 through
 postal ballot) can be considered in a general meeting where e-voting
 facility
 is available. It has been examined and it is stated that in view of
 clear
 provisions of section 110(l)(a) read with such rule 22(16) it would be
 necessary
 to transact items specified in rule 22(16) only through postal ballot
 and not
 at the general meeting.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(iv)
 Relevance of
 provisions
 relating to demand for poll:- In case of companies having share
 capital, voting
 through e-means takes into account 'Proportion principle' [i.e. 'one
 share -
 one vote] unlike 'one person - one vote' principle under 'show of
 hands'. This
 alongwith provisions of section 107 make it clear that in case of
 companies
 which are covered under section 108 read with rule 20 of Companies
 (Management
 and Administration) Rules, the provisions relating to demand for poll
 would not
 be relevant.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(v)
 Permissibility of
 voting by
 postal ballot under rule 20 - Stakeholders have sought a clarification
 that in
 cases (covered under rule 20) where a shareholder who is not able to
 participate in the general meeting personally and who is also not
 exercising
 voting through e-means whether such a person shall have the option to
 vote
 through postal ballot. The matter has been examined and it is felt that
 keeping
 in view the provisions of the Act such an option would not be available.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(vi) Manner
 of voting
 in case of
 shareholders present in the meeting Stakeholders have sought clarity
 about
 manner of voting for shareholders (of a company covered under rule 20)
 who are
 present in the general meeting. It is hereby clarified that since
 voting through
 e-means would be on the basis of proportion of share in the paid-up
 capital or 'one-share one-vote', the Chairperson of the meeting shall
 regulate the
 meeting
 accordingly.</p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(vii)
 Applying rule
 20
 voluntarily:- Stakeholders have referred to words 'A company which opts
 to'
 appearing in rule 20(3) and have raised a query whether rule 20 is
 applicable
 to companies not covered in rule 20(1). It is clarified that rule 20(3)
 is
 being amended to align it with rule 20(1). Regarding voluntary
 application of
 rule 20, it is clarified that in case a company not mandated under rule
 20(1)
 opts or decided to give its shareholders the e-voting facility, in such
 a case,
 the whole of procedure specified in rule 20 shall be applicable to such
 a
 company. This is necessary so that any piece-meal application does not
 prejudice the interest of shareholders.</p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
  