<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General
 Circular No. 21/2014</b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b>No.
 05/01/2014- CSR</b>&nbsp;<br>
 <b>Government of India</b>&nbsp;<br>
 <b>Ministry of Corporate Affairs</b></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">5th
 Floor, 'A' Wing,&nbsp;<br>
 Shastri Bhawan, Dr. R. P. Marg&nbsp;<br>
 New Delhi - 110 001&nbsp;<br>
 Dated: 18th June, 2014</p>
 <p style="font-family: Arial;" class="MsoNormal">To,&nbsp;<br>
 All Regional Director,&nbsp;<br>
 All Registrar of Companies,&nbsp;<br>
 All Stakeholders</p>
 <p style="font-family: Arial;" class="MsoNormal"><b>Subject:
 - Clarifications with regard to provisions of Corporate Social
 Responsibility under section 135 of the Companies Act,
 2013.</b></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,&nbsp;<br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This
 Ministry has received several references and representation from
 stakeholders seeking clarifications on the provisions under Section 135
 of the Companies Act, 2013 (herein after referred as 'the Act') and the
 Companies (Corporate Social Responsibility Policy) Rules, 2014, as well
 as activities to be undertaken as per Schedule VII of the Companies
 Act, 2013. Clarifications with respect to representations received in
 the Ministry on Corporate Social Responsibility (herein after referred
 as ('CSR') are as under:-</p>
 <ol style="margin-top: 0cm; font-family: Arial;" start="1"
  type="i">
   <li class="MsoNormal" style="text-align: justify;">The
 statutory provision and provisions of CSR Rules, 2014, is to ensure
 that while activities undertaken in pursuance of the CSR policy must be
 relatable to Schedule VII of the Companies Act 2013, the entries in the
 said Schedule VII must be&nbsp;<b>interpreted liberally</b>&nbsp;so
 as to capture the essence of the subjects enumerated in the said
 Schedule. The items enlisted in the amended Schedule VII of the Act,
 are broad-based and are intended to cover a wide range of activities as
 illustratively mentioned in the Annexure.</li>
   <li class="MsoNormal" style="text-align: justify;">It
 is further clarified that CSR activities should be undertaken by the
 companies in project/ programme mode [as referred in Rule 4 (1) of
 Companies CSR Rules, 2014]. One-off events such as marathons/ awards/
 charitable contribution/ advertisement/ sponsorships of TV programmes
 etc. would not be qualified as part of CSR expenditure.</li>
   <li class="MsoNormal" style="text-align: justify;">Expenses
 incurred by companies for the fulfillment of any Act/ Statute of
 regulations (such as Labour Laws, Land Acquisition Act etc.) would not
 count as CSR expenditure under the Companies Act.</li>
   <li class="MsoNormal" style="text-align: justify;">Salaries
 paid by the companies to regular CSR staff as well as to volunteers of
 the companies (in proportion to company's time/hours spent specifically
 on CSR) can be factored into CSR project cost as part of the CSR
 expenditure.</li>
   <li class="MsoNormal" style="text-align: justify;">"Any
 financial year" referred under Sub-Section (1) of Section 135 of the
 Act read with Rule 3(2) of Companies CSR Rule, 2014, implies 'any of
 the three preceding financial years'.</li>
   <li class="MsoNormal" style="text-align: justify;">Expenditure
 incurred by Foreign Holding Company for CSR activities in India will
 qualify as CSR spend of the Indian subsidiary if, the CSR expenditures
 are routed through Indian subsidiaries and if the Indian subsidiary is
 required to do so as per section 135 of the Act.</li>
   <li class="MsoNormal" style="text-align: justify;">'Registered
 Trust' (as referred in Rule 4(2) of the Companies CSR Rules, 2014)
 wouldinclude Trusts registered under Income Tax Act 1956, for those
 States where registration of Trust is not mandatory.</li>
   <li class="MsoNormal" style="text-align: justify;">Contribution
 to Corpus of a Trust/ society/ section 8 companies etc. will qualify as
 CSR expenditure as long as (a) the Trust/ society/ section 8 companies
 etc. is created exclusively for undertaking CSR activities or (b) where
 the corpus is created exclusively for a purpose directly relatable to a
 subject covered in Schedule VII of the Act.</li>
 </ol>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. This
 issues with the approval of Competent Authority.</p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Yours
 faithfully,<br>
 Sd/-<br>
 <b>(Seema Rath)<br>
 Assistant Director (CSR)<br>
 Phone No. 23389622</b></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>Copy
 to:&nbsp;</b><br>
 1. PSO to Secretary&nbsp;<br>
 2. PPS to Additional Secretary&nbsp;<br>
 3. PS to DG (IICA)/JS (M) /JS(B)/JS(SP)/DII
 (UCN)/EA/DII(POLICY)&nbsp;<br>
 4. DIR (AK)/DIR (AB)/DIR(NC)/DIR(PS)&nbsp;<br>
 5. e-Governance Cell for uploading on website of MCA&nbsp;</p>
 <p style="font-family: Arial;" class="MsoNormal">Annexure
 referred to at para (i) of General
 Circular No.
 21/2014 dated 18.06.2014</p>
 <table class="MsoNormalTable"
  style="width: 100%; height: 7264px; font-family: Arial;"
   border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
       <p class="MsoNormal"><b>SI.No.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal"><b>Additional items
requested to be included
in Schedule VII or to be clarified as already being covered under
Schedule VII of the Act</b></p>
      </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal"><b>Whether covered under
Schedule VII of the
Act</b></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>1.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">Promotion of Road Safety
through CSR:</p>
      <table class="MsoNormalTable" style="width: 100%;"
 border="0" cellpadding="0" cellspacing="0"
 width="100%">
        <tbody>
          <tr style="">
            <td style="padding: 3.75pt; width: 25.5pt;"
 valign="top" width="34">
            <p class="MsoNormal">(i)</p>
            </td>
            <td style="padding: 3.75pt; width: 174.75pt;"
 width="233">
            <p class="MsoNormal">(a) Promotions of
Education,
"Educating the Masses and Promotion of Road Safety awareness in all
facets of road usage,</p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">&nbsp;</p>
            </td>
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">(b) Drivers' training,</p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">&nbsp;</p>
            </td>
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">(c) Training to
enforcement personnel,</p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">&nbsp;</p>
            </td>
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">(d) Safety traffic
engineering and
awareness through print, audio and visual media" should be included.</p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">&nbsp;</p>
            </td>
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">&nbsp;</p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;" valign="top">
            <p class="MsoNormal">(ii)</p>
            </td>
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">Social Business Projects :<br>
"giving medical and Legal aid, treatment to road accident victims"
should be included.</p>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
      <table class="MsoNormalTable" style="width: 100%;"
 border="0" cellpadding="0" cellspacing="0"
 width="100%">
        <tbody>
          <tr style="">
            <td style="padding: 3.75pt; width: 19.5pt;"
 valign="top" width="26">
            <p class="MsoNormal">&nbsp;</p>
            </td>
            <td style="padding: 3.75pt; width: 141pt;"
 valign="top" width="188">
            <p class="MsoNormal">(a) Schedule VII (ii)
under "promoting
education".<br style="">
<!--[if !supportLineBreakNewLine]--><br style="">
<!--[endif]--></p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;" valign="top">
            <p class="MsoNormal">&nbsp;</p>
            </td>
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">(b )For drivers training
etc. Schedule
VII (ii) under "vocational skills".</p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;" valign="top">
            <p class="MsoNormal">&nbsp;</p>
            </td>
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">(c) It is establishment
functions of
Government&nbsp;<b>(cannot be covered)</b>.</p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;" valign="top">
            <p class="MsoNormal">&nbsp;</p>
            </td>
            <td style="padding: 3.75pt;" valign="top">
            <p class="MsoNormal">(d) Schedule VII (ii)
under "promoting
education".&nbsp;</p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">&nbsp;</p>
            </td>
            <td style="padding: 3.75pt;">
            <p class="MsoNormal">&nbsp;</p>
            </td>
          </tr>
          <tr style="">
            <td style="padding: 3.75pt;" valign="top">
            <p class="MsoNormal">(ii)</p>
            </td>
            <td style="padding: 3.75pt;" valign="top">
            <p class="MsoNormal">Schedule VII (i) under
'promoting
health care including preventive health care.'</p>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>2.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">Provisions for aids and
 appliances to
 the&nbsp;<b>differently- able&nbsp;</b>persons -
 'Request for inclusion</p>
       </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal">Schedule VII (i) under
 'promoting health
 care including preventive health care.'</p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>3.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">The company contemplates of
 setting up
 ARTIIC (Applied Research Training and Innovation Centre) at Nasik.
 Centre will cover the following aspects as CSR initiatives for the
 benefit of the predominately rural farming community:&nbsp;<br>
 (a) Capacity building for farmers covering best sustainable farm
 management practices.</p>
       <p class="MsoNormal">(b) Training Agriculture Labour
 on skill
 development.</p>
       <p class="MsoNormal">(c) Doing our own research on
 the field for
 individual crops to find out the most cost optimum and Agri –
 ecological sustainable farm practices. (Applied research) with a focus
 on water management.</p>
       <p class="MsoNormal">(d) To do Product Life Cycle
 analysis from
 the soil conservation point of view.</p>
       </td>
       <td style="padding: 3.75pt; width: 185.25pt;"
  valign="top" width="247">
       <p class="MsoNormal">Item no. (ii) of Schedule VII
 under the head
 of "promoting education" and "vocational skills" and "rural
 development".&nbsp;<br>
 (a) "Vocational skill" livelihood enhancement projects.</p>
       <p class="MsoNormal">(b) "Vocational skill"</p>
       <p class="MsoNormal">(c) 'Ecological balance',
 'maintaining
 quality of soil, air and water'.&nbsp;</p>
       <p class="MsoNormal">(d) "Conservation of natural
 resource" and
 'maintaining quality of soil, air and water'.</p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt; width: 44.25pt;"
  valign="top" width="59">
       <p class="MsoNormal"><b>4.</b></p>
       </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">To make "Consumer Protection
 Services"
 eligible under CSR. (Reference received by Dr. V.G. Patel, Chairman of
 Consumer Education and Research Centre).&nbsp;<br>
 (i) Providing effective consumer grievance redressal
 mechanism.&nbsp;<br>
 (ii) Protecting consumer's health and safety, sustainable consumption,
 consumer service, support and complaint resolution.&nbsp;<br>
 (iii) Consumer protection activities.&nbsp;<br>
 (iv) Consumer Rights to be mandated.&nbsp;<br>
 (v) all consumer protection programs and activities" on the same lines
 as Rural Development, Education etc.</p>
       </td>
       <td style="padding: 3.75pt; width: 185.25pt;"
  valign="top" width="247">
       <p class="MsoNormal"><br>
       <br>
 Consumer education and awareness can be covered under Schedule VII (ii)
 "promoting education".</p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>5.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">a) Donations to IIM [A] for
 conservation of
 buildings and renovation of classrooms would qualify as "promoting
 education" and hence eligible for compliance of companies with
 Corporate Social Responsibility.</p>
       <p class="MsoNormal">b) Donations to IIMA for
 conservation of
 buildings and renovation of classrooms would qualify as "protection of
 national heritage, art and culture, including restoration of buildings
 and sites of historical importance" and hence eligible for compliance
 of companies with CSR.</p>
       </td>
       <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal"><br>
      <br>
 Conservation and renovation of school buildings and classrooms relates 
 to CSR activities under Schedule VII as "promoting education".</p >
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>6.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">Non Academic Technopark TBI not
 located
 within an academic Institution but approved and supported by Department
 of Science and Technology.</p>
      </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal">Schedule VII (ii) under
 "promoting
 education", if approved by Department of Science and Technology.</p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
       <p class="MsoNormal"><b>7.</b></p>
       </td> 
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">Disaster Relief</p>
      </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal">Disaster relief can cover wide
 range of
 activities that can be appropriately shown under various items listed
 in Schedule VII. For example,&nbsp;<br>
 (i) medical aid can be covered under 'promoting health care including
 preventive health care.'</p>
       <p class="MsoNormal">(ii) food supply can be covered
 under
 eradicating hunger, poverty and malnutrition.</p>
       <p class="MsoNormal">(iii) supply of clean water can
 be covered
 under 'sanitation and making available safe drinking water'.</p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt; width: 44.25pt;"
  valign="top" width="59">
       <p class="MsoNormal"><b>8.</b></p>
       </td>
       <td style="padding: 3.75pt; width: 230.25pt;"
  valign="top" width="307">
       <p class="MsoNormal">Trauma care around highways in
 case of road
 accidents.</p>
       </td>
       <td style="padding: 3.75pt; width: 185.25pt;"
  valign="top" width="247">
       <p class="MsoNormal">Under health care</p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt; width: 44.25pt;"
  valign="top" width="59">
       <p class="MsoNormal"><b>9.</b></p>
       </td>
       <td style="padding: 3.75pt; width: 230.25pt;"
  valign="top" width="307">
       <p class="MsoNormal">Clarity on "rural development
 projects"</p>
       </td>
       <td style="padding: 3.75pt; width: 185.25pt;"
  valign="top" width="247">
       <p class="MsoNormal">Any project meant for the
 development of
 rural India will be covered under this.</p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt; width: 44.25pt;"
  valign="top" width="59">
       <p class="MsoNormal"><b>10.</b></p>
       </td>
       <td style="padding: 3.75pt; width: 230.25pt;"
  valign="top" width="307">
       <p class="MsoNormal">Supplementing of Govt. schemes
 like mid-day
 meal by corporates through additional nutrition would qualify under
 Schedule VII.</p>
       </td>
       <td style="padding: 3.75pt; width: 185.25pt;"
  valign="top" width="247">
       <p class="MsoNormal">Yes. Under Schedule VII, item
 no. (i) under
 'poverty and malnutrition'.</p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt; width: 44.25pt;"
  valign="top" width="59">
       <p class="MsoNormal"><b>11.</b></p>
       </td>
       <td style="padding: 3.75pt; width: 230.25pt;"
  valign="top" width="307">
       <p class="MsoNormal">Research and Studies in the
 areas specified
 in Schedule VII.</p>
       </td>
       <td style="padding: 3.75pt; width: 185.25pt;"
  valign="top" width="247">
       <p class="MsoNormal">Yes, under the respective areas
  of items
  defined in Schedule VII. Otherwise under 'promoting education'.</p>
       </td>
     </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>12.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">Capacity building of government 
 officials
 and elected representatives – both in the area of PPPs and urban
 infrastructure.</p>
       </td>
       <td style="padding: 3.75pt; width: 185.25pt;"
  valign="top" width="247">
       <p class="MsoNormal">No.</p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt; width: 44.25pt;"
  valign="top" width="59">
       <p class="MsoNormal"><b>13.</b></p>
       </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">Sustainable urban development
 and urban
 public transport systems</p>
      </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal">Not covered.</p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>14.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">Enabling access to, or
 improving the
 delivery of, public health systems be considered under the head
 "preventive healthcare" or "measures for reducing inequalities faced by
 socially &amp; economically backward groups"?</p>
      </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal">Can be covered under both the
 heads of
 "healthcare" or "measures for reducing inequalities faced by socially
 &amp; economically backward groups", depending on the context.</p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>15.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">Likewise, could slum
 re-development or EWS
 housing be covered under "measures for reducing inequalities faced by
 socially &amp; economically backward groups"?</p>
      </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal">Yes.</p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>16.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">Renewable energy projects</p>
      </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal">Under 'Environmental
sustainability,
ecological balance and conservation of natural resources',</p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>17.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <ol style="margin-top: 0cm;" start="1" type="1">
        <li class="MsoNormal" style="">Are the
 initiatives mentioned in
 Schedule VII exhaustive?</li>
         <li class="MsoNormal" style="">In case a
 company wants to
 undertake initiatives for the beneficiaries mentioned in Schedule VII,
 but the activity is not included in Schedule VII, then will it count
 (as per 2(c)(ii) of the Final Rules, they will count)?</li>
       </ol>
       </td>
       <td style="padding: 3.75pt; width: 185.25pt;"
  valign="top" width="247">
       <p class="MsoNormal">(i) &amp; (ii) Schedule VII
 is to be
 liberally interpreted so as to capture the essence of subjects
 enumerated in the schedule.</p>
       </td>
     </tr>
    <tr style="">
      <td style="padding: 3.75pt; width: 44.25pt;"
 valign="top" width="59">
      <p class="MsoNormal"><b>18.</b></p>
      </td>
      <td style="padding: 3.75pt; width: 230.25pt;"
 valign="top" width="307">
      <p class="MsoNormal">US-India Physicians Exchange
 Program –
 broadly speaking, this would be program that provides for the
 professional exchange of physicians between India and the United States.</p>
      </td>
      <td style="padding: 3.75pt; width: 185.25pt;"
 valign="top" width="247">
      <p class="MsoNormal">No.</p>
      </td>
    </tr>
  </tbody>
</table>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>
