<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General
 Circular No. 22/2014</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">No.
 1/34/2013-CL-V (Part-I)<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">5th
 Floor, A Wing, Shastri Bhavan,<br>
 Dr R.P. Road, New Delhi,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Dated:
 25th June, 2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All
 Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject:
 Clarification with regard to format of annual return applicable for
 Financial Year 2013-14 and fees to be charged by companies for allowing
 inspection of records.</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Government
 has received requests for clarification about the applicability of form
 of annual return (MGT-7) prescribed under rule 11(1) of the Companies
 (Management and Administration) Rules, 2014 for financial year(s)
 commencing earlier than 1st April, 2014. The matter has been examined
 in the light of provisions of section 92(1) of the Act which requires
 annual return to contain particulars as they stood on the close of the
 financial year. It is, clarified that Form MGT-7 shall not apply to
 annual returns in respect of companies whose financial year ended on or
 before 1st April, 2014 and for annual returns pertaining to earlier
 years. These companies may file their returns in the relevant Form
 applicable under the Companies Act, 1956.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2.
 Companies have also sought clarity about permitting free of cost
 inspection of records under rule 14(2) and rule 16 of the rules cited
 above and till a fee is prescribed for the purpose in the Articles. It
 is clarified that until the requisite fee is specified by companies,
 inspections could be allowed without levy of fee.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">3. This
 issues with the approval of the competent authority.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Yours
 faithtully,<br>
 <br>
 (KMS Aarayanan)<br>
 Assistant Director (Policy)<br>
 23387263<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Copy
 to:- 1. e-Governance Section and Web Contents Officer to place
 this circular on the Ministry Website<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">2.
 Guard File<o:p></o:p></p>
 </body>
 </html>
