<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;" align="right"><b>General
 Circular no.
 23/2014</b></p>
 <p class="MsoNormal" style="text-align: center;" align="center">F. N:
 1/13/2013
 -CL-V&nbsp;<br>
 Government of India<br>
 Ministry of Corporate Affairs</p>
 <p class="MsoNormal" style="text-align: right;" align="right">'A' Wing,
 5th Floor,
 Shastri Bhawan<br>
 Dr. R.P. Road, New Delhi-110001</p>
 <p class="MsoNormal" style="text-align: right;" align="right">Date:
 25.06.2014</p>
 <p class="MsoNormal">To</p>
 <p class="MsoNormal">All Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.</p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject:
 Clarification
 relating to incorporation of a company i.e. company Incorporated
 outside India.</b></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,</p>
 <p class="MsoNormal" style="text-align: justify;">Government has
 received
 references seeking clarity about the status of subsidiaries
 incorporated/to be
 incorporated by companies incorporated outside India. Attention has, in
 particular, been drawn to the absence of the deeming provision of
 sub-section
 (7) of section 4 of the Companies Act, 1956 in the Companies Act, 2013
 (New
 Act).</p>
 <p class="MsoNormal" style="text-align: justify;">The matter has been
 examined in
 the Ministry in the light of sections 2(68), 2(71) and 2(87) of the New
 Act and
 it is clarified that there is no bar in the new Act for a company
 incorporated
 outside India to incorporate a subsidiary either as a public company or
 a
 private company. An existing company, being a subsidiary of a company
 incorporated outside India, registered under the Companies Act, 1956,
 either as
 private company or a public company by virtue of section 4(7) of that
 Act, will
 continue as a private company or public company, as the case may be,
 without
  any change in the incorporation status of such company.</p>
 <p class="MsoNormal" style="text-align: justify;">3. This issues with
 approval of
 Competent Authority.</p>
 <p class="MsoNormal" style="text-align: right;" align="right"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: right;" align="right">Yours
 faithfully,<br>
  <br>
<br>
 (KMS Narayanan)<br>
 Asst. Director<br>
 23387263</p>
 <p class="MsoNormal">Copy to:<br>
 1. PPS to Secretary<br>
 2. PPS to Addl. Secretary<br>
 3. PS to JS(M)/ PS to JS(B)/ PPS to JS(SP)<br>
 4. Dir(AK) / Dir(AB) / Dir(Nc)/ Dir(PS)</p>
  <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>

