<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p style="widows: 2;" align="right"><b>General
 Circular 24/2014</b></p>
<p><br>
</p>
<p style="page-break-inside: avoid; widows: 4;" align="center">F.
 No.
 01/13/2013-CL-V</p>
<p style="page-break-inside: avoid; widows: 4;" align="center">Government
 of India</p>
<p style="page-break-inside: avoid; widows: 4;" align="center">Ministry
 of Corporate Affairs</p>
<p style="page-break-inside: avoid; widows: 4;" align="center"><br>
</p>
<p style="page-break-inside: avoid; widows: 2;" align="right">A
 Wing ,
 5<sup>th</sup> Floor, Shastri Bhawan,</p>
<p style="page-break-inside: avoid; widows: 2;" align="right">Dr.
 Rajendra Prasad Road, New Delhi-110001</p>
<p style="page-break-inside: avoid;"><br>
</p>
<p style="page-break-inside: avoid; widows: 2;" align="right"><b>Date
 :-
 25.06.2015</b></p>
<p style="page-break-inside: avoid;"><br>
</p>
<p style="page-break-inside: avoid;">To,</p>
<p style="page-break-inside: avoid;">All Regional
 Directors,</p>
 <p style="page-break-inside: avoid;">All Registrar of
 Companies,</p>
 <p style="page-break-inside: avoid;">All stakeholders.</p>
 <p style="page-break-inside: avoid;"><br>
 </p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify"><b>Subject:-Clarification
 with regard to holding of shares in a fiduciary capacity by associate
 company under Section 2(6) of the Companies Act, 2013.</b></p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify"><br>
 </p>
 <p style="page-break-inside: avoid; widows: 8;"
   align="justify">Sir,</p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify"><br>
 </p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify">In
 continuation of the General Circular No. 20/2013 dated 27/12/2013, it
 is clarified that the shares held by a company in another company in
 a 'fiduciary capacity' shall not be counted for the purpose of
 determining the relationship of 'associate company' under section
 2(6) of the Companies Act, 2013.</p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify"><br>
 </p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify">2. This
 issues with approval of Competent Authority.</p>
 <p style="page-break-inside: avoid;"><br>
 </p>
 <p style="page-break-inside: avoid; widows: 2;" align="right">Yours
 Faithfully</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right"><br>
 </p>
 <p style="page-break-inside: avoid; widows: 2;" align="right">(KMS
  Narayanan)</p>
<p style="page-break-inside: avoid; widows: 2;" align="right">Asst.
 Director</p>
<p style="page-break-inside: avoid; widows: 2;" align="right"><br>
</p>
<p><br>
</p>
</body>
</html>
