<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General Circular No: 26 /2014</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b>No,2/2/2O14-CL-V<br>
 Government of India<br>
 Ministry of Corporate Affairs</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b>5th Floor,'A Wing', Shastri Bhawan,<br>
 Dr. R.P. Road, New Delhi - l1OO01</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b>Dated: 27th June, 201</b>4<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All
 Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject: Clarification with regard to use of the words "Commodity Exchange" in a company-reg.</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
<p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">In continuation of this Ministry's circular no. 02/2014 dated 11.02.2014, it is hereby clarified the use of the word "Commodity Exchange" may be allowed only where a "No Objection Certificate" from the Forward Markets Commission (FMC) is furnished by the applicant. All other provisions of the Companies (Incorporation) Rules, 2014 will continue to be applicable.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">2 It is also clarified that the certificate from Forward Markets Commission will also be required in cases of companies registered with the words "Commodity Exchange before the issue of this circular.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">3. This issues with the approval of competent authority.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Your's faithfully<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(KMS Narayanan)<br>
 <br>
 <br>
 Assistant Director (Policy)&nbsp;<br>
 23387263<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">1) E-Governance Cell and Web Contents Officer to place this Circular on Ministry's Website.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">2) Guard File<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
