<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General Circular No.
27/2014</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center">Government of India<br>
 Ministry of Corporate Affairs<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">5th Floor, A Wing, Shastri Bhawan,<br>
 Dr. Rajendra Prasad Road, New Delhi - 110001<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">F. No. MCA21/123/2014/e-Gov. Cell<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Dated the 30th June, 2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To,<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>Sub: - Clarification regarding filing of Form DPT4 under Companies Act, 2013.</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">This Ministry has received reference regarding filing of Form DPT4 under the provisions of the Companies Act, 2013. As per section 74(1)(a) of the Companies Act, 2013and the companies (Acceptance of Deposits) Rules, 2014 made there under, companies are required to file a statement regarding deposits existing as on date of commencement of the Act within a period of 3 months from such commencement.&nbsp;<br>
 The time for filing of said statement is expiring on 30-06-2014.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. After considering the reference, it has been decided to grant extension of time for the period of 2 months i.e. up to 31-08-2014 without any additional fee in terms of section 403 of the Act to enable the companies for filing of statement under Form DPT4 with the Registrar.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Yours faithfully,<br>
 <br>
 (M. S. Pachouri)<br>
 Deputy Director<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Copy to:-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">1. e-Governance Section and Web contents Officer to place this circular on the Ministry's website<br>
 2. Guard File<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
