<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: center;"
 align="center"><b>General Circular No. 30/2014</b></p>
<p class="MsoNormal" style="text-align: center;"
 align="center">No. 1/32/2013- CL-V (Pt)<br>
 GOVERNMENT OF INDIA&nbsp;<br>
 MINISTRY OF CORPORATE AFFAIRS</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">5th Floor, A Wing Shastri Bhavan,&nbsp;<br>
 Dr R.P. Road, New Delhi</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">Dated: 17th July 2014</p>
 <p class="MsoNormal">To</p>
 <p class="MsoNormal">All Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.</p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject: Clarifications on matters relating to Related Party Transactions.</b></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,.</p>
 <p class="MsoNormal" style="text-align: justify;">Government has received representations from stakeholders seeking certain clarifications on related party transactions covered under section 188 of the Companies Act, 2013. These representations have been examined and the following clarifications are given:-</p>
 <p class="MsoNormal" style="text-align: justify;">1. <u>Scope of second proviso to Section 188(1}</u>&nbsp;:- Second proviso to sub-section (1) of section 188 requires that no member of the company shall vote on a special resolution to approve the contract or arrangement (referred to in the first proviso), if such a member is a related party. It is clarified that 'related party' referred to in the second proviso has to be construed with reference only to the contract or arrangement for which the said special resolution is being passed. Thus, the term 'related party' in the above context refers only to such related party as may be a related party in the context of the contract or arrangement for which the said special resolution is being passed.</p>
 <p class="MsoNormal" style="text-align: justify;">2. <u>Applicability of Section 188 to corporate restructuring, amalgamationsetc.</u>&nbsp;:- It is clarified that transactions arising out of Compromises, Arrangements and Amalgamations dealt with under specific provisions of the Companies Act, 1956/Companies Act, 2013, will not attract the requirements of section 188 of the Companies Act, 2013.</p>
 <p class="MsoNormal" style="text-align: justify;">3. <u>Requirement of fresh approvals for past contracts under Section 188.</u>&nbsp;:- Contracts entered into by companies, after making necessary compliances under Section 297 of the Companies Act, 1956, which already came into effect before the commencement of Section 188 of the Companies Act, 2013, will not require fresh approval under the said section 188 till the expiry of the original term of such contracts. Thus, if any modification in such contract is made on or after 1st April, 2014, the requirements under section 188 will have to be complied with.</p>
 <p class="MsoNormal" style="text-align: justify;">4. This issues with approval of the competent authority.</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">Yours faithfully<br>
 <br>
 <br>
 (KMS Narayanan)&nbsp;<br>
 Assistant Director (Policy)<br>
 Ph: 23387263</p>
 <p class="MsoNormal"><b>Copy To:-</b></p>
 <p class="MsoNormal">1. e-Governance Section and web contents Officer to place this circular on the Ministry website.<br> 2. Guard File</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
