<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General Circular No. 31/2014</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center">F. No. MCA21 / 152/2014-eGov Cell&nbsp;<br>
 Government of India<br>
 Ministry of Corporate Affairs<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">5th Floor, A Wing, Shastri Bhavan,&nbsp;<br>
 Dr R.P. Road, New Delhi Dated: 19th July, 2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All Regional Directors,<br>
 All Registrars of Companies.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject: Extension of validity of reserved names - reg.</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">The Service Provider of MCA-21 has brought to the notice of the Ministry that the letters of intimation issued in respect of 9522 cases for reservation of names (INC-1) allow the applicants to use reserved names within 60 days of date of such intimation. This is at variance with the implementation in the MCA-21. This is causing inconvenience to the stakeholders.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">In view of this, the validity of 1930 of the above mentioned 9522 cases for reservations of names which have expired as on the date of this circular is hereby extended upto 18th August, 2014. Further, in case of 6864 cases where names have been reserved and are yet to be used, the time period as indicated in the letters of intimations is allowed. All applicants may accordingly be advised to file relevant e-forms for incorporation of companies under the Companies Act, 2013 well before the validity period.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">This issues with the approval of the competent authority.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Yours faithfully<br>
 <br>
 <br>
 (Animesh Bose)&nbsp;<br>
 Assistant Director (Policy)<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Copy to:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1. e-Governance Section and web contents Officer to place this circular on the Ministry website<br>
 2. Guard File<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
