<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;"
 align="right"><b>General Circular No. 32/2014</b></p>
<p class="MsoNormal" style="text-align: center;"
 align="center">No. 1/25/ 13-CL-V&nbsp;<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">5th Floor, A Wing, Shastri Bhavan,<br>
 Dr R.P, Road, New Delhi.</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right"><b>Dated: - 23&nbsp;<sup>rd</sup>&nbsp;July,
 2014</b></p>
 <p class="MsoNormal">To</p>
 <p class="MsoNormal">All Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.</p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject: Clarification on transitional period for resolutions passed Under the Companies Act, 1956.</b></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,</p>
 <p class="MsoNormal" style="text-align: justify;">It has been brought to the notice of the Government that many companies have passed resolutions during financial year 2013-14 under the relevant provisions of the Companies Act, 1956 (Old Act) which are/were at different stages of implementation after coming into force of corresponding provisions of the new Companies Act, 2013 (New Act). Ministry has received suggestions that while section 6 of the General Clauses Act, 1897 protects the validity of such resolutions, it will be advisable if a suitable communication is also issued in the matter by the Ministry by way of abundant caution.</p>
 <p class="MsoNormal" style="text-align: justify;">2. The matter has been examined in the light of similar issues clarified earlier. It is clarified that resolutions approved or passed by companies under relevant applicable provisions of the Old Act during the period from 1st September, 2013 to 31st March, 2014, can be implemented, in accordance with provisions of the Old Act, notwithstanding the repeal of the relevant provision subject to the conditions&nbsp;<b>(a)&nbsp;</b>that the implementation of the resolution actually commenced before 1st April, 2014 and&nbsp;<b>(b)</b>&nbsp;that this transitional arrangment will be available upto expiry of one year from the passing of the resolution or six months from the commencement of the corresponding provision in New Act whichever is later. It is also clarified that any amendment of the resolution must be in accordance with the relevant provision of the New Act,</p>
 <p class="MsoNormal" style="text-align: justify;">This issues with the approval of the competent authority.</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">Yours faithfully<br>
 <br>
 <br>
 Assistant Director (Polocy)<br>
 23387263</p>
 <p class="MsoNormal" style="text-align: justify;">Copy to:-</p>
 <p class="MsoNormal" style="text-align: justify;">1. e-Governance Section and web contents Officer to place this circular on the Ministry website<br>
 2. Guard File</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
