<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
 <p class="MsoNormal" style="text-align: right;"
  align="right"><b>General Circular No. 33/2014</b></p>
 <p class="MsoNormal" style="text-align: center;"
  align="center">F. No.l/33/13-CL-V&nbsp;<br> Government of India&nbsp;<br>
 Ministry of Corporate Affairs</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">5th Floor, A Wing, Shastri Bhavan,<br>
 Dr R.P. Road, New Delhi</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right"><b>Dated: 31<sup>st</sup>&nbsp;July, 2014</b></p>
 <p class="MsoNormal">To</p>
 <p class="MsoNormal">All Regional Directors,<br>
 All Registrars of Companies.</p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject: Clarification with regard to applicability of provisions of section 139(5) and 139(7) of the Companies Act, 2013</b></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,</p>
 <p class="MsoNormal" style="text-align: justify;">Doubts have been raised about applicability of sections 139(5) and 139(7) of the Companies Act, 2013 (New Act), which deal with appointment of auditors by Comptroller and Auditor General of India (C&amp;AG), to 'deemed Government Companies' referred to in section 619B of the Companies Act 1956 (Old Act) i.e. companies where ownership or control lies with two or more Government companies or corporations etc in the manner detailed in section 619B ibid, Stakeholders have pointed out that the New Act does not contain specific provisions about 'deemed Government companies' on the lines of section 619B of the Old Act. Clarification has been sought whether, under the new Act, such deemed Government companies would be subject to audit by the C&amp;AG in the same manner as Government Companies.</p>
 <p class="MsoNormal" style="text-align: justify;">2. The above issue has been examined and it is clarified that the new Act does not alter the position with regard to audit of such deemed Government companies through C&amp;AG and thus such companies are covered under sub-section (5) and (7) of section 139 of the New Act.</p>
 <p class="MsoNormal" style="text-align: justify;">3. Further, it has also been observed that the words "any other companyowned or controlled, directly or indirectly .............. by the Central Governmentand partly by one or more State Governments" appearing in sub-sections (5) and (7) of section 139 of the New Act are to be read with the definition of 'control' in section 2(27) of the New Act. Thus documents like articles of association and shareholders agreements etc envisaging control under section 2(27) are to be taken into account while deciding whether an individual company, other than those referred in paragraph 1-2 above, is covered under section 139(5)/139(7) of the New Act.</p>
 <p class="MsoNormal" style="text-align: justify;">4. Clarification has also been sought about the manner in which the information about incorporation of a company subject to audit by an auditor to be appointed by the C&amp;AG is to be communicated to the C&amp;AG for the purpose of appointment of first auditors under section 139(7) of the New Act. It is hereby clarified that such responsibility rests with both, the Government concerned and the relevant company. To avoid any confusion it is further clarified that it will primarily be the responsibility of the company concerned to intimate to the C&amp;AG about its incorporation along with name, location of registered office, capital structure of such a company immediately on its incorporation, It is also incumbent on such a company to share such intimation to the relevant Government so that such Government may also send a suitable request to the C&amp;AG.</p>
 <p class="MsoNormal" style="text-align: justify;">5. This issues with the approval of the competent authority.</p>
 <p class="MsoNormal" style="text-align: right;"
  align="right"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: right;"
  align="right">Yours faithfully<br>
 <br>
 <br>
 (KMS Narayanan)<br>
 Assistant Director Policy</p>
 <p class="MsoNormal" style="text-align: justify;">Copy
 to;-</p>
 <p class="MsoNormal" style="text-align: justify;">1.
 e-Governance Section and web contents Officer to place this circular on
 the Ministry website<br>
 2. Guard File</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
