<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General Circular No. 34/2014</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b>F. No. 02/13/2014 CL-V<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">5th Floor, A Wing, Shastri Bhavan,&nbsp;<br>
 Dr. RP. Road New Delhi,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Dated: 12/08/2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To,<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All
 Regional Directors,<br>
 All Registrars of Companies.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject: COMPANY LAW SETTLEMENT SCHEME, 2014</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">As you are aware, the Companies Act requires companies to file annual documents (Annual Return and financial statements) on the MCA21 electronic registry within prescribe time limit. Sections 159, 220 and 611 of the companies Act, 1956 may be referred to in this regard. These annual documents are considered very important in context of an up-to-date Registry, It is observed that a large percentage of companies have not filed their statutory documents making them liable for penalties and prosecution for such non-compliance.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. The Companies Act, 2013 lays down a stricter regime for the defaulting companies with higher additional fees. The quantum of punishment has been enhanced under the above mentioned provision of the Act vis-à-vis the earlier Act i.e. Companies Act, 1956, A specific provision for enhanced fine in case of repeated default has also been included in the form of section 451 of the act, Additionally, the provisions of section 164(2) of the Act, inter alia, providing for disqualification of directors in case a company has not filed financial statements or annual returns for ant continuous period of three financial year has been extended to all companies<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">3. The Ministry has received representations from various stakeholders requesting for grant of transitional period/one time opportunity to enable them to file their pending annual documents to avoid attraction of higher fees/fine and other penal action, especially disqualification of their Directors prescribed under the new provisions of the Act.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">4. In order to give such an opportunity to the defaulting companies to enable them to make their default good by filing these belated documents, the Central Government in exercise of powers conferred under section 403 and 460 of the Companies Act, 2013 has decided to introduce a Scheme namely "Company Law Settlement Scheme 2014" [ClSS-2014] condoning the delay in filing the above mentioned documents with the Registrar, granting immunity for prosecution and charging a reduced additional fee of 25% of the actual additional fees payable as per section 403 read with Companies (Registration Offices and Fee ) Rules, 2014 for filing those belated documents under the Companies Act, 1956/2013 and the Rules made thereunder.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">5. In addition, the scheme gives an opportunity to Inactive companies to get their companies declared as 'dormant company' under section 455 of the Act (Chapter XXIX) by filing a simple application at reduced fees. The said provision enables Inactive companies to remain on the Register of Companies with minimal compliance requirements.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">6. The detail Is of the Scheme are as under: -<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(i) The scheme shall come into force on the 15* August 2014 and shall remain in force up to 15*1 October, 2014.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>(ii} Definitions -</b>&nbsp;In this Scheme, unless the context otherwise requires, -<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(a} "Act" means the Companies Act, 2013 and Companies Act, 1956 (where ever applicable) ;<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(b) "Company" means a company as defined in clause of 20 of section 2 of the Companies Act, 2013;<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(c) "defaulting  company" means a company defined under the Companies Act, 2013, and which has made a default in filing of annual statutory documents.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(d) "designated  authority" means the Registrar of Companies having jurisdiction over the registered office of the company.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(e) "immunity certificate" means the certificate referred to in sub-paragraph (vl&gt; of the Scheme;<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(f) "inactive Company" means as defined In Explanation (i) to sub-section (1) of section 455(1) of Companies Act, 2013.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>(iii) Applicability: -</b>&nbsp;Any "defaulting company" is permitted to file belated documents which were due for filing till 30* June 2014 In accordance with the provisions of this Scheme:<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>(iv) Manner of payment of fees and additional fee on filing belated document for seeking Immunity under the Scheme -&nbsp;</b>The defaulting company shall pay statutory filing fees as prescribed under the Companies (Registration Offices and fee) Rules, 2014 along with additional fees of 25% of the actual additional fee payable on the date of filing of each belated document.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>(v) Withdrawal of appeal against prosecution launched for the offences:</b>&nbsp;If the defaulting company has filed any appeal against any notice issued or complaint filed before the competent court for violation of the provisions under the Companies Act, 1956 and/or Companies Act, 2013 in respect of which application is made under this scheme, the applicant shall before filing an application for issue of immunity certificate, withdraw the appeal and furnish proof of such withdrawal along with the application.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>(vi) Application for Issue of Immunity in respect of documents) filed under the Scheme -</b>&nbsp;The application for seeking immunity in respect of belated documents filed under the Scheme may be made electronically in the e-Form CLSS-2014 annexed, after the document(s) are taken on file, or on record or approved by the Registrar of Companies as the case may be. The e-Form for filing application to obtain such a certificate will be available on the MCA21 portal from 1* September, 2014 and may be filed thereafter but not later than three months from the date of closure of the Scheme. There shall not be any fee payable on this Form.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Provided that this immunity shall not be applicable in the matter of any appeal pending before the court of law and in case of management disputes of the company pending before the court of law or tribunal.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>(vii) Order by designated authority granting immunity from penalty and prosecution -</b>&nbsp;The designated authority shall consider the application and upon being satisfied shall grant the immunity certificate in respect of documents filed under this Scheme.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>(viii) Scheme not to apply in certain cases -</b>&nbsp;(a) This scheme shall not apply to the filing of belated documents other than the following:<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-left: 0cm; text-align: justify; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">a.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><b>Form 20B -&nbsp;</b>Form for filing annual return by a company having share capital.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-left: 0cm; text-align: justify; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">b.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><b>Form 21A -</b>&nbsp;Particulars of Annual return for the company not having share capital.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-left: 0cm; text-align: justify; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">c.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><b>Form 23AC, 23ACA, 23AC-X8RL and 23ACA-XBRL -</b>&nbsp;Forms for filing Balance Sheet and Profit &amp; Loss account.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-left: 0cm; text-align: justify; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">d.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><b>Form 66 -</b>&nbsp;Form for submission of Compliance Certificate with the Registrar.<o:p></o:p></p>
 <p class="MsoNormal"
 style="margin-left: 0cm; text-align: justify; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
 style=""><span style="">e.<span
 style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><!--[endif]--><b>Form 23B -</b>&nbsp;Form for intimation for Appointment of Auditors.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">(ix) This Scheme shall not apply<o:p></o:p></p>
<p class="MsoNormal"
 style="margin-left: 0cm; text-align: justify; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
 style=""><span style="">f.<span
 style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><!--[endif]-->to companies against which action for striking off the name under sub-section (5) of section 560 of Companies Act, 1956 has already been initiated by the Registrar of Companies or<o:p></o:p></p>
<p class="MsoNormal"
 style="margin-left: 0cm; text-align: justify; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
 style=""><span style="">g.<span
 style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><!--[endif]-->where any application has already been filed by the companies for action of striking off name from the Register of Companies or<o:p></o:p></p>
<p class="MsoNormal"
 style="margin-left: 0cm; text-align: justify; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
 style=""><span style="">h.<span
 style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><!--[endif]-->where applications have been filed for obtaining Dormant Status under section 455 of the Companies Act, 2013;<o:p></o:p></p>
<p class="MsoNormal"
 style="margin-left: 0cm; text-align: justify; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
 style=""><span style="">i.<span
 style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><!--[endif]-->to vanishing companies<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">(x} After granting the immunity, the Registrar concerned shall withdraw the prosecution(s) pending if any before the concerned Court(s);<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b>(xi) scheme for Inactive Companies:</b>&nbsp;The defacing inactive companies, while filing due documents under CLSS-2014 can, simultaneously, either:<o:p></o:p></p>
<p class="MsoNormal"
 style="margin-left: 0cm; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
 style=""><span style="">j.<span
 style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><!--[endif]-->apply to get themselves declared as Dormant Company under section 455 of the Companies Act, 2013 by filing e-form MSC- l at 25% of the fee for the said form; OR<o:p></o:p></p>
<p class="MsoNormal"
 style="margin-left: 0cm; text-indent: 0cm; font-family: Arial;"><!--[if !supportLists]--><span
 style=""><span style="">k.<span
 style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><!--[endif]-->apply for striking off the name of the company by Wing e- Form FTE at 25% of the fee payable on form FTE.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b>(xii) Applicability of clause (a) sub-section (2) of Companies Act. 2013 In case of companies availing the Scheme:-</b>&nbsp;In case of defaulting companies which avail of this Scheme and file all belated documents, the provisions of clause (a) of sub-section (2) of section 164 of the Companies Act, 2013 shall apply only for the prospective defaults, if any, by such companies.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">7. At the conclusion of the Scheme, the Registrar shall take necessary action under the Companies Act, 1956/ 2013 against the companies who have not availed this Scheme and are in default in filing these documents in a timely manner.<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Yours faithfully,<br>
<br>
<br>
 (KMS Narayanan)&nbsp;<br>
 Assistant Director 23387263<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 </body>
</html>
