<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General Circular No. 35/2014</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center">F.No. 17/66/2013/CL-V<br>
 GOVERNMENT OF INDIA<br>
 MINISTRY OF CORPORATE AFFAIRS<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">5th Floor, 'A' Wing Shastri Bhawan,&nbsp;<br>
 Dr. R.P. Road, New Delhi&nbsp;<br>
 Dated: 27th August 2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject: Clarification Accounting Standards (AS) 10 - Capitalization of Cost - regarding.</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Government has received a number of representations seeking clarifications on capitalization of costs in cases of Competitive Bid power projects. The clarifications sought were with regard to capitalization of borrowing costs incurred during extended delay in commercial production for reasons beyond the developer's control, and whether capitalization of power plant should be unit-wise or project-wise. The matter has been examined in consultation with the Accounting Standards Board (ASB) of the Institute of Chartered Accountants of India (ICAI).<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. Accounting Standards AS-10 and AS-16 prescribe the principles of capitalization of various costs based on the underlying concept that only such expenditure should be capitalized as form a part of the cost of fixed assets which increase the worth of the assets. Cost incurred during the extended delay in commencement of commercial production after the plant is otherwise ready does not increase the worth of fixed assets. Such costs cannot, therefore, be capitalized.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">3. Accounting Standard AS 16, inter alia provides guidance with regard to part capitalization where some units of a project are complete. In case one of the units of the project is ready for commercial production and is capable of being used while construction continues for the other units, costs should be capitalized in relation to that part once the part is ready for commercial production.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">4. It is further clarified that AS 10 and AS 16 are applicable irrespective of whether the power projects are 'Cost Plus projects' or 'Competitive Bid projects'.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">This issues with approval of the competent authority.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Yours faithfully<br>
 <br>
 <br>
 (S.K Verma)&nbsp;<br>
 Assistant Director (Policy)&nbsp;<br>
 Ph:23073067<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Copy to:-</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1. E-Govemance website. Section and web contents Officer to place this circular on the Ministry<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. Guard File.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
