<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General Circular No.36/2014</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b>F.NO.05/01/2014-CSR<br>
 Government of India<br>
 Ministry of Corporate Affairs</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">5th Floor, 'A' Wing&nbsp;<br>
 Shastri Bhawan, Dr. R.P. Road,&nbsp;<br>
 New Delhi-110001<o:p></o:p></p>
 <p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Dated: 17.09.2014<o:p></o:p></p>
  <p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All Regional Director,<br>
 All Registrar of Companies,<br>
 All Stakeholders<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Subject: Clarification with regard to provisions of Corporate Social Responsibility (CSR) under section 135 of the Companies Act, 2013.</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">In continuation of the General Circular No. 21 of 2014 dated 18.06.2014, the following clarifications are hereby issued:<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(i) Rule 4(6) of the Companies (Corporate Social Responsibility Policy) Rules, 2014 as notified on 27.02.2014 has been amended by notification dated 12.09.2014; and<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(ii) Consequently, clarification (iv) in General Circular No. 21 of 2014 dated 18.06.2014, stands omitted.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. This issues with the approval of Competent Authority.<o:p></o:p></p>
<p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b>Yours faithfully&nbsp;</b><br>
 <br>
<br>
<b>(Seema Rath)<br>
 Assistant Director (CSR)&nbsp;<br>
 Tel: 011-23384657|</b><o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b>Copy to:</b><o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal">1. PSO to Secretary<br>
 2. PPS to Additional Secretary<br>
 3. PS to DG(IICA)<br>
 4. PS to JS(M)/JS(B)/JS(ADM)/JS(SP)/DII (NS)/EA/DII (Policy)<br>
 5. DIR (AK)/ DIR (NC)/ DIR(PS)/DIR (R&amp;A)<br>
 6. e-Governance Cell for uploading on website of MCA<br>
 7. Guard File.<o:p></o:p></p>
 </body>
 </html> 
