<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;" align="right"><b>General
 Circular No.
 38/2014</b></p>
 <p class="MsoNormal" style="text-align: center;" align="center">No.
 1/22/2013-CL-V<br>
 Government of India<br>
 Ministry of Corporate Affairs</p>
 <p class="MsoNormal" style="text-align: right;" align="right">5th
 Floor, "A" Wing,
 Shastri Bhavan,&nbsp;<br>
 Dr R.P. Road, New Delhi</p>
 <p class="MsoNormal" style="text-align: right;" align="right"><b>Dated:
 14th October,
 2014</b></p>
 <p class="MsoNormal">To</p>
 <p class="MsoNormal">All Regional Directors,<br>
 All Registrars of Companies.</p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject: Right of
 persons
 other than retiring directors to stand for directorship - Refund of
 deposit
 under section 160 of the Companies Act, 2013 in certain cases.</b></p>
 <p class="MsoNormal" style="text-align: justify;"><b>Sir,</b></p>
 <p class="MsoNormal" style="text-align: justify;">Clarity has been
 sought by
 companies registered under section 8 of the Companies Act, 2013
 (corresponding
 to section 25 of Companies Act, 1956) about the manner in which the
 amount of
 deposit of rupees one lakh received by them under sub-section (1) of
  section
 160 of the Companies Act, 2013 (Act) is to be handled if the depositor
 fails to
 secure more than twenty five per cent of the total valid votes. It has
 been
 noted that the relevant provision is silent on such issue.</p>
 <p class="MsoNormal" style="text-align: justify;">2. The matter has
 been examined
 in the Ministry and it is clarified that in such cases, the Board of
 directors
 of a section 8 company is to decide as to whether the deposit made by
 or on
 behalf of the person failing to secure more than twenty-five percent of
 the
 valid votes is to be forfeited or refunded.</p>
 <p class="MsoNormal" style="text-align: justify;">3. This issues with
 the approval
 of the competent authority.</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: right;" align="right">Yours
 faithfully<br>
<br>
 <br>
 (KMS Narayanan)<br>
 Assistant Director (Policy)</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: justify;"><b>Copy to:-</b><br>
 1. e-Governance Section and web contents Officer to place this circular
 on the
 Ministry website<br>
 2. Guard File</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 </body>
 </html>

