<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;" align="right"><b>General
 Circular No.
 39/2014</b></p>
 <p class="MsoNormal" style="text-align: center;" align="center">No.
 4/2/2011-CL-I<br>
 Government of India<br>
 Ministry of Corporate Affairs</p>
 <p class="MsoNormal" style="text-align: right;" align="right">5th
 Floor,
 "A" Wing, Shastri Bhavan,<br>
 Dr R.P. Road, New Delhi.</p>
 <p class="MsoNormal" style="text-align: right;" align="right"><b>Dated:
 14th October,
 2014</b></p>
 <p class="MsoNormal">To</p>
 <p class="MsoNormal">All Regional Directors,&nbsp;<br>
 All Registrars of Companies,&nbsp;<br>
 All Stakeholders.</p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject:
 Clarification on
 matters relating to Consolidated Financial Statement.</b></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,</p>
 <p class="MsoNormal" style="text-align: justify;">Government has
 received
 representations from stakeholders seeking clarifications on the manner
 of
 presentation of notes in Consolidated Financial Statement (CFS) to be
 prepared
 under Schedule III to the Companies Act, 2013(Act). These
 representations have
 been examined in consultation with the Institute of Chartered
 Accountants of
 India (ICAI) and it is clarified that Schedule III to the Act read with
 the applicable
 Accounting Standards does not envisage that a company while preparing
 its CFS
 merely repeats the disclosures made by it under stand-alone accounts
 being
 consolidated. In the CFS, the company would need to give all
 disclosures
 relevant for CFS only.</p>
 <p class="MsoNormal" style="text-align: justify;">2. This issues with
 the approval
 of the competent authority.</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="text-align: right;" align="right">Yours
 faithfully,<br>
 <br>
 <br>
 (KMS Narayanan)<br>
 Assistant Director (Policy)</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="text-align: justify;"><b>Copy to:-</b><br>
 1. e-Governance Section and web contents Officer to place this circular
 on the
 Ministry web site&nbsp;<br>
 2. Guard File</p>
 <p class="MsoNormal" style="text-align: justify;"><o:p>&nbsp;</o:p></p>
 </body>
</html>

