<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General
 Circular No.
 42 /2014</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b>No.
 1/40/2013/CL.
 V-Part<br>
 Government of India<br>
 Ministry of Corporate Affairs</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">5th
 Floor, "A"
 Wing, Shastri Bhawan,&nbsp;<br>
 Dr. R. P. Road, New Delhi.&nbsp;<br>
 Dated: 12th November, 2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All
 Regional Directors,<br>
 All Registrars of Companies,&nbsp;<br>
 All Stakeholders.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>Subject:
 Clarification on matters relating to the Companies (Cost Records and
 Audit) Rules, 2014.</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Government
 has received representations from stakeholders seeking clarifications
 about Rules 5
 (1) and 6 [2] of the Companies (Cost Records and Audit) Rules, 2014
 regarding maintenance of cost records and filing of notice of
 appointment of the Cost Auditor in Form CRA-2 in electronic mode. The
 matter has been examined
 in the Ministry and the following is clarified:<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Considering
 delay in availability of Form CRA-2 on the MCA website, it has been
 decided to extend the
 date of filing of the said Form without any penalty/late fee up to 31st
 January, 2015. Form CRA-2 will be made available on the MCA website
 soon. It is noted that some companies have filed Form 23C for
 appointment of Cost Auditor for the financial year 2014-15. It is
 clarified that such companies need not
 file form CRA-2 afresh for the financial year 2014-15.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. This
 issues with the approval of the Competent Authority.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Yours
 faithfully,<br>
 <br>
 <br>
 (Kamna Sharma) Assistant Director<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Copy
 to:-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">1.
 E-governance Section and web contents officer to place
 this circular on the Ministry's website.<br>
 2. Guard File<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
