<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: right;" align="right"><b>General
 Circular No.
 43/2014</b></p>
 <p class="MsoNormal" style="text-align: center;" align="center"><b>No.
 1/21
 /2013-CL-V&nbsp;<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</b></p>
 <p class="MsoNormal" style="text-align: right;" align="right">5th
 Floor, "A" Wing,
 Shastri Bhavan,&nbsp;<br>
 Dr R.P. Road, New Delhi&nbsp;<br>
 Dated: 13th November, 2014</p>
 <p class="MsoNormal">To</p>
 <p class="MsoNormal" style="text-align: justify;">All Regional
 Directors,<br>
 All Registrars of Companies.</p>
 <p class="MsoNormal" style="text-align: justify;"><b>Subject: Issue of
 Foreign
 Currency Convertible Bonds (FCCBs) and Foreign Currency Bonds (FCBs) -
 Clarification regarding applicability of provisions of Chapter III of
 the
 Companies Act, 2013.</b></p>
 <p class="MsoNormal" style="text-align: justify;">Sir,</p>
<p class="MsoNormal" style="text-align: justify;">The Ministry has been
 receiving
 references from stakeholders seeking clarity on applicability of
 provisions of
 Chapter III of the Companies Act, 2013 (Act) to the issue of Foreign
 Currency
 Convertible Bonds (FCCBs) and Foreign Currency Bonds (FCBs) by Indian
 companies
 exclusively to persons resident outside India in accordance with
 applicable
 sectoral regulatory provisions.</p>
 <p class="MsoNormal" style="text-align: justify;">2. The matter has
 been examined
 in the Ministry in consultation with Ministry of Finance and SEBI. The
 issue of
 FCCBs and FCBs by companies is regulated by the Ministry of Finance's
 regulations contained in Issue of Foreign Currency Convertible Bonds
 and
 Ordinary Shares (Through Depository Receipts Mechanism) Scheme, 1993
 (Scheme)
 and Reserve Bank of India through its various directions/regulations.
 It is,
 accordingly, clarified that unless otherwise provided in the said
 Scheme or the
 directions/regulations issued by Reserve Bank of India, provisions of
 Chapter
 III of the Act shall not apply to an issue of a FCCB or FCB made
 exclusively to
 persons resident outside India in accordance with the above mentioned
 regulations.</p>
 <p class="MsoNormal" style="text-align: justify;">3. This issues with
 the approval
 of the competent authority.</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
  <p class="MsoNormal" style="text-align: right;" align="right">Yours
 faithfully,<br>
 <br>
 <br>
 (KMS Narayanan)<br>
 Assistant Director (Policy)</p>
 <p class="MsoNormal">Copy to:-</p>
 <p class="MsoNormal">1. e-Governance Section and web contents Officer
 to place
 this circular on the Ministry website.<br>
 2. Guard File</p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
</html>

