<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General
 Circular No.
 44/2014</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b>No. 2/
 13/2014-CL-V<br>
 Government of India&nbsp;<br>
 Ministry of Corporate Affairs</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">5th
 Floor, 'A' Wing,
 Shastri Bhawan,<br>
 Dr. R.P. Road, New Delhi.<br>
  Dated: 14.11.2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">To<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All
 Regional Directors,<br>
 All Registrars of Companies,<br>
 All Stakeholders.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>Subject:
 COMPANY LAW SETTLEMENT SCHEME, 2014 (CLSS-2014)</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">In
 continuation to the Ministry's General Circular No. 34/2014 dated
 12.08.2014 and 40/2014 dated 15/10/2014 on the subject cited above,
 this Ministry has, on consideration of requests received from various
 stakeholders, has decided to extend the Company Law Settlement Scheme
 (CLSS 2014) upto 31st December, 2014.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. This
 issues with the approval of the competent authority.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Yours
 faithfully,<br>
 <br>
 <br>
 (KMS Narayanan)<br>
 Assistant Director (Policy)&nbsp;<br>
 23387263<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>Copy
 to: -</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">1.
 E-Governance Section and Web Contents Officer to place this circular on
 the Ministry's website.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">2.
 Guard File<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
