<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b>General
 Circular No.
 45/2014</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b>F.No.
 02/13/2014
 CL-V<br>
 Government of India<br>
 Ministry of Corporate Affairs</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b>'A'
 Wing, 5th Floor,
 Shastri Bhawan,&nbsp;<br>
 Dr. Rajendra Prasad Road, New Delhi-110001.<br>
 Dated: 18.11.2014</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">All
 Regional Directors,<br>
 All Registrar of Companies,<br>
 All Stakeholders.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>Subject:
 Extension of time for holding Annual General Meeting (AGM) under section 96(1) of the Companies Act, 2013-Companies registered in State of Jammu and Kashmir.</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Sir,<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">The State of Jammu and Kashmir 
 faced unprecedented floods, particularly in the Kashmir valley in 
 September 2014. Kashmir Chamber of Commerce and Industry and others have 
 represented that due to the devastation caused by the floods, companies registered in 
 the State could not convene AGMs for the financial year 2013-2014 within the 
 stipulated time as required under the provisions of Companies Act, 2013.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. In view 
 of the exceptional circumstances, Registrar of Companies Jammu and Kashmir is advised to 
 exercise powers conferred on him under the third proviso to section 96(1) of the Companies Act, 2013 to grant extension of time upto 31/12/2014 to those
 companies registered in the State of Jammu and Kashmir who could not hold their AGMs (other than first AGM) for the financial year 2013-14 within the stipulated time.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">3. This 
 issues with the approval 
 of the competent authority.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Yours
 faithfully,<br>
 <br>
 <br>
 (KMS Narayanan)<br>
 Assistant Director<br>
 23387263<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Copy
 to: -<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">1. 
 ROC Jammu and Kashmir<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">2. 
 E-Governance Section and Web Contents Officer to place 
 this circular on the Ministry's website.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">3. 
 Guard File.<o:p></o:p></p>
 </body>
 </html> 
