<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>52015 dated 30th March 2015 (1)</title></head><body>
<p style="widows: 2;" align="right"><b>General Circular No. 05/2015</b></p>
<p style="widows: 4;" align="center">F. No. 1/8/2013-CL-V<br>Government
 of India<br>Ministry of Corporate Affairs</p>
<p style="widows: 2;" align="right">5th Floor, A Wing, Shastri
 Bhavan,&nbsp;<br>Dr R.P. Road, New Delhi.</p>
<p style="widows: 2;" align="right"><b>Dated: 30</b><sup><b>th</b></sup><b>&nbsp;March,
 2015</b></p>
<p>To</p>
<p>All Regional Directors,<br>All Registrars of Companies,&nbsp;<br>All
 stakeholders.</p>
<p style="widows: 8;" align="justify"><b>Subject: Amounts received by
 private companies from their members, directors or their relatives
 before 1</b><sup><b>st</b></sup><b>&nbsp;April, 2014 - Clarification
 regarding applicability of Companies (Acceptance of Deposits) Rules,
 2014</b></p>
<p style="widows: 8;" align="justify">Sir,</p>
<p style="widows: 8;" align="justify">Stakeholders have sought
 clarifications as to whether amounts received by private companies
 from their members, directors or their relatives prior to 1st April,
 2014 shall be considered as deposits under the Companies Act, 2013 as
 such amounts were not treated as &#8216;deposits&#8217; under section 58A of
 the Companies Act, 1956 and rules made thereunder.</p>
<p style="widows: 8;" align="justify">2. The matter has been examined in
 consultation with RBI and it is clarified that such amounts received
 by private companies prior to 1st April, 2014 shall not be treated as
 &#8216;deposits&#8217; under the Companies Act, 2013 and Companies
 (Acceptance of Deposits) Rules, 2014 subject to the condition that
 relevant private company shall disclose, in the notes to its
 financial statement for the financial year commencing on or after 1st
 April, 2014 the figure of such amounts and the accounting head in
 which such amounts have been shown in the financial statement.</p>
<p style="widows: 8;" align="justify">3. Any renewal or acceptance of
 fresh deposits on or after 1st April, 2014 shall, however, be in
 accordance with the provisions of Companies Act, 2013 and rules made
 thereunder.</p>
<p style="widows: 8;" align="justify">4. This issues with the approval
 of the competent authority.</p>
<p><br>Yours faithfully,<br><br>(K.M.S. Narayanan)<br>Assistant
 Director (Policy)</p>
<p>Copy to:- 1. e-Governance Section and web contents Officer to
 place this circular on the Ministry website.</p>
<p>2. Guard File.</p></body></html>