<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Chapter VI_table_3</title></head><body>

<table class="MsoNormalTable" style="width: 100%; border-collapse: collapse; height: 186px;" border="1" cellpadding="0" cellspacing="0">

 <tbody><tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Date
  of modification of charge<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Date
  of registration of modification of charge<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Description
  of the instrument modifying the charge<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Particulars
  of modification<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(10)<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(11)<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(12)<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(13)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
</tbody>
</table>



  

</body></html>