<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Chapter XXVI_table_2</title></head><body>

<table class="MsoNormalTable" style="width: 100%; height: 284px;" border="1" cellpadding="0" cellspacing="0">

 <tbody><tr style="">
  <td style="padding: 3.75pt; width: 273.2pt;" width="364">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">NATURE
  OF ASSET<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt; width: 272.45pt;" width="363">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">PROVISION
  REQUIRED<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Standard
  Asset<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">No
  provision<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Sub-standard
  Asset<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">10%
  of the aggregate outstanding amount<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Doubtful
  Asset<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">25%
  of the aggregate outstanding amount<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Loss
  Asset<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">100%
  of the aggregate outstanding amount<o:p></o:p></span></p>
  </td>
 </tr>
</tbody>
</table>



  

</body></html>