<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Chapter VI_table_4</title></head><body>

<table class="MsoNormalTable" style="width: 100%; border-collapse: collapse; height: 200px;" border="1" cellpadding="0" cellspacing="0">

 <tbody><tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Date
  of satisfaction<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Date
  of registration of satisfaction<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Facts
  and date of condonation of delay, if any<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Reasons
  for delay in filing for registration of creation, modification or
  satisfaction of the charge, if any<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(14)<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(15)<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(16)<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(17)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
</tbody>
</table>



  

</body></html>