<script>



function divhide()
{

document.getElementById("0").hidden = true;
document.getElementById("1").hidden = true;
document.getElementById("2").hidden = true;
document.getElementById("3").hidden = true;
document.getElementById("4").hidden = true;
document.getElementById("5").hidden = true;
document.getElementById("6").hidden = true;
document.getElementById("7").hidden = true;
document.getElementById("8").hidden = true;
document.getElementById("9").hidden = true;
document.getElementById("10").hidden = true;
document.getElementById("11").hidden = true;
document.getElementById("12").hidden = true;
document.getElementById("13").hidden = true;
document.getElementById("14").hidden = true;
document.getElementById("15").hidden = true;
document.getElementById("16").hidden = true;
document.getElementById("17").hidden = true;
document.getElementById("18").hidden = true;
document.getElementById("19").hidden = true;
document.getElementById("20").hidden = true;
document.getElementById("21").hidden = true;
document.getElementById("22").hidden = true;
document.getElementById("23").hidden = true;
document.getElementById("100").hidden = true;
document.getElementById("101").hidden = true;



var len=0;

var divid=location.substring(index+4);
if(divid!="all")
{
var arr=divid.split(",");

len=arr.length;
}
if(divid=="all")
{
document.getElementById("0").hidden = false;
document.getElementById("1").hidden = false;
document.getElementById("2").hidden = false;
document.getElementById("3").hidden = false;
document.getElementById("4").hidden = false;
document.getElementById("5").hidden = false;
document.getElementById("6").hidden = false;
document.getElementById("7").hidden = false;
document.getElementById("8").hidden = false;
document.getElementById("9").hidden = false;
document.getElementById("10").hidden = false;
document.getElementById("11").hidden = false;
document.getElementById("12").hidden = false;
document.getElementById("13").hidden = false;
document.getElementById("14").hidden = false;
document.getElementById("15").hidden = false;
document.getElementById("16").hidden = false;
document.getElementById("17").hidden = false;
document.getElementById("18").hidden = false;
document.getElementById("19").hidden = false;
document.getElementById("20").hidden = false;
document.getElementById("21").hidden = false;
document.getElementById("22").hidden = false;
document.getElementById("23").hidden = false;
document.getElementById("100").hidden = false;
}

if(divid!="all")
{

for (i = 0; i < arr.length; i++) { 
    

var ele1 = document.getElementById(arr[i]);

ele1.hidden = false;
document.getElementById("101").hidden = false;
}
}
}

</script>
<html>
<body onload="divhide();">
<div align="center" id="0">
Separate paging is given to this Part in order that it may be filed as a separate compilation.MINISTRY OF LAW AND JUSTICE(Legislative Department)New Delhi, the 26th May, 2015/Jyaistha 5, 1937 (Saka)The following Act of  Parliament received the assent of the President on the25th May, 2015, and is hereby published for general information:-THE COMPANIES (AMENDMENT) ACT,  2015NO. 21 OF 2015[25th  May, 2015.]An Act to amend the Companies Act, 2013.BE  it enacted by Parliament in the Sixty-sixth Year of the Republic of India as follows:-
</div>
<div id= "101" align="center">
THE COMPANIES (AMENDMENT) ACT,  2015 Dated 25th May 2015
</div>
<br></br>

<div id="1">
1.  (1) This Act may be called the Companies (Amendment) Act, 2015.

    (2) It shall come into force on such date as the Central Government may, by notification
in the Official Gazette, appoint and different dates may be appointed for different provisions
of this Act and any reference in any provision to the commencement of this Act shall be
construed as a reference to the coming into force of that provision.
<br></br>
</div>

<div id="2">
2.  In section 2 of the Companies Act, 2013 (hereinafter referred to as the principal
Act),-
(i) in clause (68), the words "of one lakh rupees or such higher paid-up share
capital" shall be omitted;
(ii) in clause (71), in sub-clause (b), the words "of five lakh rupees or such
higher paid-up capital," shall be omitted.
<br></br>
</div>

<div id="3">
3. In section 9 of the principal Act, the words "and a common seal" shall be
omitted.
<br></br>
</div>

<div id="4">
4.  Section 11 of the principal Act, shall be omitted.
<br></br>
</div>

<div id="5">
5. In section 12 of the principal Act, in sub-section (3), for clause (b), the following
clause shall be substituted, namely:-
"(b) have its name engraved in legible characters on its seal, if any;".
<br></br>
</div>

<div id="6">
6. In section 22 of the principal Act,-
(i) in sub-section (2),-
(a) for the words "under its common seal", the words "under its common
seal, if any," shall be substituted;
(b) the following proviso shall be inserted, namely:-
"Provided that in case a company does not have a common seal,
the authorisation under this sub-section shall be made by two directors
or by a director and the Company Secretary, wherever the company has
appointed a Company Secretary.";
(ii) in sub-section (3),  the words ''and have the effect as if it were made under
its common seal" shall be omitted.
6. In section 22 of the principal Act,-
(i) in sub-section (2),-
(a) for the words "under its common seal", the words "under its common
seal, if any," shall be substituted;
(b) the following proviso shall be inserted, namely:-
"Provided that in case a company does not have a common seal,
the authorisation under this sub-section shall be made by two directors
or by a director and the Company Secretary, wherever the company has
appointed a Company Secretary.";
(ii) in sub-section 
(3),  the words ''and have the effect as if it were made under
its common seal" shall be omitted.
<br></br>
</div>

<div id="7">
7. In section 46 of the principal Act, in sub-section (1), for the words "issued under
the common seal of the company", the words "issued under the common seal,  if any, of the
company or signed by two directors or by a director and the Company Secretary, wherever
the company has appointed a Company Secretary" shall be substituted.
<br></br>

</div>
<div id="8">
8. After section 76 of the principal Act, the following section shall be inserted,
namely:-
"76A. Where a company accepts or invites or allows or causes any other
person to accept or invite on its behalf any deposit in contravention of the manner or
the conditions prescribed under section 73 or section 76 or rules made thereunder or
if a company fails to repay the deposit or part thereof or any interest due thereon
within the time specified under section 73 or section 76 or rules made thereunder or
such further time as may be allowed by the Tribunal under section 73,-
(a) the company shall, in addition to the payment of the amount of deposit
or part thereof and the interest due, be punishable with fine which shall not be
less than one crore rupees but which may extend to ten crore rupees; and
(b) every officer of the company who is in default shall be punishable with
imprisonment which may extend to seven years or with fine which  shall not be
less than twenty-five lakh rupees but which may extend to two crore rupees, or
with both:
Provided that if it is proved that the officer of the company who is in default,
has contravened such provisions knowingly or wilfully with the intention to deceive
the company or its shareholders or depositors or creditors or tax authorities, he shall
be liable for action under section 447.".
<br></br>
</div>
<div id="9">
9. In section 117 of the principal Act, in sub-section (3),-
(i) in clause (g), the word ''and'' occuring at the end shall be omitted;
(ii) after clause (g), the following proviso shall be inserted, namely:-
"Provided that no person shall be entitled under section 399 to inspect or
obtain copies of such resolutions; and".
9. In section 117 of the principal Act, in sub-section (3),-
(i) in clause (g), the word ''and'' occuring at the end shall be omitted;
(ii) after clause (g), the following proviso shall be inserted, namely:-
"Provided that no person shall be entitled under section 399 to inspect or
obtain copies of such resolutions; and".
<br></br>

</div>

<div id="10">
10.  In section 123 of the principal Act, in sub-section (1), after the third proviso, the
following proviso shall be inserted, namely:-
"Provided  also that no company shall declare dividend unless carried over
previous losses and depreciation not provided in previous year or years are set off
against profit of the company for the current year.".
<br></br>
</div>

<div id="11">
11.  In section 124 of the principal Act, in sub-section (6),-
(i) for the words, brackets and figure "unpaid or unclaimed dividend has been
transferred under sub-section (5) shall also be", the words "dividend has not been
paid or claimed for seven consecutive years or more shall be" shall be substituted;
(ii) after the proviso, the following Explanation shall be inserted, namely:-
"Explanation.-For the removal of doubts, it is hereby clarified that in case
any dividend is paid or claimed for any year during the said period of seven
consecutive years, the share shall not be transferred to Investor Education and
Protection Fund.''.
<br></br>
</div>

<div id="12">
12. In section 134 of the principal Act, in sub-section (3), after clause (c), the following
clause shall be inserted, namely:-
"(ca) details in respect of frauds reported by auditors under sub-section (12) of
section 143 other than those which are reportable to the Central Government;".
12. In section 134 of the principal Act, in sub-section (3), after clause (c), the following
clause shall be inserted, namely:-
"(ca) details in respect of frauds reported by auditors under sub-section (12) of
section 143 other than those which are reportable to the Central Government;".
<br></br>
</div>

<div id="13">
13. In section 143 of the principal Act, for sub-section (12), the following sub-section
shall be substituted, namely:-
"(12) Notwithstanding anything contained in this section, if an auditor of a
company  in the course of the performance of his duties as auditor, has reason to
believe that an offence of fraud  involving such amount or amounts as may be
prescribed, is being or has been committed in the company by its officers or employees,
the auditor shall report the matter to the Central Government within such time and in
such manner as may be prescribed:
Provided that  in case of a fraud involving lesser than the specified amount, the
auditor shall report the matter to the audit committee constituted under section 177 or
to the Board in other cases within such time and in such manner as may be
prescribed:
Provided further that the companies, whose auditors have reported frauds
under this sub-section to the audit committee or the Board but not reported to the
Central Government, shall disclose the details about such frauds in the Board's report
in such manner as may be prescribed.".
<br></br>
</div>

<div id="14">
14. In section 177 of the principal Act, in sub-section (4), in clause (iv), the following
proviso shall be inserted, namely:-
"Provided that the Audit Committee may make omnibus approval for related
party transactions proposed to be entered into by the company subject to such
conditions as may be prescribed;".
<br></br>
</div>

<div id="15">
15. In section 185 of the principal Act, in sub-section (1), in the proviso, after clause
(b), the following clauses and proviso shall be inserted, namely:-
"(c) any loan made by a holding company to its wholly owned subsidiary
company or any guarantee given or security provided by a holding company in
respect of any loan made to its wholly owned subsidiary company; or
(d) any guarantee given or security provided by a holding company in respect
of loan made by any bank or financial institution to its subsidiary company:
Provided that the loans made under clauses (c) and (d) are utilised by the
subsidiary company for its principal business activities.".
<br></br>
</div>

<div id="16">
16. In section 188 of the principal Act,-
(a) in sub-section (1),-
(i) for the words "special resolution", at both the places where they occur,
the word "resolution" shall be substituted;
(ii) after the third proviso, the following proviso shall be inserted, namely:-
"Provided also that the requirement of passing the resolution under
first proviso shall not be applicable for transactions entered into between
a holding company and its wholly owned subsidiary whose accounts are
consolidated with such holding company and placed before the
shareholders at the general meeting for approval.";
(b) in sub-section (3), for the words "special resolution", the word "resolution"
shall be substituted.
<br></br>
</div>

<div id="17">
17. In section 212 of the principal Act, in sub-section (6), for the words, brackets and
figures "the offences covered under sub-sections (5) and (6) of section 7, section 34, section
36, sub-section (1) of section 38, sub-section (5) of section 46, sub-section (7) of section 56,
sub-section (10) of section 66, sub-section (5) of section 140, sub-section (4) of section 206,
section 213, section 229, sub-section (1) of section 251, sub-section (3) of section 339 and
section 448 which attract the punishment for fraud provided in section 447", the words and
figures "offence covered under section 447" shall be substituted.
<br></br>
</div>

<div id="18">
18. In section 223 of the principal Act, in sub-section (4), in clause (a), for the words
"by the seal", the words "by the seal, if any," shall be substituted.
<br></br>
</div>

<div id="19">
19. In section 248 of the principal Act, in sub-section (1),-
(i) in clause (a), after the word 'incorporation', the word 'or' shall be inserted;
(ii) clause (b) shall be omitted.
<br></br>
</div>

<div id="20">
20. In section 419 of the principal Act, in sub-section (4), the words "or winding up"
shall be omitted.
<br></br>
</div>

<div id="21">
21. In section 435 of the principal Act, in sub-section (1),-
(i) for the words "trial of offences under this Act", the words "trial of offences
punishable under this Act with imprisonment of two years or more" shall be
substituted;
(ii) the following proviso shall be inserted, namely:-
"Provided that all other offences shall be tried, as the case may be, by a
Metropolitan Magistrate or a Judicial Magistrate of the First Class having
jurisdiction to try any offence under this Act or under any previous company
law.".
<br></br>
</div>

<div id="22">
22. In section 436 of the principal Act, in sub-section (1), in clause (a), for the words
"all offences under this Act", the words, brackets and figures "all offences specified under
sub-section (1) of section 435" shall be substituted.
<br></br>
</div>

<div id="23">
23. In section 462 of the principal Act, for sub-section (2), the following sub-sections
shall be substituted, namely:-
''(2) A copy of every notification proposed to be issued under sub-section (1),
shall be laid in draft before each House of Parliament, while it is in session, for a total
period of thirty days, and if, both Houses agree in disapproving the issue of notification
or both Houses agree in making any modification in the notification, the notification
shall not be issued or, as the case may be, shall be issued only in such modified form
as may be agreed upon by both the Houses.
(3) In reckoning any such period of thirty days as is referred to in sub-section 
(2), no account shall be taken of any period during which the House referred to in sub-
section (2) is prorogued or adjourned for more than four consecutive days.
(4) The copies of every notification issued under this section shall, as soon as
may be after it has been issued, be laid before each House of Parliament.".
<br></br>
</div>

<br></br>
<div align="center" id="100">
----
DR. SANJAY SINGH,
Secretary to the Govt. of  India.
<br></br>
----
<br></br>
CORRIGENDUM
In the Coal Mines (Special Provision) Act, 2015 (11 of 2015), as published in the Gazette
of India, Extraordinary, Part II, Section 1, Issue No. 4, dated the 30th March, 2015, at page 6,
in line 7 for "quesiton", read "question".
<br>
----
<br>
CORRIGENDA
In the Insurance Laws (Amendment) Act, 2015 (5 of 2015), as published in the Gazette
of India Extraordinary, Part II, Section 1, Issue No. 8, dated the 20th March, 2015,-
(i) at page 5, in line No. 41,  for  "sub-section (1)", read  "sub-section (2);
(ii) at page 7, in lines 40 and 41,  for  ' "the Securities', read  "Securities";
(iii) at page 35, in line 30,  for  "sub-section (12)", read  "sub-section (2).



<br></br>
PRINTED BY THE GENERAL MANAGER, GOVERNMENT OF INDIA PRESS, MINTO ROAD,  NEW DELHI
AND PUBLISHED BY THE CONTROLLER OF  PUBLICATIONS, DELHI-2015.
188GI(S3)-26-05-2015.
<br></br>
 *Provisions of section 1 to 12 and 15 to 23 are effective from 29th May 2015 Vide Notification no. S.O. dated 29th May 2015. 
</div>
</body>
</html>	
    

