
<script>
function divhide()
{

document.getElementById("1").hidden = true;
document.getElementById("2").hidden = true;
document.getElementById("3").hidden = true;
document.getElementById("4").hidden = true;
document.getElementById("5").hidden = true;
document.getElementById("6").hidden = true;
document.getElementById("7").hidden = true;
document.getElementById("8").hidden = true;
document.getElementById("9").hidden = true;

var location=document.URL;
var index=location.indexOf("?id=");
var divid=location.substring(index+4);
var arr=divid.split(",");

if(divid=="")
{
document.getElementById("1").hidden = false;
document.getElementById("2").hidden = false;
document.getElementById("3").hidden = false;
document.getElementById("4").hidden = false;
document.getElementById("5").hidden = false;
document.getElementById("6").hidden = false;
document.getElementById("7").hidden = false;
document.getElementById("8").hidden = false;
document.getElementById("9").hidden = false;
}

for (i = 0; i < arr.length; i++) { 
    

var ele1 = document.getElementById(arr[i]);

ele1.hidden = false;
}

}

</script>

<html>
<head>
<style rel="stylesheet" type="text/css">


body {
 font-family: Arial, Helvetica, sans-serif;
 
}
</style>
</head>
<body onload="divhide();">
<div align="center">Government of India</div>
<div align="center">Ministry of Corporate Affairs</div>
<div align="right">
Notification</div>
<div align="right">
New Delhi, dated 27th Feb 2014
</div>
<br></br>
G.S.R. 129(E).— In exercise of the powers conferred under section 135 and sub-sections (1) and (2) of section 469 of the Companies Act, 2013 (18 of 2013), the Central Government hereby makes the following rules, namely: -
<br></br>
<div id="1">
1. Short title and commencement.   -   (1) These rules may be called the Companies (Corporate Social Responsibility Policy) Rules, 2014.
(2) They shall come into force on the 1st day of April, 2014.
<br></br>
</div>
<div id="2">
2. Definitions.   -   (1) In these rules, unless the context otherwise requires, -
(a)  "Act" means the Companies Act, 2013; 
(b)  "Annexure" means the Annexure appended to these rules;
(c)  "Corporate Social Responsibility (CSR)" means and includes but is not limited to :-
(i)  Projects or programs relating to activities specified in Schedule VII to the Act; or

(ii)  Projects or programs relating to activities undertaken by the board of directors of a company (Board) in pursuance of recommendations of the CSR Committee of the Board as per declared CSR Policy of the company subject to the condition that such policy will cover subjects enumerated in Schedule VII of the Act.
(d) "CSR Committee" means the Corporate Social Responsibility Committee of the Board referred to in section 135 of the Act.
(e) 'CSR Policy" relates to the activities to be undertaken by the company as specified in Schedule VII to the Act and the expenditure thereon excluding ,activities undertaken in pursuance of normal course of business of a company
(f) "Net profit" means the net profit of a company as per its financial statement prepared in accordance With the applicable provisions of the Act, but shall not include the following namely :-
(i) Any profit arising from any overseas branch or branches of the company, whether operated as a separate Company or otherwise; and

(ii) any dividend received from other companies in India, which are covered under and complying with the provisions of section 135 of the Act:
Provided that net profit in respect of a financial year for which the relevant financial -statements were prepared & accordance with the provisions of the Companies Act, 1956, (1 of 1956) shall not be required to be re-calculated in accordance with the provisions of the Act:
Provided further that in case of a foreign company covered under these rules, net profit means the net profit of such company as per profit and loss account prepared in terms of clause (a) of sub-section (1) of section 381 read with section 198 of the Act.
(2) Words and expressions used and not defined in these rules l but defined in the Act shall have the same meanings respectively assigned to them in the Act.
<br></br>
</div>
<div id="3">
3. Corporate Social Responsibility. -
(1) Every company including its holding or subsidiary, and a foreign company defined under clause (42) of section 2 of the Act having its branch office or project office in India, which fulfils the criteria specified in sub-section (1) of section 135 of the Act shall comply with the provisions of section 135 of the Act and these rules:
Provided that net worth, turnover or net profit of a foreign company of the Act shall be computed in accordance with balance sheet profit and loss account of such company prepared in accordance with the provisions of clause (a) of sub-section (1) of section 381 and section 198 of the Act.
(2) Every company which ceases to be a company covered under subsection (1) of section 135 of the Act for three consecutive financial years shall not be required to -
(a) Constitute a CSR Committee; and
(b) Comply with the provisions contained in sub-section (2) to (5) of the said section,
till such time it meets the criteria specified in sub-section (1) of section 135.
<br></br>
</div>
<div id="4">
4. CSR Activities.-
(1) The CSR activities shall be undertaken by the company, as per its stated CSR Policy, as projects or programs or activities (either new or ongoing), excluding activities undertaken in pursuance of its normal course of business.
(2) The Board of a company may decide to undertake its CSR activities approved by the CSR Committee, through a registered trust or a registered society or a company 2established under section 8 of the Act by the company, either singly or alongwith its holding or subsidiary or associate company, or alongwith any other company or holding or subsidiary or associate company of such other company:
Provided that -
(i) if such trust, society or company is 3not established by the company, either singly or alongwith its holding or subsidiary or associate company, or alongwith any other company or holding or subsidiary or associate company of such other company shall have an established track record of three years in undertaking similar programs or projects;
(ii) The company has specified the project or programs to be undertaken through these entities, the modalities of utilization of funds on such projects and programs and the monitoring and reporting mechanism.
(3) A company may also collaborate with other companies for undertaking projects or programs or CSR activities in such a manner that the CSR Committees of respective companies are in a position to report separately on such projects or programs in accordance with these rules.
(4) Subject to provisions of sub-section (5) of section 135 of the Act, the CSR projects or programs or activities undertaken in India only shall amount to CSR Expenditure.
(5) The CSR projects or programs or activities that benefit only the employees of the company and their families shall not be considered as CSR activities in accordance with section 135 of the Act.
(6) Companies may build CSR capacities of their own personnel as well as those of their Implementing agencies through Institutions with established track records of at least three financial years but such expenditure 1including expenditure on administrative overheads, shall not exceed five percent of total CSR expenditure of the company in one financial year.
(7) Contribution of any amount directly or indirectly to any political party under section 182 of the Act, shall not be considered as CSR activity.
<br></br>
</div>
<div id="5">
5. CSR Committees. -
(1) The companies mentioned in the rule 3 shall constitute CSR Committee as under.-
(i) an unlisted public company or a private company covered under sub-section (1) Of section 135 which is not required to appoint an independent director pursuant to sub-section (4) of section 149 of the Act, shall have its CSR Committee without such director;
(ii) a private company having only two directors on its Board shall constitute its CSR Committee with two such directors;
(iii) With respect to a foreign company covered under these rules, the CSR Committee shall comprise of at least two persons of which one person shall be as specified under clause (d) of sub-section (1) of section 380 of the Act and another person shall be nominated by the foreign company.
(2) The CSR Committee shall institute a transparent monitoring mechanism for implementation of the CSR projects or programs or activities undertaken by the company.
<br></br>
</div>
<div id="6">
6. CSR Policy.-
(1) The CSR Policy of the company shall, inter-alia, include the following, namely:-
(a) a list of CSR projects or programs which a company plans to undertake falling within the purview of the Schedule VII of the Act, specifying modalities of execution of such project or programs and implementation schedules for the same; and
(b) Monitoring process of such projects or programs: Provided that the CSR activities does not include the activities undertaken in pursuance of normal course of business of a company.
Provided further that the Board of Directors shall ensure that activities included by a company in its Corporate Social Responsibility Policy are related to the activities included in Schedule VII of the Act.
(2) The CSR Policy of the company shall specify that the surplus arising out of the CSR projects or programs or activities shall not form part of the business profit of a company.
<br></br>
</div>
<div id="7">
7. CSR Expenditure. - CSR expenditure shall include all expenditure including contribution to corpus, or on projects or programs relating to CSR activities approved by the Board on the recommendation of its CSR Committee, but does not include any expenditure on an item not in conformity or not in line with activities which fall within the purview of Schedule VII of the Act.
<br></br>
</div>
<div id="8">
8. CSR Reporting.-
(1) The Board's Report of a company covered under these rules pertaining to a financial year commencing on or after the 1st day of April, 2014 shall include an annual report on CSR containing particulars specified in Annexure.
(2) In case of a foreign company, the balance sheet filed under sub-clause (b) of sub-section (1) of section 381 shall contain an Annexure regarding report on CSR.
<br></br>
</div>
<div id="9">
9. Display of CSR activities on its website. -
The Board of Directors of the company shall, after taking into account the recommendations of CSR Committee, approve the CSR Policy for the company and disclose contents of such policy in its report and the same shall be displayed on the company's website, if any, as per the particulars specified in the Annexure.
<br></br>
</div>
<br></br>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b><u><span
 style="" lang="EN-IN">Annexure</span></u></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b><span
 style="" lang="EN-IN">FORMAT FOR
THE ANNUAL REPORT ON CSR ACTMTIES TO BE INCLUDED IN THE BOARD'S REPORT</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
<ol style="margin-top: 0in; font-family: Arial;" start="1"
 type="1">
  <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">A brief outline of the
company's CSR policy, including overview of projects or programs
proposed to be undertaken and a reference to the web-link to the CSR
policy and projects Or programs.<o:p></o:p></span></li>
  <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">The Composition of the CSR
Committee.<o:p></o:p></span></li>
  <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Average net profit of the
company for last three financial years<o:p></o:p></span></li>
  <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Prescribed CSR Expenditure (two
per cent of the amount as in item 3 above)<o:p></o:p></span></li>
  <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Details of CSR spent during the
financial year.<o:p></o:p></span></li>
  <ol style="margin-top: 0in;" start="1" type="a">
    <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Total amount to be spent for
the financial year;<o:p></o:p></span></li>
    <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Amount unspent, if any;<o:p></o:p></span></li>
    <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Manner in which the amount
spent during the financial year is detailed below.<o:p></o:p></span></li>
  </ol>
  <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">In case the company has failed
to spend the two per cent, of the average net profit of the last three
financial years or any part thereof, the company shall provide the
reasons for not spending the amount in its Board report.<o:p></o:p></span></li>
  <li class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">A responsibility statement of
the CSR Committee that the implementation and monitoring of CSR Policy,
is in compliance with CSR objectives and Policy of the company.<o:p></o:p></span></li>
</ol>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
<table class="MsoNormalTable"
 style="width: 100%; font-family: Arial;" border="1"
 cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(1)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(2)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(3)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(4)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(5)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(6)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(7)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(8)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">S.No<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">CSR project or activity
identified.<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">sector in which the project is
covered<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Projects or programs&nbsp;<br>
      <br>
(1) Local area or other<br>
      <br>
(2) Specify the State and district where projects or Programs was
undertaken<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Amount outlay (budget) project
or programs wise<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Amount spent on the projects or
programs<br>
      <br>
      <br>
      <b>Subheads:</b><br>
      <br>
(1) Direct expenditure on projects or programs.<br>
      <br>
(2) Overheads :<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">cumulative expenditure up to
the reporting period.<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Amount spent: Direct or through
implementing agency<o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">1</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">2</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">3</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">TOTAL</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
    </tr>
  </tbody>
</table>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="" lang="EN-IN">*Give
details of implementing agency:<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="" lang="EN-IN">6. In case
the company has failed to spend the two per cent, of the average net
profit of
the last three financial years or any part thereof, the company shall
provide
the reasons for not spending the amount in its Board report.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="" lang="EN-IN">7. A
responsibility statement of the CSR Committee that the implementation
and
monitoring of CSR Policy, is in compliance with CSR objectives and
Policy of
the company.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
<table class="MsoNormalTable"
 style="width: 100%; font-family: Arial;" border="1"
 cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr style="">
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">Sd/-<br>
(Chief Executive Officer or Managing Director or Director)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">Sd/-<br>
(Chairman CSR Committee)</span></b><span style=""
 lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">Sd/-<br>
(Person specified under clause (d) of sub-section (1) of section 380 of
the Act)<br>
      <br>
      <br>
(wherever applicable)</span></b><span style=""
 lang="EN-IN"><o:p></o:p></span></p>
      </td>
    </tr>
  </tbody>
</table>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN"><a
 href="http://www.companiesact.in/PgLegal/Rules_Information_Deatils.aspx?id=206"><b><sup><span
 style="">1</span></sup></b></a></span><b><span
 style="" lang="EN-IN">&nbsp;Vide
notification no G.S.R. 644 (E). dated 12<sup>th</sup>&nbsp;September,
2014,</span></b><span style="" lang="EN-IN">&nbsp;in
rule 4, in sub-rule (6), after the words "but such expenditure" the
words and comma "including expenditure on administrative overheads,"
has been inserted<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN"><a
 href="http://www.companiesact.in/PgLegal/Rules_Information_Deatils.aspx?id=206"><b><sup><span
 style="">2</span></sup></b></a></span><b><span
 style="" lang="EN-IN">&nbsp;Vide
notification no G.S.R. 43(E). dated 19<sup>st</sup>&nbsp;January,
2015,</span></b><span style="" lang="EN-IN">&nbsp;in
rule 4, in sub-rule (2), for the words “established by the company or
its
holding or subsidiary or associate company under section 8 of the Act
or
otherwise’, the words “established under section 8 of the Act by the
company,
either singly or along with its holding or subsidiary or associate
company, or
along with any other company or holding or subsidiary or associate
company of
such other company, or otherwise has been substituted;<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN"><a
 href="http://www.companiesact.in/PgLegal/Rules_Information_Deatils.aspx?id=206"><b><sup><span
 style="">3</span></sup></b></a></span><b><span
 style="" lang="EN-IN">&nbsp;Vide
notification no G.S.R. 43(E). dated 19<sup>st</sup>&nbsp;January,
2015,</span></b><span style="" lang="EN-IN">&nbsp;in
rule 4, in sub-rule (2), in the proviso, in clause (i), for the words
“not
established by the company or its holding or subsidiary or associate
company,
it", the words “not established by the company, either singly or along
with
its holding or subsidiary or associate company, or along with any other
company
or holding or subsidiary or associate company of such other company”
has been
substituted.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>


</body>
</html>
