<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Companies Corporate Social Responsibility Rules, 2014_table_2</title></head><body>

<table class="MsoNormalTable" style="width: 100%; height: 132px;" border="1" cellpadding="0" cellspacing="0">

 <tbody><tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Sd/-</span></b><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><br>
  </span></b><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(Chief Executive Officer or Managing Director or Director)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Sd/-</span></b><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><br>
  </span></b><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(Chairman CSR Committee)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Sd/-</span></b><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><br>
  </span></b><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(Person specified under clause (d) of sub-section (1) of section
  380 of the Act)</span></b><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><br>
  <br>
  <br>
  </span></b><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(wherever applicable)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
 </tr>
</tbody>
</table>



  

</body></html>