<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Companies Corporate Social Responsibility Rules, 2014_table_1</title></head><body>

<table class="MsoNormalTable" style="width: 100%; height: 474px;" border="1" cellpadding="0" cellspacing="0">

 <tbody><tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(1)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(2)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(3)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(4)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(5)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(6)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(7)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">(8)</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">S.No<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">CSR project or activity identified.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">sector in which the project is covered<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Projects or programs</span><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;</span><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><br>
  <br>
  (1) Local area or other<br>
  <br>
  (2) S P ~ cify the State and district where projects or Programs was
  undertaken<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Amount outlay (budget) project or programs
  wise<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Amount spent on the projects or programs<br>
  <br>
  <br>
  </span><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Subheads:</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><br>
  <br>
  (1) Direct expenditure on projects or programs.<br>
  <br>
  (2) Overheads :<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">cumulative expendeture upto the reporting
  period.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Amount spent: Direct or through implementing agency<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">1</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">2</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">3</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 14.1pt;" align="center"><b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">TOTAL</span></b><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 14.1pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;<o:p></o:p></span></p>
  </td>
 </tr>
</tbody>
</table>



  

</body></html>