<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<table class="MsoNormalTable" style="width: 100%;"
 border="1" cellpadding="0" cellspacing="0"
 width="100%">
  <tbody>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(1)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(2)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(3)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(4)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(5)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(6)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(7)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">(8)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">S.No<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">CSR project or activity
identified.<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">sector in which the project is
covered<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Projects or programs&nbsp;<br>
      <br>
(1) Local area or other<br>
      <br>
(2) Specify the State and district where projects or Programs was
undertaken<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Amount outlay (budget) project
or programs wise<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Amount spent on the projects or
programs<br>
      <br>
      <br>
      <b>Subheads:</b><br>
      <br>
(1) Direct expenditure on projects or programs.<br>
      <br>
(2) Overheads :<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">cumulative expenditure up to
the reporting period.<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">Amount spent: Direct or through
implementing agency<o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">1</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">2</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">3</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">TOTAL</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal" style="text-align: justify;"><span
 style="" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
