<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<table class="MsoNormalTable" style="width: 100%;"
 border="1" cellpadding="0" cellspacing="0"
 width="100%">
  <tbody>
    <tr style="">
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">Sd/-<br>
(Chief Executive Officer or Managing Director or Director)</span></b><span
 style="" lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">Sd/-<br>
(Chairman CSR Committee)</span></b><span style=""
 lang="EN-IN"><o:p></o:p></span></p>
      </td>
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal" style="text-align: justify;"><b><span
 style="" lang="EN-IN">Sd/-<br>
(Person specified under clause (d) of sub-section (1) of section 380 of
the Act)<br>
      <br>
      <br>
(wherever applicable)</span></b><span style=""
 lang="EN-IN"><o:p></o:p></span></p>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
