<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 30th March, 2017
</p>
<p>
    <strong>G.S.R. 307(E).-</strong>
    In exercise of powers conferred by section 143 read with sub-sections (1)
    and (2) of section 469 of the Companies Act, 2013 (18 of 2013), the Central
    Government hereby makes the following rules further to amend the Companies
    (Audit and Auditors) Rules, 2014, namely:-
</p>
<p>
    1. (1) These rules may be called the Companies (Audit and Auditors)
    Amendment Rules, 2017.
</p>
<p>
    (2) They shall come into force on the date of their publication in the
    Official Gazette.
</p>
<p>
    2. In the Companies (Audit and Auditors) Rules, 2014, in rule 11, after
    clause (c), the following clause shall be inserted, namely:-
</p>
<p>
    "(d) whether the company had provided requisite disclosures in its
    financial statements as to holdings as well as dealings in Specified Bank
    Notes during the period from 8th November, 2016 to 30th December, 2016 and
    if so, whether these are in accordance with the books of accounts
    maintained by the company.".
</p>
<p align="right">
    [F. No. 1/33/2013-CL-V-(Vol.I)]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>