<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 17th March, 2017
</p>
<p>
    <strong>G.S.R. 258(E).—</strong>
    In exercise of the powers conferred by section 133 read with section 469 of
    the Companies Act, 2013 (18 of 2013) and sub-section (1) of section 210A of
    the Companies Act, 1956 (1 of 1956), the Central Government, in
    consultation with the National Advisory Committee on Accounting Standards,
    hereby makes the following rules further to amend the Companies (Indian
    Accounting Standards) Rules, 2015, namely:—
</p>
<p>
    1. <strong>Short title and commencement.-</strong>(1) These rules may be
called the Companies (Indian Accounting Standards) (Amendment) Rules, 2017    <strong>.</strong>
</p>
<p>
    (2) They shall come into force on the 1st day of April, 2017.
</p>
<p>
    2. In the principal rules, in the “Annexure”, under the heading “B. Indian
Accounting Standards (Ind AS)” in “Indian Accounting Standard (Ind AS) 102,    <em>Share-based Payment</em>”, -
</p>
<p>
    (i). for paragraph 19, the following paragraph shall be substituted,
    namely:-
</p>
<p>
    “19 A grant of equity instruments might be conditional upon satisfying
    specified vesting conditions. For example, a grant of shares or share
    options to an employee is typically conditional on the employee remaining
    in the entity’s employment for a specified period of time. There might be
    performance conditions that must be satisfied, such as the entity achieving
    a specified growth in profit or a specified increase in the entity’s share
    price. Vesting conditions, other than market conditions, shall not be taken
    into account when estimating the fair value of the shares or share options
    at the measurement date, Instead,
</p>
<p>
    vesting conditions, other than market conditions, shall be taken into
    account by adjusting the number of equity instruments included in the
    measurement of the transaction amount so that, ultimately, the amount
    recognised for goods or services received as consideration for the equity
    instruments granted shall be based on the number of equity instruments that
    eventually vest. Hence, on a cumulative basis, no amount is recognised for
    goods or services received if the equity instruments granted do not vest
    because of failure to satisfy a vesting condition, other than a market
    condition, for example, the counterparty fails to complete a specified
    service period, or a performance condition is not satisfied, subject to the
    requirementsof paragraph 21. ”
</p>
<p>
    (ii). for paragraph 30, the following paragraph shall be substituted,
    namely:-
</p>
<p>
    “30 For cash-settled share-based payment transactions, the entity shall
    measure the goods or services acquired and the liability incurred at the
    fair value of the liability, subject to the requirements of paragraphs
    31–33D. Until the liability is settled, the entity shall remeasure the fair
    value of the liability at the end of each reporting period and at the date
    of settlement, with any changes in fair value recognised in profit or loss
    for the period. ”
</p>
<p>
    (iii). for paragraph 31, the following paragraph shall be substituted,
    namely:-
</p>
<p>
    “31 For example, an entity might grant share appreciation rights to
    employees as part of their remuneration package, whereby the employees will
    become entitled to a future cash payment (rather than an equity
    instrument), based on the increase in the entity’s share price from a
    specified level over a specified period of time. Alternatively, an entity
    might grant to its employees a right to receive a future cash payment by
    granting to them a right to shares (including shares to be issued upon the
    exercise of share options) that are redeemable, either mandatorily (for
    example, upon cessation of employment) or at the employee’s option. These
    arrangements are examples of cash-settled share-based payment transactions.
    Share appreciation rights are used to illustrate some of the requirements
    in paragraphs 32–33D; however, the requirements in those paragraphs apply
    to all cash-settled share-based payment transactions. ”
</p>
<p>
    (iv). for paragraph 33, the following paragraph shall be substituted,
    namely:-
</p>
<p>
    “33 The liability shall be measured, initially and at the end of each
    reporting period until settled, at the fair value of the share appreciation
    rights, by applying an option pricing model, taking into account the terms
    and conditions on which the share appreciation rights were granted, and the
    extent to which the employees have rendered service to date subject to the
    requirements of paragraphs 33A–33D. An entity might modify the terms and
    conditions on which a cash-settled share-based payment is granted. Guidance
    for a
</p>
<p>
    modification of a share-based payment transaction that changes its
    classification from cash-settled to equity-settled is given in paragraphs
    B44A–B44C in Appendix B.”
</p>
<p>
    (v). after paragraph 33, the following paragraphs and headings shall be
    inserted, namely:-
</p>
<p>
    “<strong>Treatment of vesting and non-vesting conditions</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    33A. A cash-settled share-based payment transaction might be conditional
    upon satisfying specified vesting conditions. There might be performance
    conditions that must be satisfied, such as the entity achieving a specified
    growth in profit or a specified increase in the entity’s share price.
    Vesting conditions, other than market conditions, shall not be taken into
    account when estimating the fair value of the cash-settled share based
    payment at the measurement date. Instead, vesting conditions, other than
    market conditions, shall be taken into account by adjusting the number of
    awards included in the measurement of the liability arising from the
    transaction.
</p>
<p>
    33B. To apply the requirements in paragraph 33A, the entity shall recognise
    an amount for the goods or services received during the vesting period.
    That amount shall be based on the best available estimate of the number of
    awards that are expected to vest. The entity shall revise that estimate, if
    necessary, if subsequent information indicates that the number of awards
    that are expected to vest differs from previous estimates. On the vesting
    date, the entity shall revise the estimate to equal the number of awards
    that ultimately vested.
</p>
<p>
    33C. Market conditions, such as a target share price upon which vesting (or
    exercisability) is conditioned, as well as non-vesting conditions, shall be
    taken into account when estimating the fair value of the cash settled
    share-based payment granted and when remeasuring the fair value at the end
    of each reporting period and at the date of settlement.
</p>
<p>
    33D. As a result of applying paragraphs 30–33C, the cumulative amount
    ultimately recognised for goods or services received as consideration for
    the cash-settled share-based payment is equal to the cash that is paid.
    Share-based payment transactions with a net settlement feature for
    withholding tax obligations.
</p>
<p>
    <strong></strong>
</p>
<p>
    33E. Tax laws or regulations may oblige an entity to withhold an amount for
    an employee’s tax obligation associated with a share-based payment and
    transfer that amount, normally in cash, to the tax authority on the
    employee’s behalf. To fulfil this obligation, the terms of the share-based
    payment arrangement may permit or require the entity to withhold the number
    of equity instruments equal to the monetary value of the employee’s tax
    obligation from the total number of equity instruments that otherwise would
    have been issued to the employee upon exercise (or vesting) of the
    share-based payment (i.e. the share-based payment arrangement has a ‘net
    settlement feature’).
</p>
<p>
    33F. As an exception to the requirements in paragraph 34, the transaction
    described in paragraph 33E shall be classified in its entirety as an
    equity-settled share-based payment transaction if it would have been so
    classified in the absence of the net settlement feature.
</p>
<p>
    33G. The entity applies paragraph 29 of this Standard to account for the
    withholding of shares to fund the payment to the tax authority in respect
    of the employee’s tax obligation associated with the share-based payment.
    Therefore, the payment made shall be accounted for as a deduction from
    equity for the shares withheld, except to the extent that the payment
    exceeds the fair value at the net settlement date of the equity instruments
    withheld.
</p>
<p>
    33H. The exception in paragraph 33F does not apply to:
</p>
<p>
    (a) a share-based payment arrangement with a net settlement feature for
    which there is no obligation on the entity under tax laws or regulations to
    withhold an amount for an employee’s tax obligation associated with that
    share-based payment; or
</p>
<p>
    (b) any equity instruments that the entity withholds in excess of the
    employee’s tax obligation associated with the share-based payment (i.e. the
    entity withheld an amount of shares that exceeds the monetary value of the
    employee’s tax obligation). Such excess shares withheld shall be accounted
    for as a cash settled share-based payment when this amount is paid in cash
    (or other assets) to the employee.”
</p>
<p>
    (vi). for paragraph 52, the following paragraph shall be substituted,
    namely:-
</p>
<p>
    “52 If the information required to be disclosed by this Standard does not
    satisfy the principles in paragraphs 44, 46 and 50, the entity shall
    disclose such additional information as is necessary to satisfy them. For
    example, if an entity has classified any share-based payment transactions
    as equity-settled in accordance with paragraph 33F, the entity shall
    disclose an estimate of the amount that it expects to transfer to the tax
    authority to settle the employee’s tax obligation when it is necessary to
    inform users about the future cash flow effects associated with the
    share-based payment arrangement.”
</p>
<p>
    (vii). after paragraph 52, the following paragraphs and headings shall be
    inserted, namely:-
</p>
<div>
</div>
<p>
    <strong> </strong>
</p>
<p>
    <strong>“Transitional provisions</strong>
</p>
<p>
    53-59 <strong>[</strong>Refer Appendix 1]
</p>
<p>
    59A An entity shall apply the amendments in paragraphs 30–31, 33–33H and
    B44A–B44C as set out below. Prior periods shall not be restated.
</p>
<p>
    (a) The amendments in paragraphs B44A–B44C apply only to modifications that
    occur on or after the date that an entity first applies the amendments.
</p>
<p>
    (b) The amendments in paragraphs 30–31 and 33–33D apply to share-based
    payment transactions that are unvested at the date that an entity first
    applies the amendments and to share-based payment transactions with a grant
    date on or after the date that an entity first applies the amendments. For
    unvested share-based payment transactions granted prior to the date that an
    entity first applies the amendments, an entity shall remeasure the
    liability at that date and recognise the effect of the re-measurement in
    opening retained earnings (or other component of equity, as appropriate) of
    the reporting period in which the amendments are first applied.
</p>
<p>
    (c) The amendments in paragraphs 33E–33H and the amendment to paragraph 52
    apply to share-based payment transactions that are unvested (or vested but
    unexercised), at the date that an entity first applies the amendments and
    to share-based payment transactions with a grant date on or after the date
    that an entity first applies the amendments. For unvested (or vested but
    unexercised) share based payment transactions (or components thereof) that
    were previously classified as cash-settled share-based payments but now are
    classified as equity-settled in accordance with the amendments, an entity
    shall reclassify the carrying value of the share-based payment liability to
    equity at the date that it first applies the amendments.
</p>
<p>
    59B Notwithstanding the requirements in paragraph 59A, an entity may apply
    the amendments in paragraph 63D retrospectively, in accordance with Ind AS
8,    <em>Accounting Policies, Changes in Accounting Estimates and Errors, </em>
    if and only if it is possible without hindsight. If an entity elects
    retrospective application, it must do so for all of the amendments made by
    <em>
        Amendments to Classification and Measurement of Share-based Payment
        Transactions
    </em>
    under Ind AS 102.
</p>
<div>
    <p>
        <strong>Effective date</strong>
    </p>
</div>
<p>
    60-63C [Refer Appendix 1]
</p>
<p>
    63D
    <em>
        Amendments to Classification and Measurement of Share-based Payment
        Transactions
    </em>
    under Ind AS 102 amended paragraphs 19, 30–31, 33 and 52 and added
    paragraphs 33A–33H, 59A–59B, 63D and B44A–B44C and their related headings.
    An entity shall apply those amendments for annual periods beginning on or
    after 1 April, 2017.”
</p>
<p>
    (viii). In Appendix B, after paragraph B44, the following paragraphs and
    heading shall be inserted, namely:-
</p>
<p>
    “
    <strong>
        Accounting for a modification of a share-based payment transaction that
        changes its classification from cash-settled to equity-settled
    </strong>
</p>
<p>
    B44A If the terms and conditions of a cash-settled share-based payment
    transaction are modified with the result that it becomes an equity-settled
    share-based payment transaction, the transaction is accounted for as such
    from the date of the modification. Specifically:<strong></strong>
</p>
<p>
    (a) The equity-settled share-based payment transaction is measured by
    reference to the fair value of the equity instruments granted at the
    modification date. The equity-settled share-based payment transaction is
    recognised in equity on the modification date to the extent to which goods
    or services have been received.
</p>
<p>
    (b) The liability for the cash-settled share-based payment transaction as
    at the modification date is derecognised on that date.
</p>
<p>
    (c) Any difference between the carrying amount of the liability
    derecognised and the amount of equity recognised on the modification date
    is recognised immediately in profit or loss.
</p>
<p>
    B44B If, as a result of the modification, the vesting period is extended or
    shortened, the application of the requirements in paragraph B44A reflect
    the modified vesting period. The requirements in paragraph B44A apply even
    if the modification occurs after the vesting period.
</p>
<p>
    B44C A cash-settled share-based payment transaction may be cancelled or
    settled (other than a transaction cancelled by forfeiture when the vesting
    conditions are not satisfied). If equity instruments are granted and, on
    that grant date, the entity identifies them as a replacement for the
    cancelled cash-settled sharebased payment, the entity shall apply
    paragraphs B44A and B44B. ”
</p>
<p>
    (ix). In Appendix 1, after paragraph 4, the following paragraph shall be
    inserted, namely:-
</p>
<p>
    “5. Paragraphs 53-59 and 60-63C in IFRS 2 have not been included in Ind AS
    102 as
</p>
<p>
    these paragraphs relate to Transitional Provisions and Effective date,
    respectively. However, in order to maintain consistency with paragraph
    numbers of IFRS 2, the paragraph numbers are retained in Ind AS 102. ”
</p>
<p>
    3. In the principal rules, in the “Annexure”, under the heading “B. Indian
    Accounting Standards (Ind AS)” in “Indian Accounting Standard (Ind AS) 7,
    Statement of Cash Flows”, -
</p>
<p>
    (i) after paragraph 44, the following paragraphs and heading shall be
    inserted, namely:-
</p>
<div>
    <p>
        “
        <strong>
            Changes in liabilities arising from financing activities
        </strong>
    </p>
</div>
<p>
    <strong></strong>
</p>
<p>
    <strong>44A </strong>
    <strong>
        An entity shall provide disclosures that enable users of financial
        statements to evaluate changes in liabilities arising from financing
        activities, including both changes arising from cash flows and non-cash
        changes.
    </strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    44B To the extent necessary to satisfy the requirement in paragraph 44A, an
    entity shall disclose the following changes in liabilities arising from
    financing activities:
</p>
<p>
    a) changes from financing cash flows;
</p>
<p>
    b) changes arising from obtaining or losing control of subsidiaries or
    other businesses;
</p>
<p>
    c) the effect of changes in foreign exchange rates;
</p>
<p>
    d) changes in fair values; and
</p>
<p>
    e) other changes.
</p>
<p>
    44C Liabilities arising from financing activities are liabilities for which
    cash flows were, or future cash flows will be, classified in the statement
    of cash flows as cash flows from financing activities. In addition, the
    disclosure requirement in paragraph 44A also applies to changes in
    financial assets (for example, assets that hedge liabilities arising from
    financing activities) if cash flows from those financial assets were, or
    future cash flows will be, included in cash flows from financing
    activities.
</p>
<p>
    44D One way to fulfil the disclosure requirement in paragraph 44A is by
    providing a reconciliation between the opening and closing balances in the
    balance sheet for liabilities arising from financing activities, including
    the changes identified in paragraph 44B. Where an entity discloses such a
    reconciliation, it shall provide sufficient information to enable users of
    the financial statements to link items included in the reconciliation to
    the balance sheet and the statement of cash flows.
</p>
<p>
    44E If an entity provides the disclosure required by paragraph 44A in
    combination with disclosures of changes in other assets and liabilities, it
    shall disclose the changes in liabilities arising from financing activities
    separately from changes in those other assets and liabilities. ”
</p>
<p>
    (ii) after paragraph 52, the following paragraphs and heading shall be
    inserted, namely:-
</p>
<div>
    <p>
        “<strong>Effective date</strong>
    </p>
</div>
<p>
    53-59 [Refer Appendix 1]
</p>
<p>
    60 Paragraphs 44A–44E have been added. When the entity first applies these
    amendments, it is not required to provide comparative information for
    preceding periods. An entity shall apply those amendments for annual
    periods beginning on or after 1 April, 2017.”
</p>
<p>
    (iii) In Appendix 1, after paragraph 5, the following paragraph shall be
    inserted, namely:-
</p>
<p>
    “6. Paragraphs 53-59 in IAS 7 have not been included in Ind AS 7 as these
    paragraphs relate to Effective date. However, in order to maintain
    consistency with paragraph numbers of IAS 7, the paragraph numbers are
    retained in Ind AS 7.”
</p>
<p align="right">
    [F. No. 01/01/2009-CL-V(Part VI)]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>