 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">Government
 of
 India&nbsp;<br>
 Ministry of Corporate Affairs<br>
 Notification<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi Dated the
 29th May, 2015<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">G.S.R. __
 (E). -&nbsp;In exercise
 of the powers conferred by sub-sections (1) and (2) of section 469 of
 the
 Companies Act, 2013 (18 of 2013), the Central Government hereby makes
 the
 following rules further to amend the Companies (Share Capital and
 Debentures)
 Rules, 2014, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1. (1)
 These rules may be called
 the Companies (Share Capital and Debentures) Second Amendment Rules,
 2015.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(2) They
 shall come into force
 from the date of their publication in the Official Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. In the
 Companies (Share
 Capital and Debentures) Rules, 2014, in rule 5, in sub-rule (3),-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(i) for the
 words "issued
 under the seal of the company", the words "issued under the seal, if
 any, of the company" shall be substituted;<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(ii) for
 clause (b), the
 following clause (b) shall be substituted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">"(b) the
 secretary or any
 person authorised by the Board for the purpose:<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Provided
 that in case a company
 does not have a common seal, the share certificate shall be signed by
 two
 directors or by a director and the Company Secretary, wherever the
 company has
 appointed a Company Secretary:<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Provided
 further that, if the
 composition of the Board permits of it, at least one of the aforesaid
 two
 directors shall be a person other than a managing director or a
 whole-time
 director:<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Provided
 also that, in case of a
 One Person Company, every share certificate shall be issued under the
 seal, if
 any, of the company, which shall be affixed in the presence of and
 signed by
 one director or a person authorised by the Board of Directors of the
 company
 for the purpose and the Company Secretary, or any other person
 authorised by
 the Board for the purpose, and in case the One Person Company does not
 have a
 common seal, the share certificate shall be signed by the persons in
 the
 presence of whom the seal is required to be affixed in this proviso.".<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><br>
 <br style="">
 <!--[if !supportLineBreakNewLine]--><br style="">
 <!--[endif]--><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">[File
 No. 1/4/2013
 CL-V]<br>
 <br>
 (Amardeep Singh Bhatia)&nbsp;<br>
 Joint Secretary to the Government of India<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Note:
 -&nbsp;The principal rules were published in the
 Gazette of India, Extraordinary, Part-II, Section 3, sub section (i),
 vide
 number G.S.R. 265(E), dated the 31st March, 2014 and was last amended
 by
 notification vide number G.S.R 210 (E) dated the 18th March, 2015.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
 