 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R. 238(E) dated 31 Mar  2014</title></head><body>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN">MINISTRY OF CORPORATE
  AFFAIRS<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN">NOTIFICATION<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN">New Delhi, the 31st
  March, 2014<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">G.S.R 238 (E).&#8212;</span></b><span lang="EN-IN">In exercise of the powers
  conferred under sub-clause (ix) of clause (76), sub-clause (iii) of clause (77)
  of section 2, read with sub-sections (1) and (2) of section 469 of the
  Companies Act, 2013 (18 of 2013), the Central Government hereby makes the
  following rules, namely:&#8212;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN"><span style="">&nbsp;</span>1. Short title and
  commencement.&#8212;<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(1) These rules may be called the Companies
  (Specification of definitions details) Rules, 2014. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(2) They shall come into force on the 1st day
  of April, 2014. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">2. Definitions.&#8212;</span></b><span lang="EN-IN">(1) In these rules,
  unless the context otherwise requires,&#8212; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(a) &#8220;Act&#8221; means the Companies Act,
  2013 (18 of 2013); <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(b) &#8220;Certifying Authority&#8221; for the
  purpose of Digital Signature Certificate means a person who has been granted a
  licence to issue a Digital Signature Certificate under section 24 of the
  Information Technology Act, 2000 (21 of 2000) and the Certified Filing Center
  (CFC) under the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(c) &#8220;digital
  signature&#8221; means the digital signature as defined under clause (p) of
  sub-section (1) of section 2 of the Information Technology Act, 2000 (21 of
  2000); <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(d) &#8220;Digital
  Signature Certificate&#8221; means a Digital Signature Certificate as defined under
  clause (q) of subsection (1) of section 2 of the Information Technology Act,
  2000 (21 of 2000); <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(e) &#8220;Director
  Identification Number&#8221; (DIN) means an identification number allotted by the
  Central Government to any individual, intending to be appointed as director or
  to any existing director of a company, for the purpose of his identification as
  a director of a company; Provided that the Director Identification Number (DIN)
  obtained by the individuals prior to the notification of these rules shall be
  the DIN for the purpose of the Companies Act, 2013: Provided further that
  "Director Identification Number" (DIN) includes the Designated
  Partnership Identification Number (DPIN) issued under section 7 of the Limited
  Liability Partnership Act, 2008 (6 of 2009) and the rules made thereunder; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(f) &#8220;e-Form&#8221;
  means a form in the electronic form as prescribed under the Act or the rules
  made thereunder and notified by the Central Government under the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(g) &#8220;electronic Mail&#8221; means the message sent,
  received or forwarded in digital form using any electronic communication
  mechanism that the message so sent, received or forwarded is storable and
  retrievable; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(h) &#8220;electronic
  mode&#8221;, for the purposes of clause (42) of section 2 of the Act, means carrying
  out electronically based, whether main server is installed in India or not,
  including, but not limited to- (i) business to business and business to
  consumer transactions, data interchange and other digital supply transactions;
  (ii) offering to accept deposits or inviting deposits or accepting deposits or
  subscriptions in securities, in India or from citizens of India; (iii)
  financial settlements, web based marketing, advisory and transactional
  services, database services and products, supply chain management; (iv) online
  services such as telemarketing, telecommuting, telemedicine, education and
  information research; and (v) all related data communication services, whether
  conducted by e-mail, mobile devices, social media, cloud computing, document
  management, voice or data transmission or otherwise;<o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(i) &#8220;electronic record&#8221; means the electronic
  record as defined under clause (t) of sub-section (1) of section 2 of the
  Information Technology Act, 2000; <o:p></o:p></span></p>  
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(j) &#8220;electronic
  Registry&#8221; means an electronic repository or storage system of the Central
  Government in which the information or documents are received, stored,
  protected and preserved in electronic form; <o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(k) &#8220;Executive
  Director&#8221; means a whole time director as defined in clause (94) of section 2 of
  the Act; (l) &#8221;Fees&#8221; means the fees as specified in the Companies (Registration
  Offices and Fees) Rules, 2014; (m) &#8221;Form&#8221; means a form set forth in the Act or
  the rules made thereunder which shall be used for the matter to which it
  relates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(n) &#8220;Pre-fill&#8221; means the automated process of
  data input by the computer system from the database maintained in electronic
  registry of the Central Government; <o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(o) &#8220;Registrar&#8217;s
  Front Office&#8221; means an office maintained by the Central Government or an agency
  authorised by it to facilitate e-filing of documents into the electronic
  registry and their inspection and viewing; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(p) &#8220;Regional
  Director&#8221; means the person appointed by the Central Government in the Ministry
  of Corporate Affairs as a Regional Director;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(q) &#8220;section&#8221; means the section of the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(r) &#8220;Total Share Capital&#8221;, for the purposes of
  clause (6) and clause (87) of section 2, means the aggregate of the &#8211;<o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="margin-left: 14.2pt; text-align: justify; font-family: Arial;"><span lang="EN-IN">(a) paid-up equity share capital; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-left: 14.2pt; text-align: justify; text-indent: -7.1pt; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span><span style="">&nbsp; </span>(b) convertible preference share capital; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(s) For the
  purposes of clause (d) of sub-section (1) of Section 164 and clause (f) of
  sub-section (1) of section 167 of the Act, &#8220;or otherwise&#8221; means any offence in
  respect of which he has been convicted by a Court under this Act or the
  Companies Act, 1956; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(2) The words
  and expressions used in these rules but not defined and defined in the Act or
  in (i) the Securities Contracts (Regulation) Act, 1956 (42 of 1956) or (ii) the
  Securities and Exchange Board of India Act, 1992 (15 of 1992) or (iii) the
  Depositories Act, 1996 (22 of 1996) or (iv) the Information Technology Act,
  2000 (21 of 2000) or rules and regulations made thereunder shall have the
  meanings respectively assigned to them under the Act or those Acts.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b style=""><span lang="EN-IN"><span style="">&nbsp;</span>3. Related
  party.-</span></b><span lang="EN-IN"> For the purposes of sub-clause (ix) of
  clause (76) of section 2 of the Act, a director or key managerial personnel of
  the holding company or his relative with reference to a company, shall be deemed
  to be a related party.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b style=""><span lang="EN-IN"><span style="">&nbsp;</span>4. List of
  relatives in terms of clause (77) of section 2</span></b><span lang="EN-IN">.- A
  person shall be deemed to be the relative of another, if he or she is related
  to another in the following manner, namely:- <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(1) Father:
  Provided that the term &#8220;Father&#8221; includes step-father. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(2) Mother:
  Provided that the term &#8220;Mother&#8221; includes the step-mother. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(3) Son:
  Provided that the term &#8220;Son&#8221; includes the step-son. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(4) Son&#8217;s wife. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(5) Daughter.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(6) Daughter&#8217;s husband.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(7) Brother: Provided that the term &#8220;Brother&#8221;
  includes the step-brother; (8) Sister: Provided that the term &#8220;Sister&#8221; includes
  the step-sister.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span lang="EN-IN">[F. No. 01/13/2013
  (Part-I) CL-V] <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span lang="EN-IN">RENUKA KUMAR, Jt. Secy.<o:p></o:p></span></p>
 </body></html>