 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR268(E)) dated 31st Mar 2014</title></head><body>
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="font-family: Arial; text-align: center;"><span style="line-height: 115%;" lang="EN-IN">Government
 of India<br>
 Ministry of Corporate Affairs<br>
 NOTIFICATION<o:p></o:p></span></p><div style="text-align: center;">
 
 </div><p class="MsoNormal" style="font-family: Arial; text-align: right;"><span style="line-height: 115%;" lang="EN-IN">New
 Delhi, the31st Mar <span style="">&nbsp;</span>2014<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">G.S.R
 268(E) In exercise of the powers conferred by section 396, 398, 399, 403 and
 404, read with sub-sections (1) and (2) of section 469 of the Companies Act,
 2013 (18 of 2013) and in supersession of Companies (Central Government&#8217;s)
 General Rules and Forms, 1956, except as respects things done or omitted to be
 done before such supersession, the Central Government hereby makes the
 following rules, namely: -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">1.
 Short title and commencement.-&nbsp;(1) These rules may be called of the
 Companies (Registration Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 They shall come into force on the 1st day of April, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">2.
 Definitions.-&nbsp;(1) In these rules, unless the context otherwise requires,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 &#8216;&#8216;Act&#8217;&#8217; means the Companies Act, 2013 (18 of 2013);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 &#8216;&#8216;Annexure&#8217;&#8217; means Annexure to these rules;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c)
 &#8220;Certifying Authority&#8221; for the purpose of &#8216;&#8216;Digital Signature Certificate&#8217;&#8217;
 means a person who has been granted a licence to issue it under section 24 of
 the Information Technology Act, 2000 (21 of 2000).<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(d)
 &#8220;Digital Signature&#8221; means digital signature as defined under clause (p) of
 sub-section (1) of section 2 of the Information Technology Act, 2000; (21 of
 2000);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(e)
 &#8220;Digital Signature Certificate&#8221; means a Digital Signature Certificate as
 defined under clause (q) of sub-section (1) of section 2 of the Information
 Technology Act, 2000 (21 of 2000)<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(f)
 &#8220;electronic record&#8221; means electronic record as defined under clause (t) of
 sub-section (1) of section 2 of the Information Technology Act, 2000; (21 of
 2000);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(g)
 &#8220;electronic registry&#8221; means an electronic repository or storage system of the
 Central Government in which the information or documents are received, stored,
 protected and preserved in electronic form;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(h)
 &#8220;electronic mail&#8221; means message sent, received or forwarded in digital form
 using any electronic communication mechanism such that the message so sent,
 received or forwarded is storable and retrievable ;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 &#8216;&#8216;Form&#8217;&#8217; or &#8220;e-form&#8221; means a form set forth in Annexure to these rules which
 shall be used for the matter to which it relates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(j)
 &#8216;&#8216;Regional Director&#8217;&#8217; means the person appointed by the Central Government in
 the Ministry of Corporate Affairs as a Regional Director;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(k)
 &#8220;Registrar&#8217;s Facilitation Office&#8221; means an office maintained by the Central
 Government or an agency authorised by it to facilitate e-filing of documents
 into the electronic registry and their inspection and viewing;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(l)
 &#8220;Straight Through Process&#8221; means the process in which an e-from is approved
 through system without manual interruption.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 Words and expressions used in these rules but not defined and defined in the
 Act and the Information Technology Act, 2000 (21 of 2000) or in Companies
 (Specification of definitions details) Rules, 2014 shall have the meanings
 respectively assigned to them in those Acts and the said rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">3.
 Business activity.-&nbsp;Every company including foreign company which carries
 out its business through electronic mode, whether its main server is installed
 in India or outside India, which-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 undertakes business to business and business to consumer transactions, data
 interchange or other digital supply transactions;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 offers to accept deposits or invites deposits or accepts deposits or
 subscriptions in securities, in India or from citizens of India;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii)
 undertakes financial settlements, web based marketing, advisory and
 transactional services, database services or products, supply chain management;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv)
 offers online services such as telemarketing, telecommuting, telemedicine,
 education and information research; or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v)
 undertakes any other related data communication services,<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">whether
 conducted by e-mail, mobile devices, social media, cloud computing, document
 management, voice or data transmission or otherwise, shall be deemed to have
 carried out business in India.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">4.
 Registration offices.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1)
 The Central Government shall establish such number of offices at such places as
 it thinks fit, specifying their jurisdiction for the purpose of exercising such
 powers and discharge of such functions as are conferred on the Central
 Government by or under this Act or under the rules made thereunder and for the
 purposes of registration of companies under the Act.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 The office of the Registrar shall observe such normal working hours as may be
 approved by the Central Government and shall be open for the transaction of
 business with the public on all days except Saturday, Sunday and public
 holidays during working hours between 10.30 a.m. and 3.30 p.m.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 The offices other than the office of the Registrar shall observe such normal
 working hours as may be approved by the Central Government.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">5.
 Powers and duties of Registrars.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1)
 The Registrars shall exercise such powers and discharge such duties as are
 conferred on them by the Act or the rules made thereunder or delegated to them
 by the Central Government, wherever the power or duty has been conferred upon
 the Central Government by the Act or the rules made there under.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 Whenever according to the Act, any function or duty is to be discharged by the
 Registrar, it shall, until the Central Government otherwise directs, be done by
 the Registrar , or in his absence, by such person as the Central Government may
 for the time being authorise:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;that
 in the event of the Central Government altering the constitution of the
 existing registry offices or any of them, any such function or duty shall be
 discharged by such officer and at such place, with reference to the local
 situation of the registered offices of the companies concerned, as the Central
 Government may appoint.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">6.Seal
 of Registrar.-&nbsp;The Registrar shall have a seal and such seal shall bear
 the words &#8220;Registrar of Companies, _______(Place and State)&#8221;.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">7.
 Manner and conditions of filing.-&nbsp;Every application, financial statement,
 prospectus, return, declaration, memorandum, articles, particulars of charges,
 or any other particulars or document or any notice, or any communication or
 intimation required to be filed or delivered or served under the Act and rules
 made there under, shall be filed or delivered or served in computer readable
 electronic form, in portable document format (pdf) or in such other format as
 has been specified in any rule or form in respect of such application or form
 or document or declaration to the Registrar through the portal maintained by
 the Central Government on its web-site or through any other website notified by
 the Central Government:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;that
 where the documents are required to be filed on Non-Judicial Stamp Paper, the
 company shall submit such documents in the physical form, in addition to their
 submission in electronic form, unless the Central Government, by an order, does
 not require submission in physical form and proof of delivery of documents
 submitted in physical form shall be scanned and form part of attachment to the
 e-form.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;further
 that if stamp duty on such documents is paid electronically through the portal
 maintained by the Central Government or through any other website notified by
 the Central Government, then, the company shall not be required to make
 physical submission of such documents, in addition to their submission in the
 electronic form:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;also
 that in respect of certain documents filed under the Act which are not covered
 for payment of stamp duty through the portal of the Central Government, and
 stamp duty payable on such documents in the respective State is equal to or
 less than one hundred rupees, the company shall scan such stamped documents
 complete in all respects and shall file electronically for evidencing by the
 Registrar and shall not be required to submit such documents, except those
 which are required to be filed for compounding of offences or adjudication of
 penalties or applications to Central Government or Regional Director in the
 physical form separately:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;also
 that unless otherwise stated in any law for the time being in force, the
 company shall retain such documents duly stamped in original permanently for
 the documents relating to incorporation and matters incidental thereto, changes
 in any of the clauses of the Memorandum and Articles of Association and in
 other cases for a minimum period of eight years from the date of filing of the
 documents and shall be required to produce the same as and when the same is
 required for inspection and verification by the competent authority under any
 law for the time being in force:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;also
 that any correspondences (physically or electronically) and documents to be
 filed by any person shall contain name, designation, address, membership number
 or Director Identification Number, as the case may be, of the person signing
 such document and make sure correctness thereof and in no case, correspondence,
 merely with signature and writing authorised signatory shall be acceptable.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;also
 that no request for recording any event based information or changes shall be
 accepted by the Registrar from such defaulting companies, unless they file
 their updated Balance Sheet and Profit and Loss Account and Annual Return with
 the Registrar of Companies except,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 filing of order of Court or other authorities,<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 Balance Sheet and Profit and Loss Account,<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii)
 Compounding application,<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv)
 Form for transfer of money to Investor Education and Protection Fund,<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v)
 Application for removal of the Auditor and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vi)
 GNL-1 for making company active.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">8.
 Authentication of documents.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1)
 An electronic form shall be authenticated by authorised signatories using
 digital signature.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 Where there is any change in directors or secretaries, the form relating to
 appointment of such directors or secretaries has to be filed by an continuing
 director or the secretary of the company.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 The authorised signatory and the professional, if any, who certify e-form shall
 be responsible for the correctness of the contents of e-form and correctness of
 the enclosures attached with the electronic form.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 Every person authorised for authentication of e-forms, documents or
 applications etc., which are required to be filed or delivered under the Act or
 rules made there under, shall obtain a digital signature certificate from the
 Certifying Authority for the purpose of such authentication and such
 certificate shall not be valid unless it is of class II or Class III
 specification under the Information Technology Act, 2000 (21 of 2000).<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(5)
 The electronic forms required to be filed under the Act or the rules thereunder
 shall be authenticated on behalf of the company by the Managing Director or
 Director or Secretary of the Company or other key managerial personnel.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(6)
 Scanned image of documents shall be of original signed documents relevant to
 the e-forms or forms and the scanned document image shall not be left blank
 without bearing the actual signature of authorised person.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(7)
 It shall be the sole responsibility of the person who is signing the form and
 professional who is certifying the form to ensure that all the required
 attachments relevant to the form have been attached completely and legibly as
 per provisions of the Act, and rules made thereunder to the forms or
 application or returns filed.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(8)
 The documents or form or application filed may contain a power of attorney
 issued to an Advocate or Chartered Accountant or Cost Accountant or Company
 Secretary who is in whole time practice and to any others person supported by
 Board resolution to make representation to the registering or approving
 authority failing which a Director or key managerial personnel can make
 representation before such authority .<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(9)
 Where any instance of filing document, application or return etc, containing a
 false or misleading information or omission of material fact, requiring action
 under section 448 or section 449 is observed, the person shall be liable under
 section 448 and 449 of the Act.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(10)
 Without prejudice to any other liability, in case of certification of any form,
 document, application or return under the Act containing wrong or false or
 misleading information or omission of material fact or attachments by the
 person, the Digital Signature Certificate shall be de-activated by the Central
 Government till a final decision is taken in this regard.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(11)
 The Central Government shall set up and maintain for filing of electronic
 forms, documents and applications, and for viewing and inspection of documents
 in the electronic registry or for obtaining certified copies thereof-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 a website or portal to provide access to the electronic registry; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 as many Registrar&#8217;s Facilitation Offices as may be necessary and at such places
 and for such time as the Central Government may determine.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">9.
 Maintaining documents electronically.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1)
 The Central Government shall set up and maintain a secure electronic registry
 in which all the applications, financial statement, prospectus, return,
 register, memorandum, articles, particulars of charges, or any particulars or
 returns or any other documents filed under the Act to be electronically stored.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 Every document or certificate or notice or other document required to be
 registered or authenticated by the Registrar or an officer of the Central
 Government under the Act or rules made there under, shall be registered or
 authenticated through a valid digital signature of such person or a system
 generated digital signature.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 The Registrar shall issue document, certificate, notice, receipt, approval or
 communicate endorsement or acknowledgement in the electronic mode:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;that
 where the Registrar is not able to issue any certificate, receipt, endorsement,
 acknowledgement or approval in electronic mode for the reasons to be recorded
 in writing, he may issue such certificate or receipt or endorsement,
 acknowledgement or approval in the physical form under manual signature
 affixing seal of his office.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 The Registrar may send any document, certificate, notice or any other
 communication to the company or its authorised representative or directors or
 both in the electronic manner for which the company shall create and maintain
 at all times a valid electronic addresses including e-mail, user
 identifications capable of receiving and acknowledging the receipt of the
 document, certificate, notice or other communication, automated or otherwise.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">10.
 Procedure on receipt of any application or form or document electronically.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1)
 The Registrar shall examine or cause to be examined every application or e-Form
 or document required or authorised to be filed or delivered under the Act and
 rules made thereunder for approval, registration, taking on record or
 rectification by the Registrar, as the case may be:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;that
 save as otherwise provided in the Act, the Registrar shall take a decision on
 the application, e-form or documents within thirty days from the date of its
 filing excluding the cases in which an approval of the Central Government or
 the Regional Director or any other competent authority is required:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 further&nbsp;that the e-Forms or documents identified as informative in nature
 and filed under Straight Through Process may be examined by the Registrar at
 any time on suo-motu or on receipt of any information or complaint from any
 source at any time after its filing:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 also&nbsp;that nothing contained in the first proviso shall affect the powers
 of the Registrar to call information or explanation in pursuance of section
 206.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 Where the Registrar, on examining any application or e-Form or document
 referred to in sub-rule (1), finds it necessary to call for further information
 or finds such application or e-form or document to be defective or incomplete
 in any respect, he shall give intimation of such information called for or
 defects or incompleteness, by e-mail on the last intimated e-mail address of
 the person or the company, which has filed such application or e-form or
 document, directing him or it to furnish such information or to rectify such
 defects or incompleteness or to re-submit such application or e-Form or
 document within the period allowed under sub-rule (3):<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that&nbsp;in case the e-mail address of the person or the company in question
 is not available, the intimation shall be given by the Registrar by post at the
 last intimated registered office address of the company or the last intimated
 address of the person, as the case may be and the Registrar shall preserve the
 facts of the intimation in the electronic record.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 Except as otherwise provided in the Act, the Registrar shall allow fifteen
 days&#8217; time to the person or company which has filed the application or e-Form
 or document under sub-rule (1) for furnishing further information or for
 rectification of the defects or incompleteness or for re-submission of such
 application or e-form or document.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 In case where such further information called for has not been provided or has
 been furnished partially or defects or incompleteness has not been rectified or
 has been rectified partially or has not been rectified as required within the
 period allowed under sub-rule (3), the Registrar shall either reject or treat
 the application or e-form or document, as the case may be, as invalid in the
 electronic record, and shall inform the person or company, as the case may be,
 in the manner as specified in sub-rule (2).<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(5)
 Where any document has been recorded as invalid by the Registrar, the document
 may be rectified by the person or company only by fresh filing along with
 payment of fee and additional fee, as applicable at the time of fresh filing,
 without prejudice to any other liability under the Act.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(6)
 In case the Registrar finds any e-form or document filed under Straight Through
 Process as defective or incomplete in any respect, at any time suo-motu or on
 receipt of information or compliant from any source at any time, he shall treat
 the e-form or document as defective in the electronic registry and shall also
 issue a notice pointing out the defects or incompleteness in the e-Form or
 document at the last intimated e-mail address of the person or the company
 which has filed the document, calling upon the person or company to file the
 e-Form or document afresh along with fee and additional fee, as applicable at
 the time of actual re-filing, after rectifying the defects or incompleteness
 within a period of thirty days from the date of the notice:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided&nbsp;that
 in case the e-mail address of the person or the company in question is not
 available, the intimation shall be given by the Registrar by post at the last
 intimated registered office address of the company or the last intimated
 address of the person, as the case may be and the Registrar shall preserve the
 facts of the intimation in the electronic record.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">11.
 Vacation or removal of directors.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1)
 In the event of vacation or removal of directors before approving or
 invalidating&nbsp;Form No DIR-12,&nbsp;the Registrar shall verify the documents
 as to correctness of contents and whether adequate supporting documents namely,
 copy of board resolution, copy of notices sent for calling board meeting or
 copy of minutes of board of directors reflecting voted for or against.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 If the Registrar on verification of documents further finds that the company
 has violated any of the provisions of the Act or rules, he shall refer the
 matter to the Regional Director concerned, who shall enquire the matter by
 giving an opportunity to the person who has been removed or vacated as director
 and convey the decision of the matter to the Registrar within ninety days from
 the date of reference to him by the Registrar.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">12.
 Fees.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1)
 The documents required to be submitted, filed, registered or recorded or any
 fact or information required or authorised to be registered under the Act shall
 be submitted, filed, registered or recorded on payment of the fee or on payment
 of such additional fee as applicable, as mentioned in Table annexed to these
 rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 For the purpose of filing the documents or applications for which no e-form is
 prescribed under the various rules prescribed under the Act, the document or
 application shall be filed through&nbsp;Form No.GNL.1&nbsp;or&nbsp;GNL.2along
 with fee as applicable and in case a single form is prescribed for multiple
 purposes, the fee shall be paid for each of the purposes contained in the
 single form.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">13.
 Mode of Payment.-&nbsp;The fees, charges or other sums payable for filing any
 application, form, return or any other document in pursuance of the Act or any rule
 made thereunder shall be paid by means of credit card; or internet banking; or
 remittance at the counter of the authorised banks or any other mode as approved
 by the Central Government.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">14.
 Inspection, production and evidence of documents kept by Registrar.-&nbsp;The
 inspection of the documents maintained in the electronic registry so set up in
 pursuance of rule 9 and which are otherwise available for inspection under the
 Act or rules made thereunder, shall be made by any person in electronic form.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">15.
 Inspection of documents.-&nbsp;Any person may &#8211;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 inspect any document kept by the Registrar, being documents filed or registered
 by him in pursuance of this Act or the Companies Act, 1956 (1 of 1956) or
 making a record of any fact required or authorised to be recorded or registered
 in pursuance of this Act, on payment for each inspection of fee.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 require a certificate of incorporation of any company, or a copy or extract of
 any other document or any part of any other document to be certified by the
 Registrar, on payment of fee.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">.....................
 ................ ................. ................ ................
 ............. ......... .........<o:p></o:p></span></p>
 
 <p style="font-family: Arial;" class="MsoNormal"><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 </body></html>