<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR dated 16th February 2015</title></head><body>
<p style="widows: 4;" align="center"><b>Government of India<br>Ministry
of Corporate Affairs<br>Notification</b></p>
<p style="widows: 2;" align="right"><b>New Delhi, dated 16th
 February2015</b></p>
<p style="widows: 136;" align="justify"><b>G.S.R&nbsp;&nbsp; (E).-</b>&nbsp;In
 exercise of the powers conferred by section 133 read with section 469
 of the Companies Act, 2013 (18 of 2013) and sub-section (1) of
 section 210A of the Companies Act, 1956 (1 of 1956), the Central
 Government, in consultation with the National Advisory Committee on
 Accounting Standards, hereby makes the following rules, namely:-</p>
<ol><li><p style="widows: 136;" align="justify"><b>Short title and
	commencement.-</b>&nbsp;(1) These rules may be called the&nbsp;<b>Companies 
	(Indian Accounting Standards) Rules, 2015.</b></p>
</li></ol>
<p style="widows: 136;" align="justify">(2) They shall come into force
 on the 1st day of April, 2015</p>
<ol start="2"><li><p style="widows: 136;" align="justify"><b>Definitions.-</b>&nbsp;(1)
  In these rules, unless the context otherwise requires,-</p>
<ol type="a"><li><p style="widows: 136;" align="justify">"Accounting
	Standards" means the standards of accounting, or any addendum
  	 thereto for companies or class of companies as specified in rule 3;</p>
  	</li><li><p style="widows: 136;" align="justify">"Act" means the
 		 Companies Act, 2013 (18 of 2013);</p>
  		</li><li><p style="widows: 136;" align="justify">"Annexure" in
  		 relation to these rules means the Annexure containing the Indian
  		  Accounting Standards (Ind AS) appended to these rules;</p>
 		 </li><li><p style="widows: 136;" align="justify">"entity" means a
 		 company as defined in clause (20) of section 2 of the Act;</p>
		 </li><li><p style="widows: 136;" align="justify">"financial
 		  statements" means financial statements as defined in clause
 		 (40) of section 2 of the Act;</p>
 		 </li><li><p style="widows: 136;" align="justify">"net worth"
 		   shall have the meaning assigned to it in clause (57) of section 2
 		 of the Act.</p>
 	</li></ol>
</li></ol>
<p style="widows: 136;" align="justify">(2) Words and expressions used
 herein and not defined in these rules but defined in the Act shall
 have the same meaning respectively assigned to them in the Act.</p>
<ol start="3"><li><p style="widows: 136;" align="justify"><b>Applicability of
	  Accounting Standards. -</b>&nbsp;(1) The accounting standards as
	  specified in the Annexure to these rules to be called the Indian
	  Accounting Standards (Ind AS) shall be the accounting standards
	  applicable to classes of companies specified in rule 4.</p>
</li> </ol>
<p style="widows: 136;" align="justify">(2) The Accounting standards as
 specified in&nbsp;<b>Annexure</b>&nbsp;to the Companies (Accounting
 Standards) Rules, 2006 shall be the Accounting Standards applicable
 to the companies other than the classes of companies specified in
 rule 4.</p>
<p style="widows: 136;" align="justify">(3) A company which follows the
 Indian Accounting Standards (Ind AS) specified in&nbsp;<b>Annexure</b>&nbsp;to
 these rules in accordance with the provisions of rule 4 shall follow
 such standards only.</p>
<p style="widows: 136;" align="justify">(4) A company which follows the
 accounting standards specified in&nbsp;<b>Annexure</b>&nbsp;to the
 Companies (Accounting Standards) Rules, 2006 shall comply with such
 standards only and not the Standards specified in Annexure to these
 rules.</p>
<ol start="4"><li><p style="widows: 136;" align="justify"><b>Obligation to comply
	  with Indian Accounting Standards (Ind AS). -</b>&nbsp;(1) The
	  Companies and their auditors shall comply with the Indian Accounting
	  Standards (Ind AS) specified in&nbsp;<b>Annexure</b>&nbsp;to these
	  rules in preparation of their financial statements and audit
	  respectively, in the following manner, namely:-</p>
</li></ol>
<ol><ol type="a"><li><p style="widows: 136;" align="justify">any company may comply
		  with the Indian Accounting Standards (Ind AS) for financial
		  statements for accounting periods beginning on or after 1stApril,
		  2015, with the comparatives for the periods ending on 31st March,
		 2015, or thereafter;</p>
		</li><li><p style="widows: 136;" align="justify">the following companies
		  shall comply with the Indian Accounting Standards (Ind AS) for the
		  accounting periods beginning on or after 1st April, 2016, with the
		  comparatives for the periods ending on 31st March, 2016, or
		  thereafter, namely:-</p>
		<ol type="a"><li><p style="widows: 136;" align="justify">companies whose equity or
			  debt securities are listed or are in the process of being listed
			  on any stock exchange in India or outside India and having net
			  worth of rupees five hundred crore or more;</p>
			</li><li><p style="widows: 136;" align="justify">companies other than
			  those covered by sub-clause (a) of clause (ii) of subrule (1) and
			  having net worth of rupees five hundred crore or more;</p>
			</li><li><p style="widows: 136;" align="justify">holding, subsidiary,
			  joint venture or associate companies of companies covered by
			  sub-clause (a) of clause (ii) of sub- rule (1) and sub-clause (b)
			  of clause (ii) of sub- rule (1) as the case may be; and</p>
			</li><li><p style="widows: 136;" align="justify">the following companies
			  shall comply with the Indian Accounting Standards (Ind AS) for the
			  accounting periods beginning on or after 1st April, 2017, with the
			  comparatives for the periods ending on 31st March, 2017, or
			  thereafter, namely:-</p>
			</li><li><p style="widows: 136;" align="justify">companies whose equity or
			  debt securities are listed or are in the process of being listed
			  on any stock exchange in India or outside India and having net
			  worth of less than rupees five hundred crore;</p>
			</li><li><p style="widows: 136;" align="justify">companies other than
			  those covered in clause (ii) of sub- rule (1) and subclause (a)
			  of clause (iii) of sub-rule (1), that is, unlisted companies
			  having net worth of rupees two hundred and fifty crore or more but
			  less than rupees five hundred crore.</p>
			</li><li><p style="widows: 136;" align="justify">holding, subsidiary,
			  joint venture or associate companies of companies covered under
			  sub-clause (a) of clause (iii) of sub- rule (1) and sub-clause (b)
			  of clause (iii) of sub- rule (1), as the case may be:</p>
		</li></ol>
	</li></ol></ol>
<p style="widows: 136;" align="justify">Provided that nothing in this
 sub-rule, except clause (i), shall apply to companies whose
 securities are listed or are in the process of being listed on SME
 exchange as referred to in Chapter XB or on the Institutional Trading
 Platform without initial public offering in accordance with the
 provisions of Chapter XC of the Securities and Exchange Board of
 India (Issue of Capital and Disclosure Requirements) Regulations,
 2009.</p>
<p style="widows: 136;" align="justify">Explanation 1. - SME Exchange
 shall have the same meaning as assigned to it in Chapter XB of the
 Securities and Exchange Board of India (Issue of Capital and
 Disclosure Requirements) Regulations, 2009.</p>
<p style="widows: 136;" align="justify">Explanation 2. - "Comparatives"
 shall mean comparative figures for the preceding accounting period.</p>
<p style="widows: 136;" align="justify">(2) For the purposes of
 calculation of net worth of companies under sub-rule (1), the
 following principles shall apply, namely:-</p>
<ol><ol type="a"><li><p style="widows: 136;" align="justify">the net worth shall be
		  calculated in accordance with the stand-alone financial statements
		  of the company as on 31st March, 2014 or the first audited
		  financial statements for accounting period which ends after that
		  date;</p>
		</li><li><p style="widows: 136;" align="justify">for companies which are
		  not in existence on 31st March, 2014 or an existing company falling
		  under any of thresholds specified in sub-rule (1) for the first
		  time after 31st March, 2014, the net worth shall be calculated on
		  the basis of the first audited financial statements ending after
		  that date in respect of which it meets the thresholds specified in
		  sub-rule (1).</p>
	</li></ol></ol>
<p style="widows: 136;" align="justify">Explanation.- For the purposes
of sub-clause (b), the companies meeting the specified thresholds
given in sub-rule (1) for the first time at the end of an accounting
 year shall apply Indian Accounting Standards (Ind AS) from the
 immediate next accounting year in the manner specified in sub-rule
(1). Illustration .- (i) The companies meeting threshold for the
 first time as on 31st March, 2017 shall apply Ind AS for the
 financial year 2017-18 onwards.<br>(ii) The companies meeting
 threshold for the first time as on 31st March, 2018 shall apply Ind
 AS for the financial year 2018-19 onwards and so on.</p>
<p style="widows: 136;" align="justify">(3) Standards in&nbsp;<b>Annexure</b>&nbsp;to
 these rules once required to be complied with in accordance with
 these rules, shall apply to both stand-alone financial statements and
 consolidated financial statements.</p>
<p style="widows: 136;" align="justify">(4) Companies to which Indian
 Accounting Standards (Ind AS) are applicable as specified in these
 rules shall prepare their first set of financial statements in
 accordance with the Indian Accounting Standards (Ind AS) effective at
 the end of its first Indian Accounting Standards (Ind AS) reporting
 period.</p>
<p style="widows: 136;" align="justify">Explanation.- For the removal of
 doubts, it is hereby clarified that the companies preparing financial
 statements applying the Indian Accounting Standards (Ind AS) for the
 accounting period beginning on 1stApril, 2016 shall apply the Indian
 Accounting Standards (Ind AS) effective for the financial year ending
 on 31st March, 2017.</p>
<p style="widows: 136;" align="justify">(5) Overseas subsidiary,
associate, joint venture and other similar entities of an Indian
 company may prepare its standalone financial statements in accordance
 with the requirements of the specific jurisdiction:</p>
<p style="widows: 136;" align="justify">Provided that such Indian
 company shall prepare its consolidated financial statements in
 accordance with the Indian Accounting Standards (Ind AS) either
 voluntarily or mandatorily if it meets the criteria as specified in
 sub-rule (1).</p>
<p style="widows: 136;" align="justify">(6) Indian company which is a
 subsidiary, associate, joint venture and other similar entities of a
 foreign company shall prepare its financial statements in accordance
 with the Indian Accounting Standards (Ind AS) either voluntarily or
 mandatorily if it meets the criteria as specified in sub-rule
(1).<br>(7) Any company opting to apply the Indian Accounting
 Standards (Ind AS) voluntarily as specified in sub-rule (1) for its
 financial statements shall prepare its financial statements as per
 the Indian Accounting Standards (Ind AS) consistently.</p>
<p style="widows: 136;" align="justify">(8) Once the Indian Accounting
 Standards (Ind AS) are applied voluntarily, it shall be irrevocable
 and such companies shall not be required to prepare another set of
 financial statements in accordance with Accounting Standards
 specified in Annexure to Companies (Accounting Standards) Rules,
2006.</p>
<p style="widows: 136;" align="justify">(9) Once a company starts
following the Indian Accounting Standards (Ind AS) either voluntarily
or mandatorily on the basis of criteria specified in sub-rule (1), it
shall be required to follow the Indian Accounting Standards (Ind AS)
for all the subsequent financial statements even if any of the
criteria specified in this rule does not subsequently apply to it.</p>
<ol start="2"><li><p style="widows: 136;" align="justify"><b>Exemptions</b>.- The
	  insurance companies, banking companies and non-banking finance
	  companies shall not be required to apply Indian Accounting Standards
	 (Ind AS) for preparation of their financial statements either
	 voluntarily or mandatorily as specified in sub-rule (1) of rule 4.</p>
</li></ol>
<p>[File Number 01/01/2009/CL-V(Part)]<br><br>[Ajai Das
 Mehrotra]&nbsp;<br>Joint Secretary to Government of India</p>
<p style="widows: 136;" align="justify"><b>Annexure</b><br><b>[See rule
3]</b></p>
<p style="widows: 136;" align="justify"><b>A. General Instruction. -</b>&nbsp;(1)
 Indian Accounting Standards, which are specified, are intended to be
 in conformity with the provisions of applicable laws. However, if due
 to subsequent amendments in the law, a particular Indian Accounting
 Standard is found to be not in conformity with such law, the
 provisions of the said law shall prevail and the financial statements
 shall be prepared in conformity with such law.</p>
<p style="widows: 136;" align="justify">(2) Indian Accounting Standards
 are intended to apply only to items which are material.</p>
<p style="widows: 136;" align="justify">(3) The Indian Accounting
 Standards include paragraphs set in bold italic type and plain type,
 which have equal authority. Paragraphs in bold italic type indicate
 the main principles. An individual Indian Accounting Standard shall
 be read in the context of the objective, if stated, in that Indian
 Accounting Standard and in accordance with these General
 Instructions.</p>
<p style="widows: 136;" align="justify"><b>B. Indian Accounting
Standards (Ind AS)</b></p>
<p><br>
</p>
<table style="width: 346px; height: 3343px;" border="1" bordercolor="#00000a" cellpadding="5" cellspacing="0">
	<col width="206">
	<col width="385">
	<tbody><tr>
		<td bgcolor="#666666" height="26" width="206">
			<p><b>Notifications</b></p>
		</td>
		<td bgcolor="#666666" width="385">
			<p><b>Description</b></p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS1.pdf">Indian
			Accounting Standard (Ind AS) 1</a></p>
		</td>
		<td width="385">
			<p>Presentation of Financial Statements</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS2.pdf">Indian
			Accounting Standard (Ind AS) 2</a></p>
		</td>
		<td width="385">
			<p>Inventories</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS7.pdf">Indian
			Accounting Standard (Ind AS) 7</a></p>
		</td>
		<td width="385">
			<p>Statement of Cash Flows</p>
		</td>
	</tr>
	<tr>
		<td height="29" width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS8.pdf">Indian
			Accounting Standard (Ind AS) 8</a></p>
		</td>
		<td width="385">
			<p>Accounting Policies, Changes in Accounting Estimates and Errors</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS10.pdf">Indian
			Accounting Standard (Ind AS) 10</a></p>
		</td>
		<td width="385">
			<p>Events after the Reporting Period</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS12.pdf">Indian
			Accounting Standard (Ind AS) 12</a></p>
		</td>
		<td width="385">
			<p>Income Taxes</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS16.pdf">Indian
			Accounting Standard (Ind AS) 16</a></p>
		</td>
		<td width="385">
			<p>Property, Plant and Equipment</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS17.pdf">Indian
			Accounting Standard (Ind AS) 17</a></p>
		</td>
		<td width="385">
			<p>Leases</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS19.pdf">Indian
			Accounting Standard (Ind AS) 19</a></p>
		</td>
		<td width="385">
			<p>Employee Benefits</p>
		</td>
	</tr>
	<tr>
		<td height="29" width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS20.pdf">Indian
			Accounting Standard (Ind AS) 20</a></p>
		</td>
		<td width="385">
			<p>Accounting for Government Grants and Disclosure of Government
			Assistance</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS21.pdf">Indian
			Accounting Standard (Ind AS) 21</a></p>
		</td>
		<td width="385">
			<p>The Effects of Changes in Foreign Exchange Rates</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS23.pdf">Indian
			Accounting Standard (Ind AS) 23</a></p>
		</td>
		<td width="385">
			<p>Borrowing Costs</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS24.pdf">Indian
			Accounting Standard (Ind AS) 24</a></p>
		</td>
		<td width="385">
			<p>Related Party Disclosures</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS27.pdf">Indian
			Accounting Standard (Ind AS) 27</a></p>
		</td>
		<td width="385">
			<p>Separate Financial Statements</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS28.pdf">Indian
			Accounting Standard (Ind AS) 28</a></p>
		</td>
		<td width="385">
			<p>Investments in Associates and Joint Ventures</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS29.pdf">Indian
			Accounting Standard (Ind AS) 29</a></p>
		</td>
		<td width="385">
			<p>Financial Reporting in Hyperinflationary Economies</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS32.pdf">Indian
			Accounting Standard (Ind AS) 32</a></p>
		</td>
		<td width="385">
			<p>Financial Instruments: Presentation</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS33.pdf">Indian
			Accounting Standard (Ind AS) 33</a></p>
		</td>
		<td width="385">
			<p>Earnings per Share</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS34.pdf">Indian
			Accounting Standard (Ind AS) 34</a></p>
		</td>
		<td width="385">
			<p>Interim Financial Reporting</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS36.pdf">Indian
			Accounting Standard (Ind AS) 36</a></p>
		</td>
		<td width="385">
			<p>Impairment of Assets</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS37.pdf">Indian
			Accounting Standard (Ind AS) 37</a></p>
		</td>
		<td width="385">
			<p>Provisions, Contingent Liabilities and Contingent Assets</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS38.pdf">Indian
			Accounting Standard (Ind AS) 38</a></p>
		</td>
		<td width="385">
			<p>Intangible Assets</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS40.pdf">Indian
			Accounting Standard (Ind AS) 40</a></p>
		</td>
		<td width="385">
			<p>Investment Property</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS41.pdf">Indian
			Accounting Standard (Ind AS) 41</a></p>
		</td>
		<td width="385">
			<p>Agriculture</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS101.pdf">Indian
			Accounting Standard (Ind AS) 101</a></p>
		</td>
		<td width="385">
			<p>First-time Adoption of Indian Accounting Standards</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS102.pdf">Indian
			Accounting Standard (Ind AS) 102</a></p>
		</td>
		<td width="385">
			<p>Share-based Payment</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS103.pdf">Indian
			Accounting Standard (Ind AS) 103</a></p>
		</td>
		<td width="385">
			<p>Business Combinations</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS104.pdf">Indian
			Accounting Standard (Ind AS) 104</a></p>
		</td>
		<td width="385">
			<p>Insurance Contracts</p>
		</td>
	</tr>
	<tr>
		<td height="29" width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS105.pdf">Indian
			Accounting Standard (Ind AS) 105</a></p>
		</td>
		<td width="385">
			<p>Non-current Assets Held for Sale and Discontinued Operations</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS106.pdf">Indian
			Accounting Standard (Ind AS) 106</a></p>
		</td>
		<td width="385">
			<p>Exploration for and Evaluation of Mineral Resources</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS107.pdf">Indian
			Accounting Standard (Ind AS) 107</a></p>
		</td>
		<td width="385">
			<p>Financial Instruments: Disclosures</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS108.pdf">Indian
			Accounting Standard (Ind AS) 108</a></p>
		</td>
		<td width="385">
			<p>Operating Segments</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS109.pdf">Indian
			Accounting Standard (Ind AS) 109</a></p>
		</td>
		<td width="385">
			<p>Financial Instruments</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS110.pdf">Indian
			Accounting Standard (Ind AS) 110</a></p>
		</td>
		<td width="385">
			<p>Consolidated Financial Statements</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS111.pdf">Indian
			Accounting Standard (Ind AS) 111</a></p>
		</td>
		<td width="385">
			<p>Joint Arrangements</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS112.pdf">Indian
			Accounting Standard (Ind AS) 112</a></p>
		</td>
		<td width="385">
			<p>Disclosure of Interests in Other Entities</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS113.pdf">Indian
			Accounting Standard (Ind AS) 113</a></p>
		</td>
		<td width="385">
			<p>Fair Value Measurement</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS114.pdf">Indian
			Accounting Standard (Ind AS) 114</a></p>
		</td>
		<td width="385">
			<p>Regulatory Deferral Accounts</p>
		</td>
	</tr>
	<tr>
		<td width="206">
			<p><a href="http://www.companiesact.in/pdf/INDAS115.pdf">Indian
			Accounting Standard (Ind AS) 115</a></p>
		</td>
		<td width="385">
			<p>Revenue from Contracts with Customers</p>
		</td>
	</tr>
</tbody></table>
<p><br>
</p></body></html>