 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title>G.S.R. 1075(E) dated 17th November 2016_word</title>
 </head>
 <body>
 <div style="text-align: center;"><span
  style="font-family: Arial; font-weight: bold;">MINISTRY OF
 CORPORATE AFFAIRS </span><br
  style="font-family: Arial; font-weight: bold;">
 <br style="font-family: Arial; font-weight: bold;">
 <span style="font-family: Arial; font-weight: bold;">NOTIFICATION</span><br
  style="font-family: Arial;">
 </div>
 <br style="font-family: Arial;">
 <div style="text-align: right;"><span
  style="font-family: Arial;">New Delhi, the 17th November,
 2016</span><br style="font-family: Arial;">
 </div>
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">G.S.R. 1075(E).-In
 exercise of the powers conferred by sub-section (1) of section 467 of
 the Companies Act, 2013 (18 of 2013), the Central Government hereby
 makes the following further amendments to amend Schedule II to the said
 Act, namely:-</span><br style="font-family: Arial;">
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">1.&nbsp;&nbsp;&nbsp;&nbsp;
 In the Companies Act, 2013, in Schedule II, under Part 'A', in para 3,
 in sub-paragraph (ii), for the brackets, letters and words starting
 with "(ii) For intangible" and ending with the words "force shall
 apply", the following brackets, letters and words shall be substituted,
 namely:-</span><br style="font-family: Arial;">
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">"(ii) For intangible
 assets, the relevant Indian Accounting Standards (Ind AS) shall apply.
 Where a company is not required to comply with the Indian Accounting
 Standards (Ind AS), it shall comply with relevant Accounting Standards
 under Companies (Accounting Standards) Rules, 2006."</span><br
  style="font-family: Arial;">
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">2.&nbsp;&nbsp;&nbsp;&nbsp;
 This notification shall be applicable for accounting period commencing
 on or after 01st April, 2016</span><br
  style="font-family: Arial;">
 <br style="font-family: Arial;">
 <div style="text-align: right;"><span
  style="font-family: Arial;">&nbsp;</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">[F. No. 17/60/2012-CL-V]</span><br
  style="font-family: Arial;">
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">AMARDEEP SINGH BHATIA,
 Jt Secy.</span><br style="font-family: Arial;">
 </div>
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">&nbsp;</span><br
  style="font-family: Arial;">
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">Note : Schedule II of
 the Companies Act, 2013 came into force with effect from 1st April,
 2014 and was amended (with effect from 1st April, 2014) vide
 notification number G.S.R. 237(E), dated the 31st March, 2014 and
 G.S.R. 627(E), dated the 29th August, 2014.</span><br
  style="font-family: Arial;">
 <br style="font-family: Arial;">
 <br style="font-family: Arial;">
 </body>
 </html>
 