<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R. (E) dated 9th December, 2016</title>

</head><body>
<p class="MsoBodyText" style="line-height: 15.5pt; text-align: center; font-family: Arial;"><span style=""><b>[TO<span style="letter-spacing: -1.05pt;">
</span>BE<span style="letter-spacing: -1pt;"> </span>PUBLISHED<span style="letter-spacing: -0.6pt;"> </span>IN<span style="letter-spacing: -2pt;"> </span>THE<span style="letter-spacing: -0.2pt;"> </span>GAZETTE<span style="letter-spacing: -0.15pt;">
</span>OF<span style="letter-spacing: -0.85pt;"> </span>INDIA,<span style="letter-spacing: -0.75pt;"> </span>EXTRAORDINARY,<span style="letter-spacing: -0.05pt;"> </span>PART</b></span><span style=""><b><br>
</b></span>
<span style=""><b>II,<span style="letter-spacing: -3.6pt;">
</span></b></span><span style=""><b>SECTION<span style="letter-spacing: -0.7pt;">
</span>3,<span style="letter-spacing: -1.75pt;"> </span>SUB-SECTION<span style="letter-spacing: -0.65pt;"> </span>(i}]</b></span><o:p></o:p></p>
<p class="MsoNormal" style="margin-top: 0.4pt; font-family: Arial;"><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoBodyText" style="line-height: 15.5pt; text-align: center; font-family: Arial;"><span style=""><b>GOVERNMENT OF<span style="letter-spacing: 1.3pt;">
</span>INDIA</b></span><span style=""> </span></p>
<p class="MsoBodyText" style="line-height: 15.5pt; text-align: center; font-family: Arial;">
<span style=""><b>MINISTRY
OF CORPORATE<span style="letter-spacing: 1.25pt;"><span style="">&nbsp;</span></span>AFFAIRS</b></span><o:p></o:p></p>
<p class="MsoBodyText" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;">
New Delhi, 09th December, 2016<o:p></o:p></p>
<p class="MsoBodyText" style="margin: 2.35pt 204.95pt 0.0001pt 204.15pt; text-align: center; text-indent: 0in; font-family: Arial;" align="center"><span style=""><b>CORRIGENDUM</b></span><o:p></o:p></p>
<p class="MsoNormal" style="margin-top: 0.15pt; font-family: Arial;"><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal" style="margin: 0in 5.2pt 0.0001pt 5.75pt; text-align: justify; text-indent: -0.4pt; line-height: 146%; font-family: Arial;"><span style="font-size: 12pt; line-height: 146%;">G.S.R<u style=""> <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></u></span><span style="font-size: 12pt; line-height: 146%;">(E).-<span style="">&nbsp; </span>In the<span style="">&nbsp;
</span>notification<span style="">&nbsp;
</span>of the<span style="">&nbsp; </span>Government<span style="">&nbsp; </span>of India in the<span style="">&nbsp; </span>Ministry<span style="letter-spacing: 2.75pt;"> </span>of<span style=""> </span></span><span style="font-size: 13pt; line-height: 146%;">Corporate
Affairs number G.S.R. 1075(E), dated the 17 <span style="position: relative; top: -4.5pt;">h </span>November,
2016 published in<span style="letter-spacing: -1.3pt;"> </span>the<span style=""> </span></span><span style="font-size: 12pt; line-height: 146%;">Gazette<span style="letter-spacing: 2.75pt;"> </span>of<span style="letter-spacing: 2.75pt;"> </span>India,<span style="letter-spacing: 2.75pt;">
</span>Extraordinary,<span style="letter-spacing: 2.75pt;">
</span>Part<span style="letter-spacing: 2.75pt;"> </span><span style="">II,<span style="letter-spacing: 2.75pt;">
</span></span>Section<span style="letter-spacing: 2.75pt;"> </span>3,<span style="letter-spacing: 2.75pt;"> </span>Sub-section<span style="letter-spacing: 2.75pt;"> </span>(i)<span style="letter-spacing: 2.75pt;"> </span>dated<span style="letter-spacing: 2.75pt;"> </span>the<span style="letter-spacing: 2.75pt;"> </span><span style="position: relative; top: -0.5pt; letter-spacing: 2.75pt;">17</span><span style="position: relative; top: -4.5pt; letter-spacing: 2.75pt;">th</span><span style="position: relative; top: -4.5pt; letter-spacing: 2.75pt;"><span style="">&nbsp;</span></span>November,</span><span style="font-size: 12pt; line-height: 146%;"><o:p></o:p></span>
2016<span style="letter-spacing: 2.75pt;"> </span>at<span style="letter-spacing: 2.75pt;"> </span>page<span style="letter-spacing: 2.75pt;"> </span>2,<span style="letter-spacing: 2.75pt;"> </span>in<span style="letter-spacing: 2.75pt;"> </span>line<span style="letter-spacing: 2.75pt;">
</span>13,<span style="letter-spacing: -1.8pt;"> </span>for<span style="letter-spacing: 2.75pt;"> </span>&#8221;2006.&#8221;
</p>
<p class="MsoBodyText" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: arial;">[F.
No. 17/60/2012-CL-V <o:p></o:p></p>
<p class="MsoBodyText" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: arial;">
AMARDEEP SINGH BHATIA, Jt. Secy.<o:p></o:p></p>
</body></html>