<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R.______ (E) dated 18th March 2015</title></head><body>

 <p style="widows: 4;" align="center"><b>GOVERNMENT OF INDIA<br>MINISTRY
 OF CORPORATE AFFAIRS<br>NOTIFICATION</b></p>
 <p style="widows: 2;" align="right"><b>New Delhi, the 18</b><sup><b>th</b></sup><b>&nbsp;March,
 2015</b></p>
 <p style="widows: 8;" align="justify"><b>G.S.R. ____(E).</b>- In
  exercise of the powers conferred under sections 173, 175, 177, 178,
 179, 184 185, 186, 187. 188.189 and section 191 read with section 469
 of the Companies Act, 2013 (18 of 2013), the Central Government
  hereby makes the following rules further to amend the Companies
 (Meetings of Board and its Powers) Rules, 2014, namely:</p>
 <p style="widows: 8;" align="justify">1. (1) These rules may be called
 the Companies (Meetings of Board and its Powers) Amendment Rules,
 2015.</p>
 <p style="widows: 8;" align="justify">(2) They shall come into force on
  the date of their publication in the Official Gazette.</p>
 <p style="widows: 8;" align="justify">2. In the Companies (Meetings of
 Board and its Powers) Rules, 2014,</p>
 <p style="widows: 8;" align="justify">(a) in rule 8.</p>
 <p style="widows: 8;" align="justify">(i) item numbers (3), (5), (6),
 (7), (8) and (9) and the entries relating thereto shall be omitted;</p>
 <p style="widows: 8;" align="justify">(b) in rule 10, in the proviso,
  for the word principle&#8217;, the word &#8216;principal- shall be
  substituted.</p>
 <p style="widows: 8;" align="justify"><br>
 </p>
 <p style="widows: 2;" align="right">[F.No.
 1/32/2013-CL-V-Part]<br><br><br>Amardeep Singh Bhatia, Jt.Secy.</p> 
 <p style="widows: 8;" align="justify">Note.- The Principal rules were
 published in the Gazette of India, Extraordinary, Part II, Section 3,
 Sub-section (i), vide number G.S.R.240(E) dated 31st March, 2014 and
 was subsequently amended vide notification number G.S.R. 398(E),
 dated the 12th june 2014 and number G.S.R. 590(E), dated the 14th
 August,2014.</p>
<p><br>
</p></body></html>