<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b><span
 style="font-size: 12pt; line-height: 115%;">GOVERNMENT
OF INDIA<o:p></o:p></span></b></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b><span
 style="font-size: 12pt; line-height: 115%;">MINISTRY
OF CORPORATE AFFAIRS</span></b><span
 style="font-size: 12pt; line-height: 115%;"><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b><span
 style="font-size: 12pt; line-height: 115%;">NOTIFICATION</span></b><span
 style="font-size: 12pt; line-height: 115%;"><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><b><span
 style="font-size: 12pt; line-height: 115%;">New
Delhi 1st May, 2015</span></b><span
 style="font-size: 12pt; line-height: 115%;"><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b><span
 style="font-size: 12pt; line-height: 115%;">G.S.R
-</span></b><span
 style="font-size: 12pt; line-height: 115%;">In
exercise of the powers conferred by section 3, section 4,
sub-sections(5) and
(6) of section 5, section 6, sub-section (1) and (2) of section 7,
sub-sections(1) and (2) of section 8, clauses (a) and (b) of
sub-section (1) of
section 11, sub-sections (2), (3), (4) and (5) of section 12,
sub-sections (3),
(4) and the proviso tosub-section (5) of section 13, sub-section (2) of
section
14, sub-section (1) ofsection 17, sub-sections (1) and (2) of section
20 read
with sub-sections (1) and(2) of section 469 of the Companies Act, 2013
(18 of
2013), the CentralGovernment hereby makes the following amendments to
the
Companies(Incorporation) Rules, 2014, namely: -<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">1.
(1) These rules may be called the Companies (Incorporation)
AmendmentRules,
2015.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(2)
They shall come into force on the date of their publication in the
Official
Gazette.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">2.
In the Companies (Incorporation) Rules, 2014,-<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(a)
rule 5 shall be omitted;<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(b)
in rule 6, for sub-rule (11), for the words "having paid up share
capital
of fifty lakhs rupees or less or average annual turnover", the words
"having paid up share capital of fifty lakhs rupees or less and average
annual turnover" shall be substituted;<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(c)
in rule 7, in sub-rule (1), for the words "having paid up share capital
of
fifty lakhs rupees or less or average annual turnover", during the
relevant period is, the words "having paid up share capital of fifty
lakhs
rupees or less and average annual turnover during the relevant period"
shall be substituted;<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(d)
after rule 7, the following rules shall be inserted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">"<b>7A.
Penalty. -&nbsp;</b>If a One Person Company or any officer of
such company
contravenes any of the provisions of these rules, the One Person
Company or any
officer of the such Company shall be punishable with fine which may
extend to
five thousand rupees and with a further fine which may extend to five
hundred
rupees for every day after the first offence during which such
contravention
continues";<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(e)
in rule 8, in sub-rule (2), in clause (b), in sub-clause (xi), in the
proviso,
after the words and figures "under section 248 of the Act", the
words, figures and brackets "or under section 560 of the Companies Act,
1956 (1 of 1956)" shall be inserted;<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(f)
in rule 16, in sub-rule (1), for clause (q), the following shall be
substituted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">"(q)
the promoter or first director shall self attest his signature and
latest
photograph in Form No.INC.10".<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(g)
after rule 35, the following rules shall be inserted namely: -<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><b><span
 style="font-size: 12pt; line-height: 115%;">36.
Integrated Process for Incorporation.-</span></b><span
 style="font-size: 12pt; line-height: 115%;">&nbsp;(1)
For the
purpose of simplifying the filing of forms for incorporation of a
company, the
integrated process shall apply with effect from&nbsp;<b>01/05/2015.</b><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(2)
For the purposes of sub-rule (1), the application for allotment of
Director
Identification Number upto three Directors, reservation of a name,
incorporation of company and appointment of Directors of the proposed
company
shall be filed in Integrated&nbsp;<b>Form No. INC-29, for One
Person Company,
private company, public company and Producer Company,&nbsp;</b>with
the
Registrar within whose jurisdiction the registered office of the
company is
proposed to be situated, along with the fee of rupees two thousand in
addition
to the registration fee as specified in Companies (Registration of
Offices and
Fees) Rules, 2014.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(3)
For the purposes of filing Integrated Incorporation form, the
particulars of
maximum of three directors shall be allowed to be filled in INC-29 and
allotment of Director Identification Number of maximum of three
proposed
directors shall be permitted in Form INC-29 in case of proposed
directors not
having approved Director Identification Number.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(4)The
promoter or applicant of the proposed company shall propose only one
name in
e-form No. INC-29.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(5)
The promoter or applicant of the proposed company may prepare
Memorandum of
Association as per templates in Form INC-30 and may opt for templates
of
Articles of Association in Form INC-31 in accordance with the
provisions of
rule 13 for preparation of Memorandum of Association and Article of
Association.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(6)
The promoter or the applicant shall sign and witness, the Memorandum of
Association and Articles of Association in the forms downloaded from
the portal
of the Ministry of Corporate Affairs and scanned legibly and attach to
e-form
INC-29 in accordance with the provisions of rule 13 for preparation of
Memorandum of Association and Articles of Association.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(7)
The facility to file Integrated application for incorporation in Form
INC-29 is
available as an option to the process for separate applications for
allotment
of Director Identification Number, reservation of name and
Incorporation of a
company as provided in these rules.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(8)
For an application filed using the Integrated process of incorporation
as
provided in this rule, the provisions of sub-clause (i) of sub-section
(5) of
section 4 of the Act and rule 9 of these rules shall not apply.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(9)
A company using the provisions of this rule may furnish verification of
its
registered office under sub-section (2) of section 12 of the Act by
filing
e-Form INC- 29 in which case the company shall attach along with such
e-Form
INC-29, any of the documents referred to in sub-rule (2) of rule 25.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(10)
The requirement of filing e-form INC-28 may be dispensed with if, the
proposed
company maintains its registered office at the given correspondence
address.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(11)
The Registrar within whose jurisdiction the registered office of the
company is
proposed to be situated shall process INC-29 including application for
allotment of Director Identification Number.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(12)
(a) Where the Registrar, on examining e-form INC-29, finds that it is
necessary
to call for further information or finds such application or document
to be
defective or incomplete in any respect, he shall give intimation to the
applicant to remove the defects and re-submit the e-form within fifteen
days
from the date of such intimation given by the Registrar.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(b)
After the resubmission of the document, if the registrar still finds
that the
document is defective or incomplete in any respect, he shall give one
more
opportunity of fifteen days to remove such defects or deficiencies.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(c)
In case, the Registrar is of the opinion that the document is defective
or
incomplete in any respect after giving such two opportunities, the
e-form
INC-29 of the proposed company shall be rejected.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(13)
The Certificate of Incorporation shall be issued by the Registrar in
Form No.
INC-11.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(14)
in Annexure, in Form No. INC-11, for the words, figures and brackets
"and
rule 8 of the Companies (Incorporation) Rules, 2014", the words,
figures
and brackets "and rule 18 of the Companies (incorporation) Rules,
2014", shall be substituted.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(15)
in Annexure,-<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(a)
for Form No. INC-7, INC-10, INC-11 and INC-22, the following form
shall,
respectively be substituted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(b)
after Form No. INC-28, the following forms shall be inserted, namely<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;"><o:p>&nbsp;</o:p></span></p>
</body>
</html>
