 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="line-height: 115%;">MINISTRY
 OF CORPORATE AFFAIRS<br>
 NOTIFICATION<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;">New
 Delhi, the
 9th June, 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">G.S.R.
 390(E).-In
 exercise of the powers conferred by sub-section (1) of Section 203 of
 the
 Companies Act, 2013 (18 of 2013) read with clause (51) of Section 2 and
 Section
 469 of the said Act, the Central Government hereby makes the following
 rules to
 amend the Companies (Appointment and Remuneration of Managerial
 Personnel)
 Rules, 2014, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">1.
 (1) These
 rules may be called the Companies (Appointment and Remuneration of
 Managerial
 Personnel)Amendment Rules, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(2)
 They shall
 come into force on the date of their publication in the Official
 Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">2.
 In the
 Companies (Appointment and Remuneration of Managerial Personnel) Rules,
 2014
 after rule 8, thefollowing rule shall be inserted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">"8A.
 Appointment
 of Company Secretaries in companies not covered under rule
 8.-&nbsp;A
 company
 otherthan a company covered under rule 8 which has a paid up share
 capital of
 five crore rupees or more shall have awhole-time company secretary."<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;">[F.
 No.
 1/11/2013-CL-V]&nbsp;<br>
 AMARDEEP SINGH BHATIA, Jt. Secy<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">Note
 :&nbsp;The
 principal rules were published in the Gazette of India vide
 notification number
 G.S.R. 249(E), dated the31st March, 2014.<o:p></o:p></span></p>
 </body>
 </html>
 