 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">Government
 of
 India&nbsp;<br>
 Ministry of Corporate Affairs<br>
 NOTIFICATION<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi,
 24th&nbsp;July, 2014<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">G.S.R.
 537(E).-&nbsp;In exercise of the powers conferred under sub-section
 (1)
 of
 section 88,sub-section (4) of section 88, sub-section (1) of section
 89,
 sub-section (2) of section 89, sub-section (6) of section 89,
 sub-section (1)
 of section 91, sub-section (2) of section 92, sub-section (3) of
 section 92,
 section 93, sub-section (1) of section 94, sub-section (4) of section
 100,
 sections 101, 102, 105, 108, sub-section (5) of section 109, sections
 110, 112,
 113, sub-section (2) of section 114, section 115, sub-section (1) of
 section
 117, sub-section (1) of section 118, sub-section (2) of section 119,
 section
 120 and sub-section (1) of section 121 and sub-section (3) of section
 186, read
 with sub-sections (1) and (2) of section 469 of the Companies Act, 2013
 (18 of
 2013), the Central Government hereby makes the following rules further
 to amend
 the Companies (Management and Administration) Rules, 2014, namely: -<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1.
 Short title and commencement.- (1) These rules may be called the
 Companies
 (Management and Administration) Second Amendment Rules, 2014.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(2)
 They shall come into force on the date of their publication in the
 Official
 Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2.
 In the Companies (Management and Administration) Rules, 2014,-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(i)
 in rule 9, after sub-rule (3), the following proviso shall be
 inserted,namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">"Provided
 that nothing contained in this rule shall apply in relation to a trust
 which is
 created, to set up a Mutual Fund or Venture Capital Fund or such other
 fund as
 may be approved by the Securities and Exchange Board of India".<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(ii)
 in rule 13,-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(a)
 the words "either value or volume of the shares" shall be omitted;<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(b)
 the Explanation shall be omitted.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(iii)
 in rule 23, in sub-rule (1), for the words "not less than five lakh
 rupees",
 the words "not more than five lakh rupees" shall be substituted;<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(iv)
 in rule 27, in sub-rule (1) and in the Explanation, for the word
 "shall", the
 word "may" shall be substituted.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><br>
 [F.No.01/34/2013-CL-V Part-I]<br>
 <br>
 <br>
 (Amardeep Singh Bhatia)<br>
 Joint Secretary to the Govt, of India<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Note:-
 The principal notification was published in the Gazette of India, vide
 No,
 G.S.R. 260(E), dated the 31st March, 2014 and subsequently amended vide
 G.S.R
 No. 415(E), dated the 23rd June, 2014.<o:p></o:p></p>
 </body>
 </html>
 