<html>
<head>
<!-- <style> -->
<!-- body { -->
    <!-- font-family: "Arial", Serif; -->
<!-- } -->
<!-- </style> -->
</head>
<body style="font-family: Verdana, Tahoma, Arial;font-size: 16px;">
<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 26th December, 2016
</p>
<p>
    <strong>G.S.R. 1174(E).—</strong>
    In exercise of the powers conferred by sub-sections (1), (2) and (4) of
    section 248 read with section 469 of the Companies Act, 2013 (18 of 2013)
    and in supersession of the Companies (Central Government) General Rules and
    Forms, 1956 except as respects things done or omitted to be done before
    such supersession, the Central Government hereby makes the following rules,
    namely:-
</p>
<p>
    <strong>1. Short title and commencement.- </strong>
    (1) These rules may be called the Companies (Removal of Names of Companies
    from the Register of Companies) Rules, 2016.
</p>
<p>
    (2) They shall come into force on the date of their publication in the
    Official Gazette.
</p>
<p>
    <strong>2. Definitions.- </strong>
    (1) In these rules, unless the context otherwise requires, -
</p>
<p>
    (a) “Act” means the Companies Act, 2013 (18 of 2013);
</p>
<p>
    (b) “Form” or “e-Form” means a non-electronic form or an electronic form
    annexed to these rules.
</p>
<p>
    <strong>(</strong>
    2) Words and expressions used in these rules but not defined and defined in
    the Act or in the
</p>
<p>
    Companies (Specification of Definitions Details) Rules, 2014, shall have
    the same meanings respectively assigned to them in the Act or in the said
    rules.
</p>
<p>
    <strong>
        3. Removal of name of company from the Register on suo-motu basis.-
    </strong>
    (1) The Registrar of Companies may remove the name of a company from the
    register of companies in terms of sub-section (1) of section 248 of the
    Act:
</p>
<p>
    Provided that following categories of companies shall not be removed from
    the register of
</p>
<p>
    companies under this rule and rule 4, namely:-
</p>
<p>
    (i). listed companies;
</p>
<p>
    (ii). companies that have been delisted due to non-compliance of listing
    regulations or listing agreement or any other statutory laws;
</p>
<p>
    (iii). vanishing companies;
</p>
<p>
    (iv). companies where inspection or investigation is ordered and being
    carried out or actions on such order are yet to be taken up or were
    completed but prosecutions arising out of such inspection or investigation
    are pending in the Court;
</p>
<p>
    (v). companies where notices under section 234 of the Companies Act, 1956
    (1 of 1956) or section 206 or section 207 of the Act have been issued by
    the Registrar or Inspector and reply thereto is pending or report under
    section 208 has not yet been submitted or follow up of instructions on
    report under section 208 is pending or where any prosecution arising out of
    such inquiry or scrutiny, if any, is pending with the Court;
</p>
<p>
    (vi). companies against which any prosecution for an offence is pending in
    any court;
</p>
<p>
    (vii). companies whose application for compounding is pending before the
    competent authority for compounding the offences committed by the company
    or any of its officers in default;
</p>
<p>
    (viii). companies, which have accepted public deposits which are either
    outstanding or the company is in default in repayment of the same;
</p>
<p>
    (ix). companies having charges which are pending for satisfaction; and
    companies registered under section 25 of the Companies Act, 1956 or section
    8 of the Act.
</p>
<p>
    <strong>Explanation.- </strong>
    For the purposes of clause (iii), the expression “vanishing company” means
    a company, registered under the Act or previous company law or any other
    law for the time being in force and listed with Stock Exchange which has
    failed to file its returns with the Registrar of Companies and Stock
    Exchange for a consecutive period of two years, and is not maintaining its
    registered office at the address notified with the Registrar of Companies
    or Stock Exchange and none of its directors are traceable.
</p>
<p>
    (2) For the purpose of sub-rule (1), the Registrar shall give a notice in
    writing in Form STK 1 which shall be sent to all the directors of the
    company at the addresses available on record, by registered post with
    acknowledgement due or by speed post.
</p>
<p>
    (3) The notice shall contain the reasons on which the name of the company
    is to be removed from the register of companies and shall seek
    representations, if any, against the proposed action from the company and
    its Directors along with the copies of relevant documents, if any, within a
    period of thirty days from the date of the notice.
</p>
<p>
    4<strong>. Application for removal of name of company.—</strong>(1) An
    application for removal of name of the company under sub-section (2) of
    section 248 shall be made in Form STK-2 along with the fee of five thousand
    rupees.
</p>
<p>
    (2) Every application under sub-rule (1) shall accompany a no objection
    certificate from appropriate Regulatory Authority concerned in respect of
    following companies, namely :-
</p>
<p>
    (i) companies which have conducted or conducting non-banking financial and
    investment activities as referred to in the Reserve Bank of India Act, 1934
    (2 of 1934) or rules and regulations thereunder;
</p>
<p>
    (ii) housing finance companies as referred to in the Housing Finance
    Companies (National Housing Bank) Directions, 2010 issued under the
    National Housing Bank Act, 1987 (53 of 1987);
</p>
<p>
    (iii) insurance companies as referred to in the Insurance Act, 1938 (4 of
    1938) or rules and regulations thereunder;
</p>
<p>
    (iv) companies in the business of capital market intermediaries as referred
    to in the Securities and Exchange Board of India Act, 1992 (15 of 1992) or
    rules and regulations thereunder;
</p>
<p>
    (v) companies engaged in collective investment schemes as referred to in
    the Securities and Exchange Board of India Act, 1992 (15 of 1992) or rules
    and regulations thereunder;
</p>
<p>
    (vi) asset management companies as referred to in the Securities and
    Exchange Board of India Act, 1992 (15 of 1992) or rules and regulations
    thereunder;
</p>
<p>
    (vii) any other company which is regulated under any other law for the time
    being in force.
</p>
<p>
    (3) The application in Form STK 2 shall be accompanied by -
</p>
<p>
    (i) indemnity bond duly notarised by every director in Form STK 3;
</p>
<p>
    (ii) a statement of accounts containing assets and liabilities of the
    company made up to a day, not more than thirty days before the date of
    application and certified by a Chartered Accountant;
</p>
<p>
    (iii) An affidavit in Form STK 4 by every director of the company;
</p>
<p>
    (iv) a copy of the special resolution duly certified by each of the
    directors of the company or consent of seventy five per cent of the members
    of the company in terms of paid up share capital as on the date of
    application;
</p>
<p>
    (v) a statement regarding pending litigations, if any, involving the
    company.
</p>
<p>
    <strong>5. Manner of filing of application.– </strong>
    (1) The application in Form STK 2 shall be signed by a director duly
    authorised by the Board in their behalf.
</p>
<p>
    (2) Where the director concerned does not have a registered digital
    signature certificate, a physical copy of the form duly filled in shall be
    signed manually by the director duly authorised in that behalf andshall be
    attached with the Form STK 2 while uploading the form.
</p>
<p>
    <strong>6. Form to be certified.- </strong>
    The Form STK 2 shall be certified by a Chartered Accountant in whole time
    practice or Company Secretary in whole time Practice or Cost Accountant in
    whole time practice, as the case may be.
</p>
<p>
    <strong>7. Manner of publication of notice – </strong>
    (1) The notice under sub-section (1) or sub-section (2) of section 248
    shall be in Form STK 5 or STK 6, as the case may be, and be-
</p>
<p>
    (i). placed on the official website of the Ministry of Corporate Affairs on
    a separate link established on such website in this regard;
</p>
<p>
    (ii). published in the Official Gazette;
</p>
<p>
    (iii). published in English language in a leading English newspaper and at
    least once in vernacular language in a leading vernacular language
    newspaper, both having wide circulation in the State in which the
    registered office of the company is situated.
</p>
<p>
    Provided that in case of any application made under sub-section (2) of
    section 248 of the Act, the company shall also place the application on its
    website, if any, till the disposal of the application.
</p>
<p>
    (2) The Registrar of Companies shall, simultaneously intimate the concerned
    regulatory authorities regulating the company, viz, the Income-tax
    authorities, central excise authorities and service-tax authorities having
    jurisdiction over the company, about the proposed action of removal or
    striking off the names of such companies and seek objections, if any, to be
    furnished within a period of thirty days from the date of issue of the
    letter of intimation and if no objections are received within thirty days
    from the respective authority, it shall be presumed that they have no
    objections to the proposed action of striking off or removal of name.
</p>
<p>
    <strong>
        8. Manner of notarisation, appostilisation or consularisation of
        indemnity bond and declaration in case of foreign nationals or
        non-resident Indians:-
    </strong>
    For the purposes of these rules, if the person is a foreign national or
    non-resident Indian, the indemnity bond, and declaration shall be notarised
    or appostilised or consularised.
</p>
<p>
    <strong>9. Notice of striking off and dissolution of company. - </strong>
    The Registrar shall cause a notice under subsection (5) of section 248 of
    striking off the name of the company from the register of companies and its
    dissolution to be published in the Official Gazette in Form STK 7 and the
    same shall also be placed on the official website of the Ministry of
    Corporate Affairs.
</p>
<p>
    <strong>
        10. Applications or forms pending before Central Government.
    </strong>
    – Any application or pending proceeding for striking off or Form-FTE filed
    with the Registrar of Companies prior to the commencement of these rules
    but not disposed of by such authority for want of any information or
    document shall, on its submission, to the satisfaction of the authority, be
    disposed of in accordance with the rules made under the Companies Act, 1956
    (1 of 1956).
</p>
<p align="right">
    [F. No. 1/28/2013-CL.V]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>
</body>
</html>