 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b>GOVERNMENT
 OF INDIA<br>
 MINISTRY OF CORPORATE AFFAIRS<br>
 NOTIFICATION</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi, the 14th
 October, 2014<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>G.S.R.
 723(E).-</b>&nbsp;In
 exercise of the powers conferred by sub-sections (1) and(3) of section
 128,
 sub-section (3) of section 129, section 133, section 134, sub-section
 (4) of
 section 135, sub-section (1) of section 136, section 137 and section
 138 read
 with section 469 of the Companies Act, 2013 (18 of 2013), the Central
 Government hereby makes the following rules to amend the Companies
 (Accounts)
 Rules, 2014, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1.
 (1) These rules may be called the Companies (Accounts) Amendment Rules,
 2014.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(2)
 They shall come into force on the date of their publication in the
 Official
 Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2.
 In the Companies (Accounts) Rules, 2014, in rule 6, after the existing
 proviso,
 the following provisos shall be inserted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">"Provided
 further that nothing in this rule shall apply in respect of preparation
 of
 consolidated financial statement by an intermediate wholly' owned
 subsidiary,
 other than a wholly-owned subsidiary whose immediate parent is a
 company
 incorporated outside India:<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Provided
 also that nothing contained in this rule shall, subject to any other
 law or
 regulation, apply for the financial year commencing from the 1st day of
 April,
 2014 and ending on the 31st March, 2015, in case of a company which
 does
 not
 have a subsidiary or subsidiaries but has one or more associate
 companies or
 joint ventures or both, for the consolidation of financial statement in
 respect
 of associate companies or joint ventures or both, as the case may be.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">[F.
 No. 1/19/2013-
 CL-V-Part]<br>
 <br>
 <br>
 AMARDEEP SINGH BHATM, Jt. Secy.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>Note:-</b>&nbsp;The
 principal
 rules were
 published in the Gazette of India, Extraordinary, Part II, Section 3,
 Sub-section (i), vide number G.S.R. 239(E), dated the 31st March, 2014.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
 