 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R.241(E) dated 31st Mar 2014</title></head><body>
 
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN- IN">MINISTRY OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN- IN">NOTIFICATION<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 6pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN">New Delhi, the 31st  March, 2014<o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="margin-bottom: 6pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">G.S.R.241 (E).&#8212;</span></b><span lang="EN-IN"> In exercise of the powers conferred under sub-section (1) of
  section 123 read with section 469 of the Companies Act, 2013 (18 of 2013) and
  in supersession of the Companies ( Central Government&#8217;s) General Rules and
  Forms, 1956 and other Rules prescribed under the Companies Act, 1956 on matters
  covered under these rules, except as respects things done or omitted to be done
  before such suppression, the Central Government hereby makes the following
  rules, namely:&#8212; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin: 0in 0in 6pt 14.2pt; text-align: justify; text-indent: -14.2pt; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN- IN">1. Short title and
  commencement.-<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin: 0in 0in 6pt 14.2pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(1)
  These rules may be called the Companies (Declaration and Payment of Dividend)
  Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin: 0in 0in 6pt 14.2pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(2)
  They shall come into force on the 1st day of April, 2014.<o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">2. Definitions.- (</span></b><span lang="EN-IN">1) In these rules,
  unless the context otherwise requires, &#8212;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(a) &#8220;Act&#8221; means the Companies Act, 2013;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; text-indent: 0.5in; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(b) &#8220;section&#8221; means section of the Act. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin: 0in 0in 0.0001pt 21.3pt; text-align: justify; text-indent: -21.3pt; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(2)  Words and expressions used in these
  rules but not defined and defined in the Act or in the Companies (Specification
  of Definitions Details) Rules, 2014, shall have the same meanings respectively
  assigned to them in the Act or in the said Rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin: 0in 0in 4pt 14.2pt; text-align: justify; text-indent: -14.2pt; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">3. <b style="">Declaration of dividend
  out of reserves</b>.- In the event of inadequacy or absence of profits in any
  year, a company may declare dividend out of free reserves subject to the
  fulfillment of the following conditions, namely:&#8212;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(1) The rate of dividend declared shall  not exceed the
  average of the rates at which dividend was declared by it in the three years
  immediately preceding that year: Provided that this sub-rule shall not apply to
  a company, which has not declared any dividend in each of the three preceding
  financial year.<o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(2) The total amount to be drawn
  from such accumulated profits shall not exceed one-tenth of the sum of its
  paid-up share capital and free reserves as appearing in the latest audited
  financial statement.<o:p></o:p></span></p>
 </body></html>