 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;"
  lang="EN-IN">MINISTRY OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;"
  lang="EN-IN">NOTIFICATION<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN">New
 Delhi, the 30<sup>th</sup> June, 2016<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b
  style=""><span style="font-size: 12pt;"
  lang="EN-IN">G.S.R.
 646(E)</span></b><span style="font-size: 12pt;"
  lang="EN-IN"> - In exercise of the powers conferred by
 sub-section (1) and (2) of Section 469
 of the Companies Act, 2013 (18 of 2013), the Central Government hereby
 makes
 the following rules further to amend the Companies (Appointment and
 Remuneration of Managerial Personnel) Rules, 2014, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">(1)
 These rules may be called Companies (Appointment and Remuneration of
 Managerial
 Personnel) Amendment Rules, 2016<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin: 0in 0in 0.0001pt 56.7pt; text-align: justify; text-indent: -20.7pt; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(2)
 They shall come into force from the date of their publication in the
 Official
 Gazette.<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">2.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">&nbsp;</span>In the Companies
 (Appointment and Remuneration
 of Managerial Personnel) Rules, 2014,<span style="">&nbsp;
 </span>(hereinafter referred to as the principal rules),-<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 49.65pt; text-align: justify; text-indent: -13.65pt; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">(i)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">in
 rule 3, the expression "Chief Executive Officer (CEO), Company
 Secretary and
 Chief Financial Officer (CFO)" shall be omitted.<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 49.65pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">3.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">in
 rule 5 of the principal rules,-<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin-left: 0.75in; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">(a)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">in sub-rule
 (1), "clauses (v), (vi),
 (vii) and (ix) to (xi)" shall be omitted.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 35.45pt; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(b) in sub-rule
 (2),-<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin: 0in 0in 0.0001pt 71.45pt; text-align: justify; text-indent: -0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">(a)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">for
 the words " the name of every employee of the company, who-", the words
 " the
 names of the top ten employees in terms of remuneration drawn and the
 name of
 every employee, who-" shall be substituted;<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin: 0in 0in 0.0001pt 71.45pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin: 0in 0in 0.0001pt 71.45pt; text-align: justify; text-indent: -0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">(b)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">in
 sub-clause (i) for the words "sixty lakh rupees", the words "one crore
 and two
 lakh rupees" shall be substituted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraph"
  style="margin: 0in 0in 0.0001pt 71.45pt; text-align: justify; text-indent: -0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">(c)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">in
 sub-clause (ii) for the words "five lakh rupees per month", the words "
 eight
 lakh and fifty thousand rupees per month" shall be substituted;<o:p></o:p></span></p>
 </body>
 </html>
 