<!DOCTYPE HTML PUBLIC "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />

    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
</head>
<body style="font-family: Verdana, Tahoma, Arial;font-size: 16px;">
<div>
    <p>
        <strong> </strong>
    </p>
    <p align="center">
        <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
    </p>
    <p align="center">
        <strong>NOTIFICATION</strong>
    </p>
    <p align="center">
        New Delhi, the 4th January, 2017
    </p>
    <p align="justify">
        <strong>G.S.R. 9(E).-</strong>
        In exercise of the powers conferred by clauses (a) and (b) of sub-section
        (1) of section 462 and in pursuance of sub-section (2) of the said section
        of the Companies Act, 2013 (18 of 2013), the Central Government, in the
        interest of public, hereby directs that certain provisions of the Companies
        Act, 2013 (18 of 2013), as specified in column of the Table, shall not
        apply or shall apply with such exceptions, modifications and adaptations as
        specified in column (2) of the said Table, to a private company which is
        licensed to operate by the Reserve Bank of India or the Securities and
        Exchange Board of India or the Insurance Regulatory and Development
        Authority of India from the International Financial Services Centre located
        in an approved multi services Special Economic Zone set-up under the
        Special Economic Zones Act, 2005 (28 of 2005) read with the Special
        Economic Zones Rules, 2006 (hereinafter referred to as “Specified IFSC
        private company”), namely:—
    </p>

    <p>
        <strong> </strong>
    </p>
    <table cellspacing="0" cellpadding="0" border="1" style="border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
            background-color: #FFF !important;">
        <tbody>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    <strong>Serial Number</strong>
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    <strong>Provisions of the Companies Act, 2013</strong>
                </p>
                <p align="center">
                    <strong>(18 of 2013)</strong>
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    <strong>Exceptions/Modifications/Adaptations</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    <strong>(1)</strong>
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    <strong>(2)</strong>
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    <strong>(3)</strong>
                </p>
                <p align="center">
                    <strong> </strong>
                </p>
                <p align="center">
                    <strong> </strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    1.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    Clause (41) of section 2
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In clause (41), after the second proviso, the following
                    proviso shall be inserted, namely:- “Provided also that in
                    case of a Specified IFSC private company, which is a
                    subsidiary of a foreign company, the financial year of the
                    subsidiary may be same as the financial year of its holding
                    company and approval of the Tribunal shall not be
                    required.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    2.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (2) of section 3
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (2), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that a Specified IFSC private company shall be
                    formed only as a company limited by shares.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    3.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clause (a) of sub- section (1) of section 4
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In clause (a) of sub-section (1), after the proviso, the
                    following proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided further that a Specified IFSC private company
                    shall have the suffix “International Financial Service
                    Company” or “IFSC” as part of its name.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    4.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clause (c) of sub- section (1) of section 4
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In clause (c) of sub-section (1) of section 4, the
                    following proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided that a Specified IFSC private company shall state
                    its objects to do financial services activities, as
                    permitted under the Special Economic Zones Act, 2005 read
                    with the Special Economic Zones Rules, 2006 and any matter
                    considered necessary in furtherance thereof, in accordance
                    with license to operate, from International Financial
                    Services Centre located in an approved multi services
                    Special Economic Zone, granted by the Reserve Bank of India
                    or the Securities and Exchange Board of India or the
                    Insurance Regulatory and Development Authority of India.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    5.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 12
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that a Specified IFSC private company shall have
                    its registered office at the International Financial
                    Services Centre located in the approved multi services
                    Special Economic Zone set-up under the Special Economic
                    Zones Act, 2005 read with the Special Economic Zones Rules,
                    2006, where it is licensed to operate, at all times.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    6.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (2) of section 12
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “thirty days” read as “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    7.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (4) of section 12
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “fifteen days” read as “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    8.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (5) of section 12
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For sub-section (5), the following sub-section shall be
                    substituted, namely:-
                </p>
                <p>
                    “(5) Except on the authority of a resolution passed by the
                    Board of Directors, the registered office of the Specified
                    IFSC private company shall not be changed from one place to
                    another within the International Financial Services Centre:
                </p>
                <p>
                    Provided that a Specified IFSC private company shall not
                    change the place of its registered office to any other
                    place outside the International Financial Services
                    Centre.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    9.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 21
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “an officer” read as “an officer or any other
                    person”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    10.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-sections (3) and(7) of section 42
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    11.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (6) of section 42
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “sixty days” read as “ninety days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    12.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clause (c) of sub- section (1) of section 54
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    13.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (4) of section 56
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (4), after the proviso, the following
                    proviso shall be inserted, namely:- “Provided further that
                    a Specified IFSC private company shall deliver the
                    certificates of all securities to subscribers after
                    incorporation, allotment, transfer or transmission within a
                    period of sixty days.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    14.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 82
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC private company,
                    the Registrar may, on an application by the company, allow
                    such registration to be made within a period of three
                    hundred days of such creation on payment of such additional
                    fees as may be prescribed.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    15.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (6) of section 89
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “thirty days” read as “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    16.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 92
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    17.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 100
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC private company,
                    the Board may subject to the consent of all the
                    shareholders, convene its extraordinary general meeting at
                    any place within or outside India.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    18.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 117
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “thirty days” read as “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    19.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 118
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC private company,
                    the minutes of every meeting of its Board of Directors or
                    of every committee of the Board, to be prepared and signed
                    in the manner as may be prescribed under sub section (1) at
                    or before the next Board or committee meeting, as the case
                    may be and kept in books kept for that purpose.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    20.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (10) of section 118
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    21.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 134
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (3), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC private company,
                    if any information listed in this sub-section is provided
                    in the financial statement, the company may not include
                    such information in the report of the Board of Directors.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    22.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 135
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply for a period of five years from the
                    commencement of business of a Specified IFSC private
                    company.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    23.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 138
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall apply if the articles of the company provides for the
                    same.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    24.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Fourth proviso to sub- section (1) of section 139
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “fifteen days” read as “thirty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    25.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    All provisos to sub- section (2) of section 139
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    26.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 140
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), after the proviso, the following
                    proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided further that in case of a Specified IFSC private
                    company, where, within a period of sixty days from the date
                    of submission of the application to the Central Government
                    under this sub-section, no decision is communicated by the
                    Central Government to the company, it would be deemed that
                    the Central Government has approved the application and the
                    company shall appoint new auditor at a general meeting
                    convened within three months from the date of expiry of
                    sixty days period.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    27.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 149
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (3), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that this sub-section shall apply to the
                    Specified IFSC private company in respect of financial
                    years other than the first financial year from the date of
                    its incorporation.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    28.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 161
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (3), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC private company,
                    the Board may appoint, any person nominated by any
                    institution or company or body corporate as a director in
                    pursuance of the provisions of any law for the time being
                    in force or of any agreement or by the Central Government
                    or the State Government by virtue of its shareholding in a
                    Government company.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    29.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Proviso to sub-section(1) of section 168
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the word “shall” read as “may”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    30.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (2) of section 170
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “thirty days” at both places read as “sixty
                    days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    31.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 173
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), after the proviso, the following
                    proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided further that a Specified IFSC private company
                    shall hold the first meeting of the Board of Directors
                    within sixty days of its incorporation and thereafter hold
                    at least one meeting of the Board of Directors in each half
                    of a calendar year.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    32.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 174
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall apply with the exception that interested director may
                    participate in such meeting provided the disclosure of his
                    interest is made by the concerned director either prior or
                    at the meeting.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    33.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 179
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (3), after the second proviso, the following
                    proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided also that in case of a Specified IFSC private
                    company, the Board can exercise the powers by means of
                    resolutions passed at the meetings of the Board or through
                    resolutions passed by circulation.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    34.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 185
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In the Explanation, for clause (c), the following clause
                    shall be substituted, namely:-
                </p>
                <p>
                    “(c) any private company of which any such director is a
                    director or member in which director of the lending company
                    do not have direct or indirect shareholding through
                    themselves or through their relatives and a special
                    resolution is passed to this effect.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    35.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 186
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    36.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-sections (2) and(3) of section 186
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply, if a company passes a resolution either at
                    meeting of the Board of Directors or by circulation.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    37.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (5) of section 186
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (5), after the proviso, the following
                    proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided further that in case of a Specified IFSC private
                    company, the Board can exercise powers under this
                    sub-section by means of resolutions passed at meetings of
                    the Board of Directors or through resolutions passed by
                    circulation.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    38.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (2) of section 384
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (2), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that notwithstanding anything contained in this
                    Act, the exemptions provided under section 92 to companies
                    incorporated under this Act for the purpose of operating
                    from the International Financial Services Centre located in
                    an approved multi services Special Economic Zone set-up
                    under the Special Economic Zones Act, 2005 (28 of 2005) and
                    the Special Economic Zones Rules, 2006, shall apply                    <em>mutatis mutandis </em>to a foreign company registered
                    under Chapter XXII of this Act, which has a place of
                    business or which conducts business activity from the
                    International Financial Services Centre located in an
                    approved multi services Special Economic Zone set-up under
                    the Special Economic Zones Act, 2005 and the Special
                    Economic Zones Rules, 2006.” .
                </p>
            </td>
        </tr>
        <tr>
            <td width="73" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    39.
                </p>
            </td>
            <td width="121" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (4) of section 384
                </p>
            </td>
            <td width="430" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (4), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that notwithstanding anything contained in this
                    Act, the exemptions provided under Chapter VI to companies
                    incorporated under this Act for the purpose of operating
                    from the International Financial Services Centre located in
                    an approved multi services Special Economic Zone set-up
                    under the Special Economic Zones Act, 2005 (28 of 2005) and
                    the Special Economic Zones Rules, 2006, shall apply                    <em>mutatis mutandis </em>to a foreign company registered
                    under Chapter XXII of this Act, which has a place of
                    business or which conducts business activity from the
                    International Financial Services Centre located in an
                    approved multi services Special Economic Zone set-up under
                    the Special Economic Zones Act, 2005 and the Special
                    Economic Zones Rules, 2006.” .
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <strong> </strong>
    </p>

    <br clear="ALL" />
    <strong></strong>

    <p> 2. A copy of this notification has been laid in draft before both Houses of
        the Parliament as required by sub-section (2) of section 462 of the
        Companies Act, 2013 (18 of 2013).

    </p>
    <p align="right">
        [F. No. 3/1/2015-CL.I (Part-1)]
    </p>
    <p align="right">
        AMARDEEP SINGH BHATIA,
    </p>
    <p align="right">
        Jt. Secy.
    </p>
</div>
<br clear="all" />


<br clear="all" />

</body>
</html>