<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R. 644(E). dated 12th Sept 2014</title></head><body>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">MINISTRY OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">NOTIFICATION<o:p></o:p></span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN">New Delhi, the 12th
 September, 2014<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN"><span style="">&nbsp;</span>G.S.R. 644(E).</span></b><span lang="EN-IN">&#8212;In exercise of the powers conferred under Section 135 and
 sub-sections (1) and (2) of Section 469 of the Companies Act, 2013 (18 of
 2013), the Central Government hereby makes the following rules to amend the
 Companies (Corporate Social Responsibility Policy) Rules, 2014, namely:&#8212; 1. (1)
 These rules may be called the Companies (Corporate Social Responsibility
 Policy) Amendment Rules, 2014. (2) They shall come into force on the date of
 their publication in the Official Gazette. 2. In the Companies (Corporate
 Social Responsibility Policy) Rules, 2014, in rule 4, in sub-rule (6), after
 the words "but such expenditure" the words and comma "including expenditure on
 administrative overheads," shall be inserted. <o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span lang="EN-IN">[F. No.
 1/18/2013-CL-V-Part]<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span lang="EN-IN"><span style="">&nbsp;</span>MANOJ KUMAR, Jt. Secy.<o:p></o:p></span></p>
</body></html>