 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  lang="EN-IN">GOVERNMENT
 OF INDIA&nbsp;<br>
 MINISTRY OF CORPORATE AFFAIRS&nbsp;<br>
 <b>NOTIFICATION</b><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b><span
  lang="EN-IN">New
 Delhi, the 5th June, 2015</span></b><span lang="EN-IN"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b><span
  lang="EN-IN">G.S.R. (E).
 -&nbsp;</span></b><span lang="EN-IN">In
 exercise of the powers conferred by
 clauses (a) and (b) ofsub-section (1) of section 462 and in pursuance
 of
 sub-section (2) of said section of the Companies Act, 2013 (18 of
 2013), the
 Central Government, in the interest of public, hereby directs that
 certain
 provisions of the Companies Act, 2013, as specified in column (2) of
 the Table,
 shall not apply or shall apply with such exceptions, modifications and
 adaptations, as specified in column (3) of the said Table, to a private
 company, namely:-<o:p></o:p></span></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 100%; height: 1768px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b><span lang="EN-IN">Serial
 number</span></b><span lang="EN-IN"><o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b><span lang="EN-IN">Chapter
 Number/ Section number/ subsection) in the Companies Act, 2013</span></b><span
  lang="EN-IN"><o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b><span lang="EN-IN">Exceptions,
 Modifications and Adaptations.</span></b><span
  lang="EN-IN"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">(1)<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">(2)<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">(3)<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">1.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 I, sub-clause (viii) of clause (76) of section 2.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply with respect to section 188.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">2.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 IV, section 43 and section 47.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply where memorandum or articles of association of the private
 company so provides.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">3.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 IV, sub-clause (i) of clause (a) of sub-section (1) and sub-section (2)
 of section 62.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply with following modifications:-<br>
       <br>
 In clause (a), in sub-clause (i), the following proviso shall be
 inserted, namely:-<br>
       <br>
 Provided that notwithstanding anything contained in this sub-clause and
 sub-section (2) of this section, in case ninety per cent, of the
 members of a private company have given their consent in writing
 or&nbsp; in electronic mode, the periods lesser than those
 specified in the said sub-clause or sub-section shall apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">4.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 IV, clause (b) of sub-section (1) of section 62.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">In
 clause (b), for the words "special resolution", the words "ordinary
 resolution" shall be substituted.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">5.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 IV, section 67.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to private companies -<o:p></o:p></span></p>
       <ol style="margin-top: 0in;" start="1" type="a">
         <li class="MsoNormal" style=""><span
  lang="EN-IN">in whose share capital no other body corporate
 has invested any money;<o:p></o:p></span></li>
         <li class="MsoNormal" style=""><span
  lang="EN-IN">if the borrowings of such a company from banks
 or financial institutions or any body corporate is less than twice its
 paid up share capital or fifty crore rupees, whichever is lower; and<o:p></o:p></span></li>
         <li class="MsoNormal" style=""><span
  lang="EN-IN">such a company is not in default in repayment
 of such borrowings subsisting at the time of making transactions under
 this section.<o:p></o:p></span></li>
       </ol>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">6.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 V, clauses (a) to (e) of subsection (2) of section 73.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to a private company which accepts from its members monies
 not exceeding one hundred per cent, of aggregate of the paid up share
 capital and free reserves, and such company shall file the details of
 monies so accepted to the Registrar in such manner as may be specified.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">7.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 VII, sections 101 to 107 and section 109.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply unless otherwise specified in respective sections or the articles
 of the company provide otherwise.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">8.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 VII, clause (g) of sub-section (3) of section 117.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">9.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 X, Clause (g) of sub-section (3) of section 141.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply with the modification that the words "other than one person
 companies, dormant companies, small companies and private companies
 having paid-up share capital less than one hundred crore rupees" shall
 be inserted after the words "twenty companies".<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">10.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, section 160.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">11.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, section 162.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">12.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XII, section 180.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">13.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XII, sub-section (2) of section 184.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply with the exception that the interested director may participate
 in such meeting after disclosure of his interest.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">14.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XII, section 185.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to a private company -<o:p></o:p></span></p>
       <ol style="margin-top: 0in;" start="1" type="a">
         <li class="MsoNormal" style=""><span
  lang="EN-IN">in whose share capital no other body corporate
 has invested any money;<o:p></o:p></span></li>
         <li class="MsoNormal" style=""><span
  lang="EN-IN">if the borrowings of such a company from banks
 or financial institutions or any body corporate is less than twice of
 its paid up share capital or fifty crore rupees, whichever is lower; and<o:p></o:p></span></li>
         <li class="MsoNormal" style=""><span
  lang="EN-IN">such a company has no default in repayment of
 such borrowings subsisting at the time of making transactions under
 this section.<o:p></o:p></span></li>
       </ol>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">15.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XII, second proviso to subsection (1) of section 188.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">16.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XIII, sub-sections (4) and (5) of section 196.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN">2. The private companies, while complying
 with such exceptions, modifications and adaptations, as specified in
 column (3)
 of the aforesaid Table, shall ensure that the interests of their
 shareholders
 are protected.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN">3. A copy of this notification has been
 laid in draft before both Houses of Parliament as required by
 sub-section (2)
 of section 462 of the Companies Act, 2013.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  lang="EN-IN">[F
 No.1/1/2014-CL.V]<br>
 <br>
 Amardeep Singh Bhatia,&nbsp;<br>
 Joint Secretary to the Government of India.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 </body>
 </html>
 