 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style=""><span
 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
  <span style="font-size: 12pt;" lang="EN-IN">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style=""><span
  style="font-size: 12pt;" lang="EN-IN">NOTIFICATION<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><span style="font-size: 12pt;"
  lang="EN-IN">New Delhi, the 29<sup>th</sup>
 June,
 2016<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><span style="font-size: 12pt;"
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b
  style=""><span style="font-size: 12pt;"
  lang="EN-IN">G.S.R.
 639(E)</span></b><span style="font-size: 12pt;"
  lang="EN-IN"> - In exercise of the power conferred by
 Section 73 and 76 read with sub-section
 (1) of Section 469 of the Companies Act, 2013, the Central Government
 hereby
 makes the following rules further to amend the Companies (Acceptance of
 Deposits) Rules, 2014, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">( &nbsp; &nbsp; 1)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">These
 rules may be called Companies (Acceptance of Deposits) Rules, 2016.<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">( &nbsp; &nbsp; 2)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">They
 shall come into force on the date of their publication in the Official
 Gazette.<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">2. In the
 Companies (Acceptance of Deposits) Rules,
 2014 (hereinafter referred to as the principal rules), in rule 2, in
 sub-rule
 (1), in clause (c),-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(i) in
 sub-clause (ix), for the words "five years" the words "ten years" shall
 be
 substituted;<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(ii)
 after sub-clause (ix), the following sub-clause shall be inserted,
 namely,-<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">"(ixa)
 any amount raised by issue of non-convertible debenture not
 constituting a
 charge on the assets of the company and listed on a recognised stock
 exchange
 as per applicable regulations made by Securities and Exchange Board of
 India.";<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN">(iii)
 for sub-clause (xi), the following
 sub-clause shall be substituted, namely:-<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN">"(xi)
 any non-interest bearing amount
 received and held in trust;";<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN">(iv)
 in sub-clause (xii),-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-left: 0.5in; text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN">(A)
 after item (d) and before the
 proviso, the following items shall be inserted, namely:-<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN">"(e)
 as an advance towards consideration for providing future services in
 the form
 of a<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN">warranty
 or maintenance contract as per
 written agreement or arrangement, if the period for providing such
 services
 does not exceed the period prevalent as per common business practice or
 five
 years, from the date of acceptance of such service whichever is less;<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN">(f)
 as an advance received and as
 allowed by any sectoral regulator or in accordance with directions of
 Central
 or State Government;<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN">(g)
 as an advance for subscription towards publication, whether in print or
 in electronic
 to be adjusted against receipt of such publications; ".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(B) in the
 Explanation, the words "referred to in the proviso" shall be omitted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(v)
 in the Explanation, after sub-clause (xiv), for the words "shall be
 treated as
 deposits", the words "shall be considered as deposits unless
 specifically
 excluded under this clause" shall be substituted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(vi) after
 sub-clause (xiv), the following sub-clauses shall be inserted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(xv)
 any amount received by way of subscription in respect of a chit under
 the Chit
 Fund Act, 1982 (40 of 1982);<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(xvi) any
 amount
 received by the company under any collective investment scheme in<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">compliance with
 regulations framed by the Securities and Exchange Board of India;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(xvii)
 an amount of twenty five lakh rupees or more received by a start-up
 company, by
 way of a convertible note (convertible into equity shares or repayable
 within a
 period not exceeding five years from the date of issue) in a single
 tranche,
 from a person.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.5in; line-height: normal; font-family: Arial;"><b><i><span
  style="font-size: 12pt;" lang="EN-IN">Explanation.- </span></i></b><span
  style="font-size: 12pt;" lang="EN-IN">For
 the purposes of this sub-clause,-<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin: 0in 0in 0.0001pt 1in; text-align: justify; text-indent: -0.5in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">I.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">"start-up
 company" means a private
 company incorporated under the Companies Act, 2013 or Companies Act,
 1956 and
 recognised as such in accordance with notification number G.S.R. 180(E)
 dated
 17th February, 2016 issued by the Department of Industrial Policy and
 Promotion, Ministry of Commerce and Industry;<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin: 0in 0in 0.0001pt 0.75in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin: 0in 0in 0.0001pt 1in; text-align: justify; text-indent: -0.5in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">II.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">"convertible
 note" means an instrument
 evidencing receipt of money initially as a debt, which is repayable at
 the
 option of the holder, or which is convertible into such number of
 equity shares
 of the start-up company upon occurrence of specified events and as per
 the
 other terms and conditions agreed to and indicated in the instrument.<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin: 0in 0in 0.0001pt 0.75in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(xviii)
 any amount received by a company from Alternate Investment Funds,
 Domestic
 Venture Capital Funds and Mutual Funds registered with the Securities
 and
 Exchange Board of India in accordance with regulations made by it.".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">3. In Rule 3 of
 the Principal rules,-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin: 0in 0in 0.0001pt 35.45pt; text-align: justify; text-indent: -17.45pt; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">(i)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">in sub-rule
 (3),-<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin: 0in 0in 0.0001pt 0.75in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">(a)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">for the words
 "twenty five per cent.",
 the words "thirty five per cent." shall be substituted;<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">(b)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">the following
 proviso shall be inserted
 namely:<o:p></o:p></span></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><span
  style="font-size: 12pt; line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.25in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">"Provided
 that a private company may accept from its members monies not exceeding
 one hundred
 per cent of aggregate of the paid up share capital, free reserves and
 securities<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">premium account
 and such company shall file the details of monies so accepted to the<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">Registrar in
 such manner as may be specified.".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(ii) for
 sub-rule (8), the following sub-rule shall be substituted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.25in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">"(8).-
 (a) Every eligible company shall obtain, at least once in a year,
 credit rating
 for deposits accepted by it and a copy of the rating shall be sent to
 the
 Registrar of Companies alongwith the return of deposits in Form DPT-3.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.25in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;" lang="EN-IN"><span
  style="">(c)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;" lang="EN-IN">The credit
 rating referred to in clause
 (a) shall not be below the minimum investment grade rating or other
 specified
 credit rating for fixed deposits, from any one of the approved credit
 rating
 agencies as specified for Non-Banking Financial Companies in the
 Non-Banking
 Financial Companies Acceptance of Public Deposits (Reserve Bank)
 Directions,
 1998, issued by the Reserve Bank of India, as amended from time to
 time."<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">4. In rule 4 of
 the principal rules, for sub-rule
 (2), the following sub-rule shall be substituted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">"(2)
 Every eligible company intending to invite deposits shall issue a
 circular in
 the form of an advertisement in form DPT-1 for the purpose in English
 language
 in an English newspaper having country wide circulation and in
 vernacular
 language in a vernacular newspaper having wide circulation in the State
 in
 which the registered office of the company is situated, and shall also
 place
 such circular on the website of the company, if any.".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">5. In rule 5 of
 the principal rules, in sub-rule
 (1), for the proviso, the following proviso shall be substituted,
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">"Provided
 that the companies may accept deposits without deposit insurance
 contract till
 the 31st March, 2017 or till the availability of a deposit insurance
 product,
 whichever is earlier.".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">6. After rule
 16 of the principal rules, the
 following rule shall be inserted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><b><span
  style="font-size: 12pt;" lang="EN-IN">"16A.
 Disclosures in the financial statement.- </span></b><span
  style="font-size: 12pt;" lang="EN-IN">(1) Every
 company, other than a private company, shall disclose in its financial
 statement, by way of notes, about the money received from the director.
 <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">(2)
 Every private company shall disclose in its financial statement, by way
 of
 notes, about the money received from the directors, or relatives of
 directors.".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN">7. In the
 principal rules, in the Annexure, in Form
 DPT-1, the following para shall be inserted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.5in; text-align: justify; line-height: normal; font-family: Arial;"><b><span
  style="font-size: 12pt;" lang="EN-IN">"</span></b><span
  style="font-size: 12pt;" lang="EN-IN">6.
 DISCLAIMER.- It is to be distinctly understood that filing of circular
 or
 circular in the Form of advertisement with the Registrar should not in
 any way
 be deemed or construed that the same has been cleared or approved by
 the
 Registrar or Central Government. The Registrar or Central Government
 does not
 take any responsibility either for the financial soundness of any
 deposit
 scheme for which the deposit is being accepted or invited or for the
 correctness of the statements made or opinions expressed in the
 circular or
 circular in the Form of advertisement. The depositors should exercise
 due
 diligence before investing in the deposits schemes.".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: normal; font-family: Arial;"><span
  style="font-size: 12pt;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
  align="right"><span style="font-size: 12pt;"
  lang="EN-IN">[F.
 No. 1/8/2013-CL-V]<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
  align="right"><span style="font-size: 12pt;"
  lang="EN-IN">AMARDEEP
 SINGH BHATIA, Jt. Secy.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
  align="right"><span style="font-size: 12pt;"
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><b><span
  style="font-size: 12pt;" lang="EN-IN">Note. - </span></b><span
  style="font-size: 12pt;" lang="EN-IN">The principal
 rules were published in the Gazette of India, Extraordinary, Part II,
 Section
 3, sub-section (i) <i>vide </i>number G.S.R. 256(E),
 dated the 31st March, 2014
 and subsequently amended vide number G.S.R. 386(E), dated the 6th June,
 2014,
 G.S.R. 241(E), dated the 31st March, 2015 and G.S.R. 695(E), dated the
 15th
 September, 2015.<o:p></o:p></span></p>
 </body>
 </html>
