 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR240(E) dated 27th March 2014</title></head><body>
 
 
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center">Ministry of Corporate
  Affairs&nbsp;<br>
  Notification<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right">New Delhi, Dated 27<sup>th</sup>
  March 2014<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">GSR. 240 (E). No. In exercise of
  powers conferred under sections 173, 175, 177, 178, 179, 184, 185, 186, 187,
  188, 189 and section 191 read with section 469 of the Companies Act, 2013 and
  in supersession of the Companies (Central Government General) Rules and Forms
  or any other Rules prescribed under the Companies Act, 1956 on matters covered
  under these rules, except as respects things done or omitted to be done before
  such suppression, the Central Government hereby makes the following rules,
  namely:-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">1. (1) Short title and
  commencement.- (1) These rules may be called the Companies(Meetings of Board
  and its Powers) Rules, 2014.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) They shall come into force on
  the date of their publication in the Official Gazette.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">2. Definitions.-&nbsp;(1) In
  these rules, unless the context otherwise requires, -<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) &#8220;Act&#8221; means the Companies
  Act, 2013;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) &#8220;Annexure&#8221; means the Annexure
  appended to these rules;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) &#8220;Fees&#8221; means the fees as
  specified in the Companies (Registration Offices and Fees) Rules, 2014;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(d) &#8220;Form&#8221; or &#8220;e-Form&#8221; means a
  form set forth in Annexure to these rules which shall be used for the matter to
  which it relates;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(e) &#8220;Related party&#8221; means a
  director or key managerial personnel of the holding company or his relative
  with reference to a company, shall be deemed to be a related party;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(f) &#8220;section&#8221; means the section
  of the Act.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) Words and expressions used in
  these rules but not defined and defined in the Act or in the Companies
  (Specification of Definitions Details) Rules, 2014, shall have the same
  meanings respectively assigned to them in the Act or in the said Rules.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">3. Meetings of Board through
  video conferencing or other audio visual means.-<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">A company shall comply with the
  following procedure, for convening and conducting the Board meetings through
  video conferencing or other audio visual means.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(1) Every Company shall make
  necessary arrangements to avoid failure of video or audio visual connection.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) The Chairperson of the
  meeting and the company secretary, if any, shall take due and reasonable care -<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) to safeguard the integrity of
  the meeting by ensuring sufficient security and identification procedures;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) to ensure availability of
  proper video conferencing or other audio visual equipment or facilities for
  providing transmission of the communications for effective participation of the
  directors and other authorised participants at the Board meeting;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) to record proceedings and
  prepare the minutes of the meeting;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(d) to store for safekeeping and
  marking the tape recording(s) or other electronic recording mechanism as part
  of the records of the company at least before the time of completion of audit
  of that particular year.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(e) to ensure that no person
  other than the concerned director are attending or have access to the
  proceedings of the meeting through video conferencing mode or other audio
  visual means; and<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(f) to ensure that participants
  attending the meeting through audio visual means are able to hear and see the
  other participants clearly during the course of the meeting:<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Provided that the persons, who
  are differently abled, may make request to the Board to allow a person to accompany
  him.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) (a) The notice of the meeting
  shall be sent to all the directors in accordance with the provisions of
  sub-section (3) of section 173 of the Act.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) The notice of the meeting
  shall inform the directors regarding the option available to them to
  participate through video conferencing mode or other audio visual means, and
  shall provide all the necessary information to enable the directors to
  participate through video conferencing mode or other audio visual means.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) A director intending to
  participate through video conferencing or audio visual means shall communicate
  his intention to the Chairperson or the company secretary of the company.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(d) If the director intends to
  participate through video conferencing or other audio visual means, he shall
  give prior intimation to that effect sufficiently in advance so that company is
  able to make suitable arrangements in this behalf.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(e) The director, who desire, to
  participate may intimate his intention of participation through the electronic
  mode at the beginning of the calendar year and such declaration shall be valid
  for one calendar year.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(f) In the absence of any
  intimation under clause (c), it shall be assumed that the director shall attend
  the meeting in person.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(4) At the commencement of the meeting,
  a roll call shall be taken by the Chairperson when every director participating
  through video conferencing or other audio visual means shall state, for the
  record, the following namely:-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) name;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) the location from where he is
  participating;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) that he has received the
  agenda and all the relevant material for the meeting ;and<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(d) that no one other than the
  concerned director is attending or having access to the proceedings of the 
  meeting at the location mentioned in clause (b);<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(5) (a) After the roll call, the
  Chairperson or the Company Secretary shall inform the Board about the names of
  persons other than the directors who are present for the said meeting at the
  request or with the permission of the Chairperson and confirm that the required
  quorum is complete.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Explanation.-&nbsp;A director
  participating in a meeting through video conferencing or other audio visual
  means shall be counted for the purpose of quorum, unless he is to be excluded
  for any items of business under any provisions of the Act or the rules.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) The Chairperson shall ensure
  that the required quorum is present throughout the meeting.<o:p></o:p></p>  
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(6) With respect to every meeting
  conducted through video conferencing or other audio visual means authorised
  under these rules, the scheduled venue of the meeting as set forth in the
  notice convening the meeting, which shall be in India, shall be deemed to be
  the place of the said meeting and all recordings of the proceedings at the
  meeting shall be deemed to be made at such place.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(7) The statutory registers which
  are required to be placed in the Board meeting as per the provisions of the Act
  shall be placed at the scheduled venue of the meeting and where such registers
  are required to be signed by the directors, the same shall be deemed to have
  been signed by the directors participating through electronic mode, if they
  have given their consent to this effect and it is so recorded in the minutes of
  the meeting.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(8) (a) Every participant shall
  identify himself for the record before speaking on any item of business on the
  agenda.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) If a statement of a director
  in the meeting through video conferencing or other audio visual means is
  interrupted or garbled, the Chairperson or Company Secretary shall request for
  a repeat or reiteration by the Director.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(9) If a motion is objected to
  and there is a need to put it to vote, the Chairperson shall call the roll and
  note the vote of each director who shall identify himself while casting his
  vote.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(10) From the commencement of the
  meeting and until the conclusion of such meeting, no person other than the
  Chairperson, Directors, Company Secretary and any other person whose presence
  is required by the Board shall be allowed access to the place where any 
  director is attending the meeting either physically or through video
  conferencing without the permission of the Board.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(11) (a) At the end of discussion
  on each agenda item, the Chairperson of the meeting shall announce the summary
  of the decision taken on such item along with names of the directors, if any,
  who dissented from the decision taken by majority.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) The minutes shall disclose
  the particulars of the directors who attended the meeting through video
  conferencing or other audio visual means.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(12) (a) The draft minutes of the
  meeting shall be circulated among all the directors within fifteen days of the
  meeting either in writing or in electronic mode as may be decided by the Board.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) Every director who attended
  the meeting, whether personally or through video conferencing or other audio
  visual means, shall confirm or give his comments in writing, about the accuracy
  of recording of the proceedings of that particular meeting in the draft
  minutes, within seven days or some reasonable time as decided by the Board,
  after receipt of the draft minutes failing which his approval shall be
  presumed.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) After completion of the
  meeting, the minutes shall be entered in the minute book as specified under
  section 118 of the Act and signed by the Chairperson. Explanation.- For the
  purposes of this rule, &#8220;video conferencing or other audio visual means&#8221; means
  audio- visual electronic communication facility employed which enables all the
  persons participating in a meeting to communicate concurrently with each other
  without an intermediary and to participate effectively in the meeting.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">4. Matters not to be dealt with
  in a meeting through video conferencing or other audio visual means.-&nbsp;(1)
  The following matters shall not be dealt with in any meeting held through video
  conferencing or other audio visual means.-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(i) the approval of the annual
  financial statements;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(ii) the approval of the Board&#8217;s
  report;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(iii) the approval of the
  prospectus;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(iv) the Audit Committee Meetings
  for consideration of accounts; and<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(v) the approval of the matter
  relating to amalgamation, merger, demerger, acquisition and takeover.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">5. Passing of resolution by
  circulation.-&nbsp;A resolution in draft form may be circulated to the
  directors together with the necessary papers for seeking their approval, by
  electronic means which may include E-mail or fax.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">6. Committees of the
  Board.-&nbsp;The Board of directors of every listed companies and the following
  classes of companies shall constitute an Audit Committee and a Nomination and
  Remuneration Committee of the Board-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(i) all public companies with a
  paid up capital of ten crore rupees or more;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(ii) all public companies having
  turnover of one hundred crore rupees or more;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(iii) all public companies,
  having in aggregate, outstanding loans or borrowings or debentures or deposits
  exceeding fifty crore rupees or more.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Explanation.- The paid up share
  capital or turnover or outstanding loans, or borrowings or debentures or
  deposits, as the case may be, as existing on the date of last audited Financial
  Statements shall be taken into account for the purposes of this rule.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">7. Establishment of vigil
  mechanism.- (1) Every listed company and the companies belonging to the
  following class or classes shall establish a vigil mechanism for their
  directors and employees to report their genuine concerns or grievances-<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) the Companies which accept
  deposits from the public;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) the Companies which have
  borrowed money from banks and public financial institutions in excess of fifty
  crore rupees.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) The companies which are
  required to constitute an audit committee shall oversee the vigil mechanism
  through the committee and if any of the members of the committee have a
  conflict of interest in a given case, they should recuse themselves and the
  others on the committee would deal with the matter on hand.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) In case of other companies,
  the Board of directors shall nominate a director to play the role of audit
  committee for the purpose of vigil mechanism to whom other directors and
  employees may report their concerns.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(4) The vigil mechanism shall
  provide for adequate safeguards against victimisation of employees and
  directors who avail of the vigil mechanism and also provide for direct access
  to the Chairperson of the Audit Committee or the director nominated to play the
  role of Audit Committee, as the case may be, in exceptional cases.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(5) In case of repeated frivolous
  complaints being filed by a director or an employee, the audit committee or the
  director nominated to play the role of audit committee may take suitable action
  against the concerned director or employee including reprimand.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">8. Powers of Board.-&nbsp;In
  addition to the powers specified under sub-section (3) of section 179 of the
  Act, the following powers shall also be exercised by the Board of Directors
  only by means of resolutions passed at meetings of the Board.-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(1) to make political contributions;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) to appoint or remove key
  managerial personnel (KMP);<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) to take note of
  appointment(s) or removal(s) of one level below the Key Management Personnel;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(4) to appoint internal auditors
  and secretarial auditor;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(5) to take note of the
  disclosure of director&#8217;s interest and shareholding;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(6) to buy, sell investments held
  by the company (other than trade investments),constituting five percent or more
  of the paid up share capital and free reserves of the investee company;<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(7) to invite or accept or renew
  public deposits and related matters;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(8) to review or change the terms
  and conditions of public deposit;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(9) to approve quarterly, half
  yearly and annual financial statements or financial results as the case may be.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">9. Disclosures by a director of
  his interest.- (1) Every director shall disclose his concern or interest in any
  company or companies or bodies corporate (including shareholding interest),
  firms or other association of individuals, by giving a notice in writing in
  Form MBP 1.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) It shall be the duty of the
  director giving notice of interest to cause it to be disclosed at the meeting
  held immediately after the date of the notice.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) All notices shall be kept at
  the registered office and such notices shall be preserved for a period of eight
  years from the end of the financial year to which it relates and shall be kept
  in the custody of the company secretary of the company or any other person
  authorized by the Board for the purpose.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">10. Loans to Director etc. under
  section 185.-&nbsp;(1) Any loan made by a holding company to its wholly owned
  subsidiary company or any guarantee given or security provided by a holding
  company in respect of any loan made to its wholly owned subsidiary company is
  exempted from the requirements under this section; and<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) Any guarantee given or
  security provided by a holding company in respect of loan made by any bank or
  financial institution to its subsidiary company is exempted from the
  requirements under this section:<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Provided that such loans made
  under sub-rule (1) and (2) are utilised by the subsidiary company for its
  principle business activities.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">11. Loan and investment by a
  company under section 186 of the Act.-&nbsp;(1) Where a loan or guarantee is
  given or where a security has been provided by a company to its wholly owned
  subsidiary company or a joint venture company, or acquisition is made by a
  holding company, by way of subscription, purchase or otherwise of, the
  securities of its wholly owned subsidiary company, the requirement of
  subsection (3) of section 186 shall not apply:<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Provided that the company shall
  disclose the details of such loans or guarantee or security or acquisition in
  the financial statement as provided under sub-section (4) of section 186.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) For the purposes of clause
  (a) of sub-section (11) of section 186, the expression &#8220;business of financing
  of companies&#8221; shall include, with regard to a Non-Banking Financial Company
  registered with Reserve Bank of India, &#8220;business of giving of any loan to a
   person or providing any guaranty or security for due repayment of any loan
  availed by any person in the ordinary course of its business&#8221;.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) No company registered under
  section 12 of the Securities and Exchange Board of India Act, 1992 and also
  covered under such class or classes of companies which may be notified by the
  Central Government in consultation with the Securities and Exchange Board,
  shall take any inter-corporate loan or deposits, in excess of the limits
  specified under the regulations applicable to such company, pursuant to which
  it has obtained certificate of registration from the Securities and Exchange
  Board of India.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">12. Register.-&nbsp;(1) Every
  company giving loan or giving guarantee or providing security or making an
  acquisition of securities shall, from the date of its incorporation, maintain a
  register in Form MBP 2 and enter therein separately, the particulars of loans
   and guarantees given, securities provided and acquisitions made as aforesaid.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) The entries in the register
  shall be made chronologically in respect of each such transaction within seven
  days of making such loan or giving guarantee or providing security or making
  acquisition.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) The register shall be kept at
  the registered office of the company and the register shall be preserved
  permanently and shall be kept in the custody of the company secretary of the
  company or any other person authorised by the Board for the purpose.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(4) The entries in the register
  (either manual or electronic) shall be authenticated by the company secretary
  of the company or by any other person authorised by the Board for the purpose.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(5) For the purpose of sub-rule
  (4), the register can be maintained either manually or in electronic mode.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(6) The extracts from the
  register maintained under sub-section (9) of section 186 may be furnished to
  any member of the company on payment of such fee as may be prescribed in the
  Articles of the company which shall not exceed ten rupees for each page.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">13. Special Resolution.- (1)
  Where the aggregate of the loans and investment so far made, the amount for
  which guarantee or security so far provided to or in all other bodies corporate
  along with the investment, loan, guarantee or security proposed to be made or
  given by the Board, exceed the limits specified under section 186 no investment
  or loan shall be made or guarantee shall be given or security shall be provided
  unless previously authorised by a special resolution passed in a general
  meeting.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Explanation.-&nbsp;For the
  purpose of this sub-rule, it is clarified that it would sufficient compliance
  if such special resolution is passed within one year from the date of
  notification of this section.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) A resolution passed at a
  general meeting in terms of sub-section (3) of section 186 to give any loan or
  guarantee or investment or providing any security or the acquisition under sub
  section (2) of section 186 shall specify the total amount up to which the Board
  of Directors are authorised to give such loan or guarantee, to provide such
  security or make such acquisition:<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Provided, that the company shall
  disclose to the members in the financial statement the full particulars in
  accordance with the provision of sub-section (4) of section 186.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">14. Investments of company to be
  held in its own name.- (1) Every company shall, from the date of its
  registration, maintain a register in Form MBP 3 and enter therein,
  chronologically, the particulars of investments in shares or other securities
  beneficially held by the company but which are not held in its own name and the
  company shall also record the reasons for not holding the investments in its
  own name and the relationship or contract under which the investment is held in
  the name of any other person.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) The company shall also record
  whether such investments are held in a third party&#8217;s name for the time being or
  otherwise.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) The register shall be
  maintained at the registered office of the company. The register shall be
  preserved permanently and shall be kept in the custody of the company secretary
  of the company or if there is no company secretary, any director or any other
  officer authorised by the Board for the purpose.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(4) The entries in the register
  shall be authenticated by the company secretary of the company or by any other
  person authorised by the Board for the purpose.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">15. Contract or arrangement with
  a related party.-&nbsp;A company shall enter into any contract or arrangement
  with a related party subject to the following conditions, namely:-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(1) The agenda of the Board
  meeting at which the resolution is proposed to be moved shall disclose-<o:p></o:p></p>  
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) the name of the related party
  and nature of relationship;<o:p></o:p></p>
 
  <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) the nature, duration of the
  contract and particulars of the contract or arrangement;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) the material terms of the
  contract or arrangement including the value, if any;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(d) any advance paid or received
  for the contract or arrangement, if any;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(e) the manner of determining the
  pricing and other commercial terms, both included as part of contract and not
  considered as part of the contract;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(f) whether all factors relevant
  to the contract have been considered, if not, the details of factors not
  considered with the rationale for not considering those factors; and<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(g) any other information
  relevant or important for the Board to take a decision on the proposed
  transaction.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) Where any director is
  interested in any contract or arrangement with a related party, such director
  shall not be present at the meeting during discussions on the subject matter of
  the resolution relating to such contract or arrangement-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) For the purposes of first
  proviso to sub-section (1) of section 188, except with the prior approval of
  the company by a special resolution-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(i) a company having a paid-up
  share capital of ten crore rupees or more shall not enter into a contract or
  arrangement with any related party; or<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(ii) a company shall not enter
  into a transaction or transactions, where the transaction or transactions to be
  entered into -<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) as contracts or arrangements
  with respect to clauses (a) to (e) of sub-section (1) of section 188 with
  criteria, as mentioned below -<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(i) sale, purchase or supply of
  any goods or materials directly or through appointment of agents exceeding
  twenty five percent. of the annual turnover as mentioned in clause (a) and
  clause (e) respectively of sub-section (1) of section 188;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(ii) selling or otherwise
  disposing of, or buying, property of any kind directly or through appointment
  of agents exceeding ten percent. of net worth as mentioned in clause (b) and
  clause (e) respectively of sub-section (1) of section 188;<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(iii) leasing of property of any
  kind exceeding ten percent. of the net worth or exceeding ten percent. of
  turnover as mentioned in clause (c) of sub-section (1) of section 188;<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(iv) availing or rendering of any
  services directly or through appointment of agents exceeding ten percent. of
  the net worth as mentioned in clause (d) and clause (e) of sub-section (1) of 
  section 188;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) appointment to any office or
  place of profit in the company, its subsidiary company or associate company at
  a monthly remuneration exceeding two and half lakh rupees as mentioned in
  clause (f) of sub-section (1) of section 188; or<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) remuneration for underwriting
  the subscription of any securities or derivatives thereof of the company
  exceeding one percent. of the net worth as mentioned in clause (g) of
  sub-section (1) of section 188.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Explanation.-&nbsp;(1) The Turnover
  or Net Worth referred in the above sub-rules shall be on the basis of the
  Audited Financial Statement of the preceding Financial year.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) In case of wholly owned
  subsidiary, the special resolution passed by the holding company shall be
  sufficient for the purpose of entering into the transactions between wholly
  owned subsidiary and holding company.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) The explanatory statement to
  be annexed to the notice of a general meeting convened pursuant to section 101
  shall contain the following particulars namely:-<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) name of the related party ;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) name of the director or key
  managerial personnel who is related, if any;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) nature of relationship;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(d) nature, material terms,
  monetary value and particulars of the contract or arrangement;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(e) any other information
  relevant or important for the members to take a decision on the proposed
  resolution.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">16. Register of contracts or
  arrangements in which directors are interested.-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(1) Every company shall maintain
  one or more registers in Form MBP 4, and shall enter therein the particulars
  of-<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) company or companies or
  bodies corporate, firms or other association of individuals, in which any
  director has any concern or interest, as mentioned under sub-section (1) of
  section 184:<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Provided that the particulars of
  the company or companies or bodies corporate in which a director himself
  together with any other director holds two percent. or less of the paid-up
  share capital would not be required to be entered in the register;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) contracts or arrangements
  with a body corporate or firm or other entity as mentioned under sub-section
  (2) of section 184, in which any director is, directly or indirectly, concerned
  or interested; and<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) contracts or arrangements
  with a related party with respect to transactions to which section 188 applies.<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) The entries in the register
  shall be made at once, whenever there is a cause to make entry, in
  chronological order and shall be authenticated by the company secretary of the
  company or by any other person authorised by the Board for the purpose.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) The register shall be kept at
  the registered office of the company and the register shall be preserved
  permanently and shall be kept in the custody of the company secretary of the
  company or any other person authorised by the Board for the purpose.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(4) The company shall provide
  extracts from such register to a member of the company on his request, within
  seven days from the date on which such request is made upon the payment of such
  fee as may be specified in the articles of the company but not exceeding ten
  rupees per page.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">17. Payment to director for loss
  of office, etc. in connection with transfer of undertaking, property or
  shares.-&nbsp;(1) No director of a company shall receive any payment by way of
  compensation in connection with any event mentioned in sub-section (1) unless
  the following particulars are disclosed to the members of the company and they
  pass a resolution at a general meeting approving the payment of such amount -<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) name of the director;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) amount proposed to be paid;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) event due to which
  compensation become payable;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(d) date of Board meeting
  recommending such payment;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(e) basis for the amount
  determined;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(f) reason or justification for
  the payment;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(g) manner of payment - whether
  payable in cash or otherwise and how;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(h) sources of payment; and<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(i) any other relevant
  particulars as the Board may think fit.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(2) Any payment made by a company
  by way of compensation for the loss of office or as a consideration for
  retirement from office or in connection with such loss or retirement, to a
  managing director or whole time director or manager of the company shall not
  exceed the limit as set out under section 202.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(3) No payment shall be made to
  the managing director or whole time director or manager of the company by way
  of compensation for the loss of office or as consideration for retirement from
  office (other than notice pay and statutory payments in accordance with the
  terms of appointment of such director or manager, as applicable) or in
  connection with such loss or retirement if -<o:p></o:p></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) the company is in default in
  repayment of public deposits or payment of interest thereon;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) the company is in default in
  redemption of debentures or payment of interest thereon;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) the company is in default in
  repayment of any liability, secured or unsecured, payable to any bank, public
  financial institution or any other financial institution;<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(d) the company is in default in
  payment of any dues towards income tax, VAT, excise duty, service tax or any
  other tax or duty, by whatever name called, payable to the Central Government
  or any State Government, statutory authority or local authority (other than in
  cases where the company has disputed the liability to pay such dues);<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(e) there are outstanding
  statutory dues to the employees or workmen of the company which have not been
  paid by the company (other than in cases where the company has disputed the
  liability to pay such dues); and<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(f) the company has not paid
 dividend on preference shares or not redeemed preference shares on due date.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Explanation : Pending
  notification of sub-section (1) of section 247 of the Act and finalisation of
  qualifications and experience of valuers, valuation of stocks, shares,
  debentures, securities etc. will be conducted by an independent merchant banker
  who is registered with the Securities and Exchange Board of India or an
  independent chartered accountant in practice having a minimum experience of ten 
  years.<o:p></o:p></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right">(File No. 1/32/2013-CL.V)&nbsp;<br>
 <br>
 <br>
  (Renuka Kumar)&nbsp;<br>
  Joint Secretary to the Government of India<o:p></o:p></p>
 </body></html>