 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  lang="EN-IN">GOVERNMENT
 OF INDIA&nbsp;<br>
 MINISTRY OF CORPORATE AFFAIRS&nbsp;<br>
 <b>NOTIFICATION</b><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b><span
  lang="EN-IN">New
 Delhi, the 5th June, 2015</span></b><span lang="EN-IN"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b><span
  lang="EN-IN">G.S.R. (E).
 -&nbsp;</span></b><span lang="EN-IN">In
 exercise of the powers conferred by
 clauses (a) and (b) ofsub-section (1) of section 462 and in pursuance
 of
 sub-section (2) of said section read with section 8 of the Companies
 Act, 2013
 (18 of 2013), and in supersession of notifications issued under section
 25 of
 the Companies Act, 1956 (1 of 1956) except as respects things done or
 omitted
 to be done before such supersession, the Central Government in the
 interest of
 public, hereby directs that certain provisions of the Companies Act,
 2013, as
 specified in column (2) of the Table, shall not apply or shall apply
 with such
 exceptions, modifications and adaptations, as specified in column (3)
 of the
 said Table, to a body to which a licence is granted under the
 provisions of the
 aforesaid section 8, namely<o:p></o:p></span></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 100%; height: 1842px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b><span lang="EN-IN">Serial
 number</span></b><span lang="EN-IN"><o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b><span lang="EN-IN">Chapter
 Number/ Section number/ Subsection) in the Companies Act, 2013</span></b><span
  lang="EN-IN"><o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b><span lang="EN-IN">Exceptions,
 Modifications and Adaptations.</span></b><span
  lang="EN-IN"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">(1)<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">(2)<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">(3)<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">1.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Clause
 (24) of section 2.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">The
 provisions of clause (24) of section 2 shall not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">2.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Clause
 (68) of section 2.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">The
 requirement of having minimum paid-up share capital shall not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">3.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Clause
 (71) of section 2.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">The
 requirement of having minimum paid-up share capital shall not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">4.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (2) of section 96.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">In
 sub-section (2), after the proviso and before the explanation, the
 following proviso shall be inserted, namely:-<br>
       <br>
 Provided further that the time, date and place of each annual general
 meeting are decided upon before-hand by the board of directors having
 regard to the directions, if any, given in this regard by the company
 in its general meeting.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">5.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (1) of section 101.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">In
 sub-section (1), for the words "twenty one days", the words "fourteen
 days" shall be substituted.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">6.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 118.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">The
 section shall not apply as a whole except that minutes may be recorded
 within thirty days of the conclusion of every meeting in case of
 companies where the articles of association provide for confirmation of
 minutes by circulation.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">7.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (1) of section 136.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">In
 sub-section (1), for the words "twenty one days", the words "fourteen
 days" shall be substituted.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">8.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (1) of section 149 and the first proviso to sub-section (1).<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">9.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-sections
 (4), (5), (6), (7), (8), (9), (10), (11), clause (i) of subsection
 (12) and subsection (13) of section 149.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">10.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 150.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">11.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Proviso
 to sub-section (5) of section 152.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">12.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 160.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to companies whose articles provide for election of directors
 by ballot.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">13.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (1) of section 165.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">14.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (1) of section 173.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply only to the extent that the Board of Directors, of such Companies
 shall hold at least one meeting within every six calendar months.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">15.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (1) of section 174.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">In
 sub-section (1),-<o:p></o:p></span></p>
       <ol style="margin-top: 0in;" start="1" type="a">
         <li class="MsoNormal" style=""><span
  lang="EN-IN">for the words "one-third of its total strength
 or two directors, whichever is higher", the words "either eight members
 or twenty five per cent, of its total strength whichever is less" shall
 be substituted;<o:p></o:p></span></li>
         <li class="MsoNormal" style=""><span
  lang="EN-IN">the following proviso shall be inserted,
 namely:-<o:p></o:p></span></li>
       </ol>
       <p class="MsoNormal"><span lang="EN-IN">"Provided
 that the quorum shall not be less than two members".<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">16.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (2) of section 177.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">The
 words "with independent directors forming a majority" shall be omitted.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">17.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 178.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">18.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 179.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Matters
 referred to in clauses (d), (e) and (f) of sub-section (3) may be
 decided by the Board by circulation instead of at a meeting.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">19.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (2) of section 184.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply only if the transaction with reference to section 188 on the
 basis of terms and conditions of the contract or arrangement exceeds
 one lakh rupees.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">20.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 189.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply only if the transaction with reference to section 188 on the
 basis of terms and conditions of the contract or arrangement exceeds
 one lakh rupees.<o:p></o:p></span></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN">2. The companies covered under section 8 of
 the Companies Act, 2013, while complying with such exceptions,
 modifications
 and adaptations, as specified in column (3) of the aforesaid Table,
 shall
 ensure that the interests of their shareholders are protected.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN">3. A copy of this notification has been
 laid in draft before both Houses of Parliament as required by
 sub-section (2)
 of section 462 of the Companies Act, 2013.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  lang="EN-IN">[F
 No.1/2/2014-CL.V]<br>
 <br>
 Amardeep Singh Bhatia,&nbsp;<br>
 Joint Secretary to the Government of India.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 </body>
 </html>
 