<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal"
style="margin-bottom: 4pt; text-align: center; line-height: 15pt;"
align="center"><b style="">MINISTRY OF
CORPORATE AFFAIRS<o:p></o:p></b></p>
<p class="MsoNormal"
style="margin-bottom: 4pt; text-align: center; line-height: 15pt;"
align="center"><b style="">NOTIFICATION<o:p></o:p></b></p>
<p class="MsoNormal"
style="margin-bottom: 6pt; text-align: center; line-height: 15pt;"
align="center">New Delhi, the 12th June, 2014</p>
<p class="MsoNormal"
style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><b
style="">G.S.R.
398(E).-</b>In exercise of the powers conferred under sections 173,
175, 177,
178, 179, 184, 185, 186, 187, 188, 189 and section 191 read with
section 469 of
the Companies Act, 2013 (18 of 2013), the Central Government hereby
makes the
following rules to amend the Companies (Meetings and Powers of Board)
Rules,
2014, namely:- </p>
<p class="MsoNormal"
style="margin: 0cm 0cm 0.0001pt 42.55pt; text-align: justify; text-indent: -42.55pt; line-height: 15pt;">1.<span
style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>(1)
These rules may be called the Companies (Meetings and Powers of Board)
Amendment<span style="">&nbsp;&nbsp;&nbsp; </span>Rules, 2014. </p>
<p class="MsoNormal"
style="margin-bottom: 4pt; text-align: justify; text-indent: 42.55pt; line-height: 15pt;">(2)
They shall come into force on the date of their
publication in the Official Gazette. </p>
<p class="MsoNormal"
style="margin: 0cm 0cm 6pt 42.55pt; text-align: justify; text-indent: -42.55pt; line-height: 15pt;">2.
<span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>In the Companies (Meetings
and Powers of Board) Rules, 2014, in rule 6, after the explanation, the
following shall be inserted, namely:- </p>
<p class="MsoNormal"
style="margin-bottom: 6pt; text-align: justify; line-height: 15pt;">"Provided
that public companies covered under this rule which were not
required to constitute Audit Committee under section 292A of the
Companies Act,
1956 (1 of 1956) shall constitute their Audit Committee within one year
from
the commencement of these rules or appointment of independent directors
by
them, whichever is earlier : </p>
<p class="MsoNormal"
style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">Provided
further that public companies covered
under this rule shall constitute their Nomination and Remuneration
Committee
within one year from the commencement of these rules or appointment of
independent directors by them, whichever is earlier.".</p>
<p class="MsoNormal"
style="margin: 0cm 0cm 0.0001pt 14.2pt; text-align: right; line-height: 15pt;"
align="right"><span style="">&nbsp;</span>[F. No.
1/32/2013-CL-V-Part] </p>
<p class="MsoNormal"
style="margin: 0cm 0cm 6pt 14.2pt; text-align: right; line-height: 15pt;"
align="right">AMARDEEP
SINGH BHATIA, Jt. Secy.</p>
<p class="MsoNormal"
style="margin-bottom: 6pt; text-align: justify; line-height: 15pt;"><span
style="">&nbsp;</span>Note : The principal
notification was published in the Gazette of India vide No.G.S.R.
265(E), dated
31.03.2014.</p>
</body>
</html>

