<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R_______ dated 31st March 2015_1</title></head><body>

<p style="widows: 4;" align="center">Government of India<br>Ministry of
 Corporate Affairs<br><b>Notification</b></p>
<p style="widows: 2;" align="right"><b>New Delhi, dated the 31</b><sup><b>st</b></sup><b>&nbsp;March,
 2015</b></p>
<p><b>G.S.R. ______ (E).</b>&nbsp;- In exercise of the powers
 conferred by sections 73 and 76 read with sub-section (1) of section
 469 of the Companies Act, 2013 (18 of 2013), the Central Government
 hereby makes the following rules further to amend the Companies
 (Acceptance of Deposits) Rules, namely:-</p>
<p style="widows: 8;" align="justify">(1)&nbsp; These rules may be
 called the Companies (Acceptance of Deposits) Amendment Rules, 2015.</p>
 <p style="widows: 8;" align="justify">(2) They shall come into force
 from the date of their publication in the Official Gazette.</p>
 <p style="widows: 8;" align="justify">2. In the Companies (Acceptance of
 Deposits) Rules, 2014, -</p>
 <p style="widows: 8;" align="justify">(1) in rule 2, in sub-rule (1), in
 clause (c), -</p>
 <p style="widows: 8;" align="justify">(a) in sub-clause (vii), in
 Explanation (a), the following proviso shall be inserted, namely:-</p>
 <p style="widows: 8;" align="justify">&#8220;Provided that unless otherwise
 required under the Companies Act, 1956 (1 of 1956) or the Securities
 and Exchange Board of India Act, 1992 (15 of 1992) or rules or
 regulations made thereunder to allot any share, stock, bond, or
 debenture within a specified period, if a company receives any amount
 by way of subscriptions to any shares, stock, bonds or debentures
 before the 1st &nbsp;April, 2014 and disclosed in the balance sheet
 for the financial year ending on or before the 31st March, 2014
 against which the allotment is pending on the 31st March, 2015, the
 company shall, by the 1st June 2015, either return such amounts to
 the persons from whom these were received or allot shares, stock,
 bonds or debentures or comply with these rules.&#8221;</p>
 <p style="widows: 8;" align="justify">(b) in sub-clause (xii), in item
 (b),</p>
 <p style="widows: 8;" align="justify">(A) for the words &#8220;consideration
 for property&#8221;, the words &#8220;consideration for an immovable
 property&#8221; shall be substituted;</p>
<p style="widows: 8;" align="justify">(B) for the words &#8220;against the
 property&#8221;, the words &#8220;against such property&#8221; shall be
 substituted;</p>
<p style="widows: 8;" align="justify">(c) in sub-clause (xii), in the
 Explanation, for the words &#8220;referred to in the first proviso&#8221;,
 the words &#8220;referred to in the proviso&#8221; shall be substituted;</p>
<p style="widows: 8;" align="justify">(2) in rule 3, after sub-rule (7),
 the following sub-rule shall be inserted, namely:-</p>
<p style="widows: 8;" align="justify">&#8220;(8) Every eligible company
 shall obtain, at least once in a year, credit rating for deposits
 accepted by it in the manner specified herein below and a copy of the
 rating shall be sent to the Registrar of Companies alongwith the
 return of deposits in Form DPT-3;</p>
<p><br>
</p>
<table style="width: 100%; height: 703px;" border="1" bordercolor="#00000a" cellpadding="5" cellspacing="1">
	<col width="357">
	<col width="232">
	<tbody><tr>
		<td width="357">
			<p>Name of the agency</p>
		</td>
		<td width="232">
			<p>Minimum investment Grade Rating</p>
		</td>
	</tr>
	<tr>
		<td width="357">
			<p>(a) The Credit Rating Information Services of India Ltd.</p>
		</td>
		<td width="232">
			<p>FA- (FA Minus)</p>
		</td>
	</tr>
	<tr>
		<td width="357">
			<p>(b) ICRA Ltd.</p>
		</td>
		<td width="232">
			<p>MA- (MA Minus)</p>
		</td>
	</tr>
	<tr>
		<td width="357">
			<p>(c) Credit Analysis and Research Ltd.</p>
		</td>
		<td width="232">
			<p>CARE BBB(FD)</p>
		</td>
	</tr>
	<tr>
		<td width="357">
			<p>(d) Fitch Ratings India Private Ltd.</p>
		</td>
		<td width="232">
			<p>tA-(ind)(FD)</p>
		</td>
	</tr>
	<tr>
		<td width="357">
			<p>(e) Brickwork Ratings India Pvt Ltd.</p>
		</td>
		<td width="232">
			<p>BWRF A</p>
		</td>
	</tr>
	<tr>
		<td width="357">
			<p>(f) SME Rating Agency of India Ltd.</p>
		</td>
		<td width="232">
			<p>SMERA A&#8221;</p>
		</td>
	</tr>
</tbody></table>
<p><br>
</p>
<p style="widows: 8;" align="justify">(3) in rule 5, in sub-rule (1),
 for the proviso, the following proviso shall be substituted, namely:-</p>
<p style="widows: 8;" align="justify">&#8220;Provided that the companies may
 accept deposits without deposit insurance contract till the 31st
 March, 2016 or till the availability of a deposit insurance product,
 whichever is earlier.&#8221;</p>
<p style="widows: 8;" align="justify">(4) in Annexure, for Form &#8220;DPT-3&#8221;
 the following form shall be substituted, namely:-</p>
<p><br><br><br>
</p>
<p style="widows: 2;" align="right">[File No 1/8/2013-CL-V]<br><br>Amardeep
 Singh Bhatia&nbsp;<br>Joint Secretary to the Government of India</p>
<p style="widows: 8;" align="justify">Note. - The principal rules were
 published in the Gazette of India, Extraordinary, Part II, Section
 sub-section (i), vide number G.S.R. 256(E), dated the 31s1 March,
 2014 and were subsequently amended vide number G.S.R. 386(E), dated
 the 6lh June, 2014.</p>
<p><br>
</p></body></html>