 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 150%; font-family: Arial;"
  align="center"><b style="">MINISTRY OF
 CORPORATE
 AFFAIRS<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 150%; font-family: Arial;"
  align="center"><b style="">NOTIFICATION<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 150%; font-family: Arial;"
  align="center"><b style="">New Delhi, the 23rd
 September, 2016<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">G.S.R.
 908(E).-In exercise of the
 powers conferred by sub-sections (1) and (2) of Section 469 of the
 Companies
 Act, 2013 (18 of 2013), the Central Government hereby makes the
 following rules
 further to amend the Companies (Management and Administration) Rules,
 2014,
 namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">1.
 (1) These rules may be called
 the Companies (Management and Administration) Amendment Rules, 2016. <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(2)
 They shall come into force on
 the date of their publication in the Official Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">2.
 In the Companies (Management
 and Administration) Rules, 2014 (hereafter referred to as principal
 rules), in
 rule 3,- <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(a)
 in sub-rule (1), for the
 proviso, the following proviso shall be substituted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="">&nbsp;</span>"Provided that in the case
 of a company
 existing on the commencement of the Act, the particulars as available
 in the
 register of members maintained under the Companies Act, 1956 shall be
 transferred to the new register of members in Form No.MGT-1 and in case
 additional information, required as per provisions of the Act and these
 rules,
 is provided by the members, such information may also be added in the
 register
 as and when provided.";<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(b)
 in sub-rule (2), for the
 proviso, the following proviso shall be substituted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="">&nbsp;</span>"Provided that in the case
 of a company
 existing on the date of commencement of the Act, the particulars as
 available
 in the register of members maintained under the Companies Act, 1956
 shall be
 transferred to the new register of members in Form No.MGT-1 and in case
 additional information, required as per provisions of the Act and these
 rules,
 is provided by the members, such information may also be added in the
 register
 as and when provided.".<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">3.
 In the principal rules, in
 rule 9,- <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(a)
 in sub-rule (1), the words
 "in duplicate" at both places where they occur, shall be omitted.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(b)
 in sub-rule (2, the words "in
 duplicate" ), at both places where they occur, shall be omitted.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">4.
 In the principal rules, for
 rule 13 the following rule shall be substituted, namely:- <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">"13.
 Every listed company shall
 file with the Registrar, a return in Form No. MGT.10, with respect to
 changes
 in the shareholding position of promoters and top ten shareholders of
 the
 company, in each case, representing increase or decrease by two per
 cent or
 more of the paid-up share capital of the company, within fifteen days
 of such
 change.".<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">5.
 In the principal rules, in
 rule 17, in sub-section (2), in the Explanation, for the words "on
 working
 day", the words "on any day except national holiday" shall be
 substituted. 6.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="">&nbsp;</span>In the principal rules, in
 rule 20, for
 sub-rule (2), the following sub-rule shall be substituted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">"(2)
 Every company which has
 listed its equity shares on a recognised stock exchange and every
 company
 having not less than one thousand members shall provide to its members
 facility
 to exercise their right to vote on resolutions proposed to be
 considered at a
 general meeting by electronic means: <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">Provided
 that a Nidhi, or an
 enterprise or institutional investor referred to in Chapter XB or
 Chapter XC of
 the Securities and Exchange Board of India (Issue of Capital and
 Disclosure
 Requirements) Regulations, 2009 is not required to provide the facility
 to vote
 by electronic means: <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">Explanation.-
 For the purpose of
 this sub-rule, "Nidhi" means a company which has been incorporated as a
 Nidhi
 with the object of cultivating the habit of thrift and savings amongst
 its
 members, receiving deposits from and lending to, its members only, for
 their
 mutual benefit, and which complies with such rules as are prescribed by
 the
 Central Government for regulation of such class of companies.".<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">7.
 In the principal rules, in
 rule 22, sub-rule (7) and sub-rule (14) shall be omitted .<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">8.
 In the principal rules, in rule
 25, in sub-rule (1), in clause (e), the words "or such other place as
 may be
 approved by the Board" shall be omitted.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">9.
 In the principal rules, for
 Form MGT-6, the following Form, shall be substituted, namely:-<o:p></o:p></p>
 </body>
 </html>
 