<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: center;" align="center"><span
style="line-height: 115%;">Government of India&nbsp;<br>
 Ministry of Corporate Affairs&nbsp;<br>
 NOTIFICATION<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right;" align="right"><span
style="line-height: 115%;">New Delhi, 17th July, 2014<o:p></o:p></span></p>
<p class="MsoNormal"><span style="line-height: 115%;">G.S.R.
 507(E).&nbsp;In exercise of the powers conferred by sub-clause (ix) of
 clause(76) of section 2, read with sub-sections (1) and (2) of section
 469 of
 the Companies Act, 2013 (18 of 2013), the Central Government hereby
 makes the
 following rules, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"><span style="line-height: 115%;">1.
 (1) These rules may be called the Companies (Specification of
 definitions
 details) Amendment Rules, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"><span style="line-height: 115%;">(2)
 They shall come into force on the date of their publication in the
 Official
 Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"><span style="line-height: 115%;">2.
 In the Companies (Specification of definitions details) Rules, 2014, in
 rule 3,
 after the words 'a director' the words 'other than an independent
 director'
 shall be inserted.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right;" align="right"><span
 style="line-height: 115%;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal" style="text-align: right;" align="right"><span
 style="line-height: 115%;">[F. No. 01/13/2013 (Part-I) CL-V]<br>
 <br>
 <br>
 Amardeep singh Bhaitia<br>
 Joint Secretary<o:p></o:p></span></p>
 <p class="MsoNormal"><span style="line-height: 115%;">Note:
 The principal rules were published in the gazette of India,
 Extraordinary,
 PartII, Section 3, sub-section (i) vide number G.S.R. 238(E), dated the
 31st
 March, 2014.<o:p></o:p></span></p>
 </body>
 </html>

