<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal"
style="margin-bottom: 4pt; text-align: center; line-height: 15pt;"
align="center"><b style=""><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">MINISTRY OF CORPORATE
 AFFAIRS<o:p></o:p></span></b></p>
<p class="MsoNormal"
style="margin-bottom: 4pt; text-align: center; line-height: 15pt;"
align="center"><b style=""><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">NOTIFICATION<o:p></o:p></span></b></p>
<p class="MsoNormal"
style="margin-bottom: 4pt; text-align: center; line-height: 15pt;"
align="center"><span style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">New
 Delhi, the 27th February, 2014<o:p></o:p></span></p>
<p class="MsoNormal"
 style="margin-bottom: 6pt; text-align: justify; line-height: 15pt;"><b
 style=""><span style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">G.S.R,
 130(E).-</span></b><span style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">In
 exercise of the powers conferred by sub-section (1) of section 467 of
 the
 Companies Act, 2013 (18 of 2013), the Central Government hereby makes
 the
 following amendments to Schedule VII of the said Act, namely:- <o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(1)
 In Schedule VII, for items (i) to (x) and the entries relating thereto,
 the
 following items and entries shall be substituted, namely :- <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
 style="margin: 0cm 0cm 0.0001pt 35.45pt; text-align: justify; text-indent: -17.45pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(i).</span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"> eradicating hunger,
 poverty and malnutrition,
 promoting preventive health care and sanitation <span style="">&nbsp;&nbsp;</span>and
 making available safe drinking water:<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
 style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -18pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(ii).</span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"> promoting education,
 including special education
 and employment enhancing vocation skills especially among children,
 women,
 elderly, and the differently abled and livelihood enhancement projects;
 <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
 style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -18pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(iii).</span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">promoting gender
 equality,
 empowering women, setting up homes and hostels for women and orphans;
 setting
 up old age homes, day care centres and such other facilities for senior
 citizens and measures for reducing inequalities faced by socially and
 economically backward groups;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
 style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -18pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(iv).</span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"> ensuring
 environmental
 sustainability, ecological balance, protection of flora and fauna,
 animal
 welfare, agroforestry, conservation of natural resources and
 maintaining
 quality of soil, air and water; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
 style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -18pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(v).<span
 style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
 </span></span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">protection of national
 heritage,
 alt and culture including restoration of buildings and sites of
 historical
 importance and works of art; setting up public libraries; promotion and
 development of traditional and handicrafts:<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
 style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -18pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(vi).</span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"> measures for the
 benefit of armed forces veterans,
 war widows and their dependents; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
 style="margin: 0cm 0cm 0.0001pt 42.55pt; text-align: justify; text-indent: -24.55pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(vii).</span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">training to promote
 rural sports, nationally recognised
 sports, paralympic sports and Olympic sports;<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
 style="margin: 0cm 0cm 0.0001pt 42.55pt; text-align: justify; text-indent: -24.55pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(viii).</span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">Contribution to the P
 me Minister's National Relief
 Fund or any other fund set up by the Central Government for
 socio-economic
 development and relief and welfare of the Scheduled Castes, the
 Scheduled Tribes,
 other backward classes, minorities and women;<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
 style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -18pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(ix).</span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">Contributions or funds
 provided to technology
 incubators located within academic institutions which are approved by
 the
 Central Government<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
 style="margin: 0cm 0cm 6pt 35.7pt; text-align: justify; text-indent: -17.85pt; line-height: 15pt;"><!--[if !supportLists]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span style="">(x).</span></span><!--[endif]--><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"> Rural development
 projects." <o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">2.
 This notification shall come into force with effect from 1st April 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt;"
 align="right"><span style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span
 style="">&nbsp;</span><b style="">[F. No.
 1/18A/2013-CL-V] <o:p></o:p></b></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt;"
 align="right"><b style=""><span
 style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">RENUKA KUMAR. Jt. Secy.<o:p></o:p></span></b></p>
 </body>
 </html> 

