<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR 627(E) dated 29th August 2014</title></head><body>



 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center">Government of India&nbsp;<br>
 Ministry of Corporate Affairs<o:p></o:p></p>

 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><b>New Delhi, dated the 29th August,
 2014</b><o:p></o:p></p>

 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><b>Notification</b><o:p></o:p></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>G.S.R. 627(E).</b>&nbsp;- In exercise of
 the powers conferred by sub-section (1) of section 467 of the Companies Act,
 2013 (18 of 2013), the Central Government hereby makes the following amendments
 further to amend Schedule II of the said Act with effect from the date of
 publication of this notification in the Official Gazette, namely:-<o:p></o:p></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">1. In Schedule II of the
 Companies Act, 2013,<o:p></o:p></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(a) in Part A , in paragraph 3,
 for sub-paragraph (i), the following sub-paragraph shall be substituted,
 namely:-<o:p></o:p></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">&#8220;(i) The useful life of an asset
 shall not ordinarily be different from the useful life specified in Part C and
 the residual value of an asset shall not be more than five per cent, of the
 original cost of the asset:<o:p></o:p></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">Provided that where a company
 adopts a useful life different from what is specified in Part C or uses a
 residual value different from the limit specified above, the financial
 statements shall disclose such difference and provide justification in this
 behalf duly supported by technical advice&#8221;;<o:p></o:p></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) after Part &#8216;C&#8217;, under the
 heading Notes, --<o:p></o:p></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(i) for paragraph 4 the following
 paragraph shall be substituted namely:-<o:p></o:p></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">4 (a) Useful life specified in
 Part C of the Schedule is for whole of the asset and where cost of a part of
 the asset is significant to total cost of the asset and useful life of that
 part is different from the useful life of the remaining asset, useful life of
 that significant part shall be determined separately.<o:p></o:p></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(b) The requirement under
 sub-paragraph (a) shall be voluntary in respect of the financial year
 commencing on or after the 1st April, 2014 and mandatory for financial
 statements in respect of financial years commencing on or after the 1st April,
 2015.&#8221;<o:p></o:p></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">(c) in paragraph 7, in
 sub-paragraph (b) for the words &#8220;shall be recognized&#8221;, the words &#8220;may be
 recognized&#8221; shall be substituted.<o:p></o:p></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p> 

<p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right">File Number  17/60/2012-CL-V<br>
<br>
<br>
 (Amardeep S. Bhatia)<br>
 Joint Secretary to the Government of India<o:p></o:p></p>

<p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>Note. - Schedule II of the
Companies Act, 2013 came into force with effect from the 1st April, 2014 and
was amended (with effect from 1st April, 2014) vide notification number SO
237(E), dated the 31st March,</b><o:p></o:p></p>
</body></html>