<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R.______ dated 19th March 2015</title></head><body>

<p style="widows: 4;" align="center"><b>GOVERNMENT OF INDIA<br>MINISTRY
OF CORPORATE AFFAIRS<br>NOTIFICATION</b></p>
<p style="widows: 2;" align="right"><b>New Delhi, the 19</b><sup><b>th</b></sup><b>&nbsp;March,
2015</b></p>
<p style="widows: 8;" align="justify"><b>G.S.R._____(E).&#8212;</b>&nbsp;In
  exercise of the powers conferred by section 108 read with
  sub-sections (1) and (2) of section 469 of the Companies Act, 2013
  (18 of 2013), the Central Government hereby makes the following rules
  further to amend the Companies (Management and Administration) Rules,
  2014, namely:&#8212;</p>
<p style="widows: 8;" align="justify">1. (1) These rules may be called
  the Companies (Management and Administration) Amendment Rules, 2015.</p>
<p style="widows: 8;" align="justify">(2) They shall come into force on
  the date of their publication in the Official Gazette.</p>
<p style="widows: 8;" align="justify">2. In the Companies (Management
  and Administration) Rules, 2014, for rule 20, the following rule
  shall be substituted, namely:-</p>
<p style="widows: 8;" align="justify">&#8220;<b>20. Voting though electronic
  means.-</b>&nbsp;(1) The provisions of this rule shall apply in
  respect of the general meetings for which notices are issued on or
  after the date of commencement of this rule.</p>
<p style="widows: 8;" align="justify">(2) Every company other than a
  company referred to in Chapter XB or Chapter XC of the Securities and
  Exchange Board of India (Issue of Capital and Disclosure
 Requirements) Regulations, 2009 having its equity shares listed on a
  recognised stock exchange or a company having not less than one
  thousand members, shall provide to its members facility to exercise
  their right to vote on resolutions proposed to be considered at
  general meetings by electronic means.</p>
<p style="widows: 8;" align="justify"><i><b>Explanation</b></i><b>&nbsp;-</b>&nbsp;For
  the purposes of this rule, the expression-</p>
<p style="widows: 8;" align="justify">(i) &#8220;agency&#8221; means the
  National Securities Depository Limited, the Central Depository
  Services (India) Limited or any other entity approved by the Ministry
 of Corporate Affairs subject to the condition that the National
  Securities Depository Limited, the Central Depository Services
 (India) Limited or such other entity has obtained a certificate from
  the Standardisation Testing and Quality Certification Directorate,
  Department of Information Technology, Ministry of Communications and
  Information Technology, Government of India including with regard to
  compliance with parameters specified under Explanation (vi);</p>
<p style="widows: 8;" align="justify">(ii) &#8220;cut-off date&#8221; means a
  date not earlier than seven days before the date of general meeting
  for determining the eligibility to vote by electronic means or in the
  general meeting,</p>
<p style="widows: 8;" align="justify">(iii) &#8220;cyber security&#8221; means
  protecting information, equipment, devices, computer, computer
  resource, communication device and information stored therein from
  unauthorised access, use, disclosures, disruption, modification or
  destruction;</p>
<p style="widows: 8;" align="justify">(iv) &#8220;electronic voting system&#8221;
 means a secured system based process of display of electronic
  ballots, recording of votes of the members and the number of votes
  polled in favour or against, in such a manner that the entire voting
  exercised by way of electronic means gets registered and counted in
 an electronic registry in a centralised server with adequate cyber
 security;</p>
<p style="widows: 8;" align="justify">(v) &#8220;remote e-voting&#8221; means
  the facility of casting votes by a member using an electronic voting
  system from a place other than venue of a general meeting;</p>
<p style="widows: 8;" align="justify">(vi) &#8220;secured system&#8221; means
  computer hardware, software, and procedure that -</p>
<p style="widows: 8;" align="justify">(a) are reasonably secure from
  unauthorised access and misuse;</p>
<p style="widows: 8;" align="justify">(b) provide a reasonable level of
  reliability and correct operation,</p>
<p style="widows: 8;" align="justify">(c) are reasonably suited to
  performing the intended functions; and</p>
<p style="widows: 8;" align="justify">(d) adhere to generally accepted
  security procedures;</p>
<p style="widows: 8;" align="justify">(vii) &#8220;voting by electronic
  means&#8221; includes &#8220;remote e-voting&#8221; and voting at the general
  meeting through an electronic voting system which may be the same as
  used for remote e-voting.</p>
<p style="widows: 8;" align="justify">(3) A member may exercise his
  right to vote through voting by electronic means on resolutions
  referred to in sub-rule (2) and the company shall pass such
  resolutions in accordance with the provisions of this rule.</p>
<p style="widows: 8;" align="justify">(4) A company which provides the
  facility to its members to exercise voting by electronic means shall
  comply with the following procedure, namely:-</p>
<p style="widows: 8;" align="justify">(i) the notice of the meeting
  shall be sent to all the members, directors and auditors of the
  company either &#8211;</p>
<p style="widows: 8;" align="justify">(a) by registered post or speed
 post; or</p>
<p style="widows: 8;" align="justify">(b) through electronic means,
  namely, registered e-mail ID of the recipient; or</p>
<p style="widows: 8;" align="justify">(c) by courier service;</p>
<p style="widows: 8;" align="justify">(ii) the notice shall also be
  placed on the website, if any, of the company and of the agency
  forthwith after it is sent to the members;</p>
<p style="widows: 8;" align="justify">(iii) the notice of the meeting
  shall clearly state -</p>
<p style="widows: 8;" align="justify">(A) that the company is providing
  facility for voting by electronic means and the business may be
  transacted through such voting;</p>
<p style="widows: 8;" align="justify">(B) that the facility for voting,
  either through electronic voting system or ballot or polling paper
  shall also be made available at the meeting and members attending the
  meeting who have not already cast their vote by remote e-voting shall
  be able to exercise their right at the meeting;</p>
<p style="widows: 8;" align="justify">(C) that the members who have cast
  their vote by remote e-voting prior to the meeting may also attend
  the meeting but shall not be entitled to cast their vote again;</p>
<p style="widows: 8;" align="justify">(iv) the notice shall -</p>
<p style="widows: 8;" align="justify">(A) indicate the process and
  manner for voting by electronic means ;</p>
<p style="widows: 8;" align="justify">(B) indicate the time schedule
  including the time period during which the votes may be cast by
 remote e-voting;</p>
<p style="widows: 8;" align="justify">(C) provide the details about the
 login ID;</p>
<p style="widows: 8;" align="justify">(D) specify the process and manner
  for generating or receiving the password and (or casting of vote in a
  secure manner.</p>
<p style="widows: 8;" align="justify">(v) the company shall cause a
 public notice by way of an advertisement to be published, immediately
  on completion of dispatch of notices for the meeting under clause (i)
  of sub-rule (4) but at least twenty-one days before the date of
  general meeting, at least once in a vernacular newspaper in the
  principal vernacular language of the district in which the registered
  office of the company is situated, and having a wide circulation in
  that district, and at least once in English language in an English
  newspaper having country-wide circulation, and specifying in the said
  advertisement, inter alia, the following matters, namely</p>
<p style="widows: 8;" align="justify">(a) statement that the business
  may be transacted through voting by electronic means ,</p>
<p style="widows: 8;" align="justify">(b) the date and time of
  commencement of remote e-voting;</p>
<p style="widows: 8;" align="justify">(c) the date and time of end of
  remote e-voting;</p>
 <p style="widows: 8;" align="justify">(d) cut-off date;</p>
<p style="widows: 8;" align="justify">(e) the manner in which persons
  who have acquired shares and become members of the company after the
  despatch of notice may obtain the login ID and password;</p>
<p style="widows: 8;" align="justify">(f) the statement that -</p>
<p style="widows: 8;" align="justify">(A) remote e-voting shall not be
  allowed beyond the said date and time;</p>
<p style="widows: 8;" align="justify">(B) the manner in which the
  company shall provide for voting by members present at the meeting;
and</p>
<p style="widows: 8;" align="justify">(C) a member may participate in
 the general meeting even after exercising his right to vote through
 remote e-voting but shall not be allowed to vote again in the
 meeting; and</p>
<p style="widows: 8;" align="justify">(D) a person whose name is
  recorded in the register of members or in the register of beneficial
  owners maintained by the depositories as on the cut-off date only
 shall be entitled to avail the facility of remote e-voting as well as
  voting in the general meeting;</p>
<p style="widows: 8;" align="justify">(g) website address of the
  company, if any, and of the agency where notice of the meeting is
  displayed; and</p>
<p style="widows: 8;" align="justify">(h) name, designation, address,
 email id and phone number of the person responsible to address the
  grievances connected with facility for voting by electronic means:</p>
<p style="widows: 8;" align="justify">Provided that the public notice
  shall be placed on the website of the company, if any, and of the
  agency;</p>
<p style="widows: 8;" align="justify">(vi) the facility for remote
  e-voting shall remain open for not less than three days and shall
  close at 5.00 p.m. on the date preceding the date of the general
  meeting;</p>
<p style="widows: 8;" align="justify">(vii) during the period when
  facility for remote e-voting is provided, the members of the company,
  holding shares either in physical form or in dematerialised form, as
  on the cut-off date, may opt for remote e-voting:</p>
<p style="widows: 8;" align="justify"><b>Provided</b>&nbsp;that once the
 vote on a resolution is cast by the member, he shall not be allowed
  to change it subsequently or cast the vote again:</p>
<p style="widows: 8;" align="justify"><b>Provided further</b>&nbsp;that
  a member may participate in the general meeting even after exercising
  his right to vote through remote e-voting but shall not be allowed to
  vote again;</p>
<p style="widows: 8;" align="justify">(viii) at the end of the remote
  e-voting period, the facility shall forthwith be blocked:</p>
<p style="widows: 8;" align="justify"><b>Provided that&nbsp;</b>if a
  company opts to provide the same electronic voting system as used
  during remote e-voting during the general meeting, the said facility
  shall be in operation till all the resolutions are considered and
 voted upon in the meeting and may be used for voting only by the
  members attending the meeting and who have not exercised their right
  to vote through remote e-voting.</p>
<p style="widows: 8;" align="justify">(ix) the Board of Directors shall
  appoint one or more scrutiniser, who may be Chartered Accountant in
  practice. Cost Accountant in practice, or Company Secretary in
  practice or an Advocate, or any other person who is not in employment
  of the company and is a person of repute who, in the opinion of the
  Board can scrutinise the voting and remote e-voting process in a fair
  and transparent manner:</p>
<p style="widows: 8;" align="justify"><b>Provided&nbsp;</b>that the
  scrutiniser so appointed may take assistance of a person who is not
  in employment of the company and who is well-versed with the
  electronic voting system,</p>
 <p style="widows: 8;" align="justify">(x) the scrutiniser shall be
  willing to be appointed and be available for the purpose of
  ascertaining the requisite majority;</p>
<p style="widows: 8;" align="justify">(xi) the Chairman shall, at the
  general meeting, at the end of discussion on the resolutions on which
  voting is to be held, allow voting, as provided in clauses (a) to (h)
  of sub-rule (1) of rule 21, as applicable, with the assistance of
  scrutiniser, by use of ballot or polling paper or by using an
 electronic voting system for all those members who are present at the
  general meeting but have not cast their votes by availing the remote
  e-voting facility.</p>
<p style="widows: 8;" align="justify">(xii) the scrutiniser shall,
  immediately after the conclusion of voting at the general meeting,
  first count the votes cast at the meeting, thereafter unblock the
  votes cast through remote e-voting in the presence of at least two
  witnesses not in the employment of the company and make, not later
  than three days of conclusion of the meeting, a consolidated
  scrutiniser&#8217;s report of the total votes cast in favour or against,
 if any, to the Chairman or a person authorised by him in writing who
 shall countersign the same:</p>
<p style="widows: 8;" align="justify">Provided that the Chairman or a
  person authorised by him in writing shall declare the result of the
  voting forthwith;</p>
<p style="widows: 8;" align="justify">Explanation.- It is hereby
  clarified that the manner in which members have cast their votes,
  that is, affirming or negating the resolution, shall remain secret
  and not available to the Chairman, Scrutiniser or any other person
  till the votes are cast in the meeting.</p>
<p style="widows: 8;" align="justify">(xiii) For the purpose of ensuring
  that members who have cast their votes through remote e-voting do not
  vote again at the general meeting, the scrutiniser shall have access,
  after the closure of period for remote e-voting and before the start
 of general meeting, to details relating to members, such as their
  names, folios, number of shares held and such other information that
 the scrutiniser may require, who have cast votes through remote
 e-voting but not the manner in which they have cast their votes:</p>
 <p style="widows: 8;" align="justify">(xiv) the scrutiniser shall
  maintain a register either manually or electronically to record the
  assent or dissent received, mentioning the particulars of name,
 address, folio number or client ID of the members, number of shares
  held by them, nominal value of such shares and whether the shares
 have differential voting rights;</p>
<p style="widows: 8;" align="justify">(xv) the register and all other
  papers relating to voting by electronic means shall remain in the
 safe custody of the scrutiniser until the Chairman considers,
 approves and signs the minutes and thereafter, the scrutiniser shall
  hand over the register and other related papers to the company.</p>
<p style="widows: 8;" align="justify">(xvi) the results declared along
 with the report of the scrutiniser shall be placed on the website of
 the company, if any, and on the website of the agency immediately
  after the result is declared by the Chairman :</p>
<p style="widows: 8;" align="justify">Provided that in case of companies
  whose equity shares are listed on a recognised stock exchange, the
  company shall, simultaneously, forward the results to the concerned
  stock exchange or exchanges where its equity shares are listed and
 such stock exchange or exchanges shall place the results on its or
 their website.</p>
<p style="widows: 8;" align="justify">(xvii) subject to receipt of
  requisite number of votes, the resolution shall be deemed to be
  passed on the date of the relevant general meeting.</p>
<p style="widows: 8;" align="justify">Explanation.- For the purposes of
  this clause, the requisite number of votes shall be the votes
  required to pass the resolution as the &#8216;ordinary resolution&#8217; or
 the &#8216;special resolution&#8217;, as the case may be, under section 114
  of the Act.</p>
<p style="widows: 8;" align="justify">(xviii) a resolution proposed to
  be considered through voting by electronic means shall not be
  withdrawn.&#8221; Secretary to the Government of India.</p>
<p style="widows: 8;" align="justify"><br>
</p>
<p style="widows: 2;" align="right">[F. No. 01/34/2013-CL-V-
 Part-I]<br><br>AMARDEEP S. BHATIA, Joint Secretary</p>
<p style="widows: 8;" align="justify"><b>Note.&#8212;</b>The principal rules
  were published in the Gazette of India, Extraordinary, Part II,
 Section 3, Sub-section (i), vide number G.S.R. 260(E), dated the 31s1
 March, 2014 and subsequently amended vide number G.S.R. 415(E), dated
  the 23rd June, 2014 and vide number G.S.R. 537(E), dated the 24th
 July, 2014.</p></body></html>