 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="line-height: 115%;">Government
 of India&nbsp;<br>
 Ministry of Corporate Affairs&nbsp;<br>
 Notification<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;">New
 Delhi, dated,
 30th&nbsp;June, 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">G.S.R.
 424
 (E).-&nbsp;In exercise of the powers conferred by section 42 read
 with
 sub-section (1) ofsection 469 of the Companies Act, 2013 (18 of 2013),
 the
 Central Government hereby makes thefollowing rules to amend the
 Companies
 (Prospectus and Allotment of Securities) Rules, 2014,namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">1.
 (1) These
 rules may be called the Companies (Prospectus and Allotment of
 Securities)Amendment Rules, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(2)
 They shall
 come into force from the date of their publication in the Official
 Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">2.
 In the
 Companies (Prospectus and Allotment of Securities) Rules, 2014, in rule
 14,
 insub-rule (2), in clause (a), after the second proviso, the following
 proviso
 shall be inserted,namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">"Provided
 also
 that in case of an offer or invitation for non-convertible
 debenturesreferred
 to in the second proviso, made within a period of six months from the
 date
 of commencement of these rules, the special resolution referred to in
 the second
 provisomay be passed within the said period of six months from the date
 of
 commencement ofthese rules." .<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;">[File
 No
 1/21/2013-CL-V]<br>
 <br>
 Amardeep Singh Bhatia&nbsp;<br>
 Joint Secretary<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">The
 Principal
 rules were published in the Official Gazette vide notification number
 G.S.R.
 251(E) dated 31st March, 2014.<o:p></o:p></span></p>
 </body>
 </html>
 