 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR237(E)) dated 31st Mar 2014</title></head><body>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="font-size: 9pt; line-height: 115%; color: black;" lang="EN-IN">[TO BE PUBLISH</span><span style="line-height: 115%;" lang="EN-IN">ED IN THE GAZETTE OF
  INDIA, EXTRAORDINARY, PART II,SECTION 3, SUB-SECTION (i)]<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN">Government
  of India&nbsp;<br>
  Ministry of Corporate Affairs&nbsp;<br>
  Notification<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span style="line-height: 115%;" lang="EN-IN">New
  Delhi, dated, the 31st March, 2014<o:p></o:p></span></p>
 
  <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">G.S.R
  237(E).-&nbsp;In exercise of the powers conferred by sub-section (2) of section
  123read with sub-section (1) of section 467 of the Companies Act, 2013 (18 of
  2013), the CentralGovernment hereby makes the following alterations to Schedule
  II to the said Act, namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">1.
  In Schedule II,<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1)
  in Part &#8216;A&#8217;, in para 3, for sub-paragraphs (i) to (iii), the following
  sub-paragraphs shall be substituted, namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">&#8220;(i)
  The useful life of an asset shall not be longer than the useful life specified
  in Part &#8216;C&#8217;and the residual value of an asset shall not be more than five per
  cent. of the original cost ofthe asset:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
  that where a company uses a useful life or residual value of the asset which is
  different from the above limits, justification for the difference shall be
  disclosed in its financial statement.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">&#8220;(ii)
  For intangible assets, the provisions of the accounting standards applicable
  forthe time being in force shall apply, except in case of intangible assets
  (Toll Roads)created under &#8216;Build, Operate and Transfer&#8217;, &#8216;Build, Own, Operate
  and Transfer&#8217;or any other form of public private partnership route in case of
  road projects. Amortisation in such cases may be done as follows:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 Mode of amortisation<o:p></o:p></span></p>
 
 <table class="MsoNormalTable" style="width: 450px; height: 190px; font-family: Arial;" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td style="padding: 3.75pt; width: 132pt;" valign="top" width="176">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 120.75pt;" valign="top" width="161">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Amortisation
   Amount<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 171pt;" valign="top" width="228">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Amortisation
   Rate =<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">_______________________<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">x
   100<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Cost
   of Intangible Assets (A)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
   </td>
  </tr>
 </tbody></table>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Amortisation
 Amount =<o:p></o:p></span></p>
 
 <table class="MsoNormalTable" style="width: 451px; height: 211px; font-family: Arial;" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Actual
   Revenue for the year (B)<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Cost
   of Intangible Assets (A) x<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">_________________________________<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Projected
   Revenue from Intangible Asset<br>
   (till the end of the concession period) (C)<o:p></o:p></span></p>
   </td>
  </tr>
 </tbody></table>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
  Meaning of particulars are as follows :-<o:p></o:p></span></p>
 
 <table class="MsoNormalTable" style="width: 450px; height: 207px; font-family: Arial;" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td style="padding: 3.75pt; width: 89.25pt;" valign="top" width="119">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Cost
    of Intangible Assets (A)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 5.25pt;" valign="top" width="7">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">=<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 329.25pt;" valign="top" width="439">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Cost
    incurred by the company in accordance with the accounting standards.<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Actual
    Revenue for the year (B)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">=<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Actual
    revenue (Toll Charges) received during the accounting year.<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Projected
    Revenue from Intangible Asset (C)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">=<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Total
   projected revenue from the Intangible Assets as provided to the project
   lender at the time of financial closure / agreement.<o:p></o:p></span></p>
   </td>
  </tr>
 </tbody></table>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">The
  amortisation amount or rate should ensure that the whole of the cost of the
  intangible asset is amortised over the concession period.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Revenue
  shall be reviewed at the end of each financial year and projected revenue shall
  be adjusted to reflect such changes, if any, in the estimates as will lead to
  the actual collection at the end of the concession period.<o:p></o:p></span></p>
 
 <table class="MsoNormalTable" style="width: 100%; height: 382px; font-family: Arial;" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td rowspan="5" style="padding: 3.75pt;" valign="top">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">(c)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 202.5pt;" width="270">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Example:-<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 5.25pt;" width="7">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 2.75in;" width="264">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Cost
    of creation of Intangible Assets<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">:<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Rs.
    500/- Crores<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Total
    period of Agreement<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">:<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">20
    Years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Time
    used for creation of Intangible Assets<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">:<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">2
    Years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Intangible
    Assets to be amortised in<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">:<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">18
    Years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td colspan="4" style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Assuming
    that the Total revenue to be generated out of Intangible Assets over the
    period would be Rs. 600 Crores, in the following manner:-<o:p></o:p></span></p>
   </td>
  </tr>
 </tbody></table>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <div style="font-family: Arial; width: 436px;" align="left">
 
 <table class="MsoNormalTable" style="width: 432px; height: 1642px;" border="1" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td style="padding: 3.75pt; width: 44.25pt;" width="59">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   No.<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 54.75pt;" width="73">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Revenue
   ( In Rs. Crores)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 54.75pt;" width="73">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Remarks<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   1<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">5<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Actual<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   2<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">7.5<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   3<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">10<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   4<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">12.5<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   5<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">17.5<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   6<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">20<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   7<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">23<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   8<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">27<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   9<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">31<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   10<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">34<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   11<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">38<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   12<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">41<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   13<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">46<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   14<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">50<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   15<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">53<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   16<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">57<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   17<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">60<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Year
   18<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">67.5<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Estimate
   *<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Total<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">600<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&nbsp;<o:p></o:p></span></p>
   </td>
  </tr>
 </tbody></table>
 
 </div>
 
  <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">&#8216;*&#8217;
  will be actual at the end of financial year.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Based
  on this the charge for first year would be Rs. 4.16 Crore (approximately) (i.e.
  Rs. 5/Rs. 600 x Rs. 500 Crores) which would be charged to profit and loss and
  0.83% (i.e. Rs. 4.16 Crore/ Rs 500 Crore x 100) is the amortisation rate for
  the first year.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Where
  a company arrives at the amortisation amount in respect of the said Intangible
  Assets in accordance with any method as per the applicable Accounting
  Standards, it shall disclose the same.&#8221;.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
   in Part &#8216;C&#8217;, in para 5, in item IV, in sub-item (i), for clause (b), the
   following clause shall be substituted, namely:-<o:p></o:p></span></p>
 
 <table class="MsoNormalTable" style="width: 453px; height: 80px; font-family: Arial;" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td style="padding: 3.75pt; width: 3in;" width="288">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">&#8220;(b)
   continuous process plant for which no special rate has&nbsp;<br>
   been prescribed under (ii) below [NESD]<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt; width: 215.25pt;" width="287">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">25
   years&#8221;<o:p></o:p></span></p>
   </td>
  </tr>
 </tbody></table>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
  under the heading &#8216;Notes&#8217;, appearing after Part &#8216;C&#8217;, paragraph 5 shall be
  omitted.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">2.
  This notification shall come into force with effect from ____________. *<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p> 
 
  <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span style="line-height: 115%;" lang="EN-IN">[File
  Number 17/60/2012-CL-V]<br>
  <br>
  <br>
  (Renuka Kumar)<br>
  Joint Secretary to the Government of India<o:p></o:p></span></p>
 </body></html>