<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R.______ (E) dated 18th March 2015(1)</title></head><body>

<p style="widows: 4;" align="center"><b>Government of India<br>Ministry
of Corporate Affairs<br>Notification</b></p>
<p style="widows: 2;" align="right"><b>New Delhi, Dated 18</b><sup><b>th</b></sup><b>&nbsp;March,
 2015</b></p>
<p style="widows: 8;" align="justify"><b>G.S.R.____(E).&nbsp;</b>In
 exercise of the powers conferred under sub-clause (ii) of clause (a)
 of section 43, sub-clause (d) of sub-section (1) of section 54,
 sub-section (2) of section 55, sub-section (1) of section 56,
 sub-section (3) of section 56, sub-section (1) of section 62,
 sub-section (2) of section 42, clause (f) of sub-section (2) of
 section 63, sub-section (1) of section 64 , clause (b) of sub-section
 of section 67, sub-section (2) of section 68, sub-section (6) of
 section 68, sub-section (9) of section 68, sub-section (10) of
 section 68, sub-section (3) of section 71, sub-section (6) of section
 71, sub-section (13) of section 71 and sub-sections (1) and (2) of
 section 72, read with sub-sections (1) and (2) of section 469 of the
 Companies Act, 2013 (18 of 2013), the Central Government hereby makes
 the following rules further to amend the Companies (Share Capital and
 Debentures) Rules, 2014, namely: -</p>
<p style="widows: 8;" align="justify">1. (1) These rules may be called
 the Companies (Share Capital and Debentures) Amendment Rules, 2015.</p>
<p style="widows: 8;" align="justify">(2) They shall come into force
 from the date of their publication in the Official Gazette.</p>
<p style="widows: 8;" align="justify">2. In the Companies (Share Capital
 and Debenture) Rules, 2014,-</p>
<p style="widows: 8;" align="justify">(1) for rule 3, the following rule
 shall be substituted, namely:-</p>
<p style="widows: 8;" align="justify"><b>3. Application.&nbsp;</b>- The
 provisions of these rules shall apply to &#8211;</p>
<p style="widows: 8;" align="justify">(a) all unlisted public companies;</p>
<p style="widows: 8;" align="justify">(b) all private companies; and</p>
<p style="widows: 8;" align="justify">(c) listed companies so far as
 they do not contradict or conflict with any other regulation framed
 in this regard by the Securities and Exchange Board of India;</p>
 <p style="widows: 8;" align="justify">(2) in rule 5, in sub-rule (3), in
 clause (b),</p>
<p style="widows: 8;" align="justify">(a) the first proviso shall be
 omitted;</p>
<p style="widows: 8;" align="justify">(b) in the second proviso for the
 words &#8220;provided further that&#8221;, the words &#8220;provided that&#8221;
 shall be substituted;</p>
<p style="widows: 8;" align="justify">(c) in the third proviso for the
 words &#8220;provided also that&#8221; the words &#8220;provided further that&#8221;
 shall be substituted;</p>
 <p style="widows: 8;" align="justify">(3) in rule 6, in sub-rule (2), in
 clause (c), for the words &#8220;within fifteen days&#8221;, the words
 &#8220;within forty-five days&#8221; shall be substituted;</p>
<p style="widows: 8;" align="justify">(4) in rule 12, in sub-rule (1),
 in the Explanation, in clause (c), the words &#8220;or of an associate
 company&#8221; shall be omitted;</p>
<p style="widows: 8;" align="justify">(5) in rule 13, in sub-rule (1),</p>
<p style="widows: 8;" align="justify">(a) in the proviso, for the words
 &#8220;provided that&#8221; the words &#8220;provided further that shall be
 substituted and before the proviso as so amended, the following
 proviso shall be inserted, namely:-</p>
<p style="widows: 8;" align="justify">Provided that in case of any
 preferential offer made by a company to one or more existing members
 only, the provisions of sub-rule (1) and proviso to sub-rule (3) of
 rule 14 of Companies (Prospectus and Allotment of Securities) Rules,
 2014 shall not apply.&#8221;</p>
<p style="widows: 8;" align="justify">(6) in rule 18,-</p>
<p style="widows: 8;" align="justify">(a) in sub-rule (1)-</p>
<p style="widows: 8;" align="justify">(A) in clause (d), for sub-clauses
 (i) and (ii), the following sub-clauses shall be substituted ,
 namely: -</p>
<p style="widows: 8;" align="justify">&#8220;(i) any specific movable
 property of the company ; or</p>
<p style="widows: 8;" align="justify">(ii) any specific immovable
 property wherever situate, or any interest therein:</p>
<p style="widows: 8;" align="justify">Provided that in case of a
 non-banking financial company, the charge or mortgage under
 sub-clause (i) may be created on any movable property&#8221;</p>
<p style="widows: 8;" align="justify">(B) in clause (d), after
 sub-clause (ii), following proviso shall be inserted, namely: -</p>
<p style="widows: 8;" align="justify">&#8220;Provided further that in case
 of any issue of debentures by a Government company which is fully
 secured by the guarantee given by the Central Government or one or
 more State Government or by both, the requirement for creation of
 charge under this sub-rule shall not apply.&#8221;</p>
<p style="widows: 8;" align="justify">Provided also that in case of any
 loan taken by a subsidiary company from any bank or financial
 institution the charge or mortgage under this sub-rule may also be
 created on the properties or assets of the holding company;</p>
<p style="widows: 8;" align="justify">(b) in sub-rule (5), for the words
 &#8220;within sixty days of allotment of debentures&#8221;, the words &#8220;within
 three months of closure of the issue or offer&#8221; shall be
 substituted;</p>
<p style="widows: 8;" align="justify">(c) after sub-rule (8), following
 sub-rules shall be inserted, namely:-</p>
<p style="widows: 8;" align="justify">&#8220;(9) Nothing contained in this
 rule shall apply to any amount received by a company against issue of
 commercial paper or any other similar instrument issued in accordance
 with the guidelines or regulations or notification issued by the
 Reserve Bank of India.</p>
 <p style="widows: 8;" align="justify">(10) In case of any offer of
 foreign currency convertible bonds or foreign currency bonds issued
 in accordance with the Foreign Currency Convertible Bonds and
 Ordinary Shares (Through Depository Receipt Mechanism) Scheme, 1993
 or regulations or directions issued by the Reserve Bank of India, the
 provisions of this rule shall not apply unless otherwise provided in
 such Scheme or regulations or directions.&#8221;</p>
<p style="widows: 8;" align="justify">(7) in rule 19, in sub-rule (11),
 for the word, letters and figures &#8220;Form No. SH- 14&#8221;, the word,
 letters and figures &#8220;Form SH-13&#8221; shall be substituted.</p>
<p style="widows: 8;" align="justify">(8) in the Annexure, for "Form
 SH-13" and "Form SH-14", the following Forms shall
 respectively, be substituted, namely:-</p>
<p style="widows: 8;" align="justify"><br>
</p>
<p style="widows: 2;" align="right">[F.No. 1/4/2013-Cl-V-
 (Pt-I)<br><br>Amardeep S. Bhatia&nbsp;<br>(Joint Secretary)</p>
<p style="widows: 8;" align="justify">Note. - The principal rules were
 published in the Gazette of India Part II section 3, sub-section (i)
 vide number GSR 265(E) dated 31st March, 2014 and subsequently
 amended vide GSR Number 413(E) dated 18th June, 2014.</p>
<p style="widows: 8;" align="justify"><br>
</p></body></html>