<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><span
 lang="EN-IN">GOVERNMENT
OF INDIA&nbsp;<br>
MINISTRY OF CORPORATE AFFAIRS<br>
NOTIFICATION<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">New
Delhi, the 12th June, 2015<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">G.S.R
(E).-&nbsp;In exercise of the powers conferred by sub-sections (1)
and (2) of
section 469 and section 148 of the Companies Act, 2013 (18 of 2013),
the
Central Government hereby makes the following rules further to amend
the
Companies (cost records and audit) Rules, 2014, namely:-<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">1. (1) These
rules may be called the Companies (cost records and audit) (Amendment)
Rules,
2015. (2) They shall come into force from the date of their publication
in the
official Gazette.<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">2. In the
Companies (cost records and audit) Rules, 2014, in the Annexure, for
Forms
CRA-2 and CRA- 4, the following forms shall respectively be
substituted,
namely:-<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN"><br>
<br style="">
<!--[if !supportLineBreakNewLine]--><br style="">
<!--[endif]--><o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right"><span
 lang="EN-IN">AMARDEEP
SINGH BHATIA&nbsp;<br>
Joint Secretary to the Government of India<o:p></o:p></span></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;"><span
 lang="EN-IN">Note.- The
principal rules were published in the Gazette of India, Extraordinary,
Part II,
Section 3, Sub-section (i), vide number G.S.R. 425 (E), dated the 30,h
June,
2014 and amended vide number G.S.R. 01(E), dated the 31st December,
2014.<o:p></o:p></span></p>
<p style="font-family: Arial;" class="MsoNormal"><span
 lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
</body>
</html>
