 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="line-height: 115%;">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="line-height: 115%;">NOTIFICATION<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;">New
 Delhi, the
 18th June, 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">G.S.R.
 413.(E).-&nbsp;In exercise of the powers conferred under sub-clause
 (ii) of
 clause (a) of section 43,sub-clause (d) of sub-section (1) of section
 54,
 sub-section (2) of section 55, sub-section (1) of section 56,
 subsection(3) of
 section 56, sub-section (1) of section 62, sub-section (2) of section
 42,
 clause (f) of sub-section (2)of section 63, sub-section (1) of section
 64 ,
 clause (b) of sub-section 3 of section 67, sub-section (2) of
 section68,
 sub-section (6) of section 68, sub-section (9) of section 68,
 sub-section (10)
 of section 68, sub-section (3) ofsection 71, sub-section (6) of section
 71,
 sub-section (13) of section 71 and sub-sections (1) and (2) of
 section72, read
 with sub-sections (1) and (2) of section 469 of the Companies Act, 2013
 (18 of
 2013), the CentralGovernment hereby makes the following rules to amend
 the
 Companies (Share Capital and Debentures) Rules,2014, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">1.
 (1) These
 rules may be called the Companies (Share Capital and Debentures)
 Amendment
 Rules, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(2)
 They shall
 come into force from the date of their publication in the Official
 Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">2.
 In the
 Companies (Share Capital and Debenture) Rules 2014,-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(i)
 in rule 4,
 after sub-rule (6), for the Explanation, the following Explanation
 shall be
 substituted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">"Explanation.-
 For the purposes of this rule it is hereby clarified that equity shares
 with
 differential rights issuedby any company under the provisions of the
 Companies
 Act, 1956 (1 of 1956) and the rules made thereunder,shall continue to
 be
 regulated under such provisions and rules.".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(ii)
 in rule 13,<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(a)
 in sub-rule
 (2), after clause (j), the following Explanation shall be inserted,
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">"Explanation.-
 For the purposes of these rules, it is hereby clarified that, till a
 registered
 valuer is appointed inaccordance with the provisions of the Act, the
 valuation
 report shall be made by an independent merchantbanker who is registered
 with
 the Securities and Exchange Board of India or an independent
 CharteredAccountant in practice having a minimum experience of ten
 years".;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(b)
 after
 sub-rule (2), the following sub-rule shall be inserted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">"(3)
 The price of
 shares or other securities to be issued on preferential basis shall not
 be less
 than the pricedetermined on the basis of valuation report of a
 registered
 valuer.".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(iii)
 in rule 18,<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(a)
 in sub-rule
 (1), in clause (a), for the proviso, the following proviso shall be
 substituted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">"Provided
 that
 the following classes of companies may issue secured debentures for a
 period
 exceeding ten years but not exceeding thirty years,<o:p></o:p></span></p>
 <span style="font-family: Arial;"> <p
 class="MsoNormal" style="text-align: justify;"></span><span
  style="line-height: 115%; font-family: Arial;">(i)
 Companies
 engaged in setting up of infrastructure projects;<o:p></o:p></span>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(ii)
 'Infrastructure Finance Companies' as defined in clause (viia) of
 sub-direction
 (1) of direction 2 of Non-Banking Financial (Non-deposit accepting or
 holding)
 Companies Prudential Norms (Reserve Bank) Directions, 2007;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(iii)
 'Infrastructure Debt Fund Non-Banking Financial companies' as defined
 in clause
 of (b) direction 3 of Infrastructure Debt Fund Non-Banking Financial
 Companies
 (Reserve Bank) Directions, 2011".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(b)
 in sub-rule
 (7), in clause (b), in sub-clause (ii), after the letters, brackets,
 words and
 figures "RBI (Amendment) Act, 1997", the words "and for Housing Finance
 Companies registered with the National Housing Bank" shall be inserted.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;">[F
 .No. 01/04/2013(Part-I)
 CL-V]<br>
 AMARDEEP SINGH BHATIA, Jt. Secy.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">Note:-&nbsp;The
 principal rules were published in the Gazette of India, Part II,
 Section 3,
 sub-section (i) vide no.G.S.R. 265(E), dated the 31st March, 2014.<o:p></o:p></span></p>
 </body>
 </html>
 