<html>
<head>
<!-- <style> -->
<!-- body { -->
    <!-- font-family: "Arial", Serif; -->
<!-- } -->
<!-- </style> -->
</head>
<body style="font-family: Verdana, Tahoma, Arial;font-size: 16px;">
<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 29th December, 2016
</p>
<p>
    <strong>G.S.R. 1184(E).-</strong>
    In exercise of the powers conferred by sub-sections (1) and (2) of section
    469 of the Companies Act, 2013 (18 of 2013), the Central Government hereby
    makes the following rules further to amend the Companies (Incorporation)
    Rules, 2014, namely: -
</p>
<p>
    1. (1) These rules may be called the Companies (Incorporation) Fifth
    Amendment Rules, 2016.
</p>
<p>
    (2) They shall come into force on the 1st day of January, 2017.
</p>
<p>
    2. In the Companies (Incorporation) Rules, 2014 (hereinafter referred to as
    the principal rules),
</p>
<p>
    3. In the principal rules,
</p>
<p>
    (a) in rule 4, in sub-rule (2), for the words and figures 'such nomination
    in Form No. INC-2 along with consent of such nominee obtained in Form No.
    INC-3' the words and figures 'such nomination in Form No. INC-32 (SPICe)
    along with consent of such nominee obtained in Form No. INC-3' shall be
    substituted.
</p>
<p>
    (b) in rule 10, for the words and figures 'Form No. INC-7' the words and
    figures 'Form No. INC-7 or Form No. INC- 32(SPICe)' shall be substituted.
</p>
<p>
    (c) in rule 12, for the words and figures 'Form No. INC-2 (for One Person
    Company) and Form No. INC-7 (other than One Person Company)' the words and
    figures 'Form No. INC-7 (Part I company and company with more than seven
    subscribers) and Form No. INC-32 (SPICe)' shall be substituted.
</p>
<p>
    (d) rule 36 shall be omitted.
</p>
<p>
    (e) for rule 38, the following rule shall be substituted, namely:-
</p>
<p>
    <strong>
        "38. Simplified Proforma for Incorporating Company Electronically
        (SPICe).-
    </strong>
</p>
<p>
    (1) The application for incorporation of a company under this rule shall be
    in FORM No. INC-32 (SPICe) alongwith e-Memorandum of Association (e-MOA) in
    Form No. INC-33 and e-Articles of Association (e-AOA) in Form No. INC-34.
</p>
<p>
    Provided that in case of incorporation of a company falling under section 8
    of the Act, FORM No. INC-32 (SPICe) shall be filed along with FORM No.
    INC-13 (Memorandum of Association) and FORM No. INC-31 (Articles of
    Association) as attachments.
</p>
<p>
    (2) For the purposes of sub-rule (1), the application for allotment of
    Director Identification Number upto three Directors, reservation of a name,
    incorporation of company and appointment of Directors of the proposed
    <strong>
        for One Person Company, private company, public company and a company
        falling under section 8 of the Act
    </strong>
    , shall be filed in <strong>FORM No. INC- 32 (SPICe), </strong>, with the
    Registrar, within whose jurisdiction the registered office of the company
is proposed to be situated along with the fee of    <strong>rupees five hundred </strong>in addition to the registration fee as
    specified in the Companies (Registration of Offices and Fees) Rules, 2014:
</p>
<p>
    Provided that where an applicant has applied for reservation of a name
    under Rule 9 and which has been approved therein, he may fill the reserved
    name as proposed name of the company.
</p>
<p>
    (3) For the purposes of filing SPICe Form, the particulars of maximum of
    three directors shall be allowed to be filled in FORM No. INC-32 (SPICe),
    and allotment of Director Identification Number of maximum of three
    proposed directors shall be permitted in FORM No. INC-32 (SPICe) in case of
    proposed directors not having approved Director Identification Number.
</p>
<p>
    (4) The promoter or applicant of the proposed company shall propose only
    one name in FORM No. INC-32 (SPICe).
</p>
<p>
    (5) The promoter or applicant of the proposed company shall prepare
    Memorandum of Association (e-MoA) in FORM No. INC-33 and Articles of
    Association (e-AoA) in FORM No. INC-34, in accordance with rule 13.
</p>
<p>
    Provided that the subscribers and witness or witnesses shall affix their
    digital signatures to the e-MoA and e-AoA.
</p>
<p>
    (6) For incorporation using application as provided in this rule,
    provisions of the sub-clause (i) of sub-section (5) of section 4 of the
    Act, rule 9, and clause (a) of sub-rule (1) of rule 16 to the extent of
    affixing recent photograph shall not apply.
</p>
<p>
    (7) A company using the provisions of this rule may furnish verification of
    its registered office under sub-section (2) of section 12 of the Act by
    filing FORM No. INC-32 (SPICe) in which case the company shall attach along
    with such FORM No. INC-32 (SPICe), any of the documents referred to in
    sub-rule (2) of rule 25.
</p>
<p>
    (8) FORM No. INC-22 shall not be required to be filed in case the proposed
    company maintains its registered office at the given correspondence
    address.
</p>
<p>
    (9) (a) Where the Registrar, on examining FORM No. INC-32 (SPICe), finds
    that it is necessary to call for further information or finds such
    application or document to be defective or incomplete in any respect, he
    shall give intimation to the applicant to remove the defects and re-submit
    the e-form within fifteen days from the date of such intimation given by
    the Registrar.
</p>
<p>
    (b) After the resubmission of the document, if the registrar still finds
    that the document is defective or incomplete in any respect, he shall give
    one more opportunity of fifteen days to remove such defects or
    deficiencies.
</p>
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td width="246" height="24">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p>
    Provided that the total period for re-submission of documents shall not
    exceed thirty days.
</p>
<p>
    (10) The Certificate of Incorporation of company shall be issued by the
    Registrar in Form No. INC-11.".
</p>
<p>
    4. In the principal rules ,-
</p>
<p>
    (a) Form No. INC-2 shall be omitted;
</p>
<p>
    (b) for Form No. INC-7 shall be substituted.
</p>
<p>
    (c) in Form No. INC-11, for the words and figures 'rule 8 the Companies
    (Incorporation) Rules, 2014', the words and
</p>
<p>
    figures 'rule18 of the Companies (Incorporation) Rules, 2014' shall be
    substituted.
</p>
<p>
    (d) For Form No. INC-27, the following form shall be substituted.
</p>
<p>
    (e) FORM No. INC-29 shall be omitted.
</p>
<p align="right">
    [F. No. 1/13/2013 CL-V]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>
</body>
</html>