<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: center;" align="center"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: center;" align="center"><b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">GOVERNMENT OF INDIA&nbsp;<br>
MINISTRY OF CORPORATE AFFAIRS&nbsp;</span></b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><br>
<b>NOTIFICATION</b><o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: right;" align="right"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">New Delhi, the 16th January. 2015<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">G.S.R_____(E).</span></b><span style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">&nbsp;In
exercise of the powers conferred by section 469 of the Companies Act,2013 (18 of 2013), the Central Government hereby makes the following rules 
further to amend the Companies (Accounts) Rules, 2014, namely-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">1. (1) These rules may be called the Companies (Accounts) Amendment Rules,
2015.<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(2)They shall come into force on the date of their publication in the Official zette.<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">2.
In the Companies (Accounts) Rules, 2014,-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(i)
after rule 2, following rule shall be inserted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">"2A.Notice of address at which books of account are to be maintained. - For the purposes of the first proviso to sub-section (1) of section 128, the notice regarding address at which books of account may be kept shall be in Form AOC-5."<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(ii)in rule 6. after the third proviso, the following proviso shall be inserted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">"Provided also that nothing in this rule shall apply in respect of consolidation of financial statement by a company having subsidiary or subsidiaries incorporated outside India only for the financial year commencing on or after st April, 014."<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(iii) in the Annexure. after Form AOC-4. the following Form shall be inserted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal" style="text-align: right;" align="right"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">[F. No.
1/19/2013-CL-V-Part]<br>
<br>
AMARDEEP SINGH BHATIA,&nbsp;<br>
joint Secretary<o:p></o:p></span></p>
<p class="MsoNormal"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">Note
.-</span></b><span style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">&nbsp;The principal rules were published in ihe Gazette of India. Extraordinary,
Part II. Section3. Sub-section (i) vide number G.S.R. 239(E). dated the 31st March, 2014 and was subsequently amended by notification number G.S.R. 723(E), dated the
14th October, 2014.<o:p></o:p></span></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>

