<p>
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p>
    <strong>NOTIFICATION</strong>
</p>
<p>
    New Delhi, the 28th February, 2017
</p>
<p>
    <strong>G.S.R. 178(E).</strong>
    -In exercise of the powers conferred by sub-sections (1), (2), (3), (4),
    (8), (9), (10) and (11) of section 125 and sub-section (6) of section 124
    read with section 469 of the Companies Act, 2013 (18 of 2013), the Central
    Government hereby makes the following rules, to amend the Investor
    Education and Protection Fund Authority (Accounting, Audit, Transfer and
    Refund) Rules, 2016, namely:-
</p>
<p>
    1. (1) These rules may be called the Investor Education and Protection Fund
    Authority (Accounting, Audit, Transfer and Refund) Amendment Rules, 2017.
</p>
<p>
    (2) They shall come into force from the 28th February, 2017.
</p>
<p>
    2. In the Investor Education and Protection Fund Authority (Accounting,
    Audit, Transfer and Refund) Rules, 2016, (hereinafter referred to as the
    Principal rules) in rule 2, in sub-rule (1), for sub-rule (d), the
    following shall be substituted, namely:
</p>
<p>
    (d) "Company" means a company defined in sub-section (20) of section 2 of
    the Act and includes 'corresponding new bank' as defined in sub-section (d)
    of section 2 of the Banking Companies (Acquisition and Transfer of
    Undertakings) Act, 1970 (5 of 1970) and clause (b) of section 2 of the
    Banking Companies (Acquisition and Transfer of Undertakings) Act, 1980 (40
    of 1980) and 'subsidiary bank' as defined in clause (k) of section 2 of
    State Bank of India (Subsidiary Bank) Act, 1959 (38 of 1959);
</p>
<p>
    (da) "Corporate action" means any action taken by the company relating to
    transfer of shares and all the benefits accruing on such shares namely,
    bonus shares, split, consolidation, fraction shares etc., except right
    issue to the Authority;
</p>
<p>
    3. In the principal rules, in rule 3, in sub-rule (2) for clause (g), the
    following clause shall be substituted, namely:-
</p>
<p>
    '(g) all amounts payable as mentioned in sub-section (3) of section 10B of
    the Banking Companies (Acquisition and Transfer of Undertakings) Act, 1970,
    section 10B of the Banking Companies (Acquisition and Transfer of
    Undertakings) Act, 1980 and section 40A of the State Bank of India
    (Subsidiary Bank) Act, 1959; and'.
</p>
<p>
    4. In the principal rules, for rule 6, the following rule shall be
    substituted, namely:-
</p>
<p>
    "6. Manner of transfer of shares under sub-section (6) of section 124 to
    the Fund.- (1) The shares shall be credited to DEMAT Account of the
    Authority to be opened by the Authority for the said purpose, within a
    period of thirty days of such shares becoming due to be transferred to the
    Fund:
</p>
<p>
    Provided that, in case the beneficial owner has encashed any dividend
    warrant during the last
</p>
<p>
    seven years, such shares shall not be required to be transferred to the
    Fund even though some dividend warrants may not have been encashed:
</p>
<p>
    Provided further that in cases where the period of seven years provided
    under sub-section (5)
</p>
<p>
    of section 124 has been completed or being completed during the period from
    7th September, 2016 to 31st May, 2017, the due date of transfer of such
    shares shall be deemed to be 31st May, 2017.
</p>
<p>
    (2) For the purposes of effecting transfer of such shares, the Board shall
    authorise the Company Secretary or any other person to sign the necessary
    documents.
</p>
<p>
    (3) The company shall follow the following procedure while transferring the
    shares, namely:-
</p>
<p>
    (a) The company shall inform, at the latest available address, the
    shareholder concerned regarding transfer of shares three months before the
    due date of transfer of shares and also simultaneously publish a notice in
    the leading newspaper in English and regional language having wide
    circulation informing the concerned that the names of such shareholders and
    their folio number or DP ID - Client ID are available on their website duly
    mentioning the website address.
</p>
<p>
    (b) In case, where there is a specific order of Court or Tribunal or
    statutory Authority restraining any transfer of such shares and payment of
    dividend or where such shares are pledged or hypothecated under the
    provisions of the Depositories Act, 1996 or shares already been transferred
    under sub-rule (1) above, the company shall not transfer such shares to the
    Fund:
</p>
<p>
    Provided that the company shall furnish details of such shares and unpaid
    dividend to the Authority in Form No. IEPF 3 within thirty days from the
    end of financial year.
</p>
<p>
    (c) For the purposes of effecting the transfer, where the shares are dealt
    with in a depository<strong>- </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    (i) the Company shall inform the depository by way of corporate action,
    where the shareholders have their accounts for transfer in favour of the
    Authority.
</p>
<p>
    (ii) on receipt of such intimation, the depository shall effect the
    transfer of shares in favour of DEMAT account of the Authority.
</p>
<p>
    (d) For the purposes of effecting the transfer where the shares are held in
    physical form-
</p>
<p>
    (i) the Company Secretary or the person authorised by the Board shall make
    an application, on behalf of the concerned shareholders, to the company,
    for issue of duplicate share certificates;
</p>
<p>
    (ii) on receipt of the application under clause (a), a duplicate
    certificate for each such shareholder shall be issued and it shall be
    stated on the face of it and be recorded in the register maintained for the
    purpose, that the duplicate certificate is "Issued in lieu of share
    certificate No..... for purpose of transfer to IEPF" and the word
    "duplicate" shall be stamped or punched in bold letters on the first page
    of the share certificate;
</p>
<p>
    (iii) particulars of every share certificate issued as above shall be
    entered forthwith in a register of renewed and duplicate share certificates
    maintained in Form No. SH-2 as specified in the Companies (Share Capital
    and Debentures) Rules, 2014;
</p>
<p>
    (iv) after issue of duplicate share certificates, the company shall inform
    the depository by way of corporate action to convert the duplicate share
    certificates into DEMAT form and transfer in favour of the Authority.
</p>
<p>
    (4) The company shall make such transfers through corporate action and
    shall preserve copies for its records<em>.</em>
</p>
<p>
    <em> </em>
</p>
<p>
    (5) While effecting such transfer, the company shall send a statement to
    the Authority in Form No. IEPF 4 containing details of such transfer.
</p>
<p>
    (6) The voting rights on shares transferred to the Fund shall remain frozen
    until the rightful owner claims the shares:
</p>
<p>
    Provided that for the purpose of the Securities and Exchange Board of India
    (Substantial Acquisition of Shares and Takeovers) Regulations, 2011, the
    shares which have been transferred to the Authority shall not be excluded
    while calculating the total voting rights.
</p>
<p>
    (7) The company shall maintain the details of shareholding of each
    individual shareholders whose shares have been credited to the DEMAT
    account of the Authority.
</p>
<p>
    (8) All benefits accruing on such shares e.g., bonus shares, split,
    consolidation, fraction shares etc., except right issue shall also be
    credited to such DEMAT account.
</p>
<p>
    (9) The shares held in such DEMAT account shall not be transferred or dealt
    with in any manner whatsoever except for the purposes of transferring the
    shares back to the claimant as and when he approaches the Authority or in
    accordance with sub-rule (10) and (11).
</p>
<p>
    (10) If the company is getting delisted, the Authority shall surrender
    shares on behalf of the shareholders in accordance with the Securities and
    Exchange Board of India (Delisting of Equity Shares) Regulations, 2009 and
    the proceeds realised shall be credited to the Fund and a separate ledger
    account shall be maintained for such proceeds.
</p>
<p>
    (11) In case the company whose shares or securities are held by the
    Authority is being wound up, the Authority may surrender the securities to
    receive the amount entitled on behalf of the security holder and credit the
    amount to the Fund and a separate ledger account shall be maintained for
    such proceeds.
</p>
<p>
    (12) Any further dividend received on such shares shall be credited to the
    Fund and a separate ledger account shall be maintained for such proceeds".
</p>
<p>
    5. In the principal rules, for rule 7, the following rule shall be
    substituted, namely:-
</p>
<p>
    "7. Refund to claimants from Fund.- (1) Any person whose shares, unclaimed
    dividend, matured deposits, matured debentures, application money due for
    refund, or interest thereon, sale proceeds of fractional shares, redemption
    proceeds of preference shares etc., has been transferred to the Fund, may
    claim the shares under proviso to sub-section (6) of section 124 or apply
    for refund under clause (a) of sub-section (3) of section 125 or under
    proviso to sub-section (3) of section 125, as the case may be, to the
    Authority by submitting an online application in Form IEPF-5 available on
    the website www.iepf.gov.in along with fee specified by the Authority from
    time to time in consultation with the Central Government.
</p>
<p>
    (2) The claimant shall after making an application in Form IEPF-5 under
    rule (1), send the same duly signed by him along with, requisite documents
    as enumerated in Form IEPF-5 to the concerned company at its registered
    office for verification of his claim.
</p>
<p>
    (3) The company shall, within fifteen days from the date of receipt of
    claim, send a verification report to the Authority in the format specified
    by the Authority along with all the documents submitted by the claimant.
</p>
<p>
    (4) After verification of the entitlement of the claimant-
</p>
<p>
    (a) to the amount claimed, the Authority and then Drawing and Disbursement
    Officer of the Authority shall present a bill to the Pay and Accounts
    Office for e- payment as per the guidelines ,
</p>
<p>
    (b) to the shares claimed, the Authority shall issue a refund sanction
    order with the approval of the Competent Authority and shall credit the
    shares to the DEMAT account of the claimant to the extent of the claimant's
    entitlement.
</p>
<p>
    (5) The Authority shall, in its records, cause a note to be made of all the
    payments made under sub-rule (4).
</p>
<p>
    (6) An application received for refund of any claim under this rule duly
    verified by the concerned company shall be disposed off by the Authority
    within sixty days from the date of receipt of the verification report from
    the company, complete in all respects and any delay beyond sixty days shall
    be recorded in writing specifying the reasons for the delay and the same
    shall be communicated to the claimant in writing or by electronic means.
</p>
<p>
    (7) In cases, where the application is incomplete or not approved, a
    communication shall be sent to the claimant and the concerned company by
    the Authority detailing deficiencies of the application.
</p>
<p>
    (8) In case, claimant is a legal heir or successor or administrator or
    nominee of the registered share holder, he has to ensure that the
    transmission process is completed by the company before filing any claim
    with the Authority.
</p>
<p>
    (9) In case, claimant is a legal heir or successor or administrator or
    nominee of any other registered security or in cases where request of
    transfer or transmission of shares is received after the transfer of shares
    by company to the Authority, the company shall verify all requisite
    documents required for registering transfer or transmission and shall issue
    letter to the claimant indicating his entitlement to the said security and
    furnish a copy of the same to the Authority while verifying the claim of
    such claimant.
</p>
<p>
    (10) The claimant shall file only one consolidated claim in respect of a
    company in a financial year.
</p>
<p>
    (11) The company shall be liable under all circumstances whatsoever to
    indemnify the Authority in case of any dispute or lawsuit that may be
    initiated due to any incongruity or inconsistency or disparity in the
    verification report or otherwise and the Authority shall not be liable to
    indemnify the security holder or Company for any liability arising out of
    any discrepancy in verification report submitted etc., leading to
</p>
<p>
    any litigation or complaint arising thereof.".
</p>
<p>
    6. In the principal rules, -
</p>
<p>
    (i) in forms IEPF-3 and IEPF-5, the word "/bank" and "/Bank Corporate
    Identification Number (BCIN)" shall be omitted, wherever they are
    occurring;
</p>
<p>
    (ii) in form IEPF -6, part of serial number 5 substituted.
</p>
<p align="right">
    [F. No. 05/23/2016-IEPF]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>