<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b
 style="">Government of India<o:p></o:p></b></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b
 style="">MINISTRY OF
CORPORATE AFFAIRS<o:p></o:p></b></p>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b
 style="">Notification<o:p></o:p></b></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">New
Delhi, 10<sup>th</sup> March, 2016 <o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; text-indent: 0.5in; font-family: Arial;">G.S.R.
(E) - In exercise of the powers conferred by sub-sections (1) and (2)
of
Section 469 of the Companies Act, 2013 918 of 2013), the Central
government<span style="">&nbsp;&nbsp; </span>hereby
makes the following
rules, further to amend the Companies<span style="">&nbsp;
</span>(
Share Capital and Debentures) rules, 2014, namely:- <o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; text-indent: 0.5in; font-family: Arial;"><br>
1.</p>
<p class="MsoNormal"
 style="text-align: justify; text-indent: 0.5in; font-family: Arial;">&nbsp;<span
 style=""></span>(1) These rules may be called the
Companies (Share Capital
and Debentures) Amendment Rules, 2016</p>
<p class="MsoNormal"
 style="text-align: justify; text-indent: 0.5in; font-family: Arial;">&nbsp;(2)
They shall come into force on
the date of their publication in the official gazette<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">2.<span
 style="">&nbsp; </span>In the Companies (Share
Capital and Debentures)Rules,
2014, in rule 17, in sub rule (1), in clause 9n) after sub-clause
(iii), the
following proviso shall be inserted namely:-<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: justify; font-family: Arial;">"provided
that where the audited accounts are more than six months old, the
calculations
with reference to buy back shall be on the basis of un-audited accounts
not
older than six months from the date of offer document which are
subjected to
limited review by the auditors of the company."<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">[F.
No. 01/04/2013 CL-V(Part-II)]<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Sd/-<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">(Amardeep
Singh Bhatia)<o:p></o:p></p>
<p class="MsoNormal"
 style="text-align: right; font-family: Arial;" align="right">Joint
Secretary to the Government of India<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body>
</html>
