<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR 425 (E) daetd 30th June 2014</title></head><body>

<p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN">Ministry of Corporate Affairs<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN">Notification,<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span style="line-height: 115%;" lang="EN-IN">New Delhi, 30th June, 2014<o:p></o:p></span></p>

<p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b><span lang="EN-IN">G.S.R. 425
 (E).&#8212; -</span></b><span lang="EN-IN">&nbsp;</span><span style="line-height: 115%;" lang="EN-IN">In exercise of the powers
 conferred by sub-sections (1) and (2) of section 469 and section 148 of the
 Companies Act, 2013 (18 of 2013) and in supersession of Companies (Cost
 Accounting Records) Rules, 2011; Companies (Cost Audit Report) Rules,2011; Cost
 Accounting Records (Telecommunication Industry) Rules, 2011; Cost Accounting
 Records (Petroleum Industry) Rules, 2011; Cost Accounting Records(Electricity
 Industry) Rules, 2011; Cost Accounting Records (Sugar Industry) Rules,
 2011;Cost Accounting Records (Fertilizer Industry) Rules, 2011 and Cost
 Accounting Records(Pharmaceutical Industry) Rules, 2011, except as respects
 things done or omitted to be done before such supersession, the Central
 Government hereby makes the following rules,namely:-<o:p></o:p></span></p>

 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b><span lang="EN-IN">1. Short
 title and commencement.-</span></b><span lang="EN-IN">&nbsp;</span><span style="line-height: 115%;" lang="EN-IN">(1) These rules
 may be called the Companies (cost records and audit) Rules, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) They shall come into
 force on the date of publication in the Official Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b><span lang="EN-IN">2.
 Definitions:</span></b><span lang="EN-IN">&nbsp;</span><span style="line-height: 115%;" lang="EN-IN">In these rules, unless the
 context otherwise requires -<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a) &#8220;Act&#8221; means the Companies
 Act, 2013 (18 of 2013);<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) &#8220;Cost Accountant in
 practice&#8221; means a cost accountant as defined in clause (b) of subsection (1) of
 section 2 of the Cost and Works Accountants Act, 1959 (23 of 1959), who holds a
 valid certificate of practice under sub-section (1) of section 6 of that Act
 and who is deemed to be in practice under sub-section (2) of section 2 thereof,
 and includes a firm or limited liability partnership of cost accountants;<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c) &#8220;cost auditor&#8221; means a
 Cost Accountant in practice, as defined in clause (b), who is appointed by the
 Board;<o:p></o:p></span></p>
  <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(d) &#8220;cost audit report&#8221; means
 the report duly audited and signed by the cost auditor including attachment,
 annexure, qualifications or observations etc. to cost audit report;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(e) &#8220;cost records&#8221; means
 books of account relating to utilisation of materials, labour and other items
 of cost as applicable to the production of goods or provision of services as
 provided in section 148 of the Act and these rules;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(f) &#8220;form&#8221; means a form
 annexed to these rules;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(g) &#8220;institute&#8221; means the
 Institute of Cost Accountants of India constituted under the Cost and Works
 Accountants Act, 1959 (23 of 1959);<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(h) all other words and
 expressions used in these rules but not defined, and defined in the Act or in
 the Companies (Specification of Definition Details) Rules, 2014 shall have the
 same meanings as assigned to them in the Act or in the said rules.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b><span lang="EN-IN">3.
 Application of cost records.-</span></b><span lang="EN-IN">&nbsp;</span><span style="line-height: 115%;" lang="EN-IN">For the purpose of
 sub-section (1) of section 148 of theAct, the following class of companies,
 including Foreign Companies defined in sub-section(42) of section 2 of the Act,
 shall be required to include cost records in their books of account, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(A) Companies engaged in the
 production of following goods in strategic sectors, such as:<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span style="line-height: 115%;" lang="EN-IN">(a) (i) machinery and mechanical appliances used in defence, space and
 atomic energy sectors excluding any ancillary item or items;</span><span lang="EN-IN">&nbsp;</span><span style="line-height: 115%;" lang="EN-IN"><br>
 <br>
 Explanation: - For the purposes of this sub-clause, any company which is
 engaged in any item or items supplied exclusively for use under this clause,
 shall be deemed to be covered under these rules.<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) turbo jets and turbo
 propellers;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii) arms and ammunitions;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv) propellant powders;
 prepared explosives, (other than propellant powders); safety fuses; detonating
 fuses; percussion or detonating caps; igniters; electric detonators;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v) radar apparatus, radio
 navigational aid apparatus and radio remote control apparatus;<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vi) tanks and other armoured
 fighting vehicles, motorised, whether or not fitted with weapons and parts of
 such vehicles, that are funded (investment made in the company) to the extent
 of ninety per cent. or more by the Government or Government Agencies;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) provisions of clause (A)
 shall be applicable, if the net worth of the company is rupees five hundred
 crore or more or the turnover is rupees five hundred crore or more.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(B) companies engaged in an
 industry regulated by a Sectoral Regulator or a Ministry or Department of
 Central Government:<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a) (i) Port services of
 stevedoring, pilotage, hauling, mooring, re-mooring, hooking, measuring,
 loading and unloading services rendered by a Port in relation to a vessel or
 goods regulated by the Tariff Authority for Major Ports under section 111 of
 the Major Port Trusts Act, 1963(38 of 1963);<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) Aeronautical services of
 air traffic management, aircraft operations, ground safety services, ground
 handling, cargo facilities and supplying fuel rendered by airports and
 regulated by the Airports Economic Regulatory Authority under the Airports
 Economic Regulatory Authority of India Act, 2008 (27 of 2008);<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii) Telecommunication
 services made available to users by means of any transmission or reception of
 signs, signals, writing, images and sounds or intelligence of any nature (other
 than broadcasting services) and regulated by the Telecom Regulatory Authority
 of India under the Telecom Regulatory Authority of India Act, 1997 (24 of
 1997);<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv) Generation,
 transmission, distribution and supply of electricity regulated by the relevant
 regulatory body or authority under the Electricity Act, 2003 (36 of 2003),
 other than for captive generation (as defined under the Electricity Rules
 2005);<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v) Steel;<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vi) Roads and other
 infrastructure projects; (vii) Drugs and Pharmaceuticals;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(viii) Fertilisers;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ix) Sugar and industrial
 alcohol;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(x) Petroleum products
 regulated by the Petroleum and Natural Gas Regulatory Board under the Petroleum
 and Natural Gas Regulatory Board Act, 2006(19 of 2006);<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xi) Rubber and allied
 products being regulated by the Rubber Board.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) For the purposes of
 clause (B), the thresholds limit shall be as under, -<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) in the case of a
 multi-product or a multi services company (i.e. a company producing more than
 one product or service), any product or a service for which the individual
 turnover (from such specific product or such specific service) is rupees fifty
 crore or more;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) in the case of a
 company, producing any one specific product or service, if the net worth of the
 company is rupees one hundred and fifty crore or more or the turnover is rupees
 twenty five crore or more.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c) in the case of companies
 engaged in an industry regulated by a sectoral regulator,the requirements of
 sectoral regulator regarding cost records shall be taken intoaccount.<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(C) Companies operating in
 areas involving public interest such as:<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a) (i) Railway or tramway
 locomotives, rolling stock, railway or tramway fixtures and fittings,
 mechanical (including electro mechanical) traffic signalling equipment&#8217;s of all
 kind;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) Mineral products
 including cement; (iii) Ores;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv) Mineral fuels (other
 than Petroleum), mineral oils etc.;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v) Base metals;<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vi) Inorganic chemicals,
 organic or inorganic compounds of precious metals, rare-earth metals of
 radioactive elements or isotopes, and Organic Chemicals;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vii) Jute and Jute Products;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(viii) Edible Oil under
 Administrative Price Mechanism; (ix) Construction Industry;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(x) Companies engaged in
 health services viz. functioning as or running hospitals, diagnostic centres,
 clinical centres or test laboratories;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xi) Companies engaged in education
 services, other than such similar services falling under philanthropy or as
 part of social spend which do not form part of any business.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) For the purposes of
 clause (C), the thresholds limit shall be as under, -<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) in the case of a
 multi-product or a multi services company (i.e. a company producing more than
 one product or service), any product or a service for which the individual
 turnover (from such specific product or such specific service) is rupees fifty
 crore or more;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) in the case of a company
 producing any one specific product or service, if the net worth of the company
 is rupees one hundred and fifty crore or more or the turnover is rupees twenty
 five crore or more.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(D) Companies (including
 foreign companies other than those having only liaisonoffices) engaged in the
 production, import and supply or trading of following medical devices, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(i) Cardiac Stents;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) Drug Eluting Stents;
 (iii) Catheters;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv) Intra Ocular Lenses;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v) Bone Cements;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vi) Heart Valves;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vii) Orthopaedic Implants;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(viii) Internal Prosthetic
 Replacements; (ix) Scalp Vein Set;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(x) Deep Brain Stimulator;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xi) Ventricular peripheral
 Shud;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xii) Spinal Implants;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xiii) Automatic Impalpable
 Cardiac Deflobillator; (xiv)Pacemaker (temporary and permanent);<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xv) patent ductus
 arteriosus, atrial septal defect and ventricular septal defect closure device;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xvi) Cardiac Re-synchronize
 Therapy ; (xvii) Urethra Spinicture Devices;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xviii) Sling male or female;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xix) Prostate occlusion
 device; and<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(xx) Urethral Stents.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) For the purposes of
 clause (D), the thresholds limit shall be as under, -<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) in the case of a company
 engaged in multiple products, any product or device for which the individual
 turnover (from such specific product or device) is rupees ten crore or more, or
 one third of the turnover, whichever is less.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) in the case of a company
 engaged in one specific product or device, if it has net worth of rupees one
 hundred and fifty crore or more or the turnover is rupees twenty five crores or
 more;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b><span lang="EN-IN">4.
 Applicability for cost audit.-</span></b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1) Every company engaged in
 a strategic industry and covered under sub-clause (b) of clause (A) of rule 3
 shall be required to get its cost records audited in accordance with these
 rules.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) In the case of a
 multi-product or a multi services company specified in sub-clause (b) of clause
 (B) and sub-clause (b) of clause (C) of rule 3, the requirement for cost audit
 shall apply to a product or a service for which the individual turnover (from
 such specific product or such specific service) is rupees one hundred crore or
 more;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3) In the case of a company
 producing any one specific product or service specified in sub-clause (b) of
 clause (B) and sub-clause (b) of clause (C) of rule 3, the requirement for cost
 audit shall apply if the net worth of the company is rupees five hundred crore
 or more or the turnover from such product or such service is rupees one hundred
 crore or more.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4) In the case of a company
 engaged in medical products or devices referred to in sub-clause (b) of clause
 (D) of rule 3, -<o:p></o:p></span></p>  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) which has multiple
 products or devices (i.e. a company producing, importing and supplying or
 trading in more than one medical device or product), the requirement for cost
 audit shall apply to a medical device or product for which the individual
 turnover (from such specific medical device or product) is rupees ten crore or
 more, or one third of the turnover, whichever is less;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) which has only one
 product or device (i.e. a company producing, importing and supplying or trading
 one medical device or product), the requirement for cost audit shall apply if
 the net worth of the company is rupees one hundred fifty crores or more or the
 turnover is rupees twenty five crores or more.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b><span lang="EN-IN">5.
 Maintenance of records.-</span></b><span lang="EN-IN">&nbsp;</span><span style="line-height: 115%;" lang="EN-IN">(1) Every company
 under these rules including all units and branches thereof, shall, in respect
 of each of its financial year commencing on or after the 1st day of April,
 2014, maintain cost records in form</span><span lang="EN-IN">&nbsp;<b>CRA-1.</b></span><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) The cost records referred
 to in sub-rule (1) shall be maintained on regular basis in such manner as to
 facilitate calculation of per unit cost of production or cost of operations,
 cost of sales and margin for each of its products and activities for every
 financial year on monthly or quarterly or half-yearly or annual basis.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3) The cost records shall be
 maintained in such manner so as to enable the company to exercise, as far as
 possible, control over the various operations and costs to achieve optimum
 economies in utilisation of resources and these records shall also provide
 necessary data which is required to be furnished under these rules.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b><span lang="EN-IN">6. Cost
 audit.-</span></b><span lang="EN-IN">&nbsp;</span><span style="line-height: 115%;" lang="EN-IN">(1) The category of companies
 specified in rule 3 and the thresholds limits laid down in rule 4, shall within
 one hundred and eighty days of the commencement of every financial year,
 appoint a cost auditor.<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) Every company referred to
 in sub-rule (1) shall inform the cost auditor concerned of his or its 
 appointment as such and file a notice of such appointment with the Central
 Government within a period of thirty days of the Board meeting in which such
 appointment is made or within a period of one hundred and eighty days of the
 commencement of the financial year, whichever is earlier, through electronic
 mode, in form</span><span lang="EN-IN">&nbsp;<b>CRA-2,</b>&nbsp;</span><span style="line-height: 115%;" lang="EN-IN">along with the fee
 as specified in Companies (Registration Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3) Every cost auditor
 appointed as such shall continue in such capacity till the expiry of one
 hundred and eighty days from the closure of the financial year or till he
 submits the cost audit report, for the financial year for which he has been
 appointed.<o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4) Every cost auditor, who
 conducts an audit of the cost records of a company, shall submit the cost audit
 report along with his or its reservations or qualifications or observations or
 suggestions, if any, in form</span><span lang="EN-IN">&nbsp;<b>CRA-3.</b></span><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p> 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(5) Every cost auditor shall
 forward his report to the Board of Directors of the company within a period of
 one hundred and eighty days from the closure of the financial year to which the
 report relates and the Board of directors shall consider and examine such
 report particularly any reservation or qualification contained therein.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(6) Every company covered
 under these rules shall, within a period of thirty days from the date of
 receipt of a copy of the cost audit report, furnish the Central Government with
 such report along with full information and explanation on every reservation or
 qualification contained therein, in form</span><span lang="EN-IN">&nbsp;<b>CRA-4</b>&nbsp;</span><span style="line-height: 115%;" lang="EN-IN">along with fees
 specified in the Companies (Registration Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(7) The provisions of
 sub-section (12) of section 143 of the Act and the relevant rules made
 thereunder shall apply mutatis mutandis to a cost auditor during performance of
 his functions under section 148 of the Act and these rules.<o:p></o:p></span></p>  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b><span lang="EN-IN">7. Rules not
 to apply in certain cases.-</span></b><span lang="EN-IN">&nbsp;</span><span style="line-height: 115%;" lang="EN-IN">The requirement
 for cost audit under these rules shall not be applicable to a company which is
 covered under rule 3, and,<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) whose revenue from
 exports, in foreign exchange, exceeds seventy five per cent of its total
 revenue or<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) which is operating from
 a special economic zone.<o:p></o:p></span></p>
 </body></html>