 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <span style="font-family: Arial;"></span><br
  style="font-family: Arial;">
 <div style="text-align: center;"><span
  style="font-family: Arial;">[TO BE PUBLISHED IN THE GAZETTE
 OF INDIA, EXTRORDINARY,</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">PART II, SECTION 3,
 SUB-SECTION (i)]</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">Ministry of Corporate
 Affairs</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">Notification</span><br
  style="font-family: Arial;">
 </div>
 <div style="text-align: right;"><span
  style="font-family: Arial;">New Delhi, the.., 2015</span><br
  style="font-family: Arial;">
 </div>
 <span style="font-family: Arial;">G.S.R.(E).- In
 exercise of the powers conferred by section 469 read with section 414
 of the Companies Act, 2013 (18 of 2013), the Central Government hereby
 makes the following rules, namely:-</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 1. Short title and commencement.- (1) These rules may be called the
 National Company Law Tribunal (Salary, Allowances and other Terms and
 Conditions of Service of President and other Members) Rules, 2015.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(2) They shall come into
 force on the date of their publication in the Official Gazette.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 2. Definitions.- (1) In these rules, unless the context otherwise
 requires, -</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">(a) "Act" means the
 Companies Act, 2013 (18 of 2013);</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(b) "President" means
 the President of the Tribunal appointed under section 408 of the Act;</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(2) Words and
 expressions used in these rules and not defined, but defined in the Act
 shall have the meanings respectively assigned to them in the Act.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"></span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">3. Pay.- (1) The
 President shall be entitled to a monthly pay of Rs. 80,000/- (fixed)
 and other allowances as are admissible to a Government Servant in the
 Apex grade of Rs. 80,000 (fixed).</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(2) A Judicial Member
 and Technical Member shall be paid salary in the pay scale of Rs.
 67000-79000/- (annual increment at 3%) and other allowances as are
 admissible to a Government Servant in Higher Administrative Grade of
 Rs. 67000-79000/-.</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">(3) In case a person
 appointed as the President or a Judicial Member or a Technical Member,
 as the case may be, is in receipt of any pension, the pay of such
 person shall be reduced by the gross amount of pension drawn by him.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 4. Pension, Gratuity or Provident Fund. - (1) In case a serving judge
 of a High Court or a person in the service of the Government is
 appointed to the post of President or Judicial Member or Technical
 Member, as the case may be, the service rendered by him in the Tribunal
 shall count for pension, to be drawn in accordance with the rules of
 the service or office to which he belongs, and he shall also be
 governed by the provisions of the General Provident Fund (Central
 Services) Rules, 1960.</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">(2) In all other cases,
 the Members shall be governed by the provisions of the Contributory
 Provident Fund (India) Rules, 1962.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(3) Additional pension
 and gratuity shall not be admissible for service rendered in the
 Tribunal.</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 5. Leave. - (1) The President and every other Member shall be entitled
 to thirty days of Earned Leave for every year of service.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(2) The payment of leave
 salary during leave shall be governed by rule 40 of the Central Civil
 Services (Leave) Rules, 1972.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"></span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(3) The President and
 Members shall be entitled to encashment of leave in respect of the
 Earned Leave standing to his credit, subject to the condition that
 maximum leave encashment, including received at the time of retirement
 from previous service shall not in any case exceed the prescribed limit
 under the Central Civil Service (Leave) Rules, 1972.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 6. Leave sanctioning authority. - In the case of the President, the
 competent authority to sanction the leave shall be the President of
 India and in the case of Members, the President shall be the leave
 sanctioning authority.</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 7. Travelling allowances.- (1) The President while on tour within India
 or on transfer (including the journey undertaken to join the Tribunal
 or on the completion of his tenure with the Tribunal to proceed to his
 home town) shall be entitled to travelling allowance, daily allowance,
 transportation of personal effects and other similar matters at the
 same rates as are applicable to the officers of the Central Government
 in Apex Grade (Rupees eighty thousand (fixed)).</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(2) The Members while on
 tour within India or on transfer (including the journey undertaken to
 join the Tribunal or on the completion of his tenure with the Tribunal
 to proceed to his home town) shall be entitled to the travelling
 allowance, daily allowance, transportation of personal effects and
 other similar matters at the same rate as are applicable to the
 officers of the Central Government in Higher Administrative Grade (Rs.
 67000-79000).</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 8. Official visits abroad. - (1) Official visits abroad by the
 President shall be undertaken in accordance with orders issued by the
 Central Government and he shall be entitled to draw such allowances in
 respect of such visits as are applicable to officers of the Central
 Government in Apex Grade (Rupees eighty thousand-fixed).</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"></span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(2) Official visits
 abroad by Member shall be undertaken in accordance with orders issued
 by the Central Government and he shall be entitled to draw such
 allowances in respect of such visits as are applicable to officers of
 the Central Government in Higher Administrative Grade Rs. 67000-79000.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 9. Leave Travel Concession. - (1) The President shall be entitled to
 Leave Travel Concession on the same terms as applicable to officers of
 the Central Government in Apex Grade (Rupees eighty thousand (fixed)).</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(2) The Members shall be
 entitled to Leave Travel Concession on the same terms as are applicable
 to officers of the Central Government in Higher Administrative Grade
 (Rs. 67000-79000).</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 10. Facility for medical treatment. - The President and other Members
 shall be entitled to the medical facilities as provided in the Central
 Service (Medical Attendance) Rules, 1944.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 11. Accommodation. - The President and Members shall have the option of
 claiming house rent allowance in accordance with the rates prescribed
 by the Central Government for Group 'A' officers of equivalent grade
 pay or scale:</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">Provided that he shall
 not be eligible for house rent allowance in case he is declared
 eligible for General Pool Residential Accommodation and occupy
 Government accommodation allotted to him.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 12. Facility of conveyance. - The President and Members shall be
 entitled to the facility of staff car for journeys for official and
 private purposes in accordance with the facilities provided to
 Government servants in the corresponding pay grade as per Staff Car
 Rules, as amended from time to time.</span><span
  style="font-family: Arial;"></span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 13. Telephone facility.- The President and Members shall be eligible
 for telephone facilities as admissible to a Group 'A' officer of the
 Central Government drawing an equivalent pay.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 14. Conditions of service of President.- Where a serving or retired
 judge of a High Court is appointed as President, the service
 conditions, unless specifically provided in these rules, shall be as
 contained in the High Court Judges (Salaries and Conditions of Service)
 Act, 1954 and the rules made thereunder.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 15. Conditions of service of Judicial Member. - Where a serving Judge
 of a High Court is appointed as a Judicial Member, the service
 conditions, unless specifically provided in these rules, shall be as
 contained in the High Court Judges (Salaries and Conditions of Service)
 Act, 1954 and the rules made thereunder:</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Provided that the
 service conditions, other than specifically provided in these rules,
 after his due date of retirement from service as a Judge of the High
 Court or expiry of the lien period, whichever is later, for the
 remaining period of his term of office shall be same as may, for the
 time being, be applicable to other employees of the Government of India
 of a corresponding status.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 16. Applicability of rules:- Chairman and Members of the Company Law
 Board, who fulfill the qualifications and requirements provided under
 the Act for being appointed respectively as the President and Members
 of the Tribunal shall be so appointed after following the selection
 procedure for these posts in the manner laid down in section 412 of the
 Act.</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 17. Oath of office and secrecy. - (1) Every person appointed as the
 President or Member, as the case may be, shall, before entering upon
 his office, make and subscribe an oath of office and secrecy
 respectively, in Form I and Form II annexed to these rules.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"></span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">18. Declaration of
 financial or other interest.- Every person, on his appointment as the
 President or Member, as the case may be, shall give a declaration in
 Form III annexed to these rules, to the satisfaction of the Central
 Government, that he does not have any such financial or other interest
 as is likely to affect prejudicially his functions as President or
 Member.</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 19. Residuary provisions. - Matters relating to the terms and
 conditions of service of the President and Members with respect to
 which no express provision has been made in these rules, shall be same
 as may, for the time being, be applicable to other employees of the
 Government of India of a corresponding status.</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 20. Powers to relax.- The Central Government shall have power to relax
 any provision of these rules with respect to any class or category of
 persons.</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"></span><br
  style="font-family: Arial;">
 <div style="text-align: center;"><span
  style="font-family: Arial;">Form - I (See rule 17)</span><br
  style="font-family: Arial;">
 </div>
 <span style="font-family: Arial;"><br>
 Form of oath of office for President or Members of the National Company
 Law Tribunal</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">"I, .............,
 having been appointed as President or member of the National Company
 Law Tribunal</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 do solemnly affirm</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 swear in the name of God</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">that I will faithfully
 and conscientiously discharge my duties as President or member to the
 best of my ability, knowledge and judgment, without fear or favour,
 affection or ill-will."</span><br style="font-family: Arial;">
 <div style="text-align: right;"><span
  style="font-family: Arial;">Signature: .................</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(Name of the President/
 Judicial/</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">Technical Member)</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Designation:
 .................</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">National Company Law
 Tribunal</span><br style="font-family: Arial;">
 </div>
 <span style="font-family: Arial;">Dated:</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Place:</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"></span><br
  style="font-family: Arial;">
 <div style="text-align: center;"><span
  style="font-family: Arial;">Form - II (See rule 17)</span><br
  style="font-family: Arial;">
 </div>
 <span style="font-family: Arial;"><br>
 Form of oath of secrecy for President or Members of the National
 Company Law Tribunal</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 "I, ............, having been appointed as President or member of the
 National Company law Appellate Tribunal</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 do solemnly affirm</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 swear in the name of God</span><br style="font-family: Arial;">
 <span style="font-family: Arial;"><br>
 that I will not directly or indirectly communicate or reveal to any
 person or persons any matter which shall be brought under my
 consideration or shall become known to me as President or member of the
 said Tribunal except as may be required for the due discharge of my
 duties as President or Member."</span><br
  style="font-family: Arial;">
 <div style="text-align: right;"><span
  style="font-family: Arial;">Signature: .................</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(Name of the President/
 Judicial/</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">Technical Member)</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Designation:
 .................</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">National Company Law
 Tribunal</span><br style="font-family: Arial;">
 </div>
 <span style="font-family: Arial;">Dated:</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Place:</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;"></span><br
  style="font-family: Arial;">
 <div style="text-align: center;"><span
  style="font-family: Arial;">Form - III (See rule 18)</span><br
  style="font-family: Arial;">
 </div>
 <span style="font-family: Arial;"><br>
 Declaration against acquisition of any adverse financial or other
 interest</span><br>
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">I, .................,
 having been appointed as the President or Member (cross out portion not
 applicable) of the National Company Law Tribunal, do solemnly affirm
 and declare that I do not have, nor shall have in future any financial
 or other interest which is likely to affect prejudicially my
 functioning as the President or Member (cross out portion not
 applicable), of the National Company Law Tribunal.</span><br
  style="font-family: Arial;">
 <div style="text-align: right;"><span
  style="font-family: Arial;">Signature: .................</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(Name of the President/
 Judicial/</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">Technical Member)</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Designation:
 .................</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">National Company Law
 Tribunal</span><br style="font-family: Arial;">
 </div>
 <span style="font-family: Arial;">Dated:</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Place:</span><br
  style="font-family: Arial;">
 <div style="text-align: right;"><span
  style="font-family: Arial;">[File No. 1/30/2013-CL.V - Part
 -I]</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">( )</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Joint Secretary to the
 Govt. of India</span><br style="font-family: Arial;">
 </div>
 </body>
 </html>
 