<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type">
    <title></title>
</head>
<body>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: center; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
   align="center"><b><span
        style="font-size: 12pt; ">Government
of India</span></b><span
        style="font-size: 12pt; "><br>
<b>Ministry of Corporate Affairs</b><br>
<b>Notification</b><o:p></o:p></span></p>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: center; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
   align="center"><span
        style="font-size: 12pt; "><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: right; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
   align="right"><b><span
        style="font-size: 12pt; ">New Delhi,
Dated- 15th
September, 2015<o:p></o:p></span></b></p>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: right; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
   align="right"><span
        style="font-size: 12pt; color: rgb(94, 94, 94);"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: justify; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;">G.S.R. &nbsp;(E). - In exercise
of
the powers conferred by sections 73 and 76 read with sub-section (1) of
section
469 of the Companies Act, 2013 (18 of 2013), the Central Government
hereby
makes the following rules further to amend the</span><span
        style="font-size: 12pt; color: windowtext; text-decoration: none;">&nbsp;Companies
(Acceptance of Deposits) Rules, 2014</span><span
        style="font-size: 12pt;">, namely:-<o:p></o:p></span></p>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: justify; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoListParagraph"
   style="margin: 0in 0in 6pt 22.5pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -27pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><!--[if !supportLists]--><span
        style="font-size: 12pt;"><span style="">1.<span
        style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><!--[endif]--><span
        style="font-size: 12pt;">(1) These rules may be called
the&nbsp;<b>Companies (Acceptance of Deposits) Second
Amendment Rules, 2015.<o:p></o:p></b></span></p>
<p class="MsoNormal"
   style="margin: 0in 0in 6pt 22.5pt; background: white none repeat scroll 0%; text-align: justify; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;">(2)
They shall come into force on the date of their publication in the
Official
Gazette.<o:p></o:p></span></p>
<p class="MsoNormal"
   style="margin: 0in 0in 6pt 22.5pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -27pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;">2.&nbsp;&nbsp;&nbsp;In
the&nbsp;</span><span
        style="font-size: 12pt; color: windowtext; text-decoration: none;">Companies
(Acceptance of Deposits) Rules, 2014</span><span
        style="font-size: 12pt;">&nbsp;(hereinafter referred to
as said rules), in rule 2, in
sub-rule (1), in clause (c), for sub-clause (viii), the following shall
be
substituted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal"
   style="margin: 0in 0in 6pt 0.75in; background: white none repeat scroll 0%; text-align: justify; text-indent: -31.5pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;">"(viii) any amount received from
a person who, at the time of the receipt of the amount, was <span
            style="">&nbsp;</span>a director of the company or
a relative of the
director of the private company:</span><span
        style="font-size: 12pt;"><o:p></o:p></span></p>
<p class="MsoNormal"
   style="margin: 0in 0in 6pt 0.75in; background: white none repeat scroll 0%; text-align: justify; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;">Provided that the director of the
company or relative
of the director of the private company, as the case may be, from whom
money is
received, furnishes to the company at the time of giving the money, a
declaration in writing to the effect that the amount is not being given
out of
funds acquired by him by borrowing or accepting loans or deposits from
others
and the company shall disclose the details of money so accepted in the
Board’s
report;".</span><span style="font-size: 12pt;"><o:p></o:p></span></p>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: justify; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;">3. In the said rules, in rule 3, -<o:p></o:p></span></p>
<p class="MsoNormal"
   style="margin: 0in 0in 6pt 40.5pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -0.25in; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;">(a)&nbsp;&nbsp;for the
words "paid-up share capital and free
reserves", wherever they occur, the words "paid-up share capital, free
reserves
and securities premium account" shall be substituted;<o:p></o:p></span></p>
<p class="MsoNormal"
   style="margin: 0in 0in 6pt 40.5pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -0.25in; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;">(b)&nbsp;in sub-rule (8), in
the Table, for item (c) and
entries relating thereto the following shall be substituted, namely:-<o:p></o:p></span></p>
<table class="MsoNormalTable"
       style="background: white none repeat scroll 0%; width: 421.5pt; margin-left: 24.75pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
       border="0" cellpadding="0" width="562">
    <tbody>
    <tr style="">
        <td
                style="border: 1pt solid black; padding: 0in; width: 319.2pt;"
                width="426">
            <p class="MsoNormal"
               style="margin-bottom: 6pt; text-align: justify;"><span
                    style="font-size: 12pt;">"(e) Brickwork Ratings India Pvt
Ltd (Brickwork)<o:p></o:p></span></p>
        </td>
        <td
                style="border: 1pt solid black; padding: 0in; width: 97.8pt;"
                width="130">
            <p class="MsoNormal"
               style="margin-bottom: 6pt; text-align: justify;"><span
                    style="font-size: 12pt;">BWR FBBB".<o:p></o:p></span></p>
        </td>
    </tr>
    </tbody>
</table>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: right; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
   align="right"><span style="font-size: 12pt;">[File
No 1/8/2013-CL-V]<o:p></o:p></span></p>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: right; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
   align="right"><span style="font-size: 12pt;">Amardeep
Singh Bhatia,&nbsp;<o:p></o:p></span></p>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: right; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
   align="right"><span style="font-size: 12pt;">Joint
Secretary<o:p></o:p></span></p>
<p class="MsoNormal"
   style="background: white none repeat scroll 0%; margin-bottom: 6pt; text-align: justify; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
        style="font-size: 12pt;">Note. - The principal rules were
published in the Gazette of India, Extraordinary, Part II, Section 3,
sub-section (i) ride number&nbsp;</span><span
        style="font-size: 12pt; color: windowtext; text-decoration: none;">G.S.R.
256(E), dated the 31st March, 2014</span><span
        style="font-size: 12pt;">&nbsp;and were subsequently
modified vide number&nbsp;</span><span
        style="font-size: 12pt; color: windowtext; text-decoration: none;">G.S.R.
386(E), dated the 6th, June, 2014</span><span
        style="font-size: 12pt;">&nbsp;and&nbsp;</span><span
        style="font-size: 12pt; color: windowtext; text-decoration: none;">G.S.R.
241(E), dated the 31st March, 2015.</span><span
        style="font-size: 12pt;"><o:p></o:p></span></p>
</body>
</html>
