 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R. 248(E) dated 31st Mar 2014</title></head><body>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">MINISTRY OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">NOTIFICATION<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 6pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN">New Delhi, the 31st March, 2014<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">G.S.R. 248(E).&#8212;</span></b><span lang="EN-IN"> In exercise of the powers conferred under Sections 77, 78, 79, 81,
 82, 83, 84, 85, 87 read with Section 469 of the Companies Act, 2013 (18 of
 2013) and in supersession of the Companies (Central Government&#8217;s) General Rules
 and Forms, 1956 or any other relevant rules prescribed under the Companies Act,
 1956 (1 of 1956) on matters covered under these rules, except as respects
 things done or omitted to be done before such supersession, the Central
 Government hereby makes the following rules, namely:&#8212; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">1. Short title and commencement</span></b><span lang="EN-IN">.- (1)
 These rules may be called the Companies (Registration of Charges) Rules, 2014. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(2) They shall come into force on the 1st day of
 April, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">2. Definitions</span></b><span lang="EN-IN">.- (1) In these rules,
 unless the context otherwise requires,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(a) &#8216;&#8216;Act&#8217;&#8217; means the Companies
 Act, 2013 (18 of 2013);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(b) &#8216;&#8216;Annexure&#8217;&#8217; means the
 Annexure appended to these rules;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(c) &#8216;&#8216;Fees&#8217;&#8217; means the fees as
 specified in the Companies (Registration offices and fees) Rules, 2014; (d)
 &#8216;&#8216;Form&#8217;&#8217; or &#8220;eforms&#8221; means form set forth in Annexure to these rules which
 shall be used for the matter to which it relates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(e) &#8216;&#8216;Regional Director&#8217;&#8217; means
 the person appointed by the Central Government in the Ministry of Corporate
 Affairs as a Regional &#8216;Director; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(f) &#8216;&#8216;section&#8217;&#8217; means the section of the Act. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(2) Words and expressions used in these rules but not
 defined and defined in the Act or in Companies (Specification of definitions
 details) Rules, 2014 shall have the meanings respectively assigned to them in
 the Act and said rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN"><span style="">&nbsp;</span>3. Registration of creation
 or modification of charge.</span></b><span lang="EN-IN"> <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(1) For registration of charge as
 provided in subsection (1) of Section 77, Section 78 and Section 79, the
 particulars of the charge together with a copy of the instrument, if any,
 creating or modifying the charge in Form No.CHG-1 (for other than Debentures)
 or Form No.CHG-9 (for debentures), as the case may be, duly signed by the
 company and the charge holder and filed with the Registrar within a period of
 thirty days of the date of creation or modification of charge along with the
 fee. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(2) If the particulars of a charge
 are not filed within the aforesaid period, but filed within a period of three
 hundred days of the date of such creation or modification, the additional fee
 shall be levied. (3) If the company fails to register the particulars of the
 charge with the Registrar within the period of thirty days of its creation or
 modification, the particulars of the charge together with a copy of the
 instrument, if any, creating or modifying such charge may be filed by the
 charge-holder, in Form No.CHG-1 or Form No.CHG-9, as the case may be, duly
 signed along with fee. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(4) A copy of every instrument
 evidencing any creation or modification of charge and required to be filed with
 the Registrar in pursuance of Section 77, 78 or 79 shall be verified as
 follows-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(a) where the instrument or deed relates
 solely to the property situated outside India, the copy shall be verified by a
 certificate issued either under the seal of the company, or under the hand of
 any director or company secretary of the company or an authorised officer of
 the charge holder or under the hand of some person other than the company who
 is interested in the mortgage or charge; <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(b) where the instrument or deed
 relates, whether wholly or partly, to the property situated in India, the copy
 shall be verified by a certificate issued under the hand of any director or
 company secretary of the company or an authorised officer of the charge holder.
 <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">4. Condonation of delay by Registrar.-<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(1) The Registrar may, on being
 satisfied that the company had sufficient cause for not filing the particulars
 and instrument of charge, if any, within a period of thirty days of the date of
 creation of the charge, allow the registration of the same after thirty days but
 within a period of three hundred days of the date of such creation of charge or
 modification of charge on payment of additional fee. (2) The application for
 delay shall be made in Form No.CHG-1 and supported by a declaration from the
 company signed by its secretary or director that such belated filing shall not
 adversely affect rights of any other intervening creditors of the company.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">5. Application of rules in certain matters.-</span></b><span lang="EN-IN"> The provisions of rule 4 shall apply, mutatis mutandis, to the
 registration of charge on any property acquired subject to such charge and
 modification of charge under Section 79 of the Act.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN"><span style="">&nbsp;</span>6. Certificate of
 registration</span></b><span lang="EN-IN">. -(1) Where a charge is registered
 with the Registrar under sub-section (1) of Section 77 or section 78, he shall
 issue a certificate of registration of such charge in Form No.CHG-2 (2) Where
 the particulars of modification of charge is registered under section 79, the
 Registrar shall issue a certificate of modification of charge in Form No. CHG-3
 (3) The certificate issued by the Registrar under sub-rule (1) and sub-rule (2)
 shall be conclusive evidence that the requirements of Chapter VI of the Act and
 the rules made thereunder as to registration of creation or modification of
 charge, as the case may be, have been complied with. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">7. Register of charges to be kept by the Registrar.-</span></b><span lang="EN-IN"> (1) The particulars of charges maintained on the Ministry of
 Corporate Affairs portal (www.mca.gov.in/MCA21)shall be deemed to be the
 register of charges for the purposes of Section 81 of the Act. (2) The register
 shall be open to inspection by any person on payment of fee.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">8. Satisfaction of charge.-</span></b><span lang="EN-IN"> (1) A
 company shall within a period of thirty days from the date of the payment or
 satisfaction in full of any charge registered under Chapter VI, give intimation
 of the same to the Registrar in Form No.CHG-4 along with the fee. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(2) Where the Registrar enters a
 memorandum of satisfaction of charge in full in pursuance of Section 82 or 83,
 he shall issue a certificate of registration of satisfaction of charge in Form
 No.CHG-5.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">9. Intimation of appointment of Receiver or Manager.-</span></b><span lang="EN-IN"> The notice of appointment or cessation of a receiver of, or of a
 person to manage, the property, subject to charge, of a company shall be filed
 with the Registrar in Form No. CHG.6 along with fee. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">10. Company&#8217;s register of charges.-</span></b><span lang="EN-IN"> (1)
 Every company shall keep at its registered office a register of charges in Form
 No. CHG.7 and enter therein particulars of all the charges registered with the
 Registrar on any of the property, assets or undertaking of the company and the
 particulars of any property acquired subject to a charge as well as particulars
 of any modification of a charge and satisfaction of charge.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(2) The entries in the register of charges
 maintained by the company shall be made forthwith after the creation,
 modification or satisfaction of charge, as the case may be. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(3) Entries in the register shall
 be authenticated by a director or the secretary of the company or any other
 person authorised by the Board for the purpose. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(4) The register of charges shall
 be preserved permanently and the instrument creating a charge or modification
 thereon shall be preserved for a period of eight years from the date of
 satisfaction of charge by the company. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">11. Register open for inspection.-</span></b><span lang="EN-IN"> The
 register of charges and the instrument of charges kept by the company shall be
 open for inspection- (a) by any member or creditor of the company without fees;
 (b) by any other person on payment of fee. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">12. Condonation of delay and rectification of register of charges.-</span></b><span lang="EN-IN"> (1) Where the instrument creating or modifying a charge is not
 filed within a period of three hundred days from the date of its creation
 (including acquisition of a property subject to a charge) or modification and
 where the satisfaction of the charge is not filed within thirty days from the
 date on which such payment of satisfaction, the Registrar shall not register
 the same unless the delay is condoned by the Central Government. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(2) The application for
 condonation of delay and for such other matters covered in sub-clause (a),(b)
 and (c) of clause (i) of sub-section (1) of Section 87 of the Act shall be
 filed with the Central Government in Form No.CHG-8 along with the fee.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">(3) The order passed by the
 Central Government under sub-section (1) of section 87 of the Act shall be
 required to be filed with the Registrar in Form No.INC.28 along with the fee as
 per the conditions stipulated in the said order.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span lang="EN-IN">[F. No. 01/10/2013 CL-V]<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span lang="EN-IN"><span style="">&nbsp;</span>RENUKA KUMAR, Jt. Secy.<o:p></o:p></span></p>
 </body></html>