 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">Government
 of
 India&nbsp;<br>
 Ministry of Corporate Affairs<br>
 Notification<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi Dated the
 29th May, 2015<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">G.S.R. (E).
 -&nbsp;In exercise of
 the powers conferred by sections 77, 78 and 79 read with sub-sections
 (1) and
 (2) of section 469 of the Companies Act, 2013 (18 of 2013), the Central
 Government hereby makes the following rules further to amend the
 Companies
 (Registration of Charges) Rules, 2014, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1. (1)
 These rules may be called
 the Companies (Registration of Charges) Amendment Rules, 2015.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(2) They
 shall come into force
 from the date of their publication in the Official Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. In the
 Companies (Registration
 of Charges) Rules, 2014, in rule 3, in sub-rule (4), in clause (a), for
 the
 words "under the seal of the company", the words "under the
 seal, if any, of the company" shall be substituted;<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">(Amardeep
 Singh
 Bhatia)&nbsp;<br>
 <br>
 Joint Secretary to the Government of India<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Note: - The
 principal rules were
 published in the Gazette of India, Extraordinary, Part-II, Section 3,
 sub
 section (i), vide number. G.S.R. 248(E), dated the 31st March, 2014.<o:p></o:p></p>
 </body>
 </html>
 