 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">MINISTRY
 OF CORPORATE AFFAIRS <o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">NOTIFICATION
 <o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="font-size: 12pt; line-height: 115%;">New
 Delhi, the 29th March, 2016<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">G.S.R.
 358(E).-In exercise of the powers conferred by sub-sections (1) and (2)
 of
 Section 469 of the Companies Act, 2013 (18 of 2013), the Central
 Government
 hereby makes the following rules further to amend the Companies (Share
 Capital
 and Debentures) Rules, 2014, namely:-<span style=""></span><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-left: 0.25in; text-align: justify; text-indent: -15.75pt; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">1. <span
  style=""> </span>(1)
 These rules may be called the Companies (Share Capital and Debentures)
 Second
 Amendment Rules, 2016. <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-left: 0.25in; text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(2) They shall
 come into force on the date of their
 publication in the Official Gazette. <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">2.
 In the Companies (Share Capital and Debentures) Rules, 2014, in rule
 17, after
 sub-rule (5), the following proviso shall be inserted, namely:- <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"Provided
 that where all members of a company agree, the offer for buy-back may
 remain
 open for a period less than fifteen days." <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">[F. No.
 01/04/2013
 CL-V (part-II)] <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">AMARDEEP SINGH
 BHATIA, J t. Secy.<o:p></o:p></span></p>
 </body>
 </html>
 