 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title>G.S.R. 506 (E) dated 17th July 2014</title>
 </head>
 <body>
 <p style="widows: 132; font-family: Arial;" align="center">Government
 of India&nbsp;<br>
 Ministry of Corporate Affairs&nbsp;<br>
 Notification</p>
 <p style="widows: 2; font-family: Arial;" align="right">New
 Delhi, dated, the 17/7/2014</p>
 <p style="widows: 8; font-family: Arial;" align="justify">G.S.R.
 506(E).- In exercise of the powers conferred by sub-section
 (1) of section 469 of theCompanies Act, 2013 (18 of 2013), the
 Central Government hereby makes the following rules to amend the
 Companies (Miscellaneous) Rules, 2014, namely:-</p>
 <p style="widows: 8; font-family: Arial;" align="justify">1.
 (1) These may be called the Companies (Miscellaneous) Amendment
 Rules, 2014.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(2)
 They shall come into force from the date of their publication in the
 Official Gazette.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">2.
 In the Companies (Miscellaneous) Rules, 2014 after rule 10, the
 following rule shall be inserted, namely</p>
 <p style="widows: 8; font-family: Arial;" align="justify">"11.
 Applications or forms pending before Central Government, Regional
 Director or Registrar of companies.-&nbsp;Any application or form
 filed with the Central Government or Regional Director or Registrar
 (hereinafter referred to as 'the authority') prior to the
 commencement of these rules but not disposed of by such authority for
 want of any information or document shall, on its submission, to the
 satisfaction of the authority, be disposed of in accordance with the
 rules made under the Companies Act, 1956(1 of 1956)."</p>
 <p style="widows: 2; font-family: Arial;" align="right"><br>
 </p>
 <p style="widows: 2; font-family: Arial;" align="right">[File
 No 1/25/2013-CL-V<br>
 <br>
 Amardeep Singh Bhatia<br>
 Joint Secretary</p>
 <p style="widows: 8; font-family: Arial;" align="justify">Note.-
 The principal rules were published in the Gazette of India,
 Extraordinary, Part - II, Section3, Sub-section (i), vide number
 G.S.R253 (E), dated the 31st March, 2014</p>
 </body>
 </html>
 