<html>
<head>
</head>

<body style="font-family: Verdana, Tahoma, Arial;font-size: 16px;">
    <p align="center">
        <strong>MINISTRY OF CORPORATE AFFAIRS NOTIFICATION</strong>
    </p>
    <p align="center">
        New Delhi, the 25th January, 2017
    </p>
    <p>
        <strong>G.S.R</strong>
        .<strong>70 (E).—</strong>In exercise of the powers conferred by
        sub-sections (1) and (2) of section 469 of the Companies Act, 2013 (18
        of 2013), the Central Government hereby makes the following rules
        further to amend the Companies (Incorporation) Rules, 2014, namely: -
    </p>
    <p>
        1. (1) These rules may be called the Companies (Incorporation)
        Amendment Rules, 2017.
    </p>
    <p>
(2) They shall come into force on the        <strong>30<sup>th</sup> day of January, 2017.</strong>
    </p>
    <p>
        <strong> </strong>
    </p>
    <p>
        2. In the Companies (Incorporation) Rules, 2014 (hereinafter referred
        to as the principal rules) for rule 18, the following rule shall be
        substituted, namely:-
    </p>
    <p>
        “18. The Certificate of Incorporation shall be issued by the Registrar
        in Form No.INC-11 and the Certificate of Incorporation shall mention
        permanent account number of the company where it is issued by the
        Income-tax Department”.
    </p>
    <p>
        3. In the principal rules, for Form No.INC-11, the following form shall
        be substituted, namely:-
    </p>
    <p align="right">
        [F. No. 1/13/2013 CL-V-Part-I –Vol.II]
    </p>
    <p align="right">
        AMARDEEP SINGH BHATIA, Jt. Secy.
    </p>
</body>
</html>
