 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="font-size: 12pt; line-height: 115%;">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="font-size: 12pt; line-height: 115%;">NOTIFICATION<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">New
 Delhi, the
 23rd June, 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">G.S.R.
 415(E).- In
 exercise of the powers conferred under sub-section (1) of section
 88,sub-section (4) ofsection 88, sub-section (1) of section 89,
 sub-section (2)
 section 89, sub-section (6) of section 89, sub-section (1) ofsection
 91,
 sub-section (2) of section 92, sub-section (3) of section 92, section
 93,
 sub-section (1) of section 94, subsection(4) of section 100,
 sub-section (2) of
 section 114, sections 102, 101, 105, 108, sub-section (5) of section
 109,sections 112, 113, 110, sub-section (3) of section 186, section
 115,
 sub-section (1) of section 117, sub-section (1) ofsection 118,
 sub-section (2)
 of section 119, section 120 and sub-section (1) of section 121, read
 with
 sub-sections (1) and(2) of section 469 of the Companies Act, 2013 (18
 of 2013)
 the Central Government hereby makes the following rules toamend the
 Companies
 (Management and Administration) Rules, 2014, namely: -<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">1.
 (1) These rules may
 be called the Companies (Management and Administration) Amendment
 Rules, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(2)
 They shall come
 into force on the date of their publication in the Official Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">2.
 In the Companies
 (Management and Administration) Rules, 2014, in rule 20,<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(i)
 in sub-rule (1),
 the following shall be inserted, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"Provided
 that the
 Company may provide the facility referred to in this sub-rule on or
 before the
 1stday of January 2015."<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(ii)
 in sub-rule (3),
 for the words "which opts to provide", the words "which provides" shall
 be
 substituted.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">[F.No.
 01/34/2013-CL-V]<br>
 AMARDEEP SINGH BHATIA, Jt. Secy.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  style="font-size: 12pt; line-height: 115%;">Note.-
 The principal rules were published in the
 Gazette of India vide notification number G.S.R. 260(E), dated the31st
 March,
 2014.<o:p></o:p></span></p>
 </body>
 </html>
 