<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R.122(E)dated 24th February 2015</title></head><body>
<p style="widows: 4;" align="center"><b>Government of India<br>Ministry
 of Corporate Affairs<br>Notification</b></p>
<p style="widows: 2;" align="right"><b>New Delhi, 24th February, 2015</b></p>
<p style="widows: 136;" align="justify"><b>G.S.R 122 (E)&nbsp;</b>. In
 exercise of the powers conferred by sections 396, 398, 399, 403, and
 section 404, read with sub-sections (1) and (2) of section 469 of the
 Companies Act, 2013 (18 of 2013), the Central Government hereby makes
 the following rules further to amend the Companies (Registration
 Offices and Fees) Rules, 2014, namely:-</p>
<p style="widows: 136;" align="justify">1. (1) These rules may be called
 the Companies (Registration Offices and Fees) Amendment Rules, 2015.</p>
<p style="widows: 136;" align="justify">(2) In the Companies
 (Registration Offices and Fees) Rules, 2014,-</p>
<p style="widows: 136;" align="justify">(a) in rule 10, after sub-rule
 (6), the following sub-rule shall be inserted, namely:-</p>
<p style="widows: 136;" align="justify">7. Any further information or
 documents called for, in respect of application or e-form or
 document, filed electronically with the Ministry of Corporate Affairs
 shall be furnished in Form No. GNL-4 as an addendum"</p>
<p style="widows: 136;" align="justify">(b) in the Annexure, after Form
 No. GNL-3, the following Form shall be inserted, namely:-</p>
<p><br>
</p>
<p style="widows: 2;" align="right">[F.No. 01/16/2013 (Part-I)
CL-V]<br><br>(Amardeep Singh Bhatia)<br>Joint Secretary to the
 Government, of India</p>
<p>Note:- The principal rules were published in the Gazette of India,
 Extraordinary, Part-II, Section 3, Sub-section (i), vide number.
 G.S.R. 268(E), dated the 31st March, 2014 and was last amended by
 notification vide number G.S.R 297(E), dated the 28th April, 2014.</p>
<p><br>
</p></body></html>