 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R. 265(E) dated 31st Mar 2014</title></head><body>
 
 <p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN">MINISTRY OF CORPORATE AFFAIRS NOTIFICATION
 New Delhi, the 31st March, 2014 G.S.R 265(E).&#8212;<o:p></o:p></span></p>
 
 <p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN">In exercise of the powers conferred under
 clause (a) (ii) of section 43, sub-clause (d) of subsection (1) of section 54,
 sub-section (2) of 55, sub-section (1) of section 56, sub-section (3) of
 section 56, sub-section (1) of section 62, sub-section (2) of section 42,
 clause (f) of sub-section (2) of section 63, sub-section (1) of section 64 ,
 clause (b) of sub-section 3 of section 67, sub-section (2) of section 68 sub-section
 (6) of section 68, sub-section (9) of section 68, sub-section (10) of section
 68, sub-section (3) of section 71, sub-section (6) of section 71, sub-section
 (13) of section 71 and sub-sections (1) and (2) of section 72, read with
 sub-section (1) and (2) of section 469 of the Companies Act, 2013 (18 of 2013)
 and in supersession of the Companies (Central Government&#8217;s) General Rules and
 Forms, 1956 or any other relevant rules prescribed under the Companies Act,
 1956 (1 of 1956) on matters covered under these rules, except as respects
 things done or omitted to be done before such supersession, the Central
 Government hereby makes the following rules, namely: -&nbsp;</span></p><p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN">1. Short title and
 commencement.-</span></p><p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN"> (1) These rules may be called the Companies (Share Capital and
 Debentures) Rules, 2014.</span></p><p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN"> (2) They shall come into force on the 1st day of
 April, 2014.</span></p><p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN"> 2. Definitions.-&nbsp;</span></p><p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN">(1) In these rules, unless the context otherwise
 requires,- (a) &#8216;&#8216;Act&#8217;&#8217; means the Companies Act, 2013 (18 of 2013); (b)
 &#8216;&#8216;Annexure&#8217;&#8217; means the Annexure to these rules; (c) &#8216;&#8216;Fees&#8217;&#8217; means the fees as
 specified in the Companies (Registration offices and fees) Rules, 2014; (d)
 &#8216;&#8216;Form&#8217;&#8217; or &#8220;e-form&#8221; means a form set forth in Annexure to these rules which
 shall be used for the matter to which it relates; (e) &#8216;&#8216;Regional Director&#8217;&#8217;
 means the person appointed by the Central Government in the Ministry of
 Corporate Affairs as a Regional Director; (f) &#8216;&#8216;section&#8217;&#8217; means the section of
 the Act.</span></p><p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN"> (2) Words and expressions used in these rules but not defined and
 defined in the Act or in Companies (Specification of definitions details)
 Rules, 2014 shall have the meanings respectively assigned to them in the Act
 and said rules.</span></p><p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN"> 3. Application.- The provisions of these rules shall apply to
 (a) all unlisted public companies; (b) all private companies; and (c) listed
 companies, so far as they do not contradict or conflict with any other
 provision framed in this regard by the Securities and Exchange Board of India.</span></p><p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN">
 4. Equity shares with differential rights.-</span></p><p style="font-family: Arial;" class="MsoNormal"><span lang="EN-IN"> (1) No company limited by shares
 shall issue equity shares with differential rights as to dividend, voting or
 otherwise, unless it complies with the following conditions, namely:- (a) the
 articles of association of the company authorizes the issue of shares with
 differential rights; (b) the issue of shares is authorized by an ordinary
 resolution passed at a general meeting of the shareholders: Provided that where
 the equity shares of a company are listed on a recognized stock exchange, the
 issue of such shares shall be approved by the shareholders through postal
 ballot ; (c) the shares with differential rights shall not exceed twenty-six
 percent of the total post-issue paid up equity share capital including equity
 shares with differential rights issued at any point of time; (d) the company
 having consistent track record of distributable profits for the last three
 years; (e) the company has not defaulted in filing financial statements and
 annual returns for three financial years immediately preceding the financial
 year in which it is decided to issue such shares;<o:p></o:p></span></p>
 </body></html>