 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  lang="EN-IN">GOVERNMENT
 OF INDIA&nbsp;<br>
 MINISTRY OF CORPORATE AFFAIRS&nbsp;<br>
 NOTIFICATION<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  lang="EN-IN">New
 Delhi, the 5th June, 2015<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  lang="EN-IN">G.S.R. (E).
 -&nbsp;In exercise of the powers conferred by clauses (a) and (b)
 of
 sub-section (1) of Section 462 and in pursuance of sub-section (2) of
 said
 section of the Companies Act, 2013 (18 of 2013) and in supersession of
 notifications issued under section 620 of the Companies Act, 1956 (1 of
 1956).
 except as respects things done or omitted to be done before such
 supersession,
 the Central Government, in the interest of public, hereby directs that
 certain
 provisions of the Companies Act, 2013, as specified in column (2) of
 the Table,
 shall not apply or shall apply with such exceptions, modifications and
 adaptations, as specified in column (3) of the said Table, to a
 Government
 company, namely:-<o:p></o:p></span></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 348px; height: 3336px;"
  border="0" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Serial
 number<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 Number/ Section number/ subsection) in the Companies Act, 2013<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Exceptions,
 Modifications and Adaptations.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">(1)<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">(2)<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">(3)<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">1.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 II, section 4.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">In
 section 4. in sub-section (1), in clause (a), the words 'in the case of
 a public limited company, or the last words "Private Limited'' in the
 case of a private limited company' shall be omitted.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">2.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 IV, section 56.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">In
 sub-section (1), after the proviso, the following provisos shall be
 inserted, namely:-<br>
       <br>
 Provided further that the provisions of this sub-section, in so far as
 it requires a proper instrument of transfer, to be duly stamped and
 executed by or on behalf of the transfer or and by or on behalf of the
 transferee, shall not apply with respect to bonds issued by a
 Government company, provided that an intimation by the transferee
 specifying his name, address and occupation, if any, has been delivered
 to the company along with the certificate relating to the bond; and if
 no such certificate is in existence, along with the letter of allotment
 of the bond:<br>
       <br>
 Provided also that the provisions of this sub-section shall not apply
 to a Government Company in respect of securities held by nominees of
 the Government.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">3.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 VII. section 89.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">4.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 VII. section 90.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">5.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 VII, subsection (2) of section 96.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  lang="EN-IN">In sub-section (2), for the words "some other
 place within the city, town or village in which the registered office
 of the company is situate", the words "such other place as the Central
 Government may approve in this behalf' shall be substituted.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">6.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 VIII, second proviso to sub-section (1) of section 123.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  lang="EN-IN">Shall not apply to a Government Company in
 which the entire paid up share capital is held by the Central
 Government, or by any State Government or Governments or by the Central
 Government and one or more State Governments.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">7.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 VIII, sub-section (4) of section 123.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  lang="EN-IN">Shall not apply to a Government Company in
 which the entire paid up share capital is held by the Central
 Government, or by any State Government or Governments or by the Central
 Government and one or more State Governments or by one or more
 Government Company.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">8.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 IX, section 129.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  lang="EN-IN">Shall not apply to the extent of application of
 Accounting Standard 17 (Segment Reporting) to the companies engaged in
 defence production.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">9.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 IX, clause (e) of sub-section (3) of section 134.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  lang="EN-IN">Shall not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">10.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 IX, clause (p) of sub-section (3) of section 134.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  lang="EN-IN">Shall not apply in case the directors are
 evaluated by the Ministry or Department of the Central Government which
 is administratively in charge of the company, or, as the case may be,
 the State Government, as per its own evaluation methodology.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">11.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, section 149(1) (b) and first proviso to sub-section (1) of section
 149.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  lang="EN-IN">Shall not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">12.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, clause (a) of sub-section (6) of section 149.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  lang="EN-IN">In section 149, in sub-section (6), in clause
 (a), for the word "Board", the words "Ministry or Department of the
 Central Government which is administratively in charge of the company,
 or, as the case may be, the State Government" shall be substituted.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">13.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, clause (c) of sub-section (6) of section 149.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">14.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, subsection (5) of section 152.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  lang="EN-IN">Shall not apply where appointment of such
 director is done by the Central Government or State Government, as the
 case may be.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">15.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, subsections (6) and (7) of section 152.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to -<br>
       <br>
 (a) a Government Company in which the entire paid up share capital is
 held by the Central Government, or by any State Government or
 Governments or by the Central Government and one or more State
 Governments;<br>
 (b) a subsidiary of a Government company, referred to in (a) above, in
 which the entire paid up share capital is held by that Government
 company.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">16.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, section 160.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to -<br>
       <br>
 (a) a Government Company in which the entire paid up share capital is
 held by the Central Government, or by any State Government or
 Governments or by the Central Government and one or more State
 Governments;<br>
 (b) a subsidiary of a Government company, referred to in (a) above, in
 which the entire paid up share capital is held by that Government
 company.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">17.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, section 162.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to -<o:p></o:p></span></p>
       <p class="MsoNormal"><span lang="EN-IN">a
 Government Company in which the entire paid up share capital is held by
 the Central Government, or by any State Government or Governments or by
 the Central Government and one or more State Governments;<o:p></o:p></span></p>
       <p class="MsoNormal"><span lang="EN-IN">a
 subsidiary of a Government company, referred to in (a) above, in which
 the entire paid up share capital is held by that Government company.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">18.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, section 163.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to -<o:p></o:p></span></p>
       <p class="MsoNormal"><span lang="EN-IN">a
 Government Company in which the entire paid up share capital is held by
 the Central Government, or by any State Government or Governments or by
 the Central Government and one or more State Governments;<o:p></o:p></span></p>
       <p class="MsoNormal"><span lang="EN-IN">a
 subsidiary of a Government company, referred to in (a) above, in which
 the entire paid up share capital is held by that Government company.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">19.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, subsection (2) of section 164.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">20.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, section 170.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to a Government Company in which the entire share capital is
 held by the Central Government, or by any State Government or
 Governments or by the Central Government or by one or more State
 Governments.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">21.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XI, section 171<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to a Government Company in which the entire share capital is
 held by the Central Government, or by any State Government or
 Governments or by the Central Government or by one or more State
 Governments.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">22.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XII, clause (i) of sub-section (4) of section 177.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">In
 clause (i) of sub-section (4) of the section 177, for the words
 "recommendation for appointment, remuneration and terms of appointment"
 the words "recommendation for remuneration" shall be substituted.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">23.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XII, subsections (2), (3) and (4) of section 178.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to Government company except with regard to appointment of
 'senior management' and other employees.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">24.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XII, section 185.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to Government company in case such company obtains approval
 of the Ministry or Department of the Central Government which is
 administratively in charge of the company, or, as the case may be, the
 State Government before making any loan or giving any guarantee or
 providing any security under the section.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">25.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XII, section 186.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to -<br>
       <br>
 (a) a Government company engaged in defence production;<br>
 (b) a Government company, other than a listed company, in case such
 company obtains approval of the Ministry or Department of the Central
 Government which is administratively in charge of the company, or, as
 the case may be, the State Government before making any loan or giving
 any guarantee or providing any security or making any investment under
 the section.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">26.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XII, first and second proviso to sub-section (1) of section 188.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply to -<o:p></o:p></span></p>
       <p class="MsoNormal"><span lang="EN-IN">a
 Government company in respect of contracts or arrangements entered into
 by it with any other Government company;<o:p></o:p></span></p>
       <p class="MsoNormal"><span lang="EN-IN">a
 Government company, other than a listed company, in respect of
 contracts or arrangements other than those referred to in clause (a),
 in case such company obtains approval of the Ministry or Department of
 the Central Government which is administratively in charge of the
 company, or, as the case may be, the State Government before entering
 into such contract or arrangement.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">27.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XIII, sub-sections (2), (4) and (5) of section 196.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">28.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XIII, section 197<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">29.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XIII, sub-sections (1), (2), (3) and (4) of section 203.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">After
 sub-section (4), the following sub-section shall be inserted, namely:-<br>
       <br>
 "(4A) The provisions of sub-sections (1), (2), (3) and (4) of this
 section shall not apply to a managing director or Chief Executive
 Officer or manager and in their absence, a whole­ time director of the
 Government Company."<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">30.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">Chapter
 XXIX. sub­-section (2) of section 439.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt;"
  valign="top">
       <p class="MsoNormal"><span lang="EN-IN">In
 sub-section (2). the words "the Registrar, a shareholder of the
 company, or of' shall be omitted.<o:p></o:p></span></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN">2. The Government companies, while
 complying with such exceptions, modifications and adaptations, as
 specified in
 column (3) of the aforesaid Table, shall ensure that the interests of
 their
 shareholders are protected.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN">3. A copy of this notification has been
 laid in draft before both Houses of Parliament as required by
 sub-section (2)
 of section 462 of the Companies Act, 2013.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  lang="EN-IN">[F
 No.l/2/2014-CL.V]<br>
 <br>
 Amardeep Singh Bhatia,&nbsp;<br>
 Joint Secretary to the Government of India.<o:p></o:p></span></p>
 </body>
 </html>
 