 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title>G.S.R.671 (E) dated 18th September, 2014</title>
 </head>
 <body>
 <p style="widows: 4; font-family: Arial;" align="center"></p>
 <p style="widows: 4; font-family: Arial;" align="center">Government
 of India<br>
 Ministry of Corporate Affairs<br>
 <b>NOTIFICATION</b></p>
 <p style="widows: 2; font-family: Arial;" align="right">New
 Delhi, the 18/09/2014</p>
 <p style="widows: 136; font-family: Arial;" align="justify"><b>GSR
 671(E).-&nbsp;</b>In
 exercise of the powers conferred by second proviso to sub section
 (i), sub-section (4) and clause (f) of sub-section (6) of section
 149, sub sections (3) and (4) of section 150, section 151,
 sub-section (5) of section 152, section 153, section 154, section
 157, section 160, sub-section (1) of section 168 and section 170 read
 with section 469 of the Companies Act, 2013, the Central Government
 hereby makes the following rules to amend the Companies (Appointment
 and Qualification of Directors) Rules, 2014, namely: -</p>
 <ol style="font-family: Arial;">
   <li>
     <p style="widows: 136;" align="justify"><b>Short
 title and commencement. -</b>&nbsp;(1)
 These rules may be called the Companies (Appointment and
 Qualification of Directors) Amendment Rules, 2014.</p>
   </li>
 </ol>
 <p style="widows: 136; font-family: Arial;" align="justify">(2)
 They shall come into force on the date of their publication in the
 Official Gazette.</p>
 <ol style="font-family: Arial;" start="2">
   <li>
     <p style="widows: 136;" align="justify">In the
 Companies (Appointment and Qualification of Directors) Rules,
 2014-</p>
   </li>
 </ol>
 <p style="widows: 136; font-family: Arial;" align="justify">(1)
 in rule 6, -</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(a)
 in sub-rule (2) -</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(i)
 clause (c) shall be omitted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(ii)&nbsp;&nbsp;
 in clause (d), the words "and mother's name and Spouse's name
 (if married)" shall be omitted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(b)
 in sub-rule (4), the words letters and figure "in Form DIR-1"
 shall be omitted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(2)
 in rule 9, in sub-rule (3),</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(a)
 (i) in clause (a), for the words "therein and sign the form"
 the words "therein, verify and sign the form" shall be
 substituted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(ii)
 Sub-clause (iv) shall be omitted.</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(b)
 after sub-rule (3), the following sub-rule shall be inserted,
 namely:-</p>
 <p style="widows: 136; font-family: Arial;" align="justify">"(4)
 In case the name of a person does not have a last name, then his or
 her father's or grandfather's surname shall be mentioned in the last
 name along with the declaration In<b>Form
 No. DIR-3A</b>.";</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(3)
 in rule 10,-</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(a)
 in sub-rule (1), for the words and letters "the provisional DIN
 shall be generated by the system automatically which shall not be
 utilised till the DIN is confirmed by the Central Government",
 the words "an application number shall be generated by the
 system automatically" and letters shall be substituted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(b)
 in sub-rule (2), for the words and letters "the provisional DIN"
 the words "application number" shall be substituted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(c)
 in sub-rule (4), the words and letters "the provisional DIN so
 allotted by the system shall get lapsed automatically and" shall
 be omitted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(4)
 after rule 10, the following rule shall be inserted, namely:-</p>
 <p style="widows: 136; font-family: Arial;" align="justify">"10A.
 (1) Every director, functioning as a director in one or more
 companies on or before the 30th June, 2007 and who has not yet
 intimated his DIN to such company or companies shall, within one
 month of the receipt of Director Identification Number from the
 Central Government, intimate his Director Identification Number to
 the company or all companies wherein he is a director as per&nbsp;<b>Form
 DIR-3B</b>.</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(2)
 The intimation by the company of Director Identification Number of
 its directors under section 157 of the Act shall be furnished
 in&nbsp;<b>Form
 DIR-3C</b>&nbsp;within
 fifteen days of receipt of intimation under section 156.";</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(5)
 in rule 11, after the words "application received", the
 words "along with fee as specified in Companies (Registration
 Offices and Fees) Rules, 2014" shall be inserted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(6)
 in rule 12, in sub-rule (1), for sub-clause (i), the following
 sub-clause shall be substituted, namely:-</p>
 <p style="widows: 136; font-family: Arial;" align="justify">"(1)
 The applicant shall download Form DIR-6 from the portal, fill in the
 relevant changes, verify the Form and attach duly scanned copy of the
 proof of the changed particulars and submit electronically.";</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(7)
 the existing Form DIR-1 shall be omitted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(8)
 for the existing Forms DIR-3, the following Form shall be
 substituted, namely:-</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(9)
 after form DIR-3 as substituted, the forms DIR-3A, DIR-3B, and
 DIR-3C, shall be inserted namely;-</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(10)
 form DIR-4 shall be omitted;</p>
 <p style="widows: 136; font-family: Arial;" align="justify">(11)
 for the existing Form DIR-6, the Form DIR-6 shall be inserted,
 namely;-</p>
 <p style="widows: 136; font-family: Arial;" align="justify"><b>OR</b></p>
 <p style="widows: 136; font-family: Arial;" align="justify"><b>This
 e-Form has been taken on file maintained by the registrar of
 companies through electronic mode and on the basis of statement of
 correctness given by the company.</b></p>
 <p style="widows: 136; font-family: Arial;" align="justify">(12)
 form DIR-7 shall be omitted;</p>
 <p style="widows: 2; font-family: Arial;" align="right"><br>
 </p>
 <p style="widows: 2; font-family: Arial;" align="right">[F.No.
 01/09/2013(Part-II) CL-V]<br>
 <br>
 <br>
 (Amardeep Singh Bhatia)<br>
 Joint
 secretary to the Govt, of India</p>
 <p style="font-family: Arial;"><b>Note:-</b>&nbsp;The
 principal rules were published In the Gazette of India, part II,
 Section 3,Sub-secton(l) vide no. G.S.R. 259(E), dated the 31st March,
 2014.</p>
 </body>
 </html>
 