 <html>
 <head>
 <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
 <title></title>
 </head>
 <body>
 <p class="MsoNormal" style="text-align: center; font-family: Arial;"
 align="center"><span style="font-size: 12pt; line-height: 115%;">NOTIFICATION
 <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: center; font-family: Arial;"
 align="center"><span style="font-size: 12pt; line-height: 115%;">New
 Delhi, The 31st March, 2014<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b
 style=""><span style="font-size: 12pt; line-height: 115%;">G.S.R.
 254 (E).-</span></b><span style="font-size: 12pt; line-height: 115%;">
 In exercise of the powers conferred by section 454
 read with section 469 of the Companies Act, 2013, the Central
 Government hereby
 makes the following rules, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b
 style=""><span style="font-size: 12pt; line-height: 115%;">1.
 Short title and commencement</span></b><span
 style="font-size: 12pt; line-height: 115%;">. - (1) These rules may
 be called the Companies (Adjudication of Penalties) Rules, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(2) They shall come
 into force on the 1st day of April, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b
 style=""><span style="font-size: 12pt; line-height: 115%;">2.
 Definitions</span></b><span style="font-size: 12pt; line-height: 115%;">.
 (1) In these rules, unless the context
 otherwise requires,-<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(a) "Act" means the
 Companies Act, 2013 (18 of 2013); <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(b) "Annexure" means
 the Annexure enclosed to these Rules; <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(c) "Fees" means fees
 as prescribed in the Companies (Registration Offices and Fees) Rules,
 2014; <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(d) "Form" or "e-Form"
 means a form set forth in Annexure to these rules which shall be used
 for the
 matter to which it relates; <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(e) "Regional Director"
 means the person appointed by the Central Government in the Ministry of
 Corporate Affairs as a Regional Director; <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(f) "section" means
 section of the Act;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(2) Words and
 expressions used in these rules but not defined, and defined in the Act
 or in
 the Companies (Specification of definitions details) Rules, 2014 shall
 have the
 meanings respectively assigned to them in the Act or in the said Rules.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b
 style=""><span style="font-size: 12pt; line-height: 115%;">3.
 Adjudication of penalties</span></b><span
 style="font-size: 12pt; line-height: 115%;">.- (1) The Central
 Government may
 appoint any of its officers, not below the rank of Registrar, as
 adjudicating
 officers for adjudging penalty under the provisions of the Act. <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(2) Before adjudging
 penalty, the adjudicating officer shall issue a written notice to the
 company
 and to every officer of the company who is in default, to show cause,
 within
 such period as may be specified in the notice (not being less than
 fifteen days
 and more than forty five days from the date of service thereon), why
 the
 inquiry should not be held against him:<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;"><span style="">&nbsp;</span>Provided
 that every notice issued under this
 sub-rule, shall clearly indicate the nature of non-compliance or
 default under
 the Act alleged to have been committed or made by such company and
 officer in
 default, as the case may be: <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">Provided further that
 the adjudicating officer may, for reasons to be recorded in writing,
 extend the
 period referred to above by a further period not exceeding fifteen
 days, if the
 company or officer (as applicable) satisfies the said officer that it
 has
 sufficient cause for not responding to the notice within the stipulated
 period.
 <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(3) If, after
 considering the cause, if any, shown by such company or officer, the
 adjudicating officer is of the opinion that an inquiry should be held,
 he shall
 issue a notice fixing a date for the (4) On the date fixed for hearing
 and
 after giving a reasonable opportunity of being heard to the person(s)
 concerned, the adjudicating officer may, subject to reasons to be
 recorded in
 writing, pass any order as he thinks fit including an order for
 adjournment of
 the hearing to a future date.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;"><span style="">&nbsp;</span>(5)
 Every order passed under sub-rule (4),
 shall be dated and signed by the adjudicating officer.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;"><span style="">&nbsp;</span>(6)
 The adjudicating officer shall send a copy
 of the order passed by it to the concerned company or officer who is in
 default
 and to the Central Government. <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(7) While holding an
 inquiry, the adjudicating officer shall have the following powers,
 namely:- <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(a) to summon and
 enforce the attendance of any person acquainted with the facts and
 circumstances of the case; <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(b) to order for
 evidence or to produce any document, which in the opinion of the
 adjudicating
 officer, may be useful for or relevant to the subject matter of the
 inquiry. <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(8) If any person
 fails, neglects or refuses to appear as required under sub-rule (7)
 before the
 adjudicating officer, the adjudicating officer may proceed with the
 inquiry in
 the absence of such person after recording the reasons for doing so.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;"><span style="">&nbsp;</span>(9)
 While adjudging quantum of penalty, the
 adjudicating officer shall have due regard to the following factors,
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(a) the amount of
 disproportionate gain or unfair advantage, wherever quantifiable, made
 as a
 result of the default; <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(b) the amount of loss
 caused to an investor or group of investors or creditors as a result of
 the
 default; <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(c) the repetitive
 nature of the default.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;"><span style="">&nbsp;</span>(10)
 All sums realised by way of penalties
 under the Act shall be credited to the Consolidated Fund of India.
 appearance
 of such company, through its authorised representative, or officer of
 such
 company whether personally or through his authorised representative<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b
 style=""><span style="font-size: 12pt; line-height: 115%;">4.
 Appeal against the order of adjudicating officer</span></b><span
 style="font-size: 12pt; line-height: 115%;">.-(1)
 Every appeal against the order of the adjudicating officer shall be
 filed in
 writing with the Regional Director having jurisdiction in the matter
 within a
 period of sixty days from the date of receipt of the order of
 adjudicating
 officer by the aggrieved party, in Form ADJ setting forth the grounds
 of appeal
 and shall be accompanied by a certified copy of the order against which
 the
 appeal is sought: <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">Provided that where the
 party is represented by an authorised representative, a copy of such
 authorisation in favour of the representative and the written consent
 thereto
 by such authorised representative shall also be appended to the appeal:
 Provided further that an appeal in Form ADJ shall not seek relief(s)
 therein
 against more than one order unless the reliefs prayed for are
 consequential. <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(2) Every appeal filed
 under this rule shall be accompanied by such fee as provided in the
 Companies
 (Registration Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b
 style=""><span style="font-size: 12pt; line-height: 115%;">5.
 Registration of appeal</span></b><span
 style="font-size: 12pt; line-height: 115%;">.-(1) On the receipt of an
 appeal,
 office of the Regional Director shall endorse the date on such appeal
 and shall
 sign such endorsement. <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(2) If, on scrutiny,
 the appeal is found to be in order, it shall be duly registered and
 given a
 serial number: <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">Provided that where the
 appeal is found to be defective, the Regional Director may allow the
 appellant
 such time, not being less than fourteen days following the date of
 receipt of
 intimation by the appellant from the Regional Director about the nature
 of the
 defects, to rectify the defects and if the appellant fails to rectify
 such
 defects within the time period allowed as above, the Regional Director
 may by
 order and for reasons to be recorded in writing, decline to register
 such
 appeal and communicate such refusal to the appellant within a period of
 seven
 days thereof: <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">Provided further that
 the Regional Director may, for reasons to be recorded in writing,
 extend the
 period referred to in the first proviso above by a further period of
 fourteen
 days if an appellant satisfies the Regional Director that the appellant
 had
 sufficient cause for not rectifying the defects within the period of
 fourteen
 days referred to in the first proviso.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">6. Disposal of appeal
 by Regional Director.-(1) On the admission of the appeal, the Regional
 Director
 shall serve a copy of appeal upon the adjudicating officer against
 whose order
 the appeal is sought along-with a notice requiring such adjudicating
 officer to
 file his reply thereto within such period, not exceeding twenty-one
 days, as
 may be stipulated by the Regional Director in the said notice: <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">Provided that the
 Regional Director may, for reasons to be recorded in writing, extend
 the period
 referred to in sub-rule (1) above for a further period of twenty-one
 days, if
 the adjudicating officer satisfies the Regional Director that he had
 sufficient
 cause for not being able to file his reply to the appeal within the
 above-said
 period of twenty-one days.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(2) A copy of every
 reply, application or written representation filed by the adjudicating
 officer
 before the Regional Director shall be forthwith served on the appellant
 by the
 adjudicating officer. <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(3) The Regional
 Director shall notify the parties, the date of hearing of the appeal
 which
 shall not be a date earlier than thirty days following the date of such
 notification for hearing of the appeal.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;"><span style="">&nbsp;</span>(4)
 On the date fixed for hearing the Regional
 Director may, subject to the reasons to be recorded in writing, pass
 any order
 as he thinks fit including an order for adjournment of the hearing to a
 future
 date. <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(5) In case the
 appellant or the adjudicating officer does not appear on the date fixed
 for
 hearing, the Regional Director may dispose of the appeal ex-parte:
 Provided
 that where the appellant appears afterwards and satisfies the Regional
 Director
 that there was sufficient cause for his non-appearance, the Regional
 Director
 may make an order setting aside the ex-parte order and restore the
 appeal. <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(6) Every order passed
 under this rule shall be dated and signed by the Regional Director. <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span
 style="font-size: 12pt; line-height: 115%;">(7) A certified copy of
 every order passed by the Regional Director shall be communicated to
 the adjudicating
 officer and to the appellant forthwith and to the Central Government.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right; font-family: Arial;"
 align="right"><span style="font-size: 12pt; line-height: 115%;">[F.
 No.
 1/25/2013-CL-V] <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right; font-family: Arial;"
 align="right"><span style="font-size: 12pt; line-height: 115%;">RENUKA
 KUMAR,
 Jt. Secy.<o:p></o:p></span></p>
 </body>
 </html>
 
