 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">Government
 of India<br>
 Ministry of Corporate Affairs<br>
 Notification<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi Dated the
 29th May, 2015<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">G.S.R.- In
 exercise of the powers
 conferred by section 399 read with sub-sections (1) and (2) of section
 469 of
 the Companies Act, 2013 (18 of 2013), the Central Government hereby
 makes the
 following rules further to amend the Companies (Registration Offices
 and Fees)
 Rules, 2014, namely: -<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1. (1)
 These rules may be called
 the Companies (Registration Offices and Fees) Second Amendment Rules,
 2015.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(2) They
 shall come into force
 from the date of their publication in the Official Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. In the
 Companies (Registration
 Offices and Fees) Rules, 2014, in rule 15, the following proviso shall
 be
 inserted:<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">"Provided
 that no person
 shall be entitled under section 399 to inspect or obtain copies of
 resolutions
 referred to in clause (g) of sub-section (3) of section 117 of the Act."<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">[File
 No.
 1/16/2013-CL-V]<br>
 <br>
 (Amardeep Singh Bhatia)&nbsp;<br>
 Joint Secretary to the Government of India<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Note: - The
 principal rules
 were published in the Gazette of India, Extraordinary, Part-II, Section
 3,
 Sub-section (i), vide number. G.S.R. 268(E), dated the 31st March, 2014
 and was
 last amended by notification vide number G.S.R 122(E), dated the 24th
 February,
 2015.<o:p></o:p></p>
 </body>
 </html>
 