<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 28th February, 2017
</p>
<p>
    <strong>G.S.R. 175(E).-</strong>
    In exercise of the powers conferred under sub-sections (1) and (2) of
    section 434 of the Companies Act, 2013 (18 of 2013) read with sub-section
    (1) of section 239 of the Insolvency and Bankruptcy Code, 2016 (31 of 2016)
    (hereinafter referred to as the Code), the Central Government hereby makes
    the following rules further to amend the Companies (Transfer of Pending
    Proceedings) Rules, 2016, namely:-
</p>
<p>
    <strong>1. Short title and Commencement.-</strong>
    (1) These rules may be called the Companies (Transfer of Pending
    Proceedings) Amendment Rules, 2017.
</p>
<p>
    (2) They shall come into force on the date of their publication in the
    Official Gazette.
</p>
<p>
    <strong>2. </strong>
    In the Companies (Transfer of Pending Proceedings) Rules, 2016, in rule 5,
    in sub-rule (1) in the proviso for the words "sixty days" the words "six
    months" shall be substituted.
</p>
<p align="right">
    [F. No. 1/5/2016-CL-V]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>