 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  lang="EN-IN">GOVERNMENT
 OF INDIA&nbsp;<br>
 MINISTRY OF CORPORATE AFFAIRS&nbsp;<br>
 <b>NOTIFICATION</b><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b><span
  lang="EN-IN">New
 Delhi, the 5th June, 2015</span></b><span lang="EN-IN"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b><span
  lang="EN-IN">G.S.R. (E).
 -&nbsp;</span></b><span lang="EN-IN">In
 exercise of the powers conferred by
 clauses (a) and (b)of sub-section (1) of section 462 read with section
 406 of
 the Companies Act, 2013 (18 of 2013) and in supersession of
 notification number
 GSR 517(E), dated the 31st August, 2006 and GSR 326(E), dated the 8th
 April,
 2011 or any other notification issued under section 620A of the
 Companies Act,
 1956, except as respects things done or omitted to be done before such
 supersession, the Central Government in the interest of public, hereby
 directs
 that certain provisions of the Companies Act, 2013, as specified in
 column (2)
 of the Table, shall not apply or shall apply with such exceptions,
 modifications
 and adaptations, as specified in column (3) of the said Table, to
 Nidhis,
 namely:-<o:p></o:p></span></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 100%; height: 1665px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b><span lang="EN-IN">Serial
 number</span></b><span lang="EN-IN"><o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b><span lang="EN-IN">Chapter
 Number/ Section number/ subsection) in the Companies Act, 2013</span></b><span
  lang="EN-IN"><o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b><span lang="EN-IN">Exceptions,
 Modifications and Adaptations.</span></b><span
  lang="EN-IN"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">(1)<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">(2)<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">(3)<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">1.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (2) of section 20<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply subject to the modification that in the case of a Nidhi, the
 document may be served only on members who hold shares of more than one
 thousand rupees in face value or more than one per cent, of the total
 paid-up share capital of the Nidhis whichever is less.<br>
       <br>
 For other shareholders, document may be served by a public notice in
 newspaper circulated in the district where the Registered Office of the
 Nidhi is situated; and publication of the same on the notice board of
 the Nidhi.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">2.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 42 except subsection (1), explanation (II) to sub-section (2),
 sub-sections (4), (6), (8), (9) and (10)<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">3.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Clause
 (b) of sub-section (1) of section 47<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply, subject to the modification that no member shall exercise voting
 rights on poll in excess of five per cent, of total voting rights of
 equity shareholders.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">4.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 62<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">5.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (1) of section 67<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply, when shares are purchased by the company from a member on
 his ceasing to be a depositor or borrower and it shall not be
 considered as reduction of capital under section 66 of the Companies
 Act, 2013.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">6.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (5) of Section 123<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply, subject to the modification that any dividend payable in cash
 may be paid by crediting the same to the account of the member, if the
 dividend is not claimed within 30 days from the date of declaration of
 the dividend.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">7.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 127<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply, subject to the modification that where the dividend payable to a
 member is one hundred rupees or less, it shall be sufficient compliance
 of the provisions of the section, if the declaration of dividend is
 announced in the local language in one local newspaper of wide
 circulation and announcement of the said declaration is also displayed
 on the notice board of the Nidhis for at least three months.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">8.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Sub-section
 (1) of Section 136<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply, subject to the modification that, in the case of members who do
 not individually or jointly hold shares of more than one thousand
 rupees in face value or more than one per cent, of the total paid-up
 share capital whichever is less, it shall be sufficient compliance with
 the provisions of the section if an intimation is sent by public notice
 in newspaper circulated in the district in which the Registered Office
 of the Nidhi is situated stating the date, time and venue of Annual
 General Meeting and the financial statement with its enclosures can be
 inspected at the registered office of the company, and the financial
 statement with enclosures are affixed in the Notice Board of the
 company and a member is entitled to vote either in person or through
 proxy.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">9.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 160<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">In
 sub-section (1), for the words "one lakh rupees", the words "ten
 thousand rupees" shall be substituted.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">10.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 185<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 not apply, provided the loan is given to a director or his relative in
 their capacity as members and such transaction is disclosed in the
 annual accounts by a note.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">11.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Second
 proviso to subsection (1) of section 197<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply with the modification that the remuneration of a director who is
 neither managing director nor whole time director or manager for
 performing special services to the Nidhis specified in the articles of
 association may be paid by way of monthly payment subject to the
 approval of the company in general meeting and also to the provisions
 of section 197 :<br>
       <br>
 Provided that no approval of the company in general meeting shall be
 required where,-<o:p></o:p></span></p>
       <ol style="margin-top: 0in;" start="1" type="1">
         <li class="MsoNormal" style=""><span
  lang="EN-IN">a Nidhi does not have a managing director or a
 whole-time director or a manager;<o:p></o:p></span></li>
         <li class="MsoNormal" style=""><span
  lang="EN-IN">the remuneration payable during a financial
 year to all the directors of the Nidhi does not exceed ten per cent, of
 the net profits of such Nidhi or fifteen lakh rupees, whichever is
 less; and<o:p></o:p></span></li>
         <li class="MsoNormal" style=""><span
  lang="EN-IN">a remuneration payable under clause (b) is
 approved by a special resolution passed in this behalf by the Nidhi.<o:p></o:p></span></li>
       </ol>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">12.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Section
 403<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><span lang="EN-IN">Shall
 apply, with the modification that the filing fees in respect of every
 return of allotment under sub-section (9) of section 42 shall be
 calculated at the rate of one rupee for every one hundred rupees or
 parts thereof on the face value of the shares included in the return
 but shall not exceed the amount of normal filing fee payable.<o:p></o:p></span></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN">2. The Nidhis, while complying with such
 exceptions, modifications and adaptations, as specified in column (3)
 of the
 aforesaid Table, shall ensure that the interests of their shareholders
 are
 protected.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  lang="EN-IN">3. A copy of this notification has been
 laid in draft before both Houses of Parliament as required by
 sub-section (2)
 of section 462 of the Companies Act, 2013.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  lang="EN-IN">[F
 No.2/11/2014-CL.V]<br>
 <br>
 Amardeep Singh Bhatia,&nbsp;<br>
 Joint Secretary to the Government of India.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 </body>
 </html>
 