 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR253(E) dated 28thMar 2014</title></head><body>
 
 
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><b>Government of India</b><span style="line-height: 115%;" lang="EN-IN"><br>
 </span><b>Ministry
 of Corporate Affairs</b><span style="line-height: 115%;" lang="EN-IN"><br>
 </span><b>NOTIFICATION</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><b>New Delhi, dated 28th Mar 2014</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">G.S.R.
 253(E).- In exercise of the powers conferred under section 455,sub-section (2)
 of section 459 and sub-section (1) of section 464 read with section 469 of the
 Companies Act, 2013, and in supersession of the Companies (Central
 Government&#8217;s) General Rules and Forms, 1956 or any other rules prescribed under
 the Companies Act, 1956 (1 of 1956) on matters covered under these rules,
 except as respects things done or omitted to be done before such supersession,
 the Central Government thereby makes the following rules, namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>1. Short title and commencement.
 -</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">(1)
 These rules may be called the Companies (Miscellaneous) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 They shall come into force on the date of their publication in the Official
 Gazette.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>2. Definitions.</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">(1)
 In these rules, unless the context otherwise requires,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 &#8220;Act&#8221; means the Companies Act, 2013 (18 of 2013);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 &#8220;Annexure&#8221; means Annexure enclosed to these Rules;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c)
 &#8220;Fees&#8221; means fees as prescribed in the Companies (Registration Offices and
 Fees) Rules, 2014;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(d)
 &#8221;Form&#8221; or &#8220;e-Form&#8221; means a form set forth in Annexure to these rules which
 shall be used for the matter to which it relates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(e)
 &#8220;section&#8221; means section of the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 Words and expressions used in these rules but not defined, and defined in the
 Act or in the Company (Specification of definitions details)Rules, 2014 shall
 have the meanings respectively assigned to them in the Act or in the said
 Rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>3. Application for obtaining
 status of dormant company.-</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">For
 the purposes of sub-section (1) of section 455, a company may make an application
 in</span>&nbsp;<b>Form
 MSC-1</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">along with such fee as provided
 in the Companies (Registration Offices and Fees) Rules, 2014 to the Registrar for
 obtaining the status of a Dormant Company in accordance with the provisions of
 section 455 after passing a special resolution to this effect in the general
 meeting of the company or after issuing a notice to all the shareholders of the
 company for this purpose and obtaining consent of at least 3/4th shareholders
 (in value):<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that a company shall be eligible to apply under this rule only, if-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 no inspection, inquiry or investigation has been ordered or taken up or carried
 out against the company;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 no prosecution has been initiated and pending against the company under any
 law;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii)
 the company is neither having any public deposits which are outstanding nor the
 company is in default in payment thereof or interest thereon;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv)
 the company is not having any outstanding loan, whether secured or unsecured:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that if there is any outstanding unsecured loan, the company may apply under
 this rule after obtaining concurrence of the lender and enclosing the same with</span>&nbsp;<b>Form MSC-1 ;</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v)
 there is no dispute in the management or ownership of the company and a
 certificate in this regard is enclosed with</span>&nbsp;<b>Form MSC-1;</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vi)
 the company does not have any outstanding statutory taxes, dues, duties etc.
 payable to the Central Government or any State Government or local authorities
 etc.;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vii)
 the company has not defaulted in the payment of workmen&#8217;s dues;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(viii)
 the securities of the company are not listed on any stock exchange within or
 outside India.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>4. Certificate of status of
 dormant company.-</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">The
 Registrar shall, after considering the application filed in </span><b>Form MSC-1</b><span style="line-height: 115%;" lang="EN-IN">,
 issue a certificate in </span><b>Form
 MSC-2</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">allowing
 the status of a Dormant Company to the applicant.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>5. Register of dormant
 companies.-</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">The
 Register maintained under the portal maintained by the Ministry of Corporate
 Affairs on its web-sitewww.mca.gov.in or any other website notified by the
 Central Government, shall be the register for dormant companies.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>6. Minimum number of directors
 for dormant company.-</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">A
 dormant company shall have a minimum number of three directors in case of a
 public company, two directors in case of a private company and one director in
 case of a One Person Company:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that the provisions of the Act in relation to the rotation of auditors shall
 not apply on dormant companies.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>7. Return of dormant companies.-</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">A
 dormant company shall file a &#8220;Return of Dormant Company&#8221; annually, inter-alia,
 indicating financial position duly audited by a chartered accountant in
 practice in</span>&nbsp;<b>Form
 MSC</b><span style="line-height: 115%;" lang="EN-IN">-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">3
 along with such annual fee as provided in the Companies (Registration Offices
 and Fees) Rules, 2014 within a period of thirty days from the end of each
 financial year:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that the company shall continue to file the return or returns of allotment and
 change in directors in the manner and within the time specified in the Act,
 whenever the company allots any security to any person or there is any change
 in the directors of the company.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>8. Application for seeking status
 of an active company.-</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">(1)
 An application, under sub-section (5) of section 455, for obtaining the status
 of an active company shall be made in</span>&nbsp;<b>Form MSC-4</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">along
 with fees as provided in the Companies (Registration Offices and Fees) Rules,
 2014 and shall be accompanied by a return in</span>&nbsp;<b>Form MSC-3</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">in
 respect of the financial year in which the application for obtaining the status
 of an active company is being filed:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that the Registrar shall initiate the process of striking off the name of the
 company if the company remains as a dormant company for a period of consecutive
 five years.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 The Registrar shall, after considering the application filed under sub-rule(1),
 issue a certificate in</span>&nbsp;<b>Form
 MSC-5</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">allowing the status of
 an active company to the applicant.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 Where a dormant company does or omits to do any act mentioned in the Grounds of
 application in</span>&nbsp;<b>Form
 MSC-1</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">submitted to Registrar
 for obtaining the status of dormant company, affecting its status of dormant company,
 the directors shall within seven days from such event, file an application,
 under sub-rule (1) of this rule, for obtaining the status of an active company.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 Where the Registrar has reasonable cause to believe that any company registered
 as &#8216;dormant company&#8217; under his jurisdiction has been functioning in any manner,
 directly or indirectly, he may initiate the proceedings for enquiry under
 section 206 of the Act and if, after giving a reasonable opportunity of being
 heard to the company in this regard, it is found that the company has actually
 been functioning, the Registrar may remove the name of such company from
 register of dormant companies and treat it as an active company.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>9. Fees for application to
 Central Government.-</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">For
 the purposes of sub-section (2) of section 459, every application which may be,
 or is required to be, made to the Central Government under any provision of the
 Act<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 in respect of any approval, sanction, consent, confirmation or recognition to
 be accorded by that Government to, or in relation to, any matter; or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 in respect of any direction or exemption to be given or granted by that
 Government in relation to any matter; or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c)
 in respect of any other matter, shall be accompanied by such fee as provided in
 the Companies (Registration Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>10. Association or partnership of
 persons exceeding certain number. -</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">No
 association or partnership shall be formed, consisting of more than fifty
 persons for the purpose of carrying on any business that as for its objects the
 acquisition of gain by the association or partnership or by individual members
 thereof, unless it is registered as a company under the Act or is formed under
 any other law for the time being in force.<o:p></o:p></span></p>
 </body></html>