 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR239(E) dated 27th March 2014</title></head><body>
 
 
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN">Government of India&nbsp;<br>
  Ministry of Corporate Affairs&nbsp;<br>
  Notification<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span style="line-height: 115%;" lang="EN-IN">New Delhi, dated March, 2014<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">G.S.R. 239(E).- In exercise
  of the powers conferred under sub-sections (1) and(3) of section 128,
  sub-section (3) of section 129, section 133, section 134, sub-section (4) of
  section 135, sub-section (1) of section 136, section 137 andsection 138 read
  with section 469 of the Companies Act, 2013, and insupersession of the
  Companies (Central Government&#8217;s) General Rules andForms, 1956 or any other
  rules prescribed under the Companies Act, 1956 (1 of 1956) on matters covered
  under these rules, except as respects things done or omitted to be done before
  such supersession, the Central Government hereby makes the following rules,
  namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">1. Short title and
  commencement. -<o:p></o:p></span></p>  
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1) These rules may be called
  the Companies (Accounts) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) They shall come into
  force on the date of their publication in the Official Gazette.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">2. Definitions.-&nbsp;(1) In
  these rules, unless the context otherwise requires,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a) &#8220;Act&#8221; means the Companies
  Act, 2013 (18 of 2013);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) &#8220;Annexure&#8221; means the
  Annexure to these rules;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c) &#8220;Fees&#8221; means the fees as
  specified in the Companies (Registration Offices and Fees) Rules, 2014;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(d) &#8221;Form&#8221; or &#8216;e-Form&#8221; means
  a form set forth in Annexure to these rules which shall be used for the matter
  to which it relates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(e) &#8220;Schedule&#8221; means the
  Schedule to the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(f) &#8220;section&#8221; means the
  section of the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) The words and expressions
  used in these rules but not defined and defined in the Act or in the Companies
  (Specification of definitions details) Rules, 2014, shall have the meanings
  respectively assigned to them in the Act or in the said Rules.<o:p></o:p></span></p>
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">3. Manner of books of account
  to be kept in electronic mode.-&nbsp;(1) The books of account and other
  relevant books and papers maintained in electronic mode shall remain accessible
  in India so as to be usable for subsequent reference.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) The books of account and
  other relevant books and papers referred to in sub-rule (1) shall be retained
  completely in the format in which they were originally generated, sent or
  received, or in a format which shall present accurately the information
  generated, sent or received and the information contained in the electronic
  records shall remain complete and unaltered.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3) The information received
  from branch offices shall not be altered and shall be kept in a manner where it
  shall depict what was originally received from the branches.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4) The information in the
  electronic record of the document shall be capable of being displayed in a
  legible form.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(5) There shall be a proper
  system for storage, retrieval, display or printout of the electronic records as
  the Audit Committee, if any, or the Board may deem appropriate and such records
  shall not be disposed of or rendered unusable, unless permitted by law:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided that the back-up of
  the books of account and other books and papers of the company maintained in
  electronic mode, including at a place outside India, if any, shall be kept in
  servers physically located in India on a periodic basis.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(6) The company shall
  intimate to the Registrar on an annual basis at the time of filing of financial
  statement-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a) the name of the service
  provider;<o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) the internet protocol
  address of service provider;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c) the location of the
  service provider (wherever applicable);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(d) where the books of
  account and other books and papers are maintained on cloud, such address as
  provided by the service provider.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Explanation.- For the
  purposes of this rule, the expression "electronic mode" includes
  &#8220;electronic form&#8221; as defined in clause (r) of sub-section(1) of section 2 of
  Information Technology Act, 2000 (21 of 2000) and also includes an electronic
  record as defined in clause (t) of sub-section(1) of section 2 of the
  Information Technology Act, 2000 (21 of 2000) and&#8220; books of account &#8221; shall
  have the meaning assigned to it under the Act.<o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">4. Conditions regarding
  maintenance and inspection of certain financial information by
  directors.-&nbsp;(1) The summarised returns of the books of account of the
  company kept and maintained outside India shall be sent to the registered
  office at quarterly intervals, which shall be kept and maintained at the
  registered office of the company and kept open to directors for inspection.<o:p></o:p></span></p>
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) Where any other financial
  information maintained outside the country is required by a director, the
  director shall furnish a request to the company setting out the full details of
  the financial information sought, the period for which such information is
  sought.<o:p></o:p></span></p> 
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3) The company shall produce
  such financial information to the director within fifteen days of the date of
  receipt of the written request.<o:p></o:p></span></p> 
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4) The financial information
  required under sub-rules (2) and (3) shall be sought for by the director
  himself and not by or through his power of attorney holder or agent or
  representative.<o:p></o:p></span></p>
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">5. Form of Statement
  containing salient features of financial statements of subsidiaries.-&nbsp;The
  statement containing the salient feature of the financial statement of a
  company&#8217;s subsidiary or subsidiaries, associate company or companies and joint
  venture or ventures under the first proviso to sub-section (3) of section 129
  shall bein Form AOC-1.<o:p></o:p></span></p>
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">6. Manner of consolidation of
  accounts.-&nbsp;The consolidation of financial statements of the company shall
  be made in accordance with the provisions of Schedule III of the Act and the
  applicable accounting standards:<o:p></o:p></span></p>    
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided that in case of a
  company covered under sub-section (3) of section 129 which is not required to
  prepare consolidated financial statements under the Accounting Standards, it
  shall be sufficient if the company complies with provisions on consolidated
  financial statements provided in Schedule III of the Act.<o:p></o:p></span></p> 
  
  <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">7. Transitional provisions
  with respect to Accounting Standards.-<o:p></o:p></span></p>  
  
  <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1) The standards of
  accounting as specified under the Companies Act,1956 (1 of 1956) shall be
  deemed to be the accounting standards until accounting standards are specified
  by the Central Government under section 133.<o:p></o:p></span></p>
  
  <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) Till the National
  Financial Reporting Authority is constituted under section 132 of the Act, the
  Central Government may prescribe the standards of accounting or any addendum
  thereto, as recommended by the Institute of Chartered Accountants of India in
  consultation with and after examination of the recommendations made by the
  National Advisory Committee on Accounting Standards constituted under section
  210A of the Companies Act, 1956 (1 of 1956).<o:p></o:p></span></p>
  
  <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">8. Matters to be included in
  Board&#8217;s report.-&nbsp;(1) The Board&#8217;s Report shall be prepared based on the
  stand alone financial statements of the company and the report shall contain a
  separate section wherein a report on the performance and financial position of
  each of the subsidiaries, associates and joint venture companies included in
  the consolidated financial statement is presented.<o:p></o:p></span></p>
   
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) The Report of the Board
  shall contain the particulars of contracts or arrangements with related parties
  referred to in sub-section (1) of section 188 in the Form&nbsp;AOC-2.<o:p></o:p></span></p>
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3) The report of the Board
  shall contain the following information and details, namely:-<o:p></o:p></span></p>  
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="lin  e-height: 115%;" lang="EN-IN">(A) Conservation of energy-<o:p></o:p></span></p>
  
  <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) the steps taken or impact
  on conservation of energy;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) the steps taken by the
  company for utilising alternate sources of energy;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii) the capital investment
  on energy conservation equipments;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(B) Technology absorption-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) the efforts made towards
  technology absorption;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) the benefits derived
  like product improvement, cost reduction, product development or import
  substitution;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii) in case of imported
  technology (imported during the last three years reckoned from the beginning of
  the financial year)-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a) the details of technology
  imported;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) the year of import;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c) whether the technology
  been fully absorbed;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(d) if not fully absorbed,
  areas where absorption has not taken place, and the reasons thereof; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv) the expenditure incurred
  on Research and Development.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(C) Foreign exchange earnings
  and Outgo-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">The Foreign Exchange earned
  in terms of actual inflows during the year and the Foreign Exchange outgo
  during the year in terms of actual outflows.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4) Every listed company and
  every other public company having a paid up share capital of twenty five crore
  rupees or more calculated at the end of the preceding financial year shall
  include, in the report by its Board of directors, a statement indicating the
  manner in which formal annual evaluation has been made by the Board of its own
  performance and that of its committees and individual directors.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(5) In addition to the
  information and details specified in sub-rule (4), the report of the Board
  shall also contain -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) the financial summary or
  highlights;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) the change in the nature
  of business, if any;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii) the details of
  directors or key managerial personnel who were appointed or have resigned
  during the year;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv) the names of companies
  which have become or ceased to be its Subsidiaries, joint ventures or associate
  companies during the year;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v) the details relating to
  deposits, covered under Chapter V of the Act,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a) accepted during the year;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) remained unpaid or
  unclaimed as at the end of the year;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c) whether there has been
  any default in repayment of deposits or payment of interest thereon during the
  year and if so, number of such cases and the total amount involved-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) at the beginning of the
  year;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) maximum during the year;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii) at the end of the year;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vi) the details of deposits
  which are not in compliance with the requirements of Chapter V of the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vii) the details of
  significant and material orders passed by the regulators or courts or tribunals
  impacting the going concern status and company&#8217;s operations in future;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(viii) the details in respect
  of adequacy of internal financial controls with reference to the Financial
  Statements.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">9. Disclosures about CSR Policy.-&nbsp;The
  disclosure of contents of Corporate Social Responsibility Policy in the Board&#8217;s
  report and on the company&#8217;s website, if any, shall be as per annexure attached
  to the Companies (Corporate Social Responsibility Policy) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">10. Statement containing
  salient features of financial statements.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">The statement containing
  features of documents referred to in first proviso to sub-section (1) of
  section 136 shall be in Form AOC-3.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">11. Manner of circulation of
  financial statements in certain cases.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">In case of all listed
  companies and such public companies which have a net worth of more than one
  crore rupees and turnover of more than ten crore rupees, the financial
  statements may be sent-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a) by electronic mode to
  such members whose shareholding is in dematerialised format and whose email Ids
  are registered with Depository for communication purposes;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) where Shareholding is
  held otherwise than by dematerialised format, to such members who have
  positively consented in writing for receiving by electronic mode; and<o:p></o:p></span></p> 
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c) by despatch of physical
  copies through any recognised mode of delivery as specified under section 20 of
  the Act, in all other cases.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">12. Filing of financial
  statements and fees to be paid thereon.-<o:p></o:p></span></p> 
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1) Every company shall file
  the financial statements with Registrar together with Form&nbsp;AOC-4.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) The class of companies as
  may be notified by the Central Government from time to time, shall mandatorily
  file their financial statement in Extensible Business Reporting Language (XBRL)
  format and the Central Government may specify the manner of such filing under
  such notification for such class of companies.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Explanation.-&nbsp;For the
  purposes of this sub-rule, the term &#8220;Extensible Business Reporting Language&#8221;
  means a standardised language for communication in electronic form to express,
  report or file financial information by companies under this rule.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3) The fees or additional
  fees referred to in sub-section (1) of section137 and in the second proviso to
  the said sub-section and in sub-section<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) of the said section shall
  be as specified in the Companies (Registration Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">13. Companies required to
  appoint internal auditor.- (1) The following class of companies shall be
  required to appoint an internal auditor or a firm of internal auditors,
  namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a) every listed company;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b) every unlisted public
  company having-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) paid up share capital of
  fifty crore rupees or more during the preceding financial year; or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) turnover of two hundred
  crore rupees or more during the preceding financial year; or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii) outstanding loans or
  borrowings from banks or public financial institutions exceeding one hundred
  crore rupees or more at any point of time during the preceding financial year;
  or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv) outstanding deposits of
  twenty five crore rupees or more at any point of time during the preceding
  financial year; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c) every private company
  having-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) turnover of two hundred
  crore rupees or more during the preceding financial year; or<o:p></o:p></span></p>
  
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii) outstanding loans or
  borrowings from banks or public financial institutions exceeding one hundred
  crore rupees or more at any point of time during the preceding financial year:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided that an existing
  company covered under any of the above criteria shall comply with the
  requirements of section 138 and this rule within six months of commencement of
  such section.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Explanation.-&nbsp;For the
  purposes of this rule -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i) the internal auditor may
  or may not be an employee of the company; (ii) the term &#8220;Chartered Accountant&#8221;
  shall mean a Chartered Accountant whether engaged in practice or not.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2) The Audit Committee of
  the company or the Board shall, in consultation with the Internal Auditor,
  formulate the scope, functioning, periodicity and methodology for conducting
  the internal audit.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN">____________<o:p></o:p></span></p>
 </body></html>