 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <div style="text-align: center;"><span
  style="font-family: Arial;">GOVERNMENT OF INDIA</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">MINISTRY OF CORPORATE
 AFFAIRS</span><br style="font-family: Arial;">
 <span style="font-family: Arial;">Notification</span><br
  style="font-family: Arial;">
 </div>
 <br style="font-family: Arial;">
 <div style="text-align: right;"><span
  style="font-family: Arial;">New Delhi, dated -4th September,
 2015</span><br style="font-family: Arial;">
 </div>
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">GSR (E) In exercise of
 the powers conferred by sub-section (1) of section 467 of the Companies
 Act, 2013 (18 of 2013), the Central Government hereby makes the
 following further alterations in Schedule III (hereinafter referred to
 as said Schedule) to the said Act, namely </span><br
  style="font-family: Arial;">
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">2. In the said Schedule,
 in Part I- Balance Sheet,- </span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(i) Under the heading
 "Equity and Liabilities", in para (4), for "(b) Trade payables" the
 following shall be substituted, namely:-</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">"(b) Trade
 Payables:&nbsp; </span><br style="font-family: Arial;">
 <span style="font-family: Arial;">&nbsp; (A) total
 outstanding dues of micro enterprises and small enterprises; and</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">&nbsp; (B) total
 outstanding dues of creditors other than micro enterprises and small
 enterprises.". </span><br style="font-family: Arial;">
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">(ii) Under the heading
 "Notes: General Instructions for preparation of Balance Sheet", in para
 6, after sub-para F the following shall be inserted, namely:&nbsp; </span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">"FA. Trade Payables</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">The following details
 relating to Micro, Small and Medium Enterprises shall be disclosed in
 the notes:- (a)&nbsp;&nbsp;&nbsp; the principal amount and
 the interest due thereon (to be shown separately) remaining unpaid to
 any supplier at the end of each accounting year;</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(b)&nbsp; the amount
 of interest paid by the buyer in terms of section 16 of the Micro,
 Small and Medium Enterprises Development Act, 2006, along with the
 amount of the payment made to the supplier beyond the appointed day
 during each accounting year; </span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(c) the amount of
 interest due and payable for the period of delay in making payment
 (which have been paid but beyond the appointed day during the year) but
 without adding the interest specified under the Micro, Small and Medium
 Enterprises Development Act, 2006; </span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">(d)&nbsp; the amount
 of interest accrued and remaining unpaid at the end of each accounting
 year; and </span><br style="font-family: Arial;">
 <span style="font-family: Arial;">(e)&nbsp; the amount
 of further interest remaining due and payable even in the succeeding
 years, until such date when the interest dues above are actually paid
 to the small enterprise, for the purpose of disallowance of a
 deductible expenditure under section 23 of the Micro, Small and Medium
 Enterprises Development Act, 2006. </span><br
  style="font-family: Arial;">
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">Explanation.-The terms
 'appointed day', 'buyer', 'enterprise', 'micro enterprise', 'small
 enterprise' and 'supplier', shall have the same meaning assigned to
 those under clauses (b), (d), (e), (h), (m) and (n) respectively of
 section 2 of the Micro, Small and Medium Enterprises Development Act,
 2006."</span><br style="font-family: Arial;">
 <br style="font-family: Arial;">
 <span style="font-family: Arial;">3. This notification
 shall come into force on the date of its publication in the Official
 Gazette</span><br style="font-family: Arial;">
 <br style="font-family: Arial;">
 <div style="text-align: right;"><span
  style="font-family: Arial;">[F No. 1/19/2013/CL.V] </span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">AMARDEEP SINGH BHATIA </span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Joint Secretary. - </span><br
  style="font-family: Arial;">
 </div>
 <br style="font-family: Arial;">
 </body>
 </html>
 