 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
  align="center"><span style="font-size: 12pt;">Government
 of India<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
  align="center"><span style="font-size: 12pt;">Ministry
 of Corporate Affairs<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="font-size: 12pt; line-height: 115%;">NOTIFICATION<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">New
 Delhi, 31<sup>st</sup> May, 2016<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">G.S.R.
 In exercise of the powers conferred by sub-sections (1) and (2) of
 section 469
 read with section 366 of the Companies Act,2013 (18 of2013), Central
 Government
 hereby makes the following rules further to amend the Companies
 (Authorised to
 Registered) Rules, 2014, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">1.
 (1) These rules may be called the Companies (Authorised to Register)
 Amendment
 Rules, 2016.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp;
 </span>(2) They shall come into force from the
 date of their publication in the Official Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">2.
 In the Companies (Authorised to Registered) Rules, 2014 (hereinafter
 referred
 to as the principal<span style="">&nbsp;&nbsp; </span>rules),
 -<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(a)
 in rule 1, for sub-rule (1), the following sub-rule shall be
 substituted,
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"(1)
 Companies (Authorised to Register) Rules, 2014."<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(b)
 in rule 2, in sub-rule (1), after clause (f), the following clause
 shall be
 inserted, namely :-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(g)
 "firm" means a firm as defined in section 4 of the Indian Partnership
 Act,1932 (9 of 1932);<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">3.
 In rule 3 of the principal rules, in sub-rule(2),-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(i)
 clause (a),-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(A)
 in sub-clause (i), for the words "were partners of the Limited
 Liability
 Partnership", the words "were partners of the Limited Liability
 Partnership or firm as the case may be" shall be substituted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(B)
 in sub-clause (iv), for the words "addresses of the partners of the
 Limited Liability Partnership", the<span style="">&nbsp;
 </span>words "addresses of the partners of the Limited Liability
 Partnership or firm as the case may be" shall be substituted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(C)
 for sub-clause (v) the following sub-clause shall be substituted
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"(v)
 in case of a firm, deeds of partnership, bye laws or other instrument
 constituting or regulating the company and duly verified in the manner
 provided
 in sub-rule (4) and in case the deed of partnership was revised at any
 time in
 the past copies of the principal and all subsequent deeds including the
 latest
 deed, along with the certificate of the registration issued by
 Registrar of
 firms, in case the firm is registered ".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(D)
 after sub-clause (viii), the following sub-clauses shall be inserted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"(ix)
 an undertaking that the proposed directors shall comply with the
 requirements
 of Indian Stamp Act, 1899 (2 of 1899) as applicable;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;"><span style="">&nbsp;</span>(x)
 a statement of assets and liabilities of
 the Limited Liability Partnership or the firm, as the case may be, duly
 certified by a chartered accountant in practice made as on a date not
 earlier
 than thirty days of the filing of form no.URC-1; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(xi)
 a copy of latest income tax return of the Limited Liability Partnership
 or firm
 as the case may be."<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(ii)
 in clause (b),-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(A)
 in sub-clause (iv), for the words "addresses of the partners of the
 Limited Liability Partnership", the words "addresses of the partners
 of the Limited Liability Partnership or firm as the case may be" shall
 be
 substituted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(B)
 for sub-clause (v), the following sub-clause shall be substituted,
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"(v)
 a copy of instrument constituting or regulating the company and duly
 verified
 in the manner<span style="">&nbsp; </span>provided
 in sub-rule (4)
 and in case the deed of partnership was revised at any time in the
 past, copies
 of principal and all the subsequent deeds including the latest deed,
 along with
 the certificate of the registration issued by Registrar of firms if
 any";<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(C)
 after sub-clause (viii), the following sub-clauses shall be inserted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"(ix)
 an undertaking that the proposed directors shall comply with the
 requirements
 of Indian Stamp Act, 1899 (2 of "1899);<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(x)
 a statement of assets and liabilities of the Limited Liability
 Partnership or
 the firm, as the case may be, duly certified by a chartered accountant
 in
 practice which is made as on a date not earlier than thirty days of the
 filing
 of form rro.URC-1;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(xi)
 a copy of latest income tax return of the Limited Liability Partnership
 or firm
 as the case may be."<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">4.
 (i). in rule 3 of the principal rules, for sub-rule (3), the following
 sub-rule
 shall be substituted, namely;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"(3)
 An undertaking, from all the members or partners providing that in the
 event of
 registration as a company under Part I of Chapter XXI of the Act,
 necessary
 documents or papers shall be submitted to the registering or other
 authority
 with which the company was earlier registered, for its dissolution as a
 firm" <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(ii)
 in sub-rule (4) for the words "designated partners of the Limited
 Liability Partnership" the words "designated partners of the Limited
 Liability Partnership or authorised partners of the firm as the case
 may
 be" shall be substituted'<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">5.
 in rule 4 of the principal rules, in sub-rule (1), for the words "in a
 newspaper and in English and in the principal vernacular language of
 the
 district in which Limited Liability Partnership is in existence and
 circulated
 in that district" the words "in a newspaper in English and in ay
 vernacular language, circulating in the district in which Limited
 Liability
 Partnership or the firm as the case may be is situ ate shall be
 substituted".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">6.
 in rule 5 of the principal rules,-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(A)
 for clause (i) the following clause shall be substituted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"(i)
 where a firm has obtained a certificate of registration under section
 367, an
 intimation to this effect shall be given within fifteen days of such
 registration to the concerned Registrar of firms under which it was
 originally
 registered, along with papers for its dissolution as a firm";<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(B)
 in clause (iii) for the words "concerned Registrar (LLP)" the words
 "Registrar of firms" and for the words "Registrar of Companies
 fl-LP), the words "Registrar of Firms" shall be substituted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(C)
 in clause (v) for the words "a statement of Proceedings, if any, by or
 against the Limited Liability Partnership", the words "a statement of
 proceedings, if any, by or against the Limited Liability Partnership or
 the
 firm as the case may be" shall be substituted;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">7.
 For Form No.URC-1, the following FormNo.URC-1 shall be substituted.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">[F. No. 1/ 35
 /2013
 CL-V]<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">AMARDEEP SINGH
 BHATIA, Jt. Secy.<o:p></o:p></span></p>
 </body>
 </html>
 