 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b>GOVERNMENT
 OF INDIA&nbsp;<br>
 MINISTRY OF CORPORATE AFFAIRS&nbsp;</b><br>
 <b>NOTIFICATION</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi, the 16th January 2015<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>G.S.R.37(E).</b>&nbsp;In
 exercise of the powers conferred by section 469 of the Companies
 Act,2013 (18 of 2013), the Central Government hereby makes the
 following rules further to amend the Companies (Accounts) Rules, 2014,
 namely-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1. (1)
 These rules may be called the Companies (Accounts) Amendment Rules,
 2015.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(2)
 They shall come into force on the date of their publication in the
 Official Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. In the
 Companies (Accounts) Rules, 2014,-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(i) after
 rule 2, following rule shall be inserted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">"2A.Notice
 of address at which books of account are to be maintained. - For the
 purposes of the first proviso to sub-section (1) of section 128, the
 notice regarding address at which books of account may be kept shall be
 in Form AOC-5."<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(ii)
 in rule 6. after the third proviso, the following proviso shall be
 inserted,
 namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">"Provided
 also that nothing in this rule shall apply in respect of consolidation
 of financial statement by a company having subsidiary or subsidiaries
 incorporated outside India only for the financial year commencing on or
 after April,1st 2014."<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(iii)
 in the Annexure. after Form AOC-4. the following Form shall be
 inserted, namely:-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">[F.
 No.1/19/2013-CL-V-Part]<br>
 <br>
 AMARDEEP SINGH BHATIA,&nbsp;<br>
 joint Secretary<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>Note
 .-</b>&nbsp;The
 principal rules were published in the Gazette of India. Extraordinary,
 Part II. Section3. Sub-section (i) vide number G.S.R. 239(E). dated the
 31st March, 2014 and was subsequently amended by notification number
 G.S.R. 723(E), dated the
 14th October, 2014.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
 