<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 30th March, 2017
</p>
<p>
    <strong>G.S.R. 309(E).-</strong>
    In exercise of the powers conferred under sections 173, 175, 177, 178, 179,
    184, 185, 186, 187, 188, 189 and section 191 read with section 469 of the
    Companies Act, 2013 (18 of 2013), the Central Government hereby makes the
    following rules further to amend the Companies (Meetings of Board and its
    Powers) Rules, 2014, namely:-
</p>
<p>
    1. (1) These rules may be called the Companies (Meetings of Board and its
    Powers) Amendment Rules, 2017.
</p>
<p>
    (2) They shall come into force on the date of their publication in the
    Official Gazette.
</p>
<p>
    2. In the Companies (Meetings of Board and its Powers) Rules, 2014, in rule
    15, in sub-rule (3), in clause (a)-
</p>
<p>
    (a) in item (i), item (ii), item (iii) and item (iv), for the words
    "exceeding ten per cent." Wherever they occur, the words "amounting to ten
    per cent. or more" shall be substituted; and (b) in item (iii), for the
    words "ten per cent. of turnover" the words "ten per cent. or more of
    turnover" shall be substituted.
</p>
<p align="right">
    [F. No. 1/32/2013-CL-V-Part]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>