<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: center;" align="center"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">[To be published in
the Gazette
of India, Extraordinary, Part-II, section 3, sub-section (i)]<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: center;" align="center"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">Government of India<br>
Ministry of Corporate Affairs<br>
<b>NOTIFICATION</b><o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: right;" align="right"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">New Delhi, the
18/19/2014<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">GSR
671(E).-&nbsp;</span></b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">In
exercise of the powers conferred by second proviso to sub­ section (i),
sub-section (4) and clause (f) of sub-section (6) of section 149,
sub­sections
(3) and (4) of section 150, section 151, sub-section (5) of section
152,
section 153, section 154, section 157, section 160, sub-section (1) of
section
168 and section 170 read with section 469 of the Companies Act, 2013,
the
Central Government hereby makes the following rules to amend the
Companies
(Appointment and Qualification of Directors) Rules, 2014, namely: -<o:p></o:p></span></p>
<ol style="margin-top: 0cm;" start="1" type="1">
<li class="MsoNormal" style="text-align: justify;"><b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">Short title and
commencement. -</span></b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">&nbsp;(1) These rules
may be called the Companies (Appointment and Qualification of
Directors) Amendment Rules, 2014.<o:p></o:p></span></li>
</ol>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(2)
They shall come into force on the date of their publication in the
Official
Gazette.<o:p></o:p></span></p>
<ol style="margin-top: 0cm;" start="2" type="1">
<li class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">In the Companies
(Appointment and Qualification of Directors) Rules, 2014-<o:p></o:p></span></li>
</ol>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(1)
in rule 6, -<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(a)
in sub-rule (2) -<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(i)
clause (c) shall be omitted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(ii)&nbsp;&nbsp;
in clause (d), the words "and mother's name and Spouse's name (if
married)" shall be omitted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(b)
in sub-rule (4), the words letters and figure "in Form DIR-1" shall
be omitted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(2)
in rule 9, in sub-rule (3),<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(a)
(i) in clause (a), for the words "therein and sign the form" the
words "therein, verify and sign the form" shall be substituted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(ii)
Sub-clause (iv) shall be omitted.<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(b)
after sub-rule (3), the following sub-rule shall be inserted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">"(4)
In case the name of a person does not have a last name, then his or her
father's or grandfather's surname shall be mentioned in the last name
along
with the declaration In<b>Form No. DIR-3A</b>.";<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(3)
in rule 10,-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(a)
in sub-rule (1), for the words and letters "the provisional DIN shall
be
generated by the system automatically which shall not be utilised till
the DIN
is confirmed by the Central Government", the words "an application
number shall be generated by the system automatically" and letters
shall
be substituted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(b)
in sub-rule (2), for the words and letters "the provisional DIN" the
words "application number" shall be substituted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(c)
in sub-rule (4), the words and letters "the provisional DIN so allotted
by
the system shall get lapsed automatically and" shall be omitted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(4)
after rule 10, the following rule shall be inserted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">"10A.
(1) Every director, functioning as a director in one or more companies
on or
before the 30th June, 2007 and who has not yet intimated his DIN to
such
company or companies shall, within one month of the receipt of Director
Identification Number from the Central Government, intimate his
Director
Identification Number to the company or all companies wherein he is a
director
as per&nbsp;<b>Form DIR-3B</b>.<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(2)
The intimation by the company of Director Identification Number of its
directors under section 157 of the Act shall be furnished in&nbsp;<b>Form
DIR-3C</b>&nbsp;within fifteen days of receipt of intimation under
section
156.";<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(5)
in rule 11, after the words "application received", the words
"along with fee as specified in Companies (Registration Offices and
Fees)
Rules, 2014" shall be inserted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(6)
in rule 12, in sub-rule (1), for sub-clause (i), the following
sub-clause shall
be substituted, namely:-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">"(1)
The applicant shall download Form DIR-6 from the portal, fill in the
relevant
changes, verify the Form and attach duly scanned copy of the proof of
the
changed particulars and submit electronically.";<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(7)
the existing Form DIR-1 shall be omitted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(8)
for the existing Forms DIR-3, the following Form shall be substituted,
namely:-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(9)
after form DIR-3 as substituted, the forms DIR-3A, DIR-3B, and DIR-3C,
shall be
inserted namely;-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(10)
form DIR-4 shall be omitted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(11)
for the existing Form DIR-6, the Form DIR-6 shall be inserted, namely;-<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">OR</span></b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">This
e-Form has been taken on file maintained by the registrar of companies
through
electronic mode and on the basis of statement of correctness given by
the
company.</span></b><span style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">(12)
form DIR-7 shall be omitted;<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: right;" align="right"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal" style="text-align: right;" align="right"><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">[F.No.
01/09/2013(Part-II) CL-V]<br>
<br>
<br>
(Amardeep Singh Bhatia)<br>
Joint secretary to the Govt, of India<o:p></o:p></span></p>
<p class="MsoNormal"><b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">Note:-</span></b><span
style="font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">&nbsp;The principal
rules were
published In the Gazette of India, part II, Section 3,Sub-secton(l)
vide no.
G.S.R. 259(E), dated the 31st March, 2014.<o:p></o:p></span></p>
</body>
</html>

