 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style="">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style="">Notification<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">New Delhi, the 4<sup>th</sup>
 September
 2015<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><b
  style="">G.S.R (E)</b> - in exercise of the powers
 conferred under sub-sections
 (1) and (3) of section 128, sub section (3) of section 129, section
 133,
 section 134, sub-section (4) of section 135, sub section (1) of section
 136,
 section 137 and section 138 read with section 469 of the Companies Act,
 2013
 the central Government hereby makes the following rules further to
 amend the
 Companies (Accounts) Rules, 2014, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin: 0in 0in 0.0001pt 13.5pt; text-align: justify; text-indent: -13.5pt; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">
 &nbsp;&nbsp; </span></span></span><!--[endif]-->(1)
 These rules may be called the Companies (Accounts) Second Amendment
 Rules, 2015<o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin: 0in 0in 0.0001pt 13.5pt; text-align: justify; line-height: normal; font-family: Arial;">(2)
 They
 shall come into force from the date of their publication in the
 official
 Gazette<o:p></o:p></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin: 0in 0in 0.0001pt 13.5pt; text-align: justify; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;">2.
 In the Companies
 (Accounts) Rules, 2014<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(i)
 in rule (2), in
 sub- rule (1), after clause (d), following shall be inserted, namely:- <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.25in; text-align: justify; text-indent: -4.5pt; line-height: normal; font-family: Arial;">"(da)
 "Indian Accounting Standards"
 means the Accounting Standards referred in rule 3 and annexure <span
  style="">&nbsp;</span>to the Companies (Indian
 Accounting Standards)
 Rules, 2015<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.25in; text-align: justify; text-indent: -4.5pt; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;">(ii)
 After rule 4the
 following rule shall be inserted namely:- <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 13.5pt; text-align: justify; line-height: normal; font-family: Arial;">"4A<span
  style="">&nbsp; </span><b style="">Forms
 and items contained in Financial
 Statements.</b> - The financial statements shall be in the form
 specified in
 schedule III to the Act and comply with Accounting standards or Indian
 Accounting Standards as applicable:<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 13.5pt; text-align: justify; line-height: normal; font-family: Arial;">Provided
 that the items contained in financial statements
 shall be prepared in accordance with the definitions and other
 requirements
 specified in Accounting standards or the Indian Accounting Standards,
 as the
 case may be.".<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;">(iii)
 in rule 8, in
 sub-rule (3), the following proviso shall be inserted at the end,
 namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 13.5pt; text-align: justify; line-height: normal; font-family: Arial;">"Provided
 that the requirement of furnishing information
 and details under this sub-rule shall not apply to a Government Company
 engaged
 in producing defence equipment.".<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(iv)
 in rule 12, for
 sub-rule (1) the following sub-rule shall be substituted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 0.25in; text-align: justify; line-height: 15pt; font-family: Arial;">"(1)
 Every Company shall file the financial statements with
 Registrar together with Form AOC-4 and the consolidated financial
 statement, if
 any, with Form AOC-4 CFS.".<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(v)
 In Annexure , for
 FormAOC-4, the following AOC-4 and AOC-4 CFS shall be substituted
 namely:-<span style="">&nbsp;&nbsp; </span><span
  style="">&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">[F.No. 1/19/2013-CL-V-Part]<o:p></o:p></p>
<p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="">
 </span>Sd/-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">AMARDEEP SINGH BHATIA, Jt. Secy.<span
  style="">&nbsp; </span><o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">Note:<span
  style="">&nbsp; </span>The principal notification
 was published in
 the Gazette of India vide No. G.S.R. 239(E), dated 31.03.2014 and was
 amended
 vide notification no. GSR 723(E) dated 14.10.2014 and GSR 37 (E) dated
 16.01.2015.<span style="">&nbsp;&nbsp;&nbsp; </span><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
 