 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p style="page-break-inside: avoid; widows: 4; font-family: Arial;"
  align="center"><b>TO
 BE PUBLISHED IN THE GAZETTE OF INDIA,EXTRAORDINARY,<br>
 PART II,
 SECTION 3,SUB-SECTION(I)</b></p>
 <p style="page-break-inside: avoid; widows: 4; font-family: Arial;"
  align="center"><b>GOVERMENT
 OF INDIA<br>
 MINISTRY OF CORPORATE AFFAIRS<br>
 <br>
 NOTIFICATION</b></p>
 <p style="page-break-inside: avoid; widows: 2; font-family: Arial;"
  align="right"><b>NEW
 DELHI,the 28</b><sup><b>th</b></sup><b>April,2014</b></p>
 <p style="page-break-inside: avoid; widows: 8; font-family: Arial;"
  align="justify"><br>
 </p>
 <p style="page-break-inside: avoid; widows: 8; font-family: Arial;"
  align="justify"><b>G.S.R.297(E)</b>&nbsp;-
 In exercise of the powers conferred be section 396 ,398, 399, 403 and
 section 404 with sub-sections(1) and (2) of section 469 of the
 Companies Act,2013 (18 of 2013), the Central Government hereby makes
 the following rules to amend the Companies (Registration Offices and
 Fees) Rules, 2014,namely:-</p>
 <ol style="font-family: Arial;">
   <li>
     <p style="page-break-inside: avoid; widows: 8;"
  align="justify">(1)
 These rules may be called the Companies (Registration Offices and Fees)
 Amendment Rules,2014.<br>
     <br>
 (2) They Shall come into force with effect from the 28<sup>th</sup>&nbsp;day
 of April, 2014.</p>
   </li>
   <li>
     <p style="page-break-inside: avoid; widows: 8;"
  align="justify">in
 the Companies (Registration Offices and Fees) Rules, 2014 (herein after
 referred to as the said rules),in rule 8 after sub-rule(11), following
 sub-rule shall be inserted , namely:-<br>
     <br>
 "(12) a. The following e-forms filled by companies, other than one
 person companies and small companies, under sub-rule(1) and 9, shall be
 pre-certified by the Chartered Accountant or the Company Secretary or
 as the case may be the Cost Accountant, in whole-time practice,
 namely:- <br>
     <br>
 INC-21, INC-22, INC-28, PAS-3, SH-7, CHG-1, CHG-4, CHG-9, MGT-14,
 DIR-6, DIR-12, MR-1, MR-2, MSC-1, MSC-3, MSC-4, GNL-3, ADT-1, NDH-1,
 NDH-2, NDH-3;<br>
     <br>
 b. The following e-forms files by companies, other than one person
 companies and small companies, under sub-rule(1) of rule 9 , shall be
 pre-certified in the following manner, namely:-</p>
     <ol type="i">
       <li>
         <p style="page-break-inside: avoid; widows: 8;"
  align="justify">GNL-1-optional
 pre-certification by the Chartered Accountant or the Company Secretary
 or as the case may be the Cost Accountant, in whole -time practice.</p>
       </li>
       <li>
         <p style="page-break-inside: avoid; widows: 8;"
  align="justify">DPT-3-certification
 by Auditors of the company.</p>
       </li>
       <li>
         <p style="page-break-inside: avoid; widows: 8;"
  align="justify">MGT-10-certification
 by a Company Secretary in whole- time practice.</p>
       </li>
       <li>
         <p style="page-break-inside: avoid; widows: 8;"
  align="justify">AOC-4-
 certification by a Chartered Accountant in whole-time practice.</p>
       </li>
     </ol>
   </li>
 </ol>
 <p style="page-break-inside: avoid; widows: 8; font-family: Arial;"
  align="justify">c.
 e-Form DIR-3 shall be filed along with the attestation of photograph,
 identity proof and proof of residence of the applicant by the
 Chartered Accountant or the Company Secretary or as the case may be
 the Cost Accountant, in whole-timie practice"</p>
 <ol style="font-family: Arial;" start="3">
   <li>
     <p style="page-break-inside: avoid; widows: 8;"
  align="justify">In
 the said rules, in rule 9, for sub-rule(1),the following sub-rule shall
 be substituted ,namely:-</p>
   </li>
 </ol>
 <ol style="font-family: Arial;">
   <ol type="i">
     <li>
       <p style="page-break-inside: avoid; widows: 8;"
  align="justify">''The
 Central Government shall set up and maintain a secure centralised
 electronic registry in which all applicants, financial statement,
 prospectus ,return, register, memorandum, articles, particulars of
 charges, or any particulars or returns or any other documents under the
 Act shall be filled and stored electronically.''</p>
     </li>
   </ol>
 </ol>
 <p style="page-break-inside: avoid; widows: 2; font-family: Arial;"
  align="right">&nbsp;</p>
 <p style="page-break-inside: avoid; widows: 2; font-family: Arial;"
  align="right">(Renuka
 Kumar)<br>
 Joint Secretary</p>
 <p style="font-family: Arial;"><br>
 </p>
 </body>
 </html>
 