 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style=""><span
  style="font-size: 12pt;">Government of
 India<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style=""><span
  style="font-size: 12pt;">MINISTRY OF
 CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style=""><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style=""><span
  style="font-size: 12pt;">Notification<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span
  style="font-size: 12pt;">New Delhi, 05th
 May, 2016<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b
  style=""><span style="font-size: 12pt;">G.S.R.
 (E)</span></b><span style="font-size: 12pt;">.-ln
 exercise of the powers conferred by section 399 read with sub-sections
 (1) and
 (2) of section 469 of the Companies Act, 2013 (18 of 2013), the Central
 Government hereby makes the following rules further to amend the
 Companies
 (Registration Offices and Fees) Amendment Rules, 2014, namely - <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 31.5pt; text-align: justify; text-indent: -31.5pt; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">1. (1) These rules may be called
 the
 Companies (Registration Offices and Fees) Amendment Rules, 2016.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 31.5pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(2)
 They shall come into force from the date of their publication in the
 Official Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">2. In the
 Companies (Registration Offices and Fees) Rules, 2014, <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><span
  style="font-family: Arial;">(i) For Form No.
 GNL-1 and Form No. GNL-4, following forms shall respectively be
 substituted,</span><o:p></o:p></span></p>
 </body>
 </html>
 