<!DOCTYPE HTML PUBLIC "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />

    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
</head>
<body style="font-family: Verdana, Tahoma, Arial;font-size: 16px;">
<div>
    <p>
        <strong> </strong>
    </p>
    <p align="center">
        <strong>MINISTRY OF CORPORATE AFFAIRS NOTIFICATION</strong>
    </p>

    <p align="center">
        New Delhi, the 4th January, 2017
    </p>
    <p align="justify">
        <strong>G.S.R. 08(E).-</strong>
        In exercise of the powers conferred by clauses (a) and (b) of
        sub-section (1) of Section 462 and in pursuance of sub-section (2) of
        the said section of the Companies Act, 2013 (18 of 2013), the Central
        Government, in the interest of public, hereby directs that certain
        provisions of the Companies Act, 2013 (18 of 2013), as specified in
        column (2) of the Table, shall not apply or shall apply with such
        exceptions, modifications and adaptations as specified in column (3) of
        the said Table, to an unlisted public company which is licensed to
        operate by the Reserve Bank of India or the Securities and Exchange
        Board of India or the Insurance Regulatory and Development Authority of
        India from the International Financial Services Centre located in an
        approved multi services Special Economic Zone set-up under the Special
        Economic Zones Act, 2005 (28 of 2005) read with the Special Economic
        Zones Rules, 2006 (herein after referred to as "Specified IFSC public
        company"), namely:-
    </p>

    <p>
        <strong> </strong>
    </p>
    <table cellspacing="0" cellpadding="0" border="1" style="border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
            background-color: #FFF !important;">
        <tbody>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Serial Number
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Provisions of the Companies Act, 2013
                </p>
                <p>
                    (18 of 2013)
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Exceptions/Modifications/Adaptations
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    (1)
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    (2)
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    (3)
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    1.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    Clause (41) of section 2
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In Clause (41), after the second proviso, the following
                    proviso shall be inserted, namely :-
                </p>
                <p>
                    "Provided also that in case of a Specified IFSC public
                    company, which is a subsidiary of a foreign company,
                    the financial year of the subsidiary may be same as the
                    financial year of its holding company and approval of
                    the Tribunal shall not be required."
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    2.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-clause (viii) of clause (76) of section 2
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply with respect to section 188.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    3.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (2) of section 3
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (2), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    "Provided that a Specified IFSC public company shall be
                    formed only as a company limited by shares."
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    4.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clause (a) of sub- section (1) of section 4
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In clause (a) of sub-section (1), after the proviso,
                    the following proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided further that a Specified IFSC public company
                    shall have the suffix “International Financial Service
                    Company” or “IFSC” as part of its name.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    5.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clause (c) of sub- section (1) of section 4
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In clause (c) of sub-section (1) of section 4, the
                    following proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided that a Specified IFSC public company shall
                    state its objects to do financial services activities,
                    as permitted under the Special Economic Zones Act, 2005
                    (28 of 2005) read with the Special Economic Zones
                    Rules, 2006 and any matter considered necessary in
                    furtherance thereof, in accordance with license to
                    operate, from International Financial Services Centre
                    located in an approved multi services Special Economic
                    Zone, granted by the Reserve Bank of India or the
                    Securities and Exchange Board of India or
                    the Insurance Regulatory and Development Authority of
                    India.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    6.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 12
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that a Specified IFSC public company shall
                    have its registered office at the International Financial
                    Services Centre located in the approved multi services Special Economic Zone
                    set-up under the Special Economic Zones Act, 2005 read with the
                    Special Economic Zones Rules, 2006, where it is licensed to
                    operate, at all times.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    7.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (2) of section 12
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “thirty days” read as “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    8.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (4) of section 12
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “fifteen days” read as “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    9.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (5) of section 12
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For sub-section (5), the following sub-section shall be
                    substituted, namely:-
                </p>
                <p>
                    “(5) Except on the authority of a resolution passed by
                    the Board of Directors, the registered office of the
                    Specified IFSC public company shall not be changed from
                    one place to another within the International Financial
                    Services Centre:
                </p>
                <p>
                    Provided that the Specified IFSC public company shall
                    not change the place of its registered office to any
                    other place outside the said International Financial
                    Services Centre.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    10.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 21
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “an officer” read as “an officer or any
                    other person”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    11.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-sections (3) and (7) of section 42
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    12.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (6) of section 42
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “sixty days” read as “ninety days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    13.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 43
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply to a Specified IFSC public company,
                    where memorandum of association or articles of
                    association of such company provides for it.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    14.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 47
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply to a Specified IFSC public company,
                    where memorandum of association or articles of
                    association of such company provides for it.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    15.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clause (c) of sub- section (1) of section 54
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    16.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (4) of section 56
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (4), after the proviso, the following
                    proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided further that a Specified IFSC public company
                    shall deliver the certificates of all securities to
                    subscribers after incorporation, allotment, transfer or
                    transmission within a period of sixty days.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    17.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clause (a) of sub- section (1) of section 62
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In clause (a) of sub-section (1), the following proviso
                    shall be inserted, namely:-
                </p>
                <p>
                    “Provided that notwithstanding anything contained in
                    sub-clause (i), in case of a Specified IFSC public company, the periods
                    lesser than those specified in the said sub-clause shall apply if
                    ninety per cent. of the members have given their consent in writing or in
                    electronic mode.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    18.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clause (b) of sub- section (1) of section 62
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “special resolution” read as “ordinary
                    resolution”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    19.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 67
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply to a Specified IFSC public company-
                </p>
                <p>
                    (a) in whose share capital no other body corporate has
                    invested any money;
                </p>
                <p>
                    (b) if the borrowings of such company from banks or
                    financial institutions or any body corporate is less
                    than twice of its paid up share capital or fifty crore
                    rupees, whichever is lower; and
                </p>
                <p>
                    (c) such a company is not in default in repayment of
                    such borrowings subsisting at the time of making
                    transactions under this section.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
               <p align="center">
                    20.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clauses (a) to (e) of sub- section (2) of section 73
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply to a Specified IFSC public company
                    which accepts from its members, monies not exceeding
                    one hundred per cent. of aggregate of the paid up share
                    capital and free reserves, and such company shall file
                    the details of monies so accepted to the Registrar in
                    such manner as may be specified.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    21.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 82
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC public
                    company, the Registrar may, on an application by the
                    company, allow such registration to be made within a
                    period of three hundred days of such creation on
                    payment of such additional fees as may be prescribed.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    22.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (6) of section 89
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “thirty days” read as “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    23.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 92
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    24.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 100
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC public
                    company, the Board may subject to the consent of all
                    the shareholders, convene its extraordinary general
                    meeting at any place within or outside India.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    25.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sections 101 to 107 and section 109
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall apply in case of a Specified IFSC public company,
                    unless otherwise specified in the articles of the
                    company.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    26.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 117
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “thirty days” read as “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    27.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Clause (g) of sub-section(3) of section 117
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    28.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 118
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC public
                    company, the minutes of every meeting of its Board of
                    Directors or of every committee of the Board, to be
                    prepared and signed in the manner as may be prescribed
                    under sub-section (1) at or before the next Board
                    meeting or committee meeting, as the case may be and
                    kept in the books kept for that purpose.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    29.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (10) of section 118
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    30.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 134
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (3), following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC public
                    company, if any information listed in this sub-section
                    is provided in the financial statement, the company may
                    not include such information in the report of the Board
                    of Directors.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    31.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 135
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply for a period of five years from the
                    commencement of business of a Specified IFSC public
                    company.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    32.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 138
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall apply if the articles of the company provides for
                    the same.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    33.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Fourth proviso to sub section (1) of section 139
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “ fifteen days” read as “ thirty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    34.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    All provisos to sub- section (2) of section 139
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    35.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 140
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1) after the proviso, the following
                    proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided further that in case of a Specified IFSC
                    public company, where, within a period of sixty days
                    from the date of submission of the application to the
                    Central Government under this sub-section, no decision
                    is communicated by the Central Government to the
                    company, it would be deemed that the Central Government
                    has approved the application and the company shall
                    appoint new auditor at a general meeting convened
                    within three months from the date of expiry of sixty
                    days period.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    36.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Second proviso to sub- section (1) of section 149
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    37.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub- section (3) of section 149
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (3), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that this sub-section shall apply to a
                    Specified IFSC public company in respect of financial
                    years other than the first financial year from the date
                    of its incorporation.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    38.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub- sections (4) to (11), clause (i) of sub- section
                    (12) and sub-section (13) of section 149
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    39.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (5) of section 152
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “thirty days” read as “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    40.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-sections (6) and (7) of section 152
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    41.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 160
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall apply as per the articles framed by the company.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    42.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 161
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (3), the following proviso shall be
                    inserted, namely:-
                </p>
                <p>
                    “Provided that in case of a Specified IFSC public
                    company, the Board may appoint, any person nominated by
                    any institution or company or body corporate as a
                    director in pursuance of the provisions of any law for
                    the time being in force or of any agreement or by the
                    Central Government or the State Government by virtue of
                    its shareholding in a Government company.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    43.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 162
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    44.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Proviso to sub-section (1) of section 168
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the word “shall” read as “may”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    45.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (2) of section 170
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    For the words “thirty days” at both places read as
                    “sixty days”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    46.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 173
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (1), after the proviso, the following
                    proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided further that a Specified IFSC public company
                    shall hold the first meeting of the Board of Directors
                    within sixty days of its incorporation and thereafter hold atleast one meeting of
                    the Board of Directors in each half of a calendar year.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    47.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 174
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall apply with the exception that interested director may
                    participate in such meeting provided the disclosure of his
                    interest is made by the concerned director either prior or
                    at the meeting.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    48.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 177
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    49.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 178
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    50.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (3) of section 179
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (3), after the second proviso, the following
                    proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided also that in case of a Specified IFSC public
                    company, the Board can exercise powers by means of
                    resolutions passed at the meetings of the Board or through
                    resolutions passed by circulation.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    51.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 180
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall apply in case of a Specified IFSC public company,
                    unless the articles of the company provides otherwise.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    52.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (2) of section 184
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall apply with the exception that interested director may
                    participate in such meeting provided the disclosure of his
                    interest is made by the concerned director either prior or
                    at the meeting.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    53.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 185
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In the Explanation, for clause (c), the following clause
                    shall be substituted, namely:-
                </p>
                <p>
                    “(c) any private company of which any such director is a
                    director or member in which director of the lending company
                    do not have direct or indirect shareholding through
                    themselves or through their relatives and a special
                    resolution is passed to this effect;”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    54.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (1) of section 186
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    55.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-sections (2) and (3) of section 186
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply if a company passes a resolution either at
                    meeting of the Board of Directors or by circulation.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    56.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (5) of section 186
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    In sub-section (5), after the proviso, the following
                    proviso shall be inserted, namely:-
                </p>
                <p>
                    “Provided further that in case of a Specified IFSC public
                    company, the Board can exercise powers under this
                    sub-section by means of resolutions passed at meetings of
                    the Board of Directors or through resolutions passed by
                    circulation.”.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    57.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Second proviso to sub- section (1) of section 188
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    58.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Sub-section (4) of section 196
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        <tr>
            <td width="60" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p align="center">
                    59.
                </p>
            </td>
            <td width="150" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Section 197
                </p>
            </td>
            <td width="407" valign="top" style="border: 1px solid;text-align: left;padding: 8px;">
                <p>
                    Shall not apply.
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <strong> </strong>
    </p>

    <br clear="ALL" />
    <strong></strong>

    <p> 2. A copy of this notification has been laid in draft before both Houses of
        the Parliament as required by sub-section (2) of section 462 of the
        Companies Act, 2013 (18 of 2013).

    </p>
    <p align="right">
        [F. No. 3/1/2015-CL.I]
    </p>
    <p align="right">
        AMARDEEP SINGH BHATIA,
    </p>
    <p align="right">
        Jt. Secy.
    </p>
</div>
<br clear="all" />


<br clear="all" />

</body>
</html>