 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR257(E)) dated 31st Mar 2014</title></head><body>
 
 
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><b>Government of India</b><span style="line-height: 115%;" lang="EN-IN"><br>
 </span><b>Ministry
 of Corporate Affairs</b><span style="line-height: 115%;" lang="EN-IN"><br>
 </span><b>NOTIFICATION</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><b>New Delhi, the 31st Mar 2014</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">G.S.R.257(E)-
 In exercise of the powers conferred by sub section (1) of section 164, sub
 section (1) of section 466, section 367, and section 374 read with sub-section
 (1) and sub-section (2) of section 469 of the Companies Act, 2013 (18 of 2013)
 and in supersession of Companies (Central Government&#8217;s) General Rules and Forms,
 1956 prescribed under the Companies Act, 1956 (1 of 1956) in so far as they
 relate to the matters covered under these rules, except as respects things done
 or omitted to be done before such supersession, the Central Government hereby
 makes the following rules, namely: -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>1. Short title and commencement</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(1)
 These rules may be called the Companies (Authorised to Registered) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 They shall come into force on 1st day of April, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>2. Definitions</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">(1)
 In these rules, unless the context otherwise requires,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 &#8216;&#8216;Act&#8217;&#8217; means the Companies Act, 2013 (18 of 2013);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 &#8220;Schedule&#8221; means the schedule annexed to these Rules;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c)
 &#8216;fees&#8217; means the fees as specified in the Companies (Registration Offices and
 Fees) Rules, 2014;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(d)
 &#8216;&#8216;Form&#8217;&#8217; or &#8220;e-form&#8221; means the form in the schedule to these rules which shall
 be used for the matter to which it relates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(e)
 &#8216;Regional Director&#8217; means the person appointed by the Central Government in the
 Ministry of Corporate Affairs as a Regional Director;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(f)
 &#8220;Registrar(LLP)&#8221; means the Registrar dealing with the matters relations to
 Limited Liability Partnership.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 Words and expressions used in these rules but not defined and defined in the
 Act or in Companies (Specification of definitions details) Rules, 2014 shall
 have the meanings respectively assigned to them in the Act and said rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>3.</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">(1)
 For the purposes of sub-section (2) of section 366 of the Act, the provision of
 Chapter II relating to incorporation of company and matters incidental thereto
 shall be applicable mutatis mutandis for such registration:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that there shall be seven or more members for the purposes of registration of a
 company under this sub-rule.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 A company after obtaining availability of name in terms of the provisions of
 section 4 of the Act, shall attach the required documents and information to
 the Registrar along with</span>&nbsp;<b>Form
 No. URC. 1</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">in the following
 manner, namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)</span>&nbsp;<b>For
 registration as a company limited by shares:</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 A list showing the names, addresses, and occupations of all persons named
 therein as members with details of shares held by them respectively, showing
 separately shares allotted for consideration in cash and for consideration
 other than cash along-with the source of consideration ) and distinguishing, in
 cases where the shares are numbered, each share by its number ,who on a day,
 not being more than six clear days before the day of seeking registration, were
 partners of the Limited Liability Partnership;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 a list showing the particulars of persons proposed as the first directors of
 the company, their names, including surnames or family names, the DIN ,
 passport number(if any) with expiry date, residential addresses and their
 interests in other firms or bodies corporate along with their consent to act as
 directors of the company;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii)
 an affidavit from each of the persons proposed as the first directors, that he
 is not disqualified to be a director under sub section (1) of section 164 and
 that all the documents filed with the Registrar for registration of the company
 contain information that is correct and complete and true to the best of his
 knowledge and belief;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv)
 a list containing the names and addresses of the Partners of the Limited
 Liability Partnership;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v)
 a copy of the Act of Parliament or other Indian law, deed of partnership, bye
 laws or other instrument constituting or regulating the company and duly
 verified in the manner provided in sub-rule(4)<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vi)
 a statement specifying the following particulars:&#8212;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 the nominal share capital of the company and the number of shares into which it
 is divided;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 the number of shares taken and the amount paid on each share;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii)
 the name of the company, with the addition of the word "Limited" or
 "Private Limited" as the case may require, as the last word or words
 thereof;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vii)
 written consent or No Objection Certificate from all the secured creditors of
 the applicant;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(viii)
 written consent from the majority of members whether present in person or by
 proxy at a general meeting agreeing for registration under this part.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)</span>&nbsp;<b>For
 registration as a company limited by guarantee or as an unlimited company;</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 a list showing the names, addresses and occupations of all persons, who on a
 day, not being more than six clear days before the day of seeking registration,
 were members of the company with proof of membership;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 a list showing the particulars of persons proposed as the first directors of
 the company, their names, including surnames or family names, the DIN, passport
 number(if any) with expiry date, residential addresses and their interests in
 other firms or bodies corporate along with their consent to act as directors of
 the company;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii)
 an affidavit from each of the first directors, that he is not disqualified to
 be a director under sub section (1) of section 164 and that all the documents
 filed with the Registrar for registration of the company contain information
 that is correct and complete and true to the best of his knowledge and belief;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv)
 a list containing the names and addresses of the Partners of the Limited Liability
 Partnership;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(v)
 a copy of the Act of Parliament or other Indian law, bye-laws or other
 instrument constituting or regulating the company duly verified in the manner
 provided in rule (4);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vi)
 in the case of a company intended to be registered as a company limited by
 guarantee, a copy of the resolution declaring the amount guarantee.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(vii)
 Written consent or No Objection Certificate from all the secured creditors of
 the applicant.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(viii)
 Written consent from the majority of members whether present in person or by
 proxy at a general meeting agreeing for registration under this part.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 An affidavit, duly notarised, from all the members or partners providing that
 in the event of registration as a company under Part I of Chapter XXI of the
 Act, necessary documents or papers shall be submitted to the registering or
 other authority with which the company was earlier registered, for its
 dissolution as Limited Liability Partnership.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 The list of members and directors and any other particulars relating to the
 company which are required to be delivered to the Registrar shall be duly
 verified by the declaration of any two or more proposed directors , or two or
 more designated partners of the Limited Liability Partnership<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>4. Obligation of companies
 seeking registration to make publication.-</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">(1)
 For the purpose of clause (b) of section 374 of the Act, every &#8216;company&#8217;
 seeking registration under the provision of Part I of Chapter XXI shall publish
 an advertisement about registration under the said Part, seeking objections, if
 any within twenty one clear days from the date of publication of notice and the
 said advertisement shall be in</span>&nbsp;<b>Form
 No. URC. 2,</b><span style="line-height: 115%;" lang="EN-IN">which shall be
 published in a newspaper and in English and the in the principal vernacular
 language of the district in which Limited Liability Partnership is in existence
 and circulated in that district.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 A copy of the notice, as published and the copy of the notice served on
 Registrar (LLP) along with proof of service, shall be attached with</span>&nbsp;<b>Form No. URC.
 1</b><span style="line-height: 115%;" lang="EN-IN">.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 The Registrar shall, after considering the application and the objections, if
 any, received by him within thirty days from the date of publication of
 advertisement, and after ensuring that the company has addressed the
 objections, suitably decide whether the registration should or should not be
 granted.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 If the Registrar in satisfied on the basis of documents and information filed
 by the applicants, decides that the applicant should be registered, he shall
 issue a certificate of incorporation in</span>&nbsp;<b>Form No. INC.11</b><span style="line-height: 115%;" lang="EN-IN">.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>5. Other obligations of companies
 seeking registration.-</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">For
 the purpose of clause (d) of section 374 of the Act,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 where a Limited Liability Partnership has obtained a certificate of
 registration under section 367, an intimation to this effect shall be given,
 within fifteen days of such registration to the concerned Registrar (LLP) under
 which it was originally registered, along with necessary documents or papers
 for its dissolution as Limited Liability Partnership;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 statement of accounts, prepared not later than fifteen days preceding the date
 of seeking registration and certified by the Auditor together with the Audited
 Financial Statements of the previous year, wherever applicable shall be
 attached with</span>&nbsp;<b>Form
 No. URC. 1</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>Provided</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">that
 if the assets of the existing company during the immediately preceding three
 years are revalued for the purpose of vesting of its assets with the company to
 be incorporated under this Act, the surplus arising out of such revaluation
 shall not be deemed to have been credited to the capital account or current
 account of partners.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv)
 notice shall be given to the concerned Registrar (LLP) under which it was
 originally registered and shall require that objections, if any to be made by
 such concerned Registrar of Companies (LLP) to the Registrar, shall be made
 within a period of twenty-one days from the date of such notice, failing which
 it shall be presumed that they have no objection and the notice shall disclose
 the purpose and substance of matters in relation to objections.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iv)
 in case of the registration of Limited Liability Partnership into a company
 under these rules, a declaration by the said Limited Liability Partnership that
 it has filed all documents which are required to be filed under the Liability
 Partnership Act with the Registrar (LLP) and the declaration shall be attached
 with</span>&nbsp;<b>Form
 No. URC. 1;</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>(v)</b>&nbsp;<span style="line-height: 115%;" lang="EN-IN">a
 statement of proceedings, if any, by or against the Limited Liability
 Partnership which are pending in any court or any other Authority shall be
 attached with</span>&nbsp;<b>Form
 No. URC. 1</b><span style="line-height: 115%;" lang="EN-IN"><o:p></o:p></span></p>
 </body></html>