 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>GSR259(E) dated 27th March 2014</title></head><body>
 
 
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="color: black;" lang="EN-IN">Government of India<br>
 Ministry of Corporate Affairs<br>
 Notification<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">New Delhi, Dated 27<sup>th</sup> March
 2014<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">G.S.R.259 (E).- In exercise of the
 powers conferred under second proviso to sub-section (1), sub-section (4),
 clause (f) of sub-section (6) of section 149, sub-sections (3) and (4) of
 section 150, section 151, sub-section (5) of section 152, section 153, section
 154, section 157, section 160, sub-section (1) of section 168 and section 170
 read with section 469 of the Companies Act, 2013, and in supersession of the
 Companies (Central Government&#8217;s) General Rules and Forms, 1956 or any other
 rules prescribed under the Companies Act, 1956 (1 of 1956) on matters covered
 under these rules, except as respects things done or omitted to be done before
 such supersession, the Central Government hereby makes the following rules,
 namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">1. Short title and commencement.
 -&nbsp;(1) These rules may be called the Companies (Appointment and Qualification
 of Directors) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) They shall come into force on the
 date of their publication in the Official Gazette.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">2. Definitions.-&nbsp;(1) In these
 rules, unless the context otherwise requires, -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) &#8220;Act&#8221; means the Companies Act, 2013
 (18 of 2013);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) &#8220;Annexure&#8221; means the Annexure to
 these rules;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) &#8220;digital signature&#8221; means the
 digital signature as defined under clause (p) of sub-section (1) of section 2
 of the Information Technology Act, 2000 (21 of 2000);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(d) &#8220;Director Identification Number&#8221;
 (DIN) means an identification number allotted by the Central Government to any
 individual, intending to be appointed as director or to any existing director
 of a company, for the purpose of his identification as a director of a company:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided that the Director
 Identification Number (DIN) obtained by the individuals prior to the
 notification of these rules shall be the DIN for the purpose of the Companies
 Act, 2013:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided further that "Director
 Identification Number" (DIN) includes the Designated Partnership
 Identification Number (DPIN) issued under section 7 of the Limited Liability
 Partnership Act, 2008 (6 of 2009) and rules made thereunder;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(e) &#8220;electronic record&#8221; means the
 electronic record as defined under clause (t) of sub-section (1) of section 2
 of the Information Technology Act, 2000 (21 of 2000);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(f) &#8220;electronic Registry&#8221; means an
 electronic repository or storage system of the Central Government in which the
 information or documents are received, stored, protected and preserved in
 electronic form;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(g) &#8221;Fees&#8221; means the fees as specified
 in the Companies (Registration Offices and Fees) Rules, 2014;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(h) &#8221;Form&#8221; or &#8220;e-Form&#8221; means a form set
 forth in Annexure to these rules which shall be used for the matter to which it
 relates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) &#8220;Regional Director&#8221; means the
 person appointed by the Central Government in the Ministry of Corporate Affairs
 as a Regional Director;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(j) &#8220;section&#8221; means section of the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(k) For the purposes of clause (d) of
 sub-section (1) of section 164 and clause (f) of sub-section (1) of section 167
 of the Act, &#8220;or otherwise&#8221; means any offence in respect of which he has been
 convicted by a Court under the Act or under the Companies Act, 1956.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) Words and expressions used in these
 rules and not defined but defined under the Act or under the Securities
 Contracts (Regulation) Act, 1956 (42 of 1956) or the Securities and Exchange
 Board of India Act, 1992 (15 of 1992) or the Depositories Act, 1996 (22 of
 1996) or the Information Technology Act, 2000 (21 of 2000) or the Companies
 (Specification of definitions details) Rules, 2014 shall have the meanings
 respectively assigned to them in the Act or in those Acts or such rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">3. Woman director on the
 Board.-&nbsp;The following class of companies shall appoint at least one woman
 director-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) every listed company;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(ii) every other public company having
 -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) paid&#8211;up share capital of one
 hundred crore rupees or more; or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) turnover of three hundred crore
 rupees or more:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided that a company, which has been
 incorporated under the Act and is covered under provisions of second proviso to
 sub-section (1) ofsection 149 shall comply with such provisions within a period
 of six months from the date of its incorporation:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided further that any intermittent
 vacancy of a woman director shall be filled-up by the Board at the earliest but
 not later than immediate next Board meeting or three months from the date of
 such vacancy whichever is later.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Explanation.- For the purposes of this
 rule, it is hereby clarified that the paid up share capital or turnover, as the
 case may be, as on the last date of latest audited financial statements shall
 be taken into account.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">4. Number of independent
 directors.-&nbsp;The following class or classes of companies shall have at
 least two directors as independent directors -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) the Public Companies having paid up
 share capital of ten crore rupees or more; or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(ii) the Public Companies having
 turnover of one hundred crore rupees or more; or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(iii) the Public Companies which have,
 in aggregate, outstanding loans, debentures and deposits, exceeding fifty crore
 rupees:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided that in case a company covered
 under this rule is required to appoint a higher number of independent directors
 due to composition of its audit committee, such higher number of independent
 directors shall be applicable to it:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided further that any intermittent
 vacancy of an independent director shall be filled-up by the Board at the
 earliest but not later than immediate next Board meeting or three months from
 the date of such vacancy, whichever is later:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided also that where a company
 ceases to fulfil any of three conditions laid down in sub-rule (1) for three
 consecutive years, it shall not be required to comply with these provisions
 until such time as it meets any of such conditions;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Explanation. - For the purposes of this
 rule, it is here by clarified that, the paid up share capital or turnover or
 outstanding loans, debentures and deposits, as the case may be, as existing on
 the last date of latest audited financial statements shall be taken into account:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided that a company belonging to
 any class of companies for which a higher number of independent directors has
 been specified in the law for the time being in force shall comply with the
 requirements specified in such law.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">5. Qualifications of independent
 director.-&nbsp;An independent director shall possess appropriate skills,
 experience and knowledge in one or more fields of finance, law, management,
 sales, marketing, administration, research, corporate governance, technical
 operations or other disciplines related to the company&#8217;s business.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">6. Creation and maintenance of databank
 of persons offering to become independent directors. -&nbsp;(1) Any body,
 institute or association (hereinafter to be referred as &#8220;the agency&#8221;), which
 has been authorised in this behalf by the Central Government shall create and
 maintain a data bank of persons willing and eligible to beappointed as
 independent director and such data bank shall be placed on the website of the
 Ministry of Corporate Affairs or on any other website as may be approved or
 notified by the Central Government.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) The data bank referred to in
 sub-rule (1) shall contain the following details in respect of each person
 included in the data bank to be eligible and willing to be appointed as
 independent director-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) DIN (Director Identification
 Number);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) the name and surname in full;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) income-tax PAN ;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(d) the father&#8217;s name and mother&#8217;s name
 and Spouse&#8217;s name (if married) ;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(e) the date of Birth;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(f) gender;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(g) the nationality;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(h) the occupation;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) full Address with PIN Code (present
 and permanent);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(j) phone number;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(k) e-mail id;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(l) the educational and professional
 qualifications;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(m) experience or expertise, if any;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(n) any legal proceedings initiated or
 pending against such person;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(o) the list of limited liability
 partnerships in which he is or was a designated partner along with &#8211;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) the name of the limited liability
 partnership;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(ii) the nature of industry; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(iii) the duration- with dates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(p) the list of companies in which he
 is or was director along with -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) the name of the company;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(ii) the nature of industry;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(iii) the nature of directorship &#8211;
 Executive or Non-executive or Managing Director or Independent Director or
 Nominee Director; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(iv) duration &#8211; with dates.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(3) A disclaimer shall be conspicuously
 displayed on the website hosting the databank that a company must carry out its
 own due diligence before appointment of any person as an independent director
 and &#8220;the agency&#8221; maintaining the databank or the Central Government shall not be
 held responsible for the accuracy of information or lack of suitability of the
 person whose particulars form part of the databank.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(4) Any person who desires to get his
 name included in the data bank of independent directors shall make an
 application to &#8220;the agency&#8221; in&nbsp;Form DIR-1.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(5) The agency may charge a reasonable
 fee from the applicant for inclusion of his name in the data bank of
 independent directors.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(6) Any person who has applied for
 inclusion of his name in the data bank of independent directors or any person
 whose name appears in the data bank , shall intimate to the agency about any
 changes in his particulars within fifteen days of such change.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(7) The databank posted on the website
 shall -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) be accessible at the specified
 website;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) be substantially identical to the
 physical version of the data bank;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) be searchable on the parameters
 specified in sub-rule (2);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(d) be presented in a format or formats
 convenient for both printing and viewing online; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(e) contain a link to obtain the software
 required to view or print the particulars free of charge.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">7. Small shareholders&#8217;
 director.-&nbsp;(1) A listed company, may upon notice of not less than one
 thousand small shareholders or one-tenth of the total number of such
 shareholders, whichever is lower, have a small shareholders&#8217; director elected
 by the small shareholders:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided that nothing in this sub-rule
 shall prevent a listed company to opt to have a director representing small
 shareholders suo motu and in such a case the provisions of sub-rule (2) shall
 not apply for appointment of such director.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) The small shareholders intending to
 propose a person as a candidate for the post of small shareholders&#8217; director
 shall leave a notice of their intention with the company at least fourteen days
 before the meeting under their signatures specifying the name, address, shares
 held and folio number of the person whose name is being proposed for the post
 of director and of the small shareholders who are proposing such person for the
 office of director:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided that if the person being
 proposed does not hold any shares in the company, the details of shares held
 and folio number need not be specified in the notice:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(3) The notice shall be accompanied by
 a statement signed by the person whose name is being proposed for the post of
 small shareholders&#8217; director stating -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) his Director Identification Number;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) that he is not disqualified to
 become a director under the Act; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) his consent to act as a director of
 the company<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(4) Such director shall be considered
 as an independent director subject to , his being eligible under sub-section
 (6) of section 149 and his giving a declaration of his independence in
 accordance with sub-section (7) of section 149 of the Act.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(5) The appointment of small shareholders&#8217;
 director shall be subject to the provisions of section 152 except that-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) such director shall not be liable
 to retire by rotation;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) such director&#8217;s tenure as small
 shareholders&#8217; director shall not exceed a period of three consecutive years;
 and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) on the expiry of the tenure, such
 director shall not be eligible for re-appointment.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(6) A person shall not be appointed as
 small shareholders&#8217; director of a company, if the person is not eligible for
 appointment in terms of section 164.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(7) A person appointed as small
 shareholders&#8217; director shall vacate the office if -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) the director incurs any of the
 disqualifications specified in section 164;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) the office of the director becomes
 vacant in pursuance of section 167;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) the director ceases to meet the
 criteria of independence as provided in sub-section (6) of section 149.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(8) No person shall hold the position
 of small shareholders&#8217; director in more than two companies at the same time:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided that the second company in
 which he has been appointed shall not be in a business which is competing or is
 in conflict with the business of the first company.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(9) A small shareholders&#8217; director
 shall not, for a period of three years from the date on which he ceases to hold
 office as a small shareholders&#8217; director in a company, be appointed in or be
 associated with such company in any other capacity, either directly or
 indirectly.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">8. Consent to act as
 director.-&nbsp;Every person who has been appointed to hold the office of a
 director shall on or before the appointment furnish to the company a consent in
 writing to act as such in&nbsp;Form DIR-2:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided&nbsp;that the company shall,
 within thirty days of the appointment of a director, file such consent with the
 Registrar in&nbsp;Form DIR-12&nbsp;along with the fee as provided in the
 Companies (Registration Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">9. Application for allotment of
 Director Identification Number.-(1) Every individual, who is to be appointed as
 director of a company shall make an application electronically in&nbsp;Form
 DIR-3, to the Central Government for the allotment of a Director Identification
 Number (DIN) along with such fees as provided in the Companies (Registration
 Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) The Central Government shall
 provide an electronic system to facilitate submission of application for the
 allotment of DIN through the portal on the website of the Ministry of Corporate
 Affairs.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(3) (a) The applicant shall
 download&nbsp;Form DIR-3&nbsp;from the portal, fill in the required particulars
 sought therein and sign the form and after attaching copies of the following
 documents, scan and file the entire set of documents electronically-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) photograph;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(ii) proof of identity;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(iii) proof of residence;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(iv) verification by the applicant for
 applying for allotment of DIN in&nbsp;Form DIR-4;&nbsp;and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(v) specimen signature duly verified.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b)&nbsp;Form DIR-3&nbsp;shall be
 signed and submitted electronically by the applicant using his or her own
 Digital Signature Certificate and shall be verified digitally by -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) a chartered accountant in practice
 or a company secretary in practice or a cost accountant in practice; or<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(ii) a company secretary in full time
 employment of the company or by the managing director or director of the
 company in which the applicant is to be appointed as director.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">10. Allotment of DIN.-&nbsp;(1) On the
 submission of the&nbsp;Form DIR-3&nbsp;on the portal and payment of the
 requisite amount of fees through online mode the provisional DIN shall be
 generated by the system automatically which shall not be utilized till the DIN
 is confirmed by the Central Government.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) After generation of the provisional
 DIN, the Central Government shall process the applications received for
 allotment of DIN under sub-rule (2) of rule 9, decide on the approval or
 rejection thereof and communicate the same to the applicant along with the DIN
 allotted in case of approval by way of a letter by post or electronically or in
 any other mode, within a period of one month from the receipt of such
 application.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(3) If the Central Government, on
 examination, finds such application to be defective or incomplete in any
 respect, it shall give intimation of such defect or incompleteness, by placing
 it on the website and by email to the applicant who has filed such application,
 directing the applicant to rectify such defects or incompleteness by
 resubmitting the application within a period of fifteen days of such placing on
 the website and email:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided&nbsp;that the Central
 Government shall -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) reject the application and direct
 the applicant to file fresh application with complete and correct information,
 where the defect has been rectified partially or the information given is still
 found to be defective;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) treat and label such application as
 invalid in the electronic record in case the defects are not removed within the
 given time; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) inform the applicant either by way
 of letter by post or electronically or in any other mode.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(4) In case of rejection or
 invalidation of application, the provisional DIN so allotted by the system
 shall get lapsed automatically and the fee so paid with the application shall
 neither be refunded nor adjusted with any other application.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(5) All Director Identification Numbers
 allotted to individual(s) by the Central Government before the commencement of
 these rules shall be deemed to have been allotted to them under these rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(6) The Director Identification Number
 so allotted under these rules is valid for the life-time of the applicant and
 shall not be allotted to any other person.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">11. Cancellation or surrender or
 Deactivation of DIN.-&nbsp;The Central Government or Regional Director
 (Northern Region), Noida or any officer authorised by the Regional Director
 may, upon being satisfied on verification of particulars or documentary proof
 attached with the application received from any person, cancel or deactivate
 the DIN in case -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) the DIN is found to be duplicated
 in respect of the same person provided the data related to both the DIN shall
 be merged with the validly retained number;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) the DIN was obtained in a wrongful
 manner or by fraudulent means;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) of the death of the concerned
 individual;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(d) the concerned individual has been
 declared as a person of unsound mind by a competent Court;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(e) if the concerned individual has
 been adjudicated an insolvent:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided that before cancellation or
 deactivation of DIN pursuant to clause (b), an opportunity of being heard shall
 be given to the concerned individual;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(f) on an application made in&nbsp;Form
 DIR-5&nbsp;by the DIN holder to surrender his or her DIN along with declaration
 that he has never been appointed as director in any company and the said DIN
 has never been used for filing of any document with any authority, the Central
 Government may deactivate such DIN:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided that before deactivation of
 any DIN in such case, the Central Government shall verify e-records.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Explanation.- For the purposes of
 clause (b) -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) the term &#8220;wrongful manner&#8221; means if
 the DIN is obtained on the strength of documents which are not legally valid or
 incomplete documents are furnished or on suppression of material information or
 on the basis of wrong certification or by making misleading or false
 information or by misrepresentation;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(ii) the term &#8220;fraudulent means&#8221; means
 if the DIN is obtained with an intent to deceive any other person or any
 authority including the Central Government.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">12. Intimation of changes in
 particulars specified in DIN application. -&nbsp;(1) Every individual who has
 been allotted a Director Identification Number under these rules shall, in the
 event of any change in his particulars as stated in&nbsp;Form DIR-3, intimate
 such change(s) to the Central Government within a period of thirty days of such
 change(s) in&nbsp;Form DIR-6&nbsp;in the following manner, namely;-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) the applicant shall
 download&nbsp;Form DIR-6&nbsp;from the portal and fill in the relevant changes,
 attach copy of the proof of the changed particulars and verification in
 the&nbsp;Form DIR-7&nbsp;all of which shall be scanned and submitted
 electronically;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(ii) the form shall be digitally signed
 by a chartered accountant in practice or a company secretary in practice or a
 cost accountant in practice;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(iii) the applicant shall submit
 the&nbsp;Form DIR-6;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) The Central Government, upon being
 satisfied, after verification of such changed particulars from the enclosed
 proofs, shall incorporate the said changes and inform the applicant by way of a
 letter by post or electronically or in any other mode confirming the effect of
 such change in the electronic database maintained by the Ministry.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(3) The DIN cell of the Ministry shall
 also intimate the change(s) in the particulars of the director submitted to it
 in&nbsp;Form DIR-6&nbsp;to the concerned Registrar(s) under whose jurisdiction
 the registered office of the company(s) in which such individual is a director
 is situated.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(4) The concerned individual shall also
 intimate the change(s) in his particulars to the company or companies in which
 he is a director within fifteen days of such change.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">13. Notice of candidature of a person
 for directorship.-&nbsp;The company shall, at least seven days before the
 general meeting, inform its members of the candidature of a person for the
 office of a director or the intention of a member to propose such person as a
 candidate for that office-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(1) by serving individual notices, on
 the members through electronic mode to such members who have provided their
 email addresses to the company for communication purposes, and in writing to
 all other members; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) by placing notice of such
 candidature or intention on the website of the company, if any:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">Provided&nbsp;that it shall not be
 necessary for the company to serve individual notices upon the members as
 aforesaid, if the company advertises such candidature or intention, not less
 than seven days before the meeting at least once in a vernacular newspaper in
 the principal vernacular language of the district in which the registered
 office of the company is situated, and circulating in that district, and at
 least once in English language in an English newspaper circulating in that
 district.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">14. Disqualification of directors
 sub-section (2) of section 164.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(1) Every director shall inform to the
 company concerned about his disqualification under sub-section (2) of section
 164, if any, in&nbsp;Form DIR-8&nbsp;before he is appointed or re-appointed.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) Whenever a company fails to file
 the financial statements or annual returns, or fails to repay any deposit, interest,
 dividend, or fails to redeem its debentures, as specified in sub-section (2) of
 section 164, the company shall immediately file&nbsp;Form DIR-9, to the
 Registrar furnishing therein the names and addresses of all the directors of
 the company during the relevant financial years.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(3) When a company fails to file
 the&nbsp;Form DIR-9&nbsp;within a period of thirty days of the failure that
 would attract the disqualification under sub-section (2) of section 164,
 officers of the company specified in clause (60) of section 2 of the Act shall
 be the officers in default.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(4) Upon receipt of the Form DIR-9
 under sub-rule (2), the Registrar shall immediately register the document and
 place it in the document file for public inspection.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(5) Any application for removal of
 disqualification of directors shall be made in&nbsp;Form DIR-10.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">15. Notice of resignation of
 director.-&nbsp;The company shall within thirty days from the date of receipt
 of notice of resignation from a director, intimate the Registrar in&nbsp;Form
 DIR-12&nbsp;and post the information on its website, if any.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">16. Copy of resignation of director to
 be forwarded by him.-&nbsp;Where a director resigns from his office, he shall
 within a period of thirty days from the date of resignation, forward to the
 Registrar a copy of his resignation along with reasons for the resignation
 in&nbsp;Form DIR-11&nbsp;along with the fee as provided in the Companies
 (Registration Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">17. Register of directors and key
 managerial personnel.-&nbsp;(1) Every company shall keep at its registered
 office a register of its directors and key managerial personnel containing the
 following particulars, namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) Director Identification Number
 (optional for key managerial personnel);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) present name and surname in full;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) any former name or surname in full;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(d) father&#8217;s name, mother&#8217;s name and
 spouse&#8217;s name(if married) and surnames in full;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(e) date of birth;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(f) residential address (present as
 well as permanent);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(g) nationality (including the
 nationality of origin, if different);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(h) occupation;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(i) date of the board resolution in
 which the appointment was made;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(j) date of appointment and
 reappointment in the company;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(k) date of cessation of office and
 reasons therefor;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(l) office of director or key
 managerial personnel held or relinquished in any other body corporate;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(m) membership number of the Institute
 of Company Secretaries of India in case of Company Secretary, if applicable;
 and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(n) Permanent Account Number (mandatory
 for key managerial personnel if not having DIN);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(2) In addition to the details of the
 directors or key managerial personnel, the company shall also include in the
 aforesaid Register the details of securities held by them in the company, its
 holding company, subsidiaries, subsidiaries of the company&#8217;s holding company
 and associate companies relating to-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(a) the number, description and nominal
 value of securities;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(b) the date of acquisition and the
 price or other consideration paid;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(c) date of disposal and price and
 other consideration received;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(d) cumulative balance and number of securities
 held after each transaction;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(e) mode of acquisition of securities ;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(f) mode of holding &#8211; physical or in
 dematerialized form; and<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">(g) whether securities have been
 pledged or any encumbrance has been created on the securities.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="color: black;" lang="EN-IN">18. Return containing the particulars
 of directors and the key managerial personnel. -&nbsp;A return containing the
 particulars of appointment of director or key managerial personnel and changes
 therein, shall be filed with the Registrar in&nbsp;Form DIR-12&nbsp;along with
 such fee as may be provided in the Companies (Registration Offices and Fees)
 Rules, 2014 within thirty days of such appointment or change, as the case may
 be.</span><span style="color: black;" lang="EN-IN"><o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="color: black;" lang="EN-IN">_____<o:p></o:p></span></p>
 </body></html>