 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b><span style="font-size: 11.5pt;"
  lang="EN-IN">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b><span style="font-size: 9.5pt;"
  lang="EN-IN">NOTIFICATION<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center">New
 Delhi, the 7th November, 2016<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b>G.S.R.
 1049(E).-</b>In exercise of the
 powers conferred by sections 396, 398, 399, 403 and 404 read with
 subsections (1)
 and (2) of section 469 of the Companies Act, 2013 (18 of 2013), the
 Central
 Government hereby makes the following rules further to amend the
 Companies
 (Registration Offices and Fees) Rules, 2014, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 28.35pt; text-align: justify; text-indent: -28.35pt; line-height: 15pt; font-family: Arial;">1.
 <span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span>(1)
 These rules may be called the Companies (Registration Offices and Fees)
 Second
 Amendment Rules, 2016.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 28.35pt; line-height: 15pt; font-family: Arial;">(2)
 They shall come
 into force from the date of their publication in the Official Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 14.2pt; text-align: justify; text-indent: -14.2pt; line-height: 15pt; font-family: Arial;">2.
 In the Companies (Registration Offices and Fees)
 Rules, 2014, (herein after refer to as the principle rules), in the
 principle
 rules, in rule 8, in sub-rule (12), in clause (b) for sub-clause (iv),
 the
 following shall be substituted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 14.2pt; text-align: justify; text-indent: -14.2pt; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 14.2pt; text-align: justify; text-indent: -14.2pt; line-height: 15pt; font-family: Arial;">"(iv)
 AOC-4 certification by the Chartered
 Accountant or the Company Secretary or as the case may be by the Cost
 Accountant,
 in whole- time practice."<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 14.2pt; text-align: justify; text-indent: -14.2pt; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 14.2pt; text-align: justify; text-indent: -14.2pt; line-height: 15pt; font-family: Arial;">3.
 In the principal rules, in the Annexure, in item
 II, for sub-item (vi), the following sub-items shall be substituted,
 namely;-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 14.2pt; text-align: justify; text-indent: -14.2pt; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <table class="MsoTableGrid"
  style="border: medium none ; margin-left: 14.2pt; border-collapse: collapse; font-family: Arial; width: 372px; height: 360px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td
  style="border: 1pt solid black; padding: 0in 5.4pt; width: 182.6pt;"
  valign="top" width="243">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">For
 Application made<o:p></o:p></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 127.55pt;"
  valign="top" width="170">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">Other
 than OPCs and Small Companies<o:p></o:p></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 137.75pt;"
  valign="top" width="184">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">OPC
 and Small<o:p></o:p></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">Companies<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 182.6pt;"
  valign="top" width="243">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">"(vi)
 For allotment of Director Identification Number (DIN) under<o:p></o:p></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">section
 153 of the Act<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 127.55pt;"
  valign="top" width="170">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">500<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 137.75pt;"
  valign="top" width="184">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">500<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 182.6pt;"
  valign="top" width="243">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">(vii)
 For surrender of Director Identification Number under rule 11(f)<o:p></o:p></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">of
 the Companies (Appointment and Qualification of Directors) Rules<o:p></o:p></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">2014<b
  style=""><o:p></o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 127.55pt;"
  valign="top" width="170">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">1000<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 137.75pt;"
  valign="top" width="184">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;">1000<o:p></o:p></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 14.2pt; text-align: justify; text-indent: -14.2pt; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">[F.
 No. 01/16/2013 CL-V (Pt-I)]<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">AMARDEEP
 SINGH BHATIA, Jt. Secy.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><span
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 </body>
 </html>
