<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R. 1119(E) dated 7th December, 2016</title>

</head><body>
<div style="font-family: Arial;" class="WordSection1">
<p class="MsoBodyText" style="margin-left: 5.65pt; line-height: 3.15pt;"><span style="font-size: 3pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoBodyText" style="margin-top: 0.2pt;"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="margin: 0in 0pt 0.0001pt 0pt; text-align: center; line-height: 195%;" align="center"><b style=""><span style="font-size: 10pt; line-height: 195%;">MINISTRY OF
CORPORATE AFFAIRS NOTIFICATION</span></b><b style=""><span style="font-size: 10pt; line-height: 195%;"><o:p></o:p></span></b></p>
<p class="MsoBodyText" style="margin: 1.35pt 0 0.0001pt 0; text-align: center;" align="center"><span style="">New Delhi, the
7th December, 2016</span><o:p></o:p></p>
<p class="MsoBodyText" style="margin: 7.05pt 5.1pt 0.0001pt 5.65pt; text-align: justify; text-indent: 33.8pt; line-height: 103%;"><b style=""><span style="">G.S.R. 1119(E).</span></b><span style="">&#8212; In exercise of the powers conferred under
sub-sections (1) and (2) of
section 434 <span style="letter-spacing: -0.15pt;">of </span>the
Companies Act,
2013 (18 <span style="letter-spacing: -0.15pt;">of </span>2013)
read with
sub-section (1) <span style="letter-spacing: -0.15pt;">of
</span>section 239 of
the Insolvency and Bankruptcy Code, 2016 (31 of 2016) (hereinafter
referred to
as the Code), the Central Government hereby makes the following rules,
namely:&#8212;</span><o:p></o:p></p>
<p class="MsoListParagraph" style="margin: 0.25pt 5.05pt 0.0001pt 5.65pt; text-indent: 0in; line-height: 118%;"><b><span style="font-size: 12pt; line-height: 118%;"><span style="">1.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;</span></span></span></b><b style=""><span style="font-size: 12pt; line-height: 140%;">Short
title and Commencement. - </span></b><span style="font-size: 12pt; line-height: 140%;">(1) These rules
may be called the Companies (Transfer of Pending Proceedings) Rules,<span style="letter-spacing: -1.05pt;"> </span>2016.</span><span style="font-size: 9pt; line-height: 118%;"><o:p></o:p></span></p>
<p class="MsoBodyText" style="margin: 8.25pt 0in 0.0001pt 5.65pt; text-indent: 40.05pt; line-height: 140%;"><span style="">(2) They shall come into force with
effect from the 15</span><span style="font-size: 6pt; line-height: 140%; position: relative; top: -4pt;">th
</span><span style="">December, 2016, except rule
4, which shall come into force from 1</span><span style="font-size: 6pt; line-height: 140%; position: relative; top: -4.5pt;">st
</span><span style="">April, 2017.</span><o:p></o:p></p>
<p class="MsoListParagraph" style="margin: 1.15pt 0in 0.0001pt 39.5pt; text-indent: -33.85pt;"><b><span style="font-size: 12pt;"><span style="">2.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 11pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;</span></span></span></b><b style=""><span style="font-size: 12pt;">Definitions.-
</span></b><span style="font-size: 12pt;">(1)
In these rules, unless the context otherwise<span style="letter-spacing: -0.8pt;"> </span>requires-</span><span style="font-size: 9pt;"><o:p></o:p></span></p>
<p class="MsoBodyText" style="margin-top: 0.45pt;"><span style="font-size: 9.5pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoListParagraph" style="margin-left: 39.5pt; text-align: left; text-indent: -16.9pt;" align="left"><span style="font-size: 12pt;"><span style="">(a)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span><span style="font-size: 12pt;">&#8220;Code&#8221;<span style="letter-spacing: -0.15pt;"> </span>means<span style="letter-spacing: -0.3pt;"> </span>the<span style="letter-spacing: -0.2pt;"> </span>Insolvency<span style="letter-spacing: -0.4pt;"> </span>and<span style="letter-spacing: -0.25pt;"> </span>Bankruptcy<span style="letter-spacing: -0.5pt;"> </span>Code,<span style="letter-spacing: -0.35pt;"> </span>2016<span style="letter-spacing: -0.4pt;"> </span>(31<span style="letter-spacing: -0.25pt;"> </span>of<span style="letter-spacing: -0.15pt;"> </span>2016);`</span><span style="font-size: 9pt;"><o:p></o:p></span></p>
<p class="MsoBodyText" style="margin-top: 0.1pt;"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoListParagraph" style="margin: 0in 5.25pt 0.0001pt 39.5pt; text-align: left; text-indent: -16.9pt; line-height: 118%;" align="left"><span style="font-size: 12pt; line-height: 118%;"><span style="">(b)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span><span style="font-size: 12pt; line-height: 118%;">&#8220;Tribunal&#8221; means
the National
Company Law Tribunal constituted under section 408 of the Companies
Act, 2013.</span><span style="font-size: 9pt; line-height: 118%;"><o:p></o:p></span></p>
<p class="MsoBodyText" style="margin-top: 0.25pt;"><span style="font-size: 8pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoBodyText" style="margin: 0in 5.1pt 0.0001pt 5.65pt; text-align: justify; line-height: 103%;"><span style="">(2) Words and expressions used in these
rules and not defined, but defined in the Companies Act, 1956 (1 of
1956)
(herein referred to as the Act), the Companies Act, 2013 (18 of 2013)
or the
Companies (Court) Rules, 1959 or the Code shall have the meanings
respectively
assigned to them in the respective Act or rules or the Code, as the
case may
be.</span><o:p></o:p></p>
<p class="MsoListParagraph" style="margin: 5.9pt 5.2pt 0.0001pt 5.65pt; text-indent: 0in; line-height: 118%;"><b><span style="font-size: 12pt; line-height: 118%;"><span style="">3.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;</span></span></span></b><b style=""><span style="font-size: 12pt; line-height: 118%;">Transfer<span style="letter-spacing: -0.15pt;"> </span>of<span style="letter-spacing: -0.2pt;"> </span>pending<span style="letter-spacing: -0.2pt;">
</span>proceedings<span style="letter-spacing: -0.25pt;">
</span>relating<span style="letter-spacing: -0.3pt;">
</span>to<span style="letter-spacing: -0.3pt;"> </span>cases<span style="letter-spacing: -0.25pt;"> </span>other<span style="letter-spacing: -0.15pt;">
</span>than<span style="letter-spacing: -0.25pt;"> </span>Winding<span style="letter-spacing: -0.2pt;"> </span>up</span></b><b style=""><span style="font-size: 10pt; line-height: 118%;">.&#8212;</span></b><span style="font-size: 12pt; line-height: 118%;">All<span style="letter-spacing: -0.3pt;"> </span>proceedings<span style="letter-spacing: -0.1pt;"> </span>under<span style="letter-spacing: -0.2pt;"> </span>the<span style="letter-spacing: -0.15pt;"> </span>Act,
including proceedings relating to arbitration, compromise, arrangements
and
reconstruction, other than proceedings relating to winding up on the
date <span style="letter-spacing: -0.15pt;">of </span>coming
into force of these rules shall
stand transferred to the Benches <span style="letter-spacing: -0.15pt;">of </span>the
Tribunal<span style="letter-spacing: -0.6pt;"> </span>exercising<span style="letter-spacing: -0.7pt;"> </span>respective<span style="letter-spacing: -0.55pt;"> </span>territorial<span style="letter-spacing: -0.6pt;"> </span>jurisdiction:</span><span style="font-size: 9pt; line-height: 118%;"><o:p></o:p></span></p>
<p class="MsoBodyText" style="margin: 5.7pt 5.25pt 0.0001pt 5.65pt; text-align: justify; text-indent: 33.8pt; line-height: 103%;"><span style="">Provided that all
those proceedings which are reserved for orders for allowing or
otherwise of
such proceedings shall not be transferred.<o:p></o:p></span></p>
<p class="MsoBodyText" style="margin: 5.7pt 5.25pt 0.0001pt 5.65pt; text-align: justify; text-indent: 33.8pt; line-height: 103%;"><o:p>&nbsp;</o:p></p>
<p class="MsoListParagraph" style="margin: 0.15pt 4.9pt 0.0001pt 5.65pt; text-indent: 0in; line-height: 120%;"><b><span style="font-size: 12pt; line-height: 120%;"><span style="">4.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;</span></span></span></b><b style=""><span style="font-size: 12pt; line-height: 120%;">Pending
proceeding relating to Voluntary Winding up: </span></b><span style="font-size: 12pt; line-height: 120%;">All applications
and petitions relating to voluntary winding<span style="letter-spacing: -0.35pt;"> </span>up<span style="letter-spacing: -0.1pt;"> </span>of<span style="letter-spacing: -0.2pt;"> </span>companies<span style="letter-spacing: -0.15pt;">
</span>pending<span style="letter-spacing: -0.1pt;">
</span>before<span style="letter-spacing: -0.15pt;">
</span>a<span style="letter-spacing: -0.05pt;"> </span>High<span style="letter-spacing: -0.1pt;"> </span>Court<span style="letter-spacing: -0.05pt;"> </span>on<span style="letter-spacing: -0.1pt;"> </span>the<span style="letter-spacing: -0.15pt;"> </span>date<span style="letter-spacing: -0.05pt;"> </span>of<span style="letter-spacing: -0.2pt;"> </span>commencement<span style="letter-spacing: -0.2pt;"> </span>of<span style="letter-spacing: -0.1pt;"> </span>this<span style="letter-spacing: -0.25pt;"> </span>rule,<span style="letter-spacing: -0.15pt;">
</span>shall<span style="letter-spacing: -0.2pt;"> </span>continue<span style="letter-spacing: -0.15pt;"> </span>with<span style="letter-spacing: -0.1pt;"> </span>and
dealt<span style="letter-spacing: -0.3pt;"> </span>with<span style="letter-spacing: -0.35pt;"> </span>by<span style="letter-spacing: -0.35pt;"> </span>the<span style="letter-spacing: -0.3pt;"> </span>High<span style="letter-spacing: -0.2pt;"> </span>Court<span style="letter-spacing: -0.3pt;"> </span>in<span style="letter-spacing: -0.35pt;"> </span>accordance<span style="letter-spacing: -0.15pt;"> </span>with<span style="letter-spacing: -0.2pt;"> </span>provisions<span style="letter-spacing: -0.25pt;"> </span>of<span style="letter-spacing: -0.2pt;"> </span>the<span style="letter-spacing: -0.15pt;"> </span>Act.</span><span style="font-size: 9pt; line-height: 120%;"><o:p></o:p></span></p>
<p class="MsoListParagraph" style="margin: 0.15pt 4.9pt 0.0001pt 5.65pt; text-indent: 0in; line-height: 120%;" align="right"><span style="font-size: 9pt; line-height: 120%;"><o:p>&nbsp;</o:p></span></p>
<p><b><span style="font-size: 13pt; line-height: 120%;"><span style="">5.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;</span></span></span></b><b style=""><span style="font-size: 12pt; line-height: 120%;">Transfer
of pending proceedings of Winding up on the ground of inability
to pay debts.&#8212;</span></b><span style="font-size: 12pt; line-height: 120%;">(1) All
petitions
relating<span style="letter-spacing: -0.2pt;"> </span>to<span style="letter-spacing: -0.3pt;"> </span>winding<span style="letter-spacing: -0.2pt;"> </span>up<span style="letter-spacing: -0.2pt;"> </span>under<span style="letter-spacing: -0.2pt;"> </span>clause<span style="letter-spacing: -0.25pt;">
</span>(e)<span style="letter-spacing: -0.1pt;"> </span>of<span style="letter-spacing: -0.1pt;"> </span>section<span style="letter-spacing: -0.2pt;"> </span>433<span style="letter-spacing: -0.1pt;"> </span>of<span style="letter-spacing: -0.2pt;"> </span>the<span style="letter-spacing: -0.05pt;"> </span>Act<span style="letter-spacing: -0.2pt;"> </span>on<span style="letter-spacing: -0.3pt;"> </span>the<span style="letter-spacing: -0.05pt;"> </span>ground<span style="letter-spacing: -0.2pt;"> </span>of<span style="letter-spacing: -0.2pt;"> </span>inability<span style="letter-spacing: -0.3pt;"> </span>to<span style="letter-spacing: -0.2pt;"> </span>pay<span style="letter-spacing: -0.55pt;"> </span>its<span style="letter-spacing: -0.15pt;"> </span>debts<span style="letter-spacing: -0.2pt;"> </span>pending<span style="letter-spacing: -0.3pt;">
</span>before a High Court, and where the petition has not been
served on the
respondent as required under rule 26 of the Companies (Court) Rules,
1959 shall
be transferred to the Bench <span style="letter-spacing: -0.15pt;">of
</span>the
Tribunal established under sub-section (4) <span style="letter-spacing: -0.15pt;">of
</span>section 419 of the Act, exercising territorial
jurisdiction and such
petitions shall be treated as applications under sections 7, 8 or 9 of
the
Code,<span style="letter-spacing: -0.25pt;"> </span>as<span style="letter-spacing: -0.2pt;"> </span>the<span style="letter-spacing: -0.25pt;"> </span>case<span style="letter-spacing: -0.1pt;"> </span>may<span style="letter-spacing: -0.3pt;"> </span>be,<span style="letter-spacing: -0.25pt;"> </span>and<span style="letter-spacing: -0.15pt;"> </span>dealt<span style="letter-spacing: -0.25pt;"> </span>with<span style="letter-spacing: -0.15pt;"> </span>in<span style="letter-spacing: -0.15pt;"> </span>accordance<span style="letter-spacing: -0.1pt;"> </span>with<span style="letter-spacing: -0.05pt;"> </span>Part<span style="letter-spacing: -0.25pt;"> </span>II<span style="letter-spacing: -0.15pt;"> of
</span>the<span style="letter-spacing: -0.25pt;"> </span>Code:</span><span style="font-size: 9pt; line-height: 120%;"><o:p></o:p></span></p>
<p class="MsoListParagraph" style="margin-right: 4.95pt; text-align: right; line-height: 120%;" align="right"><span style="font-size: 12pt; line-height: 120%;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoBodyText" style="margin: 0in 5.2pt 0.0001pt 5.65pt; text-align: justify; text-indent: 33.8pt; line-height: 112%;"><span style="">Provided that the
petitioner shall submit all information, other than information forming
part of
the records transferred in accordance with Rule 7, required for
admission of
the petition under sections 7, 8 or 9 of the Code, as the case may be,
including details of the proposed insolvency professional to the
Tribunal
within sixty days from date of this notification, failing which the
petition
shall abate.</span><o:p></o:p></p>
<p class="MsoBodyText" style="margin: 7.55pt 4.95pt 0.0001pt 5.65pt; text-align: justify; line-height: 103%;"><span style="">(2)<span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>All cases where opinion has been forwarded by Board for
Industrial and
Financial Reconstruction, for winding<span style="">&nbsp;&nbsp;
</span>up <span style="letter-spacing: -0.15pt;">of
</span>a company to a High
Court and where no appeal is pending, the proceedings for winding up
initiated
under the Act, pursuant to section 20 of the Sick Industrial Companies
(Special
Provisions) Act, 1985 shall continue to be dealt with by such<span style="letter-spacing: -0.25pt;"> </span>High<span style="letter-spacing: -0.25pt;"> </span>Court<span style="letter-spacing: -0.25pt;"> </span>in<span style="letter-spacing: -0.25pt;"> </span>accordance<span style="letter-spacing: -0.2pt;"> </span>with<span style="letter-spacing: -0.25pt;"> </span>the<span style="letter-spacing: -0.35pt;"> </span>provisions<span style="letter-spacing: -0.2pt;"> </span>of<span style="letter-spacing: -0.25pt;"> </span>the<span style="letter-spacing: -0.2pt;"> </span>Act.<o:p></o:p></span></p>
<p class="MsoBodyText" style="margin: 7.55pt 4.95pt 0.0001pt 5.65pt; text-align: justify; line-height: 103%;"><o:p>&nbsp;</o:p></p>
<p class="MsoListParagraph" style="margin: 0.5pt 5.05pt 0.0001pt 5.65pt; text-indent: 0in; line-height: 118%;"><b><span style="font-size: 12pt; line-height: 118%;"><span style="">6.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;</span></span></span></b><b style=""><span style="font-size: 12pt; line-height: 118%;">Transfer
of pending proceedings of Winding up matters on the grounds
other than inability to pay debts.&#8212;</span></b><span style="font-size: 12pt; line-height: 118%;">All petitions
filed under clauses (a) and (f) <span style="letter-spacing: -0.15pt;">of </span>section
433 of the Companies Act, 1956 pending before a High Court and where
the
petition has not been served on the respondent as required under rule
26 of the
Companies (Court) Rules, 1959 shall be transferred to the Bench <span style="letter-spacing: -0.15pt;">of </span>the
Tribunal exercising territorial
jurisdiction and such petitions shall be treated<span style="letter-spacing: -0.35pt;"> </span>as<span style="letter-spacing: -0.25pt;"> </span>petitions<span style="letter-spacing: -0.4pt;"> </span>under<span style="letter-spacing: -0.2pt;"> </span>the<span style="letter-spacing: -0.2pt;"> </span>provisions<span style="letter-spacing: -0.2pt;"> </span>of<span style="letter-spacing: -0.2pt;"> </span>the<span style="letter-spacing: -0.3pt;"> </span>Companies<span style="letter-spacing: -0.25pt;">
</span>Act,<span style="letter-spacing: -0.2pt;"> </span>2013<span style="letter-spacing: -0.35pt;"> </span>(18<span style="letter-spacing: -0.2pt;"> </span>of<span style="letter-spacing: -0.2pt;"> </span>2013).</span><span style="font-size: 12pt; line-height: 118%;"><o:p></o:p></span></p>
<br>
<p class="MsoListParagraph" style="margin: 0.3pt 14.15pt 0.0001pt 5.05pt; text-align: left; text-indent: 6.6pt; line-height: 118%; font-family: Arial;" align="left">
<span style="font-size: 3pt;"></span><b><span style="font-size: 12pt; line-height: 118%;"><span style="">7.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;</span></span></span></b><b style=""><span style="font-size: 12pt; line-height: 118%;">Transfer
of Records.&#8212;</span></b><span style="font-size: 12pt; line-height: 118%;">Pursuant to the
transfer of cases
as per these rules the relevant records shall also be transferred by
the
respective High Courts to the National Company Law Tribunal Benches
having
jurisdiction forthwith over the cases so<span style="letter-spacing: -1.3pt;"> </span>transferred.</span><span style="font-size: 9pt; line-height: 118%;"><o:p></o:p></span>
</p>
<p class="MsoListParagraph" style="margin: 4.55pt 14.25pt 0.0001pt 11.65pt; text-align: right; line-height: 118%; font-family: Arial;" align="right"><span style="font-size: 9pt; line-height: 118%;"><o:p><b>&nbsp;</b></o:p></span></p>
<p class="MsoListParagraph" style="margin: 0.3pt 14.15pt 0.0001pt 5.05pt; text-align: left; text-indent: 6.6pt; line-height: 118%; font-family: Arial;" align="left"><b><span style="font-size: 12pt; line-height: 118%;"><span style="">8.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;</span></span></span></b><b style=""><span style="font-size: 12pt; line-height: 118%;">Fees
not to be paid.&#8212;</span></b><span style="font-size: 12pt; line-height: 118%;">Notwithstanding anything contained
in the National Company Law Tribunal Rules, 2016,<span style="letter-spacing: -0.3pt;"> </span>no<span style="letter-spacing: -0.35pt;"> </span>fee<span style="letter-spacing: -0.3pt;"> </span>shall<span style="letter-spacing: -0.2pt;"> </span>be<span style="letter-spacing: -0.15pt;"> </span>payable<span style="letter-spacing: -0.3pt;">
</span>in<span style="letter-spacing: -0.35pt;"> </span>respect<span style="letter-spacing: -0.2pt;"> </span>of<span style="letter-spacing: -0.2pt;"> </span>any<span style="letter-spacing: -0.35pt;"> </span>proceedings<span style="letter-spacing: -0.25pt;"> </span>transferred<span style="letter-spacing: -0.35pt;"> </span>to<span style="letter-spacing: -0.45pt;"> </span>the<span style="letter-spacing: -0.05pt;"> </span>Tribunal<span style="letter-spacing: -0.3pt;"> </span>in<span style="letter-spacing: -0.35pt;"> </span>accordance<span style="letter-spacing: -0.15pt;"> </span>with<span style="letter-spacing: -0.35pt;"> </span>these<span style="letter-spacing: -0.15pt;"> </span>rules.</span><span style="font-size: 9pt; line-height: 118%;"><o:p></o:p></span></p>
<p class="MsoBodyText" style="margin-top: 0.1pt; font-family: Arial;"><span style="font-size: 10pt;"><o:p><b>&nbsp;</b></o:p></span></p>
<p class="MsoBodyText" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: arial;"><span>[F.
No.
1/5/2016&#8211; CL-V] <br>
</span></p>
<p class="MsoBodyText" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: arial;">
AMARDEEP SINGH
BHATIA, Jt. Secy.<o:p></o:p></p>
</div>
</body></html>