<!DOCTYPE HTML PUBLIC "http://www.w3.org/TR/html4/strict.dtd">
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />

        <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
        <title>G.S.R. 1147(E) dated 15th december, 2016</title>

    <style>
        <!-- body { -->
            <!-- font-family: Verdana, Tahoma, Arial; -->
            <!-- font-size: 12px; -->
        <!-- } -->

        <!-- table { -->
            <!-- border-collapse: collapse; -->
            <!-- border-spacing: 0; -->
            <!-- width: 100%; -->
            <!-- border: 1px solid #ddd; -->
            <!-- background-color: #FFF !important; -->
        <!-- } -->

        <!-- th, td { -->
            <!-- border: 1px solid; -->
            <!-- text-align: left; -->
            <!-- padding: 8px; -->
        <!-- } -->
        <!-- .heading{ -->
            <!-- text-align:center; -->
        <!-- } -->
        <!-- .para{ -->
            <!-- text-align:center; -->
        <!-- } -->
    </style>
</head>
<body style="font-family: Verdana, Tahoma, Arial;font-size: 12px;">
<div>
    <p>
        <strong> </strong>
    </p>
    <p align="center">
        <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
    </p>
    <p align="center">
        <strong>NOTIFICATION</strong>
    </p>
    <p align="right">
        New Delhi, the 15th December, 2016
    </p>
    <p>
        <strong>G.S.R. 1147(E).-</strong>
        In exercise of the powers conferred by sub-section (1) and (2) of section 469 read with section 66 of the Companies Act, 2013 (18 of 2013) the Central
        Government hereby makes the following rules namely:-
    </p>
    <p>
        <strong>1. Short title and Commencement.</strong>
        (1) These rules may be called the National Company Law Tribunal (Procedure for reduction of share capital of Company) Rules, 2016.
    </p>
    <p>
        (2) They shall come into force on the date of their publication in the Official Gazette.
    </p>
    <p>
        (3) The words and expressions used in these rules but not defined and defined in the Companies Act, 2013 (hereinafter referred to as the Act) or in the
        Companies (Specification of Definitions Details) Rules, 2014 or the National Company Law Tribunal Rules, 2016 shall have the meanings respectively
        assigned to them in the Act or the said rules.
    </p>
    <p>
        <strong>2. Form of application or petition for Reduction of share capital under section 66.-</strong>
        (1) An application to the Tribunal to confirm a reduction of share capital of a company shall be in <strong>Form No. RSC-1 </strong>and fee shall be,
        as prescribed in the Schedule of fee to these rules.
    </p>
    <p>
        (2) An application to confirm a reduction of share capital of a company shall be accompanied with ?
    </p>
    <p>
        (a) the list of creditors duly certified by the Managing Director, or in his absence, by two directors, as true and correct, which is made as on a date
        not earlier than fifteen days prior to the date of filing of an application showing the details of the creditors of the company, class-wise, indicating
        their names, addresses and amounts owed to them;
    </p>
    <p>
        (b) a certificate from the auditor of the company to the effect that the list of creditors referred to in clause (a) is correct as per the records of
        the company verified by the auditor;
    </p>
    <p>
        (c) a certificate by the auditor and declaration by a director of the company that the company is not, as on the date of filing of the application, in
        arrears in the repayment of the deposits or the interest thereon; and
    </p>
    <p>
        (d) a certificate by the company?s auditor to the effect that the accounting treatment proposed by the company for the reduction of share capital is in
        conformity with the accounting standards specified in section 133 or any other provisions of Act.
    </p>
    <p>
        (3) Copies of the list of creditors shall be kept at the registered office of the company and any person desirous of inspecting the same may, at any
        time during the ordinary hours of business, inspect and take extracts from the same on payment of the sum of rupees fifty for inspection and for taking
        extracts on payment of the sum of rupees ten per page to the company.
    </p>
    <p>
        <strong>3. Issue of notice and directions by the National Company Law Tribunal.</strong>
        <strong>-</strong>
        (1) The Tribunal shall, within fifteen days of submission of the application under rule 2, give notice, or direct that notice be given to        <strong>-</strong>
    </p>
    <p>
        (i) the Central Government, Registrar of Companies, in all cases, in <strong>Form No. RSC-2</strong>;
    </p>
    <p>
        (ii) the Securities and Exchange Board of India, in the case of listed companies in <strong>Form No. RSC-2</strong>;
    </p>
    <p>
        (iii) the creditors of the company, in all cases in <strong>Form No. RSC-3</strong>; seeking their representations and objections, if any.
    </p>
    <p>
        (2) The notice under clause (iii) of sub-rule (1) shall be sent, within seven days of the direction given under that sub-rule or such other period as
        may be directed by the Tribunal, to each creditor whose name is entered in the list of creditors submitted by the company about the presentation of the
        application and of the said list, stating the amount of the proposed reduction of share capital and the amount or estimated value of the debt or the
        contingent debt or claim or both for which such creditor's name is entered in the said list, and the time within which the creditor may send his
        representations and objections.
    </p>
    <p>
        (3) The Tribunal shall along with directions under sub-rule (1) give directions for the notice to be published, in <strong>Form No. RSC-4 </strong>
        within seven days from the date on which the directions are given, in English language in a leading English newspaper and in a leading vernacular
        language newspaper, both having wide circulation in the State in which the registered office of the company is situated, or such newspapers as may be
        directed by the Tribunal and for uploading on the website of the company (if any) seeking objections from the creditors and intimating about the date
        of hearing.
    </p>
    <p>
        (4) The notice under sub-rule (3) shall state the amount of the proposed reduction of share capital, and the places, where the aforesaid list of
        creditors may be inspected, and the time as fixed by the Tribunal within which creditors of the company may send their objections:
    </p>
    <p>
        Provided that the objections, if any, shall be filed in the Tribunal within three months from the date of publication of the notice with a copy served
        on the company.
    </p>
    <p>
        (5) The company or the person who was directed to issue notices and the publication in the newspaper under this rule shall, as soon as may be, but not
        later than seven days from the date of issue of such notices, file an affidavit in <strong>Form No. RSC- 5 </strong>confirming the despatch and
        publication of the notice.
    </p>
    <p>
        (6) Where the Tribunal is satisfied that the debt or claim of every creditor has been discharged or determined or has been secured or his consent is
        obtained, it may dispense with the requirement of giving of notice to creditors or publication of notice under this rule or both.
    </p>
    <p>
        <strong>4. Representation by Central Government, Registrar etc. under sub-section (2) of section 66.-</strong>
        If the authorities or the creditors of the company referred to in clause (i), clause (ii) and clause (iii) of sub-rule (1) of rule 3 desire to make any
        representation under sub-section (2) of section 66, the same shall be sent to the Tribunal within a period of three months from the date of receipt of
        notice and copy of such representation shall simultaneously be sent to the company and in case no representation has been received within the said
        period by the Tribunal it shall be presumed that they have no objection to the reduction.
    </p>
    <p>
        <strong>5. Procedure with regard to representations and objections received.-</strong>
        (1) The company shall submit to the Tribunal, within seven days of expiry of period upto which representations or objections were sought, the
        representations or objections so received along with the responses of the company thereto.
    </p>
    <p>
        (2) The Tribunal may give such directions as it may think fit with respect to holding of any enquiry or adjudication of claims or for hearing the
        objection or otherwise.
    </p>
    <p>
        (3) At the hearing of the application, the Tribunal may, if it thinks fit, give such directions as may deem proper with reference to securing the debts
        or claims of creditors who do not consent to the proposed reduction, and the further hearing of the petition may be adjourned to enable the company to
        comply with such directions.
    </p>
    <p>
        <strong>6. Order on application and Minute thereof.-</strong>
        (1) Where the Tribunal makes an order confirming a reduction, the order confirming the reduction and approving the minute may include such directions
        or terms and conditions as the Tribunal deems fit .
    </p>
    <p>
        (2) The order confirming the reduction of share capital and approving the minute shall be in <strong>Form No. RSC - 6 </strong>on such terms and
        conditions as may be deemed fit.
    </p>
    <p>
        (3) The Certificate issued by the Registrar under sub-section (5) of section 66 shall be in <strong>Form No. RSC -7. </strong>
    </p>
    <p>
        <strong> </strong>
    </p>
    <table cellspacing="0" cellpadding="0" border="1" style="border-collapse: collapse;
            border-spacing: 0;
 width: 100%;
 border: 1px solid #ddd;
 background-color: #FFF !important;">
        <tbody>
        <tr>
            <td colspan="4" width="616" valign="top" style="border: 1px solid; text-align: left; padding: 8px;">
                <p>
                    <strong>SCHEDULE OF FEES</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="83" valign="top" style="border: 1px solid; text-align: left; padding: 8px;">
                <p>
                    <strong>Sl.</strong>
                </p>
                <p>
                    <strong>No</strong>
                </p>
            </td>
            <td width="224" valign="top" style="border: 1px solid; text-align: left; padding: 8px;">
                <p>
                    <strong>Section of the Companies Act, 2013</strong>
                </p>
            </td>
            <td width="155" valign="top" style="border: 1px solid; text-align: left; padding: 8px;">
                <p>
                    <strong>Nature of application / petition</strong>
                </p>
            </td>
            <td width="154" valign="top" style="border: 1px solid; text-align: left; padding: 8px;">
                <p>
                    <strong>Fees</strong>
                </p>
                <p>
                    <strong>in Rs.</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="83" valign="top" style="border: 1px solid; text-align: left; padding: 8px;">
                <p>
                    1.
                </p>
            </td>
            <td width="224" valign="top" style="border: 1px solid; text-align: left; padding: 8px;">
                <p>
                    Sub-Section (1) of Section 66.
                </p>
            </td>
            <td width="155" valign="top" style="border: 1px solid; text-align: left; padding: 8px;">
                <p>
                    Application for reduction of share capital.
                </p>
            </td>
            <td width="154" valign="top" style="border: 1px solid; text-align: left; padding: 8px;">
                <p>
                    5,000/-
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <strong> </strong>
    </p>
    <!--<table cellspacing="0" cellpadding="0" align="left">
        <tbody>
            <tr>
                <td width="71" height="0">
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                </td>
                <td>
                   <!-- <img src="file:///C:\Users\RAKESH~1\AppData\Local\Temp\msohtmlclip1\01\clip_image001.gif"
                         alt="Text Box: FORM NO. RSC-1
[Pursuant to rule 2(1)]  Company Application No ...... of 2.....
 Ltd
Application under section 66 for confirming the reduction of share capital

The petitioner herein submits:

1.	The above named company, the applicant herein (hereinafter called 'the company') was registered on the ....... day of
 , under the provisions of the [Companies Act, 	] as a company limited by shares/limited by guarantee with a share capital.
2.	The registered office of the company is situate at?.... .
3.	The main objects of the company are [ 	].
"
                         width="661"
                         height="321" />
                </td>
            </tr>
        </tbody>
    </table>-->
    <br clear="ALL" />
    <strong></strong>
</div>
<br clear="all" />
<div>
    <h2 style="text-align:center;">
        FORM NO. RSC-1
    </h2>
    <p style="text-align:center;">
        <b>[Pursuant to rule 2(1)] company Application No......... of.............  (2)............... Ltd</b>
    </p>
    <p style="text-align:center;"><b>Application under section 66 for confirming the reduction of share capital</b></p>
    <p>
        Notice to Central Government, Registrar etc in respect of application for reduction of share capital of M/s <u> </u> (Company)
    </p>
    <p>
        The petitioner herein submits:
    </p>
    <p>
        1.    The above named company, the applicant herein (hereinafter called 'the company') was registered on the ....... day of.................., under the provisions of the [Companies Act,................] as a company limited by shares/limited by guarantee with a share capital.
    </p>
    <p>
        2.   The registered office of the company is situate at.... .
    </p>
    <p>
        3.   The main objects of the company are [                     ].
    </p>
    <p>
        4.
        <!--<img src="file:///C:\Users\RAKESH~1\AppData\Local\Temp\msohtmlclip1\01\clip_image002.gif" width="658" height="946" />-->
        The capital of the company is Rs .... divided into ........ shares of Rs ......... each, of which ........... shares have been issued and have been
        fully paid-up or credited as fully paid (or have been paid up to the extent of Rs ... per share).
    </p>
    <p>
        <em>
            [Note: Where there is more than one class of shares, the petition should set out the classes of shares and state specifically whether there is or
            there is not any priority as to capital]
        </em>
    </p>
    <p>
        <em> </em>
    </p>
    <p>
        <em> </em>
    </p>
    <p>
        5. By article(s) .......... of the articles of association of the company, it is provided that the company may, from time to time, by special
        resolution, reduce its capital in any manner permitted by law.
    </p>
    <p>
        6. Brief information in respect of financial position of the company; qualification, reservation or adverse remark or disclaimer made by the auditor in
        his report, if any, details of any pending inspection, inquiry or investigation against the company under the Companies Act, 2013.
    </p>
    <p>
        7. [Set out reasons for reduction.]
    </p>
    <p>
        8. By a special resolution of the company, duly passed in accordance with section 66(1) of the Companies Act, 2013, at a general meeting thereof held
        after due notice as provided in the Act on the ........... day of... ...... .20 .... it was resolved
    </p>
    <p>
        [Here set out the resolution]
    </p>
    <p>
        9. Details about
    </p>
    <p>
        (i) the number of members present and voting at such meeting and number of shares or voting power held by them;
    </p>
    <p>
        (ii) the number of members who voted in favour of the resolution for reduction of share capital and the number of shares or voting power held by them;
    </p>
    <p>
        (iii) the number of members who voted against the resolution and the number of shares or voting power held by them;
    </p>
    <p>
        10. [Here set out whether the reduction of share capital involves extinction or reduction of any liability in respect of unpaid share capital or
        cancellation of an paid-up share capital which is lost or is unrepresented by available assets or the payment to any shareholder of any paid-up share
        capital]
    </p>
    <p>
        11. The form of the minute proposed to be registered under section 66(5) is as follows:
    </p>
    <p>
        [Here set out the proposed minute]
    </p>
    <p>
        12. The applicant therefore prays :
    </p>
    <p>
        (1) That the reduction of capital resolved on by the special resolution set out in paragraph above be confirmed;
    </p>
    <p>
        (2) That to this end all directions necessary and proper be made and given;
    </p>
    <p>
        (3) That the proposed minute be approved; and
    </p>
    <p>
        (4) That such further or other orders be made in the premises as to the Tribunal shall seem fit. Dated ...........
    </p>
    <p>
        Applicant or his authorised representative Attachments:-
    </p>
    <p>
        (i) List of creditors
    </p>
    <p>
        (ii) Certificate by the auditor w.r.t. creditors' list
    </p>
    <p>
        (iii) Certificate and declaration w.r.t. company not being in arrears in repayment of deposits
    </p>
    <p>
        (iv) certificate by auditor with regard to confirming with accounting standards
    </p>
    <p>
        (v) Any other attachment.
    </p>
</div>
<br clear="all" />
<div>
    <!--<p>
        <img src="file:///C:\Users\RAKESH~1\AppData\Local\Temp\msohtmlclip1\01\clip_image003.gif" width="657" height="954" />
    </p>-->
    <h2>
        FORM NO. RSC-2
    </h2>
    <p>
        [Pursuant to rule 3(1)(i) and (ii)]
    </p>
    <p>
        Notice to Central Government, Registrar etc in respect of application for reduction of share capital of M/s <u> </u> (Company)
    </p>
    <p>
        To
    </p>
    <p>
        The Central Government/ The Registrar of Companies/ [in all cases]
    </p>
    <p>
        The Securities and Exchange Board of India/ [as may be applicable]
    </p>
    <p>
        You are requested to take notice that an application has been presented to the Tribunal at ............... (Bench), on the
    </p>
    <p>
        ............... day of ............... 20...... for confirming the reduction of the share capital of the above company from
    </p>
    <p>
        ` ............... to `. ................ A copy of the application along with its attachments is enclosed.
    </p>
    <p>
        You are hereby informed that representations, if any, in connection with the application may be made to the Tribunal within three months from the date
        of receipt of this notice. Copy of the representation may simultaneously be sent to the concerned company.
    </p>
    <p>
        In case no representation is received within the stated period of three months, it shall be presumed that you have no representation or objection to
        make on the application.
    </p>
    <p>
        Authorized Signatory
    </p>
    <p>
        Dated this ......... day of........... 20...
    </p>
    <p>
        Place
    </p>
    <p>
        Enclosures :Copy of application along with all attachments
    </p>
    <h2>
        FORM NO. RSC - 3
    </h2>
    <p>
        [Pursuant to Rule 3(1)(iii)]
    </p>
    <p>
        Before the National Company Law Tribunal Bench at <u> </u> Company Application No................ of 20.....
    </p>
    <p>
        ........ Ltd..........Applicant
    </p>
    <h2>
        Notice to Creditors
    </h2>
    <p>
        To
    </p>
    <p>
        ............................
    </p>
    <p>
        ............................
    </p>
    <p>
        You are requested to take notice that a petition was presented to the Tribunal at ............... , on the ............... day of
    </p>
    <p>
        ............... 20....... for confirming the reduction of the share capital of the above company from ` ............... to
    </p>
    <p>
        ` ................ and. In the list of creditors given by the company to have been prepared on the............... day of ............... 20....., your
        name is entered as a creditor for `................ (the nature of the debt or claim to be stated).
    </p>
    <p>
        If you have any objection to the application or above stated details, the same may be sent (alongwith supporting documents) along with details about
        your name and address and the name and address of your Authorised Representative , if any, to the undersigned at .............. within three months of
        date of this notice.
    </p>
    <p>
        In case no objections are received as indicated above, the above entry in the list of creditors will, in all the proceedings under the above petition
        to reduce the share capital of the company, be treated as correct.
    </p>
    <p>
        Dated ...............
    </p>
    <p>
        Authorised Representative for the Company
    </p>
</div>
<br clear="all" />
<div>
    <!--<p>
        <img src="file:///C:\Users\RAKESH~1\AppData\Local\Temp\msohtmlclip1\01\clip_image004.gif" width="657" height="958" />
    </p>-->
    <h2>
        FORM NO. RSC - 4
    </h2>
    <p>
        [Pursuant to Rule 3(3)]
    </p>
    <p>
        Before the National Company Law Tribunal Bench at <u> </u> Company Application No................ of 20.....
    </p>
    <p>
        ..... Ltd. ----- Applicant
    </p>
    <h2>
        Publication of Notice
    </h2>
    <p>
        Notice may be taken that an application was presented to the Tribunal at ............... (Bench), on the ............... day of
    </p>
    <p>
        ............... 20....... for confirming the reduction of the share capital of the above company from  ............... to ...
    </p>
    <p>
        ................
    </p>
    <p>
        The notices to individual creditors have been issued. The list of creditors prepared on the............... day of ............... 20..... by the
        company is available at the registered office of the company and at ----- for inspection on all working days during 11 AM to 4 PM between
        ----------------------- (days when the inspection would be available).
    </p>
    <p>
        If any creditor of the company has any objection to the application or the details in the list of creditors, the same may be sent (alongwith supporting
        documents) and details about his name and address and the name and address of his Authorised Representative, if any, to the undersigned at
        .............. within three months of date of this notice.
    </p>
    <p>
        If no objection is received within the time stated above, entries in the list of creditors will, in all the proceedings under the above petition to
        reduce the share capital of the company, be treated as correct.
    </p>
    <p>
        It may also be noted that a hearing has been fixed for (day) (date) on which the Tribunal shall hear the application. In case any creditor intends to
        attend the hearing he should make a request along with his objections, if any.
    </p>
    <p>
        Authorised Representative for the company
    </p>
    <h2>
        FORM NO. RSC - 5
    </h2>
    <p>
        [See Rule 3(5) ]
    </p>
    <p>
        Before the National Company Law Tribunal Bench at <u> </u>
    </p>
    <h2>
        Affidavit on dispatch and publication of notice
    </h2>
    <p>
        <strong> </strong>
    </p>
    <p>
        I............................... (name, etc.), do solemnly affirm and say as follows :--
    </p>
    <p>
        1. I did on the ............... day of ............... 20...... despatched a copy of the notice now produced and shown to me and marked 'B' upon each
        of the respective persons whose names, addresses and descriptions appear in the list of creditors filed on the............... day of ...............
        20...... by sending such copies by registered or Speed post to their respective addresses appearing in the said list, and the postal receipts and the
        acknowledgments [including (if any) the covers returned as undelivered] now produced and shown to me and marked 'C' to 'Cn' are the receipts and
        acknowledgments received from the post office in respect of the said registered letters.
    </p>
    <p>
        2. A true copy of the notice marked 'D' has been published in the issue(s) of............... (state the newspapers) dated the
    </p>
    <p>
        ............... 20.....
    </p>
    <p>
        Solemnly affirmed
    </p>
    <p>
        (Sd.).............
    </p>
</div>
<br clear="all" />
<div>
    <h2>
        FORM NO. RSC - 6
    </h2>
    <p>
        [See Rule 6(2)]
    </p>
    <p>
        Before the National Company Law Tribunal Bench at <u> </u> Company Application No................ of 20.....
    </p>
    <p>
        ..... Ltd. -Petitioner
    </p>
    <p>
        Before the Hon'ble Member (s)...............
    </p>
    <h2>
        Order confirming Reduction of Share Capital and Approving Minute
    </h2>
    <p>
        <strong> </strong>
    </p>
    <p>
        Upon the application of _____.Ltd. presented on the ............... day of............... 20.....[upon hearing Shri..............Authorised
        Representative for the applicant, and upon reading the said application and upon perusing (here set out the newspapers) containing the notice of the
        date of hearing of this petition, and upon hearing Shri
    </p>
    <p>
        .............................. Authorised Representative for the creditor(s) [or, (where there is no appearance) none of the creditors appearing in
        person or by the Authorised Representative], and the Tribunal being satisfied with respect to every creditor that either his consent to the reduction
        has been obtained or his debt or claim has been discharged or has determined or has been secured,
    </p>
    <p>
        THIS TRIBUNAL DO ORDER:
    </p>
    <p>
        (1) That the reduction of the share capital of the above company resolved on and effected by the special resolution passed at a general meeting of the
        said company held on the ............... day of ............... 20,...., which resolution was in the words and figures following, viz..
    </p>
    <p>
        [Here set out the resolution]
    </p>
    <p>
        be and the same is hereby confirmed.
    </p>
    <p>
        (2) [Terms and conditions, if any] Where the Tribunal confirms the reduction subject to any terms and conditions, such terms and conditions should be
        set out, as well as any directions that the Tribunal may think fit to give regarding the use of the words 'and reduced' or the publication of the
        reasons for reduction, the order being suitably cast in such cases.
    </p>
    <p>
        (3) That the minute set forth in the schedule hereto be and is hereby approved.
    </p>
    <p>
        (4) That a certified copy of this order including the minute as approved be delivered to the Registrar of Companies within thirty days of receipt of
        the order.
    </p>
</div>
<br clear="all" />
<div>
    <p>
        *Dated this ............... day of..... 20.....
    </p>
    <br clear="all" />
    <h2>
        SCHEDULE
    </h2>
    <p>
        (Here set out the minute)
    </p>
    <h2>
        Form of Minute
    </h2>
</div>
<br clear="all" />
<div>
    <!--<p>
        <img src="file:///C:\Users\RAKESH~1\AppData\Local\Temp\msohtmlclip1\01\clip_image005.gif" width="658" height="948" />
        <strong></strong>
    </p>-->
    <p>
        The capital of<u> </u>Ltd., is henceforth Rs. ............... divided into........................... shares of `. ............... each,
    </p>
    <p>
        reduced from `. ............... divided into ............... shares of `. ............... each. At the date of the registration of this minute
        ............... shares numbered ............... etc., have been issued and are deemed to be fully paid (and the remaining
    </p>
    <p>
        ............... shares are unissued).
    </p>
    <p>
        [Note:--1. The words 'and reduced' are to be added only where the order so directs.]
    </p>
    <p>
        2. If all the shares of a class are not issued, the minute should state the serial numbers of the issued shares. Partly paid shares should also be
        distinguished by their serial numbers and the amounts paid thereon should be stated. The serial numbers of shares with calls in arrears and of
        forfeited shares should also be stated.]
    </p>
    <p>
        (By the Tribunal) Registrar.
    </p>
    <p>
        *Date of the order to be the date of the approval of the minute.
    </p>
</div>
<br clear="all" />
<div>
    <p>
        <!--<img src="file:///C:\Users\RAKESH~1\AppData\Local\Temp\msohtmlclip1\01\clip_image006.gif"-->
        <!--alt="Text Box:-->
    <H2 style="text-align:center;">FORM  NO. RSC -7</H2>
    <p style="text-align:center;">[See Rule 6(3)]</p>
    <p>Before the National Company Law Tribunal Bench at  	 Company Petition No............. of 20..
        .....Ltd.</p>
    <p>-Petitioner</p>


    <p>Certificate of Registration of Order and Minute</p>


    <p>It is certified that that the order of the Tribunal at............ dated the................. 20... confirming the reduction of the share capital of the above named company from ` ............ divided into ............ shares of ` ............ each,   to
        ` ............ divided into ............shares of ` ........... each, and the minute approved by the Tribunal showing, with respect to the share capital of the above company as altered, the several particulars required by the above Act were registered by the Registrar of Companies on the ............ day of	20..

    </p>
    <p>
        Dated ............
        (Sd.)............
        Registrar
        "

    </p>
    <p>
        [F. No. 1/30/2013/CL. V] AMARDEEP SINGH BHATIA, Jt. Secy.
    </p>
</div>
<br clear="all" />

</body>
</html>