 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style="">MINISTRY OF CORPORATE AFFAIRS<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style="">NOTIFICATION<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">New
 Delhi, the 13th
 January, 2016<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  style="">&nbsp;</span><b style="">G.S.R.
 26(E).-</b>In exercise of the powers conferred by sub-sections
 (5), (6) and (7) of section 125 read with section 469 of the Companies
 Act,
 2013 (18 of 2013), the Central Government hereby makes the following
 rules,
 namely:-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoListParagraphCxSpFirst"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><b style="">Short
 title, extent and commencement.</b> - (1) These rules may be
 called the
 Investor Education and Protection Fund Authority (Appointment of
 Chairperson
 and Members, holding of meetings and provision for offices and
 officers) Rules,
 2016.<o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(2) They shall come into
 force on the date
 of their publication in the Official Gazette. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">2.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><b style="">Definitions</b>.-
 (1) In these rules, unless the context otherwise requires,- <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(a) "Act" means the
 Companies Act. 2013; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(b) "Authority" means the
 Investor
 Education and Protection Fund Authority constituted under subsection
 (5) of
 section 125 of the Act; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(c) "Chairperson" means
 the chairperson of
 the authority appointed under rule (5) of these rules; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(d) "Company" means
 company as defined in
 sub-section (20) of section 2 of the Act and includes 'corresponding
 new bank'
 as defined in sub-section (d) of section 2 of the Banking Companies
 (Acquisition and Transfer of Undertakings) Act, 1970 (5 of 1970) and
 clause (b)
 of section 2 of the Banking Companies (Acquisition and Transfer of
 Undertakings) Act, 1980 (40 of 1980); <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(e) "Fund" means the
 Investor Education and
 Protection Fund (IEPF) established under section 125 of the Act; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(f) "Investor" means any
 person, who has
 committed money in shares, or debentures, bond or deposits under a
 scheme or
 plan of a company registered under the Act; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(g) "Member" means
 members of the Authority
 appointed under sub-section (6) of section 125 of the Act; and <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(h) "Section" means the
 section of the Act.
 (2) Words and expressions used in these rules and not defined herein
 but
 defined in the Act or in the Companies (Specification of Definitions
 Details)
 Rules, 2014, shall have the same meanings respectively assigned to them
 in the
 Act or in the said rules. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">3.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><b style="">Establishment
 of the Authority</b>.- The Authority shall be established on such
 date as may
 be notified by the Central Government. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">4.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><b style="">Composition
 of the Authority.-</b> (1) The Authority shall consist of the
 following,
 namely:- <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(a) Chairperson <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(b) six members <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(c) Chief Executive
 Officer <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(2) The Chief Executive
 Officer shall be
 the convenor of the Authority. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">5.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><b style="">Chairperson
 of the Authority.-</b> The Secretary, Ministry of Corporate
 Affairs shall be
 the ex-officio Chairperson of the Authority.<o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">6.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><span style="">&nbsp;</span><b
  style="">Chief
 Executive Officer of the Authority</b>.-
 The Central Government shall appoint a person to be the Chief Executive
 Officer
 of the Authority. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">7.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><b style="">Members
 of the Authority.-</b> The Central Government may appoint the
 following as the
 members of the Authority, namely:-<o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 74.25pt; text-indent: -0.5in; font-family: Arial;"><span
  style=""><span style="">(i)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>a
 person not below the rank of Executive
 Director to be nominated by the Reserve Bank of India as ex-officio
 member; <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 74.25pt; text-indent: -0.5in; font-family: Arial;"><span
  style=""><span style="">(ii)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>a
 person not below the rank of Executive
 Director to be nominated by the Securities and Exchange Board of India
 as
 ex-officio member; <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 74.25pt; text-indent: -0.5in; font-family: Arial;"><span
  style=""><span style="">(iii)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>four
 persons having special knowledge and
 experience of not less than fifteen years, in finance, management,
 accountancy
 or law with one person from each discipline and such person shall have
 special
 knowledge, or professional experience, which shall in the opinion of
 the
 Central Government shall be useful to the Authority.<o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 74.25pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">8.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><b style="">The
 term
 of office of members of the Authority</b>.- (1) The members of
 the Authority
 appointed under clause (iii) of rule 7 shall hold office for a period
 of three
 years and shall be eligible for reappointment; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">Provided that no member
 shall hold office
 for more than three terms. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">Provided further that a
 member shall be
 eligible for reappointment after expiration of cooling off period of
 three
 years after his term. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(2) Notwithstanding
 anything contained in
 sub-rule (1), the Central Government shall have the right to terminate
 the
 services of a member appointed under clause (iii) of rule 7, at any
 time before
 the expiry of the period specified under sub-rule (1), by giving him
 notice of
 not less than three months in writing for reasons mentioned in sub-rule
 (4),
 and a member shall also have the right to relinquish his office, at any
 time
 before the expiry of the period specified under sub-rule (1), by giving
 to the
 Central Government notice of not less than three months in writing. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(3) The members appointed
 under clause
 (iii) of rule 7 shall hold office for a period of three years or till
 attaining
 the age of 65 years whichever is earlier. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(4) The Central
 Government shall remove a
 member from office if he- <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(a) is, or at any time
 has been,
 adjudicated as insolvent; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(b) is of unsound mind
 and stands so
 declared by a competent court; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(c) has been convicted of
 an offence which,
 in the opinion of the Central Government, involves a moral turpitude;<o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(d) has, in the opinion
 of the Central
 Government, so abused his position as to render his continuation in
 office
 detrimental to the public interest. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">Provided that no member
 shall be removed
 under this sub-rule unless he has been given a reasonable opportunity
 of being
 heard in the matter.<o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">9.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><b style="">The
 number of officers and employees of the Authority.-</b> The
 Authority shall
 have such number of officers and other employees for rendering
 secretarial
 assistance and for its day to day functions as are set out in Schedule
 I to
 these rules. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">10.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span><b style="">Functions
 of the Authority.- </b>(1) Subject to the provision of the Act,
 the Authority
 shall have the duty to administer the Fund for Investor Education and
 Protection. (2) The general management of the affairs of the Authority
 shall
 vest in the Chief Executive Officer, who may exercise powers, which may
 be
 authorised by the Authority. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(3) The Chief Executive
 Officer shall
 function under superintendence and direction of the Chairperson. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(4) Without prejudice to
 the generality of
 the provisions, the functions of the Authority shall include the
 following,
 namely:- <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(a) The Authority may
 constitute permanent
 Committees for overseeing its functions; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(b) Each Committee shall
 comprise two members,
 Chief Executive Officer and concerned functional head, who shall be the
 secretary of the Committee. The Committee shall be headed by an
 ex-officio
 member; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(c) The Committee may
 invite experts with
 special knowledge and expertise, as and when required to assist it on
 any
 specific issue;<o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(b)The Authority may
 outsource, if
 required, work related to Funds and Shares Management. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(c) The broad functional
 divisions of the
 Authority shall be as per Schedule II to these rules. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">11.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span><b style="">Meetings.</b>-
 (1) The Authority and its Committees shall meet at such times and
 places as it
 may consider necessary. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(2) The Authority and its
 Committees shall
 determine its own procedure for holding of meetings. (3) If the
 Authority or
 its Committees has to hold a meeting elsewhere than in New Delhi, the
 approval
 of the Chairperson of the Authority shall be obtained indicating the
 reasons
 thereof. (4) The Authority and the Committees shall meet at least once
 in a
 quarter and at least four such meetings shall be held in a financial
 year:
 Provided that not more than one hundred and twenty days shall intervene
 between
 two consecutive meetings. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(5) The meeting of the
 Authority shall be
 presided over by the Chairperson. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(6) If for any reason,
 the Chairperson is
 unable to attend a meeting, any other Member chosen by the Members
 present from
 amongst themselves at the meeting shall preside over the meeting. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(7) In case of difference
 in opinion on any
 question before the Authority, or any of its Committees, the views of
 the
 majority shall be taken as the final decision. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(8) More than fifty
 percent appointed
 Members of the Authority shall constitute the quorum for the
 transaction of
 business at a meeting of the Authority. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(9) Two members of a
 Committee shall
 constitute the quorum for the transaction of business at a meeting of
 the
 Committee. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(10) For journeys
 performed by a
 non-official member of the Authority or Committee or a special invitee
 in
 connection with the work of the Authority or Committee, the actual
 expenditure
 for attending the meeting shall be reimbursed, subject to maximum of
 such
 expenditure limit applicable to a Senior Administrative Grade officer
 of
 Government of India. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">12.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span><b style="">Member
 not to participate in meetings in certain cases</b>.- A member,
 who has any
 pecuniary interest, direct or indirect in any matter that is brought up
 for
 consideration at a meeting of the Authority and its Committees, shall,
 as soon
 as possible after relevant circumstances have come to his knowledge,
 disclose
 the nature of his interest at such meeting and such disclosure shall be
 recorded in the proceedings of the Authority and its Committees, and
 the member
 shall not take any part in any deliberation or decision of the
 Authority and
 its Committees with respect to that matter. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">13.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span><b style="">Vacancies,
 etc., not to invalidate proceedings of Authority.</b>- No act or
 proceeding of
 the Authority and its Committees shall be invalid merely by reason of- <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(a) any vacancy in, or
 any defect in the
 constitution of the Authority and its Committees; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(b) any defect in the
 appointment of a
 person acting as a member of the Authority and its Committees; <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(c) any laches in the
 procedure of the
 Authority and its Committees not affecting the merits of the case. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">14.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span><b style="">Protection
 of action taken in good faith</b>.- No suit, prosecution or other
 legal proceedings
 shall lie against the Central Government or Authority or any officer of
 the
 Central Government or any member, officer or other employee of the
 Authority
 for anything, which is in good faith done or intended to be done under
 these
 rules. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><b style="">Schedule
 I<o:p></o:p></b></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <table class="MsoTableGrid"
  style="border: medium none ; margin-left: 0.5in; border-collapse: collapse; font-family: Arial; width: 304px; height: 356px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td
  style="border: 1pt solid black; padding: 0in 5.4pt; width: 59.4pt;"
  valign="top" width="79">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">S. No.<o:p></o:p></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 162.5pt;"
  valign="top" width="217">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">Designation<o:p></o:p></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 109.65pt;"
  valign="top" width="146">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">Pay Scale<o:p></o:p></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 111.25pt;"
  valign="top" width="148">
       <p class="MsoListParagraphCxSpLast"
  style="margin-left: 0in; line-height: normal;">Number of
 posts<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 59.4pt;"
  valign="top" width="79">
       <p class="MsoListParagraphCxSpFirst"
  style="text-indent: 0in; line-height: normal;"><span
  style=""><span style="">1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><o:p>&nbsp;</o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 162.5pt;"
  valign="top" width="217">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">General
 Manager<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 109.65pt;"
  valign="top" width="146">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">PB-4 + GP Rs.
 8700<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 111.25pt;"
  valign="top" width="148">
       <p class="MsoListParagraphCxSpLast"
  style="margin-left: 0in; line-height: normal;">01<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 59.4pt;"
  valign="top" width="79">
       <p class="MsoListParagraphCxSpFirst"
  style="text-indent: 0in; line-height: normal;"><span
  style=""><span style="">2.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><o:p>&nbsp;</o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 162.5pt;"
  valign="top" width="217">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">Assistant
 General Manager<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 109.65pt;"
  valign="top" width="146">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">PB-3 + GP Rs.
 5400<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 111.25pt;"
  valign="top" width="148">
       <p class="MsoListParagraphCxSpLast"
  style="margin-left: 0in; line-height: normal;">01<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 59.4pt;"
  valign="top" width="79">
       <p class="MsoListParagraphCxSpFirst"
  style="text-indent: 0in; line-height: normal;"><span
  style=""><span style="">3.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><o:p>&nbsp;</o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 162.5pt;"
  valign="top" width="217">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">Senior
 Accounts Officer<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 109.65pt;"
  valign="top" width="146">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">PB-3 + GP Rs.
 5400<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 111.25pt;"
  valign="top" width="148">
       <p class="MsoListParagraphCxSpLast"
  style="margin-left: 0in; line-height: normal;">01<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 59.4pt;"
  valign="top" width="79">
       <p class="MsoListParagraphCxSpFirst"
  style="text-indent: 0in; line-height: normal;"><span
  style=""><span style="">4.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><o:p>&nbsp;</o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 162.5pt;"
  valign="top" width="217">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">Assistant
 Accounts Officer<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 109.65pt;"
  valign="top" width="146">
       <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0in; line-height: normal;">PB-2 + GP Rs.
 4800<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 111.25pt;"
  valign="top" width="148">
       <p class="MsoListParagraphCxSpLast"
  style="margin-left: 0in; line-height: normal;">02<o:p></o:p></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpFirst"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><b style="">Schedule
 II</b><o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><b style="">Functional
 Divisions of the Authority</b><o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><b style=""><span
  style="">&nbsp;</span>(1) Administration:</b>
 <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(i) Establishing,
 equipping, maintaining
 and operating administrative functions as may be necessary or deemed
 expedient
 for fulfilling the objects of the Fund. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(ii) Authority and
 committees of Authority
 related matters. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><b style="">(2)
 Investment/ Funds Management: <o:p></o:p></b></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(i) Maintaining funds
 standing to the
 credit of Fund, investing the same in interest bearing account of any
 nationalised bank. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle">(ii) Opening of
 depository account of
 authority and transferring into the account securities of investor and
 transferring to investors account securities upon settlement of the
 claim. <o:p></o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><b style="">(3)
 Claims and Settlement:</b> <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(i)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>Making
 refunds to eligible investors after
 following due procedure in respect of claims lodged by investors in
 accordance
 with clause (a) of sub-section (3) of section 125 of the Act and rules
 made
 thereunder. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(ii)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
 </span></span></span>Distribution
 of disgorged amount as per the order
 of the court or the Authority. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(iii)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span>Distribution
 of disgorged amount in consultation
 with Legal and Enforcement Division, to eligible and identified
 security
 holders who have suffered losses due to any wrong actions of any person
 in
 accordance with the order of Tribunal or order of the Authority, as the
 case
 may be. The amount to be distributed shall be limited to amount
 disgorged in
 respect of any particular order and no other funds can be used for
 distribution.<o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><b style="">(4)
 Legal and Enforcement:</b> <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(i)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>Initiation
 of legal cases against non-compliant
 companies or persons. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(ii)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
 </span></span></span>Handling
 disputes and legal cases arising out of
 claims or settlement or any other dispute. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(iii)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 </span></span></span>Reimbursement
 of funds from Fund for meeting
 legal expenses incurred in pursuing class action suits under section 37
 and 245
 of the Act by members, debenture holders or depositors as sanctioned by
 Tribunal in accordance with the procedure prescribed in this regard. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><b style="">(5)
 Investor Education and Protection:</b> <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(i) </span></span>Registering
 associations or
 institutions or professional bodies or chambers of commerce and
 industry or
 other organisations engaged in investor education and protection
 activities. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(ii) </span></span>Sanctioning
 grants to the
 registered entities for seminars, programmes, projects or activities in
 the
 field of corporate governance, Investors' Education and Protection
 including
 research activities. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(iii) </span></span>Monitoring
 of the
 utilisation of the grants to ensure the achievements of the objectives
 of the
 sanctioning of the grants.<o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(iv) </span></span>Cooperating
 and
 collaborating with institutions engaged in Investor Education,
 corporate
 governance, awareness, and protection activities.<o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(v) </span></span>Conducting
 on its own or in
 collaboration with entities engaged in Investor education and
 protection or
 academic institutions or other regulated entities like Stock Exchanges,
 Depositories, Banks and Mutual funds nationwide investors' education
 and
 awareness programmes including seminars and symposia. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(vi) </span></span>Setting
 up of
 institutional arrangements or infrastructure for taking up programmes;
 projects
 and action plans keeping in view the objectives and expenditure
 relating
 thereto, including research and training activities. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(vii) </span></span>Publishing
 and
 disseminating information for investors' benefit and objects and
 achievements
 of the Fund. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(viii) </span></span>Advising
 Central
 Government on the issues related to Investors' interest. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><span
  style=""><span style="">(ix) </span></span>Sponsor
 specific studies
 or research or analysis for the development of capital market.<o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1in; text-indent: 0in; font-family: Arial;"><b
  style="">(6) Finance,
 Accounts and Audit:</b> <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1.5in; text-indent: -0.5in; font-family: Arial;"><span
  style=""><span style="">(i)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>Maintenance
 of accounts of inflow and outflow of
 funds. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1.5in; text-indent: -0.5in; font-family: Arial;"><span
  style=""><span style="">(ii)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><span style="">&nbsp;</span>Reconciliation
 of accounts
 of investors. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1.5in; text-indent: -0.5in; font-family: Arial;"><span
  style=""><span style="">(iii)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>Preparation
 of all accounting reports, audit
 work and annual report. (iv) Returns to Central Government. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1.5in; text-indent: -0.5in; font-family: Arial;"><span
  style=""><span style="">(iv)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>Preparation
 of budget of authority and its
 monitoring. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1.5in; text-indent: -0.5in; font-family: Arial;"><span
  style=""><span style="">(v)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>Accounting
 for all claims of investor in
 respective accounts. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 1.5in; text-indent: -0.5in; font-family: Arial;"><span
  style=""><span style="">(vi)<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span>Procedure
 for accounting of investors' funds and
 securities. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 0.75in; font-family: Arial;">(7) The
 Chairperson may re-allocate functions, merge or sub-divide
 divisions as per administrative requirement. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="text-align: right; font-family: Arial;" align="right"><b
  style="">[F. No. 05/27/2013-IEPF] <o:p></o:p></b></p>
 <p class="MsoListParagraphCxSpLast"
  style="text-align: right; font-family: Arial;" align="right"><b
  style="">MANOJ KUMAR, Jt. Secy.<o:p></o:p></b></p>
 </body>
 </html>
 