 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">MINISTRY
 OF CORPORATE
 AFFAIRS<br>
 NOTIFICATION<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi, the 6th
 June, 2014<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">G.S.R.
 386(E).-&nbsp;In exercise of the powers conferred by Sections 73
 and 76
 read
 with sub-section (1) ofSection 469 of the Companies Act, 2013 (18 of
 2013), the
 Central Government hereby makes the following rules toamend the
 Companies
 (Acceptance of Deposits) Rules, 2014, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1.
 (1) These rules may be called the Companies (Acceptance of Deposits)
 Amendment
 Rules, 2014.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(2)
 They shall come into force from the date of their publication in the
 Official
 Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2.
 In the Companies (Acceptance of Deposits) Rules, 2014, in rule 5, in
 sub-rule
 (1), the following proviso shall beinserted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">"Provided
 that the companies may accept the deposits without deposit insurance
 contract
 till the31st March, 2015."<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">[F.
 No 1/8/2013-CL-V]<br>
 <br>
 AMARDEEP SINGH BHATIA, Jt. Secy.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Footnote:
 - The Principal rules were published in the Gazette of India,
 Extraordinary,
 Part II, Section 3, subsection (i) vide GSR 256(E), dated the 31st
 March, 2014.<o:p></o:p></p>
 </body>
 </html>
 