 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R. 261(E) dated 31st March 2014</title></head><body>
 
 <p class="MsoNormal" style="margin-bottom: 6pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 4pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">CORRIGENDA<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 4pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN">New Delhi, the 31st March, 2014<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">G.S.R. 261(E).&#8212;</span></b><span lang="EN-IN">In the notification of
 the Government of India in the Ministry of Corporate Affairs dated the 27th
 February, 2014 published in the Gazette of India, Extraordinary, Part II,
 Section 3, Sub-section (i) vide G.S.R. No. 130(E), dated the 28th February,
 2014 at page 2, line 20 for &#8216;&#8216;promoting preventive health care&#8217;&#8217; read
 &#8216;&#8216;promoting health care including preventive health care&#8217;&#8217;.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><b style=""><span lang="EN-IN"><span style="">&nbsp;</span>[F. No. 1/18A/2013-CL.V] <o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><b style=""><span lang="EN-IN">RENUKA KUMAR, Jt. Secy.<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><b style=""><span lang="EN-IN"><o:p>&nbsp;</o:p></span></b></p>
 </body></html>