<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<p style="page-break-inside: avoid; widows: 4;" align="center"><b>MINISTRY
 OF CORPORATE AFFAIRS</b></p>
<p style="page-break-inside: avoid; widows: 4;" align="center"><b>NOTIFICATION</b></p>
<p style="page-break-inside: avoid; widows: 4;" align="center">New
 Delhi, the 19th January, 2015</p>
<p style="page-break-inside: avoid; widows: 8;"
 align="justify"><b>G.S.R.
 42(E).-</b>In exercise of the powers conferred by the second
 proviso to sub-section (1), subsection (4) and clause (f) of
 sub-section (6) of section 149, sub-sections (3) and (4) of section
 150, section 151, sub-section (5) of section 152, section 153,
  section 154, section 157, section 160, subsection (1) of section 168
  and section 170 read with section 469 of the Companies Act, 2013 (18
 of 2013), the Central Government hereby makes the following rules
  further to amend the Companies (Appointment and Qualification of
  Directors) Rules, 2014, namely:-</p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify"> 1. (1)
 These rules may be called the Companies (Appointment and
 Qualification of Directors) Amendment Rules, 2015. (2) They shall
  come into force on the date of their publication in the Official
  Gazette.</p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify"> 2. In
 the Companies (Appointment and Qualification of Directors) Rules,
 2014, in rule 16, the following proviso shall be inserted, namely:-
 </p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify">"Provided
  that in case a company has already filed <b>Form DIR-12</b>
 with the
  Registrar under rule 15, a foreign director of such company resigning
   from his office may authorise in writing a practising chartered
 accountant or cost accountant in practice or company secretary in
   practice or any other resident director of the company to sign <b>Form</b>
<b>DIR-11</b> and file the same on his behalf intimating
  the reasons
  for the resignation."</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right">
 [F. No.
 01/9/2013-CL.V(Part-II)]</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right">
 AMARDEEP
 SINGH BHATIA, Jt. Secy.</p>
 <p style="page-break-inside: avoid; widows: 2;" align="right"><br>
 </p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify">
 <b>Note.-</b>The principal rules were published in the
 Gazette of
  India, Extraordinary, Part-II, Section 3, Sub-section (i), vide
  number G.S.R. 259(E), dated the 31st March, 2014 and was subsequently
  amended by notification number G.S.R. 671(E), dated the 18th
  September, 2014.</p>
 </body>
 </html>
