<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 30th March, 2017
</p>
<p>
    <strong>G.S.R. 308(E).-</strong>
    In exercise of the powers conferred by sub-section (1) of section 467 of
    the Companies Act, 2013 (18 of 2013), the Central Government hereby makes
    the following further amendments to Schedule III of the said Act with
    effect from the date of publication of this notification in the Official
    Gazette, namely:-
</p>
<p>
    2. In the Companies Act, 2013 (hereinafter referred to as the principal
    Act), in Schedule III, in Division I, in Part I under the heading "General
    instructions for preparation of Balance Sheet" in paragraph 6, after clause
    'W', the following clause shall be inserted namely:-
</p>
<p>
    "<strong>X</strong>. Every company shall disclose the details of Specified
    Bank Notes (SBN) held and transacted during the period from 8th November,
    2016 to 30th December, 2016 as provided in the Table below:-
</p>
<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="253" valign="top">
            </td>
            <td width="113" valign="top">
                <p align="center">
                    SBNs
                </p>
            </td>
            <td width="142" valign="top">
                <p align="center">
                    Other denomination
                </p>
                <p align="center">
                    notes
                </p>
            </td>
            <td width="85" valign="top">
                <p align="center">
                    Total
                </p>
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    Closing cash in hand as on 08.11.2016
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    (+) Permitted receipts
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    (-) Permitted payments
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    (-) Amount deposited in Banks
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    Closing cash in hand as on 30.12.2016
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Explanation : </strong>
    For the purposes of this clause, the term 'Specified Bank Notes' shall have
    the same meaning provided in the notification of the Government of India,
    in the Ministry of Finance, Department of Economic Affairs number S.O.
    3407(E), dated the 8th November, 2016.".
</p>
<p>
    3. In the principal Act, in Schedule III, in Division II, in Part I under
    the heading "General instructions for preparation of Balance Sheet" in
    paragraph 6, after clause 'J', the following clause shall be inserted
    namely:-
</p>
<p>
    "<strong>K</strong>. Every company shall disclose the details of Specified
    Bank Notes (SBN) held and transacted during the period 08/11/2016 to
    30/12/2016 as provided in the Table below:-
</p>
<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="253" valign="top">
            </td>
            <td width="113" valign="top">
                <p align="center">
                    SBNs
                </p>
            </td>
            <td width="142" valign="top">
                <p align="center">
                    Other denomination
                </p>
                <p align="center">
                    notes
                </p>
            </td>
            <td width="85" valign="top">
                <p align="center">
                    Total
                </p>
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    Closing cash in hand as on 08.11.2016
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    (+) Permitted receipts
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    (-) Permitted payments
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    (-) Amount deposited in Banks
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
        <tr>
            <td width="253" valign="top">
                <p>
                    Closing cash in hand as on 30.12.2016
                </p>
            </td>
            <td width="113" valign="top">
            </td>
            <td width="142" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Explanation : </strong>
    For the purposes of this clause, the term 'Specified Bank Notes' shall have
    the same meaning provided in the notification of the Government of India,
    in the Ministry of Finance, Department of Economic Affairs number S.O.
    3407(E), dated the 8th November, 2016.".
</p>
<p align="right">
    [F. No. 17/62/2015-CL-V (Vol.I)]
</p>
<p align="right">
    AMARDEEP S. BHATIA, Jt. Secy.
</p>