<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R. 568(E) dated 6th Aug 2014</title></head><body>

<p class="MsoNormal" style="margin-bottom: 6pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>

<p class="MsoNormal" style="margin-bottom: 4pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">NOTIFICATION<o:p></o:p></span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN">New Delhi, the 6th
 August, 2014<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">G.S.R. 568(E).&#8212;</span></b><span lang="EN-IN">In exercise of the powers conferred by sub-section (1) of section
 467 of the Companies Act, 2013 (18 of 2013), the Central Government hereby
 makes the following further amendments in Schedule VII of the said Act,
 namely:-<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>(1) In Schedule
 VII, after item (x), the following item and entry shall be inserted, namely:-<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><span style="">&nbsp;</span>"(xi) slum area
 development.<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 6pt; text-align: justify; line-height: 15pt; font-family: Arial;"><i style=""><span lang="EN-IN"><span style="">&nbsp;</span>Explanation</span></i><span lang="EN-IN">.&#8212; For
 the purposes of this item, the term &#8216;slum area&#8217; shall mean any area declared as
 such by the Central Government or any State Government or any other competent
 authority under any law for the time being in force." <o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 4pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN">2. This notification shall come into force on the date
 of its publication in the Official Gazette.<o:p></o:p></span></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><b style=""><span lang="EN-IN"><span style="">&nbsp;</span>[F. No. 1/18/2013-CL-V] <o:p></o:p></span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><b style=""><span lang="EN-IN">AMARDEEP S. BHATIA, Jt. Secy. <o:p></o:p></span></b></p>

<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 35.45pt; text-align: justify; text-indent: -35.45pt; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN">Note.&#8212;</span></b><span lang="EN-IN">The Schedule VII was brought into force with effect from 1st April,
 2014 and was amended (effective from 1st April, 2014) vide notification number
 GSR 130(E) dated 27th February, 2014 and Corrigenda number GSR 261(E) dated
 31st March, 2014.<o:p></o:p></span></p>
</body></html>