<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
 <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
 <title></title></head> 
 <body>
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><b>MINISTRY OF CORPORATE AFFAIRS<o:p></o:p></b></p>
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><b>NOTIFICATION<o:p></o:p></b></p>
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center">New Delhi, the 1st October, 2016<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b>G.S.R.
 936(E).</b>-In exercise of the powers
 conferred by sub-sections (1) and (2) of section 469 of the<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">Companies
 Act, 2013 (18 of 2013),
 the Central Government hereby makes the following rules further<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">to
 amend the Companies (
 Incorporation) Rules, 2014, namely:-<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">1.
 (1) These rules may be called
 the Companies (Incorporation) fourth Amendment Rules, 2016.<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(2)
 Save as otherwise provided,
 these rules shall come into force on the date of their publication in
 the Official
 Gazette. <o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">2.
 In the Companies
 (Incorporation) Rules, 2014 (hereinafter referred to as the principal
 rules),
 in rule 33, for sub-rule (2), the following shall be substituted,
 namely:-<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">"(2)
 subject to the provision of
 sub-rule (1), for effecting the conversion of a public company into a
 private
 company, a copy of order of the Tribunal approving the alteration,
 shall be
 filed with the Registrar in Form No.INC-27 with fee together with the
 printed
 copy of altered articles within fifteen<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">days
 from the date of receipt of
 the order from the Tribunal".<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span style="font-size: 11.5pt;">3.
 In the principal rules, after rule 37, the following rule shall be
 inserted,
 with effect from 2</span><sup><span style="font-size: 8pt;">nd</span></sup><span style="font-size: 8pt;"> </span><span style="font-size: 11.5pt;">October
 2016,
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span style="font-size: 11.5pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">38.
 Simplified Proforma for
 Incorporating Company Electronically (SPICE) <o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(1)
 The simplified integrated
 process for incorporation of a company in Form No. INC-32 alongwith
 e-Memorandum
 of Association in Form No. INC-33 and e-Articles of Association in Form
 No.
 INC- 34.<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(2)
 The provisions of sub-rule (2)
 to sub-rule (13) of rule 36 shall apply <i>mutatis mutandis </i>for<span style="">&nbsp; </span>incorporation under this rule.<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">Provided
 that for the purposes of
 references to form numbers INC-29, INC-30 and INC-31 in rule 36 with
 Form No.
 INC-32, Form no. INC-33 and Form No. INC-34 shall be substituted
 respectively. <o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">4.
 In the principal rules, after
 rule 38 as so inserted these rules, the following rule shall be
 inserted with
 effect from <b>1st November, 2016</b>, namely:-<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b>"39.
 Conversion of a company
 limited by guarantee into a company limited by shares </b>(1) A
 company other than a
 company registered under section 25 of the Companies Act, 1956 or
 section 8 of
 the Companies Act, 2013 may convert itself into a company limited by
 shares.<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span style="font-size: 11.5pt;">(2) The company
 seeking conversion shall have a share capital equivalent to the
 guarantee
 amount.<o:p></o:p></span></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(3)
 A special resolution is
 passed by its members authorising such a conversion omitting the
 guarantee
 clause in its Memorandum of Association and altering the Articles of
 Association to provide for the articles as are applicable for a company
 limited
 by shares.<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(4)
 A copy of the special
 resolution shall be filed with the Registrar of Companies in Form no.
 MGT-<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">14
 within thirty days from the
 date of passing of the same along with fee as prescribed in the
 Companies
 (Registration Offices and Fees) Rules, 2014. <o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(5)
 An application in Form No.
 INC-27 shall be filed with the Registrar of Companies within thirty
 days from
 date of the passing of the special resolution enclosing the altered
 Memorandum
 of Association and altered Articles of Association and a list of
 members with
 the number of shares held aggregating to a minimum paid up capital
 which is
 equivalent to the amount of guarantee hither to provided by its members.<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(6)
 The Registrar of Companies
 shall take a decision on the application filed under these rules within
 thirty
 days from the date of receipt of application complete in all respects
 and upon
 approval of Form No. INC-27, the company shall be issued with a
 certificate of
 incorporation in Form No. INC-11B." <o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">5.
 In the principle rules, after
 the Form No. INC-11A, the following form shall be inserted, namely:- <o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span style="font-size: 11.5pt;">"Form No. INC-11B<o:p></o:p></span></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b>Certificate
 of Incorporation pursuant to conversion of a company limited by
 guarantee into
 a<o:p></o:p></b></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b>company
 limited by shares<o:p></o:p></b></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b><o:p>&nbsp;</o:p></b></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">[Pursuant
 to section 18 of the
 Companies Act, 2013 read with rule 39 of the Companies (Incorporation)
 Rules,
 2014]<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">I
 hereby certify that............ (name
 of the company prior to conversion) limited by guarantee has been
 converted
 into............(name of the company after conversion) a company limited by
 shares with
 effect from the date of this certificate.<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span style="font-size: 11.5pt;">The CIN of the
 company is</span>....................................</p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span style="font-size: 11.5pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">Given
 under my hand at............
 this........................ day of........................ two thousand........................<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><span style="font-size: 11.5pt;">SEAL:<span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>........................</p>
 <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 288pt; text-indent: 36pt; line-height: normal; font-family: Arial;"><span style="font-size: 11.5pt;">Registrar of Companies<o:p></o:p></span></p>
 <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 288pt; text-indent: 36pt; line-height: normal; font-family: Arial;"><span style="font-size: 11.5pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 288pt; text-indent: 36pt; line-height: normal; font-family: Arial;">....................................</p>
 <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 288pt; text-indent: 36pt; line-height: normal; font-family: Arial;"><span style="font-size: 11.5pt;"><br>
 </span></p>
 <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 288pt; text-indent: 36pt; line-height: normal; font-family: Arial;"><span style="font-size: 11.5pt;">(State).".</span><span style="font-size: 11.5pt;"><o:p> <br>
 </o:p></span></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span style="font-size: 11.5pt;"><br>
 <o:p></o:p></span></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span style="font-size: 11.5pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial;"><span style="font-size: 11.5pt;">6.
 In the principle rules for Form No. INC-27 shall be substituted. </span><o:p></o:p></p>
 </body></html>