<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
<div style="text-align: center;"><span
 style="font-family: Arial;">MINISTRY OF CORPORATE AFFAIRS</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">NOTIFICATION</span><br
 style="font-family: Arial;">
</div>
<br style="font-family: Arial;">
<div style="text-align: right;"><span
 style="font-family: Arial;">New Delhi, the 27th February,
2014</span><br style="font-family: Arial;">
</div>
<br style="font-family: Arial;">
<span style="font-family: Arial;">G.S.R, 130(E).-In
exercise of the powers conferred by sub-section (1) of section 467 of
the Companies Act, 2013 (18 of 2013), the Central Government hereby
makes the following amendments to Schedule VII of the said Act, namely:-</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(1) In Schedule VII, for
items (i) to (x) and the entries relating thereto, the following items
and entries shall be substituted, namely :-</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(i) eradicating hunger,
poverty and malnutrition, promoting preventive health care and
sanitation&nbsp;&nbsp; and making available safe drinking water:</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(ii) promoting
education, including special education and employment enhancing
vocation skills especially among children, women, elderly, and the
differently&nbsp;&nbsp; abled and livelihood enhancement
projects;</span><br style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(iii).promoting gender
equality, empowering women, setting up homes and hostels for women and
orphans; setting up old age homes, day care centres and such other
facilities for senior citizens and measures for reducing inequalities
faced by socially and economically backward groups;</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">&nbsp;</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(iv) ensuring
environmental sustainability, ecological balance, protection of flora
and fauna, animal welfare, agroforestry, conservation of natural
resources and maintaining quality of soil, air and water;</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(v) protection of
national heritage, art and culture including restoration of buildings
and sites of historical importance and works of art; setting up public
libraries; promotion and development of traditional and handicrafts:</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(vi) measures for the
benefit of armed forces veterans, war widows and their dependents;</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(vii)training to promote
rural sports, nationally recognised sports, paralympic sports and
Olympic sports;</span><br style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(viii)Contribution to
the Prime Minister's National Relief Fund or any other fund set up by
the Central Government for socio-economic development and relief and
welfare of the Scheduled Castes, the Scheduled Tribes, other backward
classes, minorities and women;</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(ix)Contributions or
funds provided to technology incubators located within academic
institutions which are approved by the Central Government</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">(x)Rural development
projects."</span><br style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">2 This notification
shall come into force with effect from 1st April 2014.</span><br
 style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">&nbsp;[F. No.
1/18A/2013-CL-V]</span><br style="font-family: Arial;">
<br style="font-family: Arial;">
<span style="font-family: Arial;">RENUKA KUMAR. Jt. Secy.</span><br
 style="font-family: Arial;">
</body>
</html>
