<html>
<head>
</head>
<body style="font-family: Verdana, Tahoma, Arial;font-size: 16px;">
<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
     New Delhi, the 20th December, 2016
</p>
<p>
    <strong>G.S.R. 1159(E).-</strong>
    In exercise of the powers conferred by sub-sections (1) and (2) of section
    469 of the Companies Act, 2013 (18 of 2013), the Central Government hereby
    makes the following rules further to amend the National Company Law
    Tribunal Rules, 2016, namely:-
</p>
<p>
    1. (1) These rules may be called the National Company Law Tribunal
    (Amendment) Rules, 2016.
</p>
<p>
    (2) They shall come into force on the date of their publication in the
    Official Gazette.
</p>
<p>
    2. In the National Company Law Tribunal Rules, 2016, (hereinafter referred
    to as the principal rules), in "Part-I", for the heading, "Definitions,
    forms and etc.", the heading "Definitions and forms etc." shall be
    substituted;
</p>
<p>
    3. In the principal rules, in rule 2,-
</p>
<p>
    (a) in clause (5), the words "interlocutory application" shall be omitted;
</p>
<p>
    (b) in clause (9), in sub-clause (d), for the words "or a chartered
    accountant or a cost accountant or a company secretary", the words "or a
    chartered accountant in practice or a cost accountant in practice or a
    company secretary in practice" shall be substituted.
</p>
<p>
    4. In the principal rules, after rule 23, the following rule shall be
    inserted, namely:-
</p>
<p>
    <strong>"23A. Presentation of joint petition. - </strong>
    (1) The Bench may permit more than one person to join together and present
    a single petition if it is satisfied, having regard to the cause of action
    and the nature of relief prayed for, that they have a common interest in
    the matter.
</p>
<p>
    (2) Such permission shall be granted where the joining of the petitioners
    by a single petition is specifically permitted by the Act.".
</p>
<p>
    5. In the principal rules, in rule 25, for the words "in the form
    prescribed", the words "in the Form No. NCLT 3C" shall be substituted.
</p>
<p>
    6. In the principal rules, in rule 27, in sub-rule (1), for the words, "or
    by any other advocate or authorised representative whether engaged in the
    case or not or if the advocate or authorised representative engaged in the
    case authenticates such certificate or prepared by a translator approved
    for the purpose by the Registrar on payment of such charges as he may
    order", the words "or if the authorised representative engaged in the case
    authenticates such certificate or prepared by a translator approved for the
    purpose by the Registrar on payment of such charges as he may order" shall
    be substituted.
</p>
<p>
    7. In the principal rules, in rule 38,-
</p>
<p>
    (i) in sub-rule (1), after the words "by post", the words "or by courier"
    shall be inserted;
</p>
<p>
    (ii) in sub-rule (2), in clause (b), after the words, "acknowledgement due"
    the words, "or by courier" shall be inserted;
</p>
<p>
    (iii) after sub-rule (2), the following Explanation shall be inserted,
    namely :-
</p>
<p>
    <strong>Explanation</strong>
    .-For the purposes of sub-rules (1) and (2), the term "courier" means a
    person or agency which delivers the document and provides proof of its
    delivery.
</p>
<p>
    8. In the principal rules, after rule 38, the following Rule shall be
    inserted, namely :-
</p>
<p>
    <strong>"38A. Multiple remedies - </strong>
    A petition shall be based upon a single cause of action and may seek one or
    more reliefs provided that the reliefs are consequential to one another.".
</p>
<p>
    9. In the principal rules, after rule 68, the following rule shall be
    inserted, namely:-
</p>
<p>
    <strong>
        "68A. Application to cancel variation of rights under sub-section (2)
        of section 48.-
    </strong>
    (1) Where an application to cancel a variation of the rights attached to
    the shares of any class is made on behalf of the shareholders of that class
    entitled to apply for cancellation under sub-section (2) of section 48 by
    the letter of authority signed by the shareholders so entitled, authorising
    the applicant or applicants to present the application on their behalf,
    such letter of authority shall be annexed to the application, and the names
    and addresses of all the shareholders, the number of shares held by each of
    them, aggregate number of such shares held and percentage of the issued
    shares of that class shall be set out in the Schedule to the application.
</p>
<p>
    (2) The application in <strong>Form No. NCLT. 1 </strong>shall be
    accompanied by documents required for the purposes of the case and shall
    set out -
</p>
<p>
    (a) the particulars of registration;
</p>
<p>
    (b) the capital structure, the different classes of shares into which the
    share capital of the company is divided and the rights attached to each
    class of shares;
</p>
<p>
    (c) the provisions of the memorandum or articles authorising the variation
    of the rights attached to the various classes of shares;
</p>
<p>
    (d) the total number of shares of the class whose rights have been varied;
</p>
<p>
    (e) the nature of the variation made, and so far as may have been
    ascertained by the applicants, the number of shareholders of the class who
    gave their consent to the variation or voted in favour of the resolution
    for variation and the number of shares held by them;
</p>
<p>
    (f) the number of shareholders who did not consent to the variation or who
    voted against the resolution, and the number of shares held by them;
</p>
<p>
    (g) the date on which the consent was given or the resolution was passed;
    and
</p>
<p>
    (h) the reasons for opposing the variation.
</p>
<p>
    (3) The applicant shall at least fourteen days before the date of the
    filing of the petition advertise the application in accordance with rule
    35.
</p>
<p>
    (4) Where any objection of any person whose interest is likely to be
    affected by the proposed application is received by the applicant, a copy
    thereof shall be served to the Registrar of Companies and Regional Director
    on or before the date of hearing.
</p>
<p>
    (5) On any application, the Tribunal, after hearing the applicant and any
    other person, as appears to it, to be interested in the application, may,
    if it is satisfied, having regard to all the circumstances of the case that
    the variation would unfairly prejudice to the shareholders of the class
    represented by the applicant, cancel the variation and shall, if not so
    satisfied, confirm the variation for reasons to be recorded:
</p>
<p>
    Provided that the Tribunal may, at its discretion, make such orders as to
    cost as it thinks fit.".
</p>
<p>
    10. In the principal rules, in rule 69, sub-rule (3), shall be omitted.
</p>
<p>
    11. In the principal rules, in rule 70, sub-rule (6), shall be omitted.
</p>
<p>
    12. In the principal rules, after rule 76, the following rule shall be
    inserted, namely:-
</p>
<p>
    <strong>"76A. Application under section 130.- </strong>
    The Central Government, the Income-tax authorities, the Securities and
    Exchange Board of India, any other statutory regulatory body or authority
or any person concerned may file an application in    <strong>Form No. NCLT. 9 </strong>for re-opening of books of accounts and
    for re-casting of financial statement of a company under section 130 of the
    Act and such application shall be accompanied by such documents as
    mentioned in Annexure-B.".
</p>
<p>
    13. In the principal rules, after rule 83, the following rule shall be
    inserted, namely:-
</p>
<p>
    <strong>"83A. Application under sub-section (1) of section 244.- </strong>
    An application in <strong>Form No. NCLT. 9 </strong>may be filed before the
    Tribunal for waiver of requirement of clause (a) or (b) of Section 244 of
    the Act which shall be accompanied by such documents as mentioned in
    Annexure-B.".
</p>
<p>
    14. In the principal rules, in rule 112, in sub-rule (3), after the words,
    "shall be paid by means of", the words, "an Indian Postal Order or by"
    shall be inserted.
</p>
<p>
    15. In the principal rules, in the Schedule of Fees, in serial number 10,
    under the heading 'Nature of application/petition', for the word,
    “deposition” the word, "depositor" shall be substituted.
</p>
<p>
    16. In the principal rules, in Annexure 'A',-
</p>
<p>
    (a) for Form No. NCLT. 3, the following Form No. NCLT. 3 shall be
    substituted.
</p>
<p align="right">
    [F. No. 1/30/2013-CL-V]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>
</body>
</html>