 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R.247(E) dated 31st Mar 2014</title></head><body>
 
 
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span lang="EN-IN">Government
 of India<br>
 Ministry of Corporate Affairs<br>
 NOTIFICATION<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span lang="EN-IN">New
 Delhi, the 31<sup>st</sup> Mar 2014<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">G.S.R.247(E).In
 exercise of the powers conferred under sub-section (2) of section 211,
 sub-section (5) of section 211, section 214, sub-section (3) of section 210,
 and sub-section(11) of section 217, read with sub-sections (1) and (2) of
 section 469 of the Companies Act, 2013 (18 of 2013) and in supersession of the
 Companies (Central Government&#8217;s) General Rules and Forms, 1956 or any other
 relevant rules prescribed under the Companies Act, 1956 (1 of 1956) on matters
 covered under these rules, except as respects things done or omitted to be done
 before such supersession, the Central Government hereby makes the following
 rules, namely: -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">1. Short title
 and commencement.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(1) These rules
 may be called the Companies (Inspection, Investigation and Inquiry) Rules,
 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(2) They shall
 come into force on the 1st day of April, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">2.
 Definitions.-&nbsp;(1) In these rules, unless the context otherwise requires,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(a) &#8216;&#8216;Act&#8217;&#8217;
 means the Companies Act, 2013 (18 of 2013);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(b) &#8216;&#8216;Annexure&#8217;&#8217;
 means the Annexure to these rules;-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(c) &#8216;&#8216;Fees&#8217;&#8217;
 means the fees as specified in the Companies (Registration offices and fees)
 Rules, 2014;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(d) &#8220;Form&#8217;&#8217; or
 &#8220;e form&#8221; means a form set forth in Annexure to these rules which shall be used
 for the matter to which it relates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(e) &#8216;&#8216;Regional
 Director&#8217;&#8217; means the person appointed by the Central Government in the Ministry
 of Corporate Affairs as a Regional Director;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(f) &#8216;&#8216;section&#8217;&#8217;
 means the section of the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(2) Words and
 expressions used in these rules but not defined and defined in the Act or in
 Companies (Specification of definitions details) Rules, 2014 shall have the
 meanings respectively assigned to them in the Act and said rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">3. Appointment
 of persons having expertise in various fields.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">The Central
 Government may appoint persons having expertise in the fields of
 investigations, cyber forensics, financial accounting, management accounting,
 cost accounting and any other fields as may be necessary for the efficient
 discharge of Serious Fraud Investigation Office (SFIO) functions under the Act.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">4. Terms and
 Condition of service.-&nbsp;The terms and conditions of service of Director,
 experts and other officers and employees of the Serious Fraud Investigation
 Office under sub-section (5) of section 211 shall be as under-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(a) the terms
 and conditions of appointment of Director shall be governed by the deputation
 rules under the Central Staffing Scheme of Government of India;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(b) the terms
 and conditions of service of experts from the Central Government or the State
 Government or Union territory Government, Public Sector Undertaking, Autonomous
 Bodies and such other organizations shall be as per the recruitment rules which
 may be duly notified by the Central Government under article 309 of the
 Constitution of India;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(c) the terms
 and conditions of service of other officers and employees from the Central
 Government or the State Government or Union territory Government, Public Sector
 Undertaking, Autonomous Bodies and such other organizations shall be as per the
 recruitment rules which may be duly notified by the Central Government under
 article 309 of the Constitution of India;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(d) the Central
 Government may appoint experts or consultants or other professionals or
 professional firms on contractual basis as per the scheme of engagement of
 experts or consultants which may be duly approved by the Central Government.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">5. Security.-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(1) The Central
 Government may before appointing an inspector under sub-section (3) of section
 210, require the applicant to give a security not exceeding twenty-five
 thousand rupees for payment of the costs and expenses of investigation as per
 the criteria given below-<o:p></o:p></span></p>
 
 <table class="MsoNormalTable" style="width: 100%; height: 252px; font-family: Arial;" border="1" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">S.No<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">Turnover as
   per previous year balance sheet (Rs.)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">Amount of
   security (Rs.)<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">1<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">Turnover upto
   Rs. 50 crore<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">Rs. 10,000<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">2<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">Turnover more
   than Rs. 50 crore and upto 200 crore<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">Rs. 15,000<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">3<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">Turnover more
   than Rs. 200 crore<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span lang="EN-IN">Rs. 25,000<o:p></o:p></span></p>
   </td>
  </tr>
 </tbody></table>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">(2) The security
 shall be refunded to the applicant if the investigation results in prosecution.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span lang="EN-IN">6. Letter of
 Request, as per section 217.-&nbsp;The letter of request shall be transmitted
 in such manner as specified by the Ministry of Corporate Affairs.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span lang="EN-IN">File
 No. 01/12/2013 (Part-I) CL-V<br>
 <br>
 <br>
 (Renuka Kumar)<br>
 Joint Secretary to the Govt of India<o:p></o:p></span></p>
 </body></html>