 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">Government
 of India<br>
 Ministry of Corporate Affairs<br>
 Notification<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi Dated the
 29th May, 2015<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">G.S.R.
 (E).&nbsp;- In exercise of
 the powers conferred by section 7 read with sub-sections (1) and (2) of
 section
 469 of the Companies Act, 2013 (18 of 2013), the Central Government
 hereby
 makes the following rules further to amend the Companies
 (Incorporation) Rules,
 2014, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1. (1)
 These rules may be called
 the Companies (Incorporation) Second Amendment Rules, 2015.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(2) They
 shall come into force
 from the date of their publication in the Official Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. In the
 Companies
 (Incorporation) Rules, 2014,-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(a) in rule
 12, the following
 proviso shall be inserted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">"Provided
 that in case
 pursuing of any of the objects of a company requires registration or
 approval
 from sectoral regulators such as Reserve Bank of India, Securities and
 Exchange
 Board, registration or approval, as the case may be, from such
 regulator shall
 be obtained by the company before pursuing such objects and a
 declaration in
 this behalf shall be submitted at the stage of incorporation of the
 company.";<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(b) rule 24
 shall be omitted;<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(c) in the
 Annexure, -<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(i) for the
 existing Form INC-13
 and Form INC-16, the following Form INC-13 and Form INC-16 shall
 respectively
 be substituted, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(ii) Form
 INC-21 shall be
 omitted.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">(F.No.
 1/13/2013-CL-V)<br>
 <br>
 Amardeep Singh Bhatia<br>
 Joint Secretary to the Government of India<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Note.
 -&nbsp;The principal rules
 were published in the Gazette of India, Extraordinary, Part-II, Section
 3,
 Sub-section (i), vide number G.S.R. 250(E), dated the 31st March, 2014
 and was
 subsequently amended by number G.S.R. ..(E), dated the 1st May, 2015.<o:p></o:p></p>
 </body>
 </html>
 