 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">Government
 of
 India&nbsp;<br>
 Ministry of Corporate Affairs&nbsp;<br>
 Notification<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi, the 29th
 May, 2015<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">G.S.R. (E).
 -&nbsp;In exercise of
 the powers conferred under sub-section (1) of section 123 read with
 section 469
 of the Companies Act, 2013 (18 of 2013), the Central Government hereby
 makes
 the following rules further to amend the Companies (Declaration and
 Payment of
 Dividend) Rules, 2014, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">1. (1)
 These rules may be called
 the Companies (Declaration and Payment of Dividend) Second Amendment
 Rules,
 2015.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">(2) They
 shall come into force on
 the date of their publication in the Official Gazette.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. In the
 Companies (Declaration
 and Payment of Dividend) Rules, 2014, in rule 3, sub-rule (5) shall be
 omitted.<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><br>
 <br style="">
 <!--[if !supportLineBreakNewLine]--><br style="">
 <!--[endif]--><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">[F.
 No.
 1/31/2013-CL-V-Part]<br>
 <br>
 Amardeep Singh Bhatia<br>
 Joint Secretary to the Government of India<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Note.
 -&nbsp;The principal rules
 were published in the Gazette of India, Extraordinary, Part-II, Section
 3,
 Sub-section (i), vide number G.S.R. 241(E), dated the 31st March, 2014
 and was
 subsequently amended by notification number G.S.R. 397(E), dated the
 12th June,
 2014 and number G.S.R. 121(E), dated the 24th February, 2015.<o:p></o:p></p>
 </body>
 </html>
 