 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>G.S.R 246(E)dated 31st Mar 2014</title></head><body>
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN">[To
 be published in the Gazette of India, Extraordinary, Part II, Section 3,
 Sub-Section (i)]<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN">Government
 of India<br>
 Ministry of Corporate Affairs<br>
 NOTIFICATION<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span style="line-height: 115%;" lang="EN-IN">New
 Delhi, the 31<sup>st</sup> Mar 2014<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">G.S.R
 246(E).- In exercise of powers conferred by sub-sections (1), (2) and (4) of
 section 139, sub-sections (1) and (2) of section 140, sub-section (3) of
 section 141, sub-sections (2), (3), (8) and (12) of section 143, sub-section
 (3) of section 148 read with sub-sections (1) and (2) of section 469 of the
 Companies Act, 2013 (18 of 2013) and in supersession of the Companies (Central
 Government&#8217;s) General Rules and Forms, 1956 in so far as they relate to matters
 covered under these rules, except as respects things done or omitted to be done
 before such supersession, the Central Government hereby makes the following
 rules, namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">1.
 Short title and commencement.-&nbsp;(1) These rules may be called as the
 Companies (Audit and Auditors) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 They shall come into force on the 1st day of April, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">2.
 Definitions.-&nbsp;(1) In these rules, unless the context otherwise requires,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 &#8220;Act&#8221; means the Companies Act, 2013 (18 of 2013);<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 &#8220;Annexure&#8221; means the Annexure enclosed to these rules;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c)
 &#8220;fees&#8221; means fees specified in the Companies (Registration Offices and Fees)
 Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(d)
 &#8220;Form&#8221; or &#8220;e-Form&#8221; means a form set forth under these rules which shall be used
 for the matter to which it relates;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(e)
 &#8220;section&#8221; means section of the Act.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 The words and expressions used in these rules but not defined and defined in
 the Act or in the Companies (Specification of definitions details) Rules, 2014
 shall have the meanings respectively assigned to them in the Act or in the said
 rules.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">3.
 Manner and procedure of selection and appointment of auditors.-&nbsp;(1) In
 case of a company that is required to constitute an Audit Committee under
 section 177, the committee, and, in cases where such a committee is not
 required to be constituted, the Board, shall take into consideration the
 qualifications and experience of the individual or the firm proposed to be
 considered for appointment as auditor and whether such qualifications and
 experience are commensurate with the size and requirements of the company:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that while considering the appointment, the Audit Committee or the Board, as
 the case may be, shall have regard to any order or pending proceeding relating
 to professional matters of conduct against the proposed auditor before the
 Institute of Chartered Accountants of India or any competent authority or any
 Court.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 The Audit Committee or the Board, as the case may be, may call for such other
 information from the proposed auditor as it may deem fit.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 Subject to the provisions of sub-rule (1), where a company is required to
 constitute the Audit Committee, the committee shall recommend the name of an
 individual or a firm as auditor to the Board for consideration and in other
 cases, the Board shall consider and recommend an individual or a firm as
 auditor to the members in the annual general meeting for appointment.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 If the Board agrees with the recommendation of the Audit Committee, it shall
 further recommend the appointment of an individual or a firm as auditor to the
 members in the annual general meeting.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(5)
 If the Board disagrees with the recommendation of the Audit Committee, it shall
 refer back the recommendation to the committee for reconsideration citing
 reasons for such disagreement.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(6)
 If the Audit Committee, after considering the reasons given by the Board,
 decides not to reconsider its original recommendation, the Board shall record
 reasons for its disagreement with the committee and send its own recommendation
 for consideration of the members in the annual general meeting; and if the
 Board agrees with the recommendations of the Audit Committee, it shall place
 the matter for consideration by members in the annual general meeting.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(7)
 The auditor appointed in the annual general meeting shall hold office from the
 conclusion of that meeting till the conclusion of the sixth annual general
 meeting, with the meeting wherein such appointment has been made being counted
 as the first meeting:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that such appointment shall be subject to ratification in every annual general
 meeting till the sixth such meeting by way of passing of an ordinary
 resolution.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Explanation.-&nbsp;For
 the purposes of this rule, it is hereby clarified that, if the appointment is
 not ratified by the members of the company, the Board of Directors shall
 appoint another individual or firm as its auditor or auditors after following
 the procedure laid down in this behalf under the Act.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">4.
 Conditions for appointment and notice to Registrar.-&nbsp;(1) The auditor
 appointed under rule 3 shall submit a certificate that -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 the individual or the firm, as the case may be, is eligible for appointment and
 is not disqualified for appointment under the Act, the Chartered Accountants
 Act, 1949 and the rules or regulations made thereunder;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 the proposed appointment is as per the term provided under the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c)
 the proposed appointment is within the limits laid down by or under the
 authority of the Act;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(d)
 the list of proceedings against the auditor or audit firm or any partner of the
 audit firm pending with respect to professional matters of conduct, as
 disclosed in the certificate, is true and correct.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 The notice to Registrar about appointment of auditor under fourth proviso to
 sub-section (1) of section 139 shall be in&nbsp;Form ADT-1.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">5.
 Class of Companies.-&nbsp;For the purposes of sub-section (2) of section 139,
 the class of companies shall mean the following classes of companies excluding
 one person companies and small companies:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 all unlisted public companies having paid up share capital of rupees ten crore
 or more;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 all private limited companies having paid up share capital of rupees twenty
 crore or more;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c)
 all companies having paid up share capital of below threshold limit mentioned
 in (a) and (b) above, but having public borrowings from financial institutions,
 banks or public deposits of rupees fifty crores or more.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">6.
 Manner of rotation of auditors by the companies on expiry of their
 term.-&nbsp;(1) The Audit Committee shall recommend to the Board, the name of
 an individual auditor or of an audit firm who may replace the incumbent auditor
 on expiry of the term of such incumbent.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 Where a company is required to constitute an Audit Committee, the Board shall
 consider the recommendation of such committee, and in other cases, the Board
 shall itself consider the matter of rotation of auditors and make its recommendation
 for appointment of the next auditor by the members in annual general meeting.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 For the purpose of the rotation of auditors-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 in case of an auditor (whether an individual or audit firm), the period for
 which the individual or the firm has held office as auditor prior to the
 commencement of the Act shall be taken into account for calculating the period
 of five consecutive years or ten consecutive years, as the case may be;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 the incoming auditor or audit firm shall not be eligible if such auditor or
 audit firm is associated with the outgoing auditor or audit firm under the same
 network of audit firms.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Explanation.
 I - For the purposes of these rules the term &#8220;same network&#8221; includes the firms
 operating or functioning, hitherto or in future, under the same brand name,
 trade name or common control.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Explanation.
 II - For the purpose of rotation of auditors,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 a break in the term for a continuous period of five years shall be considered
 as fulfilling the requirement of rotation;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 if a partner, who is in charge of an audit firm and also certifies the
 financial statements of the company, retires from the said firm and joins
 another firm of chartered accountants, such other firm shall also be ineligible
 to be appointed for a period of five years.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Illustration
 explaining rotation in case of individual auditor<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Illustration
 1:-<o:p></o:p></span></p>
 
 <table class="MsoNormalTable" style="font-family: Arial; width: 100%; height: 476px;" border="1" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Number
   of consecutive years for which an individual auditor has been functioning as
   auditor in the same company [in the first AGM held after the commencement of
   provisions of section 139(2)]<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Maximum
   number of consecutive years for which he may be appointed in the same company
   (including transitional period)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Aggregate
   period which the auditor would complete in the same company in view of column
   I and II<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">I<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">II<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">III<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">5
   years (or more than 5 years)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">8
   years or more<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">4
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">7
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">6
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">2
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">5
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">1
   year<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">4
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">5
   years<o:p></o:p></span></p>
   </td>
  </tr>
 </tbody></table>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Note:
 1. Individual auditor shall include other individuals or firms whose name or
 trade mark or brand is used by such individual, if any.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">2.
 Consecutive years shall mean all the preceding financial years for which the
 individual auditor has been the auditor until there has been a break by five
 years or more.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Illustration
 explaining rotation in case of audit firm<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Illustration
 2:-<o:p></o:p></span></p>
 
 <table class="MsoNormalTable" style="font-family: Arial; width: 100%; height: 793px;" border="1" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Number
   of consecutive years for which an audit firm has been functioning as auditor
   in the same company [in the first AGM held after the commencement of
   provisions of section 139(2)]<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Maximum
   number of consecutive years for which the firm may be appointed in the same
   company (including transitional period)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">Aggregate
   period which the firm would complete in the same company in view of column I
   and II<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">I<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">II<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">III<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">10
   years (or more than 10 years)<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">13
   years or more<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">9
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">12
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">8
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">11
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">7
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">10
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">6
   year<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">4
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">10
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">5
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">5
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">10
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">4
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">6
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">10
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">3
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">7
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">10
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">2
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">8
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">10
   years<o:p></o:p></span></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">1
   year<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">9
   years<o:p></o:p></span></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%;" lang="EN-IN">10
   years<o:p></o:p></span></p>
   </td>
  </tr>
 </tbody></table>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Note:1.
 Audit Firm shall include other firms whose name or trade mark or brand is used
 by the firm or any of its partners.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">2.
 Consecutive years shall mean all the preceding financial years for which the
 firm has been the auditor until there has been a break by five years or more.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 Where a company has appointed two or more individuals or firms or a combination
 thereof as joint auditors, the company may follow the rotation of auditors in
 such a manner that both or all of the joint auditors, as the case may be, do
 not complete their term in the same year.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">7.
 Removal of the auditor before expiry of his term.-&nbsp;(1) The application to
 the Central Government for removal of auditor shall be made in&nbsp;Form
 ADT-2&nbsp;and shall be accompanied with fees as provided for this purpose
 under the Companies (Registration Offices and Fees) Rules, 2014.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 The application shall be made to the Central Government within thirty days of
 the resolution passed by the Board.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 The company shall hold the general meeting within sixty days of receipt of
 approval of the Central Government for passing the special resolution.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">8.
 Resignation of auditor.-&nbsp;For the purposes of sub-section (2) of section
 140, when an auditor has resigned from the company, he shall file a statement
 in&nbsp;Form ADT-3.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">9.
 Liability to devolve on concerned partners only.-&nbsp;In case of criminal
 liability of any audit firm, the liability other than fine, shall devolve only
 on the concerned partner or partners, who acted in a fraudulent manner or
 abetted or, as the case may be, colluded in any fraud.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">10.
 Disqualifications of auditor.-&nbsp;(1) For the purpose of proviso to
 sub-clause (i) of clause (d) of sub-section (3) of section 141, a relative of
 an auditor may hold securities in the company of face value not exceeding
 rupees one lakh:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 that the condition under this sub-rule shall, wherever relevant, be also
 applicable in the case of a company not having share capital or other
 securities:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">Provided
 further that in the event of acquiring any security or interest by a relative,
 above the threshold prescribed, the corrective action to maintain the limits as
 specified above shall be taken by the auditor within sixty days of such
 acquisition or interest.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 For the purpose of sub-clause (ii) of clause (d) of sub-section (3) of section
 141, a person who or whose relative or partner is indebted to the company or
 its subsidiary or its holding or associate company or a subsidiary of such
 holding company, in excess of rupees five lakh shall not be eligible for
 appointment.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 For the purpose of sub-clause (iii) of clause (d) of sub-section (3) of section
 141, a person who or whose relative or partner has given a guarantee or
 provided any security in connection with the indebtedness of any third person
 to the company, or its subsidiary, or its holding or associate company or a
 subsidiary of such holding company, in excess of one lakh rupees shall not be
 eligible for appointment.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 For the purpose of clause (e) of sub-section (3) of section 141, the term
 &#8220;business relationship&#8221; shall be construed as any transaction entered into for
 a commercial purpose, except -<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 commercial transactions which are in the nature of professional services
 permitted to be rendered by an auditor or audit firm under the Act and the
 Chartered Accountants Act, 1949 and the rules or the regulations made under
 those Acts;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 commercial transactions which are in the ordinary course of business of the
 company at arm&#8217;s length price - like sale of products or services to the
 auditor, as customer, in the ordinary course of business, by companies engaged
 in the business of telecommunications, airlines, hospitals, hotels and such
 other similar businesses.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">11.
 Other matters to be included in auditors report.-&nbsp;The auditor&#8217;s report
 shall also include their views and comments on the following matters, namely:-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 whether the company has disclosed the impact, if any, of pending litigations on
 its financial position in its financial statement;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 whether the company has made provision, as required under any law or accounting
 standards, for material foreseeable losses, if any, on long term contracts
 including derivative contracts;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(c)
 whether there has been any delay in transferring amounts, required to be
 transferred, to the Investor Education and Protection Fund by the company.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">12.
 Duties and powers of the company&#8217;s auditor with reference to the audit of the
 branch and the branch auditor.-&nbsp;(1) For the purposes of sub-section (8) of
 section 143, the duties and powers of the company&#8217;s auditor with reference to
 the audit of the branch and the branch auditor, if any, shall be as contained
 in sub-sections (1) to (4) of section 143.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 The branch auditor shall submit his report to the company&#8217;s auditor.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 The provisions of sub-section (12) of section 143 read with rule 12 hereunder
 regarding reporting of fraud by the auditor shall also extend to such branch
 auditor to the extent it relates to the concerned branch.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">13.
 Reporting of frauds by auditor.-&nbsp;(1) For the purpose of sub-section (12)
 of section 143, in case the auditor has sufficient reason to believe that an
 offence involving fraud, is being or has been committed against the company by
 officers or employees of the company, he shall report the matter to the Central
 Government immediately but not later than sixty days of his knowledge and after
 following the procedure indicated herein below:<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 auditor shall forward his report to the Board or the Audit Committee, as the
 case may be, immediately after he comes to knowledge of the fraud, seeking
 their reply or observations within forty-five days;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 on receipt of such reply or observations the auditor shall forward his report
 and the reply or observations of the Board or the Audit Committee alongwith his
 comments (on such reply or observations of the Board or the Audit Committee) to
 the Central Government within fifteen days of receipt of such reply or
 observations;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(iii)
 in case the auditor fails to get any reply or observations from the Board or
 the Audit Committee within the stipulated period of forty-five days, he shall
 forward his report to the Central Government alongwith a note containing the
 details of his report that was earlier forwarded to the Board or the Audit
 Committee for which he failed to receive any reply or observations within the
 stipulated time.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(2)
 The report shall be sent to the Secretary, Ministry of Corporate Affairs in a
 sealed cover by Registered Post with Acknowledgement Due or by Speed post
 followed by an e-mail in confirmation of the same.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(3)
 The report shall be on the letter-head of the auditor containing postal
 address, e-mail address and contact number and be signed by the auditor with
 his seal and shall indicate his Membership Number.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(4)
 The report shall be in the form of a statement as specified in&nbsp;Form ADT-4.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(5)
 The provision of this rule shall also apply, mutatis mutandis, to a cost
 auditor and a secretarial auditor during the performance of his duties under
 section 148 and section 204 respectively.<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">14.
 Remuneration of the Cost Auditor.-&nbsp;For the purpose of sub-section (3) of
 section 148,-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(a)
 in the case of companies which are required to constitute an audit committee-<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(i)
 the Board shall appoint an individual, who is a cost accountant in practice, or
 a firm of cost accountants in practice, as cost auditor on the recommendations
 of the Audit committee, which shall also recommend remuneration for such cost
 auditor;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(ii)
 the remuneration recommended by the Audit Committee under (i) shall be
 considered and approved by the Board of Directors and ratified subsequently by
 the shareholders;<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">(b)
 in the case of other companies which are not required to constitute an audit
 committee, the Board shall appoint an individual who is a cost accountant in
 practice or a firm of cost accountants in practice as cost auditor and the
 remuneration of such cost auditor shall be ratified by shareholders
 subsequently.<o:p></o:p></span></p>
 </body></html>