 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b>MINISTRY
 OF CORPORATE
 AFFAIRS<br>
 Notification</b><o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">New
 Delhi, the 14th
 August, 20 14<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>G.S.R.
 590(E).-&nbsp;</b>In
 exercise of the powers conferred under sections 173,175, 177, 178, 179,
 184,
 185, 186, 187, 188, 189 and section 191 read with section 469 of the
 Companies
 Act, 20 13 (18 of 20 13), the Central Government hereby makes the
 following
 rules to amend the Companies (Meetings of Board and its Powers) Rules,
 2014,
 namely:-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">1.
 (1)
 These rules may be called the Companies (Meetings of Board and its
 Powers)
 Second Amendment Rules, 2014.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(2)
 They
 shall come into force on the date of their publication in the Official
 Gazette.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">2.
 In
 the Companies (Meetings of Board and its Powers) Rules, 2014,<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(1)
 in
 rule 3, in sub-rule (6), the words and commas ",which shall be in
 India," shall
 be omitted.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(2)
 in
 rule 4,<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(a)
 in
 sub-rule (1), for the brackets, figure and word "(1] The", the word
 "The" shall
 be substituted;<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(b)
 in
 clause (iv), for the words "consideration of accounts", the words
 "consideration of financial statement including consolidated financial
 statement, if any, to be approved by the Board under sub-section (1) of
 section
 134 of the Act" shall be substituted.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(3)
 in
 rule 15, for sub-rule (3), the following sub-rule shall be substituted,
 namely
 :-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">"(3)
 For
 the purposes of first proviso to sub-section ( 1) of section 188,
 except with
 the prior approval of the company by a special resolution, a company
 shall not
 enter into a transaction or transactions, where the transaction or
 transactions
 to be entered into,<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(a)
 as
 contracts or arrangements with respect to clauses (a) to (e) of
 sub-section (1)
 of section 188, with criteria as mentioned below -<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(i)
 sale, purchase or supply of any goods or materials, directly or through
 appointment of agent, exceeding ten per cent. of the turnover of the
 company or
 rupees one hundred crore, whichever is lower, as mentioned in clause
 (a) and
 clause (e) respectively of sub-section (1) of section 188;<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(ii)
 selling or otherwise disposing of or buying property of any kind,
 directly or
 through appointment of agent, exceeding ten per cent. of net worth of
 the
 company or rupees one hundred crore, whichever is lower, as mentioned
 in clause
 (b) and clause (e) respectively of sub-section (1) of section 188;<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(iii)
 leasing of property of any kind exceeding ten per cent. of the net
 worth of the
 company or ten per cent. of turnover of the company or rupees one
 hundred
 crore, whichever is lower, as mentioned in clause (c) of sub-section(1)
 of
 section 188;<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(iv)
 availing or rendering of any services, directly or through appointment
 of
 agent, exceeding ten per cent. of the turnover of the company or rupees
 fifty
 crore, whichever is lower, as mentioned in clause (d) and clause (e)
 respectively of sub-section (1) of section 188:<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Explanation.
 - It is hereby clarified that the limits specified in sub-clauses (i)
 to (iv)
 shall apply for transaction or transactions to be entered into either
 individually or taken together with the previous transactions during a
 financial year.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(b)
 is
 for appointment to any office or place of profit in the company, its
 subsidiary
 company or associate company at a monthly remuneration exceeding two
 and half
 lakh rupees as mentioned in clause (f) of sub-section (1) of section
 188; or<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(c)
 is
 for remuneration for underwriting the subscription of any securities or
 derivatives thereof, of the company exceeding one per cent. of the net
 worth as
 mentioned in clause (g) of sub-section (1) of section 188.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Explanation
 -(1) The Turnover or Net Worth referred in the above sub-rules shall
 be
 computed on the basis of the Audited Financial Statement of the
 preceding
 Financial Year.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(2)
 In
 case of a wholly owned subsidiary, the special resolution passed by the
 holding
 company shall be sufficient for the purpose of entering into the
 transactions
 between the wholly owned subsidiary and the holding company.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(3)
 The
 explanatory statement to be annexed to the notice of a general meeting
 convened
 pursuant to section 101 shall contain the following particulars,; -<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(a)
 name
 of the related party ;<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(b)
 name
 of the directors or key managerial personnel who is related, if any;<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(c)
 nature of relationship;<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(d)
 nature, material terms, monetary value and particulars of the contract
 or arrangement;<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(e)
 any
 other information relevant or important for the members to take a
 decision on
 the proposed resolutions."<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">[F.No.
 1/32/2013-CL-V-Part]&nbsp;<br>
 <br>
 <br>
 AMARDEEP SINGH BHATIA, Jt. Secy.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>Note-&nbsp;</b>The
 principal
 notification was
 published in the Gazette of india vide No. G.S.R. 240(E) dated
 31.03.2014 and
 was amended vide notification number G.S.R.398 (E) dated 12.06.2014<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
 