 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial; color: black; font-weight: bold;"
  align="right"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">General
 Circular No. 01/2016 <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial; color: black;"
  align="center"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;"><span
  style="font-weight: bold;">No.
 05/19/2015- CSR</span><o:p style="font-weight: bold;"></o:p><br
  style="font-weight: bold;">
 <span style="font-weight: bold;">Government
 of India</span><o:p style="font-weight: bold;"></o:p><br>
 <span style="font-weight: bold;">Ministry
 of Corporate Affairs</span><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial; color: black;"
  align="right"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">5th
 Floor, 'A' Wing, <o:p></o:p><br>
 Shastri
 Bhawan, Dr. R. P. Marg <o:p></o:p><br>
 New
 Delhi - 110 001 <o:p></o:p><br>
 Dated:
 12th January, 2016 <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial; color: black;"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">To,
 <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial; color: black;"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">All
 Regional Director, <o:p></o:p><br>
 Registrar of Companies, <o:p></o:p><br>
 All Stakeholders <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial; color: black;"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial; color: black;"><b
  style=""><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">Subject:
 - Frequently Asked Questions (FAQs) with regard to Corporate
 Social Responsibility under section 135 of the Companies Act, 2013.<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt; font-family: Arial; color: black;"><b
  style=""><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial; color: black;"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">Section
 135 of the Companies
 Act, 2013, Schedule VII of the Act and Companies CSR Policy Rules, 2014
 read
 with General Circular dated 18.06.2014 issued by the Ministry of
 Corporate
 Affairs, provide the broad contour within which eligible Companies are
 required
 to formulate their CSR policies including activities to be undertaken
 and
 implement the same in the right earnest. While complying with the
 Corporate
 Social Responsibility (CSR) provisions of the Act, Board of the
 eligible
 companies are empowered to appraise and approve their CSR policy
 including CSR
 projects or programmes or activities to be undertaken. In this
 connection,
 Ministry has been receiving several queries and references seeking
 further
 clarifications on various issues relating to CSR provision of the Act.
 2. In
 continuation to this Ministry’s General Circular dated 18th June, 2014
 and 17th
 September, 2014, a set of FAQs along with response of the Ministry is
 provided*for facilitating effective implementation of CSR<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial; color: black;"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;"><o:p>&nbsp;</o:p></span></p>
 <p
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; background-color: white; background-image: none; background-repeat: repeat; background-attachment: scroll; font-family: Arial; color: black;"
  class="MsoNormal" align="left"><b><span
  style="font-size: 10pt;">REQUENTLY ASKED
 QUESTIONS ON CORPORATE SOCIAL RESPONSIBILITIES</span></b><span
  style="font-size: 10pt;"><o:p></o:p></span></p>
 <div style="font-family: Arial; color: black;" align="left">
 <table class="MsoNormalTable"
  style="background: white none repeat scroll 0%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; width: 305px; height: 4793px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">SI. NO.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><b><span style="font-size: 12pt;">FAQS</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">1.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER CSR PROVISION OF THE
 COMPANIES ACT, 2013 IS APPLICABLE TO ALL COMPANIES?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">CSR provisions of the Companies Act
 2013 is applicable to every company registered under the Companies Act
 2013 and any other previous companies law having<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 10pt;"><span style="">·<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">Net worth of rupees five hundred
 crore or more, or<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 10pt;"><span style="">·<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">Turnover of rupees one thousand
 crore or more or<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 10pt;"><span style="">·<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">A net profit of rupees five crore
 or more during any financial year<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">2.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHAT IS MEANING OF ‘ANY FINANCIAL
 YEAR’ MENTIONED ABOVE?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">“Any Financial Year” referred under
 Sub-section (1) of Section 135 of the Act read with Rule 3(2) of
 Companies CSR Rule, 2014 implies any of the three preceding financial
 years&nbsp;<b>(refer General Circular No. 21/2014, dated:
 18.06.2014)</b><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">3.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER CSR EXPENDITURE OF A
 COMPANY CAN BE CLAIMED AS A BUSINESS EXPENDITURE?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">The amount spent by a company
 towards CSR cannot be claimed as business expenditure. The Finance Act,
 2014 provides that any expenditure incurred by an assessee on the
 activities relating to Corporate Social Responsibility referred to in
 section 135 of the Companies Act, 2013 shall not&nbsp; be deemed to
 be an expenditure incurred by the assessee for the purposes of the
 business or profession.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">4.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER THE ‘AVERAGE NET PROFIT’
 CRITERIA FOR SECTION 135(5) IS NET PROFIT BEFORE TAX OR NET PROFIT
 AFTER TAX?</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">Computation of net profit for
 section 135 is as per section 198 of the Companies Act, 2013 which is
 primarily PROFIT BEFORE TAX (PBT).<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">5.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">CAN THE CSR EXPENDITURE BE SPENT ON
 THE ACTIVITIES BEYOND SCHEDULE VII?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><u><span
  style="font-size: 12pt;">General Circular No. 21/2014 dated
 June 18, 2014</span></u></b><span
  style="font-size: 12pt;">&nbsp;of MCA has clarified that
 the statutory provision and provisions of CSR Rules, 2014, is to ensure
 that activities undertaken in pursuance of the CSR policy must be
 relatable to Schedule VII of the Companies Act, 2013. The entries in
 the said Schedule VII must be interpreted liberally so as to capture
 the essence of the subjects enumerated in the said Schedule. The items
 enlisted in the Schedule VII of the Act, are broad-based and are
 intended to cover a wide range of activities. The General Circular also
 provides an illustrative list of activities that can be covered under
 CSR. In a similar way many more can be covered. It is for the Board of
 the company to take a call on this.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">6.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHAT TAX BENEFITS CAN BE AVAILED
 UNDER CSR?</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">No specific tax exemptions have
 been extended to CSR expenditure per se. The finance Act, 2014 also
 clarifies that expenditure on CSR does not form part of business
 expenditure. While no specific tax exemption has been extended to
 expenditure incurred on CSR, spending on several activities like
 contributions to Prime Minister’s Relief Fund, Scientific Research,
 Rural development projects, skill development projects, agricultural
 extension projects, etc. which find place in Schedule VII, already
 enjoy exemptions under different sections of the Income Tax Act, 1961.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">7.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHICH ACTIVITIES WOULD NOT QUALIFY
 AS CSR?</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 10pt;"><span style="">·<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">The CSR projects or programs or
 activities that benefit only the employees of the company and their
 families.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 10pt;"><span style="">·<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">One- off events such as marathons/
 awards/ charitable contribution/ advertisement/ sponsorships of TV
 programmes etc.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 10pt;"><span style="">·<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">Expenses incurred by companies for
 the fulfilment of any other Act/ Statue of regulations (such as Labour
 Laws, Land Acquisition Act, 2013, Apprentice Act, 2013, Apprentice Act,
 1961 etc.)<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 10pt;"><span style="">·<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">Contribution of any amount directly
 or indirectly to any political party.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 10pt;"><span style="">·<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">Activities undertaken by the
 company in pursuance of its normal course of business.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 10pt;"><span style="">·<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">The project or programmes or
 activities undertaken outside India.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">8.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER A HOLDING OR SUBSIDIARY OF
 A COMPANY WHICH FULFILS THE CRITERIA UNDER SECTION 135(1) HAS TO COMPLY
 WITH SECTION 135, EVEN IF THE HOLDING AND SUBSIDIARY ITSELF DOES NOT
 FULFILL THE CRITERIA.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">Holding or subsidiary of a company
 does not have to comply with section 135(1) unless the holding or
 subsidiary itself fulfills the criteria.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">9.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">Whether provisions of CSR are
 applicable on Section 8 Company, if it fulfills the criteria of section
 135(1) of the&nbsp;</span></b><span
  style="font-size: 12pt;">Act<b>.</b><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">Section 135 of the Act
 reads&nbsp;<b>“Every company</b>……”, i.e. no specific
 exemption is given to section 8 companies with regard to applicability
 of section 135, hence section 8 companies are required to follow CSR
 provisions.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">10.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">CAN CONTRIBUTION OF MONEY TO A
 TRUST/ SOCIETY/ SECTION 8 COMPANIES BY A COMPANY BE TREATED AS CSR
 EXPENDITURE OF THE COMPANY?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><u><span
  style="font-size: 12pt;">General Circular No 21/2014 of MCA
 dated June 18, 2014</span></u><span
  style="font-size: 12pt;">&nbsp;clarifies that
 contribution to Corpus of a Trust/ Society/ Section 8 companies etc.
 will qualify as CSR expenditure as long as:<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">The trust/ Society/ Section 8
 company etc. is created exclusively for undertaking CSR activities or<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">2.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">Where the corpus is created
 exclusively for a purpose directly relatable to a subject covered in
 Schedule VII of the Act.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">11.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER DISPLAY OF CSR POLICY OF A
 COMPANY ON WEBSITE OF THE COMPANY IS MANDATORY OR NOT?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">As per section 135(4) the Board of
 Directors of the company shall, after taking into account the
 recommendations of CSR Committee, approve the CSR Policy for the
 company and disclose contents of such policy in its report and the same
 shall be displayed on the company’s website, if any&nbsp;<b>(refer
 Rule 8 &amp; 9 of CSR policy, Rules 2014).</b><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">12.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER REPORTING OF CSR IS
 MANDATORY IN BOARD’S REPORT?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">The Board’s Report of a company
 qualifying under section 135(1) pertaining to a financial year
 commencing on or after the 1<sup>st</sup>&nbsp;day of
 April, 2014 shall include an annual report on CSR containing
 particulars specified in Annexure.&nbsp;<b>(refer Rule 9 of
 CSR policy, Rules 2014).</b><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">13.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER IT IS MANDATORY FOR FOREIGN
 COMPANY TO GIVE REPORT ON CSR ACTIVITY?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">In case of a foreign company, the
 balance sheet filed under sub-clause (b) of sub-section (1) of section
 381 shall contain an Annexure regarding report on CSR.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">14.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER CONTRIBUTION TOWARDS
 DISASTER RELIEF QUALIFIES AS CSR OR NOT?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">(May please refer point no. 7 to
 the annexure to General Circular dated 18.06.2014 issued by Ministry of
 Corporate Affairs).<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">15.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER CONTRIBUTION IN KIND CAN BE
 MONETIZED TO BE SHOWN AS CSR EXPENDITURE?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">Section 135 prescribes “….. shall
 ensure that company spends…..”. The company has to spend the amount.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">16.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">IF A COMPANY SPENDS IN EXCESS OF 2%
 OF ITS AVERAGE NET PROFITS OF THREE PRECEDING YEARS ON CSR IN A
 PARTICULAR YEAR, CAN THE EXCESS AMOUNT SPENT BE CARRIED FORWARD TO THE
 NEXT YEAR AND BE OFFSET AGAINST THE REQUIRED 2% CSR EXPENDITURE OF THE
 NEXT YEAR?</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">Any excess amount spent (i.e., more
 than 2% as specified in Section 135) cannot be carried forward to the
 subsequent years and adjusted against that year’s CSR expenditure.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">17.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">CAN THE UNSPENT AMOUNT FROM OUT OF
 THE MINIMUM REQUIRED CSR EXPENDITURE BE CARRIED FORWARD TO THE NEXT
 YEAR?</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">The Board is free to decide whether
 any unspent amount from out of the minimum required CSR expenditure is
 to be carried forward to the next year. However, the carried forward
 amount should be over and above the next year’s CSR allocation
 equivalent to at least 2% of the average net profit of the company of
 the immediately preceding three years.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">18.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHAT IS THE ROLE OF GOVERNMENT IN
 MONITORING IMPLEMENTATION OF CSR BY COMPANIES UNDER THE PROVISION OF
 THE COMPANIES ACT, 2013?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">The main thrust and spirit of law
 is not to monitor but to generate conductive environment for enabling
 the corporates to conduct themselves in a socially responsible manner,
 while contributing towards human development goals of the country.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">The existing legal provisions like
 mandatory disclosures, accountability of the CSR committee and the
 Board, provisions for audit of the accounts of the company etc.,
 provide sufficient safeguards in this regard. Government has no role to
 play in monitoring implementation of CSR by companies.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">19.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER GOVERNMENT IS PROPOSING TO
 ESTABLISH ANY MECHANISM FOR THIRD PARTIES TO MONITOR THE QUALITY AND
 EFFICACY OF CSR EXPENDITURE AS WELL AS TO HAVE AN IMPACT ASSESSMENT OF
 CSR BY COMPANIES?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">Government has no role to play in
 engaging external experts for monitoring the quality and efficacy of
 CSR expenditure of companies. Boards / CSR Committees are fully
 competent to engage third parties to have an impact assessment of its
 CSR programme to validate compliance of the CSR provisions of the law.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">20.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">CAN CSR FUNDS BE UTILIZED TO FUND
 GOVERNMENT SCHEME?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">The objective of this provision is
 indeed to involve the corporates in discharging their social
 responsibility with their innovative ideas and management skills and
 with greater efficiency and better outcomes. Therefore, CSR should not
 be interpreted as a source of financing the resource gaps in Government
 Scheme. Use of Corporate innovations and management skills in the
 delivery of ‘public goods’ is at the core of CSR implementation by the
 companies. In- principle, CSR fund of companies should not be used as a
 source of funding Government Schemes. CSR projects should have a larger
 multiplier effect than that under the Government Schemes.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">However, under CSR provision of the
 Act and rules made thereunder, the Board of the eligible company is
 competent to take decision on supplementing any Government Scheme
 provided the Scheme permits corporates participation and all provisions
 of Section 135 of the Act and rules thereunder are compiled by the
 company.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">21.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHO IS THE APPROPRIATE AUTHORITY
 FOR APPROVING AND IMPLEMENTATION OF THE CSR PROGRAMMES/PROJECTS OF A
 COMPANY? WHAT IS GOVERNMENT’S ROLE IN THIS REGARD?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">Government has no role to play in
 this regard. Section 135 of the Act, Schedule VII and Companies CSR
 Policy Rules, 2014 read with General Circular dated 18.06.2014 issued
 by the Ministry of Corporate Affairs, provide the broad contour within
 which eligible companies are required to formulate their CSR policies
 including activities to be undertaken and implement the same in the
 right earnest. Therefore, all CSR programmes/ projects should be
 approved by the Boards on the recommendations of their CSR Committees.
 Changes, if any, in the programme / project should also be undertaken
 only with the approval of the Committee / Board.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">22.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">HOW CAN COMPANIES WITH SMALL CSR
 FUNDS TAKE UP CSR ACTIVITIES IN A PROJECT/ PROGRAMME MODE?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">A well designed CSR project or
 programme can be managed with even small fund. Further, there is a
 provision in the CSR policy Rules, 2014 that such companies can combine
 their CSR programs with other similar companies by way of pooling their
 CSR resources.&nbsp;<b>(refer rule 4 in Companies (CSR
 Policy) Rules, 2014.</b><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">23.</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><b><span
  style="font-size: 12pt;">WHETHER INVOLVEMENT OF EMPLOYEES OF
 THE COMPANY IN CSR PROJECT/ PROGRAMME OF A COMPANY CAN BE MONETIZED AND
 ACCOUNTED FOR UNDER THE HEAD OF ‘CSR EXPENDITURE’?</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="border: 1pt solid black; padding: 0in;"></td>
       <td style="border: 1pt solid black; padding: 0in;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: 15pt;"><span
  style="font-size: 12pt;">Contribution and involvement of
 employees in CSR activities of the company will no doubt generate
 interest/ pride in CSR work and promote transformation from Corporate
 Social Responsibility (CSR) as an obligation to Socially Responsible
 Corporate (SRC) in all aspects of their functioning. Companies
 therefore, should be encouraged to involve their employees in CSR
 activities.&nbsp;<b>However monetization of pro bono services
 of employees would not be counted towards CSR expenditure</b>.<o:p></o:p></span></p>
       </td>
     </tr>
   </tbody>
 </table>
 </div>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial; color: black;"><b><span
  style="font-size: 10pt;">3.</span></b><span
  style="font-size: 10pt;">&nbsp;</span><span
  style="font-size: 10pt;">This issues with the approval
 of Competent Authority.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial; color: black;"
  align="right"><b><span style="font-size: 10pt;">Yours
 faithfully,&nbsp;</span></b><span
  style="font-size: 10pt;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial; color: black;"
  align="right"><b><span style="font-size: 10pt;">(Seema
 Rath)</span></b><span style="font-size: 10pt;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial; color: black;"
  align="right"><b><span style="font-size: 10pt;">Deputy
 Director
 (CSR-Cell)</span></b><span style="font-size: 10pt;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial; color: black;"
  align="right"><b><span style="font-size: 10pt;">Tel:
 -011-23384657</span></b><span style="font-size: 10pt;"><o:p></o:p></span></p>
 </body>
 </html>
 