<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border: 1px solid #ddd;
		background-color: #FFF !important;">
    <tbody>
    <tr>
        <td width="155" valign="top">
            <p>
                <strong>Name of the entity in the Group</strong>
            </p>
        </td>
        <td width="112" colspan="2" valign="top">
            <p>
                <strong>
                    Net Assets, i.e., total assets minus total
                    liabilities
                </strong>
            </p>
        </td>
        <td width="112" colspan="2" rowspan="2" valign="top">
            <p>
                <strong>Share in profit or loss</strong>
            </p>
        </td>
        <td width="123" colspan="2" rowspan="2" valign="top">
            <p>
                <strong>Share in other comprehensive income</strong>
            </p>
        </td>
        <td width="122" colspan="2" rowspan="2" valign="top">
            <p>
                <strong>Share in total comprehensive income</strong>
            </p>
        </td>
        <td width="0" height="43">
        </td>
    </tr>
    <tr>
        <td width="155" rowspan="2" valign="top">
        </td>
        <td width="65" rowspan="2" valign="top">
            <p>
                As % of consolidated net assets
            </p>
        </td>
        <td width="47" rowspan="2" valign="top">
            <p>
                Amount
            </p>
        </td>
        <td width="0" height="20">
        </td>
    </tr>
    <tr>
        <td width="65" valign="top">
            <p>
                As % of consolidated profit or loss
            </p>
        </td>
        <td width="47" valign="top">
            <p>
                Amount
            </p>
        </td>
        <td width="76" valign="top">
            <p>
                As % of consolidated other comprehensive income
            </p>
        </td>
        <td width="47" valign="top">
            <p>
                Amount
            </p>
        </td>
        <td width="75" valign="top">
            <p>
                As % of total comprehensive income
            </p>
        </td>
        <td width="47" valign="top">
            <p>
                Amount
            </p>
        </td>
        <td width="0" height="66">
        </td>
    </tr>
    <tr>
        <td width="155" valign="top">
            <p>
                Parent Subsidiaries
            </p>
            <p>
                Indian 1.
            </p>
            <p>
                2.
            </p>
            <p>
                3.
            </p>
            <p>
                .
            </p>
            <p>
                .
            </p>
            <p>
                Foreign 1.
            </p>
            <p>
                2.
            </p>
            <p>
                3.
            </p>
            <p>
                .
            </p>
            <p>
                .
            </p>
            <p>
                Non-controlling Interests in all subsidiaries
            </p>
            <p>
                Associates (Investment as per the equity method)
            </p>
            <p>
                Indian 1.
            </p>
            <p>
                2.
            </p>
            <p>
                3.
            </p>
        </td>
        <td width="65" valign="top">
        </td>
        <td width="47" valign="top">
        </td>
        <td width="65" valign="top">
        </td>
        <td width="47" valign="top">
        </td>
        <td width="76" valign="top">
        </td>
        <td width="47" valign="top">
        </td>
        <td width="75" valign="top">
        </td>
        <td width="47" valign="top">
        </td>
        <td width="0" height="405">
        </td>
    </tr>
    </tbody>
</table>
<br /><br /><br /><br />
<div style="width:100%; text-align:center; padding-left:350px;">
    <a href="G.S.R. 404(E) dated 6th April, 2016.html#table_2">GO BACK </a></div>