<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>SO1913(E) dated 25th July 2014</title></head><body>



<p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><b>GOVERNMENT OF INDIA<br>
 MINISTRY OF CORPORATE AFFAIRS<br>
 NOTIFICATION</b><o:p></o:p></p>

<p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><b>New Delhi, dated 25th July, 2014</b><o:p></o:p></p>

<p class="MsoNormal" style="text-align: justify; font-family: Arial;"><b>S.O. 1913 (E). -</b>&nbsp;In exercise of
 the powers conferred by the second proviso to sub-section (1) of section 203 of
 the Companies Act, 2013 (18 of 2013), the Central Government hereby notifies
 that public companies having paid-up share capital of rupees one hundred crore
 or more and annual turnover of rupees one thousand crore or more which are
 engaged in multiple businesses and have appointed Chief Executive Officer for
 each such business shall be the class of companies for the purposes of the
 second proviso to sub-section (1) of section 203 of the said Act.<o:p></o:p></p>

<p class="MsoNormal" style="text-align: justify; font-family: Arial;">Explanation. - For the purposes
 of this notification, the paid-up share capital and the annual turnover shall
 be decided on the basis of the latest audited balance sheet.<o:p></o:p></p>

<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>

<p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right">[File No. 1/5/2013-CL-V]<br>
<br>
<br>
 (Amardeep Singh Bhatia)<br>
 Joint Secretary to the Government of India<o:p></o:p></p>

<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body></html>