 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; line-height: normal; font-family: Arial;"
  align="center"><b style="">GOVERNMENT
 OF INDIA<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="text-align: center; line-height: normal; font-family: Arial;"
  align="center"><b style="">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="text-align: center; line-height: normal; font-family: Arial;"
  align="center"><b style="">Notification<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b
  style="">New Delhi, the 18<sup>th</sup>
 May, 2016<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;">S.O.(E)
 In exercise of the powers conferred by sub-section (1) of section 435
 of the
 Companies Act, 2013 (18 of 2013), the Central Government hereby, after
 obtaining
 the concurrence of the respective Chief justices of the High Courts,
 designates
 the following Courts mentioned in the Table below as Special Courts for
 the
 purposes of trial of offences punishable under the Companies Act, 2013
 with
 imprisonment of two years or more in terms of section 435 of the
 Companies Act,
 2013, namely:-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <table class="MsoTableGrid"
  style="border: medium none ; border-collapse: collapse; font-family: Arial; width: 341px; height: 924px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td
  style="border: 1pt solid black; vertical-align: top; padding-top: 0in; padding-bottom: 0in; width: 159.6pt;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Sl.
 No.(1)<o:p></o:p></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; vertical-align: top; width: 159.6pt;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Existing
 Court<o:p></o:p></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Jurisdiction
 as Special Court<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; vertical-align: top; padding-top: 0in; padding-bottom: 0in; width: 50px;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">1<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; vertical-align: top; width: 159.6pt;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Courts
 of Additional Special Judge, Anti Corruption at Jammu and Srinagar<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; vertical-align: top; width: 159.6pt;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">State
 of Jammu and Kashmir<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; vertical-align: top; width: 159.6pt;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">2<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; vertical-align: top; width: 159.6pt;">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Presiding
 Officers of Court No's. 37 and 58 of the City Civil and Sessions Court,<o:p></o:p></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Greater
 Mumbai<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">State
 of Maharashtra<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">3<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Court
 of Principal District and Sessions Judge, Union territory of Dadra and
 Nagar<o:p></o:p></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Haveli
 at Silvassa.<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Union
 Territories of Dadra and Nagar Haveli and Daman and Diu<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">4<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Court
 of District Judge-l and Additional Session Judge, Panaji<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">State
 of Goa<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">5<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Court
 of Principal District and Sessions Judge, Ahmedabad (Rural), situated at<o:p></o:p></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Mirzapur,
 Ahmedabad.<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">State
 of Gujarat<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">6<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">9<sup>th</sup>
 Additional Sessions Judge, Gwalior, Madhya Pradesh <o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">State
 of Madhya Pradesh<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">7<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Court
 of Additional District and session Judge, Port Blair, Andaman and
 Nicobar Islands <o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">Union
 Territory of Andaman and Nicobar Islands<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">8<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">2<sup>nd</sup>
 Special Court Calcutta<o:p></o:p></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 159.6pt;"
  valign="top" width="213">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal;">State
 of West Bengal<o:p></o:p></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;">2.
 The aforesaid Courts mentioned in column number (2) shall exercise the
 jurisdiction as Special Courts in respect of jurisdiction mentioned in
 column
 number (3)<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
  align="right">[F.No.
 01/12/2009-CL-I (Vol. IV)]<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
  align="right"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 5in; text-indent: 0.5in; line-height: normal; font-family: Arial; text-align: right;">Sd/-<span
  style="">&nbsp;&nbsp; </span><o:p></o:p></p>
 <p class="MsoNormal"
  style="margin: 0in 0in 0.0001pt 4in; text-align: right; text-indent: 0.5in; line-height: normal; font-family: Arial;"
  align="right"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
  align="right">AMARDEEP SINGH BHATIA<o:p></o:p></p>
 </body>
 </html>
 