 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="line-height: 115%;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b>GOVERNMENT
 OF INDIA</b><span style="line-height: 115%;"><br>
 </span><b>Ministry
 of
 Corporate Affairs</b><span style="line-height: 115%;"><br>
 </span><b>Notification</b><span
  style="line-height: 115%;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;">New
 Delhi, the
 21st' May, 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>S.O.
 1353 (E) -</b>&nbsp;<span style="line-height: 115%;">In
 exercise of the powers conferred by section 458 of the Companies Act,
 2013 (18
 of 2013), and in supersession of the notification of the Government of
 India,
 Ministry of Corporate Affairs, dated the 10th July, 2012, published in
 the
 Gazette of India, Extraordinary, Part-II, section 3, sub-section (ii)
 vide
 number S.O. 1538 (E), dated the 10th July, 2012, in so far as it
 relates to
 items (a) to (b) and items (d) to (e), except as respects things done
 or
 omitted to be done before such supersession, the Central Government
 hereby
 delegates to the Registrar of Companies, the power and functions vested
 in it
 under the following sections of the said Act, subject to the condition
 that the
 Central Government may revoke such delegation of powers or may itself
 exercise
 the powers and functions under the said sections, if in its opinion,
 such a
 course of action is necessary in the public interest, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(a)
 sub-section
 (2) of section 4;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(b)
 sub-section
 (1) of section 8;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(c)
 clause (i) of
 sub-section (4) of section 8, except for alteration of memorandum in
 case of conversion
 into another kind of company;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(d)
 sub-section
 (5) of section 8; and<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">(e)
 sub-section
 (2) of section 13.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">2.
 This
 notification shall come into force from the date of its publication in
 the
 Official Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b>[F
 No 1/6/2014-CL.V]</b><span style="line-height: 115%;"><br>
 <br>
 <br>
 </span><b>Amardeep
 Singh
 Bhatia,</b>&nbsp;<span style="line-height: 115%;"><br>
 </span><b>Joint
 Secretary
 to the Government of India</b><span style="line-height: 115%;"><o:p></o:p></span></p>
 </body>
 </html>
 