 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>SO1525 (E) dated 13th June 2014</title></head><body>
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="font-size: 9pt; line-height: 115%; color: black;" lang="EN-IN">[TO BE PUBLISHED </span><span style="line-height: 115%;" lang="EN-IN">IN THE GAZETTE OF INDIA, EXTRAORDINARY, PART II, SECTION 3,
 SUB SECTION (ii)]<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN">GOVERNMENT OF INDIA<br>
 Ministry of Corporate Affairs Notification<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span style="line-height: 115%;" lang="EN-IN">New Delhi, the 13th June,
 2014<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">S.O. (E).&#8212;&nbsp;In exercise
 of powers conferred by sub-section (1) and sub-section (2) ofsection 396 of the
 Companies Act, 2013 (18 of 2013), the Central Government hereby establish the
 office of the Registrar of Companies at Hyderabad having territorial jurisdiction
 in the whole State of Telengana for discharging the functions of the Registrar
 of Companies under the various provisions of the said Act and appoints the
 Registrar of Companies, Hyderabad as Registrar of Companies for the purpose of
 registration of companies under the said Act in the State of Telengana.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">2. This notification shall
 come into force from the date of its publication in the Official Gazette.<o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span style="line-height: 115%;" lang="EN-IN">[F.N 7/4/2014-CL.I]<br>
 <br>
 Amardeep Singh Bhatia&nbsp;<br>
 Joint Secretary to the government of India<o:p></o:p></span></p>
 </body></html>