 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style="">MINISTRY OF CORPORATE AFFAIRS <o:p></o:p></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style="">NOTIFICATION New Delhi, <o:p></o:p></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">New
 Delhi, the 23rd
 March, 2016<span style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span><o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">S.O. 1211(E).-In
 exercise of the powers conferred by sub-sections (1) and (2) of section
 396 of
 the Companies Act, 2013 (18 of 2013) (hereinafter referred to as the
 Act), the
 Central Registration Centre (herein after referred to CRC) established
 vide
 notification number. S.O. 218(E) dated 22nd January 2016 shall also
 exercise
 functional jurisdiction of processing and disposal of e-forms and all
 related
 matters pertaining to registration of companies under section 7, 8 and
 366 of
 the Companies Act, 2013 having territorial jurisdiction all over India.
 <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">2. The CRC shall
 process forms pertaining to registration of companies i.e. e-forms
 (INC-2,
 INC-7 and INC- 29 along with linked forms INC-22, DIR-12 and URC-1 and
 any
 other forms as may be notified by the Central Government) filed along
 with the
 prescribed fee as provided in the Companies (Registration of Offices
 and Fees)
 Rules, 2014. <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">3. The
 jurisdiction, processing and approval of name or names proposed in
 e-Form
 number INC-29 hitherto exercised by the respective Registrar of
 companies
 having jurisdiction over incorporation of companies under the Companies
 Act,
 2013 and the rules made there under shall forthwith be exercised by
 Registrar,
 CRC. <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">4. The
 jurisdictional Registrar of companies, other than Registrar CRC, within
 whose
 jurisdiction the registered office of the company is situated shall
 continue to
 have jurisdiction over the companies incorporated by the Registrar, CRC
 under
 the Companies Act, 2013 for all other provisions of the Act and the
 rules made
 there under, which may be relevant after incorporation. <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">5. This
 notification shall come into force from <b style="">28th
 March, 2016.</b><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">[F. No. A-42011/03/2016-Ad.II] <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">MANOJ KUMAR, Jt. Secy.<span
  style="font-size: 12pt;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 </body>
 </html>
 