 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b>MINISTRY OF
 CORPORATE AFFAIRS<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b>NOTIFICATION<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center">New
 Delhi, the 01st June, 2016<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b>S.O.
 1934(E).-</b>In exercise of the powers
 conferred by sub-section (3) of section 1 of the Companies Act, 2013
 (18 of
 2013), the Central Government hereby appoints the 01st day of June,
 2016 as the
 date on which the following provisions of the said Act shall come into
 force,
 namely :-<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <table class="MsoTableGrid"
  style="border: medium none ; border-collapse: collapse; font-family: Arial; width: 352px; height: 1353px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td
  style="border: 1pt solid black; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><b>Sl. No.</b><o:p></o:p></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><b>Section</b><o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp; 1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-section (7) of section 7 [except clause
 (c) and (d)]<b><o:p></o:p></b></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp; 2.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Second proviso to sub-section (1) of section
 14<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp; 3.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-section (2) of section 14<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp; 4.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-section (3) of section 55<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp; 5.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Proviso to Clause (b) of sub-section (1) of
 section 61<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp; 6.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-sections (4) to (6) of section 62<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp; 7.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-sections (9) to (11) of section 71<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp; 8.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 75<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp; 9.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; &nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 97<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 0.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 98<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 99<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 2.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-section (4) of section 119<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 3.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 130<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 4.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 131<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 5.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Second proviso to sub-section (4) and
 sub-section (5) of section 140<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 6.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-section (4) of section 169<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 7.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 213<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 8.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-section (2) of Section 216<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">1&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 9.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 218<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 0.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 221<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 222<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 2.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-sections (5) of section 224<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 3.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sections 241, 242 [except clause (b) of
 sub-section (1), clause (c) &amp; (g) of<o:p></o:p></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">sub-section (2)], 243, 244, and 245<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 4.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Reference of word 'Tribunal' in sub-section
 (2) of section 399<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 5.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sections 415 to 433 (both inclusive)<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 6.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-section (1)(a) and (b) of section 434<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 7.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Sub-section (2) of section 434<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2 &nbsp; &nbsp; &nbsp; &nbsp;8.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 441<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 63.9pt;"
  valign="top" width="85">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><b><span
  style="">2 &nbsp; &nbsp; &nbsp; &nbsp;9.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></b><!--[endif]--><b><o:p>&nbsp;</o:p></b></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 414.9pt;"
  valign="top" width="553">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center">Section 466<o:p></o:p></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">[F.
 No. A-45011/14/2016-Ad.IV]<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">PRITAM
 SINGH, Addl. Secy.<o:p></o:p></p>
 </body>
 </html>
 