<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>S.O_______ dated 31st March 2015_1</title></head><body>

<p style="widows: 4;" align="center">MINISTRY OF CORPORATE
AFFAIRS<br><b>NOTIFICATION</b></p>
<p style="widows: 2;" align="right">New Delhi, the 31st March, 2015</p>
<p style="widows: 136;" align="justify"><b>S.O................ (E)&nbsp;</b>In
 exercise of the powers conferred by section 458 of the Companies Act,
 2013 (18 of 2013), the Central Government hereby delegates to the
 Regional Directors at Mumbai, Kolkata, Chennai, Noida, Ahmedabad,
 Hyderabad and Shillong, the powers and functions vested in it under
 sub-section (5) of section 94 of the Companies Act, 2013, subject to
 the condition that the Central Government may revoke such delegation
 of powers or may itself exercise the powers under the said
 sub-section, if in its opinion such a course of action is necessary
 in the public interest.</p>
<p style="widows: 136;" align="justify">2. This notification shall come
 into force with effect from the date of its publication in the
 Official Gazette.</p>
<p><br>
</p>
<p style="widows: 2;" align="right">[F. No. 1/6/2014-CL-V]<br><br>AMARDEEP
 SINGH BHATIA<br>Joint Secretary</p>
<p><br>
</p></body></html>