 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>S.O.(E) dated 27th March 2014</title></head><body>
 
 <p style="font-family: Arial;" class="MsoNormal"><b>Nomenclature
 of various forms prescribed under the provisions of Companies Act, 2013 being
 notified</b><o:p></o:p></p>
 
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 
 <p style="font-family: Arial;" class="MsoNormal">In
 order to facilitate easy understanding of the e-forms being rolled out under
 the provisions of Companies Act, 2013 and Rules made thereunder, the stakeholders
 are hereby informed that unlike numbering of various forms under the Companies
 Act, 1956, forms under the new Act are mandatorily numbered alpha-numeric.
 Initial of forms is to be started with alphabet of two or three letters based
 on the subject of the Chapter, followed by serial number of the form. This will
 define the nature of the forms and would be easy to recognise.<o:p></o:p></p>
 
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 
 <p style="font-family: Arial;" class="MsoNormal">There
 are total 29 chapters under the Companies Act, 2013. Chapters I and XXIII have
 been notified but no form is prescribed under these chapters. Following table
 is the summary of chapter wise nomenclature of forms<o:p></o:p></p>
 
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 
 <table class="MsoNormalTable" style="width: 100%; height: 1365px; font-family: Arial;" border="1" cellpadding="0" cellspacing="0">
  <tbody><tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal"><b>Sl
   no</b><o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal"><b>Chapter
   No</b><o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal"><b>Particulars
   of chapter</b><o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal"><b>Form
   no start with</b><o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal"><b>remarks</b><o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">&nbsp;<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">&nbsp;<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">&nbsp;<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">&nbsp;<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">&nbsp;<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">01<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">II<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">INCORPORATION
   OF COMPANY AND MATTERS INCIDENTAL THERETO<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">INC<o:p></o:p></p>
   </td>
   <td rowspan="19" style="padding: 3.75pt;">
   <p class="MsoNormal">Alphabet
   followed by numeric number<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">02<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">III<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">PROSPECTUS
   AND ALLOTMENT OF SECURITIES<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">PAS<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">03<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">IV<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">SHARE
   CAPITAL AND DEBENTURES<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">SH<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">04<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">V<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">ACCETANCE
   OF DEPOSIT BY COMPANIES<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">DPT<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">05<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">VI<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">CHARGES<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">CHG<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">06<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">VII<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">MANAGEMENT
   AND ADMINISTRATION<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">MGT<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">07<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">VII<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">DECLARATION
   ANY PAYMENT OF DIVIDEND<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">DIV<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">08<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">IX<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">ACCOUNTS
   OF COMPANIES<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">AOC<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">09<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">X<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">AUDIT
   AND AUDITORS<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">ADT<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">10<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XI<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">APPOINTMENT
   AND QUALIFICATIONS OF DIRECTORS<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">DIR<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">11<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XII<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">MEETINGS
   OF BOARD AND ITS POWERS<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">MBP<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">12<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XII<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">APPOINTMENT
   AND REMUNERATION OF PERSONNEL<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">MR<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">13<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XXI<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">COMPANIES
   AUTHORISED TO REGISTER UNDEDR THIS ACT<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">URC<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">14<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XXII<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">COMPANIES
   INCORPORATED OUTSIDE INDIA<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">FC<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">15<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XXIV<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">REGISTRATION
   OFFICES AND FEES<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">GNL<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">16<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XXVI<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">NIDHIS<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">NDH<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">17<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XXVIII<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">SPECIAL
   COURT<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">MAC<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">18<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XXIX<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">MEMORANDUM
   OF APPEAL<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">ADJ<o:p></o:p></p>
   </td>
  </tr>
  <tr style="">
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">19<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">XXIX<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">MISCELLANEOUS<o:p></o:p></p>
   </td>
   <td style="padding: 3.75pt;">
   <p class="MsoNormal">MSC<o:p></o:p></p>
   </td>
  </tr>
 </tbody></table>
 
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 
 <p style="font-family: Arial;" class="MsoNormal"><b>The
 stakeholders are further informed that a separate roll out plan of chapter wise
 e-forms will be available on the website on or before 31/03/2014. For further
 details please visit Ministry website www.mca.gov.in.</b><o:p></o:p></p>
 
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body></html>