 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b><span style="font-size: 12pt;">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b><span style="font-size: 12pt;">NOTIFICATION<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><span style="font-size: 12pt;">New
 Delhi, the 1st June, 2016<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b><span
  style="font-size: 12pt;">S.O. 1936(E).-</span></b><span
  style="font-size: 12pt;">In exercise of
 the powers conferred by clause (a) of sub-section (1) of section 434 of
 the
 Companies Act, 2013 (18 of 2013), the Central Government hereby
 appoints the
 01st day of June, 2016, on which all matters or proceedings or cases
 pending
 before the Board of Company Law Administration (Company Law Board)
 shall stand
 transferred to the National Company Law Tribunal and it shall dispose
 of such
 matters or proceedings or cases in <span style="">&nbsp;</span>accordance
 with the provisions of the Companies Act, 2013 or the Companies Act,
 1956.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><span style="font-size: 12pt;">[F.
 No. 1/30/CLB/2013/CL-V]<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><span style="font-size: 12pt;">PRITAM
 SINGH, Addl. Secy.<o:p></o:p></span></p>
 </body>
 </html>
 