<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>SO129(E) dated 9th January 2014</title></head><body>



 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center">GOVERNMENT OF INDIA<br>
 MINISTRY OF CORPORATE AFFAIRS<br>
 <b>Notification</b><o:p></o:p></p> 
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right">New Delhi, dated 9th
 &nbsp;January, 2015<o:p></o:p></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;">S.O 129 (E). - In pursuance of
 sub-section (2) of section 439 of the Companies Act, 2013 (18 of 2013), the
 Central Government hereby authorises the following officers in the office of
 Regional Director (Northern Region) at Noida for the purposes of filing complaint
 under section 159 of the said Act in respect of offences under section 155 of
 the said Act, namely :-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <table class="MsoNormalTable" style="font-family: Arial; width: 100%; height: 418px;" border="1" cellpadding="0" cellspacing="0">
 <tbody><tr style="height: 47.15pt;">
  <td style="padding: 3.75pt; width: 38.8pt; height: 47.15pt;" valign="top" width="52">
  <p class="MsoNormal"><br>
  S&nbsp;<br>
  No.<o:p></o:p></p>
  </td>
  <td style="padding: 3.75pt; width: 375.55pt; height: 47.15pt;" valign="top" width="501">
  <p class="MsoNormal">Name
  of officers<o:p></o:p></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt; width: 38.8pt;" valign="top" width="52">
  <p class="MsoNormal">1.<o:p></o:p></p>
  </td>
  <td style="padding: 3.75pt; width: 375.55pt;" valign="top" width="501">
  <p class="MsoNormal">Dr.
  Raj Singh, Joint Director<o:p></o:p></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt; width: 38.8pt;" valign="top" width="52">
  <p class="MsoNormal">2.<o:p></o:p></p>
  </td>
  <td style="padding: 3.75pt; width: 375.55pt;" valign="top" width="501">
  <p class="MsoNormal">Shri
  A.M.Singh, Joint Director<o:p></o:p></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt; width: 38.8pt;" valign="top" width="52">
  <p class="MsoNormal">3.<o:p></o:p></p>
  </td>
  <td style="padding: 3.75pt; width: 375.55pt;" valign="top" width="501">
  <p class="MsoNormal">Ms.
  P. Sheela, Joint Director<o:p></o:p></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt; width: 38.8pt;" valign="top" width="52">
  <p class="MsoNormal">4.<o:p></o:p></p>
  </td>
  <td style="padding: 3.75pt; width: 375.55pt;" valign="top" width="501">
  <p class="MsoNormal">Shri
  R.K.Tiwari, Joint Director<o:p></o:p></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt; width: 38.8pt;" valign="top" width="52">
  <p class="MsoNormal">5.<o:p></o:p></p>
  </td>
  <td style="padding: 3.75pt; width: 375.55pt;" valign="top" width="501">
  <p class="MsoNormal">Shri
  Ch. Jaganadh Reddy, Assistant Director<o:p></o:p></p>
  </td>
 </tr>
</tbody></table>

<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>

<p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right">[F. No.1/6/2014-CL V]<br>
<br>
<br>
 (AMARDEEP SINGH BHATIA)&nbsp;<br>
 Joint Secretary<o:p></o:p></p>

<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
</body></html>