<html>
<head>
<!-- <style> -->
<!-- body { -->
    <!-- font-family: "Arial", Serif; -->
<!-- } -->
<!-- </style> -->
</head>
<body style="font-family: Verdana, Tahoma, Arial;font-size: 16px;">
<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 26th December, 2016
</p>
<p>
    <strong>S.O. 4167(E).—</strong>
    In exercise of the powers conferred by sub-section (3) of Section 1 of the
    Companies Act, 20l3 (18 of 20l3), the Central Government hereby appoints
    the 26th December, 2016 as the date on which the provisions of section 248
    to 252 of the said Act, shall come into force.
</p>
<p align="right">
    [F. No. 1/28/2013-CL-V]
</p>
<p align="right">
    AMARDEEP SINGH BHATIA, Jt. Secy.
</p>
</body>
</html>