 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b><span style="font-size: 12pt;">NOTIFICATION<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><span style="font-size: 12pt;">New
 Delhi, the 1st June, 2016<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b><span
  style="font-size: 12pt;">S.O.
 1935(E).-</span></b><span style="font-size: 12pt;">In
 exercise of the powers conferred by sub-section (1) of section 419 of
 the
 Companies Act, 2013 (18 of 2013), the Central Government hereby
 constitutes the
 following Benches of the National Company Law Tribunal mentioned in
 column (2)
 of the table below, located at the place mentioned in column (3) and to
 exercise the jurisdiction over the area mentioned in column (4),
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b><span style="font-size: 12pt;">TABLE<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <table class="MsoTableGrid"
  style="border: medium none ; border-collapse: collapse; font-family: Arial; width: 377px; height: 2522px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td
  style="border: 1pt solid black; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><b><span style="font-size: 12pt;">Serial<o:p></o:p></span></b></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><b><span style="font-size: 12pt;">Number</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><b><span style="font-size: 12pt;">Title
 of the Bench</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><b><span style="font-size: 12pt;">Location</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><b><span style="font-size: 12pt;">Territorial
 Jurisdiction of the Bench</span></b><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><span style="font-size: 12pt;">(1)<b><o:p></o:p></b></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><span style="font-size: 12pt;">(2)<b><o:p></o:p></b></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><span style="font-size: 12pt;">(3)<b><o:p></o:p></b></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
  align="center"><span style="font-size: 12pt;">(4)<b><o:p></o:p></b></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; 1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(a) National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Principal Bench.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(b) National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, New Delhi Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">New Delhi<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Haryana.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(2) State of Rajasthan.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(3) Union territory of Delhi.<b
  style=""><o:p></o:p></b></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; 2.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Ahmedabad Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Ahmedabad<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Gujarat.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(2) State of Madhya Pradesh.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(3) Union territory of Dadra and
 Nagar<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Haveli.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(4) Union territory of Daman and
 Diu.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp;3.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Allahabad<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Allahabad<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Uttar Pradesh.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(2) State of Uttarakhand.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp;4.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Bengaluru Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Bengaluru<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Karnataka.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Chandigarh Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Chandigarh<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Himachal Pradesh.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(2) State of Jammu and Kashmir.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(3) State of Punjab.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(4) Union territory of Chandigarh.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Chennai Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Chennai<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Kerala.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(2) State of Tamil Nadu.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(3) Union territory of Lakshadweep.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(4) Union territory of Puducherry.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;7.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Guwahati Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Guwahati<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Arunachal Pradesh.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(2) State of Assam.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(3) State of Manipur.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(4) State of Mizoram.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(5) State of Meghalaya.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(6) State of Nagaland.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(7) State of Sikkim.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(8) State of Tripura.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;8.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Hyderabad Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Hyderabad<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Andhra Pradesh.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(2) State of Telangana.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;9.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Kolkata Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Kolkata<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Bihar.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(2) State of Jharkhand.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(3) State of Odisha.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(4) State of West Bengal.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(5) Union territory of Andaman and<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Nicobar Islands.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in 5.4pt; width: 54.9pt;"
  valign="top" width="73">
       <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">1
 &nbsp; &nbsp; &nbsp; &nbsp; 10.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
       </span></span></span><!--[endif]--><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 139.5pt;"
  valign="top" width="186">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">National Company Law<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Tribunal, Mumbai Bench.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 99pt;"
  valign="top" width="132">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">Mumbai<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in 5.4pt; width: 185.4pt;"
  valign="top" width="247">
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(1) State of Chhattisgarh.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(2) State of Goa.<o:p></o:p></span></p>
       <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt;"><span
  style="font-size: 12pt;">(3) State of Maharashtra.<o:p></o:p></span></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
  align="right">[F. No.
 A-45011/14/2016-Ad.IV]<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">PRITAM SINGH, Addl.
 Secy.<span style="font-size: 12pt;"><o:p></o:p></span></p>
 </body>
 </html>
 