 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title>S.O. 3464(E) dated 17th November 2016</title>
 </head>
 <body>
 <p class="MsoBodyText"
  style="margin-left: 5.45pt; line-height: 3.5pt;"><span
  style="font-size: 3.5pt;"><o:p>&nbsp;</o:p></span></p>
 <div style="text-align: center;"><span
  style="font-size: 10pt; line-height: 146%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-weight: bold;">MINISTRY
 OF CORPORATE
 AFFAIRS </span><br>
 <span
  style="font-size: 10pt; line-height: 146%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; font-weight: bold;">NOTIFICATION</span><span
  style="font-weight: bold;"></span><br>
 <span style="font-weight: bold;"></span></div>
 <span style="font-weight: bold;"></span>
 <div style="text-align: right;"><span
  style="font-family: Arial;">New Delhi, the 17th
 November, 2016</span><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"></span></div>
 <p class="MsoBodyText"
  style="margin: 0.05pt 139.5pt 0.0001pt 135.45pt; text-align: center;"
  align="center"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p></o:p></span></p>
 <p class="MsoBodyText"
  style="margin: 5.9pt 11.85pt 0.0001pt 7.95pt; text-align: justify;"><b
  style=""><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">S.O.
 3464(E).-</span></b><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">In
 exercise of the powers conferred by
 sub-section (1) of section 435 of the Companies Act, 2013 (18 of 2013),
 the
 Central Government, with the concurrence of the Chief Justice of the
 High Court
 of Meghalaya, hereby designates the following Court as Special Court
 for the
 purposes of providing speedy trial of offences punishable with
 imprisonment of
 two years or more under the Companies Act, 2013, namely:-<o:p></o:p></span></p>
 <h2><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">TABLE<o:p></o:p></span></h2>
 <p class="MsoBodyText"
  style="margin-top: 0.35pt; text-align: left;"><b style=""><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></b>
 </p>
 <table class="MsoNormalTable"
  style="border: medium none ; margin-left: 7.75pt; border-collapse: collapse; width: 342px; height: 200px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="height: 30.6pt;">
       <td
  style="border: 1pt solid black; padding: 0in; width: 0.75in; height: 30.6pt;"
  valign="top" width="72">
       <p class="TableParagraph"
  style="margin: 2.7pt 8.65pt 0.0001pt 12pt;"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Sl.
 No.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in; width: 136.5pt; height: 30.6pt;"
  valign="top" width="182">
       <p class="TableParagraph" style="text-align: left;"
  align="left"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Existing
 Court<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in; width: 135pt; height: 30.6pt;"
  valign="top" width="180">
       <p class="TableParagraph"
  style="margin-right: 30.55pt; text-align: left;" align="left"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Jurisdiction
 as Special Court<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="height: 19.1pt;">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 0.75in; height: 19.1pt;"
  valign="top" width="72">
       <p class="TableParagraph"
  style="margin: 2.7pt 8.65pt 0.0001pt 11.95pt;"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(1)<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 136.5pt; height: 19.1pt;"
  valign="top" width="182">
       <p class="TableParagraph"
  style="margin-right: 96.25pt; text-align: left;" align="left"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(2)<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 135pt; height: 19.1pt;"
  valign="top" width="180">
       <p class="TableParagraph"
  style="margin-right: 86.3pt; text-align: left;" align="left"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">(3)<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="height: 0.5in;">
       <td
  style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 0.75in; height: 0.5in;"
  valign="top" width="72">
       <p class="TableParagraph" style="text-align: left;"
  align="left"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">1<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 136.5pt; height: 0.5in;"
  valign="top" width="182">
       <p class="TableParagraph" style="text-align: left;"
  align="left"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">Court
 of District and Sessions Judge, Shillong.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 135pt; height: 0.5in;"
  valign="top" width="180">
       <p class="TableParagraph"
  style="margin-right: 37.5pt; text-align: left;" align="left"><span
  style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">State
 of Meghalaya<o:p></o:p></span></p>
       </td>
     </tr>
   </tbody>
 </table>
 <span style="font-size: 10pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;"><br>
 2.
 The aforesaid Court mentioned in column
 number (2) shall exercise the jurisdiction as Special Court in respect
 of jurisdiction
 mentioned in column number (3).<o:p></o:p></span><span
  style="font-size: 10pt;"><o:p><br>
 <br>
 </o:p></span>
 <div style="text-align: right;"><span
  style="font-size: 10pt; line-height: 146%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">[F.
 No. 01/12/2009-CL-I (Vol.IV)] </span><br>
 <span
  style="font-size: 10pt; line-height: 146%; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;;">AMARDEEP<span
  style="">&nbsp;
 </span>SINGH<span style="">&nbsp; </span>BHATIA,<span
  style="">&nbsp; </span>Jt. Secy.</span><span
  style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></div>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span style="font-size: 10pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoBodyText"><span
  style="font-size: 5.5pt; font-family: &quot;Calibri&quot;,&quot;sans-serif&quot;;"><o:p>&nbsp;</o:p></span></p>
 </body>
 </html>
 