 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title>SO129(E) dated 9th January 2014</title>
 </head>
 <body>
 <p style="widows: 4; font-family: Arial;" align="center">GOVERNMENT
 OF INDIA<br>
 MINISTRY OF CORPORATE AFFAIRS<br>
 <b>Notification</b></p>
 <p style="widows: 2; font-family: Arial;" align="right">New
 Delhi, dated 9th &nbsp;January, 2015</p>
 <p style="widows: 8; font-family: Arial;" align="justify">S.O
 129 (E). - In pursuance of sub-section (2) of section 439 of the
 Companies Act, 2013 (18 of 2013), the Central Government hereby
 authorises the following officers in the office of Regional Director
 (Northern Region) at Noida for the purposes of filing complaint under
 section 159 of the said Act in respect of offences under section 155
 of the said Act, namely :-</p>
 <p style="font-family: Arial;"><br>
 </p>
 <table style="width: 341px; height: 428px; font-family: Arial;"
  border="1" bordercolor="#00000a" cellpadding="5"
  cellspacing="1">
   <col width="45">
   <col width="543"><tbody>
     <tr valign="top">
       <td height="50" width="45">
       <p><br>
 S&nbsp;<br>
 No.</p>
       </td>
       <td width="543">
       <p>Name of officers</p>
       </td>
     </tr>
     <tr valign="top">
       <td width="45">
       <p>1.</p>
       </td>
       <td width="543">
       <p>Dr. Raj Singh, Joint
 Director</p>
       </td>
     </tr>
     <tr valign="top">
       <td width="45">
       <p>2.</p>
       </td>
       <td width="543">
       <p>Shri A.M.Singh, Joint
 Director</p>
       </td>
     </tr>
     <tr valign="top">
       <td width="45">
       <p>3.</p>
       </td>
       <td width="543">
       <p>Ms. P. Sheela, Joint
 Director</p>
       </td>
     </tr>
     <tr valign="top">
       <td width="45">
       <p>4.</p>
       </td>
       <td width="543">
       <p>Shri R.K.Tiwari, Joint
 Director</p>
       </td>
     </tr>
     <tr valign="top">
       <td width="45">
       <p>5.</p>
       </td>
       <td width="543">
       <p>Shri Ch. Jaganadh Reddy,
 Assistant Director</p>
       </td>
     </tr>
   </tbody>
 </table>
 <p style="font-family: Arial;"><br>
 </p>
 <p style="widows: 2; font-family: Arial;" align="right">[F.
 No.1/6/2014-CL V]<br>
 <br>
 <br>
 (AMARDEEP SINGH BHATIA)&nbsp;<br>
 Joint
 Secretary</p>
 <p style="font-family: Arial;"><br>
 </p>
 </body>
 </html>
 