 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <div style="text-align: center; font-family: Arial;">To be
 publishecl in the Gazette of lnclia Extraordinary Part II, Section 3,
 subsection (i)<br>
 <span style="font-weight: bold;">MINISTRY OF CORPORATE
 AFFAIRS</span><br>
 </div>
 <div style="text-align: center; font-family: Arial;">Notification<br>
 </div>
 <div style="text-align: right; font-family: Arial;">New
 Dethi, tue 29/4/2016<br>
 </div>
 <span style="font-family: Arial;">S.O. E. In exercise of
 the powers conferred bv sub-section (1) of section 458 of</span><span
  style="font-family: Arial;"> the Companies Act (18 of 2013)'
 the Central Governncnt being satisfied that</span><span
  style="font-family: Arial;"> circumstances warrant,hereby
 delegates the powers to appoint lnspectors for</span><span
  style="font-family: Arial;"> inspection of books and papers
 of&nbsp;a company under sub-section (5) of section</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">206 as ordered by
 Central Government, to the Regional Directors.</span><br
  style="font-family: Arial;">
 <div style="text-align: right;"><span
  style="font-family: Arial;">[F. No.3/516/2015.CL- II]</span><br
  style="font-family: Arial;">
 <span style="font-family: Arial;">Amardeep Singh Bhatia,
 Joint Secretary</span></div>
 </body>
 </html>
 