<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>S.O. 3677(E) dated 7th December 2016.html</title>

</head><body>
<div class="WordSection1">
    <p class="MsoNormal" style="margin: 0in 0 0.0001pt 0; text-align: center; line-height: 150%;" align="center"><b style=""><span style="font-size: 10pt; line-height: 150%;">MINISTRY OF
CORPORATE AFFAIRS NOTIFICATION<o:p></o:p></span></b></p>
    <p class="MsoBodyText" style="margin: 0.1pt 0 0.0001pt 0; text-align: center;" align="center">New
        Delhi, the 7th December, 2016<o:p></o:p></p>
    <p class="MsoBodyText" style="margin: 6.15pt 12.6pt 0.0001pt 10.95pt; text-align: justify; text-indent: 0; line-height: 11.5pt;"><b style="">S.O. 3677(E).&#8212;</b>In exercise of the powers
        conferred by sub-section
        (3) of section 1 of the Companies Act, 2013 (18 of 2013), the Central
        Government hereby appoints the 15<span style="font-size: 6.5pt; position: relative; top: -4.5pt;">th
</span>day of December,
        2016 as the date on which the following provisions of the said Act
        shall come
        into force, namely :-<o:p></o:p></p>
    <p class="MsoBodyText" style="margin-top: 0.35pt;"><span style="font-size: 5pt;"><o:p>&nbsp;</o:p></span></p>
    <table class="MsoNormalTable" style="border: medium none ; margin-left: 6.15pt; border-collapse: collapse;" border="1" cellpadding="0" cellspacing="0">
        <tbody>
        <tr style="height: 17.75pt;">
            <td style="border: 1pt solid black; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph" style="line-height: normal;"><b style=""><span style="font-size: 10pt;">SL.No.<o:p></o:p></span></b></p>
            </td>
            <td style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph" style="margin-left: 92.75pt; line-height: normal;"><b style=""><span style="font-size: 10pt;">Section<o:p></o:p></span></b></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph" style="line-height: 11.3pt;"><span style="font-size: 10pt;">1.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph" style="line-height: 11.3pt;"><span style="font-size: 10pt;">Clause (23) of section 2<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">2.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Clause (c) and (d) of sub-section
(7) of section 7<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">3.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Sub-section (9) of section 8<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">4.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Section 48<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">5.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Section 66<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">6.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Sub-section (2) of section 224<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">7.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Section 226<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">8.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Section 230 [except sub-section
(11) and (12)], and Sections 231 to 233<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">9.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Sections 235 to 240<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.65pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.65pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">10.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.65pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Sections 270 to 288<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph" style="line-height: 11.3pt;"><span style="font-size: 10pt;">11.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph" style="line-height: 11.3pt;"><span style="font-size: 10pt;">Sections 290 to 303<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">12.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Section 324<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">13.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Sections 326 to 365<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">14.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Proviso to section 370<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">15.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Sections 372 to 373<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">16.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Sections 375 to 378<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">17.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Sub-section (2) of section 391<o:p></o:p></span></p>
            </td>
        </tr>
        <tr style="height: 17.75pt;">
            <td style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0in; width: 60.7pt; height: 17.75pt;" valign="top" width="81">
                <p class="TableParagraph"><span style="font-size: 10pt;">18.<o:p></o:p></span></p>
            </td>
            <td style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0in; width: 434.4pt; height: 17.75pt;" valign="top" width="579">
                <p class="TableParagraph"><span style="font-size: 10pt;">Clause (c) of sub-section (1) of
section 434<o:p></o:p></span></p>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="MsoBodyText" style="margin-top: 0.5pt;"><span style="font-size: 14.5pt;"><o:p>&nbsp;</o:p></span></p>
    <p class="MsoBodyText" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: arial;">[F.
        No. 2/31/CAA/2013-CL-V-pt] <o:p></o:p></p>
    <p class="MsoBodyText" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: arial;">
        AMARDEEP SINGH BHATIA, Jt. Secy.<o:p></o:p></p>
</div></body></html>