 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="font-size: 12pt; line-height: 115%;">Government
 of India<br>
 Ministry of Corporate Affairs<br>
 Notification<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">New Delhi, the
 29th May, 2015<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">S.O.
 _(E).-&nbsp;In
 exercise of the powers conferred by sub-section (2) of section 1 of the
 Companies (Amendment) Act, 2015 (21 of 2015), the Central Government
 hereby
 appoints the 29th May, 2015 as the date on which the provisions of
 sections 1
 to 12 and 15 to 23 of the said Act shall come into force.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right;"
  align="right"><span
  style="font-size: 12pt; line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><br>
 <br style="">
 <!--[if !supportLineBreakNewLine]--><br style="">
 <!--[endif]--><o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right;"
  align="right"><span
  style="font-size: 12pt; line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;">[File
 No. 1
 /6/2015-CL. V]<br>
 <br>
 AMARDEEP SINGH BHATIA,&nbsp;<br>
 Joint Secretary to the Government of India<o:p></o:p></span></p>
 </body>
 </html>
 