 <html>
 <head>
 <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
 <title></title>
 </head>
 <body>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
 align="center"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">Order
 proposed to be issued under
 section 470 of the Companies Act, 2013.<o:p></o:p></span></p>
 
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
 align="center"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">MINISTRY
  OF CORPORATE AFFAIRS</span></b><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
 </span></b><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">ORDER</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
 align="right"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">New
 Delhi, the __________ 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">S.O.
 1177 (E)</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">&nbsp;</span><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">Whereas
 the Companies Act, 2013 (18 of 2013) (hereinafter referred to as
 the said Act) received the assent of the President on 29th August, 2013
 and
 section 1 thereof came into force on the same date;And whereas certain
 sections
 of the Act were brought into force with effect from 12th September,
 2013 and
 certain other sections have been brought into force with effect from
 1st April,
 2014;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">And
 whereas section 92 of the Act, which provides for preparation,
 certification and filing etc of annual return by companies, has come
 into force
 on the 1st day of April, 2014;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">And
 whereas sub-section (2) of section 92 of the Act provides for
 certification of annual returns of listed companies and companies
 having
 prescribed paid-up capital and turnover;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">And
 whereas difficulties have arisen regarding compliance with the
 provision of the said sub- section (2) of section 92 with regard to
 certification of annual returns for companies having prescribed paid-up
 capital
 or prescribed turnover;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">Now,
 therefore, in exercise of the powers conferred by sub-section (1)
 of section 470 of the Companies Act, 2013 (18 of 2013), the Central
 Government
 hereby makes the following Order to remove the above said difficulties,
 namely
 :-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">1.
 Short title and commencement.-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">(1)
 This Order may be called the Companies 2nd (Removal of Difficulties)
 Order, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">(2)
 It shall come into force on the date of its publication in the
 Official Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">2.
 Certification of Annual Return of certain companies:<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">It
 is hereby clarified that the annual return, filed by a listed company
 or, by a company having such paid-up capital or turnover as may be
 prescribed
 in the rules under sub-section (2) of section 92, shall be certified by
 a
 company secretary in practice in the prescribed form, stating that the
 annual
 return discloses the facts correctly and adequately and that the
 company has
 complied with all the provisions of this Act.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
 <br style="">
 <!--[if !supportLineBreakNewLine]--><br style="">
 <!--[endif]--></span><span
 style="font-size: 12pt; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
 align="right"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">[F.
 No. 1/15/2013-CL.V]<br>
 <br>
 <br>
 RENUKA KUMAR,</span><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">&nbsp;</span><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
 JOINT SECRETARY<o:p></o:p></span></p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>

