 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style="">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b style="">NOTIFICATION<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center">New Delhi, the 13th January, 2016<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b
  style="">S.O. 125(E).-</b>In exercise of the powers
 conferred by sub-section (3)
 of Section 1 of the Companies Act, 2013 (18 of 2013), the Central
 Government
 hereby appoints the 13th day of January, 2016 as the date on which the
 provisions of sub-section (5), sub-section (6) [except with respect to
 the
 manner of administration of the Investor Education and Protection Fund]
 and
 sub-section (7) of section 125 of the said Act shall come into force.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><span style="">&nbsp;</span>[F.
 No. 5/27/2013-IEPF (Part)] <o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style="">AMARDEEP
 SINGH BHATIA, Jt. Secy.<o:p></o:p></b></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><b style=""><o:p>&nbsp;</o:p></b></p>
 </body>
 </html>
 