<p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    <strong>NOTIFICATION</strong>
</p>
<p align="center">
    New Delhi, the 20th February, 2017
</p>
<p>
    <strong>S.O. 554(E).—</strong>
    In exercise of the powers conferred by sub-section (5) and (6) of section
    125 of the Companies Act, 2013 (18 of 2013) read with rule 6 of the
    Investor Education and Protection Fund Authority (Appointment of
    Chairperson and Members, holding meetings and provision for offices and
    officers) Rules, 2016, the Central Government hereby extends the period of
    tenure of Shri Amardeep Singh Bhatia, as Chief Executive Officer
    (Additional Charge) in the Investor Education and Protection Fund Authority
    for a further period of one year with effect from the 1st November, 2016 or
    till further orders, whichever is earlier.
</p>
<p align="right">
    [F. No. 05/05/2014-IEPF]
</p>
<p align="right">
    GYANESHWAR KUMAR SINGH, Jt. Secy.
</p>