<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<table class="MsoNormalTable"
 style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; width: 100%; font-family: Arial;"
 border="0" cellpadding="0" cellspacing="5"
 width="100%">
  <tbody>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
 align="center"><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">MINISTRY OF
 CORPORATE AFFAIRS</span></b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
      <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
 align="center"><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">ORDER</span></b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
      <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt;"
 align="right"><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">New Delhi,
 the 6th June, 2014<o:p></o:p></span></p>
      <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: justify; line-height: 15pt;"><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">S.O.
 1460(E).-</span></b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);"> </span><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">In exercise
 of the powers conferred by sub-section (1) of Section 470
 of the Companies Act,2013 (18 of 2013), the Central Government hereby
 makes the following Order, namely:-<o:p></o:p></span></p>
      <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: justify; line-height: 15pt;"><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">1. (1) This
 Order may be called the Companies (Removal of Difficulties)
 Fourth Order, 2014.<o:p></o:p></span></p>
      <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: justify; line-height: 15pt;"><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">(2) It shall
 come into force from the date of notification in the
 Official Gazztte.<o:p></o:p></span></p>
      <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: justify; line-height: 15pt;"><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">2.</span><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">&nbsp;<b>Jurisdiction,
 powers,
 authority and functions of Company Law Board.-&nbsp;</b></span><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">Until a date
 is
 notified by the Central Government under sub-section (1) of Section 434
 of
 the Companies Act, 2013 (18 of 2013), the Company Law Board constituted
  in
 pursuance of sub-section (1) of Section 10E of the Companies Act, 1956
 (1 of
 1956) shall exercise the jurisdiction, powers, authority and functions
 of the
 Tribunal under sub-section (2) of Section 74 of the said Act.<o:p></o:p></span></p>
       <p class="MsoNormal"
 style="margin-bottom: 12pt; text-align: justify; line-height: 16.5pt;"><span
 style="font-size: 9pt; color: rgb(51, 51, 51);"><o:p>&nbsp;</o:p></span></p>
      <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: right; line-height: 15pt;"
 align="right"><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">[F. No.
 1/8/2013-CL-V ]</span></b><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);"><br>
      <br>
      </span></b><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">AMARDEEP
 SINGH BHATIA, Jt.Secy.</span></b><span
  style="font-size: 9pt; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;"></td>
    </tr>
  </tbody>
 </table>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
