<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>S.O. 4090(E) dated 18th December, 2016</title>

</head><body>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style="">MINISTRY OF
CORPORATE
AFFAIRS<o:p></o:p></b></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style="">NOTIFICATION<o:p></o:p></b></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center">New
Delhi, the 19th December, 2016<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b>S.O.
4090(E).</b>&#8212;In exercise of the
powers conferred by Section 458 of the Companies Act, 2013 (18 of
2013), and in
supersession of the notification of the Government of India, in the
Ministry of
Corporate Affairs, dated the 10th July, 2012, published in the Gazette
of
India, Extraordinary, Part II, Section 3, sub-section (ii) vide number
S.O.
1539(E), dated the 10th July, 2012, and also in supersession of the
notification of the Government of India, in the Ministry of Corporate
Affairs,
dated the 21st May, 2014, published in the Gazette of India,
Extraordinary,
Part II, Section 3, sub-section (ii) vide number S.O. 1352(E), dated
the 22nd
May, 2014, except as respects things done or omitted to be done before
such
supersession, the Central Government hereby delegates to the Regional
Directors
at Mumbai, Kolkata, Chennai, New Delhi, Ahmedabad, Hyderabad and
Shillong, the
powers and functions vested in it under the following sections of the
said Act,
subject to the condition that the Central Government may revoke such
delegation
of powers or may itself exercise the powers under the said sections, if
in its
opinion such a course of action is necessary in the public interest,
namely :&#8212;<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
<p class="MsoListParagraphCxSpFirst" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span style="">(a)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]-->clause
(i) of sub-section (4) of section 8 (for alteration of memorandum in
case of
conversion into another kind of company);<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span style="">(b)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
</span></span><!--[endif]-->sub-section
(6) of section 8;<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span style="">(c)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]-->sub-sections
(4) and (5) of section 13;<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span style="">(d)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
</span></span><!--[endif]-->section
16;<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span style="">(e)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]-->section
87;<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span style="">(f)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]-->sub-section
(3) of section 111;<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span style="">(g)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]-->sub-section
(1) of section 140; <o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span style="">(h)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
</span></span><!--[endif]-->sub-section
(5) of section 230; <o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span style="">(i)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]-->sub-sections
(2), (3), (4), (5) and (6) of section 233; <o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span style="">(j)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]-->first
and second proviso of sub-section (3) of section 272;<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span style="">(k)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
</span></span><!--[endif]-->sub-section
(1) of section 348;<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span style="">(l)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><!--[endif]-->sections
361, 362, 364 and 365<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span style="">(m)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">
</span></span><!--[endif]-->clause (i) of the
proviso to sub-section (1) of section 399 and<o:p></o:p></p>
<p class="MsoListParagraphCxSpMiddle" style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 0.25in; line-height: normal; font-family: Arial;"><!--[if !supportLists]--><span style="">(n)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
</span></span><!--[endif]-->section
442.<o:p></o:p></p>
<p class="MsoListParagraphCxSpLast" style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;">2.
This notification shall come into force with effect from the date of
its
publication in the Official Gazette.<o:p></o:p></p>
<p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal" style="margin: 0in 0in 0.0001pt 2.5in; text-align: right; text-indent: 0.5in; line-height: normal; font-family: Arial;" align="center">[F. No.
2/31/CAA/2013-CL-V]<o:p></o:p></p>
<p class="MsoListParagraph" style="margin: 0in 0in 0.0001pt 3in; text-indent: 0.5in; line-height: 15pt; font-family: Arial; text-align: right;">AMARDEEP
SINGH BHATIA, Jt. Secy.<o:p></o:p></p>
</body></html>