 <html>
 <head>
 <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
 <title></title>
 </head>
 <body>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;">NOTIFICATION<o:p></o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><span style="font-size: 12pt;">New
 Delhi, the 1st September, 2016<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><b><span
 style="font-size: 12pt;">S.O.
 2843(E).—</span></b><span style="font-size: 12pt;">In
 exercise of the powers conferred by sub-section (1) of section 435 of
 the
 Companies Act, 2013 (18 of 2013), the Central Government hereby, with
 the concurrence
 of the Chief Justice of the High Courts of Chhattisgarh, Rajasthan,
 Punjab and
 Haryana, Madras and Manipur, designates the following Courts as Special
 Courts
 for the purposes of providing speedy trial of offences punishable with
 imprisonment of two years or more under the Companies Act, 2013,
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;">TABLE<o:p></o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <table class="MsoTableGrid"
 style="border: medium none ; border-collapse: collapse; font-family: Arial; width: 384px; height: 763px;"
 border="1" cellpadding="0" cellspacing="0">
 <tbody>
 <tr style="">
 <td
 style="border: 1pt solid black; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">Sl.<o:p></o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">No.</span></b><span
 style="font-size: 12pt;"><o:p></o:p></span></p>
 </td>
 <td
 style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">Existing Court</span></b><span
 style="font-size: 12pt;"><o:p></o:p></span></p>
 </td>
 <td
 style="border-style: solid solid solid none; border-color: black black black -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">Jurisdiction as
 Special Court</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">(1)<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">(2)<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">(3)<o:p></o:p></span></b></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">1. <o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Sessions Judge, Bilaspur<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">State of Chhattisgarh<o:p></o:p></span></b></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">2. <o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Court of Special Judge, (Sati Niwaran),<span
 style="">&nbsp; </span>Jaipur<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">State of Rajasthan<o:p></o:p></span></b></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">3. <o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Court of Sessions Judge and 2nd Additional
 Sessions<span style="">&nbsp; </span>Judge, S.A.S. Nagar<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">State of Punjab<o:p></o:p></span></b></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">4.<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Court of Sessions Judge and 2nd Additional
 Sessions<o:p></o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Judge, Gurgaon<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">State of Haryana<o:p></o:p></span></b></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">5.<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Court of Sessions Judge and 2nd Additional
 Sessions Judge, Chandigarh<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Union Territory of Chandigarh<o:p></o:p></span></b></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">6.<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">I Additional District and Sessions Court,
 Coimbatore<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Districts of Coimbatore, Dharmapuri,
 Dindigul, Erode, Krishnagiri, Namakkal, Nilgiris, Salem and Tiruppur.<o:p></o:p></span></b></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">7.<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">II Additional District and Sessions Court,
 Puducherry<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Union Territory of Puducherry<o:p></o:p></span></b></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color black black; border-width: medium 1pt 1pt; padding: 0cm 5.4pt; width: 47.95pt;"
 valign="top" width="64">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;"
 align="center"><b><span style="font-size: 12pt;">8.<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 219.7pt;"
 valign="top" width="293">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">Sessions Judge, Imphal East<o:p></o:p></span></b></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color black black -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 0cm 5.4pt; width: 194.45pt;"
 valign="top" width="259">
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><b><span
 style="font-size: 12pt;">State of Manipur<o:p></o:p></span></b></p>
 </td>
 </tr>
 </tbody>
 </table>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;">2.
 The aforesaid Courts mentioned in column number (2) shall exercise the
 jurisdiction as Special<span style="">&nbsp; </span>Courts in
 respect of jurisdiction mentioned in column number (3).<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
 align="right"><span style="font-size: 12pt;">[F.
 No. 01/12/2009-CL-I (Vol-IV)]<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
 align="right"><span style="font-size: 12pt;">AMARDEEP
 SINGH BHATIA, Jt. Secy<o:p></o:p></span></p>
 </body>
 </html>

