 <html>
 <head>
 <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
 <title></title>
 </head>
 <body>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;">NOTIFICATION<o:p></o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal; font-family: Arial;"
 align="center"><b><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
 align="right"><span style="font-size: 12pt;">New
 Delhi, the 12th September, 2016<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><b><span
 style="font-size: 12pt;">S.O.
 (E).-</span></b><span style="font-size: 12pt;">In
 exercise of the powers conferred by sub-section (1) and (2) of section
 467 of
 the Companies Act, 2013 (18 of 2013), the Central Government hereby
 makes the
 following amendments to amend Schedule V of the said Act, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;">2.
 In schedule V of the companies Act, 2013-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;">(a)
 in Part I, in Appointments,-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;">(i)
 in para (a), for sub-paragraph (vi), the following sub-paragraph shall
 be
 substituted , namely;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;">(vi)
 the Companies Act, 2013(18 of 2013) or any previous company law"<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;">(b)
 in part II, for section II, the following section shall be substituted,
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><b
 style=""><span style="font-size: 12pt;">Section II<o:p></o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><b><span
 style="font-size: 12pt;" lang="EN-US">Remuneration payable by
 companies having no
 profit or inadequate profit without Central Government approval :</span></b><span
 style="font-size: 12pt;" lang="EN-US"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">Where in any financial year
 during the
 currency of tenure of a managerial person, a company has no profits or
 its
 profits are inadequate, it may, without Central Government approval,
 pay
 remuneration to the managerial person not exceeding the limits under (<i>A</i>)
 and (<i>B</i>) given below:-<o:p></o:p></span></p>
 <table class="MsoNormalTable"
 style="border: medium none ; width: 399px; border-collapse: collapse; font-family: Arial; height: 321px;"
 border="1" cellpadding="0" cellspacing="0">
 <tbody>
 <tr style="">
 <td
 style="border: 1pt solid windowtext; padding: 3pt; width: 50.26%;"
 valign="top" width="50%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US">(1)<o:p></o:p></span></p>
 </td>
 <td
 style="border-style: solid solid solid none; border-color: windowtext windowtext windowtext -moz-use-text-color; border-width: 1pt 1pt 1pt medium; padding: 3pt; width: 49.74%;"
 valign="top" width="49%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US">(2)<o:p></o:p></span></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color windowtext windowtext; border-width: medium 1pt 1pt; padding: 3pt; width: 50.26%;"
 valign="top" width="50%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US">Where the effective capital is<o:p></o:p></span></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color windowtext windowtext -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 3pt; width: 49.74%;"
 valign="top" width="49%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US">Limit of yearly remuneration
 payable shall not exceed (Rupees)<o:p></o:p></span></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color windowtext windowtext; border-width: medium 1pt 1pt; padding: 3pt; width: 50.26%;"
 valign="top" width="50%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>i</i>) Negative or less than
 5 crores<o:p></o:p></span></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color windowtext windowtext -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 3pt; width: 49.74%;"
 valign="top" width="49%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;</span>60
 lakhs<o:p></o:p></span></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color windowtext windowtext; border-width: medium 1pt 1pt; padding: 3pt; width: 50.26%;"
 valign="top" width="50%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>ii</i>) 5 crores and above
 but less than 100 crores<o:p></o:p></span></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color windowtext windowtext -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 3pt; width: 49.74%;"
 valign="top" width="49%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;</span>84
 lakhs <o:p></o:p></span></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color windowtext windowtext; border-width: medium 1pt 1pt; padding: 3pt; width: 50.26%;"
 valign="top" width="50%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>iii</i>) 100 crores and
 above but less than 250 crores<o:p></o:p></span></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color windowtext windowtext -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 3pt; width: 49.74%;"
 valign="top" width="49%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;</span>120
 lakhs <o:p></o:p></span></p>
 </td>
 </tr>
 <tr style="">
 <td
 style="border-style: none solid solid; border-color: -moz-use-text-color windowtext windowtext; border-width: medium 1pt 1pt; padding: 3pt; width: 50.26%;"
 valign="top" width="50%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>iv</i>) 250 crores and above<o:p></o:p></span></p>
 </td>
 <td
 style="border-style: none solid solid none; border-color: -moz-use-text-color windowtext windowtext -moz-use-text-color; border-width: medium 1pt 1pt medium; padding: 3pt; width: 49.74%;"
 valign="top" width="49%">
 <p class="MsoNormal"
 style="margin-bottom: 4pt; text-align: justify; line-height: normal;"><span
 style="font-size: 12pt;" lang="EN-US"><span style="">&nbsp;</span>120
 lakhs <i>plus </i>0.01% of the effective capital in excess of Rs. 250
 crores:<o:p></o:p></span></p>
 </td>
 </tr>
 </tbody>
 </table>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><b><span
 style="font-size: 12pt;" lang="EN-US">Provided </span></b><span
 style="font-size: 12pt;" lang="EN-US">that the above limits shall be
 doubled if
 the resolution passed by the shareholders is a special resolution<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><i><span
 style="font-size: 12pt;" lang="EN-US">Explanation</span></i><span
 style="font-size: 12pt;" lang="EN-US">.-It is hereby clarified that
 for a period
 less than one year, the limits shall be pro-rated.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(B) In case of managerial person
 who is
 functioning in a professional capacity, no approval of Central
 Government is
 required, if such managerial person is not having any interest<span
 style="">&nbsp; </span>in the capital of the company or its holding
 company or any of its subsidiaries directly or indirectly or through
 any other
 statutory structures and not having any direct or indirect interest or
 related
 to the directors or promoters of the company of its holding company or
 any of
 its subsidiaries at any time during the last two years before or on or
 after
 the date of appointment and possesses graduate level qualification with
 expertise
 and specialized knowledge in the field in which the company operates: <o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">Provided that any employee of
 the company
 holding shares of the company not exceeding 0.5% of its paid up share
 capital
 under any scheme formulated for allotment of shares to such employees
 including
 Employee Stock Option Plan<span style="">&nbsp; </span>or by way of
 qualification shall be deemed to be a person not having any interest in
 the
 capital of the company<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><b><span
 style="font-size: 12pt;" lang="EN-US">Provided further </span></b><span
 style="font-size: 12pt;" lang="EN-US">that the limits
 specified under items (A) and (B) of this section <span style="">&nbsp;</span>shall
 apply, if-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 1cm; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>i</i>) payment of
 remuneration is
 approved by a resolution passed by the Board and, in the case of a
 company
 covered under sub-section (1) of section 178 also by the Nomination and
 Remuneration Committee;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 1cm; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>ii</i>) the company has not
 committed <span style="">&nbsp;</span>any default in repayment of any
 of its debts
 (including public deposits) or debentures or interest payable thereon
 for a
 continuous period of thirty days in the preceding financial year before
 the
 date of appointment of such managerial person and in case of default ,
 the
 company obtains prior approval from secured creditors for the proposed
 remuneration and the fact of such priopr approval having been obtained
 is
 mentioned in the explanatory statement to the notice convening the
 general
 meeting;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 1cm; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>iii</i>) an ordinary or
 special
 resolution, as the case may be <span style="">&nbsp;</span>has been
 passed for payment of remuneration<span style="">&nbsp; </span>as
 per the limits laid down in item (A) or special resolution has been
 passed for
 the payment of remuneration as per item (B) at the general meeting of
 the company
 for a period not exceeding three years;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 1cm; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>iv</i>) a statement along
 with a notice
 calling the general meeting referred to in clause (<i>iii</i>) is given
 to the
 shareholders containing the following information, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 62.35pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -22.7pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">I. General Information:<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(1) Nature of industry<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(2) Date or expected date of
 commencement
 of commercial production<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(3) In case of new companies,
 expected date
 of commencement of activities as per project approved by financial
 institutions
 appearing in the prospectus<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(4) Financial performance based
 on given
 indicators<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(5) Foreign investments or
 collaborations,
 if any.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 62.35pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -22.7pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">II. Information about the
 appointee:<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(1) Background details<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(2) Past remuneration<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(3) Recognition or awards<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(4) Job profile and his
 suitability<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(5) Remuneration proposed<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(6) Comparative remuneration
 profile with
 respect to industry, size of the company, profile of the position and
 person
 (in case of expatriates the relevant details would be with respect to
 the
 country of his origin)<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(7) Pecuniary relationship
 directly or
 indirectly with the company, or relationship with the managerial
 personnel, if
 any.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 62.35pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -22.7pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">III. Other information:<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(1) Reasons of loss or
 inadequate profits<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(2) Steps taken or proposed to
 be taken for
 improvement<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(3) Expected increase in
 productivity and
 profits in measurable terms.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 62.35pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -22.7pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">IV. Disclosures:<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 62.35pt; background: white none repeat scroll 0%; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">The
 following disclosures shall be mentioned in the Board of Director's
 report
 under the heading "Corporate Governance", if any, attached to the
 financial statement:-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>i</i>) all elements of
 remuneration
 package such as salary, benefits, bonuses, stock options, pension,
 etc., of all
 the directors;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>ii</i>) details of fixed
 component and
 performance linked incentives along with the performance criteria;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>iii</i>) service contracts,
 notice
 period, severance fees;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 4pt 90.7pt; background: white none repeat scroll 0%; text-align: justify; text-indent: -19.85pt; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">(<i>iv</i>) stock option
 details, if any,
 and whether the same has been issued at a discount as well as the
 period over
 which accrued and over which exercisable.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">Explanation:<span style="">&nbsp;
 </span>For the purposes of section II <span style="">&nbsp; </span>of
 this part "Statutory Structure" means any
 entity which is entitled to hold shares in any company formed under
 statute."<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US">3. This notification shall come
 into force
 from the date of its publication in the official gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 4pt; text-align: justify; line-height: normal; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-family: Arial;"><span
 style="font-size: 12pt;" lang="EN-US"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal; font-family: Arial;"><b
 style=""><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
 align="right"><span style="font-size: 12pt;"><span style="">&nbsp;</span>[F.No.
 1/5/2013 CL-V]<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
 align="right"><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
 align="right"><span style="font-size: 12pt;">Amardeep
 Singh Bhatia, Joint Secretary<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: normal; font-family: Arial;"
 align="right"><span style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal; font-family: Arial;"><span
 style="font-size: 12pt;">Note: Schedule V of the Companies
 Act, 2013 came into force with effect from the 1<sup>st</sup> April,
 2014. <o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>

