 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">GOVERNMENT
 OF INDIA<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">Notification<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">New
 Delhi, the 18h May, 2016<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">S.O........
 (E)-In exercise of the powers conferred by sub-section (3) of section 1
 of the
 Companies Act, 2013 (18 of 2013), the Central Government hereby
 appoints the
 18tn day of May, 2016 as the date on which the provisions of clause
 (iv) of
 sub-section (29) of section 2, sections 435 to 438 (both sections
 inclusive)
 and section 440 of the said Act shall come into force.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">[F.No.
 01/12/2009-CL-I
 (Vol.IV)]<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">AMARDEEP SINGH
 BHATIA,
 Jt. Secy.<o:p></o:p></span></p>
 </body>
 </html>
 