 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title>S.O. 902(E) dated 27th March 2014</title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="line-height: 115%;" lang="EN-IN">Government
 of India&nbsp;<br>
 Ministry of Corporate Affairs&nbsp;<br>
 Notification<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;" lang="EN-IN">New
 Delhi, the 27th&nbsp;March 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;" lang="EN-IN">S.O.
 902(E) -&nbsp;In exercise of the powers conferred by sub-section
 (3) of section
 1 of the Companies Act, 2013 (18 of 2013), the Central Government
 hereby
 appoints the 1st&nbsp;day of April, 2014 as the date on which the
 following
 provisions of the said Act shall come into force, namely :-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 <table class="MsoNormalTable"
  style="width: 100%; height: 6893px; font-family: Arial;"
  border="0" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td
  style="border-style: solid none; border-color: windowtext -moz-use-text-color; border-width: 1.5pt medium; padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">SL.No.<o:p></o:p></span></p>
       </td>
       <td
  style="border-style: solid none; border-color: windowtext -moz-use-text-color; border-width: 1.5pt medium; padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;" valign="top">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">1.<o:p></o:p></span></p>
       </td>
       <td rowspan="2" style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 2<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (2);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (7);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (13);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (31);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clauses
 (41) (except first Proviso);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (42);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (47) and (48);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (62);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (83);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (85);<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Explanation&nbsp;(d)
 of clause (87);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">2.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">3.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">4.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">5.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">6.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">7.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">8.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">9.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">10.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">11.<o:p></o:p></span></p>
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">12.<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">13.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 3 to 6 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">14.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 7 (except sub-section (7);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">15.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 8 (except sub-section (9);;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">16.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 9 to 13 3 to 6 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">17.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 14 [except second proviso to sub-section (1) and sub-section(2)];<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">18.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 15 to 18 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">19.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 20;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">20.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">clause
 (b) of sub-section (1) and sub-section (2) of section 23;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">21.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sub-section
 (3) of section 25;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">22.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 26 to 28 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">23.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sub-section
 (3) of section 33;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">24.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Clause
 (e) of sub-section (1) of section 35;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">25.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sub-section
 (4) of section 39;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">26.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sub-section
 (6) of section 40;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">27.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 41 and 42 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">28.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 43;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">29.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 46 and 47 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">30.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 52 to 54 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">31.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 55 expect sub-section (3);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">32.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 56;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">33.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 61 except proviso to clause (b) of sub-section (1);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">34.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 62 except sub-section (4) to (6);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">35.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 63 and 64 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">36.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 67 and 68 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">37.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Seb-section
 (2) of section 70;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">38.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 71 except sub-section (9) to (11);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">39.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 72;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">40.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 73 except sub-section (4);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">41.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sub-section
 (1) of section 74;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">42.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 76;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">43.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 77 to 85 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">44.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 87 to 90 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">45.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 92 to 96 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">46.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sub-section
 (6) of section 100;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">47.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 101;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">48.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Thirs
 and Fourth Proviso to sub-section (1) and (sub-section) (7) of section
 105;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">49.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 108 to 110 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">50.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Clause
 (b) of sub-section (1) of section 113;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">51.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 115;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">52.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 117 and 118 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">53.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 119 [except sub-section (4)];<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">54.<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 120 to 122 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">55<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 123;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">56<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 126;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">57<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 128 and 129 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">58<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 134;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">59<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 136 to 139 (both inclusive)<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">60<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 140 except second proviso to sub-section (4) and sub-section (5);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">61<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 141 to 160 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">62<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Seb-section
 (2) sub-section 161;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">63<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 164 to 168 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">64<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 169 except sub-section (4);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">65<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 170 to 172 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">66<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 173 - 175 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">67<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 177 - 179 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">68<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 184;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">69<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 186 - 191 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">70<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 193;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">71<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 196 to 201 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">72<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 203 to 205 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">73<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 206 to 209 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">74<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 210;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">75<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 211;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">76<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 212 [except references of sub-section (10) of 66, sub-section (5) of
 Section
 140, section 213,sub-section (1) of section 251 and sub-section (3) of
 section 339 made in sub-section (6) and also sub-sections (8) to (10)];<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">77<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 214 and 215;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">78<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 216 [except sub-section (2)];<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">79<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 217;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">80<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 219 and 220 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">81<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 223;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">82<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 224 [except sub-section (2) and (5)];<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">83<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 225;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">84<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 228 and 229 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">85<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 366 to 369 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">86<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 370 (except proviso);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">87<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 371;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">88<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 374;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">89<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 380 and 381 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">90<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 384 and 385 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">91<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Clause
 (a) of section 386;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">92<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 387 to 390 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">93<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sub-section
 (1) of section 391;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">94<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 392 and 393 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">95<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 395;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">96<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 396 to 398 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">97<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 399 except reference of word Tribunal in sub-section (2);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">98<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 400 to 404 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">99<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 406;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">100<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 442;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">101<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Sections
 454 and 455 (both inclusive);<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">102<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Section
 464;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">103<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Schedule
 - I;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">104<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Schedule
 - II;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">105<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Schedule
 - III;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">106<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Schedule
 - IV;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">107<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Schedule
 - V;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">108<o:p></o:p></span></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: justify;"><span
  style="line-height: 115%;" lang="EN-IN">Schedule
 - VI;<o:p></o:p></span></p>
       </td>
     </tr>
     <tr style="">
       <td colspan="2"
  style="border-style: solid none none; border-color: windowtext -moz-use-text-color -moz-use-text-color; border-width: 1.5pt medium medium; padding: 3.75pt;">
       <p class="MsoNormal" style="text-align: right;"
  align="right"><span style="line-height: 115%;"
  lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
       <p class="MsoNormal" style="text-align: right;"
  align="right"><span style="line-height: 115%;"
  lang="EN-IN">[File
 No. I / 15 /2013-CL. V]<br>
       <br>
       <br>
 RENUKA KUMAR,<br>
 Joint Secretary to the Government of India<o:p></o:p></span></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p style="font-family: Arial;" class="MsoNormal"><span
  style="line-height: 115%;" lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 </body>
 </html>
 