 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>S.O. 1524(E) dated 13th June 2014</title></head><body>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style="">MINISTRY OF CORPORATE
 AFFAIRS<o:p></o:p></b></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style="">NOTIFICATION<o:p></o:p></b></p> 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center">New
 Delhi, the 13th June, 2014<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 5pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style="">S.O. 1524(E).&#8212;</b> In exercise of powers
 conferred by section 448 of the Companies Act, 1956 (1 of 1956), the Central
 Government hereby establish the office of the Official Liquidator at Hyderabad
 having territorial jurisdiction for the purposes of the said Act for discharging
 the functions of the Official Liquidator in the whole State of Telengana and
 appoints the Official Liquidator at Hyderabad as Official Liquidator for the
 liquidation of companies under the said Act in the State of Telengana.<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 5pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span style="">&nbsp;</span>2. This notification shall come into force
 from the date of its publication in the Official Gazette.<o:p></o:p></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><b style=""><span style="">&nbsp;</span>[F. No. 7/4/2014-CL.I(A)] <o:p></o:p></b></p>
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><b style="">AMARDEEP SINGH BHATIA,
 Jt. Secy.<o:p></o:p></b></p>
 </body></html>