  <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>S.O. 582(E) dated 27th February 2014</title></head><body>
 
 <p class="MsoNormal" style="margin-bottom: 6pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">MTNISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 4pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><b style=""><span lang="EN-IN">NOTIFICATION<o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 5pt; text-align: center; line-height: 15pt; font-family: Arial;" align="center"><span lang="EN-IN">New Delhi, the 27th February, 2014<o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b style=""><span lang="EN-IN"><span style="">&nbsp;</span>S.O. 582(E).-</span></b><span lang="EN-IN">In exercise of the powers conferred by Sub-section 3 of Section 1 of
 the Companies Act, 2013 (18 of20l3), the Central Government hereby appoints the
 1stday ofApril,2014 as the date on which the provision of section 135 and
 Schedule VII of the said Act shall come into force. <o:p></o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><span lang="EN-IN"><o:p>&nbsp;</o:p></span></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><b style=""><span lang="EN-IN">F. No. 1/15/2013-CL-V] <o:p></o:p></span></b></p>
 
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;" align="right"><b style=""><span lang="EN-IN">RENUKA KUMAR , Jt. Secy.<o:p></o:p></span></b></p>
 </body></html>