<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>S.O. 1459(E)dated 6th june 2014</title></head><body>
 <p class="MsoNormal" style="text-align: center; font-family: Arial;" align="center"><span style="line-height: 115%;" lang="EN-IN">MINISTRY
 OF CORPORATE AFFAIRS<br>
 NOTIFICATION<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right; font-family: Arial;" align="right"><span style="line-height: 115%;" lang="EN-IN">New
 Delhi, the 6th&nbsp;June, 2014<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span style="line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;" lang="EN-IN"><br style=""> 
 <br style="">
 <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify; font-family: Arial;"><span style="line-height: 115%;" lang="EN-IN">S.O.
 1459(E).&#8212;&nbsp;In exercise of the powers conferred by sub-section (3) of
 Section 1 of the Companies Act, 2013(18 of 2013), the Central Government hereby
 appoints the6th day of June, 2014 as the date on which the provisions of
 sub-sections (2) and (3) of Section 74 of the said Act shall come into force.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right;" align="right"><span style="line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;" lang="EN-IN"><br>
 <br style="">
 <br style="">
 <o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right;" align="right"><span style="line-height: 115%; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;" lang="EN-IN">[F.
 No. 1/8/2013-CL-V ]<br>
 <br>
 AMARDEEP SINGH BHATIA, Jt.Secy.<o:p></o:p></span></p>
 </body></html>