<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal" style="text-align: center;" align="center"><b>GOVERNMENT
 OF
 INDIA</b><span style="line-height: 115%;"><br>
</span><b>Ministry of Corporate Affairs</b><span
style="line-height: 115%;"><br>
</span><b>Notification</b><span style="line-height: 115%;"><o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: right;" align="right"><span
style="line-height: 115%;">New Delhi, the 21st</span>&nbsp;<span
style="line-height: 115%;">May, 2014<o:p></o:p></span></p>
<p class="MsoNormal" style="text-align: justify;"><b>S.O. 1352(E) -</b>&nbsp;<span
style="line-height: 115%;">In exercise of the powers
 conferred by section 458 of the Companies Act, 2013 (18 of 2013), and
 in
 supersession of the notification of theGovernment of India, Ministry of
 Corporate Affairs, dated the 10th July, 2012, published in the Gazette
 of
 India, Extraordinary, Part II, Section 3, sub-section (ii) vide number
 S.O.
 1539 (E), dated the 10th' July, 2012, in so far as it relates toitems
 (a) to
 (f) and item (n), except as respects things done or omitted to be
 donebefore
 such supersession, the Central Government hereby delegates to the
 Regional
 Directors at Murnbai, Kolkata, Chennai, Noida, Ahmedabad, Hyderabad and
 Shillong, the power and functions vested in it under the following
 sections of
 the said Act, subject to the condition that the Central Government may
 revoke
 such delegation of powers or may itself exercise the powers under the
 said
 sections, if in its opinion such a course of action is necessary in the
 public
 interest, namely :-<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span
 style="line-height: 115%;">(a) clause (i) of sub-section (4) of
 section 8 (for
 alteration of memorandum in case of conversion into another kind of
 company);<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span
 style="line-height: 115%;">(b) sub-section (6) of section 8;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span
 style="line-height: 115%;">(c) sub-sections (4) and (5) of section 13;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span
 style="line-height: 115%;">(d) section 16;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span
 style="line-height: 115%;">(e) section 87;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span
 style="line-height: 115%;">(f) sub-section (3) of section 111;<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span
 style="line-height: 115%;">(g) sub-section (1) of section 140; and<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span
 style="line-height: 115%;">(h) proviso (i) to sub-section (1) of
 section 399.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: justify;"><span
 style="line-height: 115%;">2. This notification shall come into force
 with effect
 from the date of its publication in the Official Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal" style="text-align: right;" align="right"><b>[F No
 1/6/2014-CL.V]</b>&nbsp;<span style="line-height: 115%;"><br>
 <br>
 <br>
 </span><b>Amardeep Singh Bhatia,</b>&nbsp;<span
 style="line-height: 115%;"><br>
 </span><b>Joint Secretary to the Government of India</b><span
  style="line-height: 115%;"><o:p></o:p></span></p>
</body>
</html>

