 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="font-size: 9pt; line-height: 115%; color: black;">
 </span><span style="line-height: 115%;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b>GOVERNMENT
 OF INDIA</b><span style="line-height: 115%;"><br>
 </span><b>Ministry
 of
 Corporate Affairs</b><span style="line-height: 115%;"><br>
 </span><b>Notification</b><span
  style="line-height: 115%;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="line-height: 115%;">New
 Delhi, the
 21st</span>&nbsp;<span style="line-height: 115%;">May,
 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b>S.O.
 1354 (E)-</b>&nbsp;<span style="line-height: 115%;">in
 exercise of the powers conferred by section 458 of the Companies Act,
 2013 (18
 of 2013), and in supersession of the notification of the Government of
 India,
 Ministry of Corporate Affairs, published in the Gazette of India,
 Extraordinary, Part-II, Section 3, sub-section (i), vide number GSR
 650(E), dated
 the 19th" October, 2006 except as respects things done or omitted to be
 done before such supersession, the Central Government hereby delegates
 the
 powers and functions of the Central Government in respect of allotment
 of
 Director Identification Number under sections 153 and 154 of the said
 Act to
 the Regional Director, Joint Director, Deputy Director or Assistant
 Director
 posted in the office of Regional Director at Noida.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="line-height: 115%;">2.
 This
 notification shall come into force with effect from the date of its
 publication
 in the Official Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b>[F
 No 1/6/2014-CL.V]</b><span style="line-height: 115%;"><br>
 <br>
 <br>
 </span><b>Amardeep
 Singh
 Bhatia,</b>&nbsp;<span style="line-height: 115%;"><br>
 </span><b>Joint
 Secretary
 to the Government of India</b><span style="line-height: 115%;"><o:p></o:p></span></p>
 </body>
 </html>
 