<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>
<p class="MsoNormal"
style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
align="center"><b><span
style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">MINISTRY
 OF CORPORATE AFFAIRS</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
 align="center"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">ORDER</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
 align="right"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">New
 Delhi, the 2nd June, 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">S.O.
 1428(E)</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">.-
  In exercise of
 the powers conferredby sub-section (1) of Section 470 of the Companes
 Act,2013
 ( 18 of 2013), the Central Government hereby makesthe following Order to
 remove
 certain difficulties that havearisen in giving effect to the provisions
 of
 Section 73 of thesaid Act, namely:-<o:p></o:p></span></p>
  <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">1.
 (1) This Order may be called the Companies(Removal of Difficulties)
 Second Order, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">(2)
 It shall come into force at once.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">2.
 Jurisdiction, Powers, authority and functions ofCompany Law Board.-
 Until a date is notified by the CentralGovernment under sub-section (1)
 of
 Section 434 of theCompanies Act, 2013 (18 of 2013), the Company Law
 Boardconstituted in pursuance of sub-section (1) of Section 10Eof the
 Companies
 Act, 1956 (1 of 1956) shall exercise thejurisdiction, powers, authority
 and
 functions under subsection(4) of Section 73 of the Companies Act, 2013
 (18
 of2013).<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><span
  style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
< br style="">
< !--[if !supportLineBreakNewLine]--><br style="">
<!--[endif]--></span><span
style="font-size: 12pt; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p></o:p></span></p>
<p class="MsoNormal"
style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: right; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
align="right"><b><span
style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">[F.
 No.
 2/8/2014-CL-V ]</span></b><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
 <br>
 </span></b><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">AMARDEEP
 SINGH BHATIA,</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 

