<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>S.O_______ dated 24th March 2015</title></head><body>
<p style="widows: 132;" align="center"><b>[To be published in the
Gazette of India, Extraordinary, Part II, Section 3, Sub-section
(ii)]</b></p>
<p style="widows: 132;" align="center"><b>Government of India<br>Ministry
of Corporate Affairs<br>NOTIFICATION</b></p>
<p style="widows: 2;" align="right">Shastri Bhawan, &#8216;A&#8217; Wing, 5th
Floor,&nbsp;<br>New Delhi, dated: 24th March, 2015</p>
<p style="widows: 136;" align="justify"><b>S.O ___(E).-&nbsp;</b>In
 exercise of the powers conferred by section 454 of the Companies Act,
2013 (18 of 2013) read with the Companies (Adjudication of Penalties)
 Rules, 2014, the Central Government hereby appoints following
 Registrars of Companies as adjudicating officers for the purposes of
 this Act in respect of jurisdictions indicated against each
 Registrar.</p>
<table style="width: 359px; height: 2358px;" border="1" bordercolor="#00000a" cellpadding="5" cellspacing="0">
	<col width="28">
	<col width="169">
	<col width="383">
	<tbody><tr>
		<td width="28">
			<p><b>SI. No.</b></p>
		</td>
		<td width="169">
			<p><b>Designation</b></p>
		</td>
		<td width="383">
			<p><b>States/ Union territories under his jurisdiction</b></p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>1.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Delhi</p>
		</td>
		<td width="383">
			<p>Union territory of Delhi and whole State of Haryana.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>2.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Chandigarh</p>
		</td>
		<td width="383">
			<p>Whole State of Punjab and Union territory of Chandigarh.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>3.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Kanpur</p>
		</td>
		<td width="383">
			<p>Whole State of Uttar Pradesh</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>4.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies -cum-Official Liquidator, Nanital</p>
		</td>
		<td width="383">
			<p>Whole State of Uttarakhand</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>5.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies -cum-Official Liquidator, Jammu</p>
		</td>
		<td width="383">
			<p>Whole State of Jammu and Kashmir.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>6.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies -cum-Official Liquidator, Shimla</p>
		</td>
		<td width="383">
			<p>Whole State of Himachal Pradesh</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>7.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Kolkata</p>
		</td>
		<td width="383">
			<p>Whole State of West Bengal.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>8.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies -cum-Official Liquidator. Patna</p>
		</td>
		<td width="383">
			<p>Whole State of Bihar.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>9.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies -cum-Official Liquidator, Cuttack</p>
		</td>
		<td width="383">
			<p>Whole State of Orissa.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>10.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies -cum-Official Liquidator. Ranchi</p>
		</td>
		<td width="383">
			<p>Whole State of Jharkhand.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>11.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Shillong</p>
		</td>
		<td width="383">
			<p>Whole States of Assam, Meghalaya, Manipur, Tripura, Mizoram,
			Nagaland and Arunachal Pradesh.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>12.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Chennai</p>
		</td>
		<td width="383">
			<ol type="i"><li><p>Whole State of Tamil Nadu except Coimbatore, Dharmapuri,
				Dindigul, Erode, Krishnagiri, Namakkal, Nilgiris, Salem, Tiruppur
				districts.</p>
				</li><li><p>Union territory of Andaman and Nicobar Islands.</p>
			</li></ol>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>13.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Coimbatore</p>
		</td>
		<td width="383">
			<p>Coimbatore, Dharmapuri, Dindigul, Erode, Krishnagiri, Namakkal,
			Nilgiris, Salem, Tiruppur districts the State of Tamil Nadu.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>14.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Puducherry</p>
		</td>
		<td width="383">
			<p>Union territory of Puducherry</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>15.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Emakulam</p>
		</td>
		<td width="383">
			<p>Whole State of Kerala and Union territory of Lakshadweep
			Islands.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>16.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Hyderabad</p>
		</td>
		<td width="383">
			<p>Whole States of Andhra Pradesh and Telangana.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>17.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Bangalore</p>
		</td>
		<td width="383">
			<p>Whole State of Karnataka.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>18.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Mumbai</p>
		</td>
		<td width="383">
			<p>Whole State of Maharashtra except Pune, Ahmednagar, Kolhapur,
			Solapur, Satara, Sangli, Ratnagiri, Sindhudurg.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>19.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Pune</p>
		</td>
		<td width="383">
			<p>Pune, Ahmednagar, Kolhapur, Solapur, Satara, Sangli, Ratnagiri,
			Sindhudurg districts the State of Maharashtra.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>20.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies -cum-Official Liquidator, Goa</p>
		</td>
		<td width="383">
			<p>Whole State of Goa and Union territory of Daman and Diu.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>21.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Ahmedabad</p>
		</td>
		<td width="383">
			<p>Whole State of Gujarat and Union territory of Dadra and Nagar
			Haveli.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>22.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies, Gwalior</p>
		</td>
		<td width="383">
			<p>Whole State of Madhya Pradesh.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>23.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies -cum-Official Liquidator, Bilaspur</p>
		</td>
		<td width="383">
			<p>Whole State of Chhattisgarh.</p>
		</td>
	</tr>
	<tr>
		<td width="28">
			<p>24.</p>
		</td>
		<td width="169">
			<p>Registrar of Companies -cum-Official Liquidator, Jaipur</p>
		</td>
		<td width="383">
			<p>Whole State of Rajasthan.</p>
		</td>
	</tr>
</tbody></table>
<p><br>
</p>
<p style="widows: 136;" align="justify">2. The Appeals, if any, filed
 before the concerned Regional Director having jurisdiction over the
 adjudicating offices shall be disposed of in accordance with the
 notification of the Government of India in the Ministry of Corporate
 Affairs published in the Gazette of India, Extraordinary, Part II,
 Section 3 Sub-section (i), vide number G.S.R. 887 (E), dated the
 14th December, 2011 and G.S.R.763 (E), dated the 15th October, 2012.</p>
<p style="widows: 136;" align="justify">3. This notification shall come
 into force with immediate effect.</p>
<p><br>
</p>
<p style="widows: 2;" align="right">[F. No.
 A-42011/112/2014-Ad.lI]<br><br>(AMARDEEP SINGH BHATIA)&nbsp;<br>Joint
 Secretary to the Government of India</p>
<p><br>
</p></body></html>