 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; text-align: center; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
  align="center"><b><i><span lang="EN-US">SCHEDULE
  VI<a style="" href="#_ftn1" name="_ftnref1"
  title=""><span class="MsoFootnoteReference"><span
  style=""><!--[if !supportFootnotes]--><span
  class="MsoFootnoteReference"><b style=""><span
  style="font-size: 12pt; line-height: 107%;" lang="EN-US">[1]</span></b></span><!--[endif]--></span></span></a></span></i></b></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; text-align: center; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
  align="center"><span lang="EN-US">(<i>See
 </i>sections 55 and 186)</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; text-align: center; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
  align="center"><span lang="EN-US"><o:p>&nbsp;</o:p></span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">The term
 "infrastructural projects" or "infrastructural facilities"
 includes the following projects or activities:-</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(1) Transportation
 (including inter modal transportation), includes the following:-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>) roads, national
 highways, state highways, major district roads, other district roads
 and
 village roads, including toll roads, bridges, highways, road transport
 providers and other road-related services;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>) rail
 system, rail transport providers, metro rail roads and other railway
 related
 services;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>c</i>) ports
 (including minor ports and harbours), inland waterways, coastal
 shipping
 including shipping lines and other port related services;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>d</i>) aviation,
 including airports, heliports, airlines and other airport related
 services;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>e</i>) logistics
 services.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(2) Agriculture,
 including the following, namely:-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>)
 infrastructure related to storage facilities;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>)
 construction relating to projects involving agro-processing and supply
 of
 inputs to agriculture;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>c</i>)
 construction for preservation and storage of processed agro-products,
 perishable goods such as fruits, vegetables and flowers including
 testing
 facilities for quality.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(3) Water management,
 including the following, namely:-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>) water
 supply or distribution;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>) irrigation;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>c</i>) water
 treatment.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(4) Telecommunication,
 including the following, namely:-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>) basic or
 cellular, including radio paging;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>) domestic
 satellite service (<i>i.e</i>., satellite owned and
 operated by an
 Indian
 company for providing telecommunication service);</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>c</i>) network
 of trunking, broadband network and internet services.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(5) Industrial,
 commercial and social development and maintenance, including the
 following,
 namely:-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>) real
 estate development, including an industrial park or special economic
 zone;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>) tourism,
 including hotels, convention centres and entertainment centres;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>c</i>) public
 markets and buildings, trade fair, convention, exhibition, cultural
 centres,
 sports and recreation infrastructure, public gardens and parks;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>d</i>)
 construction of educational institutions and hospitals;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>e</i>) other
 urban development, including solid waste management systems, sanitation
 and
 sewerage systems.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(6) Power, including the
 following:-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>)
 generation of power through thermal, hydro, nuclear, fossil fuel, wind
 and
 other renewable sources;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>)
 transmission, distribution or trading of power by laying a network of
 new
 transmission or distribution lines.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(7) Petroleum and natural
 gas, including the following:-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>)
 exploration and production;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>) import
 terminals;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>c</i>) liquefaction
 and re-gasification;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>d</i>) storage
 terminals;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>e</i>)
 transmission networks and distribution networks including city gas
 infrastructure.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(8) Housing, including
 the following:-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>) urban and
 rural housing including public/mass housing, slum rehabilitation, etc.;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>) other
 allied activities such as drainage, lighting, laying of roads,
 sanitation and
 facilities.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(9) Other miscellaneous
 facilities/services, including the following:-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>) mining
 and related activities;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>)
 technology related infrastructure;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>c</i>) manufacturing
 of components and materials or any other utilities or facilities
 required by
 the infrastructure sector like energy saving devices and metering
 devices;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>d</i>)
 environment related infrastructure;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>e</i>) disaster
 management services;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>f</i>)
 preservation of monuments and icons;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>g</i>) emergency
 services (including medical, police, fire and rescue).</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(10) such other facility
 service as may be prescribed.</span></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span>***</p>
 <div style="font-family: Arial;"><!--[if !supportFootnotes]--><br
  clear="all">
 <hr align="left" size="1" width="33%">
 <!--[endif]-->
 <div style="" id="ftn1">
 <p class="MsoFootnoteText"><a style=""
  href="#_ftnref1" name="_ftn1" title=""><span
  class="MsoFootnoteReference"><span style=""><!--[if !supportFootnotes]--><span
  class="MsoFootnoteReference"><span
  style="font-size: 10pt; line-height: 107%;">[1]</span></span><!--[endif]--></span></span></a><i
  style=""><span style="" lang="EN-US">The
 heading 'Infrastructure
 Projects/Infrastructural Facilities' should
 have been provided.<o:p></o:p></span></i></p>
 </div>
 </div>
 </body>
 </html>
