 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; text-align: center; font-family: Arial;"
  align="center"><b><i><span lang="EN-US">SCHEDULE
  VII<a style="" href="#_ftn1" name="_ftnref1"
  title=""><span class="MsoFootnoteReference"><span
  style=""><!--[if !supportFootnotes]--><span
  class="MsoFootnoteReference"><b style=""><span
  style="font-size: 12pt; line-height: 107%;" lang="EN-US">[1]</span></b></span><!--[endif]--></span></span></a></span></i></b></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; text-align: center; font-family: Arial;"
  align="center"><span lang="EN-US">(<i>See
 </i>section 135)</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; text-align: center; font-family: Arial;"
  align="center"><span lang="EN-US">ACTIVITIES
 WHICH MAY BE INCLUDED BY
 COMPANIES IN THEIR CORPORATE
 SOCIAL RESPONSIBILITY POLICIES</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">Activities relating to:-</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US"><o:p>&nbsp;</o:p></span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>i</i>)
 eradicating hunger, poverty and malnutrition, promoting preventive<span
  style="">&nbsp; </span>health care and sanitation
 &nbsp;<a style="" href="#_ftn2" name="_ftnref2"
  title=""><span class="MsoFootnoteReference"><span
  style=""><!--[if !supportFootnotes]--><span
  class="MsoFootnoteReference"><span
  style="font-size: 12pt; line-height: 107%;" lang="EN-US">[2]</span></span><!--[endif]--></span></span></a>
 including&nbsp;
 contribution to the swach Bharat Kosh set-up by the Central Government
 for the
 promotion of sanitation and making available safe drinking water;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>ii</i>)
 promotion of education including special education and employment
 &nbsp;enhancing&nbsp;
 vocation skills especially among children, women, elderly and&nbsp;
 the
 &nbsp;differently
 &nbsp;abled and livelihood enhancement projects;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>iii</i>)
 promoting gender equality, empowering women, setting up homes and
 hostels for
 women and orphans; setting up old age homes, day care centres and such
 other
 facilities for senior citizens and measures for reducing
 inequalities&nbsp;
 faced by
 socially and economically backward groups;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>iv</i>) ensuring&nbsp;
 environmental &nbsp;sustainability, ecological balance, protection
 of flora
 and
 fauna, animal welfare, agroforestry, conservation of natural
 &nbsp;resources
 &nbsp;and&nbsp;
 maintaining quality of soil, air and water<a style=""
  href="#_ftn3" name="_ftnref3" title=""><span
  class="MsoFootnoteReference"><span style=""><!--[if !supportFootnotes]--><span
  class="MsoFootnoteReference"><span
  style="font-size: 12pt; line-height: 107%;" lang="EN-US">[3]</span></span><!--[endif]--></span></span></a>&nbsp;
 including contribution to clean Ganga Fund set-up by Central&nbsp;
 Government&nbsp;
 for
 &nbsp;rejuvenation of river Ganga;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>v</i>)
 protection of national heritage, art and culture including restoration
 of
 buildings and sites of historical importance and works of art; setting
 up
 public libraries; promotion and development of traditional arts and
 handicrafts;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>vi</i>)
 measures for the benefit of armed forces veterans, war widows and their
 dependents;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(v<i>ii</i>) training to promote
 rural sports, &nbsp;nationally&nbsp;
 recognized
 &nbsp;sports, Paralympic sports and Olympic sports;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><i
  style=""><span lang="EN-US">(viii)</span></i><span
  lang="EN-US">
 contribution to the Prime
 Minister's National Relief Fund or any other fund set up by the Central
 Government for socio-economic development and relief and welfare of the
 Scheduled Castes, the&nbsp; Scheduled Tribes, other backward
 classes,
 minorities and
 women;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><i
  style=""><span lang="EN-US">(ix)</span></i><span
  lang="EN-US">
 contribution or funds provided to
 technology incubators located within academic institutions which are
 approved
 by the Central Government; </span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><i
  style=""><span lang="EN-US">(<span style="">x</span>)</span></i><span
  lang="EN-US"> rural development projects.</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(xi) Slum area
 development</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">Explanation.- For
 the purposes of this item, the term 'slum area' shall mean any area
 declared as
 such by the Central Government or any State Government or any
 &nbsp;other
 &nbsp;competent
 &nbsp;authority under any law </span><span
  style="font-size: 10.5pt;" lang="EN-US">for </span><span
  lang="EN-US">the
 time being in force.</span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span>***</p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <div style="font-family: Arial;"><!--[if !supportFootnotes]--><br
  clear="all">
 <hr align="left" size="1" width="33%">
 <!--[endif]-->
 <div style="" id="ftn1">
 <p class="MsoFootnoteText"><a style=""
  href="#_ftnref1" name="_ftn1" title=""><span
  class="MsoFootnoteReference"><span style=""><!--[if !supportFootnotes]--><span
  class="MsoFootnoteReference"><span
  style="font-size: 10pt; line-height: 107%;">[1]</span></span><!--[endif]--></span></span></a><span
  style="" lang="EN-US">As amended vide Notification
 dated
 27<sup>th</sup> February 2014.<o:p></o:p></span></p>
 </div>
 <div style="" id="ftn2">
 <p class="MsoFootnoteText"><a style=""
  href="#_ftnref2" name="_ftn2" title=""><span
  class="MsoFootnoteReference"><span style=""><!--[if !supportFootnotes]--><span
  class="MsoFootnoteReference"><span
  style="font-size: 10pt; line-height: 107%;">[2]</span></span><!--[endif]--></span></span></a>
 <span style="" lang="EN-US">Inserted vide
 notification G.S.R.
 741(E) datetd 24<sup>th</sup> October 2014.<o:p></o:p></span></p>
 </div>
 <div style="" id="ftn3">
 <p class="MsoFootnoteText"><a style=""
  href="#_ftnref3" name="_ftn3" title=""><span
  class="MsoFootnoteReference"><span style=""><!--[if !supportFootnotes]--><span
  class="MsoFootnoteReference"><span
  style="font-size: 10pt; line-height: 107%;">[3]</span></span><!--[endif]--></span></span></a>
 <span style="" lang="EN-US">Inserted vide
 notification G.S.R.
 741(E) datetd 24<sup>th</sup> October 2014.<o:p></o:p></span></p>
 </div>
 </div>
 </body>
 </html>
