<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border: 1px solid #ddd;
		background-color: #FFF !important;">
        <tbody>
        <tr>
            <td width="600" valign="top">
                <p>
                    Name of the entity in the
                </p>
            </td>
            <td colspan="2" valign="top">
                <p align="center">
                    Net Assets, <em>i.e</em>., total assets minus total
                    liabilities
                </p>
            </td>
            <td colspan="2" valign="top">
                <p align="center">
                    Share in profit or loss
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
            </td>
            <td width="150" valign="top">
                <p align="center">
                    As % of consolidated net assets
                </p>
            </td>
            <td width="150" valign="top">
                <p align="center">
                    Amount
                </p>
            </td>
            <td width="150" valign="top">
                <p align="center">
                    As % of consolidated profit or loss
                </p>
            </td>
            <td width="150" valign="top">
                <p align="center">
                    Amount
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    1
                </p>
            </td>
            <td valign="top">
                <p align="center">
                    2
                </p>
            </td>
            <td valign="top">
                <p align="center">
                    3
                </p>
            </td>
            <td valign="top">
                <p align="center">
                    4
                </p>
            </td>
            <td valign="top">
                <p align="center">
                    5
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Parent Subsidiaries Indian
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Foreign
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Minority Interests in all subsidiaries
                </p>
                <p>
                    Associates (Investment as per the equity method) Indian
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Foreign
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Joint Ventures
                </p>
                <p>
                    (as per proportionate consolidation/ investment as per the
                    equity method) Indian
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Foreign
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    TOTAL
                </p>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
	<br /><br /><br /><br />
<div style="width:100%; text-align:center; padding-left:350px;">
    <a href="Schedule_3.html#table_3">GO BACK </a></div>