<table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border: 1px solid #ddd;
		background-color: #FFF !important;">
	 <tbody>
        <tr>
            <td width="106" valign="top">
                <p>
                    <strong>Name of the entity in the Group</strong>
                </p>
            </td>
            <td width="142" colspan="2" valign="top">
                <p>
                    <strong>Net Assets, i.e., total</strong>
                </p>
                <p>
                    <strong>assets minus total</strong>
                </p>
                <p>
                    <strong>liabilities</strong>
                </p>
            </td>
            <td width="161" colspan="2" valign="top">
                <p>
                    <strong>Share in profit or loss</strong>
                </p>
            </td>
            <td width="151" colspan="2" valign="top">
                <p>
                    <strong>Share in other</strong>
                </p>
                <p>
                    <strong>comprehensive income</strong>
                </p>
            </td>
            <td width="127" colspan="2" valign="top">
                <p>
                    <strong>Share in total comprehensive income</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="106" valign="top">
                <p>
                    Parent
                </p>
                <p>
                    Subsidiaries
                </p>
                <p>
                    Indian
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Foreign
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Non-controlling Interests in all
                </p>
                <p>
                    subsidiaries
                </p>
                <p>
                    Associates (Investment as per the
                </p>
                <p>
                    equity method)
                </p>
                <p>
                    Indian
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.<strong></strong>
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Foreign
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Joint Ventures(investment as per
                </p>
                <p>
                    the equity method)
                </p>
                <p>
                    Indian
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
                <p>
                    Foreign
                </p>
                <p>
                    1.
                </p>
                <p>
                    2.
                </p>
                <p>
                    3.
                </p>
                <p>
                    .
                </p>
                <p>
                    .
                </p>
            </td>
            <td width="76" valign="top">
                <p>
                    As % of
                </p>
                <p>
                    consolidated
                </p>
                <p>
                    net assets
                </p>
            </td>
            <td width="66" valign="top">
                <p>
                    Amount
                </p>
            </td>
            <td width="76" valign="top">
                <p>
                    As % of consolidated profit or loss
                </p>
            </td>
            <td width="85" valign="top">
                <p>
                    Amount
                </p>
            </td>
            <td width="85" valign="top">
                <p>
                    As % of consolidated other comprehensive income
                </p>
            </td>
            <td width="66" valign="top">
                <p>
                    Amount
                </p>
            </td>
            <td width="65" valign="top">
                <p>
                    As % of total comprehensive income
                </p>
            </td>
            <td width="62" valign="top">
                <p>
                    Amount
                </p>
            </td>
        </tr>
        <tr>
            <td width="106" valign="top">
                <p>
                    <strong>Total</strong>
                </p>
            </td>
            <td width="76" valign="top">
            </td>
            <td width="66" valign="top">
            </td>
            <td width="76" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
            <td width="85" valign="top">
            </td>
            <td width="66" valign="top">
            </td>
            <td width="65" valign="top">
            </td>
            <td width="62" valign="top">
            </td>
        </tr>
    </tbody>
</table>
<br /><br /><br /><br />
<div style="width:100%; text-align:center; padding-left:350px;">
    <a href="Schedule_3.html#table_2">GO BACK </a></div>