 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; text-align: center; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
  align="center"><b><i><span lang="EN-US">SCHEDULE
  IV</span></i></b></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; text-align: center; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
  align="center"><span lang="EN-US">[<i>See
 </i>section 149(7)]</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; text-align: center; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
  align="center"><b><span lang="EN-US">CODE
 FOR INDEPENDENT DIRECTORS</span></b></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">The Code is a guide to
 professional conduct for independent directors. Adherence to these
 standards by
 independent directors and fulfilment of their responsibilities in a
 professional and faithful manner will promote confidence of the
 investment
 community, particularly minority shareholders, regulators and companies
 in the
 institution of independent directors.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><b><span
  lang="EN-US">I. Guidelines of
 professional conduct :</span></b></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">An independent director
 shall :</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(1) uphold ethical
 standards of integrity and probity;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(2) act objectively
 and constructively while exercising his duties;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(3) exercise his
 responsibilities in a <i>bona fide </i>manner in the
 interest of the
 company;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(4) devote
 sufficient time and attention to his professional obligations for
 informed and
 balanced decision making;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(5) not allow any
 extraneous considerations that will vitiate his exercise of objective
 independent judgment in the paramount interest of the company as a
 whole, while
 concurring in or dissenting from the collective judgment of the Board
 in its
 decision making;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(6) not abuse his
 position to the detriment of the company or its shareholders or for the
 purpose
 of gaining direct or indirect personal advantage or advantage for any
 associated person;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(7) refrain from any
 action that would lead to loss of his independence;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(8) where
 circumstances arise which make an independent director lose his
 independence,
 the independent director must immediately inform the Board accordingly;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(9) assist the
 company in implementing the best corporate governance practices.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><b><span
  lang="EN-US">II. Role and functions
 :</span></b></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">The independent directors
 shall :</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(1) help in bringing
 an independent judgment to bear on the Board's deliberations especially
 on
 issues of strategy, performance, risk management, resources, key
 appointments
 and standards of conduct;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(2) bring an
 objective view in the evaluation of the performance of board and
 management;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(3) scrutinise the
 performance of management in meeting agreed goals and objectives and
 monitor
 the reporting of performance;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(4) satisfy
 themselves on the integrity of financial information and that financial
 controls and the systems of risk management are robust and defensible;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(5) safeguard the
 interests of all stakeholders, particularly the minority shareholders;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(6) balance the
 conflicting interest of the stakeholders;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(7) determine
 appropriate levels of remuneration of executive directors, key
 managerial
 personnel and senior management and have a prime role in appointing and
 where
 necessary recommend removal of executive directors, key managerial
 personnel
 and senior management;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(8) moderate and
 arbitrate in the interest of the company as a whole, in situations of
 conflict
 between management and shareholder's interest.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><b><span
  lang="EN-US">III. Duties :</span></b></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">The independent directors
 shall-</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(1) undertake appropriate induction and
 regularly update and refresh their skills,
 knowledge
 and familiarity with the company;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(2) seek appropriate clarification or
 amplification of information and, where necessary,
 take and
 follow appropriate professional advice and opinion of outside experts
 at the
 expense of the company;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(3) strive to attend
 all meetings of the Board of Directors and of the Board committees of
 which he
 is a member;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (4) participate constructively and actively in the committees of the
 Board in which
 they are
 chairpersons or members;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (5) strive to attend the general meetings of the company;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (6) where they have concerns about the running of the company or a
 proposed action, ensure
 that
 these are addressed by the Board and, to the extent that they are not
 resolved,
 insist that their concerns are recorded in the minutes of the Board
 meeting;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (7) keep themselves well informed about the company and the external
 environment in which
 it
 operates;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (8) not to unfairly obstruct the functioning of an otherwise proper
 Board or committee of
 the
 Board;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (9) pay sufficient attention and ensure that adequate deliberations are
 held before
 approving
 related party transactions and assure themselves that the same are in
 the
 interest of the company;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; text-indent: -22.7pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (10) ascertain and ensure that the company has an adequate and
 functional
 vigil
 mechanism and to ensure that the interests of a person who uses such
 mechanism
 are not prejudicially affected on account of such use;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; text-indent: -22.7pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (11) report concerns about unethical behaviour, actual or suspected
 fraud or
 violation of the company's code of conduct or ethics policy;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; text-indent: -22.7pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (12)acting within his authority, assist in protecting the legitimate
 interests of
 the company, shareholders and its employees;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; text-indent: -22.7pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">
 (13) not disclose confidential information, including commercial
 secrets,
 technologies, advertising and sales promotion plans, unpublished price
 sensitive information, unless such disclosure is expressly approved by
 the
 Board or required by law.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><b><span
  lang="EN-US">IV. Manner of
 appointment :</span></b></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(1) Appointment
 process of independent directors shall be independent of the company
 management; while selecting independent directors the Board shall
 ensure that
 there is appropriate balance of skills, experience and knowledge in the
 Board
 so as to enable the Board to discharge its functions and duties
 effectively.</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(2) The appointment
 of independent director(s) of the company shall be approved at the
 meeting of
 the shareholders.</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(3) The explanatory
 statement attached to the notice of the meeting for approving the
 appointment
 of independent director shall include a statement that in the opinion
 of the
 Board, the independent director proposed to be appointed fulfils the
 conditions
 specified in the Act and the rules made thereunder and that the
 proposed
 director is independent of the management.</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(4) The appointment
 of independent directors shall be formalised through a letter of
 appointment,
 which shall set out :</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>) the term
 of appointment;</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>) the
 expectation of the Board from the appointed director; the Board-level
 committee(s)
 in which the director is expected to serve and its tasks;</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>c</i>) the
 fiduciary duties that come with such an appointment along with
 accompanying
 liabilities;</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>d</i>) provision
 for Directors and Officers (D and O) insurance, if any;</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>e</i>) the Code
 of Business Ethics that the company expects its directors and employees
 to
 follow;</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>f</i>) the list
 of actions that a director should not do while functioning as such in
 the
 company; and</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>g</i>) the
 remuneration, mentioning periodic fees, reimbursement of expenses for
 participation in the Boards and other meetings and profit related
 commission,
 if any.</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(5) The terms and
 conditions of appointment of independent directors shall be open for
 inspection
 at the registered office of the company by any member during normal
 business
 hours.</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(6) The terms and
 conditions of appointment of independent directors shall also be posted
 on the
 company's website.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><b><span
  lang="EN-US">V. Re-appointment :</span></b></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">The re-appointment of
 independent director shall be on the basis of report of performance
 evaluation.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><b><span
  lang="EN-US">VI. Resignation or
 removal :</span></b></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(1) The resignation
 or removal of an independent director shall be in the same manner as is
 provided in sections 168 and 169 of the Act.</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(2) An independent
 director who resigns or is removed from the Board of the company shall
 be replaced
 by a new independent director within a period of not more than one
 hundred and
 eighty days from the date of such resignation or removal, as the case
 may be.</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(3) Where the
 company fulfils the requirement of independent directors in its Board
 even without
 filling the vacancy created by such resignation or removal, as the case
 may be,
 the requirement of replacement by a new independent director shall not
 apply.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><b><span
  lang="EN-US">VII. Separate meetings
 :</span></b></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(1) The independent
 directors of the company shall hold at least one meeting in a year,
 without the
 attendance of non-independent directors and members of management;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(2) All the
 independent directors of the company shall strive to be present at such
 meeting;</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(3) The meeting
 shall :</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>a</i>) review
 the performance of non-independent directors and the Board as a whole;</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>b</i>) review
 the performance of the Chairperson of the company, taking into account
 the
 views of executive directors and non-executive directors;</span></p>
 <p class="indent2"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(<i>c</i>) assess
 the quality, quantity and timeliness of flow of information between the
 company
 management and the Board that is necessary for the Board to effectively
 and
 reasonably perform their duties.</span></p>
 <p class="tx"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><b><span
  lang="EN-US">VIII. Evaluation
 mechanism :</span></b></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(1) The performance
 evaluation of independent directors shall be done by the entire Board
 of Directors,
 excluding the director being evaluated.</span></p>
 <p class="indent1"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  lang="EN-US">(2) On the basis of
 the report of performance evaluation, it shall be determined whether to
 extend
 or continue the term of appointment of the independent director.</span></p>
 <p style="font-family: Arial;" class="MsoNormal"><span
  style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span>***<span style="font-size: 8.5pt; line-height: 107%;"
  lang="EN-US"><o:p></o:p></span></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html>
