<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">GOVERNMENT
 OF INDIA<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">Notification<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><b
  style=""><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;"><o:p>&nbsp;</o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">New
 Delhi, dated -4th
 September, 2015<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="background: white none repeat scroll 0%; font-size: 10pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">S.O.(E).
 - In exercise of
 the powers conferred by the sub-section (6) of section 129 of the
 Companies
 Act, 2013 (18 of 2013), the Central Government hereby, in public
 interest,
 directs that paras 5 (ii) (a) ( 1 ), 5 (ii) (a) (2), 5(ii) (e), 5
 (iii), 5
 (viii) (a), 5 (viii) (b), 5 (viii) (c) and 5 (viii) (e) relating to
 Additional
 Information of the General Instructions for preparation of Statement of
 Profit
 and Loss in Schedule III of the Companies Act, 2013 shall not apply to
 government companies producing Defence Equipment including the Space
 Research
 subject to fulfilment of following conditions, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">Conditions:<o:p></o:p></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin-left: 42pt; text-align: justify; text-indent: -24pt; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">A.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]-->The
 Board of Directors of the Company has given
 consent with regard to non-disclosure of information relating to paras
 5(ii)(a)(1), 5(ii)(a)(2), 5(ii)(e), 5(iii), 5(viii)(a), 5(v iii)(b),
 5(viii)(c)
 and 5(viii)(e), as may be applicable; <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 42pt; text-align: justify; text-indent: -24pt; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">B.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]-->The
 Company shall disclose in the Notes forming
 part of the balance sheet and profit and loss account, the fact of
 grant of
 exemption under this notification; <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 42pt; text-align: justify; text-indent: -24pt; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">C.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]-->The
 company shall comply with the prescribed
 Accounting Standards;<o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 42pt; text-align: justify; text-indent: -24pt; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">D.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]-->The
 company shall ensure that its financial
 statements represent a true and fair state of affairs of its finances;
 and <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-left: 42pt; text-align: justify; text-indent: -24pt; font-family: Arial;"><!--[if !supportLists]--><span
  style=""><span style="">E.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]-->The
 company shall maintain and file such
 information as may be prescribed or called for or required by the
 government or
 the Reserve Bank of India or any other regulator.<o:p></o:p></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin-left: 42pt; text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;">2. This
 notification shall be applicable in respect of financial statement
 prepared in
 respect of the financial years ending on or after the 31st March, 2016.
 <o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">[F.
 No. 1/19/2013-CL-V-Part] <o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span>Sd/-<o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">AMARDEEP
 SINGH BHATIA <o:p></o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right">Joint
 Secretary <o:p></o:p></p>
 </body>
 </html>
 