<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>SO129(E) dated 9th January 2014</title></head><body>
<p style="widows: 4;" align="center"><font face="Times New Roman, serif">[To
be published in the Gazette of India, Extraordinary, Part II, Section
3, Sub-section (ii)]</font></p>
<p style="widows: 4;" align="center"><font face="Times New Roman, serif">GOVERNMENT
OF INDIA<br>MINISTRY OF CORPORATE AFFAIRS<br></font><font face="Times New Roman, serif"><b>Notification</b></font></p>
<p style="widows: 2;" align="right"><font face="Times New Roman, serif">New
Delhi, dated 9th &nbsp;January, 2015</font></p>
<p style="widows: 8;" align="justify"><font face="Times New Roman, serif">S.O
129 (E). - In pursuance of sub-section (2) of section 439 of the
Companies Act, 2013 (18 of 2013), the Central Government hereby
authorises the following officers in the office of Regional Director
(Northern Region) at Noida for the purposes of filing complaint under
section 159 of the said Act in respect of offences under section 155
of the said Act, namely :-</font></p>
<p><br>
</p>
<table style="width: 341px; height: 428px;" border="1" bordercolor="#00000a" cellpadding="5" cellspacing="1">
	<col width="45">
	<col width="543">
	<tbody><tr valign="top">
		<td height="50" width="45">
			<p><font face="Times New Roman, serif"><br>S&nbsp;<br>No.</font></p>
		</td>
		<td width="543">
			<p><font face="Times New Roman, serif">Name of officers</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="45">
			<p><font face="Times New Roman, serif">1.</font></p>
		</td>
		<td width="543">
			<p><font face="Times New Roman, serif">Dr. Raj Singh, Joint
			Director</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="45">
			<p><font face="Times New Roman, serif">2.</font></p>
		</td>
		<td width="543">
			<p><font face="Times New Roman, serif">Shri A.M.Singh, Joint
			Director</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="45">
			<p><font face="Times New Roman, serif">3.</font></p>
		</td>
		<td width="543">
			<p><font face="Times New Roman, serif">Ms. P. Sheela, Joint
			Director</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="45">
			<p><font face="Times New Roman, serif">4.</font></p>
		</td>
		<td width="543">
			<p><font face="Times New Roman, serif">Shri R.K.Tiwari, Joint
			Director</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="45">
			<p><font face="Times New Roman, serif">5.</font></p>
		</td>
		<td width="543">
			<p><font face="Times New Roman, serif">Shri Ch. Jaganadh Reddy,
			Assistant Director</font></p>
		</td>
	</tr>
</tbody></table>
<p><br>
</p>
<p style="widows: 2;" align="right"><font face="Times New Roman, serif">[F.
No.1/6/2014-CL V]<br><br><br>(AMARDEEP SINGH BHATIA)&nbsp;<br>Joint
Secretary</font></p>
<p><br>
</p></body></html>