<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
</head>
<body>
<p class="MsoNormal"
 style="text-align: center; font-family: Arial;" align="center"><b>Annexure</b><o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><b><u>Table
 of Fees</u></b><u><br>
 <b>(pursuant to rule 12 of the Companies (Registration of Offices
 and Fees)
 Rules, 2014)</b></u><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>I.
 Fee for filings etc. under section 403 of the
 Companies Act, 2013</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Table
 of fees for the documents required to be submitted,
 filed, registered or recorded or for any fact or information required
 or
 authorized to be registered under the Act, shall be submitted filed,
 registered
 or recorded within the time specified in the relevant provision on
 payment of 
  fee as prescribed hereunder :-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>A.
 TABLE OF FEES TO BE PAID TO THE REGISTRAR</b><o:p></o:p></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 323px; height: 4110px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>(I) In respect of a
 company having a share capital :</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Other than OPCs and Small
 Companies<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">*OPC and Small Companies<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>1.</b>&nbsp;(a)
 For OPC and small companies whose
 nominal share capital does not exceeds Rs. 10,00,000.<br>
       <br>
 (b) For OPC and small companies whose nominal share capital exceeds Rs.
 10,00,000 and upto Rs.50,00,000/-<br>
       <br>
 (c) For registration of a company whose nominal share capital does not
 exceeds Rs. 1,00,000.<o:p></o:p></p>
       </td>
       <td rowspan="2" style="padding: 3.75pt;"
  valign="top">
       <p class="MsoNormal">---<br>
       <br>
 ---&nbsp;<br>
       <br>
 5000<o:p></o:p></p>
       </td>
       <td rowspan="3" style="padding: 3.75pt;"
  valign="top">
       <p class="MsoNormal">2000<br>
      <br>
  200<br>
      <br>
 ---<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>2.</b>&nbsp;For
 registration of a company whose nominal
 share capital exceeds Rs. 1,00,000, the above fee of Rs. 5,000 with the
 following additional fees regulated according to the amount of nominal
 capital :<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(a) for every Rs. 10,000 of
 nominal share capital or part
 of Rs. 10,000 after the first Rs. 1,00,000 upto Rs. 5,00,000<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">400<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(b) for every Rs. 10,000 of
 nominal share capital or part
 of Rs 10,000 after the first Rs. 5,00,000 upto Rs. 50,00,000<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">300<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">150<o:p></o:p></p>
      </td>
      </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(c) for every Rs. 10,000 of
 nominal share capital or part
 of Rs. 10,000 after the first Rs. 50,00,000 upto Rs. one crore<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">100<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
      <p class="MsoNormal">NA<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(d) for every Rs. 10,000 of
 nominal share capital or part
 of Rs. 10,000 after the first Rs. 1 crore.<br>
       <br>
       <br>
       <b>Provided</b>&nbsp;that where the additional
 fees, regulated according to
  the amount of the nominal capital of a company, exceeds a sum of rupees
 two
 crore and fifty lakh, the total amount of additional fees payable for
 the
 registration of such company shall not, in any case, exceed rupees two
 crore
 and fifty lakhs.&nbsp;<b>3.</b>&nbsp;For filing a
 notice of any increase in
 the nominal share capital of a company, the difference between the fees
 payable on the increased share capital on the date of filing the notice
  for
 the registration of a company and the fees payable on existing
 authorized
 capital, at the rates prevailing on the date of filing the notice.<br>
       <br>
       <b>4.</b>&nbsp;For registration of any existing
 company, except such
 companies as are by this Act exempted from payment of fees in respect
 of
 registration under this Act, the same fee is charged for registering a
 new
 company.<br>
       <br>
       <b>5.&nbsp;</b>For submitting, filing,
 registering or recording any document
 by this Act required or authorised to be submitted, filed, registered
 or
 recorded<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;" valign="top">
       <p class="MsoNormal">75<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;" valign="top">
       <p class="MsoNormal">NA<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(a) in respect of a company
 having a nominal share capital
 of upto 1,00,000.<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">200<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(b) in respect of a company
 having a nominal share capital
 of Rs. 1,00,000 or more but less than Rs.5,00,000.<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">300<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(c) in respect of a company
 having a nominal share capital
 of Rs. 5,00,000 or more but less than Rs.25,00,000<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">400<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(d) in respect of a company
 having a nominal share capital
 of Rs.25,00,000 or more but less than Rs. 1 crore or more.<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">500<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(e) in respect of a company
 having a nominal share capital
 of Rs. 1 crore or more.<br>
       <br>
       <b>6.&nbsp;</b>For making a record of or
 registering any fact by this Act
 required or authorised to be recorded or registered by the Registrar -<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;" valign="top">
       <p class="MsoNormal">600<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(a) in respect of a company
 having a nominal share capital
 of upto 1,00,000.<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">200<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(b) in respect of a company
 having a nominal share capital
 of Rs. 1,00,000 or more but less than Rs.5,00,000.<o:p></o:p></p>
        </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">300<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(c) in respect of a company
 having a nominal share capital
 of Rs. 5,00,000 or more but less than Rs.25,00,000<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">400<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
        </td>
     </tr>
     <tr style="">
      <td style="padding: 3.75pt;">
       <p class="MsoNormal">(d) in respect of a company
 having a nominal share capital
 of Rs.25,00,000 or more but less than Rs. 1 crore or more.<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">500<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(e) in respect of a company
 having a nominal share capital
 of Rs. 1 crore or more.<o:p></o:p></p>
        </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">600<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">&nbsp;<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>(II) In respect of a
 company not having a share capital
 :</b><o:p></o:p></p>
       </td>
       <td colspan="2" style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>7.&nbsp;</b>For
 registration of a company whose number
 of members as stated in the articles of association, does not exceed 20<o:p></o:p></p>
       </td>
       <td colspan="2" style="padding: 3.75pt;">
      <p class="MsoNormal">2000<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>8.&nbsp;</b>For
 registration of a company whose number
 of members as stated in the articles of association, exceeds 20 but
 does not
 exceed 200<br>
      <br>
      <b>9.</b>&nbsp;For registration of a company
 whose number of members as
  stated in the articles of association, exceeds 200 but is not stated to
 be
 unlimited, the above fee of Rs.5,000 with an additional Rs. 10 for
 every
 member after first 200.<o:p></o:p></p>
       </td>
       <td colspan="2" style="padding: 3.75pt;"
  valign="top">
       <p class="MsoNormal">5000<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>10.</b>&nbsp;For
 registration of a company in which the
 number of members is stated in the articles of association to be
 unlimited<br>
       <br>
       <b>11.</b>&nbsp;For registration of any increase
 in the number of members
 made after the registration of the company, the same fees as would have
 been
 payable in respect of such increase, if such increase had been stated
 in the
 articles of association at the time of registration :<br>
       <br>
      <b><i>Provided</i></b>&nbsp;that no
 company shall be liable to pay on the
 whole a greater fee than Rs. 10,000 in respect of its number of
 members,
 taking into account the fee paid on the first registration of the
 company.<br>
       <br>
      <b>12.&nbsp;</b>For registration of any existing
 company except such
 companies as are by this Act exempted from payment of fees in respect
 of
 registration under this Act, the same fee as is charged for registering
 a new
 company..<o:p></o:p></p>
       </td>
       <td colspan="2" style="padding: 3.75pt;"
  valign="top">
       <p class="MsoNormal">10000<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>13.</b>&nbsp;For
 filing or registering any document by
 this Act required or authorized to be filed or registered with the
 Registrar.<o:p></o:p></p>
       </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">200<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">&nbsp;<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>14.</b>&nbsp;For
 making a record of or registering any
 fact by this Act required or authorized to be recorded or registered by
 the
 Registrar.]<o:p></o:p></p>
       </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">200<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">&nbsp;<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
 <p style="font-family: Arial;" class="MsoNormal">(1)
 The above table prescribed for small companies (as defined under
 section 2(85) of the Act) and one person companies defined under Rule
 related to Chapter II r/w 2(62) of the Act shall be applicable provided
 the said company shall remain as said class of company for a period not
 less than one year from its incorporation.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(2)
 The above table of fee shall be applicable for any such intimation to
 be furnished to the Registrar or any other officer or authority under
 section 159 of the Act, filing of notice of appointment of auditors or
 Secretarial Auditor or Cost Auditor.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(3)
 The above table of fee and calculation of fee as applicable for
 increase in authorised capital shall be applicable for revised capital
 in accordance with sub-section (11) of 233 of the Act, (after setting
 off fee paid by the transferor company on its authorised capital prior
  to its merger or amalgamation with the transferee company).<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(4)
 The above table of fee shall be applicable for filing revised financial
 statement or board report under section 130 and 131 of the Act.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>B.
 Following table of additional fees shall be applicable for delays in
 filing of the forms other than for increase in Nominal Share Capital</b><o:p></o:p></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 100%; height: 630px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="padding: 3.75pt; width: 13.5pt;" width="18">
       <p class="MsoNormal"><b>Sl no</b><o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt; width: 177.75pt;"
  width="237">
       <p class="MsoNormal"><b>Period of delays</b><o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt; width: 226.5pt;" width="302">
       <p class="MsoNormal"><b>Forms including charge
 documents</b><o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">01<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">upto 15 days (sections 93,139
 and 157)<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>One time</b><o:p></o:p></p>
       </td>
      </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">02<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">More than 15 days and upto 30
 days (Sections 93, 139 and
 157) and upto 30 days in remaining forms.<o:p></o:p></p>
        </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">2 times of normal filing fees<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">03<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">More than 30 days and upto 60
 days<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">4 times of normal filing fees<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">04<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">More than 60 days and upto 90
 days<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">6 times of normal filing fees<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">05<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">More than 90 days and upto 180
 days<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">10 times of normal filing fees<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">06<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">More than 180 days and upto 270
 days<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">12 times of normal filing fees<o:p></o:p></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Note;-
 (1)The additional fee shall also applicable to revised financial 
 statement or board's report under sections 130 and 131 of the Act and 
 secretarial audit report filed by the company secretary in practice 
 under section 204 of the Act.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(2) 
 The belated filing of documents/forms (including increasing in nominal 
 capital and delay caused thereon) which were due to be filed whether in 
 Companies Act, 1956 Act or the Companies Act, 2013 Act i.e due for 
 filing prior to notification of these fee rules , the fee applicable at 
 the time of actual filing shall be applicable.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>C.
 For increase in authorised capital, the additional fees shall be 
 applicable at the following rates:-</b><o:p></o:p></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 334px; height: 190px;"
   border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">&nbsp;<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">Delay upto 6 months<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">Delay beyond 6 months<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">slab<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">2.5 % per month on the fees 
 payable under para I.3 or II.12 of Table A above as the case may be.<o:p></o:p></p>
        </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">3% per month on the fees 
 payable under para I.3 or II.12 of Table A above as the case may be.<o:p></o:p></p>
       </td>
     </tr>
   </tbody>
 </table>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(1) 
 The above fee table shall also be applicable for delay in filing 
 application with Registrar under sub-section (11) of section 233 of the 
 Act.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>II.
 FEE ON APPLICATIONS (including Appeal) made to Central Government under 
 sub-section (2) of Section 459 of the Companies Act, 2013.</b><o:p></o:p></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 300px; height: 941px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>1</b><o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><b>For Application made</b><o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">Other than OPCs and Small<br>
 Companies<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">OPC and Small Companies<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;" valign="top">
       <p class="MsoNormal">(i)<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">By a company having an
 authorized share capital of:<o:p></o:p></p>
       <p class="MsoNormal">a) Upto than Rs. 25,00,000<o:p></o:p></p>
       <p class="MsoNormal">b) More than Rs.25,00,000 and 
 up Rs.50,00,000<o:p></o:p></p>
       <p class="MsoNormal">c) More than 50,00,000 and upto 
 Rs. 5,00,00,000<o:p></o:p></p>
       <p class="MsoNormal">d) More than Rs. 5,00,00,000 
 and upto Rs. 10 crores<o:p></o:p></p>
       <p class="MsoNormal">e) More than Rs. 10 crores<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;" valign="top">
       <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
       <p class="MsoNormal">2,000<o:p></o:p></p>
       <p class="MsoNormal">5,000<o:p></o:p></p>
       <p class="MsoNormal">10,000<o:p></o:p></p>
       <p class="MsoNormal">15,000<o:p></o:p></p>
       <p class="MsoNormal">20,000<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
       <p class="MsoNormal">1000<o:p></o:p></p>
       <p class="MsoNormal">25,00<o:p></o:p></p>
       <p class="MsoNormal">---<o:p></o:p></p>
       <p class="MsoNormal">---<o:p></o:p></p>
       <p class="MsoNormal">---<o:p></o:p></p>
      </td>
     </tr>
      <tr style="">
       <td style="padding: 3.75pt;">
      <p class="MsoNormal">(ii)<o:p></o:p></p>
        </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">By a company limited by 
 guarantee but not having a share 
 capital<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">2,000<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">---<o:p></o:p></p>
       </td>
     </tr>
     <tr style="">
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">(iii)<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
       <p class="MsoNormal">By an Association or proposed 
 company for issue of license under section 8 of the Act<o:p></o:p></p>
       </td>
       <td style="padding: 3.75pt;">
      <p class="MsoNormal">2,000<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">---<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">(iv)<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">By a company having a valid 
 license issued under section 8 of the Act<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">2,000<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">---<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">(v)<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">By a foreign company<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">5,000<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">---<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">(vi)<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Application for allotment of 
 Director Identification Number (DIN) under section 153 of the Act<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">500<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">---<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p style="font-family: Arial;" class="MsoNormal">(1)
 Every application to the Registrar of Companies filed by any person for 
 reservation of name under sub-section (4) of section 4 of theCompanies 
 Act, 2013 shall be accompanied with the fee of Rs. 1,000/-.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(2) 
 For every application made to Regional Director (including appeal) or 
 Registrar of Companies (except specifically stated elsewhere), Table of 
 fees as above shall be applicable.<o:p></o:p></p> 
 <p style="font-family: Arial;" class="MsoNormal">Note: 
 The separate fee schedule shall be prescribed under sub-section (2) of 
 section 459 of the Act for applications to be filed before Tribunal.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>III.
 Annual Fee payable by a dormant company under sub-section (5) of 
 section 455 of the Companies Act, 2013.</b><o:p></o:p></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 300px; height: 694px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>1</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><b>For Application made</b><o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Other than OPCs and Small<br>
 Companies<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">OPC and Small Companies<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal">(i)<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">By a company having an
 authorized share capital of:<o:p></o:p></p>
      <p class="MsoNormal">a) Upto than Rs. 25,00,000<o:p></o:p></p>
      <p class="MsoNormal">b) More thanRs.25,00,00 and up 
 Rs.50,00,000<o:p></o:p></p>
      <p class="MsoNormal">c) More than 50,00,000 and upto 
 Rs. 5,00,00,000<o:p></o:p></p>
      <p class="MsoNormal">d) More than Rs. 5,00,00,000 
 and upto Rs. 10 crores<o:p></o:p></p>
      <p class="MsoNormal">e) More than Rs. 10 crores<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
      <p class="MsoNormal">2,000<o:p></o:p></p>
      <p class="MsoNormal">5,000<o:p></o:p></p>
      <p class="MsoNormal">10,000<o:p></o:p></p>
      <p class="MsoNormal">15,000<o:p></o:p></p>
      <p class="MsoNormal">20,000<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
      <p class="MsoNormal">1000<o:p></o:p></p>
      <p class="MsoNormal">2500<o:p></o:p></p>
      <p class="MsoNormal">---<o:p></o:p></p>
      <p class="MsoNormal">---<o:p></o:p></p>
      <p class="MsoNormal">---<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">(ii)<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">By a company limited by
 guarantee but not having a share
 capital<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">2,000<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">---<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><b>IV.
 Fee for Inspection and providing certified copies of documents kept by
 the Registrar under section 399 of the Act.</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(i)
 Under clause (a) of sub-section (1) of section 399 ofthe Act – Rs.100/-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(ii)
 Under clause (b) of sub-section (1) of section 399 of the Act<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(a)
 For copy of Certificate of Incorporation – Rs.100/-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(b)
 For copy or extract of other documents including hard copy of such
 document on computer readable media – Rs.25 per page.<o:p></o:p></p>
<p style="font-family: Arial;" class="MsoNormal"><b>V. 
 Fee for registration of documents under section 385 of
 the Act.</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Rs.6000/-
 for each document.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>VI.
 Fees for Removal of Names of Companies from the Registrar of Companies
 under section 248 (2) of the Act.</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">Rs.5000/-<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><b>F.No.
 01/16/2013 CL-V<br>
 <br>
 (Renuka Kumar)<br>
 Joint Secretary to the Govt of India</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><b>INSTRUCTIONS</b><o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">1.Payment
 of fees - Except as otherwise provided elsewhere, the table of fees
 annexed to the Companies (Registration Offices and Fees), Rules 2014,
 shall be payable in the following head.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(1)fees
 payable to the Registrar in pursuance of the Act or any rule or
 regulation made or notification issued thereunder shall be paid to the
 Registrar on any authorized bank by the Ministry of Corporate Affairs
 and acting as the agent of the Reserve Bank of India for credit under
 the following head, namely : -<o:p></o:p></p>
 <table class="MsoNormalTable"
  style="font-family: Arial; width: 100%; height: 536px;"
  border="1" cellpadding="0" cellspacing="0">
   <tbody>
     <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Major Head<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Alphanumeric code description<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Account Code<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Serial Code<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Source category check digit<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;" valign="top">
      <p class="MsoNormal">1475<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">Other general Economic service
 Regulation of joint stock
 companies<o:p></o:p></p>
      <p class="MsoNormal">(a) Registration fees<o:p></o:p></p>
      <p class="MsoNormal">(b) Filing fees<o:p></o:p></p>
      <p class="MsoNormal">(c) inspection and copying fee<o:p></o:p></p>
      <p class="MsoNormal">(d) other fees<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">147500105<o:p></o:p></p>
      <p class="MsoNormal">14750010599<o:p></o:p></p>
      <p class="MsoNormal">14750010598<o:p></o:p></p>
      <p class="MsoNormal">14750010597<o:p></o:p></p>
      <p class="MsoNormal">14750010596<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">14750006<o:p></o:p></p>
      <p class="MsoNormal">14750032<o:p></o:p></p>
      <p class="MsoNormal">14750033<o:p></o:p></p>
      <p class="MsoNormal">14750034<o:p></o:p></p>
      <p class="MsoNormal">14750035<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">113<o:p></o:p></p>
      <p class="MsoNormal">114<o:p></o:p></p>
      <p class="MsoNormal">117<o:p></o:p></p>
      <p class="MsoNormal">112<o:p></o:p></p>
      <p class="MsoNormal">119<o:p></o:p></p>
      </td>
    </tr>
    <tr style="">
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">&nbsp;<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">&nbsp;<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">&nbsp;<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">&nbsp;<o:p></o:p></p>
      </td>
      <td style="padding: 3.75pt;">
      <p class="MsoNormal">&nbsp;<o:p></o:p></p>
      </td>
    </tr>
  </tbody>
</table>
<p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p style="font-family: Arial;" class="MsoNormal">(2)
 Where application is filed through electronic media or
 through any other computer readable media, the user may choose any one
 of the
 following payment options namely, (i) Credit Card; or (ii) Internet
 Banking; or
 (iii) Remittance at the Bank Counter or (iv) any other mode as approved
 by the
 Central Government. The requisite fee as specified in Companies
 (Registration
 Offices and Fees), Rules 2014 shall be payable through any of the
 accredited
 branches of the following Banks.<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(a)
 Punjab National Bank<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(b)
 State Bank of India<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(c)
 Indian Bank<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(d)
 ICICI Bank<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(e)
 HDFC Bank<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(f)
 Union Bank of India"<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(3)
 The fees payable to the Registrars may be paid bank drafts payable at
 drawn on banks, located at the same city or town as the office of the
 Registrar :<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal">(4)
 Where a fee payable to the Registrar is paid through bank drafts as,
 aforesaid it shall not be deemed to have been paid unless and until the
 relevant drafts are cashed and the amount credited."<o:p></o:p></p>
 <p style="font-family: Arial;" class="MsoNormal"><o:p>&nbsp;</o:p></p>
 </body>
 </html> 
