<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>The Companies (cost records and audit) Rules, 2014_table_2</title></head><body>

<table class="MsoNormalTable" style="width: 100%; height: 2864px;" border="1" cellpadding="0" cellspacing="0">

 <tbody><tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Sl. No.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Industry/ Sector/ Product/ Service<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">CETA Heading (wherever applicable)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">1.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Machinery and mechanical appliances used in
  defence, space and atomic energy sectors excluding any ancillary item or
  items;</span><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;</span><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><br>
  Explanation - For the purposes of this sub­clause. any company which is
  engaged in any item or items supplied exclusively for use under this clause,
  shall be deemed to be covered under these rules.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">8401 to 8402; 8801 to 8805; 8901 to 8908.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">2.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Turbo jets and turbo propellers;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">8411<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">3.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Arms and ammunitions:<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">3601 to 3603; 9301 to 9306.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">4.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Propellant powders; prepared explosives (other
  than propellant powders); safety fuses detonating fuses; percussion or
  detonating caps igniters; electric detonators ;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">3601 to 3603<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">5.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Radar apparatus, radio navigational aid
  apparatus and radio remote control apparatus;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;8526<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">6.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Tanks and other armoured fighting vehicles,
  motorised, whether or not fitted with weapons and parts of such vehicles,
  that are funded (investment made in the company) to the extent of ninety per
  cent, or more by the Government or Government agencies;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">8710<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">7.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Port services of stevedoring, pilotage,
  hauling, mooring, re-mooring, hooking, measuring, loading and unloading
  services rendered by a Port in relation to a vessel or goods regulated by the
  Tariff Authority for Major Ports under section 111 of the Major Port Trusts
  Act, 1963(38 of 1963)^<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Not applicable.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">8.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Aeronautical services of air traffic
  management, aircraft operations, ground safety services, ground handling,
  cargo facilities and supplying fuel rendered by airports and regulated by the
  Airports Economic Regulatory Authority under the Airports Economic Regulatory
  Authority of India Act, 2008 (27 of 2008);<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Not applicable.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">9.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Steel;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">7201 to 7229; 7301 to 7326<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">10.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Roads and other infrastructure projects
  corresponding to para No. (I) (a) as specified in Schedule VI of the
  Companies Act, 2013;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Not applicable.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">11.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Rubber and allied products being regulated by
  the Rubber Board constituted under the Rubber Act, 1947 (XXIV of 1947).<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">4001 to 4017<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">12.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Coffee and tea;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">0901 to 0902<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">13.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Railway or tramway locomotives, rolling stock,
  railway or tramway fixtures and fittings, mechanical (including electro
  mechanical) traffic signalling equipment&#8217;s of all kind;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">8601 to 8608.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">14.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Cement;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">2523; 6811 to 6812<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">15.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Ores and Mineral products;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">2502 to 2522; 2524 to 2526; 2528 to 2530; 2601
  to 2617<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">16.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Mineral fuels (other than Petroleum), mineral
  | oils etc.;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">2701 to 2708<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">17.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Base metals;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">7401 to 7403; 7405 to 7413; 7419; 7501 to
  7508; 7601 to 7614; 7801 to 7802; 7804; 7806; 7901 to 7905; 7907; 8001; 8003;
  8007; 8101 to 8113.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">18.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Inorganic chemicals, organic or inorganic
  compounds of precious metals, rare-earth metals of radioactive elements or
  isotopes, and Organic Chemicals;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">2801 to 2853; 2901 to 2942; 3801 to 3807; 3402
  to 3403; 3809 to 3824.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">19.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Jute and Jute Products;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">5303, 5310<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">20.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Edible Oil;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">1507 to 1518<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">21.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Construction Industry as per para No. (5) (a)
  as specified in Schedule VI of the Companies Act 2013 (18 of 2013)<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Not applicable.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">22.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Health services, namely functioning as or
  running hospitals, diagnostic centres, clinical centres or test laboratories;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Not applicable.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">23.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Education services, other than such similar
  services falling under philanthropy or as part of social spend which do not
  form part of any business.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Not applicable.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">24.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Milk powder;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">0402<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">25.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Insecticides;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">3808<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">26.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Plastics and polymers;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">3901 to 3914; 3916 to 3921; 3925<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">27.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Tyres and tubes;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">4011 to 4013<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">28.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Paper;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">4801 to 4802.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">29.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Textiles;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">5004 to 5007; 5106 to 5113; 5205 to 5212;
  5303; 5310; 5401 to 5408; 5501 to 5516<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">30.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Glass;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">7003 to 7008; 7011; 7016<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">31.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Other machinery;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">8403 to 8487<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">32.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Electricals or electronic machinery;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">8501 to 8507; 8511 to 8512; 8514 to 8515;
  8517; 8525 to 8536; 8538 to 8547.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">33.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 10.6pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Production,
  import and supply or trading of following medical devices, namely:-<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>i.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Cardiac stents;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>ii.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Drug eluting stents;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
  </span>iii.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Catheters;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
  </span>iv.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Intra ocular lenses;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
  </span>v.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Bone cements;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
  </span>vi.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Heart valves;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
  </span>vii.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Orthopaedic implants;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
  </span>viii.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Internal prosthetic
  replacements;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
  </span>ix.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Scalp vein set;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
  </span>x.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Deep brain stimulator;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;
  </span>xi.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Ventricular peripheral
  shud;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
  </span>xii.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Spinal implants;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
  </span>xiii.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Automatic impalpable
  cardiac deflobillator,<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
  </span>xiv.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Pacemaker (temporary
  and permanent);<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
  </span>xv.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Patent ductus
  arteriosus, atrial septal defect and ventricular septal defect closure
  device;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
  </span>xvi.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Cardiac re-synchronize
  therapy ;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;
  </span>xvii.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Urethra spinicture
  devices;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;"><span style="">&nbsp;</span></span>xviii.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Sling male or female;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
  </span>xix.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Prostate occlusion
  device; and &nbsp;&nbsp;&nbsp; &nbsp;<o:p></o:p></span></p>
  <p class="MsoNormal" style="margin-left: 36pt; text-align: justify; text-indent: -36pt; line-height: 15.55pt;"><!--[if !supportLists]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><span style=""><span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;
  </span>xx.<span style="font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span></span><!--[endif]--><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Urethral stents:<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">9018 to 9022<o:p></o:p></span></p>
  </td>
 </tr>
</tbody>
</table>



  

</body></html>