<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>The Companies (cost records and audit) Rules, 2014_table_1</title></head><body>

<table class="MsoNormalTable" style="width: 939px; height: 447px;" border="1" cellpadding="0" cellspacing="0">

 <tbody><tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Sl.</span><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">&nbsp;</span><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;"><br>
  No.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Industry/ Sector/ Product/ Service<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">CETA Heading! (wherever applicable)<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">1.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Telecommunication services made available to
  users by means of any transmission or reception of signs, signals, writing,
  images and sounds or intelligence of any nature (other than broadcasting
  services) and regulated by the Telecom Regulatory Authority of India under
  the Telecom Regulatory Authority of India Act, 1997 (24 of 1997);<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Not applicable.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">2.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Generation, transmission, distribution and
  supply of electricity regulated by the relevant regulatory body or authority
  under the Electricity Act, 2003 (36 of 2003), other than for captive
  generation (referred to in the Electricity Rules, 2005);<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">-------------<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">3.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Petroleum products regulated by the Petroleum
  and Natural Gas Regulatory Board under the Petroleum and Natural Gas
  Regulatory Board Act, 2006 (19 of 2006)*<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">2709 to 2715;<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">4.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Drugs and pharmaceuticals;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">2901 to 2942; 3001 to 3006.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">5.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Fertilisers;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">3102 to 3105.<o:p></o:p></span></p>
  </td>
 </tr>
 <tr style="">
  <td style="padding: 3.75pt;">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">6.<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">Sugar and industrial alcohol;<o:p></o:p></span></p>
  </td>
  <td style="padding: 3.75pt;" valign="top">
  <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15.55pt;"><span style="font-size: 8.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: black;">1701; 1703; 2207.<o:p></o:p></span></p>
  </td>
 </tr>
</tbody>
</table>



  

</body></html>