<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/circulars">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons> 
    

  <div class="bar bar-subheader bar-dark">
  <h2 class="title">102014 dated 7th May 2014</h2>
</div>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  <center>
      <br><br>
    <div ng-controller="finalctrl">
    <h3>102014 dated 7th May 2014</h3>
      </div>
   </center>
  </ion-content>
</ion-view>