<ion-view title="Companies Act 2013">

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
  
    <div ng-controller="finalctrl">
    <p align="center">
    <strong>MINISTRY OF CORPORATE AFFAIRS</strong>
</p>
<p align="center">
    ORDER
</p>
<p align="center">
    New Delhi, the 10th March, 2016
</p>
<p>
    <strong>S. O. 702(E).- </strong>
    In exercise of the powers conferred under the proviso to clause (d) of
    sub-section (2) of section 68 of the Companies Act, 2013 (18 of 2013)
    (Act), the Central Government hereby notifies that the debt to capital and
    free reserves ratio shall be 6:1 for government companies within the
    meaning of clause (45) of section 2 of the Companies Act, 2013 which carry
    on Non-Banking Finance Institution activities and Housing Finance
    activities.
</p>
<p align="right">
    <strong>[F. No. 01/04/2013-CL-V(Pt-II)]</strong>
</p>
<p align="right">
    <strong>AMARDEEP SINGH BHATIA, Jt. Secy.</strong>
</p>
       
        
      </div>
  
  </ion-content>
</ion-view>




