
<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <p class="MsoNormal"
 style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
 align="center"><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">MINISTRY OF
  CORPORATE AFFAIRS</span></b><span
  style="font-size: 9pt; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"
   style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; font-family: Arial;"
  align="center"><b><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">ORDER</span></b><span
  style="font-size: 9pt; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">New Delhi,
 the 2nd June, 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">S.O. 1428(E)</span></b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">.- In
 exercise of
 the powers conferred by sub-section (1) of Section 470 of the Companies
 Act,2013
 (18 of 2013), the Central Government hereby makes the following Order
 to remove
 certain difficulties that have arisen in giving effect to the
 provisions of
 Section 73 of the said Act, namely:—<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">1. (1) This
  Order may be called the Companies(Removal of Difficulties)
  Second Order, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">(2) It shall
  come into force at once.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">2.
 Jurisdiction, Powers, authority and functions ofCompany Law Board.-
 Until a date is notified by the Central Government under sub-section
 (1) of
 Section 434 of the Companies Act, 2013 (18 of 2013), the Company Law
 Board constituted in pursuance of sub-section (1) of Section 10E of the
 Companies
 Act, 1956 (1 of 1956) shall exercise the jurisdiction, powers,
 authority and
 functions under sub-section(4) of Section 73 of the Companies Act, 2013
 (18of2013).<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: normal;"><span
  style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
 <br style="">
 <!--[if !supportLineBreakNewLine]--><br style="">
 <!--[endif]--></span><span
  style="font-size: 12pt; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; margin-bottom: 11.25pt; text-align: right; line-height: 15pt;"
  align="right"><b><span
  style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">[F.
 No.
 2/8/2014-CL-V ]</span></b><b><span
  style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
 <br>
 </span></b><b><span
  style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">AMARDEEP
 SINGH BHATIA,</span></b><span
  style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
        
        
      </div>
  </ion-content>
</ion-view>


<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type"
 content="text/html; charset=windows-1252">
  <title>052014 dated 28th Mar 2014</title>
 </head>
 <body>
 
 </body>
 </html> --> 
