
<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <div style="font-family: Arial;" class="WordSection1">
<p class="MsoNormal" style="margin: 6.7pt 0 0.0001pt 0; text-align: center;" align="center"><b style=""><span style="font-size: 10pt;">MINISTRY OF CORPORATE AFFAIRS ORDER<o:p></o:p></span></b></p><br/>
<p class="MsoBodyText" style="margin: 0in 0 0.0001pt 0; text-align: center; line-height: 11.25pt;" align="center">New Delhi, the 7<span style="font-size: 6.5pt; position: relative; top: -4.5pt;">th<span style="">&nbsp;&nbsp;&nbsp; </span></span>December,
2016<o:p></o:p></p><br/>
<p class="MsoBodyText" style="margin: 0in 6.55pt 0.0001pt 6.95pt; text-align: justify; text-indent: 0.5in;"><b style="">S.O. 3676(E).&#8212;</b>Whereas clause
(c) of sub-section (1) of section 434 of the Companies Act, 2013
(hereinafter
referred to as the 2013 Act) provides that on a date which may be
notified by
the Central Government for the purpose of transfer of pending
proceedings, all
proceedings under the Companies Act, 1956 (hereinafter referred to as
the 1956
Act) including proceedings relating to arbitration, compromise,
arrangements
and reconstruction and winding up of<span style="">&nbsp;
</span>companies, pending immediately before such date before any
District
Court or High Court, shall stand transferred to the Tribunal<span style="letter-spacing: -0.2pt;"> </span>and<span style="letter-spacing: -0.15pt;"> </span>the<span style="letter-spacing: -0.2pt;"> </span>Tribunal<span style="letter-spacing: -0.1pt;">
</span>may<span style="letter-spacing: -0.15pt;"> </span>proceed<span style="letter-spacing: -0.25pt;"> </span>to<span style="letter-spacing: -0.15pt;"> </span>deal<span style="letter-spacing: -0.2pt;"> </span>with<span style="letter-spacing: -0.25pt;"> </span>such<span style="letter-spacing: -0.25pt;"> </span>proceedings<span style="letter-spacing: -0.25pt;"> </span>from<span style="letter-spacing: -0.4pt;"> </span>the<span style="letter-spacing: -0.2pt;"> </span>stage<span style="letter-spacing: -0.2pt;"> </span>before<span style="letter-spacing: -0.05pt;"> </span>their<span style="letter-spacing: -0.15pt;">
</span>transfer;<o:p></o:p></p>
<p class="MsoBodyText" style="margin-top: 0.5pt;"><span style="font-size: 9.5pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoBodyText" style="margin: 0in 6.65pt 0.0001pt 6.95pt; text-align: justify; text-indent: 0.5in;">And,
whereas, the proviso thereof further provides that only such
proceedings relating to the winding up of companies shall be
transferred to the
Tribunal that are at a stage as may be prescribed by the Central
Government;<o:p></o:p></p>
<p class="MsoBodyText" style="margin-top: 0.5pt;"><span style="font-size: 8.5pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoBodyText" style="margin: 0in 6.45pt 0.0001pt 6.95pt; text-align: justify; text-indent: 0.5in;">And,
whereas, clause (c) of sub-section (1) of section 434 of the 2013
Act shall come into force from the 15<span style="font-size: 6.5pt; position: relative; top: -4.5pt;">th
</span>December,
2016;<o:p></o:p></p>
<p class="MsoBodyText" style="margin: 0in 6.45pt 0.0001pt 6.95pt; text-align: justify; text-indent: 0.5in; line-height: 13.25pt;">And,
whereas, provisions
of sections 6 to 32, 60 to 67 of the Insolvency and Bankruptcy Code,
2016
(hereinafter referred to as the Code) have been brought into force on 1<span style="font-size: 6.5pt; position: relative; top: -4.5pt;">st
</span>December, 2016 and sections 33 to 54 of the
Code and the provisions of Chapter XV and Chapter XX of the 2013 Act
shall be
notified to come into force from 15<span style="font-size: 6.5pt; position: relative; top: -4.5pt;">th
</span>December,
2016;<o:p></o:p></p>
<p class="MsoBodyText" style="margin: 0.2pt 6.5pt 0.0001pt 6.95pt; text-align: justify; text-indent: 0.5in; line-height: 13.25pt;">And,
whereas, it has been decided that (i) proceedings
under the 1956 Act with High Courts on all cases other than winding-up
as on 15<span style="font-size: 6.5pt; line-height: 95%; position: relative; top: -4.5pt;">th
</span>December, 2016 shall stand
transferred to the Benches of the Tribunals exercising respective
territorial
jurisdiction and (ii) all cases of winding up under the 1956 Act which
are
pending before the High Courts as on 15<span style="font-size: 6.5pt; line-height: 95%; position: relative; top: -4.5pt;">th
</span>December,
2016 and wherein petitions have not been served to the respondents as
per rule
26 of Companies (Court) Rules, 1959 shall be transferred to Tribunal,
and all
remaining cases of winding up pending on that date would continue with
the
respective High Courts;<o:p></o:p></p>
<p class="MsoBodyText" style="margin: 7.95pt 6.5pt 0.0001pt 6.95pt; text-align: justify; text-indent: 0.5in;">And,
whereas, difficulties have arisen regarding continuation of
provisions of the 1956 Act for (i) those proceedings relating to cases
other
than winding-up that are reserved for orders for allowing or otherwise
and (ii)
those winding up cases which would not be transferred to Tribunal and
be
proceeded with by High Courts on account of commencement of the
corresponding
provisions under the 2013 Act or under the Code;<o:p></o:p></p>
<p class="MsoBodyText" style="margin-top: 0.45pt;"><span style="font-size: 9.5pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoBodyText" style="margin: 0in 6.5pt 0.0001pt 6.95pt; text-align: justify; text-indent: 0.5in;">And,
whereas, difficulties have also arisen regarding transfer of
proceedings relating to cases other than winding-up where hearings have
been
completed and only pronouncement of order is pending or is reserved
since their
transfer to Tribunal may result into delay and rights of parties to the
proceedings are likely to be affected prejudicially;<o:p></o:p></p>
<p class="MsoBodyText"><o:p>&nbsp;</o:p></p>
<p class="MsoBodyText" style="margin: 0in 6.6pt 0.0001pt 6.95pt; text-align: justify; text-indent: 0.5in;">Now,
therefore, in exercise of the powers conferred by sub-section (1) of
section 470 of the Companies Act, 2013 (18 of 2013), the Central
Government
hereby makes the following Order to remove the above said difficulties,
namely:-<o:p></o:p></p>
<p class="MsoListParagraph" style="margin-right: 30.9pt; text-indent: 0in;"><b><span style="font-size: 10pt;"><span style="">1.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span></b><b style=""><span style="font-size: 12pt;">Short<span style="letter-spacing: -0.15pt;"> </span>title<span style="letter-spacing: -0.25pt;"> </span>and<span style="letter-spacing: -0.2pt;"> </span>commencement.-<span style="letter-spacing: -0.15pt;"> </span></span></b><span style="font-size: 12pt;">(1)<span style="letter-spacing: -0.25pt;"> </span>This<span style="letter-spacing: -0.25pt;"> </span>Order<span style="letter-spacing: -0.15pt;">
</span>may<span style="letter-spacing: -0.35pt;"> </span>be<span style="letter-spacing: -0.05pt;"> </span>called<span style="letter-spacing: -0.15pt;"> </span>the<span style="letter-spacing: -0.2pt;"> </span>Companies<span style="letter-spacing: -0.25pt;">
</span>(Removal<span style="letter-spacing: -0.2pt;">
</span>of<span style="letter-spacing: -0.25pt;"> </span>Difficulties)<span style="letter-spacing: -0.15pt;"> </span>Fourth Order,<span style="letter-spacing: -0.1pt;"> </span>2016.<o:p></o:p></span></p>
<p class="MsoBodyText" style="margin-left: 6.95pt;">(2)
It shall come into force
with effect from the 15th December, 2016.<o:p></o:p></p>
<p class="MsoBodyText" style="margin-top: 0.45pt;"><span style="font-size: 9.5pt;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoListParagraph" style="text-indent: 0in;"><b><span style="font-size: 12pt;"><span style="">2.<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span></b><span style="font-size: 12pt;">In the Companies Act, 2013, in
Section 434, in sub-section (1), in
clause (c), after the proviso, the following provisos shall be inserted,<span style="letter-spacing: -0.75pt;"> </span>namely:-<o:p></o:p></span></p>
<p class="MsoBodyText" style="margin-left: 6.95pt;">&#8220;Provided
further that only
such proceedings relating to cases other than winding-up, for which
orders for
allowing or otherwise of the proceedings are not reserved by the High
Courts
shall be transferred to the Tribunal:<o:p></o:p></p>
<p class="MsoBodyText" style="margin-left: 7pt;">Provided
further that &#8211;<o:p></o:p></p>
<p class="MsoListParagraph" style="margin-left: 43pt; text-indent: 0in;"><span style="font-size: 10pt; letter-spacing: -0.05pt;"><span style="">(i)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span><span style="font-size: 12pt;">all proceedings under the
Companies Act, 1956 other than the cases relating to winding up of
companies
that are reserved for orders for allowing or otherwise such proceedings;<span style="letter-spacing: -1.55pt;"> </span>or<o:p></o:p></span></p>
<p class="MsoListParagraph" style="margin-left: 43pt; text-indent: 0in;"><span style="font-size: 10pt; letter-spacing: -0.05pt;"><span style="">(ii)<span style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span><span style="font-size: 12pt;">the proceedings relating to winding up of companies which have not been transferred from the High Courts; shall be dealt with in accordance with provisions of the Companies Act, 1956 and the Companies (Court) Rules, 1959".<span style="letter-spacing: -1.55pt;"> </span>or<o:p></o:p></span></p>

<p class="MsoBodyText" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: arial;">[F.
No.
16/61/2016-Legal] <br>
</p>
<p class="MsoBodyText" style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: arial;">AMARDEEP
SINGH BHATIA, Jt. Secy.<o:p></o:p></p>
</div>
        
        
      </div>
  </ion-content>
</ion-view>






<!--<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>S.O. 3676(E) dated 7th December, 2016</title>

</head><body>
</body></html>-->