
<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style="">MINISTRY OF CORPORATE AFFAIRS <o:p></o:p></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style="">ORDER <o:p></o:p></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center">New
 Delhi, the 29th
 March, 2016<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">S.O. 1227(E). -
 Whereas, the Companies Act, 2013 (18 of 2013) (hereinafter referred to
 as the
 said Act) received the assent of the President on 29th August, 2013 and
 section
 1 thereof came into force on the same date; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">And, whereas,
 section 133 provides that the Central Government may prescribe the
 standards of
 accounting or any addendum thereto, as recommended by the Institute of
 Chartered Accountants of India, constituted under section 3 of the
 Chartered
 Accountants Act, 1949 (38 of 1949), in consultation with and after
 examination
 of the recommendations made by the National Financial Reporting
 Authority; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">And, whereas,
 section 133 of the said Act, has come into force with effect from 12th
 September, 2013; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">And, whereas,
 section 132 of the said Act, which provides for constitution, functions
 etc. of
 the National Financial Reporting Authority and National Financial
 Reporting
 Appellate Authority, has not been brought into force and it may take
 some time
 to bring said section into force; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">And, whereas,
 the National Advisory Committee on Accounting Standards, constituted
 under
 section 210A of the Companies Act, 1956 provides for advising the
 Central
 Government on the formulation and laying down of accounting policies
 and
 accounting standards for adoption by companies or class of companies; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">And, whereas,
 sub-section (3C) of section 211 of the Companies Act, 1956 (1 of 1956)
 which
 corresponds to section 133 of the Companies Act, 2013 (18 of 2013)
 provides
 that the expression "accounting standards" means the standards of
 accounting
 recommended by the Institute of Chartered Accountants of India
 constituted
 under the Chartered Accountants Act, 1949 (38 of 1949), as may be
 prescribed by
 the Central Government in consultation with the National Advisory
 Committee on
 Accounting Standards established under sub-section (1) of section 210A;
 <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">And, whereas,
 difficulties have arisen regarding compliance with the provisions of
 section
 133 in so far as they relate to consultation with National Financial
 Reporting
 Authority till the period it is duly constituted under section 132 of
 the said
 Act;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">And, whereas, on
 the basis of the recommendations of the National Advisory Committee on
 Accounting Standards, the Central Government issued the Companies
 (Indian
 Accounting Standards) Rules, 2015 with effect from 1st April, 2015 vide
 notification number G.S.R. 111(E) dated the 16 th February, 2015
 published in
 the Gazette in India, Extraordinary, Part-II, Section 3, Sub-section
 (i) dated
 the 19th February, 2015; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">Now, therefore,
 in exercise of the powers conferred by sub-section (1) of section 470
 of the
 Companies Act, 2013 (18 of 2013), the Central Government hereby makes
 the
 following Order to remove the above said difficulties, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">1. <b style="">Short
 title and commencement.- (</b>1) This
 Order may be called the Companies (Removal of Difficulties) Second
 Order, 2016.
 <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(2) It shall be
 deemed to have come into force from the 1st April, 2015. <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">2. In section
 133 of the Companies Act, 2013 (herein after referred to as the said
 Act), the
 following proviso shall be inserted, namely:- <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">"Provided that
 until the National Financial Reporting Authority is constituted under
 section
 132 of the Companies Act, 2013 (18 of 2013), the Central Government may
 prescribe the standards of accounting or any addendum thereto, as
 recommended
 by the Institute of Chartered Accountants of India, constituted under
 section 3
 of the Chartered Accountants Act, 1949 (38 of 1949), in consultation
 with and
 after examination of the recommendations made by National Advisory
 Committee on
 Accounting Standards constituted under section 210 A of the Companies
 Act,
 1956".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">[F. No. 17/45/2015-CL-V] <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">AMARDEEP SINGH BHATIA, Jt. Secy.<span
  style="font-size: 12pt;"><o:p></o:p></span></p>
        
        
      </div>
  </ion-content>
</ion-view>





<!--<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 
 </body>
 </html>-->
 