
<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">MINISTRY
 OF CORPORATE AFFAIRS<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">ORDER<o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="font-size: 12pt; line-height: 115%;">New
 Delhi, the 29th March, 2016<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">S.O. 1228(E).-In
 exercise of the powers conferred by sub-section (11) of section 143 of
 the
 Companies Act, 2013 (18 of 2013 ) and in supersession of the Companies
 (Auditor's Report) Order, 2015 published in the Gazette of India,
 Extraordinary, Part II, Section 3, Sub-section (ii), vide number S.O.
 990 (E),
 dated the 10th April, 2015, except as respects things done or omitted
 to be
 done before such supersession, the Central Government, after
 consultation with
 the, committee constituted under proviso to sub-section (11) of section
 143 of
 the Companies Act, 2013 hereby makes the following Order, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><b
  style=""><span style=""><span style="">1.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span></b><!--[endif]--><b
  style="">Short
 title, application and commencement</b>.- (1) This Order may be
 called the
 Companies (Auditor's Report) Order, 2016. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><o:p>&nbsp;</o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(2) It shall
 apply to every company including a foreign company as defined in clause
 (42) of
 section 2 of the Companies Act, 2013 (18 of 2013) [hereinafter referred
 to as
 the Companies Act], except- <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.5in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style=""><span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span>i.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">a
 banking company as defined in clause (c) of section 5 of the Banking
 Regulation
 Act, 1949 (10 of 1949); <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.5in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style=""><span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span>ii.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">an
 insurance company as defined under the Insurance Act,1938 (4 of 1938); <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.5in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style=""><span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
 </span>iii.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">a
 company licensed to operate under section 8 of the Companies Act; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraph"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.5in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style=""><span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;
 </span>iv.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">a
 One Person Company as defined under clause (62) of section 2 of the
 Companies
 Act and a small company as defined under clause (85) of section 2 of
 the
 Companies Act; and <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpFirst"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.5in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style=""><span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span>v.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">a
 private limited company, not being a subsidiary or holding company of a
 public
 company, having a paid up capital and reserves and surplus not more
 than rupees
 one crore as on the balance sheet date and which does not have total
 borrowings
 exceeding rupees one crore from any bank or financial institution at
 any point
 of time during the financial year and which does not have a total
 revenue as
 disclosed in Scheduled III to the Companies Act, 2013 (including
 revenue from
 discontinuing operations) exceeding rupees ten crore during the
 financial year
 as per the financial statements.<o:p></o:p></span></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><span
  style="font-size: 12pt; line-height: 115%;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><b
  style=""><span style="font-size: 12pt;"><span
  style="">2.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span></b><!--[endif]--><span
  style="font-size: 12pt;">Auditor's report to contain matters
 specified in
 paragraphs 3 and 4. - Every report made by the auditor under section
 143 of the
 Companies Act, 2013 on the accounts of every company audited by him, to
 which
 this Order applies, for the financial years commencing on or after 1st
 April,
 2015, shall in addition, contain the matters specified in paragraphs 3
 and 4,
 as may be applicable: Provided the Order shall not apply to the
 auditor’s
 report on consolidated financial statements.<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><b
  style=""><span style="font-size: 12pt;"><span
  style="">3.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span></b><!--[endif]--><b
  style="">Matters
 to be included in the auditor's report.</b> - The auditor's
 report on the
 accounts of a company to which this Order applies shall include a
 statement on
 the following matters, namely:-<span style="font-size: 12pt;"><o:p></o:p></span></p>
 <p style="font-family: Arial;"
  class="MsoListParagraphCxSpMiddle"><span
  style="font-size: 12pt; line-height: 115%;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(i)
 (a) whether the company is maintaining proper records showing full
 particulars,
 including quantitative details and situation of fixed assets; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(b)
 whether these fixed assets have been physically verified by the
 management at
 reasonable intervals; whether any material discrepancies were noticed
 on such
 verification and if so, whether the same have been properly dealt with
 in the
 books of account; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(c)
 whether the title deeds of immovable properties are held in the name of
 the
 company. If not, provide the details thereof; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(ii)
 whether physical verification of inventory has been conducted at
 reasonable
 intervals by the management and whether any material discrepancies were
 noticed
 and if so, whether they have been properly dealt with in the books of
 account; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(iii)
 whether the company has granted any loans, secured or unsecured to
 companies,
 firms, Limited Liability Partnerships or other parties covered in the
 register
 maintained under section 189 of the Companies Act, 2013. If so, <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin: 0in 0in 0.0001pt 1.5in; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">a.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">whether
 the terms and conditions of the grant of such loans are not prejudicial
 to the
 company’s interest; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin: 0in 0in 0.0001pt 1.5in; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">b.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">whether
 the schedule of repayment of principal and payment of interest has been
 stipulated and whether the repayments or receipts are regular; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin: 0in 0in 0.0001pt 1.5in; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><span
  style="font-size: 12pt;"><span style="">c.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span><!--[endif]--><span
  style="font-size: 12pt;">if
 the amount is overdue, state the total amount overdue for more than
 ninety
 days, and whether reasonable steps have been taken by the company for
 recovery
 of the principal and interest; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(iv)
 in respect of loans, investments, guarantees, and security whether
 provisions
 of section 185 and 186 of the Companies Act, 2013 have been complied
 with. If
 not, provide the details thereof.<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(v)
 in case, the company has accepted deposits, whether the directives
 issued by
 the Reserve Bank of India and the provisions of sections 73 to 76 or
 any other
 relevant provisions of the Companies Act, 2013 and the rules framed
 thereunder,
 where applicable, have been complied with? If not, the nature of such
 contraventions be stated; If an order has been passed by Company Law
 Board or
 National Company Law Tribunal or Reserve Bank of India or any court or
 any
 other tribunal, whether the same has been complied with or not? <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(vi)
 whether maintenance of cost records has been specified by the Central
 Government under sub-section (1) of section 148 of the Companies Act,
 2013 and
 whether such accounts and records have been so made and maintained. <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(vii)
 (a) whether the company is regular in depositing undisputed statutory
 dues
 including provident fund, employees' state insurance, income-tax,
 sales-tax,
 service tax, duty of customs, duty of excise, value added tax, cess and
 any
 other statutory dues to the appropriate authorities and if not, the
 extent of
 the arrears of outstanding statutory dues as on the last day of the
 financial
 year concerned for a period of more than six months from the date they
 became
 payable, shall be indicated; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(b)
 where dues of income tax or sales tax or service tax or duty of customs
 or duty
 of excise or value added tax have not been deposited on account of any
 dispute,
 then the amounts involved and the forum where dispute is pending shall
 be
 mentioned. (A mere representation to the concerned Department shall not
 be
 treated as a dispute). <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(viii)
 whether the company has defaulted in repayment of loans or borrowing to
 a
 financial institution, bank, Government or dues to debenture holders?
 If yes,
 the period and the amount of default to be reported (in case of
 defaults to
 banks, financial institutions, and Government, lender wise details to
 be
 provided). <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(ix)
 whether moneys raised by way of initial public offer or further public
 offer
 (including debt instruments) and term loans were applied for the
 purposes for
 which those are raised. If not, the details together with delays or
 default and
 subsequent rectification, if any, as may be applicable, be reported; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(x)
 whether any fraud by the company or any fraud on the Company by its
 officers or
 employees has been noticed or reported during the year; If yes, the
 nature and
 the amount involved is to be indicated; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(xi)
 whether managerial remuneration has been paid or provided in accordance
 with
 the requisite approvals mandated by the provisions of section 197 read
 with
 Schedule V to the Companies Act? If not, state the amount involved and
 steps
 taken by the company for securing refund of the same; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(xii)
 whether the Nidhi Company has complied with the Net Owned Funds to
 Deposits in
 the ratio of 1: 20 to meet out the liability and whether the Nidhi
 Company is
 maintaining ten per cent unencumbered term deposits as specified in the
 Nidhi
 Rules, 2014 to meet out the liability; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(xiii)
 whether all transactions with the related parties are in compliance
 with sections
 177 and 188 of Companies Act, 2013 where applicable and the details
 have been
 disclosed in the Financial Statements etc., as required by the
 applicable
 accounting standards; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(xiv)
 whether the company has made any preferential allotment or private
 placement of
 shares or fully or partly convertible debentures during the year under
 review
 and if so, as to whether the requirement of section 42 of the Companies
 Act,
 2013 have been complied with and the amount raised have been used for
 the
 purposes for which the funds were raised. If not, provide the details
 in
 respect of the amount involved and nature of non-compliance; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(xv)
 whether the company has entered into any non-cash transactions with
 directors
 or persons connected with him and if so, whether the provisions of
 section 192
 of Companies Act, 2013 have been complied with; <o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;">(xvi)
 whether the company is required to be registered under section 45-IA of
 the
 Reserve Bank of India Act, 1934 and if so, whether the registration has
 been
 obtained.<o:p></o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><span
  style="font-size: 12pt;"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; text-indent: -0.25in; line-height: 15pt; font-family: Arial;"><!--[if !supportLists]--><b
  style=""><span style=""><span style="">4.<span
  style="font-style: normal; font-variant: normal; font-weight: normal; font-size: 7pt; line-height: normal; font-size-adjust: none; font-stretch: normal;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </span></span></span></b><!--[endif]--><b
  style="">Reasons
 to be stated for unfavorable or qualified answers.-</b> (1)
 Where, in the
 auditor's report, the answer to any of the questions ref erred to in
 paragraph 3
 is unfavorable or qualified, the auditor's report shall also state the
 basis
 for such unfavorable or qualified answer, as the case may be. <o:p></o:p></p>
 <p class="MsoListParagraphCxSpMiddle"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;"><b
  style=""><o:p>&nbsp;</o:p></b></p>
 <p class="MsoListParagraphCxSpLast"
  style="margin-bottom: 0.0001pt; text-align: justify; line-height: 15pt; font-family: Arial;">(2)
 Where the auditor is unable to express any opinion on any specified
 matter, his report shall indicate such fact together with the reasons
 as to why
 it is not possible for him to give his opinion on the same.<o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">[F. No. 17/45/2015-CL-V] <o:p></o:p></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; font-family: Arial;"
  align="right">AMARDEEP SINGH BHATIA, Jt. Secy.<b style=""><o:p></o:p></b></p>
        
        
      </div>
  </ion-content>
</ion-view>



 <!-- <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 
 </body>
 </html> -->
