
<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">MINISTRY
 OF CORPORATE AFFAIRS <o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><b
  style=""><span style="font-size: 12pt; line-height: 115%;">ORDER
 <o:p></o:p></span></b></p>
 <p class="MsoNormal"
  style="text-align: center; font-family: Arial;" align="center"><span
  style="font-size: 12pt; line-height: 115%;">New
 Delhi, the 29th March, 2016<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">S.O.1226(E).-Whereas
 the Companies Act, 2013 (18 of 2013) (hereinafter referred to as the
 said Act)
 received the assent of the President on 29th August, 2013 and section 1
 thereof
 came into force on the same date; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">And,
 whereas, the provisions contained in section 143 of the said Act which
 provides
 for powers and duties of auditors and auditing standards has come into
 force on
 the 1st April, 2014; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">And,
 whereas, sub-section (11) of section 143 of the said Act provides that
 the
 Central Government may, in consultation with the National Financial
 Reporting
 Authority, by general or special order, direct, in respect of such
 class or
 description of companies, as may be specified in the order, that the
 auditor’s
 report shall also include a statement on such matters as may be
 specified
 therein; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">And,
 whereas, section 132 of the said Act, which provides for constitution,
 functions etc., of the National Financial Reporting Authority and the
 National
 Financial Reporting Appellate Authority, has not been brought into
 force and it
 may take some time to bring said section into force;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">And,
 whereas, the National Advisory Committee on Accounting Standards,
 constituted
 under section 210A of the Companies Act, 1956 (1 of 1956) provides for
 advising
 the Central Government on the formulation and laying down of accounting
 policies and accounting standards for adoption by companies or class of
 companies; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">And,
 whereas, sub-section (4A) of section 227 of the Companies Act, 1956 (1
 of
 1956), which corresponds to sub-section (11) of section 143 of the
 Companies
 Act, 2013, (18 of 2013) provides that the Central Government may
 consult the
 Institute of Chartered Accountants of India constituted under the
 Chartered
 Accountants Act, 1949 (38 of 1949), while issuing order directing that
 in case
 of specified class or description of companies the auditor's report
 shall
 include a statement on additional matters as specified in the order; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">And,
 whereas, the Central Government constituted a Committee chaired by the
 Joint
 Secretary or Regional Director, Ministry of Corporate Affairs and
 representatives from the Institute of Chartered Accountants of India
 and
 Industry Chambers and National Advisory Committee on Accounting
 Standards,
 Chairman and representative from the Office of the Comptroller and
 Auditor-General,
 as special invitees to hold consultation required under sub-section
 (11) of
 section 143 of the Companies Act, 2013;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">And,
 whereas, the Central Government, on the basis of recommendations of the
 said
 Committee, has issued the Companies (Auditor’s Report) Order, 2015 on
 10th
 April, 2015 for financial year 2015-16 vide notification number S.O.990
 (E)
 dated the 10th April, 2015 published in the Gazette of India,
 Extraordinary,
 Part-II, Section 3, Sub-section (ii) and proposes to issue similar
 Order to be applicable
 from the financial year 2015-16 onwards; <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">And,
 whereas, difficulties have arisen regarding compliance with the
 provisions of
 sub-section (11) of section 143, in so far as they relate to
 consultation with
 National Financial Reporting Authority till the period it is duly
 constituted
 under section 132 of the Companies Act, 2013; Now, therefore, in
 exercise of
 the powers conferred by sub-section (1) of section 470 of the Companies
 Act,
 2013 (18 of 2013), the Central Government hereby makes the following
 Order to
 remove the above said difficulties, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">1.
 <b style="">Short title and commencement.-</b> (1)
 This Order may be called the Companies (Removal of Difficulties) Order,
 2016. <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">(2)
 It shall be deemed to have come into force from the 10th April, 2015. <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">2.
 In the Companies Act, 2013, in section 143, in sub-section (ii), the
 following
 proviso shall be inserted, namely:- <o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: justify; font-family: Arial;"><span
  style="font-size: 12pt; line-height: 115%;">"Provided
 that until the National Financial Reporting Authority is constituted
 under
 section 132, the Central Government may hold consultation required
 under this
 sub-section with the Committee chaired by an officer of the rank of
 Joint
 Secretary or equivalent in the Ministry of Corporate Affairs and the
 Committee
 shall have the representatives from the Institute of Chartered
 Accountants of
 India and Industry Chambers and also special invitees from the National
 Advisory Committee on Accounting Standards and the office of the
 Comptroller
 and Auditor-General".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;">[F. No.
 17/45/2015-CL-V]<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="text-align: right; font-family: Arial;" align="right"><span
  style="font-size: 12pt; line-height: 115%;"><span style="">&nbsp;</span>AMARDEEP
 SINGH BHATIA, Jt. Secy.<o:p></o:p></span></p>
        
        
      </div>
  </ion-content>
</ion-view>


 <!-- <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
 <head>
   <meta content="text/html; charset=ISO-8859-1"
  http-equiv="content-type">
   <title></title>
 </head>
 <body>
 
 </body>
 </html> -->
 