<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <p style="widows: 4; font-family: Arial;" align="center">GOVERNMENT
 OF INDIA&nbsp;<br>
 MINISTRY
 OF CORPORATE AFFAIRS</p>
 <p style="widows: 4; font-family: Arial;" align="center"><b>Order</b></p>
 <p style="widows: 2; font-family: Arial;" align="right">New
 Delhi, the 10th April, 2015</p>
 <p style="widows: 8; font-family: Arial;" align="justify"><b>S.O......(E).-</b>&nbsp;In
 exercise of the powers conferred by sub-section (11) of section 143
 of the Companies Act, 2013 (18 of 2013 ) and in supersession of the
 Companies (Auditor's Report) Order, 2003, published in the Gazette
 of India, Extraordinary, Part II, Section 3, Sub-section (i), vide
 number G.S.R. 480 (E), dated the 12th June, 2003, except as respects
 things done or omitted to be done before such supersession, the
 Central Government, after consultation with the Institute of
 Chartered Accountants of India, constituted under the Chartered
 Accountants Act, 1949 (38 of 1949), hereby makes the following Order,
 namely:-</p>
 <p style="widows: 8; font-family: Arial;" align="justify"><b>1.
 Short title, application and
 commencement. -</b>&nbsp;(1) This order may be called the
 Companies
 (Auditor's Report) Order, 2015.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(2)
 It shall apply to every
 company including a foreign company as defined in clause (42) of
 section 2 of the Companies Act, 2013 (18 of 2013) [hereinafter
 referred to as the Companies Act], except -</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(i)
 a banking company as defined
 in clause (c) of section 5 of the Banking Regulation Act, 1949 (10 of
 1949);</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(ii)
 an insurance company as
 defined under the Insurance Act, 1938 (4 of 1938);</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(iii)
 a company licensed to
 operate under section 8 of the Companies Act;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(iv)
 a One Person Company as
 defined under clause (62) of section 2 of the Companies Act and a
 small company as defined under clause (85) of section 2 of the
 Companies Act; and</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(v)
 a private limited company with
 a paid up capital and reserves not more than rupees fifty lakh and
 which does not have loan outstanding exceeding rupees twenty five
 lakh from any bank or financial institution and does not have a
 turnover exceeding rupees five crore at any point of time during the
 financial year.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(3)
 It shall come into force on
 the date of its publication in the Official Gazette.</p>
 <p style="widows: 8; font-family: Arial;" align="justify"><b>2.
 Auditor's report to contain
 matters specified in paragraphs 3 and 4. -</b>&nbsp;Every
 report made
 by the auditor under section 143 of the Companies Act, on the
 accounts of every company examined by him to which this Order applies
 for the financial year commencing on or after 1st April, 2014, shall
 contain the matters specified in paragraphs 3 and 4.</p>
 <p style="widows: 8; font-family: Arial;" align="justify"><b>3.
 Matters to be included in
 the auditor's report. -</b>&nbsp;The auditor's report on the
 account of a company to which this Order applies shall include a
 statement on the following matters, namely:-</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(i)
 (a) whether the company is
 maintaining proper records showing full particulars, including
 quantitative details and situation of fixed assets;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(b)
 whether these fixed assets
 have been physically verified by the management at reasonable
 intervals; whether any material discrepancies were noticed on such
 verification and if so, whether the same have been properly dealt
 with in the books of account;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(ii)
 (a) whether physical
 verification of inventory has been conducted at reasonable intervals
 by the management;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(b)
 are the procedures of physical
 verification of inventory followed by the management reasonable and
 adequate in relation to the size of the company and the nature of its
 business. If not, the inadequacies in such procedures should be
 reported;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(c)
 whether the company is
 maintaining proper records of inventory and whether any material
 discrepancies were noticed on physical verification and if so,
 whether the same have been properly dealt with in the books of
 account;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(iii)
 whether the company has
 granted any loans, secured or unsecured to companies, firms or other
 parties covered in the register maintained under section 189 of the
 Companies Act. If so,</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(a)
 whether receipt of the
 principal amount and interest are also regular; and</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(b)
 if overdue amount is more than
 rupees one lakh, whether reasonable steps have been taken by the
 company for recovery of the principal and interest;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(iv)
 is there an adequate internal
 control system commensurate with the size of the company and the
 nature of its business, for the purchase of inventory and fixed
 assets and for the sale of goods and services. Whether there is a
 continuing failure to correct major weaknesses in internal control
 system.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(v)
 in case the company has
 accepted deposits, whether the directives issued by the Reserve Bank
 of India and the provisions of sections 73 to 76 or any other
 relevant provisions of the Companies Act and the rules framed there
 under, where applicable, have been complied with? If not, the nature
 of contraventions should be stated; If an order has been passed by
 Company Law Board or National Company Law Tribunal or Reserve Bank of
 India or any court or any other tribunal, whether the same has been
 complied with or not?</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(vi)
 where maintenance of cost
 records has been specified by the Central Government under
 sub-section (1) of section 148 of the Companies Act, whethersuch
 accounts and records have been made and maintained;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(vii)
 (a) is the company regular
 in depositing undisputed statutory dues including provident fund,
 employees state insurance, income-tax, sales-tax, wealth tax,
 service tax, duty of customs, duty of excise, value added tax, cess
 and any other statutory dues with the appropriate authorities and if
 not, the extent of the arrears of outstanding statutory dues as at
 the last day of the financial year concerned for a period of more
 than six months from the date they became payable, shall be indicated
 by the auditor.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(b)
 in case dues of income tax or
 sales tax or wealth tax or service tax or duty of customs or duty of
 excise or value added tax or cess have not been deposited on account
 of any dispute, then the amounts involved and the forum where dispute
 is pending shall be mentioned. (A mere representation to the
 concerned Department shall not constitute a dispute).</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(c)
 whether the amount required to
 be transferred to investor education and protection fund in
 accordance with the relevant provisions of the Companies Act, 1956 (1
 of 1956) and rules made thereunder has been transferred to such fund
 within time.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(viii)
 whether in case of a
 company which has been registered for a period not less than five
 years, its accumulated losses at the end of the financial year are
 not less than fifty per cent of its net worth and whether it has
 incurred cash losses in such financial year and in the immediately
 preceding financial year;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(ix)
 whether the company has
 defaulted in repayment of dues to a financial institution or bank or
 debenture holders? If yes, the period and amount of default to be
 reported;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(x)
 whether the company has given
 any guarantee for loans taken by others from bank or financial
 institutions, the terms and conditions whereof are prejudicial to the
 interest of the company;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(xi)
 whether term loans were
 applied for the purpose for which the loans wereobtained;</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(xii)
 whether any fraud on or by
 the company has been noticed or reported during the year; If yes, the
 nature and the amount involved is to be indicated.</p>
 <p style="widows: 8; font-family: Arial;" align="justify"><b>4.
 Reasons to be stated for
 unfavourable or qualified answers.-&nbsp;</b>(1) Where, in
 the
 auditor's report, the answer to any of the questions referred to in
 paragraph 3 is unfavourable or qualified, the auditor's report shall
 also state the reasons for such unfavourable or qualified answer, as
 the case may be.</p>
 <p style="widows: 8; font-family: Arial;" align="justify">(2)
 Where the auditor is unable to
 express any opinion in answer to a particular question, his report
 shall indicate such fact together with the reasons why it is not
 possible for him to give an answer to such question.</p>
 <p style="widows: 2; font-family: Arial;" align="right"><br>
 <br>
 <br>
 </p>
 <p style="widows: 2; font-family: Arial;" align="right">[File.
 No.
 17/45/2015-CL-V]<br>
 <br>
 Amardeep Singh Bhatia<br>
 Joint Secretary to
 the Government of India</p>
 <p style="font-family: Arial;"><br>
 </p>
        
        
      </div>
  </ion-content>
</ion-view>


<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>


 </body>
 </html>-->
