
<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <p class="MsoNormal"
style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
align="center"><b><span
style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">MINISTRY
 OF
 CORPORATE AFFAIRS</span></b><span
style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: center; line-height: 15pt;"
 align="center"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">ORDER</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; text-align: right; line-height: 15pt;"
 align="right"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">New
 Delhi, the 6th June, 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: justify; line-height: 15pt;"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">S.O.
 1460(E).-</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">&nbsp;</span><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">In
 exercise of the
 powers conferredby sub-section (1) of Section 470 of the Companies
 Act,2013 (18
 of 2013), the Central Government hereby makesthe following Order,
 namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: justify; line-height: 15pt;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">1.
 (1) This Order may be called the Companies(Removal of Difficulties)
 Fourth Order, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: justify; line-height: 15pt;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">(2)
 It shall come into force from the date ofnotification in the
 Official Gazztte.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: justify; line-height: 15pt;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">2.</span><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">&nbsp;<b>Jurisdiction,
 powers,
 authority and functions ofCompany Law Board.-&nbsp;</b></span><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">Until
 a date is
 notified by the CentralGovernment under sub-section (1) of Section 434
 of
 theCompanies Act, 2013 (18 of 2013), the Company Law Boardconstituted
 in
 pursuance of sub-section (1) of Section 10Eof the Companies Act, 1956
 (1 of
 1956) shall exercise thejurisdiction, powers, authority and functions
 of the
 Tribunalunder sub-section (2) of Section 74 of the said Act.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 12pt; text-align: justify; line-height: 16.5pt;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p>&nbsp;</o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 11.25pt; text-align: right; line-height: 15pt;"
 align="right"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">[F.
 No. 1/8/2013-CL-V ]</span></b><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
 <br>
 </span></b><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">AMARDEEP
 SINGH BHATIA, Jt.Secy.</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
        
        
      </div>
  </ion-content>
</ion-view>



<!--<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>

 </body>
 </html> -->

