<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <p class="MsoNormal"
 style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: center; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
 align="center"><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">GOVERNMENT
 OF INDIA</span></b><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);"><br>
</span></b><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">MINISTRY
 OF CORPORATE AFFAIRS</span></b><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);"><br>
</span></b><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">ORDER</span></b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
<p class="MsoNormal"
 style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: right; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
 align="right"><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">New
 Delhi, the 4th September, 2014<o:p></o:p></span></p>
<p class="MsoNormal"
 style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">S.O.
 2226(E)&nbsp;</span></b><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">Whereas
 the
 Companies Act, 2013 (18 of 2013) (hereinafter referred to as the said
 Act)
 received the assent of the President on the 29th August, 2013 and
 section 143
 of the Act, which provides for the powers and duties of the auditors
 and
 auditing standards, came into force with effect from 1st April, 2014;<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">And
 whereas sub-sections (5) and (7) of section 139 of the said Act
 provide for power of the Comptroller and Auditor-General of India to
 appoint an 
 auditor duly qualified to be appointed as an auditor in a Government
 company or
 any other company owned or controlled, directly or indirectly, by the
 Central
 Government, or by any State Government or Governments, or partly by the
 Central
 Government and partly by one or more State Governments;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
   style="font-size: 9pt; color: rgb(51, 51, 51);">And
 whereas sub-section (5) of section 143 of the said Act which
 provides for power of the Comptroller and Auditor-General of India to
 conduct
 supplementary audit does not specifically cover companies 'owned or
 controlled,
 directly or indirectly, by the Central Government, or by any State
 Government
 or Governments, or partly by the Central Government and partly by one
 or more
 State Governments';<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">And
 whereas difficulties have arisen in implementation of the provisions
 of sub-section (5) of section 143 for companies referred to in
 sub-sections (5)
 and (7) of section 139 of the said Act;<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">Now,
 therefore, in exercise of the powers conferred by sub-section (1)
 of section 470 of the Companies Act, 2013 the Central Government hereby
 makes
 the following Order to remove the aforesaid difficulties, namely<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">1.
 Short title and commencement.-<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin: 0cm 0cm 11.25pt 36pt; background: white none repeat scroll 0% 50%; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">(1)
 This order may
 be called the Companies (Removal of Difficulties) Seventh Order, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin: 0cm 0cm 11.25pt 36pt; background: white none repeat scroll 0% 50%; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
 style="font-size: 9pt; color: rgb(51, 51, 51);">(2)
 It shall come
 into force on the date of its publication in the Official Gazette.<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">2.
 In section 143 of the Companies Act, 2013 in sub-section (5), for the
 portion beginning with the words " In the case of a Government company"
 and
 ending with the words "required to be audited and", the following shall
 be
 substituted, namely : -<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">"In
 the case of a Government company or any other company owned or
 controlled, directly or indirectly, by the Central Government, or by
 any State
 Government or Governments, or partly by the Central Government and
 partly by
 one or more State Governments, the Comptroller and Auditor-General of
 India
 shall appoint the auditor under sub-section (5) or sub-section (7) of
 section
 139 and direct such auditor the manner in which the accounts of the
 company are
 required to be audited and".<o:p></o:p></span></p>
 <p class="MsoNormal"
  style="margin-bottom: 0.0001pt; line-height: normal; font-family: Arial;"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);"><br
  style="">
 <br style="">
 </span><span
  style="font-size: 12pt;"><o:p></o:p></span></p>
 <p class="MsoNormal"
  style="background: white none repeat scroll 0% 50%; margin-bottom: 11.25pt; text-align: right; line-height: 15pt; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; font-family: Arial;"
  align="right"><span
  style="font-size: 9pt; color: rgb(51, 51, 51);">[F.No.
 1/33/2013-CL.V]<br>
 <br>
 Amardeep Singh Bhatia, Joint S</span></p>
        
        
      </div>
  </ion-content>
</ion-view>



<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>

 </body>
 </html>
-->
