
<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <p style="page-break-inside: avoid; widows: 4;" align="center"><font
  color="#333333"><font face="Arial, serif"><font
  style="font-size: 9pt;" size="2"><b>MINISTRY
 OF CORPORATE AFFAIRS</b></font></font></font></p>
 <p style="page-break-inside: avoid; widows: 4;" align="center"><font
  color="#333333"><font face="Arial, serif"><font
  style="font-size: 9pt;" size="2"><b>ORDER</b></font></font></font></p>
 <p style="page-break-inside: avoid; widows: 4;" align="center"><font
  color="#333333"><font face="Arial, serif"><font
  style="font-size: 9pt;" size="2">New
  Delhi, the 13th February, 2015</font></font></font></p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify"><font color="#333333"><font
  face="Arial, serif"><font style="font-size: 9pt;"
  size="2"><b>S.O.
  504(E)</b></font></font></font><font
  color="#333333"><font face="Arial, serif"><font
  style="font-size: 9pt;" size="2">&nbsp;</font></font></font><font
  color="#333333"><font face="Arial, serif"><font
  style="font-size: 9pt;" size="2">Whereas,
  the Companies Act, 2013 (18 of 2013) (hereinafter referred to as the
  said Act) received the assent of the President on the 29th August,
  2013;</font></font></font></p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify"><font color="#333333"><font
  face="Arial, serif"><font style="font-size: 9pt;"
  size="2">And
  whereas, clause (85) of section 2 of the said Act provides for
  definition of the term "small company";</font></font></font></p>
 <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
   face="Arial, serif"><font style="font-size: 9pt;"
  size="2">And
  whereas, clause (b) of sub-section (11) of section 186 of the said
  Act provides that the requirements of provisions of section 186
  [except sub-section (1) of the said section] shall not apply to any
  acquisition made by a non-banking financial company registered under
  Chapter IIIB of the Reserve Bank of India Act, 1934 (2 of 1934) and
  any other company whose principal business is acquisition of
  securities;</font></font></font></p>
 <p style="page-break-inside: avoid; widows: 8;"
  align="justify"><font color="#333333"><font
  face="Arial, serif"><font style="font-size: 9pt;"
  size="2">And
  whereas, such provisions of clause (85) of section 2 and section 186
  of the said Act had come into force on the 1st day of April, 2014;</font></font></font></p>
  <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
   face="Arial, serif"><font style="font-size: 9pt;"
  size="2">And
  whereas, the following difficulties have arisen in giving effect to
  the above provisions of the said Act: -</font></font></font></p>
 <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
  face="Arial, serif"><font style="font-size: 9pt;"
  size="2">(a)
  According to clause (85) of section 2, a company may be treated as a
  'small company' if it meets either of the conditions provided
  therein thereby making the second limit unrestricted or
  inconsequential. Difficulties have arisen in this regard as companies
  which, though, meet one of the criteria but exceed the monetary limit
  in respect of second criteria excessively are also getting classified
  as 'small companies'; and</font></font></font></p>
  <p style="page-break-inside: avoid; widows: 8;"
  align="justify"><font color="#333333"><font
  face="Arial, serif"><font style="font-size: 9pt;"
  size="2">(b)
  in clause (b) of sub-section (11) of section 186, in the absence of
  provisions for exemption to a banking company or an insurance company
  or a housing finance company making acquisition of securities in its
  ordinary course of business, a difficulty has arisen that such
  companies cannot make any acquisition of securities in their ordinary
  course of business;</font></font></font></p>
  <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
   face="Arial, serif"><font style="font-size: 9pt;"
   size="2">Now,
  therefore, in exercise of the powers conferred by sub-section (1) of
  section 470 of the Companies Act, 2013 (18 of 2013), the Central
  Government hereby makes the following Order to remove the aforesaid
  difficulties, namely:-</font></font></font></p>
  <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
   face="Arial, serif"><font style="font-size: 9pt;"
   size="2">(1)
  Short title and commencement.- (1) This Order may be called the
  Companies (Removal of Difficulties) Order, 2015.</font></font></font></p>
  <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
   face="Arial, serif"><font style="font-size: 9pt;"
  size="2">(2)
  It shall come into force on the date of its publication in the
  Official Gazette.</font></font></font></p>
  <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
   face="Arial, serif"><font style="font-size: 9pt;"
   size="2">2.
  In the Companies Act, 2013 (hereinafter referred to as the said Act),
  -</font></font></font></p>
  <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
   face="Arial, serif"><font style="font-size: 9pt;"
   size="2">(a)
  in section 2, in clause (85), in sub-clause (i), for the word "or"
  occurring at the end, the word "and" shall be substituted; and</font></font></font></p>
  <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
   face="Arial, serif"><font style="font-size: 9pt;"
   size="2">(b)
  in section 186 of the said Act, in sub-section (11), in clause (b),
  after item (iii), the following item shall be inserted, namely</font></font></font></p>
  <p style="page-break-inside: avoid; widows: 8;"
   align="justify"><font color="#333333"><font
   face="Arial, serif"><font style="font-size: 9pt;"
   size="2">(iv)
  made by a banking company or an insurance company or a housing
  finance company, making acquisition of securities in the ordinary 
 course of its business.".</font></font></font></p> 
  <p style="page-break-inside: avoid;"><font
  color="#333333"><font face="Arial, serif"><font
  style="font-size: 9pt;" size="2"><br>
 <br>
 </font></font></font><br>
 </p>
 <p style="page-break-inside: avoid; widows: 2;" align="right"><font
  color="#333333"><font face="Arial, serif"><font
  style="font-size: 9pt;" size="2">[F.
 No. 1/13/2013-CL.V-Part]<br>
 <br>
 <br>
  AMARDEEP SINGH BHATIA, Joint
  Secretary</font></font></font></p>
  <p><br>
  </p>
        
        
      </div>
  </ion-content>
</ion-view>



<!--<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title></title>
</head>
<body>
 
  </body>
 </html> -->
