<ion-view title="Companies Act 2013" >

    <ion-nav-buttons side="primary">
      <a class="button icon-left ion-chevron-left button-clear" side="left" href="#/orders">&nbsp;Back</a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
         <button class="button  button-clear no-animation icon icon-left ion-ios-search"></button>&nbsp;
         <button class="button  button-clear no-animation icon icon-right ion-ios-more" ng-click="show()"></button>
    </ion-nav-buttons>   
    
    
  <ion-content>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  
    <div ng-controller="finalctrl">
    
        <p class="MsoNormal"
style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
align="center"><b><span
style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">MINISTRY
 OF CORPORATE AFFAIRS</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: center; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
 align="center"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">ORDER</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 0.0001pt; text-align: right; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
 align="right"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">New
 Delhi, the 2nd June, 2014<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">S.O.
 1429(E).-</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">&nbsp;</span><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">In
 exercise of the powers conferred by sub-section (I) of Section 470 of
 the Companies Act,2013 (18 of 2013), the Central Government hereby
 makes the
 following Order, namely:-<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">1.
 (1) This Order may be called the Companies(Removal of Difficulties)
 Third Order, 2014.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">(2)
 It shall come into force at once.<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: justify; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">2.
 Jurisdiction, powers, authority and functions of Company Law Board.-
 Until the National Company Law Tribunal is constituted under section
 408 of the
 Companies Act, 2013 (18 of 2013), the Board of Company Law
 Administration
 constituted in pursuance of sub-section(1) of Section 10E of the
 Companies Act,
 1956 ( 1 of 1956)shall exercise the jurisdiction, powers, authority and
 functions under the first proviso to clause (41) of Section 2 of the
 Companies
 Act, 2013 (18 of 2013).<o:p></o:p></span></p>
 <p class="MsoNormal"
 style="margin-bottom: 0.0001pt; line-height: normal;"><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
 <br style="">
 <!--[if !supportLineBreakNewLine]--><br style="">
 <!--[endif]--></span><span
 style="font-size: 12pt; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;;"><o:p></o:p></span></p>
 <p class="MsoNormal"
 style="background: white none repeat scroll 0%; margin-bottom: 11.25pt; text-align: right; line-height: 15pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;"
 align="right"><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">[F.
 No.
 2/9/2014-CL-V]</span></b><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><br>
 <br>
 </span></b><b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);">AMARDEEP
 SINGH BHATIA, Jt.Se</span></b><span
 style="font-size: 9pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;; color: rgb(51, 51, 51);"><o:p></o:p></span></p>
 <p class="MsoNormal"><o:p>&nbsp;</o:p></p>
        
        
      </div>
  </ion-content>
</ion-view>



<!--
<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title></title>
</head>
<body>

 </body>
 </html>
-->

